#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT översättare"
    STRING_MIXER	"&Mixer"
    STRING_SETTINGS	"&Inställningar"
    STRING_START	"Start"
    STRING_STOP		"Sluta"
    STRING_EXIT		"Utgång"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Konfiguration laddad från drivrutinen"
    STRING_EDIT_MSG2	"Konfigurationen har laddats från filen"
    STRING_EDIT_MSG3	"Konfigurationen har skapats på nytt och måste fyllas i"
    STRING_EDIT_MSG4	"När du öppnade redigeraren angavs konfigurationsfilen: '{0}'. Spara den med samma namn?"
    STRING_EDIT_MSG5	"DMX-kanalnummer"

    STRING_NOTIFY_MSG1	"översättaren stoppas:"
    STRING_NOTIFY_MSG2	"översättaren arbetar:"

    STRING_AMIX_MSG1	"Ljudmixern är inte igång, kontrollera inställningarna, ljudpanelens start måste vara aktiverad."
    STRING_AMIX_MSG2	"MIDIMT - Ljudmixern körs inte:"
    STRING_AMIX_MSG3	"Ogiltigt händelse-ID. Starta om det här programmet."
    STRING_AMIX_MSG4	"MIDIMT - Kan inte slutföra operationen:"
    STRING_AMIX_MSG5	"Det gick inte att byta till gränssnittstråden, start av ljudpanelen avbröts."

    STRING_MAIN_MSG1	"Applikationsinitieringsfel, fortsättning är inte möjlig."
    STRING_MAIN_MSG2	"Kontrollera användarens behörighet att skriva filer i programkatalogen. Om felet kvarstår, försök att inaktivera loggning."
    STRING_MAIN_MSG3	"Autorun är inaktiverad i den allmänna konfigurationen."
    STRING_MAIN_MSG4	"Den valda konfigurationen stöder inte automatisk start."

    STRING_LOGV_MSG1	"Vänligen, innan du startar monitorn, starta översättaren från menyn genom att välja “Start”."
    STRING_LOGV_MSG2	"Alla inställningar '{0}', konfigurationsfilversion: {1}"
    STRING_LOGV_MSG3	"MIDI-inställningar"
    STRING_LOGV_MSG4	"Inställningar för smarta hem (MQTT)"
    STRING_LOGV_MSG5	"Inställningar för multimediatangentbord (MMKEYS)"
    STRING_LOGV_MSG6	"Inställningar för ljusstyrning ({0})"
    STRING_LOGV_MSG7	"Fjärrkontrollpanelinställningar (REMOTE)"

    STRING_CHKR_MSG1	"Vid start specificerades konfigurationsfilen: '{0}'. Vill du ställa in det som en konfiguration för efterföljande körningar?"
    STRING_CHKR_MSG2	"MIDI-MT-konfiguration"

    STRING_TMENU_MSG1	"Du måste installera Virtual MIDI-drivrutinen!"

    STRING_LANG_STATUS	"status:"
    STRING_LANG_YES	"Ja"
    STRING_LANG_NO	"Nej"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "ljudvolym (huvud)"
	IDM_COL4_MAP  "ljudbalans (grundläggande)"
	IDM_COL4_MAM  "tyst (huvud)"
	IDM_COL4_MAS  "ljud solo (huvud)"
	IDM_COL4_JOG  "JOG (spol tillbaka videoram)"
	IDM_COL4_AV1  "ljudvolym (kanal 1)"
	IDM_COL4_AV2  "ljudvolym (kanal 2)"
	IDM_COL4_AV3  "ljudvolym (kanal 3)"
	IDM_COL4_AV4  "ljudvolym (kanal 4)"
	IDM_COL4_AV5  "ljudvolym (kanal 5)"
	IDM_COL4_AV6  "ljudvolym (kanal 6)"
	IDM_COL4_AV7  "ljudvolym (kanal 7)"
	IDM_COL4_AV8  "ljudvolym (kanal 8)"
	IDM_COL4_XV9  "ljudvolym (kanal 9)"
	IDM_COL4_AP1  "ljudbalans (kanal 1)"
	IDM_COL4_AP2  "ljudbalans (kanal 2)"
	IDM_COL4_AP3  "ljudbalans (kanal 3)"
	IDM_COL4_AP4  "ljudbalans (kanal 4)"
	IDM_COL4_AP5  "ljudbalans (kanal 5)"
	IDM_COL4_AP6  "ljudbalans (kanal 6)"
	IDM_COL4_AP7  "ljudbalans (kanal 7)"
	IDM_COL4_AP8  "ljudbalans (kanal 8)"
	IDM_COL4_XP9  "ljudbalans (kanal 9)"
	IDM_COL4_B11  "ljudsolo (kanal 1)"
	IDM_COL4_B12  "ljudsolo (kanal 2)"
	IDM_COL4_B13  "ljudsolo (kanal 3)"
	IDM_COL4_B14  "ljudsolo (kanal 4)"
	IDM_COL4_B15  "ljudsolo (kanal 5)"
	IDM_COL4_B16  "ljudsolo (kanal 6)"
	IDM_COL4_B17  "ljudsolo (kanal 7)"
	IDM_COL4_B18  "ljudsolo (kanal 8)"
	IDM_COL4_B19  "ljudsolo (kanal 9)"
	IDM_COL4_B21  "tyst (kanal 1)"
	IDM_COL4_B22  "tyst (kanal 2)"
	IDM_COL4_B23  "tyst (kanal 3)"
	IDM_COL4_B24  "tyst (kanal 4)"
	IDM_COL4_B25  "tyst (kanal 5)"
	IDM_COL4_B26  "tyst (kanal 6)"
	IDM_COL4_B27  "tyst (kanal 7)"
	IDM_COL4_B28  "tyst (kanal 8)"
	IDM_COL4_B29  "tyst (kanal 9)"
	IDM_COL4_B31  "ljudval (kanal 1)"
	IDM_COL4_B32  "ljudval (kanal 2)"
	IDM_COL4_B33  "ljudval (kanal 3)"
	IDM_COL4_B34  "ljudval (kanal 4)"
	IDM_COL4_B35  "ljudval (kanal 5)"
	IDM_COL4_B36  "ljudval (kanal 6)"
	IDM_COL4_B37  "ljudval (kanal 7)"
	IDM_COL4_B38  "ljudval (kanal 8)"
	IDM_COL4_B39  "ljudval (kanal 9)"
	IDM_COL4_FUN11  "funktion F1 (standardläge)"
	IDM_COL4_FUN12  "funktion F2 (standardläge)"
	IDM_COL4_FUN13  "funktion F3 (standardläge)"
	IDM_COL4_FUN14  "funktion F4 (standardläge)"
	IDM_COL4_FUN15  "funktion F5 (standardläge)"
	IDM_COL4_FUN16  "funktion F6 (standardläge)"
	IDM_COL4_FUN17  "funktion F7 (standardläge)"
	IDM_COL4_FUN18  "funktion F8 (standardläge)"
	IDM_COL4_FUN21  "funktion F1 (hållet läge)"
	IDM_COL4_FUN22  "funktion F2 (hållet läge)"
	IDM_COL4_FUN23  "funktion F3 (hållet läge)"
	IDM_COL4_FUN24  "funktion F4 (hållet läge)"
	IDM_COL4_FUN25  "funktion F5 (hållet läge)"
	IDM_COL4_FUN26  "funktion F6 (hållet läge)"
	IDM_COL4_FUN27  "funktion F7 (hållet läge)"
	IDM_COL4_FUN28  "funktion F8 (hållet läge)"
	IDM_COL4_SYS_Rewind  "Spola tillbaka (spelare)"
	IDM_COL4_SYS_Forward  "Snabbspolning framåt (spelare)"
	IDM_COL4_SYS_Stop  "Stoppa (spelare)"
	IDM_COL4_SYS_Play  "Spela (spelare)"
	IDM_COL4_SYS_Record  "Inspelning (spelare)"
	IDM_COL4_SYS_Up    "Upp (joystick)"
	IDM_COL4_SYS_Down  "Ner (joystick)"
	IDM_COL4_SYS_Left  "Vänster (joystick)"
	IDM_COL4_SYS_Right  "Höger (joystick)"
	IDM_COL4_SYS_Zoom  "Öka"
	IDM_COL4_SYS_Scrub  "Skrubba"
	IDM_COL4_VOLUMEMIX "Mixerkontroll"
	IDM_COL4_MEDIAKEY "Multimediaknappar"
        IDM_COL4_MQTTKEY  "Hantering av smarta hem"
        IDM_COL4_LIGHTKEY8B "Ljuskontroll (8 bitar)"
        IDM_COL4_LIGHTKEY16B "Ljuskontroll (16 bitar)"
	IDM_COL4_NONE  "åtgärd inte definierad"
	IDM_COL4_MQTT_AV1		"nivå 1"
	IDM_COL4_MQTT_AV2		"nivå 2"
	IDM_COL4_MQTT_AV3		"Nivå 3"
	IDM_COL4_MQTT_AV4		"nivå 4"
	IDM_COL4_MQTT_AV5		"nivå 5"
	IDM_COL4_MQTT_AV6		"nivå 6"
	IDM_COL4_MQTT_AV7		"nivå 7"
	IDM_COL4_MQTT_AV8		"nivå 8"
	IDM_COL4_MQTT_XV9		"nivå 9"
	IDM_COL4_MQTT_AP1		"nivå 10"
	IDM_COL4_MQTT_AP2		"nivå 11"
	IDM_COL4_MQTT_AP3		"nivå 12"
	IDM_COL4_MQTT_AP4		"nivå 13"
	IDM_COL4_MQTT_AP5		"nivå 14"
	IDM_COL4_MQTT_AP6		"nivå 15"
	IDM_COL4_MQTT_AP7		"nivå 16"
	IDM_COL4_MQTT_AP8		"nivå 17"
	IDM_COL4_MQTT_XP9		"nivå 18"
	IDM_COL4_MQTT_B11		"på/av 1"
	IDM_COL4_MQTT_B12		"på/av 2"
	IDM_COL4_MQTT_B13		"på/av 3"
	IDM_COL4_MQTT_B14		"på/av 4"
	IDM_COL4_MQTT_B15		"på/av 5"
	IDM_COL4_MQTT_B16		"på/av 6"
	IDM_COL4_MQTT_B17		"på/av 7"
	IDM_COL4_MQTT_B18		"på/av 8"
	IDM_COL4_MQTT_B19		"på/av 9"
	IDM_COL4_MQTT_B21		"på/av 10"
	IDM_COL4_MQTT_B22		"på/av 11"
	IDM_COL4_MQTT_B23		"på/av 12"
	IDM_COL4_MQTT_B24		"på/av 13"
	IDM_COL4_MQTT_B25		"på/av 14"
	IDM_COL4_MQTT_B26		"på/av 15"
	IDM_COL4_MQTT_B27		"på/av 16"
	IDM_COL4_MQTT_B28		"på/av 17"
	IDM_COL4_MQTT_B29		"på/av 18"
	IDM_COL4_MQTT_B31		"på/av 19"
	IDM_COL4_MQTT_B32		"på/av 20"
	IDM_COL4_MQTT_B33		"på/av 21"
	IDM_COL4_MQTT_B34		"på/av 22"
	IDM_COL4_MQTT_B35		"på/av 23"
	IDM_COL4_MQTT_B36		"på/av 24"
	IDM_COL4_MQTT_B37		"på/av 25"
	IDM_COL4_MQTT_B38		"på/av 26"
	IDM_COL4_MQTT_B39		"på/av 27"
	IDM_COL4_MQTT_NONE		"Inte tilldelats"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"OK"
	IDS_ERRORID_EMPTY			"[Konfigurationen är tom..]"
	IDS_ERRORID_UNDEFINED			"Detta fel är odefinierat"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Skrivåtkomst till konfigurationsfilen nekas, '{0}'"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Konfigurationsfil saknas eller åtkomst nekad, '{0}'"
	IDS_ERRORID_JSONCONF_EMPTY		"Konfigurationsfilen är tom, '{0}'"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"MIDI-enhetsnamnet är inte konfigurerat."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"Det finns inga MIDI-nycklar konfigurerade i denna konfiguration."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Observera, denna konfiguration har inte MIDI-nycklar konfigurerade! den inspelade konfigurationen kommer inte att fungera."
	IDS_ERRORID_INIT_COINITIALIZE		"Co*Initialize-initiering misslyckades."
	IDS_ERRORID_INIT_COCREATE		"Co*Create - det gick inte att skapa en instans."
	IDS_ERRORID_INIT_DEFAULT_AE		"Det gick inte att hämta standardljudenhet."
	IDS_ERRORID_INIT_AS_MANAGER2		"Audio Session Manager kraschade."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Ljudtoppsmätare är inte tillgänglig."
	IDS_ERRORID_MIXER_STARTOK		"Ljudsessionsmixern är igång, vid starttidpunkten finns det {0} program som körs tillgängliga för reglering."
	IDS_ERRORID_MIXER_STARTERROR		"Ljudsessionsmixern kunde inte startas, felinformation bör finnas i loggfilen."
	IDS_ERRORID_MIXER_STOPOK		"Ljudsessionsmixern har stoppats."
	IDS_ERRORID_MIXER_STOPERROR		"Ljudsessionsmixern stoppades inte korrekt, felinformation bör finnas i loggfilen."
	IDS_ERRORID_NO_INIT			"Initiera innan du ringer detta.."
	IDS_ERRORID_SESSION_LIST		"Det gick inte att hämta listan över ljudsessioner."
	IDS_ERRORID_LISTISNULL			"Listan över ljudsessioner är tom!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Inaktiverar ljudsession, reason='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Ljudsession skapad, name='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Ljudsession '{0}' - dålig registreringstillstånd '{1}': {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"Värdet som ställs in från återuppringningen är en ogiltig väljare."
	IDS_ERRORID_SET_CB_WARNING		"Att ställa in ett återuppringning är endast möjligt efter att MIDI-bryggan har startats."
	IDS_ERRORID_CONFIG_FAIL			"Konfigurationsladdning misslyckades, filen hittades inte, start omöjlig."
	IDS_ERRORID_CONFIG_LOAD			"Konfigurationen har laddats.."
	IDS_ERRORID_CONFIG_LOADA		"Konfigurationen har redan laddats.."
	IDS_ERRORID_CONFIG_EMPTY		"Konfigurationen är tom.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"Konfigurationen för modul {0} är tom."
	IDS_ERRORID_CONFIG_NEW			"Ny konfigurationsversion upptäckt.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Implementering som inte stöds i kod, metod har inte åsidosatts: {0}"
	IDS_ERRORID_NOT_CONFIG			"Konfigurationsnamnet är inte specificerat och kan inte fortsätta."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Enheterna är inte anslutna och kan inte fortsätta."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Observera, antalet enheter i den slutliga listan stämmer inte överens, system/lista = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Kan inte öppna MIDI-enhet, kan inte fortsätta, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Kan inte starta MIDI-enhet, kan inte fortsätta, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Enhet inte ansluten, avbryt, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Enhet {0} hittades, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Enhet {0} öppen, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Enhet {0} stängd (system)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Enhet {0} redo (system)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Namnet på den aktiva enheten är inte specificerat, fortsättning är omöjlig, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Proxyportar är inte specificerade i konfigurationen, MIDI-proxy är inaktiverad."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Drivrutinsversion [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Problem med drivrutinsversionen [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Enheten {0} skickade ogiltigt värde = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"Den virtuella MIDI-drivrutinen är inte installerad. Du måste installera loopMidi-paketet, eller ladda ner hela installationsprogrammet och installera om MIDI-MT. Mer information: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Den installerade virtuella MIDI-drivrutinen hittades inte! Du måste installera Virtual Loop MIDI-paketet för att köra MIDI-MT-översättaren."
	IDS_ERRORID_MIDI_PROXY_PORTS		"Vid uppstart kommer {0} proxy-MIDI-portar att skapas."
	IDS_ERRORID_MIDI_PROXY_OFF		"Proxy MIDI-portar är inaktiverade."
	IDS_ERRORID_MIDI_OUT_PORTS		"Vid start skapas {0} MIDI-utgångsportar."
	IDS_ERRORID_MIDI_OUT_OFF		"MIDI-utgångsportar är inaktiverade."
	IDS_ERRORID_MMKEY_START			"Tjänsten Media Key Management körs."
	IDS_ERRORID_MMKEY_STOP			"Tjänsten Media Key Management har stoppats."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"MQTT-konfigurationen är tom och kan inte fortsätta."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Det gick inte att skapa MQTT-klient, avbryter."
	IDS_ERRORID_MQTT_CLIENT_OK		"MMQTT-klienten har skapats framgångsrikt, fortsätt..."
	IDS_ERRORID_MQTT_CONNECTED		"Ansluten till MQTT-server:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Det gick inte att ansluta till MQTT-servern:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Frånkopplad från MQTT-server:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"CA-certifikatfilen finns inte, sökväg = '{0}'"
	IDS_ERRORID_MQTT_START			"Tjänsten Smart Home Control har lanserats."
	IDS_ERRORID_MQTT_STOP			"Tjänsten Smart Home Control har stoppats."
	IDS_ERRORID_MQTT_CA_FILTER		"CA-certifikat"
	IDS_ERRORID_LOG_LEVEL_NONE		"ingen logg förs"
	IDS_ERRORID_LOG_LEVEL_INFO		"information"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"meddelanden"
	IDS_ERRORID_LOG_LEVEL_WARNING		"varningar"
	IDS_ERRORID_LOG_LEVEL_ERR		"bara fel"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"alla meddelanden"
	IDS_ERRORID_PANEL_INDEX			"Audio Mixer Panel - Kan inte fortsätta, indexobjekt är felaktiga."
	IDS_ERRORID_PANEL_INIT			"Ljudmixerpanel - kan inte fortsätta, initieringsfel."
	IDS_ERRORID_PANEL_ENABLE		"Ljudmixerpanelens fönster har inte korrekt status och nästa operation kan inte fortsätta."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Ljudmixerpanelen anropas inte på en gränssnittstråd och ändringar kan inte göras."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Ljudmixerpanelen upptäckte ett ogiltigt element och skapandet av panelfönstret avbröts."
	IDS_ERRORID_LIGHT_DMX_START		"DMX-ljusstyrningstjänsten startas med COM{0} - {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"DMX-ljusstyrningstjänsten körs inte, COM{0}-enheten är inte ansluten.."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"DMX-ljusstyrningstjänsten körs inte och tjänstekonfigurationen är inte ifylld."
	IDS_ERRORID_LIGHT_DMX_STOP		"DMX-ljusstyrningstjänsten har upphört."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Inga lämpliga enheter tillgängliga"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Välj DMX-enhet"
	IDS_ERRORID_LIGHT_ARTNET_START		"ArtNet Lighting Control Service körs med sändningsadressen {0}:{1} på nätverket {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"ArtNets ljusstyrningstjänst körs inte, nätverket {0} hittades inte.."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"ArtNets ljusstyrningstjänst är inte igång, tjänstekonfigurationen är inte ifylld."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"ArtNets ljusstyrningstjänst har upphört."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Inga lämpliga gränssnitt tillgängliga"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Välj ARTNET-gränssnitt"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Initieringsfel för plugin, det går inte att konvertera CLSID/GUID från angiven sträng."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Det gick inte att initiera plugins, inga kompatibla plugins hittades."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Det gick inte att läsa in plugins, förinitialiserade {0}, 0 plugins laddade."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Plugins har initierats framgångsrikt, förinitiering {0}, {1} plugins har laddats."
	IDS_ERRORID_BRIDGE_OK_START		"Bryggan har startat framgångsrikt, {0} initierad, {1} laddad, {2} plugins körs."
	IDS_ERRORID_BRIDGE_NOT_START		"Det gick inte att starta bryggan, fel vid start av plugins, {0} initierad, {1} plugins laddade."
	IDS_ERRORID_BRIDGE_OK_STOP		"Bryggan har stoppats, {0} initierats, {1} lästes in, {2} startade, {3} plugins stoppades."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Det gick inte att stoppa bryggan, fel när plugins stoppades, {0} initierades, {1} lästes in, {2} plugins körs."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Insticksprogram är redan laddade, vänligen återställ innan du startar om."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"Bron är redan sjösatt."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"Bron har redan stannat."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Det gick inte att öppna plugin-modulen. Modulen saknas eller är skadad, DLL:n laddades inte och returnerades null."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"Modulen är inte en MIDI-MT-plugin och de nödvändiga ingångspunkterna saknas."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Enabled={0}, settings={1}, running={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Konfiguration uppdaterad: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Inga moduler hittades, start omöjlig."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Vänligen redigera konfigurationen innan du börjar."
	IDS_ERRORID_MIDIMT_CONFFILTER		"Konfigurationsfilen"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Konfiguration laddad från fil: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Konfiguration laddad från drivrutinen"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"Det valda {0}-språket kommer att vara aktivt efter att fönstret har startat om."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Installerad version av virtuell MIDI-drivrutin: {0}"
	IDS_ERRORID_REMOTE_START		"Fjärrkontrolltjänsten har startat."
	IDS_ERRORID_REMOTE_STOP			"Fjärrkontrolltjänsten har stoppats."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Ny klient {0}/{1} är ansluten."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Klientfel {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Klient {0}/{1} frånkopplad, status: {2} - {3}."
	IDS_ERRORID_COPY_LINK			"Länken har kopierats till urklipp."
	IDS_ERRORID_NET_IFACE_NONE		"Inga nätverksgränssnitt"
	IDS_ERRORID_NET_IFACE_SELECT		"Välj nätverksgränssnitt"
	IDS_ERRORID_NONE			"-"
END
