#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Senaste filerna:"
	STR_RB_TABHOMEL			"Redigering"
	STR_RB_TABFILTERL		"Filter"
	STR_RB_PANEL_EDITMAINL		"redigera MIDI-nyckeln"
	STR_RB_PANEL_EDITSETL		"MIDI-nyckelgrupp"
	STR_RB_PANEL_EDITOPTL		"redigeringsalternativ"
	STR_RB_PANEL_FILTERL		"urval av visningsfilter"
	STR_RB_PANEL_SORTL		"sortering"
	STR_RB_MENUL			"&Meny"
	STR_RB_MENUT			"Applikationsmeny"
	STR_RB_PANEL_QATL		"&Snabb åtkomst"
	STR_RB_PANEL_QATT		"Snabbåtkomstverktygsfält"
	STR_RB_DIALOG_SAVEL		"&Spara"
	STR_RB_DIALOG_SAVET		"Spara och tillämpa"
	STR_RB_DIALOG_SAVED		"Spara till den tidigare nedladdade filen och uppdatera den aktuella konfigurationen."
	STR_RB_DIALOG_EXPORTL		"&Exportera"
	STR_RB_DIALOG_EXPORTT		"Exportera till en ny fil"
	STR_RB_DIALOG_EXPORTD		"Exportera den redigerade konfigurationen till en ny fil."
	STR_RB_DIALOG_IMPORTL		"&Importera"
	STR_RB_DIALOG_IMPORTT		"Importera från fil"
	STR_RB_DIALOG_IMPORTD		"Importera konfiguration från fil."
	STR_RB_DIALOG_EXITL		"&Utgång"
	STR_RB_DIALOG_EXITT		"Avsluta redigeraren"
	STR_RB_DIALOG_EXITD		"Avsluter MIDI Key Configuration Editor; om ändringar inte sparas kommer de att gå förlorade."
	STR_RB_LV_NEWL			"&Ny MIDI-nyckel"
	STR_RB_LV_NEWT			"Ny MIDI-nyckel"
	STR_RB_LV_NEWD			"Skapa en ny MIDI-nyckel."
	STR_RB_LV_COPYL			"&Kopiera"
	STR_RB_LV_COPYT			"Kopiera MIDI-nyckeln"
	STR_RB_LV_COPYD			"Kopiera den valda MIDI-tangenten."
	STR_RB_LV_PASTEL		"&Föra in"
	STR_RB_LV_PASTET		"Sätt i nyckel"
	STR_RB_LV_PASTED		"Klistra in den kopierade MIDI-nyckeln."
	STR_RB_LV_DELETEL		"&Radera"
	STR_RB_LV_DELETET		"Ta bort nyckel"
	STR_RB_LV_DELETED		"Radera den valda MIDI-tangenten."
	STR_RB_LV_SET_MQTTL		"Smart hus"
	STR_RB_LV_SET_MQTTT		"Ställ in gruppen som “Smart Home”."
	STR_RB_LV_SET_MQTTD		"Tilldela den valda MIDI-nyckeln till gruppen “Smart Home”."
	STR_RB_LV_SET_MMKEYL		"Multimediaknappar"
	STR_RB_LV_SET_MMKEYT		"Ställ in gruppen som “Multimediaknappar”"
	STR_RB_LV_SET_MMKEYD		"Tilldela den valda MIDI-nyckeln till gruppen “Multimedia Buttons”."
	STR_RB_LV_SET_MIXERL		"Ljudmixer"
	STR_RB_LV_SET_MIXERT		"Ställ in grupp som “Audio Mixer”"
	STR_RB_LV_SET_MIXERD		"Tilldela den valda MIDI-tangenten till gruppen “Audio Mixer”."
	STR_RB_LV_READ_MIDI_CODEL	"Läs MIDI-koden"
	STR_RB_LV_READ_MIDI_CODET	"Läs MIDI-kontrollkoden"
	STR_RB_LV_READ_MIDI_CODED	"Läs MIDI-kod från en kontrollyta eller MIDI-keyboard."
	STR_RB_LV_EDIT_MODEL		"Endast digital ingång"
	STR_RB_LV_EDIT_MODET		"Använd endast digital ingång"
	STR_RB_LV_EDIT_MODED		"Använd inte värdevalsmenyn, använd endast digital ingång."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI kontrollpanel"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Rekommenderade inställningar"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Rekommenderade MIDI-kontrollpanelinställningar kompatibla med Adobe Premiere Pro-kontroller."
	STR_RB_LV_FILTER_EMBEDL		"Inbyggda filter"
	STR_RB_LV_FILTER_KEYL		"Nyckel"
	STR_RB_LV_FILTER_KEYT		"Filtrera efter MIDI-nyckel"
	STR_RB_LV_FILTER_KEYD		"Visa endast matchningar inom en MIDI-nyckelgrupp."
	STR_RB_LV_FILTER_SCENEL		"Scen"
	STR_RB_LV_FILTER_SCENET		"Filtrera efter MIDI-scen"
	STR_RB_LV_FILTER_SCENED		"Visa endast matchningar i MIDI-scengruppen."
	STR_RB_LV_FILTER_TARGETL	"Syfte 1"
	STR_RB_LV_FILTER_TARGETT	"Filtrera efter destination 1"
	STR_RB_LV_FILTER_TARGETD	"Visa endast matchningar i målgrupp 1."
	STR_RB_LV_FILTER_TARGETLONGL	"Syfte 2"
	STR_RB_LV_FILTER_TARGETLONGT	"Filtrera efter destination 2"
	STR_RB_LV_FILTER_TARGETLONGD	"Visa endast matchningar i målgrupp 2."
	STR_RB_LV_FILTER_CLEARL		"Rensa filter"
	STR_RB_LV_FILTER_CLEART		"Rengöring av filter"
	STR_RB_LV_FILTER_CLEARD		"Rensa filtren helt, alla poster kommer att visas."
	STR_RB_LV_FILTER_SETL		"Ställ in filter"
	STR_RB_LV_FILTER_SETT		"Filterinstallation"
	STR_RB_LV_FILTER_SETD		"Om du ställer in filtret visas alla ogiltiga objekt."
	STR_RB_LV_FILTER_ONL		"Använd filter"
	STR_RB_LV_FILTER_ONT		"Använda ett filter"
	STR_RB_LV_FILTER_OND		"Genom att använda ett filter visas de valda objekten."
	STR_RB_LV_FILTER_OFFL		"Avbryt filter"
	STR_RB_LV_FILTER_OFFT		"Avbryt filter"
	STR_RB_LV_FILTER_OFFD		"Om du avbryter filtret visas alla objekt."
	STR_RB_LV_FILTER_MMKEYL		"Visa “Multimediaknappar”"
	STR_RB_LV_FILTER_MMKEYT		"Filtrera efter grupp “Multimediaknappar”."
	STR_RB_LV_FILTER_MMKEYD		"Om du använder ett filter visas medlemmarna i gruppen Multimediaknappar."
	STR_RB_LV_FILTER_MIXERL		"Visa “Audio Mixer”"
	STR_RB_LV_FILTER_MIXERT		"Filtrera efter “Audio Mixer”-grupp"
	STR_RB_LV_FILTER_MIXERD		"Om du använder ett filter visas medlemmarna i Audio Mixer-gruppen."
	STR_RB_LV_FILTER_MQTTL		"Visa “Smart Home”"
	STR_RB_LV_FILTER_MQTTT		"Filtrera efter “Smart Home”-grupp"
	STR_RB_LV_FILTER_MQTTD		"Om du använder ett filter visas medlemmarna i Smart Home-gruppen."
	STR_RB_LV_FILTER_LIGHT8L	"Visa “Lighting 8 bit”"
	STR_RB_LV_FILTER_LIGHT8T	"Filtrera efter grupp “Lighting 8 bit”"
	STR_RB_LV_FILTER_LIGHT8D	"Om du använder filtret visas medlemmarna i belysningsgruppen med 8-bitars kanaler."
	STR_RB_LV_FILTER_LIGHT16L	"Visa “16 bitars belysning”"
	STR_RB_LV_FILTER_LIGHT16T	"Filtrera efter “16-bitars belysning”-grupp"
	STR_RB_LV_FILTER_LIGHT16D	"Om du använder filtret visas medlemmarna i belysningsgruppen med 16-bitars kanaler."
	STR_RB_LV_FILTER_SCRIPTL	"Visa “skript”"
	STR_RB_LV_FILTER_SCRIPTT	"Filtrera efter ChaiScript-gruppen “Scripts”."
	STR_RB_LV_FILTER_SCRIPTD	"Om du använder ett filter visas medlemmarna i gruppen Skript."
	STR_RB_LV_FILTER_TYPEBTNL	"Filtertyp"
	STR_RB_LV_FILTER_TYPEBTNT	"Ställa in vilken typ av filter som ska tillämpas"
	STR_RB_LV_FILTER_TYPEBTND	"De typer av filter som används har två logiska tillstånd: “OCH”, “ELLER”."
	STR_RB_LV_FILTER_TYPEGRPL	"Välja en filtertyp"
	STR_RB_LV_FILTER_TYPEORL	"Visa eventuella matchningar"
	STR_RB_LV_FILTER_TYPEORT	"Visa bidrag med valfri matchning"
	STR_RB_LV_FILTER_TYPEORD       	"Filtret har ett logiskt OCH-tillstånd och visar eventuella matchningar."
	STR_RB_LV_FILTER_TYPEANDL	"Visa endast fullständiga matchningar"
	STR_RB_LV_FILTER_TYPEANDT	"Visa endast poster med exakta matchningar"
	STR_RB_LV_FILTER_TYPEANDD	"Filtret har ett logiskt ELLER-tillstånd och visar endast fullständiga matchningar."
	STR_RB_LV_FILTER_AUTOCOMMITL	"Automatisk sändning av data i filtret"
	STR_RB_LV_FILTER_AUTOCOMMITT	"Automatisk sändning av inmatade värden i filtret"
	STR_RB_LV_FILTER_AUTOCOMMITD	"Skickar automatiskt in ingångsvärden i ett inbyggt filter."
	STR_RB_LV_EXT_MODEL		"Visa sortering"
	STR_RB_LV_SORTUP_KEYL		"med nyckel"
	STR_RB_LV_SORTUP_KEYT		"Sortera efter stigande och MIDI-nyckel."
	STR_RB_LV_SORTUP_SCENEL		"runt scenen"
	STR_RB_LV_SORTUP_SCENET		"Sortering efter stigande och MIDI-scen."
	STR_RB_LV_SORTUP_TARGETL	"efter överenskommelse 1"
	STR_RB_LV_SORTUP_TARGETT	"Sortera efter stigande och MIDI-destination 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"efter överenskommelse 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Sortering efter stigande och MIDI-destination 2."
	STR_RB_LV_SORTDOWN_KEYT		"Sortera efter fallande och MIDI-nyckel."
	STR_RB_LV_SORTDOWN_SCENET	"Sortering efter fallande ordning och MIDI-scen."
	STR_RB_LV_SORTDOWN_TARGETT	"Sortera efter fallande ordning och MIDI-destination 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Sortering efter fallande ordning och MIDI-destination 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Exportera till MQTT"
	STR_RB_DIALOG_EXPORTMQTTT	"Exportera MQTT-konfiguration"
	STR_RB_DIALOG_EXPORTMQTTD	"Exportera DMX512/ARTNET-konfiguration till en ny fil."
	STR_RB_PANEL_EDITUTILL		"Verktyg"
	STR_RB_LV_SET_BUTTONL		"Tilldela MIDI-nyckel"
	STR_RB_LV_SET_BUTTONT		"Tilldela vald MIDI-nyckel"
	STR_RB_LV_SET_BUTTOND		"Definiera den valda MIDI-nyckeln som medlem i gruppen."
	STR_RB_LV_SET_LIGHT8L		"Belysning 8 bitar"
	STR_RB_LV_SET_LIGHT8T		"Ställ in grupp som “Lighting 8 bit”"
	STR_RB_LV_SET_LIGHT8D		"Tilldela den valda MIDI-nyckeln till gruppen “Lighting 8 Bit”."
	STR_RB_LV_SET_LIGHT16L		"Belysning 16 bitar"
	STR_RB_LV_SET_LIGHT16T		"Ställ in grupp som “Lighting 16 bit”"
	STR_RB_LV_SET_LIGHT16D		"Tilldela den valda MIDI-nyckeln till gruppen “Lighting 16-bit”."
	STR_RB_LV_SET_SCRIPTL		"Scenarier"
	STR_RB_LV_SET_SCRIPTT		"Ställ in grupp som “Scripts”"
	STR_RB_LV_SET_SCRIPTD		"Tilldela den valda MIDI-nyckeln till gruppen “Scripts”."
	STR_RB_DIALOG_SHOWDUPL		"Visa dubbletter"
	STR_RB_DIALOG_SHOWDUPT		"Hitta dubbletter av MIDI-nycklar"
	STR_RB_DIALOG_SHOWDUPD		"Sök efter dubbletter av MIDI-nycklar; om de finns kan oväntat beteende inträffa."

	STR_RB_DIALOG_DELDUPL		"Ta bort dubbletter"
	STR_RB_DIALOG_DELDUPT		"Ta bort eventuella dubbletter av MIDI-nycklar"
	STR_RB_DIALOG_DELDUPD		"Att hitta och ta bort dubbletter av MIDI-nycklar, om det finns dubbletter, kanske inte fungerar som förväntat."
END
