#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_ZULU, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"I-MIDIMT"
    STRING_APP_TITLE	"Umhumushi we-MIDI-MT"
    STRING_MIXER	"&Isididiyeli"
    STRING_SETTINGS	"&Izilungiselelo"
    STRING_START	"Qala"
    STRING_STOP		"Ima"
    STRING_EXIT		"Phuma"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Ukucushwa kulayishwe kumshayeli"
    STRING_EDIT_MSG2	"Ukucushwa kulayishwe kufayela"
    STRING_EDIT_MSG3	"Ukucushwa kudalwe kabusha futhi kudinga ukugcwalisa"
    STRING_EDIT_MSG4	"Lapho uvula umhleli, ifayela lokumisa lashiwo: '{0}'. Ilondoloze ngegama elifanayo?"
    STRING_EDIT_MSG5	"Inombolo yesiteshi se-DMX"

    STRING_NOTIFY_MSG1	"umhumushi umisiwe:"
    STRING_NOTIFY_MSG2	"umhumushi usebenza:"

    STRING_AMIX_MSG1	"Isihlanganisi somsindo asisebenzi, hlola izilungiselelo, ukuqaliswa kwephaneli yomsindo kufanele kuvulwe."
    STRING_AMIX_MSG2	"I-MIDIMT - Isihlanganisi somsindo asisebenzi:"
    STRING_AMIX_MSG3	"I-ID yomcimbi engavumelekile. Sicela uqale kabusha lolu hlelo lokusebenza."
    STRING_AMIX_MSG4	"I-MIDIMT - Ayikwazi ukuqedela umsebenzi:"
    STRING_AMIX_MSG5	"Yehlulekile ukushintshela kuchungechunge lwe-UI, ukuqaliswa kwephaneli yomsindo kunqanyuliwe."

    STRING_MAIN_MSG1	"Iphutha lokuqalisa uhlelo lokusebenza, ukuqhubeka akwenzeki."
    STRING_MAIN_MSG2	"Hlola izimvume zomsebenzisi zokubhala amafayela kuhla lwemibhalo lohlelo lokusebenza. Uma iphutha liqhubeka, zama ukukhubaza ukungena."
    STRING_MAIN_MSG3	"I-Autorun ivaliwe ekucushweni okuvamile."
    STRING_MAIN_MSG4	"Ukucushwa okukhethiwe akusekeli ukuqala okuzenzakalelayo."

    STRING_LOGV_MSG1	"Sicela, ngaphambi kokuqala ukuqapha, qala umhumushi kumenyu ngokukhetha u-'Qala'."
    STRING_LOGV_MSG2	"Zonke izilungiselelo '{0}', inguqulo yefayela lokumisa: {1}"
    STRING_LOGV_MSG3	"Izilungiselelo ze-MIDI"
    STRING_LOGV_MSG4	"Izilungiselelo Zekhaya Elihlakaniphile (MQTT)"
    STRING_LOGV_MSG5	"Izilungiselelo zekhibhodi ye-Multimedia (MMKEYS)"
    STRING_LOGV_MSG6	"Izilungiselelo zokulawula ukukhanya ({0})"
    STRING_LOGV_MSG7	"Izilungiselelo zephaneli yesilawuli kude (REMOTE)"

    STRING_CHKR_MSG1	"Ekuqaleni, ifayela lokumisa lashiwo: '{0}'. Isethe njengokucushwa kokugijima okulandelayo?"
    STRING_CHKR_MSG2	"Ukucushwa kwe-MIDI-MT"

    STRING_TMENU_MSG1	"Udinga ukufaka umshayeli we-Virtual MIDI!"

    STRING_LANG_STATUS	"isimo:"
    STRING_LANG_YES	"Yebo"
    STRING_LANG_NO	"Cha"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "ivolumu yomsindo (eyinhloko)"
	IDM_COL4_MAP  "ibhalansi yomsindo (okuyisisekelo)"
	IDM_COL4_MAM  "yisimungulu (okuyinhloko)"
	IDM_COL4_MAS  "okulalelwayo okukodwa (okuyinhloko)"
	IDM_COL4_JOG  "I-JOG (hlehlisa uhlaka lwevidiyo)"
	IDM_COL4_AV1  "ivolumu yomsindo (isiteshi 1)"
	IDM_COL4_AV2  "ivolumu yomsindo (isiteshi 2)"
	IDM_COL4_AV3  "ivolumu yomsindo (isiteshi 3)"
	IDM_COL4_AV4  "ivolumu yomsindo (isiteshi 4)"
	IDM_COL4_AV5  "ivolumu yomsindo (isiteshi 5)"
	IDM_COL4_AV6  "ivolumu yomsindo (isiteshi 6)"
	IDM_COL4_AV7  "ivolumu yomsindo (isiteshi 7)"
	IDM_COL4_AV8  "ivolumu yomsindo (isiteshi 8)"
	IDM_COL4_XV9  "ivolumu yomsindo (isiteshi 9)"
	IDM_COL4_AP1  "ibhalansi yomsindo (isiteshi 1)"
	IDM_COL4_AP2  "ibhalansi yomsindo (isiteshi 2)"
	IDM_COL4_AP3  "ibhalansi yomsindo (isiteshi 3)"
	IDM_COL4_AP4  "ibhalansi yomsindo (isiteshi 4)"
	IDM_COL4_AP5  "ibhalansi yomsindo (isiteshi 5)"
	IDM_COL4_AP6  "ibhalansi yomsindo (isiteshi 6)"
	IDM_COL4_AP7  "ibhalansi yomsindo (isiteshi 7)"
	IDM_COL4_AP8  "ibhalansi yomsindo (isiteshi 8)"
	IDM_COL4_XP9  "ibhalansi yomsindo (isiteshi 9)"
	IDM_COL4_B11  "Umsindo oyedwa (isiteshi 1)"
	IDM_COL4_B12  "okulalelwayo okukodwa (isiteshi 2)"
	IDM_COL4_B13  "okulalelwayo okukodwa (isiteshi 3)"
	IDM_COL4_B14  "okulalelwayo okukodwa (isiteshi 4)"
	IDM_COL4_B15  "okulalelwayo okukodwa (isiteshi 5)"
	IDM_COL4_B16  "okulalelwayo okukodwa (isiteshi 6)"
	IDM_COL4_B17  "okulalelwayo okukodwa (isiteshi 7)"
	IDM_COL4_B18  "okulalelwayo okukodwa (isiteshi 8)"
	IDM_COL4_B19  "okulalelwayo okukodwa (isiteshi 9)"
	IDM_COL4_B21  "yisimungulu (isiteshi 1)"
	IDM_COL4_B22  "yisimungulu (isiteshi 2)"
	IDM_COL4_B23  "yisimungulu (isiteshi 3)"
	IDM_COL4_B24  "yisimungulu (isiteshi 4)"
	IDM_COL4_B25  "yisimungulu (isiteshi 5)"
	IDM_COL4_B26  "yisimungulu (isiteshi 6)"
	IDM_COL4_B27  "yisimungulu (isiteshi 7)"
	IDM_COL4_B28  "yisimungulu (isiteshi 8)"
	IDM_COL4_B29  "yisimungulu (isiteshi 9)"
	IDM_COL4_B31  "ukukhetha komsindo (isiteshi 1)"
	IDM_COL4_B32  "ukukhetha komsindo (isiteshi 2)"
	IDM_COL4_B33  "ukukhetha komsindo (isiteshi 3)"
	IDM_COL4_B34  "ukukhetha komsindo (isiteshi 4)"
	IDM_COL4_B35  "ukukhetha komsindo (isiteshi 5)"
	IDM_COL4_B36  "ukukhetha komsindo (isiteshi 6)"
	IDM_COL4_B37  "ukukhetha komsindo (isiteshi 7)"
	IDM_COL4_B38  "ukukhetha komsindo (isiteshi 8)"
	IDM_COL4_B39  "ukukhetha komsindo (isiteshi 9)"
	IDM_COL4_FUN11  "umsebenzi F1 (imodi ejwayelekile)"
	IDM_COL4_FUN12  "umsebenzi F2 (imodi ejwayelekile)"
	IDM_COL4_FUN13  "umsebenzi F3 (imodi ejwayelekile)"
	IDM_COL4_FUN14  "umsebenzi F4 (imodi ejwayelekile)"
	IDM_COL4_FUN15  "umsebenzi F5 (imodi ejwayelekile)"
	IDM_COL4_FUN16  "umsebenzi F6 (imodi ejwayelekile)"
	IDM_COL4_FUN17  "umsebenzi F7 (imodi ejwayelekile)"
	IDM_COL4_FUN18  "umsebenzi F8 (imodi ejwayelekile)"
	IDM_COL4_FUN21  "umsebenzi F1 (imodi ebanjwayo)"
	IDM_COL4_FUN22  "umsebenzi F2 (imodi ebanjwayo)"
	IDM_COL4_FUN23  "umsebenzi F3 (imodi ebanjwayo)"
	IDM_COL4_FUN24  "umsebenzi F4 (imodi ebanjwayo)"
	IDM_COL4_FUN25  "umsebenzi F5 (imodi ebanjwayo)"
	IDM_COL4_FUN26  "umsebenzi F6 (imodi ebanjwayo)"
	IDM_COL4_FUN27  "umsebenzi F7 (imodi ebanjwayo)"
	IDM_COL4_FUN28  "umsebenzi F8 (imodi ebanjwayo)"
	IDM_COL4_SYS_Rewind  "Hlehlisa (umdlali)"
	IDM_COL4_SYS_Forward  "Iya phambili ngokushesha (umdlali)"
	IDM_COL4_SYS_Stop  "Misa (umdlali)"
	IDM_COL4_SYS_Play  "Dlala (umdlali)"
	IDM_COL4_SYS_Record  "Ukuqopha (umdlali)"
	IDM_COL4_SYS_Up    "Phezulu (induku yokudlala)"
	IDM_COL4_SYS_Down  "Phansi (induku yokudlala)"
	IDM_COL4_SYS_Left  "Kwesokunxele (induku yokudlala)"
	IDM_COL4_SYS_Right  "Kwesokudla (induku yokudlala)"
	IDM_COL4_SYS_Zoom  "Khulisa"
	IDM_COL4_SYS_Scrub  "Khuhla"
	IDM_COL4_VOLUMEMIX "Ukulawula i-Mixer"
	IDM_COL4_MEDIAKEY "Okhiye be-Multimedia"
        IDM_COL4_MQTTKEY  "Ukuphathwa Kwekhaya Okuhlakaniphile"
        IDM_COL4_LIGHTKEY8B "Ukulawula ukukhanyisa (8 bits)"
        IDM_COL4_LIGHTKEY16B "Ukulawula ukukhanya (16 bit)"
	IDM_COL4_NONE  "isenzo asichazwanga"
	IDM_COL4_MQTT_AV1		"izinga 1"
	IDM_COL4_MQTT_AV2		"izinga 2"
	IDM_COL4_MQTT_AV3		"izinga 3"
	IDM_COL4_MQTT_AV4		"izinga 4"
	IDM_COL4_MQTT_AV5		"izinga 5"
	IDM_COL4_MQTT_AV6		"ileveli 6"
	IDM_COL4_MQTT_AV7		"izinga 7"
	IDM_COL4_MQTT_AV8		"ileveli 8"
	IDM_COL4_MQTT_XV9		"ileveli 9"
	IDM_COL4_MQTT_AP1		"izinga 10"
	IDM_COL4_MQTT_AP2		"izinga 11"
	IDM_COL4_MQTT_AP3		"izinga 12"
	IDM_COL4_MQTT_AP4		"izinga 13"
	IDM_COL4_MQTT_AP5		"izinga 14"
	IDM_COL4_MQTT_AP6		"izinga 15"
	IDM_COL4_MQTT_AP7		"izinga 16"
	IDM_COL4_MQTT_AP8		"izinga 17"
	IDM_COL4_MQTT_XP9		"izinga 18"
	IDM_COL4_MQTT_B11		"vula/cisha 1"
	IDM_COL4_MQTT_B12		"vula/cisha 2"
	IDM_COL4_MQTT_B13		"vula/cisha 3"
	IDM_COL4_MQTT_B14		"vula/vala 4"
	IDM_COL4_MQTT_B15		"vula/vala 5"
	IDM_COL4_MQTT_B16		"vula/cisha 6"
	IDM_COL4_MQTT_B17		"vula/cisha 7"
	IDM_COL4_MQTT_B18		"vula/cisha 8"
	IDM_COL4_MQTT_B19		"vula/cisha 9"
	IDM_COL4_MQTT_B21		"vula/cisha 10"
	IDM_COL4_MQTT_B22		"vula/cisha 11"
	IDM_COL4_MQTT_B23		"vula/cisha 12"
	IDM_COL4_MQTT_B24		"vula/cisha 13"
	IDM_COL4_MQTT_B25		"kuvuliwe/kuvaliwe 14"
	IDM_COL4_MQTT_B26		"kuvuliwe/kuvaliwe 15"
	IDM_COL4_MQTT_B27		"kuvuliwe/kuvaliwe 16"
	IDM_COL4_MQTT_B28		"kuvuliwe/kuvaliwe 17"
	IDM_COL4_MQTT_B29		"kuvuliwe/kuvaliwe 18"
	IDM_COL4_MQTT_B31		"kuvuliwe/kuvaliwe 19"
	IDM_COL4_MQTT_B32		"kuvuliwe/kuvaliwe 20"
	IDM_COL4_MQTT_B33		"vula/cisha 21"
	IDM_COL4_MQTT_B34		"vula/vala 22"
	IDM_COL4_MQTT_B35		"kuvuliwe/kuvaliwe 23"
	IDM_COL4_MQTT_B36		"vula/vala 24"
	IDM_COL4_MQTT_B37		"kuvuliwe/kuvaliwe 25"
	IDM_COL4_MQTT_B38		"vula/vala 26"
	IDM_COL4_MQTT_B39		"kuvuliwe/kuvaliwe 27"
	IDM_COL4_MQTT_NONE		"Akunikezwanga"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"KULUNGILE"
	IDS_ERRORID_EMPTY			"[Ukucushwa akunalutho..]"
	IDS_ERRORID_UNDEFINED			"Leli phutha alichazwanga"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Ukufinyelela kokubhala kufayela lokumisa kwenqatshiwe, '{0}'"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Ifayela lokumisa alikho noma ukufinyelela kwenqatshiwe, '{0}'"
	IDS_ERRORID_JSONCONF_EMPTY		"Ifayela lokumisa alinalutho, '{0}'"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"Igama ledivayisi ye-MIDI alilungiselelwe."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"Abekho okhiye be-MIDI abamisiwe kulokhu kulungiselelwa."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Qaphela, lokhu kulungiselelwa akunabo okhiye be-MIDI abamisiwe! ukucushwa okurekhodiwe ngeke kusebenze."
	IDS_ERRORID_INIT_COINITIALIZE		"I-Co*Ukuqalisa ukuqalisa kwehlulekile."
	IDS_ERRORID_INIT_COCREATE		"Co*Dala - yehlulekile ukudala isenzakalo."
	IDS_ERRORID_INIT_DEFAULT_AE		"Yehlulekile ukuthola idivayisi yomsindo ezenzakalelayo."
	IDS_ERRORID_INIT_AS_MANAGER2		"Isiphathi Sesikhathi Somsindo siphahlazekile."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Imitha yomsindo ephezulu yomsindo ayitholakali."
	IDS_ERRORID_MIXER_STARTOK		"Isihlanganisi sesikhathi somsindo siyasebenza, ngesikhathi sokuqala kukhona {0} izinhlelo ezisebenzayo ezitholakalayo ukuze ziqondiswe."
	IDS_ERRORID_MIXER_STARTERROR		"Isihlanganisi sesikhathi somsindo asikwazanga ukuqalwa, imininingwane yephutha kufanele ibe kufayela lokungena."
	IDS_ERRORID_MIXER_STOPOK		"Isihlanganisi sesikhathi somsindo simisiwe."
	IDS_ERRORID_MIXER_STOPERROR		"Isihlanganisi sesikhathi somsindo asimiswanga ngendlela efanele, imininingwane yephutha kufanele ibe kufayela lokungena."
	IDS_ERRORID_NO_INIT			"Qala ngaphambi kokuthi ushayele lokhu.."
	IDS_ERRORID_SESSION_LIST		"Yehlulekile ukuthola uhlu lwamaseshini omsindo."
	IDS_ERRORID_LISTISNULL			"Uhlu lwamaseshini omsindo alunalutho!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Ikhubaza iseshini yomsindo, isizathu='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Iseshini yomsindo idaliwe, igama='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Iseshini yomsindo '{0}' - isimo sokubhalisa esibi '{1}': {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"Inani elisethwayo ekushayeni i-callback liyisikhethi esingavumelekile."
	IDS_ERRORID_SET_CB_WARNING		"Ukusetha ukuphinda ushayele kungenzeka kuphela ngemuva kokuthi ibhuloho le-MIDI lethulwe ngempumelelo."
	IDS_ERRORID_CONFIG_FAIL			"Ukulayisha ukumisa kwehlulekile, ifayela alitholakali, ukuqaliswa akunakwenzeka."
	IDS_ERRORID_CONFIG_LOAD			"Ukucushwa kulayishiwe.."
	IDS_ERRORID_CONFIG_LOADA		"Ukulungiselelwa sekuvele kulayishiwe.."
	IDS_ERRORID_CONFIG_EMPTY		"Ukucushwa akunalutho.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"Ukucushwa kwemojuli {0} akunalutho.."
	IDS_ERRORID_CONFIG_NEW			"Kutholwe inguqulo entsha yokumisa.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Ukuqaliswa okungasekelwe kukhodi, indlela ayibhalwanga phansi: {0}"
	IDS_ERRORID_NOT_CONFIG			"Igama lokumisa alicacisiwe futhi alikwazi ukuqhubeka."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Amadivayisi awaxhunyiwe futhi awakwazi ukuqhubeka."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Qaphela, inombolo yamadivayisi kuhlu lokugcina ayifani, isistimu/uhlu = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Ayikwazi ukuvula idivayisi ye-MIDI, ayikwazi ukuqhubeka, i-id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Ayikwazi ukuqalisa idivayisi ye-MIDI, ayikwazi ukuqhubeka, i-id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Idivayisi ayixhunyiwe, yeka, i-id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Idivayisi {0} itholakele, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Idivayisi {0} ivuliwe, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Idivayisi {0} ivaliwe (isistimu)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Idivayisi {0} ilungile (isistimu)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Igama ledivayisi esebenzayo alicacisiwe, ukuqhubeka akunakwenzeka, i-id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Izimbobo zommeleli azicaciswanga ekucushweni, ummeleli we-MIDI ukhutshaziwe."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Inguqulo yomshayeli [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Inkinga ngenguqulo yomshayeli [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Idivayisi {0} ithumele inani elingavumelekile = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"I-virtual MIDI driver ayifakiwe. Udinga ukufaka iphakheji ye-loopMidi, noma ulande isifaki esigcwele bese ufaka kabusha i-MIDI-MT. Imininingwane eyengeziwe: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Umshayeli we-Virtual MIDI ofakiwe akatholakalanga! Kufanele ufake iphakheji ye-Virtual Loop MIDI ukuze usebenzise umhumushi we-MIDI-MT."
	IDS_ERRORID_MIDI_PROXY_PORTS		"Lapho kuqala, {0} izimbobo zommeleli we-MIDI zizodalwa."
	IDS_ERRORID_MIDI_PROXY_OFF		"Izimbobo ze-MIDI zommeleli zivaliwe."
	IDS_ERRORID_MIDI_OUT_PORTS		"Lapho kuqala, {0} izimbobo zokuphuma ze-MIDI zizodalwa."
	IDS_ERRORID_MIDI_OUT_OFF		"Izimbobo zokukhiphayo ze-MIDI zivaliwe."
	IDS_ERRORID_MMKEY_START			"Isevisi ye-Media Key Management iyasebenza."
	IDS_ERRORID_MMKEY_STOP			"Isevisi ye-Media Key Management imile."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"Ukucushwa kwe-MQTT akunalutho futhi akukwazi ukuqhubeka."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Iphutha lokudala iklayenti le-MQTT, ukukhansela."
	IDS_ERRORID_MQTT_CLIENT_OK		"Iklayenti le-MMQTT lakhiwe ngempumelelo, qhubeka..."
	IDS_ERRORID_MQTT_CONNECTED		"Ixhumeke kuseva ye-MQTT:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Yehlulekile ukuxhuma kuseva ye-MQTT:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Inqanyuliwe kuseva ye-MQTT:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"Ifayela lesitifiketi se-CA alikho, indlela = '{0}'"
	IDS_ERRORID_MQTT_START			"Isevisi yokulawula i-Smart Home yethuliwe."
	IDS_ERRORID_MQTT_STOP			"Isevisi yokulawula i-Smart Home imisiwe."
	IDS_ERRORID_MQTT_CA_FILTER		"Isitifiketi se-CA"
	IDS_ERRORID_LOG_LEVEL_NONE		"akukho log olugcinwayo"
	IDS_ERRORID_LOG_LEVEL_INFO		"ulwazi"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"izaziso"
	IDS_ERRORID_LOG_LEVEL_WARNING		"izixwayiso"
	IDS_ERRORID_LOG_LEVEL_ERR		"amaphutha kuphela"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"yonke imilayezo"
	IDS_ERRORID_PANEL_INDEX			"Iphaneli Yokuhlanganisa Umsindo - Ayikwazi ukuqhubeka, izinto zenkomba azilungile."
	IDS_ERRORID_PANEL_INIT			"Iphaneli yokuhlanganisa umsindo - ayikwazi ukuqhubeka, iphutha lokuqalisa."
	IDS_ERRORID_PANEL_ENABLE		"Iwindi lephaneli yesihlanganisi somsindo alinaso isimo esilungile futhi umsebenzi olandelayo awukwazi ukuqhubeka."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Iphaneli ye-audio mixer ayisetshenziswa kuchungechunge lwe-UI futhi izinguquko azinakwenziwa."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Iphaneli yokuhlanganisa umsindo ithole into engavumelekile futhi ukudalwa kwewindi lephaneli kwachithwa."
	IDS_ERRORID_LIGHT_DMX_START		"Isevisi yokulawula ukukhanya kwe-DMX iqalwe kusetshenziswa i-COM{0} - {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"Isevisi yokulawula ukukhanya kwe-DMX ayisebenzi, idivayisi ye-COM{0} ayixhunyiwe."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"Isevisi yokulawula ukukhanya kwe-DMX ayisebenzi futhi ukucushwa kwesevisi akugcwaliswanga."
	IDS_ERRORID_LIGHT_DMX_STOP		"Isevisi yokulawula ukukhanya kwe-DMX imile."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Awekho amadivayisi afanelekile atholakalayo"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Khetha idivayisi ye-DMX"
	IDS_ERRORID_LIGHT_ARTNET_START		"Isevisi Yokulawula Ukukhanyisa Kwe-ArtNet isebenza kusetshenziswa ikheli lokusakaza elithi {0}:{1} kunethiwekhi {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"Isevisi yokulawula izibani ye-ArtNet ayisebenzi, inethiwekhi {0} ayitholakali.."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"Isevisi yokulawula ukukhanya kwe-ArtNet ayisebenzi, ukucushwa kwesevisi akugcwaliswanga."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"Isevisi yokulawula izibani ye-ArtNet imile."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Azikho izixhumi ezibonakalayo ezifanele ezitholakalayo"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Khetha isixhumi esibonakalayo se-ARTNET"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Iphutha lokuqalisa i-plugin, ayikwazi ukuguqula i-CLSID/GUID isuka kuyunithi yezinhlamvu ecacisiwe."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Yehlulekile ukuqalisa ama-plugin, awekho ama-plugin ahambisanayo atholiwe."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Yehlulekile ukulayisha ama-plugin, aqaliswe ngaphambilini {0}, ama-plugin angu-0 alayishiwe."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Ama-plugin aqaliswe ngempumelelo, aqalwa ngaphambilini {0}, {1} ama-plugin alayishiwe."
	IDS_ERRORID_BRIDGE_OK_START		"Ibhuloho liqaliswe ngempumelelo, {0} liqalisiwe, {1} lalayishwa, {2} ama-plugin ayasebenza."
	IDS_ERRORID_BRIDGE_NOT_START		"Yehlulekile ukuqalisa ibhuloho, kube nephutha ngenkathi iqalisa ama-plugin, {0} aqalisiwe, {1} ama-plugin alayishiwe."
	IDS_ERRORID_BRIDGE_OK_STOP		"Ibhuloho limiswe ngempumelelo, {0} liqalisiwe, {1} lalayishwa, {2} liqalisiwe, {3} ama-plugin amisiwe."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Yehlulekile ukumisa ibhuloho, iphutha lokumisa ama-plugin, {0} aqalisiwe, {1} alayishiwe, {2} ama-plugin ayasebenza."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Ama-plugin asevele alayishiwe, sicela usethe kabusha ngaphambi kokuqalisa kabusha."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"Ibhuloho seliqalisiwe."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"Ibhuloho selivele limile."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Yehlulekile ukuvula imojuli ye-plugin. Imojula ayikho noma yonakele, i-DLL ayizange ilayishwe futhi ibuyiselwe ingenalutho."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"Imojula ayiyona i-plugin ye-MIDI-MT futhi izindawo zokungena ezidingekayo azikho."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Inikwe amandla={0}, izilungiselelo={1}, running={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Ukucushwa kubuyekeziwe: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Awekho amamojula atholiwe, ukuqalisa akunakwenzeka."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Sicela uhlele ukucushwa ngaphambi kokuqala."
	IDS_ERRORID_MIDIMT_CONFFILTER		"Ifayela lokumisa"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Ukucushwa kulayishwe kufayela: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Ukucushwa kulayishwe kumshayeli"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"Ulimi {0} olukhethiwe luzosebenza ngemva kokuthi iwindi liqalwe kabusha."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Kufakwe inguqulo yomshayeli we-Virtual MIDI: {0}"
	IDS_ERRORID_REMOTE_START		"Isevisi yesilawuli kude isiqalile."
	IDS_ERRORID_REMOTE_STOP			"Isevisi yesilawuli kude imile."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Iklayenti elisha {0}/{1} lixhunyiwe."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Iphutha leklayenti {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Iklayenti {0}/{1} linqanyuliwe, isimo: {2} - {3}."
	IDS_ERRORID_COPY_LINK			"Isixhumanisi sikopishelwe ebhodini lokunamathisela."
	IDS_ERRORID_NET_IFACE_NONE		"Azikho izixhumanisi zenethiwekhi"
	IDS_ERRORID_NET_IFACE_SELECT		"Khetha isixhumi esibonakalayo senethiwekhi"
	IDS_ERRORID_NONE			"-"
END
