#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_ZULU, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	IDS_RB_DIALOG_LAST_OPENL	"Amafayela akamuva:"
	IDS_RB_TABHOMEL			"Iyahlela"
	IDS_RB_TABFILTERL		"Izihlungi"
	IDS_RB_PANEL_EDITMAINL		"hlela ukhiye we-MIDI"
	IDS_RB_PANEL_EDITSETL		"setha ukhiye we-MIDI njenge..."
	IDS_RB_PANEL_EDITOPTL		"izinketho zomhleli"
	IDS_RB_PANEL_FILTERL		"ukukhethwa kwezihlungi zokubuka"
	IDS_RB_PANEL_SORTL		"ukuhlunga"
	IDS_RB_MENUL			"&Imenyu"
	IDS_RB_MENUT			"Imenyu yohlelo lokusebenza"
	IDS_RB_PANEL_QATL		"Ukufinyelela okusheshayo"
	IDS_RB_PANEL_QATT		"Ibha yamathuluzi yokufinyelela Ngokushesha"
	IDS_RB_DIALOG_SAVEL		"&Gcina"
	IDS_RB_DIALOG_SAVET		"Londoloza bese usebenzisa"
	IDS_RB_DIALOG_SAVED		"Londoloza efayelini elilayishwe ngaphambilini futhi ubuyekeze ukucushwa kwamanje."
	IDS_RB_DIALOG_EXPORTL		"&Thumela ngaphandle"
	IDS_RB_DIALOG_EXPORTT		"Khipha kufayela elisha"
	IDS_RB_DIALOG_EXPORTD		"Khipha ukulungiselelwa okuhleliwe kufayela elisha."
	IDS_RB_DIALOG_IMPORTL		"&Ngenisa"
	IDS_RB_DIALOG_IMPORTT		"Ngenisa kusuka kufayela"
	IDS_RB_DIALOG_IMPORTD		"Ngenisa ukucushwa kufayela."
	IDS_RB_DIALOG_EXITL		"&Phuma"
	IDS_RB_DIALOG_EXITT		"Phuma kumhleli"
	IDS_RB_DIALOG_EXITD		"Iphuma ku-MIDI Key Configuration Editor, uma izinguquko zingalondolozwanga, zizolahleka."
	IDS_RB_LV_NEWL			"&Ukhiye omusha we-MIDI"
	IDS_RB_LV_NEWT			"Ukhiye omusha we-MIDI"
	IDS_RB_LV_NEWD			"Idala ukhiye omusha we-MIDI."
	IDS_RB_LV_COPYL			"&Kopisha"
	IDS_RB_LV_COPYT			"Kopisha ukhiye we-MIDI"
	IDS_RB_LV_COPYD			"Kopisha ukhiye okhethiwe we-MIDI."
	IDS_RB_LV_PASTEL		"&Faka"
	IDS_RB_LV_PASTET		"Faka ukhiye"
	IDS_RB_LV_PASTED		"Namathisela ukhiye we-MIDI okopishiwe."
	IDS_RB_LV_DELETEL		"&Susa"
	IDS_RB_LV_DELETET		"Susa ukhiye"
	IDS_RB_LV_DELETED		"Susa ukhiye okhethiwe we-MIDI."
	IDS_RB_LV_SET_MQTTL		"I-Smart House"
	IDS_RB_LV_SET_MQTTT		"Setha iqembu njenge “Smart Home”."
	IDS_RB_LV_SET_MQTTD		"Nikeza ukhiye we-MIDI okhethiwe eqenjini elithi “Smart Home”."
	IDS_RB_LV_SET_MMKEYL		"Izinkinobho ze-Multimedia"
	IDS_RB_LV_SET_MMKEYT		"Setha iqembu ngokuthi “Izinkinobho ze-Multimedia”"
	IDS_RB_LV_SET_MMKEYD		"Nikeza ukhiye we-MIDI okhethiwe eqenjini elithi “Izinkinobho ze-Multimedia”."
	IDS_RB_LV_SET_MIXERL		"Isihlanganisi somsindo"
	IDS_RB_LV_SET_MIXERT		"Setha iqembu “njenge-Audio Mixer”"
	IDS_RB_LV_SET_MIXERD		"Nikeza ukhiye we-MIDI okhethiwe eqenjini “Isihlanganisi somsindo”."
	IDS_RB_LV_READ_MIDI_CODEL	"Funda ikhodi ye-MIDI"
	IDS_RB_LV_READ_MIDI_CODET	"Funda ikhodi yokulawula ye-MIDI"
	IDS_RB_LV_READ_MIDI_CODED	"Funda ikhodi ye-MIDI endaweni yokulawula noma ikhibhodi ye-MIDI."
	IDS_RB_LV_EDIT_MODEL		"Okokufaka kwedijithali kuphela"
	IDS_RB_LV_EDIT_MODET		"Sebenzisa okokufaka kwedijithali kuphela"
	IDS_RB_LV_EDIT_MODED		"Ungayisebenzisi imenyu yokukhetha inani, sebenzisa okokufaka kwedijithali kuphela."
	IDS_RB_DIALOG_SHOW_MIDI_KEYSL	"Iphaneli yokulawula ye-MIDI"
	IDS_RB_DIALOG_SHOW_MIDI_KEYST	"Izilungiselelo Ezinconyiwe"
	IDS_RB_DIALOG_SHOW_MIDI_KEYSD	"Izilungiselelo ezinconyiwe zephaneli yokulawula ye-MIDI ezihambisana nezilawuli ze-Adobe Premiere Pro."
	IDS_RB_LV_FILTER_EMBEDL		"Izihlungi ezakhelwe ngaphakathi"
	IDS_RB_LV_FILTER_KEYL		"Ukhiye"
	IDS_RB_LV_FILTER_KEYT		"Hlunga ngokhiye we-MIDI"
	IDS_RB_LV_FILTER_KEYD		"Bonisa kuphela okufanayo ngaphakathi kweqembu lokhiye le-MIDI."
	IDS_RB_LV_FILTER_SCENEL		"Isigcawu"
	IDS_RB_LV_FILTER_SCENET		"Hlunga ngesigcawu se-MIDI"
	IDS_RB_LV_FILTER_SCENED		"Bonisa kuphela okufanayo eqenjini lesigcawu le-MIDI."
	IDS_RB_LV_FILTER_TARGETL	"Inhloso 1"
	IDS_RB_LV_FILTER_TARGETT	"Hlunga ngendawo 1"
	IDS_RB_LV_FILTER_TARGETD	"Bonisa kuphela okufanayo eqenjini eliqondiwe 1."
	IDS_RB_LV_FILTER_TARGETLONGL	"Inhloso 2"
	IDS_RB_LV_FILTER_TARGETLONGT	"Hlunga ngendawo 2"
	IDS_RB_LV_FILTER_TARGETLONGD	"Bonisa kuphela okufanayo eqenjini eliqondiwe 2."
	IDS_RB_LV_FILTER_CLEARL		"Sula izihlungi"
	IDS_RB_LV_FILTER_CLEART		"Ukuhlanza izihlungi"
	IDS_RB_LV_FILTER_CLEARD		"Izihlungi ezicace ngokuphelele, konke okufakiwe kuzoboniswa."
	IDS_RB_LV_FILTER_SETL		"Setha isihlungi"
	IDS_RB_LV_FILTER_SETT		"Ukufakwa kwesihlungi"
	IDS_RB_LV_FILTER_SETD		"Ukusetha isihlungi kubonisa zonke izinto ezingavumelekile."
	IDS_RB_LV_FILTER_ONL		"Faka isihlungi"
	IDS_RB_LV_FILTER_ONT		"Ukusebenzisa isihlungi"
	IDS_RB_LV_FILTER_OND		"Ukusebenzisa isihlungi kubonisa izinto ezikhethiwe."
	IDS_RB_LV_FILTER_OFFL		"Khansela isihlungi"
	IDS_RB_LV_FILTER_OFFT		"Khansela isihlungi"
	IDS_RB_LV_FILTER_OFFD		"Ukukhansela isihlungi kuzobonisa zonke izinto."
	IDS_RB_LV_FILTER_MMKEYL		"Bonisa “Izinkinobho ze-Multimedia”"
	IDS_RB_LV_FILTER_MMKEYT		"Hlunga ngeqembu “lezinkinobho ze-Multimedia”."
	IDS_RB_LV_FILTER_MMKEYD		"Ukusebenzisa isihlungi kuzobonisa amalungu eqembu lezinkinobho ze-Multimedia."
	IDS_RB_LV_FILTER_MIXERL		"Bonisa “Isihlanganisi Somsindo”"
	IDS_RB_LV_FILTER_MIXERT		"Hlunga ngeqembu le-“Audio Mixer”"
	IDS_RB_LV_FILTER_MIXERD		"Ukusebenzisa isihlungi kuzobonisa amalungu eqembu le-Audio Mixer."
	IDS_RB_LV_FILTER_MQTTL		"Bonisa “Ikhaya Elihlakaniphile”"
	IDS_RB_LV_FILTER_MQTTT		"Hlunga ngeqembu “Ikhaya Elihlakaniphile”."
	IDS_RB_LV_FILTER_MQTTD		"Ukusebenzisa isihlungi kuzobonisa amalungu eqembu Lekhaya Elihlakaniphile."
	IDS_RB_LV_FILTER_TYPEBTNL	"Uhlobo lwesihlungi"
	IDS_RB_LV_FILTER_TYPEBTNT	"Isetha uhlobo lwezihlungi ezizosetshenziswa"
	IDS_RB_LV_FILTER_TYPEBTND	"Izinhlobo zezihlungi ezisetshenzisiwe zinezimo ezimbili ezinengqondo: “FUTHI”, “NOMA”."
	IDS_RB_LV_FILTER_TYPEGRPL	"Ukukhetha uhlobo lokuhlunga"
	IDS_RB_LV_FILTER_TYPEORL	"Bonisa noma yikuphi okufanayo"
	IDS_RB_LV_FILTER_TYPEORT	"Bonisa okufakiwe nanoma yikuphi okufanayo"
	IDS_RB_LV_FILTER_TYPEORD       	"Isihlungi sinesimo esinengqondo KANYE futhi sibonisa noma yikuphi okufanayo."
	IDS_RB_LV_FILTER_TYPEANDL	"Bonisa kuphela okufanayo okuphelele"
	IDS_RB_LV_FILTER_TYPEANDT	"Bonisa amarekhodi afana ncamashi kuphela"
	IDS_RB_LV_FILTER_TYPEANDD	"Isihlungi sinesimo esinengqondo NOMA futhi sibonisa ukufana okuphelele kuphela."
	IDS_RB_LV_FILTER_AUTOCOMMITL	"Ukuthumela idatha ngokuzenzakalelayo kusihlungi"
	IDS_RB_LV_FILTER_AUTOCOMMITT	"Ukuthumela okuzenzakalelayo kwamanani afakiwe kusihlungi"
	IDS_RB_LV_FILTER_AUTOCOMMITD	"Ihambisa ngokuzenzakalelayo amanani okokufaka kusihlungi esakhelwe ngaphakathi."
	IDS_RB_LV_EXT_MODEL		"Bonisa ukuhlunga"
	IDS_RB_LV_SORTUP_KEYL		"ngokhiye"
	IDS_RB_LV_SORTUP_KEYT		"Hlunga ngokwenyuka kanye nokhiye we-MIDI."
	IDS_RB_LV_SORTUP_SCENEL		"nxazonke esiteji"
	IDS_RB_LV_SORTUP_SCENET		"Ukuhlunga ngokwenyuka kanye nesigcawu se-MIDI."
	IDS_RB_LV_SORTUP_TARGETL	"ngokuqokwa 1"
	IDS_RB_LV_SORTUP_TARGETT	"Hlunga ngokwenyuka nendawo ye-MIDI 1."
	IDS_RB_LV_SORTUP_TARGETLONGL	"ngokuqokwa 2"
	IDS_RB_LV_SORTUP_TARGETLONGT	"Ukuhlunga ngokwenyuka nendawo ye-MIDI 2."
	IDS_RB_LV_SORTDOWN_KEYT		"Hlunga ngokwehla kanye nokhiye we-MIDI."
	IDS_RB_LV_SORTDOWN_SCENET	"Ihlunga ngohlelo olwehlayo nesigcawu se-MIDI."
	IDS_RB_LV_SORTDOWN_TARGETT	"Ukuhlunga nge-oda eyehlayo nendawo ye-MIDI 1."
	IDS_RB_LV_SORTDOWN_TARGETLONGT	"Ukuhlunga nge-oda eyehlayo nendawo ye-MIDI 2."
END
