#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_DUTCH, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT-vertaler"
    STRING_MIXER	"&Mixer"
    STRING_SETTINGS	"&Instellingen"
    STRING_START	"Begin"
    STRING_STOP		"Stop"
    STRING_EXIT		"Uitgang"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Configuratie geladen vanuit stuurprogramma"
    STRING_EDIT_MSG2	"Configuratie geladen uit bestand"
    STRING_EDIT_MSG3	"De configuratie is opnieuw aangemaakt en moet worden ingevuld"
    STRING_EDIT_MSG4	"Bij het openen van de editor werd het configuratiebestand opgegeven: '{0}'. Opslaan onder dezelfde naam?"
    STRING_EDIT_MSG5	"DMX-kanaalnummer"
    STRING_EDIT_MSG6	"MQTT-configuratie succesvol geëxporteerd"
    STRING_EDIT_MSG7	"Fout bij het exporteren van de MQTT-configuratie"
    STRING_EDIT_MSG8	"Geen dubbele MIDI-sleutels gevonden"
    STRING_EDIT_MSG9	"{0} dubbele MIDI-sleutels gevonden"

    STRING_NOTIFY_MSG1	"de vertaler is gestopt:"
    STRING_NOTIFY_MSG2	"de vertaler werkt:"

    STRING_AMIX_MSG1	"De audiomixer werkt niet. Controleer de instellingen. Het starten van het audiopaneel moet zijn ingeschakeld."
    STRING_AMIX_MSG2	"MIDIMT - Audiomixer draait niet:"
    STRING_AMIX_MSG3	"Ongeldige gebeurtenis-ID. Start deze applicatie opnieuw op."
    STRING_AMIX_MSG4	"MIDIMT - Kan de bewerking niet voltooien:"
    STRING_AMIX_MSG5	"Kan niet overschakelen naar UI-thread, opstarten van audiopaneel afgebroken."

    STRING_MAIN_MSG1	"Initialisatiefout van applicatie, voortzetting is niet mogelijk."
    STRING_MAIN_MSG2	"Controleer de machtigingen van de gebruiker om bestanden in de toepassingsmap te schrijven. Als de fout zich blijft voordoen, probeer dan de logboekregistratie uit te schakelen."
    STRING_MAIN_MSG3	"Autorun is uitgeschakeld in de algemene configuratie."
    STRING_MAIN_MSG4	"De geselecteerde configuratie ondersteunt geen automatische start."

    STRING_LOGV_MSG1	"Voordat u de monitor start, start u de vertaler vanuit het menu door 'Start' te selecteren."
    STRING_LOGV_MSG2	"Alle instellingen '{0}', versie van configuratiebestand: {1}"
    STRING_LOGV_MSG3	"MIDI-instellingen"
    STRING_LOGV_MSG4	"Smart Home-instellingen (MQTT)"
    STRING_LOGV_MSG5	"Instellingen multimediatoetsenbord (MMKEYS)"
    STRING_LOGV_MSG6	"Instellingen voor lichtregeling ({0})"
    STRING_LOGV_MSG7	"Instellingen op afstandsbedieningspaneel (REMOTE)"
    STRING_LOGV_MSG8	"Instellingen voor gamepad/joystickbediening (GAMEPAD)"
    STRING_LOGV_MSG9	"MIDI-toets ingedrukt:"
    STRING_LOGV_MSG10	"Etiket nummer:"

    STRING_CHKR_MSG1	"Bij het opstarten werd het configuratiebestand opgegeven: '{0}'. Instellen als configuratie voor volgende runs?"
    STRING_CHKR_MSG2	"MIDI-MT-configuratie"

    STRING_TMENU_MSG1	"U moet de Virtual MIDI-driver installeren!"

    STRING_LANG_STATUS	"toestand:"
    STRING_LANG_YES	"Ja"
    STRING_LANG_NO	"Nee"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "geluidsvolume (hoofd)"
	IDM_COL4_MAP  "geluidsbalans (basis)"
	IDM_COL4_MAM  "dempen (hoofd)"
	IDM_COL4_MAS  "audio-solo (hoofd)"
	IDM_COL4_JOG  "JOG (videoframe terugspoelen)"
	IDM_COL4_AV1  "geluidsvolume (kanaal 1)"
	IDM_COL4_AV2  "geluidsvolume (kanaal 2)"
	IDM_COL4_AV3  "geluidsvolume (kanaal 3)"
	IDM_COL4_AV4  "geluidsvolume (kanaal 4)"
	IDM_COL4_AV5  "geluidsvolume (kanaal 5)"
	IDM_COL4_AV6  "geluidsvolume (kanaal 6)"
	IDM_COL4_AV7  "geluidsvolume (kanaal 7)"
	IDM_COL4_AV8  "geluidsvolume (kanaal 8)"
	IDM_COL4_XV9  "geluidsvolume (kanaal 9)"
	IDM_COL4_AP1  "geluidsbalans (kanaal 1)"
	IDM_COL4_AP2  "geluidsbalans (kanaal 2)"
	IDM_COL4_AP3  "geluidsbalans (kanaal 3)"
	IDM_COL4_AP4  "geluidsbalans (kanaal 4)"
	IDM_COL4_AP5  "geluidsbalans (kanaal 5)"
	IDM_COL4_AP6  "geluidsbalans (kanaal 6)"
	IDM_COL4_AP7  "geluidsbalans (kanaal 7)"
	IDM_COL4_AP8  "geluidsbalans (kanaal 8)"
	IDM_COL4_XP9  "geluidsbalans (kanaal 9)"
	IDM_COL4_B11  "audiosolo (kanaal 1)"
	IDM_COL4_B12  "audiosolo (kanaal 2)"
	IDM_COL4_B13  "audiosolo (kanaal 3)"
	IDM_COL4_B14  "audiosolo (kanaal 4)"
	IDM_COL4_B15  "audiosolo (kanaal 5)"
	IDM_COL4_B16  "audiosolo (kanaal 6)"
	IDM_COL4_B17  "audiosolo (kanaal 7)"
	IDM_COL4_B18  "audiosolo (kanaal 8)"
	IDM_COL4_B19  "audiosolo (kanaal 9)"
	IDM_COL4_B21  "dempen (kanaal 1)"
	IDM_COL4_B22  "dempen (kanaal 2)"
	IDM_COL4_B23  "dempen (kanaal 3)"
	IDM_COL4_B24  "dempen (kanaal 4)"
	IDM_COL4_B25  "dempen (kanaal 5)"
	IDM_COL4_B26  "dempen (kanaal 6)"
	IDM_COL4_B27  "dempen (kanaal 7)"
	IDM_COL4_B28  "dempen (kanaal 8)"
	IDM_COL4_B29  "dempen (kanaal 9)"
	IDM_COL4_B31  "geluidsselectie (kanaal 1)"
	IDM_COL4_B32  "geluidsselectie (kanaal 2)"
	IDM_COL4_B33  "geluidsselectie (kanaal 3)"
	IDM_COL4_B34  "geluidsselectie (kanaal 4)"
	IDM_COL4_B35  "geluidsselectie (kanaal 5)"
	IDM_COL4_B36  "geluidsselectie (kanaal 6)"
	IDM_COL4_B37  "geluidsselectie (kanaal 7)"
	IDM_COL4_B38  "geluidsselectie (kanaal 8)"
	IDM_COL4_B39  "geluidsselectie (kanaal 9)"
	IDM_COL4_FUN11  "functie F1 (standaardmodus)"
	IDM_COL4_FUN12  "functie F2 (standaardmodus)"
	IDM_COL4_FUN13  "functie F3 (standaardmodus)"
	IDM_COL4_FUN14  "functie F4 (standaardmodus)"
	IDM_COL4_FUN15  "functie F5 (standaardmodus)"
	IDM_COL4_FUN16  "functie F6 (standaardmodus)"
	IDM_COL4_FUN17  "functie F7 (standaardmodus)"
	IDM_COL4_FUN18  "functie F8 (standaardmodus)"
	IDM_COL4_FUN21  "functie F1 (held-modus)"
	IDM_COL4_FUN22  "functie F2 (held-modus)"
	IDM_COL4_FUN23  "functie F3 (held-modus)"
	IDM_COL4_FUN24  "functie F4 (held-modus)"
	IDM_COL4_FUN25  "functie F5 (held-modus)"
	IDM_COL4_FUN26  "functie F6 (held-modus)"
	IDM_COL4_FUN27  "functie F7 (held-modus)"
	IDM_COL4_FUN28  "functie F8 (held-modus)"
	IDM_COL4_SYS_Rewind  "Terugspoelen (speler)"
	IDM_COL4_SYS_Forward  "Snel vooruitspoelen (speler)"
	IDM_COL4_SYS_Stop  "Stoppen (speler)"
	IDM_COL4_SYS_Play  "Spelen (speler)"
	IDM_COL4_SYS_Record  "Opnemen (speler)"
	IDM_COL4_SYS_Up    "Omhoog (joystick)"
	IDM_COL4_SYS_Down  "Omlaag (joystick)"
	IDM_COL4_SYS_Left  "Links (joystick)"
	IDM_COL4_SYS_Right  "Rechts (joystick)"
	IDM_COL4_SYS_Zoom  "Toename"
	IDM_COL4_SYS_Scrub  "Schrobben"
	IDM_COL4_VOLUMEMIX "Mengbediening"
	IDM_COL4_MEDIAKEY "Multimediatoetsen"
        IDM_COL4_MQTTKEY  "Slim huisbeheer"
        IDM_COL4_LIGHTKEY8B "Lichtregeling (8 bits)"
        IDM_COL4_LIGHTKEY16B "Lichtregeling (16 bit)"
	IDM_COL4_VMSCRIPT "Scriptbeheer"
	IDM_COL4_NONE  "actie niet gedefinieerd"
	IDM_COL5_MQTT_AV1		"niveau 1"
	IDM_COL5_MQTT_AV2		"level 2"
	IDM_COL5_MQTT_AV3		"niveau 3"
	IDM_COL5_MQTT_AV4		"niveau 4"
	IDM_COL5_MQTT_AV5		"niveau 5"
	IDM_COL5_MQTT_AV6		"niveau 6"
	IDM_COL5_MQTT_AV7		"niveau 7"
	IDM_COL5_MQTT_AV8		"niveau 8"
	IDM_COL5_MQTT_XV9		"niveau 9"
	IDM_COL5_MQTT_AP1		"niveau 10"
	IDM_COL5_MQTT_AP2		"niveau 11"
	IDM_COL5_MQTT_AP3		"niveau 12"
	IDM_COL5_MQTT_AP4		"niveau 13"
	IDM_COL5_MQTT_AP5		"niveau 14"
	IDM_COL5_MQTT_AP6		"niveau 15"
	IDM_COL5_MQTT_AP7		"niveau 16"
	IDM_COL5_MQTT_AP8		"niveau 17"
	IDM_COL5_MQTT_XP9		"niveau 18"
	IDM_COL5_MQTT_B11		"aan/uit 1"
	IDM_COL5_MQTT_B12		"aan/uit 2"
	IDM_COL5_MQTT_B13		"aan/uit 3"
	IDM_COL5_MQTT_B14		"aan/uit 4"
	IDM_COL5_MQTT_B15		"aan/uit 5"
	IDM_COL5_MQTT_B16		"aan/uit 6"
	IDM_COL5_MQTT_B17		"aan/uit 7"
	IDM_COL5_MQTT_B18		"aan/uit 8"
	IDM_COL5_MQTT_B19		"aan/uit 9"
	IDM_COL5_MQTT_B21		"aan/uit 10"
	IDM_COL5_MQTT_B22		"aan/uit 11"
	IDM_COL5_MQTT_B23		"aan/uit 12"
	IDM_COL5_MQTT_B24		"aan/uit 13"
	IDM_COL5_MQTT_B25		"aan/uit 14"
	IDM_COL5_MQTT_B26		"aan/uit 15"
	IDM_COL5_MQTT_B27		"aan/uit 16"
	IDM_COL5_MQTT_B28		"aan/uit 17"
	IDM_COL5_MQTT_B29		"aan/uit 18"
	IDM_COL5_MQTT_B31		"aan/uit 19"
	IDM_COL5_MQTT_B32		"aan/uit 20"
	IDM_COL5_MQTT_B33		"aan/uit 21"
	IDM_COL5_MQTT_B34		"aan/uit 22"
	IDM_COL5_MQTT_B35		"aan/uit 23"
	IDM_COL5_MQTT_B36		"aan/uit 24"
	IDM_COL5_MQTT_B37		"aan/uit 25"
	IDM_COL5_MQTT_B38		"aan/uit 26"
	IDM_COL5_MQTT_B39		"aan/uit 27"
	IDM_COL5_MQTT_EMPTY		"Niet toegekend"
	IDM_COL5_SCRIPT_B11		"schrift 1"
	IDM_COL5_SCRIPT_B12		"schrift 2"
	IDM_COL5_SCRIPT_B13		"schrift 3"
	IDM_COL5_SCRIPT_B14		"schrift 4"
	IDM_COL5_SCRIPT_B15		"schrift 5"
	IDM_COL5_SCRIPT_B16		"schrift 6"
	IDM_COL5_SCRIPT_B17		"schrift 7"
	IDM_COL5_SCRIPT_B18		"schrift 8"
	IDM_COL5_SCRIPT_B19		"schrift 9"
	IDM_COL5_SCRIPT_B21		"schrift 10"
	IDM_COL5_SCRIPT_B22		"schrift 11"
	IDM_COL5_SCRIPT_B23		"schrift 12"
	IDM_COL5_SCRIPT_B24		"schrift 13"
	IDM_COL5_SCRIPT_B25		"schrift 14"
	IDM_COL5_SCRIPT_B26		"schrift 15"
	IDM_COL5_SCRIPT_B27		"schrift 16"
	IDM_COL5_SCRIPT_B28		"schrift 17"
	IDM_COL5_SCRIPT_B29		"schrift 18"
	IDM_COL5_SCRIPT_B31		"schrift 19"
	IDM_COL5_SCRIPT_B32		"schrift 20"
	IDM_COL5_SCRIPT_B33		"schrift 21"
	IDM_COL5_SCRIPT_B34		"schrift 22"
	IDM_COL5_SCRIPT_B35		"schrift 23"
	IDM_COL5_SCRIPT_B36		"schrift 24"
	IDM_COL5_SCRIPT_B37		"schrift 25"
	IDM_COL5_SCRIPT_B38		"schrift 26"
	IDM_COL5_SCRIPT_B39		"schrift 27"
	IDM_COL5_SCRIPT_STOP		"Stop alle scripts"
	IDM_COL5_SCRIPT_RELOAD		"Lees de scriptmap opnieuw"
	IDM_COL5_SCRIPT_EMPTY		"Niet toegekend"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"OK"
	IDS_ERRORID_EMPTY			"[Configuratie is leeg..]"
	IDS_ERRORID_UNDEFINED			"Deze fout is niet gedefinieerd"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Schrijftoegang tot het configuratiebestand is geweigerd, '{0}'"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Configuratiebestand ontbreekt of toegang geweigerd, '{0}'"
	IDS_ERRORID_JSONCONF_EMPTY		"Configuratiebestand is leeg, '{0}'"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"De MIDI-apparaatnaam is niet geconfigureerd."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"Er zijn geen MIDI-toetsen geconfigureerd in deze configuratie."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Let op, bij deze configuratie zijn geen MIDI-toetsen geconfigureerd! de opgenomen configuratie zal niet werken."
	IDS_ERRORID_INIT_COINITIALIZE		"Co*Initialisatie-initialisatie is mislukt."
	IDS_ERRORID_INIT_COCREATE		"Co*Create - Kan geen exemplaar maken."
	IDS_ERRORID_INIT_DEFAULT_AE		"Kan het standaardaudioapparaat niet ophalen."
	IDS_ERRORID_INIT_AS_MANAGER2		"Audiosessiebeheer is gecrasht."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Audiopiekmeter is niet beschikbaar."
	IDS_ERRORID_MIXER_STARTOK		"De audiosessiemixer is actief. Op het moment van starten zijn er {0} actieve programma's beschikbaar voor regeling."
	IDS_ERRORID_MIXER_STARTERROR		"De audiosessiemixer kan niet worden gestart. Foutdetails zouden in het logbestand moeten staan."
	IDS_ERRORID_MIXER_STOPOK		"De audiosessiemixer is gestopt."
	IDS_ERRORID_MIXER_STOPERROR		"De audiosessiemixer is niet correct gestopt. De foutdetails zouden in het logbestand moeten staan."
	IDS_ERRORID_NO_INIT			"Initialiseer voordat u dit aanroept.."
	IDS_ERRORID_SESSION_LIST		"Kan geen lijst met audiosessies ophalen."
	IDS_ERRORID_LISTISNULL			"De lijst met audiosessies is leeg!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Audiosessie uitschakelen, reden='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Audiosessie gemaakt, naam='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Audiosessie '{0}' - slechte registratiestatus '{1}': {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"De waarde die wordt ingesteld via de callback is een ongeldige selector."
	IDS_ERRORID_SET_CB_WARNING		"Het instellen van een callback is alleen mogelijk nadat de MIDI-bridge succesvol is gelanceerd."
	IDS_ERRORID_CONFIG_FAIL			"Laden van configuratie mislukt, bestand niet gevonden, starten onmogelijk."
	IDS_ERRORID_CONFIG_LOAD			"Configuratie geladen.."
	IDS_ERRORID_CONFIG_LOADA		"De configuratie is al geladen.."
	IDS_ERRORID_CONFIG_EMPTY		"Configuratie is leeg.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"De configuratie voor module {0} is leeg.."
	IDS_ERRORID_CONFIG_NEW			"Nieuwe configuratieversie gedetecteerd.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Niet-ondersteunde implementatie in code, methode niet overschreven: {0}"
	IDS_ERRORID_NOT_CONFIG			"De configuratienaam is niet opgegeven en kan niet worden voortgezet."
	IDS_ERRORID_MIDI_NOT_DEVICES		"De apparaten zijn niet verbonden en kunnen niet doorgaan."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Let op, het aantal apparaten in de definitieve lijst komt niet overeen, systeem/lijst = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Kan MIDI-apparaat niet openen, kan niet doorgaan, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Kan MIDI-apparaat niet starten, kan niet doorgaan, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Apparaat niet verbonden, afgebroken, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Apparaat {0} gevonden, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Apparaat {0} geopend, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Apparaat {0} gesloten (systeem)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Apparaat {0} gereed (systeem)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"De naam voor het actieve apparaat is niet gespecificeerd, voortzetting is onmogelijk, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Proxypoorten zijn niet gespecificeerd in de configuratie, MIDI-proxy is uitgeschakeld."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Stuurprogrammaversie [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Probleem met stuurprogrammaversie [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Apparaat {0} heeft ongeldige waarde verzonden = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"Het virtuele MIDI-stuurprogramma is niet geïnstalleerd. U moet het loopMidi-pakket installeren, of het volledige installatieprogramma downloaden en MIDI-MT opnieuw installeren. Meer details: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Het geïnstalleerde Virtual MIDI-stuurprogramma is niet gevonden! U moet het Virtual Loop MIDI-pakket installeren om de MIDI-MT-vertaler te kunnen gebruiken."
	IDS_ERRORID_MIDI_PROXY_PORTS		"Bij het opstarten worden er {0} proxy-MIDI-poorten gemaakt."
	IDS_ERRORID_MIDI_PROXY_OFF		"Proxy MIDI-poorten zijn uitgeschakeld."
	IDS_ERRORID_MIDI_OUT_PORTS		"Bij het opstarten worden er {0} MIDI-uitvoerpoorten gemaakt."
	IDS_ERRORID_MIDI_OUT_OFF		"MIDI-uitvoerpoorten zijn uitgeschakeld."
	IDS_ERRORID_MMKEY_START			"De Media Key Management-service is actief."
	IDS_ERRORID_MMKEY_STOP			"De Media Key Management-service is gestopt."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"MQTT-configuratie is leeg en kan niet doorgaan."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Fout bij het maken van de MQTT-client, annuleren."
	IDS_ERRORID_MQTT_CLIENT_OK		"De MMQTT-client is succesvol aangemaakt, ga verder..."
	IDS_ERRORID_MQTT_CONNECTED		"Verbonden met MQTT-server:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Kan geen verbinding maken met de MQTT-server:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Verbinding verbroken met MQTT-server:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"CA-certificaatbestand bestaat niet, pad = '{0}'"
	IDS_ERRORID_MQTT_START			"De Smart Home-bedieningsservice is gelanceerd."
	IDS_ERRORID_MQTT_STOP			"De Smart Home-bedieningsservice is gestopt."
	IDS_ERRORID_MQTT_CA_FILTER		"CA-certificaat"
	IDS_ERRORID_LOG_LEVEL_NONE		"er wordt geen logboek bijgehouden"
	IDS_ERRORID_LOG_LEVEL_INFO		"informatie"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"meldingen"
	IDS_ERRORID_LOG_LEVEL_WARNING		"waarschuwingen"
	IDS_ERRORID_LOG_LEVEL_ERR		"alleen maar fouten"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"alle berichten"
	IDS_ERRORID_PANEL_INDEX			"Audiomixerpaneel - Kan niet doorgaan, indexitems zijn onjuist."
	IDS_ERRORID_PANEL_INIT			"Audiomixerpaneel - kan niet doorgaan, initialisatiefout."
	IDS_ERRORID_PANEL_ENABLE		"Het audiomixerpaneelvenster heeft niet de juiste status en de volgende handeling kan niet worden voortgezet."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Het audiomixerpaneel wordt niet aangeroepen op een UI-thread en er kunnen geen wijzigingen worden aangebracht."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Het audiomixerpaneel heeft een ongeldig element gedetecteerd en het maken van het paneelvenster is afgebroken."
	IDS_ERRORID_LIGHT_DMX_START		"De DMX-lichtbesturingsservice wordt gestart met COM{0} - {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"De DMX-lichtbedieningsservice is niet actief, het COM{0}-apparaat is niet aangesloten."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"De DMX-lichtbesturingsservice is niet actief en de serviceconfiguratie is niet ingevuld."
	IDS_ERRORID_LIGHT_DMX_STOP		"De DMX-lichtbesturingsservice is gestopt."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Er zijn geen geschikte apparaten beschikbaar"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Selecteer DMX-apparaat"
	IDS_ERRORID_LIGHT_ARTNET_START		"De ArtNet Lighting Control Service gebruikt het uitzendadres {0}:{1} op netwerk {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"ArtNet-lichtbedieningsservice is niet actief, netwerk {0} niet gevonden.."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"De ArtNet-lichtbedieningsservice is niet actief, de serviceconfiguratie is niet ingevuld."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"De ArtNet-lichtbedieningsservice is gestopt."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Er zijn geen geschikte interfaces beschikbaar"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Selecteer ARTNET-interface"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Initialisatiefout van plug-in, kan CLSID/GUID van de opgegeven tekenreeks niet converteren."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Kan de plug-ins niet initialiseren. Er zijn geen compatibele plug-ins gevonden."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Kan plug-ins niet laden, {0} vooraf geïnitialiseerd, 0 plug-ins geladen."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Plug-ins succesvol geïnitialiseerd, pre-initialisatie {0}, {1} plug-ins geladen."
	IDS_ERRORID_BRIDGE_OK_START		"Bridge is succesvol gestart, {0} geïnitialiseerd, {1} geladen, {2} plug-ins actief."
	IDS_ERRORID_BRIDGE_NOT_START		"Kan de bridge niet starten, fout bij het starten van plug-ins, {0} geïnitialiseerd, {1} plug-ins geladen."
	IDS_ERRORID_BRIDGE_OK_STOP		"Bridge is succesvol gestopt, {0} geïnitialiseerd, {1} geladen, {2} gestart, {3} plug-ins gestopt."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Kan bridge niet stoppen, fout bij stoppen van plug-ins, {0} geïnitialiseerd, {1} geladen, {2} plug-ins actief."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"De plug-ins zijn al geladen. Reset deze voordat u opnieuw opstart."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"De brug is al gelanceerd."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"De brug staat al stil."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Kan de plug-inmodule niet openen. De module ontbreekt of is beschadigd, de DLL is niet geladen en is null geretourneerd."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"De module is geen MIDI-MT-plug-in en de vereiste toegangspunten ontbreken."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Ingeschakeld={0}, instellingen={1}, actief={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Configuratie bijgewerkt: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Geen modules gevonden, opstarten onmogelijk."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Bewerk de configuratie voordat u begint."
	IDS_ERRORID_MIDIMT_CONFFILTER		"Het configuratiebestand"
	IDS_ERRORID_MIDIMT_EXEFILTER		"Uitvoerbare bestanden"
	IDS_ERRORID_MIDIMT_JSONFILTER		"MQTT-configuratiebestanden"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Configuratie geladen uit bestand: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Configuratie geladen vanuit stuurprogramma"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"De geselecteerde taal {0} zal actief zijn nadat het venster opnieuw is opgestart."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Geïnstalleerde versie van het virtuele MIDI-stuurprogramma: {0}"
	IDS_ERRORID_REMOTE_START		"De afstandsbedieningsservice is gestart."
	IDS_ERRORID_REMOTE_STOP			"De afstandsbedieningsservice is gestopt."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Nieuwe klant {0}/{1} is verbonden."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Clientfout {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Client {0}/{1} verbinding verbroken, status: {2} - {3}."

	IDS_ERRORID_JOY_NODRIVER		"Er is geen joystick- of gamepad-stuurprogramma."
	IDS_ERRORID_JOY_INVALIDPARAM		"De opgegeven joystick-ID is ongeldig."
	IDS_ERRORID_JOY_NOCANDO			"De joystickinvoer kan niet worden geschreven en de vereiste service is niet beschikbaar."
	IDS_ERRORID_JOY_UNPLUGGED		"De opgegeven joystick is niet met het systeem verbonden."
	IDS_ERRORID_JOY_START			"De gamepad-/joystickbedieningsservice is actief, actieve apparaten: {0}, online: {1}."
	IDS_ERRORID_JOY_STOP			"De gamepad-/joystickbedieningsservice is gestopt."
	IDS_ERRORID_JOY_CHANGE_SCENE		"De besturingsscène is per gamepad of joystick gewijzigd naar {0}."
	IDS_ERRORID_JOY_CHANGE_CTRL		"De besturing {0}/{1} wordt geselecteerd met de gamepad of joystick."

	IDS_ERRORID_COPY_LINK			"Link gekopieerd naar klembord."
	IDS_ERRORID_NET_IFACE_NONE		"Geen netwerkinterfaces"
	IDS_ERRORID_NET_IFACE_SELECT		"Selecteer netwerkinterface"
	IDS_ERRORID_TIMEOUT_EXPIRED		"Wachttime-out is verstreken, wachten is beëindigd.."

	IDS_ERRORID_SCRIPT_ERROR		"Fout bij uitvoering van script: {0}"
	IDS_ERRORID_SCRIPT_EMPTY		"Het script is leeg!"
	IDS_ERRORID_SCRIPT_MODIFY		"Script gewijzigd: {0}"
	IDS_ERRORID_SCRIPT_LOADED		"Scripts geladen: {0}"
	IDS_ERRORID_SCRIPT_NOTFOUND		"Geen scripts gevonden in map {0}"
	IDS_ERRORID_SCRIPT_START		"De scriptengine is actief, beschikbare scripts: {0}."
	IDS_ERRORID_SCRIPT_STOP			"De scriptengine is gestopt."
	IDS_ERRORID_SCRIPT_DIRFILTER		"Scriptbestanden"
	IDS_ERRORID_SCRIPT_CALL			"Script uitvoeren: {0}"
	IDS_ERRORID_SCRIPT_RESCAN		"Ik herlees de scriptcatalogus..."
	IDS_ERRORID_SCRIPT_STOPALL		"Gestopt met het uitvoeren van scripts: {0}"

	IDS_ERRORID_FILEWATCH_OPEN		"Kan map niet openen: {0}"
	IDS_ERRORID_FILEWATCH_PARAM		"De map met de opgegeven parameters kan niet worden gelezen. Ik ben bezig met het monitoren van de map."
	IDS_ERRORID_FILEWATCH_SHUTDOWN		"onverwachte beëindiging van directorymonitoring"
	IDS_ERRORID_FILEWATCH_NOACCESS		"problemen met toegang tot de directory, mogelijk onjuiste leesbuffergrootte"

	IDS_ERRORID_NONE			"-"
END
