#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_DUTCH, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	IDS_RB_DIALOG_LAST_OPENL	"Laatste bestanden:"
	IDS_RB_TABHOMEL			"Bewerken"
	IDS_RB_TABFILTERL		"Filters"
	IDS_RB_PANEL_EDITMAINL		"MIDI-sleutel bewerken"
	IDS_RB_PANEL_EDITSETL		"stel de MIDI-sleutel in als..."
	IDS_RB_PANEL_EDITOPTL		"editor opties"
	IDS_RB_PANEL_FILTERL		"selectie van weergavefilters"
	IDS_RB_PANEL_SORTL		"sorteren"
	IDS_RB_MENUL			"&Menu"
	IDS_RB_MENUT			"Applicatiemenu"
	IDS_RB_PANEL_QATL		"&Snelle toegang"
	IDS_RB_PANEL_QATT		"Werkbalk Snelle toegang"
	IDS_RB_DIALOG_SAVEL		"&Redden"
	IDS_RB_DIALOG_SAVET		"Opslaan en toepassen"
	IDS_RB_DIALOG_SAVED		"Sla het bestand op in het eerder gedownloade bestand en update de huidige configuratie."
	IDS_RB_DIALOG_EXPORTL		"&Exporteren"
	IDS_RB_DIALOG_EXPORTT		"Exporteren naar een nieuw bestand"
	IDS_RB_DIALOG_EXPORTD		"Exporteer de bewerkte configuratie naar een nieuw bestand."
	IDS_RB_DIALOG_IMPORTL		"&Importeren"
	IDS_RB_DIALOG_IMPORTT		"Importeren uit bestand"
	IDS_RB_DIALOG_IMPORTD		"Configuratie uit bestand importeren."
	IDS_RB_DIALOG_EXITL		"&Uitgang"
	IDS_RB_DIALOG_EXITT		"Verlaat de editor"
	IDS_RB_DIALOG_EXITD		"Sluit de MIDI Key Configuration Editor af; als de wijzigingen niet worden opgeslagen, gaan ze verloren."
	IDS_RB_LV_NEWL			"&Nieuwe MIDI-sleutel"
	IDS_RB_LV_NEWT			"Nieuwe MIDI-sleutel"
	IDS_RB_LV_NEWD			"Een nieuwe MIDI-sleutel maken."
	IDS_RB_LV_COPYL			"&Kopiëren"
	IDS_RB_LV_COPYT			"Kopieer MIDI-sleutel"
	IDS_RB_LV_COPYD			"Kopieer de geselecteerde MIDI-sleutelinvoer."
	IDS_RB_LV_PASTEL		"&Invoegen"
	IDS_RB_LV_PASTET		"Sleutel insteken"
	IDS_RB_LV_PASTED		"Plak de gekopieerde MIDI-sleutel."
	IDS_RB_LV_DELETEL		"&Verwijderen"
	IDS_RB_LV_DELETET		"Sleutel verwijderen"
	IDS_RB_LV_DELETED		"Verwijder de geselecteerde MIDI-toetsinvoer."
	IDS_RB_LV_SET_MQTTL		"Slim huis"
	IDS_RB_LV_SET_MQTTT		"Stel de groep in als “Smart Home”."
	IDS_RB_LV_SET_MQTTD		"Wijs de geselecteerde MIDI-toets toe aan de ‘Smart Home’-groep."
	IDS_RB_LV_SET_MMKEYL		"Multimediaknoppen"
	IDS_RB_LV_SET_MMKEYT		"Stel de groep in als 'Multimediaknoppen'"
	IDS_RB_LV_SET_MMKEYD		"Wijs de geselecteerde MIDI-toets toe aan de groep 'Multimedia Buttons'."
	IDS_RB_LV_SET_MIXERL		"Audiomixer"
	IDS_RB_LV_SET_MIXERT		"Groep instellen als “Audiomixer”"
	IDS_RB_LV_SET_MIXERD		"Wijs de geselecteerde MIDI-toets toe aan de groep 'Audio Mixer'."
	IDS_RB_LV_READ_MIDI_CODEL	"MIDI-code lezen"
	IDS_RB_LV_READ_MIDI_CODET	"MIDI-besturingscode lezen"
	IDS_RB_LV_READ_MIDI_CODED	"Lees MIDI-code van een bedieningsoppervlak of MIDI-toetsenbord."
	IDS_RB_LV_EDIT_MODEL		"Alleen digitale ingang"
	IDS_RB_LV_EDIT_MODET		"Gebruik alleen digitale ingang"
	IDS_RB_LV_EDIT_MODED		"Gebruik niet het waardeselectiemenu, gebruik alleen digitale ingang."
	IDS_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI-bedieningspaneel"
	IDS_RB_DIALOG_SHOW_MIDI_KEYST	"Aanbevolen instellingen"
	IDS_RB_DIALOG_SHOW_MIDI_KEYSD	"Aanbevolen MIDI-configuratiescherminstellingen die compatibel zijn met Adobe Premiere Pro-besturingselementen."
	IDS_RB_LV_FILTER_EMBEDL		"Ingebouwde filters"
	IDS_RB_LV_FILTER_KEYL		"Sleutel"
	IDS_RB_LV_FILTER_KEYT		"Filter op MIDI-sleutel"
	IDS_RB_LV_FILTER_KEYD		"Toon alleen overeenkomsten binnen een MIDI-sleutelgroep."
	IDS_RB_LV_FILTER_SCENEL		"Tafereel"
	IDS_RB_LV_FILTER_SCENET		"Filter op MIDI-scène"
	IDS_RB_LV_FILTER_SCENED		"Toon alleen overeenkomsten in de MIDI-scènegroep."
	IDS_RB_LV_FILTER_TARGETL	"Doel 1"
	IDS_RB_LV_FILTER_TARGETT	"Filter op bestemming 1"
	IDS_RB_LV_FILTER_TARGETD	"Toon alleen matches in de doelgroep 1."
	IDS_RB_LV_FILTER_TARGETLONGL	"Doel 2"
	IDS_RB_LV_FILTER_TARGETLONGT	"Filter op bestemming 2"
	IDS_RB_LV_FILTER_TARGETLONGD	"Toon alleen matches in de doelgroep 2."
	IDS_RB_LV_FILTER_CLEARL		"Filters wissen"
	IDS_RB_LV_FILTER_CLEART		"Filters reinigen"
	IDS_RB_LV_FILTER_CLEARD		"Volledig duidelijke filters, alle vermeldingen worden getoond."
	IDS_RB_LV_FILTER_SETL		"Filter instellen"
	IDS_RB_LV_FILTER_SETT		"Filterinstallatie"
	IDS_RB_LV_FILTER_SETD		"Als u het filter instelt, worden alle ongeldige items weergegeven."
	IDS_RB_LV_FILTER_ONL		"Voeg filter toe"
	IDS_RB_LV_FILTER_ONT		"Een filter toepassen"
	IDS_RB_LV_FILTER_OND		"Als u een filter toepast, worden de geselecteerde items weergegeven."
	IDS_RB_LV_FILTER_OFFL		"Filter annuleren"
	IDS_RB_LV_FILTER_OFFT		"Filter annuleren"
	IDS_RB_LV_FILTER_OFFD		"Als u het filter annuleert, worden alle items weergegeven."
	IDS_RB_LV_FILTER_MMKEYL		"Toon “Multimediaknoppen”"
	IDS_RB_LV_FILTER_MMKEYT		"Filter op de groep “Multimediaknoppen”."
	IDS_RB_LV_FILTER_MMKEYD		"Als u een filter toepast, worden de leden van de groep Multimediaknoppen weergegeven."
	IDS_RB_LV_FILTER_MIXERL		"Toon “Audiomixer”"
	IDS_RB_LV_FILTER_MIXERT		"Filter op de groep “Audiomixer”."
	IDS_RB_LV_FILTER_MIXERD		"Als u een filter toepast, worden de leden van de Audio Mixer-groep weergegeven."
	IDS_RB_LV_FILTER_MQTTL		"Toon “Smart Home”"
	IDS_RB_LV_FILTER_MQTTT		"Filter op ‘Smart Home’-groep"
	IDS_RB_LV_FILTER_MQTTD		"Als u een filter toepast, worden de leden van de Smart Home-groep weergegeven."
	IDS_RB_LV_FILTER_TYPEBTNL	"Filtertype"
	IDS_RB_LV_FILTER_TYPEBTNT	"Het type filters instellen dat moet worden toegepast"
	IDS_RB_LV_FILTER_TYPEBTND	"De gebruikte typen filters hebben twee logische statussen: “AND”, “OR”."
	IDS_RB_LV_FILTER_TYPEGRPL	"Een filtertype selecteren"
	IDS_RB_LV_FILTER_TYPEORL	"Toon eventuele overeenkomsten"
	IDS_RB_LV_FILTER_TYPEORT	"Toon inzendingen met elke match"
	IDS_RB_LV_FILTER_TYPEORD       	"Het filter heeft een logische EN-status en toont eventuele overeenkomsten."
	IDS_RB_LV_FILTER_TYPEANDL	"Toon alleen volledige overeenkomsten"
	IDS_RB_LV_FILTER_TYPEANDT	"Toon alleen records met exacte overeenkomsten"
	IDS_RB_LV_FILTER_TYPEANDD	"Het filter heeft een logische OR-status en toont alleen volledige overeenkomsten."
	IDS_RB_LV_FILTER_AUTOCOMMITL	"Automatisch verzenden van gegevens in het filter"
	IDS_RB_LV_FILTER_AUTOCOMMITT	"Automatisch verzenden van ingevoerde waarden in het filter"
	IDS_RB_LV_FILTER_AUTOCOMMITD	"Verzendt automatisch invoerwaarden in een ingebouwd filter."
	IDS_RB_LV_EXT_MODEL		"Sortering weergeven"
	IDS_RB_LV_SORTUP_KEYL		"per sleutel"
	IDS_RB_LV_SORTUP_KEYT		"Sorteer op oplopend en MIDI-sleutel."
	IDS_RB_LV_SORTUP_SCENEL		"rond het podium"
	IDS_RB_LV_SORTUP_SCENET		"Sorteren op oplopend en MIDI-scène."
	IDS_RB_LV_SORTUP_TARGETL	"op afspraak 1"
	IDS_RB_LV_SORTUP_TARGETT	"Sorteer op oplopend en MIDI-bestemming 1."
	IDS_RB_LV_SORTUP_TARGETLONGL	"op afspraak 2"
	IDS_RB_LV_SORTUP_TARGETLONGT	"Sorteren op oplopend en MIDI-bestemming 2."
	IDS_RB_LV_SORTDOWN_KEYT		"Sorteren op aflopend en MIDI-sleutel."
	IDS_RB_LV_SORTDOWN_SCENET	"Sorteren op aflopende volgorde en MIDI-scène."
	IDS_RB_LV_SORTDOWN_TARGETT	"Sorteren op aflopende volgorde en MIDI-bestemming 1."
	IDS_RB_LV_SORTDOWN_TARGETLONGT	"Sorteren op aflopende volgorde en MIDI-bestemming 2."
END
