#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_SLOVENIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"Prevajalnik MIDI-MT"
    STRING_MIXER	"&Mešalnik"
    STRING_SETTINGS	"&Nastavitve"
    STRING_START	"Začetek"
    STRING_STOP		"Stop"
    STRING_EXIT		"Izhod"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Konfiguracija, naložena iz gonilnika"
    STRING_EDIT_MSG2	"Konfiguracija naložena iz datoteke"
    STRING_EDIT_MSG3	"Konfiguracija je bila ustvarjena na novo in jo je treba izpolniti"
    STRING_EDIT_MSG4	"Ob odpiranju urejevalnika je bila navedena konfiguracijska datoteka: '{0}'. Ali ga shranim z istim imenom?"
    STRING_EDIT_MSG5	"Številka kanala DMX"

    STRING_NOTIFY_MSG1	"prevajalec se ustavi:"
    STRING_NOTIFY_MSG2	"prevajalec dela:"

    STRING_AMIX_MSG1	"Zvočni mešalnik ne deluje, preverite nastavitve, zagon zvočne plošče mora biti omogočen."
    STRING_AMIX_MSG2	"MIDIMT - Zvočni mešalnik ne deluje:"
    STRING_AMIX_MSG3	"Neveljaven ID dogodka. Ponovno zaženite to aplikacijo."
    STRING_AMIX_MSG4	"MIDIMT – operacije ni mogoče dokončati:"
    STRING_AMIX_MSG5	"Preklop na nit uporabniškega vmesnika ni uspel, zagon zvočne plošče je prekinjen."

    STRING_MAIN_MSG1	"Napaka pri inicializaciji aplikacije, nadaljevanje ni mogoče."
    STRING_MAIN_MSG2	"Preverite dovoljenja uporabnika za pisanje datotek v imenik aplikacij. Če se napaka ponovi, poskusite onemogočiti beleženje."
    STRING_MAIN_MSG3	"Samodejni zagon je v splošni konfiguraciji onemogočen."
    STRING_MAIN_MSG4	"Izbrana konfiguracija ne podpira samodejnega zagona."

    STRING_LOGV_MSG1	"Prosimo, da pred zagonom monitorja zaženete prevajalnik iz menija z izbiro 'Začni'."
    STRING_LOGV_MSG2	"Vse nastavitve '{0}', različica konfiguracijske datoteke: {1}"
    STRING_LOGV_MSG3	"Nastavitve MIDI"
    STRING_LOGV_MSG4	"Nastavitve pametnega doma (MQTT)"
    STRING_LOGV_MSG5	"Nastavitve multimedijske tipkovnice (MMKEYS)"
    STRING_LOGV_MSG6	"Nastavitve nadzora osvetlitve ({0})"
    STRING_LOGV_MSG7	"Nastavitve daljinske nadzorne plošče (REMOTE)"
    STRING_LOGV_MSG8	"Nastavitve krmilne plošče/krmilne palice (GAMEPAD)"
    STRING_LOGV_MSG9	"Pritisnjena tipka MIDI:"
    STRING_LOGV_MSG10	"Številka oznake:"

    STRING_CHKR_MSG1	"Ob zagonu je bila navedena konfiguracijska datoteka: '{0}'. Nastaviti kot konfiguracijo za naslednje zagone?"
    STRING_CHKR_MSG2	"Konfiguracija MIDI-MT"

    STRING_TMENU_MSG1	"Namestiti morate gonilnik Virtual MIDI!"

    STRING_LANG_STATUS	"stanje:"
    STRING_LANG_YES	"ja"
    STRING_LANG_NO	"št"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "glasnost zvoka (glavna)"
	IDM_COL4_MAP  "zvočno ravnovesje (osnovno)"
	IDM_COL4_MAM  "utišaj (glavno)"
	IDM_COL4_MAS  "avdio solo (glavni)"
	IDM_COL4_JOG  "JOG (previjanje videa nazaj)"
	IDM_COL4_AV1  "glasnost zvoka (kanal 1)"
	IDM_COL4_AV2  "glasnost zvoka (2. kanal)"
	IDM_COL4_AV3  "glasnost zvoka (3. kanal)"
	IDM_COL4_AV4  "glasnost zvoka (kanal 4)"
	IDM_COL4_AV5  "glasnost zvoka (kanal 5)"
	IDM_COL4_AV6  "glasnost zvoka (kanal 6)"
	IDM_COL4_AV7  "glasnost zvoka (kanal 7)"
	IDM_COL4_AV8  "glasnost zvoka (kanal 8)"
	IDM_COL4_XV9  "glasnost zvoka (kanal 9)"
	IDM_COL4_AP1  "zvočno ravnovesje (kanal 1)"
	IDM_COL4_AP2  "zvočno ravnovesje (kanal 2)"
	IDM_COL4_AP3  "zvočno ravnovesje (kanal 3)"
	IDM_COL4_AP4  "zvočno ravnovesje (kanal 4)"
	IDM_COL4_AP5  "zvočno ravnovesje (kanal 5)"
	IDM_COL4_AP6  "zvočno ravnovesje (kanal 6)"
	IDM_COL4_AP7  "zvočno ravnovesje (kanal 7)"
	IDM_COL4_AP8  "zvočno ravnovesje (kanal 8)"
	IDM_COL4_XP9  "zvočno ravnovesje (kanal 9)"
	IDM_COL4_B11  "avdio solo (kanal 1)"
	IDM_COL4_B12  "avdio solo (kanal 2)"
	IDM_COL4_B13  "avdio solo (kanal 3)"
	IDM_COL4_B14  "avdio solo (kanal 4)"
	IDM_COL4_B15  "avdio solo (kanal 5)"
	IDM_COL4_B16  "avdio solo (kanal 6)"
	IDM_COL4_B17  "avdio solo (kanal 7)"
	IDM_COL4_B18  "avdio solo (kanal 8)"
	IDM_COL4_B19  "avdio solo (kanal 9)"
	IDM_COL4_B21  "utišanje (kanal 1)"
	IDM_COL4_B22  "utišaj (kanal 2)"
	IDM_COL4_B23  "utišanje (kanal 3)"
	IDM_COL4_B24  "utišaj (kanal 4)"
	IDM_COL4_B25  "utišaj (kanal 5)"
	IDM_COL4_B26  "utišaj (kanal 6)"
	IDM_COL4_B27  "utišaj (kanal 7)"
	IDM_COL4_B28  "utišaj (kanal 8)"
	IDM_COL4_B29  "utišaj (kanal 9)"
	IDM_COL4_B31  "izbira zvoka (kanal 1)"
	IDM_COL4_B32  "izbira zvoka (kanal 2)"
	IDM_COL4_B33  "izbira zvoka (kanal 3)"
	IDM_COL4_B34  "izbira zvoka (kanal 4)"
	IDM_COL4_B35  "izbira zvoka (kanal 5)"
	IDM_COL4_B36  "izbira zvoka (kanal 6)"
	IDM_COL4_B37  "izbira zvoka (kanal 7)"
	IDM_COL4_B38  "izbira zvoka (kanal 8)"
	IDM_COL4_B39  "izbira zvoka (kanal 9)"
	IDM_COL4_FUN11  "funkcija F1 (standardni način)"
	IDM_COL4_FUN12  "funkcija F2 (standardni način)"
	IDM_COL4_FUN13  "funkcija F3 (standardni način)"
	IDM_COL4_FUN14  "funkcija F4 (standardni način)"
	IDM_COL4_FUN15  "funkcija F5 (standardni način)"
	IDM_COL4_FUN16  "funkcija F6 (standardni način)"
	IDM_COL4_FUN17  "funkcija F7 (standardni način)"
	IDM_COL4_FUN18  "funkcija F8 (standardni način)"
	IDM_COL4_FUN21  "funkcija F1 (zadržani način)"
	IDM_COL4_FUN22  "funkcija F2 (zadržani način)"
	IDM_COL4_FUN23  "funkcija F3 (zadržani način)"
	IDM_COL4_FUN24  "funkcija F4 (zadržani način)"
	IDM_COL4_FUN25  "funkcija F5 (zadržani način)"
	IDM_COL4_FUN26  "funkcija F6 (zadržani način)"
	IDM_COL4_FUN27  "funkcija F7 (zadržani način)"
	IDM_COL4_FUN28  "funkcija F8 (zadržani način)"
	IDM_COL4_SYS_Rewind  "Previj nazaj (igralec)"
	IDM_COL4_SYS_Forward  "Hitro naprej (igralec)"
	IDM_COL4_SYS_Stop  "Stop (igralec)"
	IDM_COL4_SYS_Play  "Igraj (igralec)"
	IDM_COL4_SYS_Record  "Snemanje (predvajalnik)"
	IDM_COL4_SYS_Up    "Gor (krmilna palica)"
	IDM_COL4_SYS_Down  "Dol (krmilna palica)"
	IDM_COL4_SYS_Left  "Levo (krmilna palica)"
	IDM_COL4_SYS_Right  "Desno (krmilna palica)"
	IDM_COL4_SYS_Zoom  "Porast"
	IDM_COL4_SYS_Scrub  "Piling"
	IDM_COL4_VOLUMEMIX "Nadzor mešalnika"
	IDM_COL4_MEDIAKEY "Multimedijske tipke"
        IDM_COL4_MQTTKEY  "Upravljanje pametnega doma"
        IDM_COL4_LIGHTKEY8B "Nadzor osvetlitve (8 bitov)"
        IDM_COL4_LIGHTKEY16B "Nadzor osvetlitve (16 bit)"
	IDM_COL4_NONE  "dejanje ni definirano"
	IDM_COL4_MQTT_AV1		"stopnja 1"
	IDM_COL4_MQTT_AV2		"stopnja 2"
	IDM_COL4_MQTT_AV3		"stopnja 3"
	IDM_COL4_MQTT_AV4		"stopnja 4"
	IDM_COL4_MQTT_AV5		"stopnja 5"
	IDM_COL4_MQTT_AV6		"stopnja 6"
	IDM_COL4_MQTT_AV7		"stopnja 7"
	IDM_COL4_MQTT_AV8		"stopnja 8"
	IDM_COL4_MQTT_XV9		"stopnja 9"
	IDM_COL4_MQTT_AP1		"stopnja 10"
	IDM_COL4_MQTT_AP2		"stopnja 11"
	IDM_COL4_MQTT_AP3		"stopnja 12"
	IDM_COL4_MQTT_AP4		"stopnja 13"
	IDM_COL4_MQTT_AP5		"stopnja 14"
	IDM_COL4_MQTT_AP6		"stopnja 15"
	IDM_COL4_MQTT_AP7		"stopnja 16"
	IDM_COL4_MQTT_AP8		"stopnja 17"
	IDM_COL4_MQTT_XP9		"stopnja 18"
	IDM_COL4_MQTT_B11		"vklop/izklop 1"
	IDM_COL4_MQTT_B12		"vklop/izklop 2"
	IDM_COL4_MQTT_B13		"vklop/izklop 3"
	IDM_COL4_MQTT_B14		"vklop/izklop 4"
	IDM_COL4_MQTT_B15		"vklop/izklop 5"
	IDM_COL4_MQTT_B16		"vklop/izklop 6"
	IDM_COL4_MQTT_B17		"vklop/izklop 7"
	IDM_COL4_MQTT_B18		"vklop/izklop 8"
	IDM_COL4_MQTT_B19		"vklop/izklop 9"
	IDM_COL4_MQTT_B21		"vklop/izklop 10"
	IDM_COL4_MQTT_B22		"vklop/izklop 11"
	IDM_COL4_MQTT_B23		"vklop/izklop 12"
	IDM_COL4_MQTT_B24		"vklop/izklop 13"
	IDM_COL4_MQTT_B25		"vklop/izklop 14"
	IDM_COL4_MQTT_B26		"vklop/izklop 15"
	IDM_COL4_MQTT_B27		"vklop/izklop 16"
	IDM_COL4_MQTT_B28		"vklop/izklop 17"
	IDM_COL4_MQTT_B29		"vklop/izklop 18"
	IDM_COL4_MQTT_B31		"vklop/izklop 19"
	IDM_COL4_MQTT_B32		"vklop/izklop 20"
	IDM_COL4_MQTT_B33		"vklop/izklop 21"
	IDM_COL4_MQTT_B34		"vklop/izklop 22"
	IDM_COL4_MQTT_B35		"vklop/izklop 23"
	IDM_COL4_MQTT_B36		"vklop/izklop 24"
	IDM_COL4_MQTT_B37		"vklop/izklop 25"
	IDM_COL4_MQTT_B38		"vklop/izklop 26"
	IDM_COL4_MQTT_B39		"vklop/izklop 27"
	IDM_COL4_MQTT_NONE		"Ni dodeljena"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"v redu"
	IDS_ERRORID_EMPTY			"[Konfiguracija je prazna..]"
	IDS_ERRORID_UNDEFINED			"Ta napaka je nedefinirana"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Dostop za pisanje v konfiguracijsko datoteko je zavrnjen, '{0}'"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Manjka konfiguracijska datoteka ali je dostop zavrnjen, '{0}'"
	IDS_ERRORID_JSONCONF_EMPTY		"Konfiguracijska datoteka je prazna, '{0}'"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"Ime naprave MIDI ni konfigurirano."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"V tej konfiguraciji ni konfiguriranih tipk MIDI."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Pozor, ta konfiguracija nima konfiguriranih tipk MIDI! posneta konfiguracija ne bo delovala."
	IDS_ERRORID_INIT_COINITIALIZE		"Co*Initialize inicializacija ni uspela."
	IDS_ERRORID_INIT_COCREATE		"Co*Create - ni uspelo ustvariti primerka."
	IDS_ERRORID_INIT_DEFAULT_AE		"Privzete zvočne naprave ni bilo mogoče pridobiti."
	IDS_ERRORID_INIT_AS_MANAGER2		"Upravitelj zvočnih sej se je zrušil."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Merilnik zvočnih konic ni na voljo."
	IDS_ERRORID_MIXER_STARTOK		"Mešalnik zvočne seje deluje, ob zagonu je na voljo {0} programov, ki se izvajajo za regulacijo."
	IDS_ERRORID_MIXER_STARTERROR		"Mešalnika zvočne seje ni bilo mogoče zagnati, podrobnosti o napaki bi morale biti v dnevniški datoteki."
	IDS_ERRORID_MIXER_STOPOK		"Mešalnik zvočne seje se je ustavil."
	IDS_ERRORID_MIXER_STOPERROR		"Mešalnik zvočne seje ni bil pravilno ustavljen, podrobnosti o napaki bi morale biti v dnevniški datoteki."
	IDS_ERRORID_NO_INIT			"Inicializiraj pred klicem tega.."
	IDS_ERRORID_SESSION_LIST		"Seznama zvočnih sej ni bilo mogoče pridobiti."
	IDS_ERRORID_LISTISNULL			"Seznam avdio sej je prazen!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Onemogočanje zvočne seje, reason='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Avdio seja ustvarjena, name='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Zvočna seja '{0}' - napačno stanje registracije '{1}': {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"Vrednost, ki se nastavi iz povratnega klica, je neveljaven izbirnik."
	IDS_ERRORID_SET_CB_WARNING		"Nastavitev povratnega klica je možna šele po uspešnem zagonu mostu MIDI."
	IDS_ERRORID_CONFIG_FAIL			"Nalaganje konfiguracije ni uspelo, datoteka ni najdena, zagon ni mogoč."
	IDS_ERRORID_CONFIG_LOAD			"Konfiguracija naložena.."
	IDS_ERRORID_CONFIG_LOADA		"Konfiguracija je že naložena.."
	IDS_ERRORID_CONFIG_EMPTY		"Konfiguracija je prazna.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"Konfiguracija za modul {0} je prazna.."
	IDS_ERRORID_CONFIG_NEW			"Zaznana nova različica konfiguracije.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Nepodprta implementacija v kodi, metoda ni preglasena: {0}"
	IDS_ERRORID_NOT_CONFIG			"Ime konfiguracije ni podano in ga ni mogoče nadaljevati."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Naprave niso povezane in ne morejo nadaljevati."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Pozor, neujemanje števila naprav na končnem seznamu, sistem/seznam = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Naprave MIDI ni mogoče odpreti, ni mogoče nadaljevati, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Naprave MIDI ni mogoče zagnati, nadaljevati ni mogoče, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Naprava ni povezana, prekinitev, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Najdena naprava {0}, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Naprava {0} odprta, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Naprava {0} zaprta (sistem)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Naprava {0} pripravljena (sistem)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Ime za aktivno napravo ni določeno, nadaljevanje ni mogoče, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Proxy vrata niso navedena v konfiguraciji, MIDI proxy je onemogočen."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Različica gonilnika [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Težava z različico gonilnika [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Naprava {0} je poslala neveljavno vrednost = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"Navidezni gonilnik MIDI ni nameščen. Namestiti morate paket loopMidi ali prenesti celoten namestitveni program in znova namestiti MIDI-MT. Več podrobnosti: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Nameščenega gonilnika Virtual MIDI ni bilo mogoče najti! Za zagon prevajalnika MIDI-MT morate namestiti paket MIDI Virtual Loop."
	IDS_ERRORID_MIDI_PROXY_PORTS		"Ob zagonu bo ustvarjenih {0} proxy vrat MIDI."
	IDS_ERRORID_MIDI_PROXY_OFF		"Proxy vrata MIDI so onemogočena."
	IDS_ERRORID_MIDI_OUT_PORTS		"Ob zagonu bodo ustvarjena {0} izhodna vrata MIDI."
	IDS_ERRORID_MIDI_OUT_OFF		"Izhodna vrata MIDI so onemogočena."
	IDS_ERRORID_MMKEY_START			"Storitev upravljanja medijskih ključev se izvaja."
	IDS_ERRORID_MMKEY_STOP			"Storitev upravljanja medijskih ključev se je ustavila."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"Konfiguracija MQTT je prazna in je ni mogoče nadaljevati."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Napaka pri ustvarjanju odjemalca MQTT, preklic."
	IDS_ERRORID_MQTT_CLIENT_OK		"Odjemalec MMQTT je bil uspešno ustvarjen, nadaljujte ..."
	IDS_ERRORID_MQTT_CONNECTED		"Povezan s strežnikom MQTT:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Povezava s strežnikom MQTT ni uspela:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Prekinjena povezava s strežnikom MQTT:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"Datoteka potrdila CA ne obstaja, pot = '{0}'"
	IDS_ERRORID_MQTT_START			"Uvedena je storitev nadzora pametnega doma."
	IDS_ERRORID_MQTT_STOP			"Storitev nadzora pametnega doma je bila ustavljena."
	IDS_ERRORID_MQTT_CA_FILTER		"potrdilo CA"
	IDS_ERRORID_LOG_LEVEL_NONE		"dnevnik se ne vodi"
	IDS_ERRORID_LOG_LEVEL_INFO		"informacije"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"obvestila"
	IDS_ERRORID_LOG_LEVEL_WARNING		"opozorila"
	IDS_ERRORID_LOG_LEVEL_ERR		"samo napake"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"vsa sporočila"
	IDS_ERRORID_PANEL_INDEX			"Plošča mešalnika zvoka - ni mogoče nadaljevati, elementi indeksa so napačni."
	IDS_ERRORID_PANEL_INIT			"Zvočna mešalna plošča - ni mogoče nadaljevati, napaka pri inicializaciji."
	IDS_ERRORID_PANEL_ENABLE		"Okno plošče mešalnika zvoka nima pravilnega statusa in naslednjega postopka ni mogoče nadaljevati."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Plošča mešalnika zvoka ni priklicana v niti uporabniškega vmesnika in sprememb ni mogoče izvesti."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Plošča mešalnika zvoka je zaznala neveljaven element in ustvarjanje okna plošče je bilo prekinjeno."
	IDS_ERRORID_LIGHT_DMX_START		"Storitev za nadzor razsvetljave DMX se zažene s COM{0} - {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"Storitev za nadzor osvetlitve DMX se ne izvaja, naprava COM{0} ni povezana.."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"Storitev za nadzor osvetlitve DMX se ne izvaja in konfiguracija storitve ni izpolnjena."
	IDS_ERRORID_LIGHT_DMX_STOP		"Storitev za nadzor osvetlitve DMX se je ustavila."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Na voljo ni ustreznih naprav"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Izberite napravo DMX"
	IDS_ERRORID_LIGHT_ARTNET_START		"ArtNet Lighting Control Service se izvaja z oddajnim naslovom {0}:{1} v omrežju {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"Storitev za nadzor osvetlitve ArtNet se ne izvaja, omrežja {0} ni mogoče najti.."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"Storitev za nadzor razsvetljave ArtNet ne deluje, konfiguracija storitve ni izpolnjena."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"Storitev za nadzor razsvetljave ArtNet se je ustavila."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Na voljo ni ustreznih vmesnikov"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Izberite vmesnik ARTNET"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Napaka pri inicializaciji vtičnika, ni mogoče pretvoriti CLSID/GUID iz določenega niza."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Inicializacija vtičnikov ni uspela, združljivih vtičnikov ni bilo mogoče najti."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Vtičnikov ni bilo mogoče naložiti, vnaprej inicializiran {0}, naloženih je 0 vtičnikov."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Vtičniki so bili uspešno inicializirani, {0} pred inicializacijo, {1} naloženih vtičnikov."
	IDS_ERRORID_BRIDGE_OK_START		"Bridge je bil uspešno zagnan, {0} inicializirano, {1} naloženo, {2} vtičnikov se izvaja."
	IDS_ERRORID_BRIDGE_NOT_START		"Mosta ni bilo mogoče zagnati, napaka pri zagonu vtičnikov, inicializiranih {0}, naloženih vtičnikov: {1}."
	IDS_ERRORID_BRIDGE_OK_STOP		"Bridge je uspešno zaustavljen, {0} inicializiran, {1} naložen, {2} zagnan, {3} vtičnikov ustavljenih."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Mosta ni bilo mogoče zaustaviti, napaka pri zaustavljanju vtičnikov, {0} inicializirano, {1} naloženo, {2} vtičnikov se izvaja."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Vtičniki so že naloženi, ponastavite jih pred ponovnim zagonom."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"Most je že spuščen."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"Most se je že ustavil."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Modula vtičnika ni bilo mogoče odpreti. Modul manjka ali je poškodovan, DLL ni bil naložen in je vrnil nič."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"Modul ni vtičnik MIDI-MT in zahtevane vstopne točke manjkajo."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Omogočeno={0}, nastavitve={1}, teče={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Posodobljena konfiguracija: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Ni modulov, zagon ni mogoč."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Pred začetkom uredite konfiguracijo."
	IDS_ERRORID_MIDIMT_CONFFILTER		"Konfiguracijska datoteka"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Konfiguracija naložena iz datoteke: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Konfiguracija, naložena iz gonilnika"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"Izbrani jezik {0} bo aktiven po ponovnem zagonu okna."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Različica nameščenega gonilnika Virtual MIDI: {0}"
	IDS_ERRORID_REMOTE_START		"Storitev daljinskega upravljanja se je začela."
	IDS_ERRORID_REMOTE_STOP			"Storitev daljinskega upravljanja se je ustavila."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Nov odjemalec {0}/{1} je povezan."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Napaka odjemalca {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Odjemalec {0}/{1} prekinjen, status: {2} - {3}."

	IDS_ERRORID_JOY_NODRIVER		"Ni gonilnika igralne palice ali igralne ploščice."
	IDS_ERRORID_JOY_INVALIDPARAM		"Podani ID igralne palice je neveljaven."
	IDS_ERRORID_JOY_NOCANDO			"Vnosa krmilne palice ni mogoče zapisati in zahtevana storitev ni na voljo."
	IDS_ERRORID_JOY_UNPLUGGED		"Navedena igralna palica ni povezana s sistemom."
	IDS_ERRORID_JOY_START			"Storitev za nadzor igralne ploščice/joystick se izvaja, aktivne naprave: {0}, na spletu: {1}."
	IDS_ERRORID_JOY_STOP			"Storitev za nadzor igralne ploščice/joystick se je ustavila."
	IDS_ERRORID_JOY_CHANGE_SCENE		"Nadzorno sceno je igralna plošča ali igralna palica spremenila v {0}."
	IDS_ERRORID_JOY_CHANGE_CTRL		"Kontrolnik {0}/{1} se izbere z igralno ploščico ali krmilno palico."

	IDS_ERRORID_COPY_LINK			"Povezava je bila kopirana v odložišče."
	IDS_ERRORID_NET_IFACE_NONE		"Brez omrežnih vmesnikov"
	IDS_ERRORID_NET_IFACE_SELECT		"Izberite omrežni vmesnik"
	IDS_ERRORID_NONE			"-"
END
