#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_SLOVENIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Zadnje datoteke:"
	STR_RB_TABHOMEL			"Urejanje"
	STR_RB_TABFILTERL		"Filtri"
	STR_RB_PANEL_EDITMAINL		"uredi tipko MIDI"
	STR_RB_PANEL_EDITSETL		"Skupina tipk MIDI"
	STR_RB_PANEL_EDITOPTL		"možnosti urejevalnika"
	STR_RB_PANEL_FILTERL		"izbira filtrov za ogled"
	STR_RB_PANEL_SORTL		"razvrščanje"
	STR_RB_MENUL			"&Meni"
	STR_RB_MENUT			"Meni aplikacij"
	STR_RB_PANEL_QATL		"&Hiter dostop"
	STR_RB_PANEL_QATT		"Orodna vrstica za hitri dostop"
	STR_RB_DIALOG_SAVEL		"&Shrani"
	STR_RB_DIALOG_SAVET		"Shrani in uporabi"
	STR_RB_DIALOG_SAVED		"Shranite v predhodno preneseno datoteko in posodobite trenutno konfiguracijo."
	STR_RB_DIALOG_EXPORTL		"&Izvozi"
	STR_RB_DIALOG_EXPORTT		"Izvozi v novo datoteko"
	STR_RB_DIALOG_EXPORTD		"Izvozite urejeno konfiguracijo v novo datoteko."
	STR_RB_DIALOG_IMPORTL		"&Uvozi"
	STR_RB_DIALOG_IMPORTT		"Uvoz iz datoteke"
	STR_RB_DIALOG_IMPORTD		"Uvoz konfiguracije iz datoteke."
	STR_RB_DIALOG_EXITL		"&Izhod"
	STR_RB_DIALOG_EXITT		"Izhod iz urejevalnika"
	STR_RB_DIALOG_EXITD		"Zapusti urejevalnik konfiguracije tipk MIDI; če spremembe niso shranjene, bodo izgubljene."
	STR_RB_LV_NEWL			"&Nova tipka MIDI"
	STR_RB_LV_NEWT			"Nova tipka MIDI"
	STR_RB_LV_NEWD			"Ustvarjanje nove tipke MIDI."
	STR_RB_LV_COPYL			"&Kopirati"
	STR_RB_LV_COPYT			"Kopiraj tipko MIDI"
	STR_RB_LV_COPYD			"Kopirajte izbrani vnos tipke MIDI."
	STR_RB_LV_PASTEL		"&Vstavi"
	STR_RB_LV_PASTET		"Vstavite ključ"
	STR_RB_LV_PASTED		"Prilepite kopirano tipko MIDI."
	STR_RB_LV_DELETEL		"&Izbriši"
	STR_RB_LV_DELETET		"Izbriši ključ"
	STR_RB_LV_DELETED		"Izbrišite izbrani vnos tipke MIDI."
	STR_RB_LV_SET_MQTTL		"Pametna hiša"
	STR_RB_LV_SET_MQTTT		"Skupino nastavite kot »Pametni dom«."
	STR_RB_LV_SET_MQTTD		"Izbrano tipko MIDI dodelite skupini »Smart Home«."
	STR_RB_LV_SET_MMKEYL		"Multimedijski gumbi"
	STR_RB_LV_SET_MMKEYT		"Nastavite skupino kot “Večpredstavnostni gumbi”"
	STR_RB_LV_SET_MMKEYD		"Izbrano tipko MIDI dodelite skupini »Večpredstavnostni gumbi«."
	STR_RB_LV_SET_MIXERL		"Zvočni mešalnik"
	STR_RB_LV_SET_MIXERT		"Nastavi skupino kot “Audio Mixer”"
	STR_RB_LV_SET_MIXERD		"Izbrano tipko MIDI dodelite skupini »Audio Mixer«."
	STR_RB_LV_READ_MIDI_CODEL	"Preberi kodo MIDI"
	STR_RB_LV_READ_MIDI_CODET	"Preberite kontrolno kodo MIDI"
	STR_RB_LV_READ_MIDI_CODED	"Preberite kodo MIDI z nadzorne površine ali tipkovnice MIDI."
	STR_RB_LV_EDIT_MODEL		"Samo digitalni vhod"
	STR_RB_LV_EDIT_MODET		"Uporabljajte samo digitalni vhod"
	STR_RB_LV_EDIT_MODED		"Ne uporabljajte menija za izbiro vrednosti, uporabite samo digitalni vhod."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"Nadzorna plošča MIDI"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Priporočene nastavitve"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Priporočene nastavitve nadzorne plošče MIDI, združljive s kontrolniki Adobe Premiere Pro."
	STR_RB_LV_FILTER_EMBEDL		"Vgrajeni filtri"
	STR_RB_LV_FILTER_KEYL		"Ključ"
	STR_RB_LV_FILTER_KEYT		"Filtriraj po tipki MIDI"
	STR_RB_LV_FILTER_KEYD		"Prikaži samo ujemanja znotraj skupine tipk MIDI."
	STR_RB_LV_FILTER_SCENEL		"Scena"
	STR_RB_LV_FILTER_SCENET		"Filtriraj po sceni MIDI"
	STR_RB_LV_FILTER_SCENED		"Prikaži le ujemanja v skupini prizorov MIDI."
	STR_RB_LV_FILTER_TARGETL	"Namen 1"
	STR_RB_LV_FILTER_TARGETT	"Filtriraj po destinaciji 1"
	STR_RB_LV_FILTER_TARGETD	"Pokaži le ujemanja v ciljni skupini 1."
	STR_RB_LV_FILTER_TARGETLONGL	"Namen 2"
	STR_RB_LV_FILTER_TARGETLONGT	"Filtriraj po destinaciji 2"
	STR_RB_LV_FILTER_TARGETLONGD	"Prikaži le ujemanja v ciljni skupini 2."
	STR_RB_LV_FILTER_CLEARL		"Počisti filtre"
	STR_RB_LV_FILTER_CLEART		"Čiščenje filtrov"
	STR_RB_LV_FILTER_CLEARD		"Popolnoma počistite filtre, prikazani bodo vsi vnosi."
	STR_RB_LV_FILTER_SETL		"Nastavite filter"
	STR_RB_LV_FILTER_SETT		"Namestitev filtra"
	STR_RB_LV_FILTER_SETD		"Nastavitev filtra prikaže vse neveljavne elemente."
	STR_RB_LV_FILTER_ONL		"Uporabi filter"
	STR_RB_LV_FILTER_ONT		"Uporaba filtra"
	STR_RB_LV_FILTER_OND		"Uporaba filtra prikaže izbrane elemente."
	STR_RB_LV_FILTER_OFFL		"Prekliči filter"
	STR_RB_LV_FILTER_OFFT		"Prekliči filter"
	STR_RB_LV_FILTER_OFFD		"Če prekličete filter, bodo prikazani vsi elementi."
	STR_RB_LV_FILTER_MMKEYL		"Pokaži “Večpredstavnostne gumbe”"
	STR_RB_LV_FILTER_MMKEYT		"Filtrirajte po skupini »Večpredstavnostni gumbi«."
	STR_RB_LV_FILTER_MMKEYD		"Če uporabite filter, bodo prikazani člani skupine Multimedia Buttons."
	STR_RB_LV_FILTER_MIXERL		"Prikaži “Audio Mixer”"
	STR_RB_LV_FILTER_MIXERT		"Filtrirajte po skupini »Audio Mixer«."
	STR_RB_LV_FILTER_MIXERD		"Če uporabite filter, bodo prikazani člani skupine Audio Mixer."
	STR_RB_LV_FILTER_MQTTL		"Prikaži “Pametni dom”"
	STR_RB_LV_FILTER_MQTTT		"Filtrirajte po skupini »Pametni dom«."
	STR_RB_LV_FILTER_MQTTD		"Če uporabite filter, bodo prikazani člani skupine Smart Home."
	STR_RB_LV_FILTER_LIGHT8L	"Prikaži “Osvetlitev 8 bitov”"
	STR_RB_LV_FILTER_LIGHT8T	"Filtriraj po skupini “Lighting 8 bit”"
	STR_RB_LV_FILTER_LIGHT8D	"Če uporabite filter, bodo prikazani člani skupine Lighting z 8-bitnimi kanali."
	STR_RB_LV_FILTER_LIGHT16L	"Pokaži “16-bitno osvetlitev”"
	STR_RB_LV_FILTER_LIGHT16T	"Filtrirajte po skupini »16-bitna osvetlitev«."
	STR_RB_LV_FILTER_LIGHT16D	"Če uporabite filter, bodo prikazani člani skupine Lighting s 16-bitnimi kanali."
	STR_RB_LV_FILTER_SCRIPTL	"Pokaži “Skripte”"
	STR_RB_LV_FILTER_SCRIPTT	"Filtrirajte po skupini »Skripti« ChaiScript"
	STR_RB_LV_FILTER_SCRIPTD	"Če uporabite filter, bodo prikazani člani skupine Skripti."
	STR_RB_LV_FILTER_TYPEBTNL	"Vrsta filtra"
	STR_RB_LV_FILTER_TYPEBTNT	"Nastavitev vrste filtrov za uporabo"
	STR_RB_LV_FILTER_TYPEBTND	"Vrste uporabljenih filtrov imajo dve logični stanji: »IN«, »ALI«."
	STR_RB_LV_FILTER_TYPEGRPL	"Izbira vrste filtra"
	STR_RB_LV_FILTER_TYPEORL	"Pokaži morebitna ujemanja"
	STR_RB_LV_FILTER_TYPEORT	"Prikaži vnose s poljubnim ujemanjem"
	STR_RB_LV_FILTER_TYPEORD       	"Filter ima logično IN stanje in prikaže vsa ujemanja."
	STR_RB_LV_FILTER_TYPEANDL	"Pokaži le popolna ujemanja"
	STR_RB_LV_FILTER_TYPEANDT	"Prikaži samo zapise z natančnimi ujemanji"
	STR_RB_LV_FILTER_TYPEANDD	"Filter ima logično stanje ALI in prikazuje samo popolna ujemanja."
	STR_RB_LV_FILTER_AUTOCOMMITL	"Samodejno pošiljanje podatkov v filter"
	STR_RB_LV_FILTER_AUTOCOMMITT	"Samodejno pošiljanje vnesenih vrednosti v filter"
	STR_RB_LV_FILTER_AUTOCOMMITD	"Samodejno predloži vhodne vrednosti v vgrajenem filtru."
	STR_RB_LV_EXT_MODEL		"Prikaži razvrščanje"
	STR_RB_LV_SORTUP_KEYL		"po ključu"
	STR_RB_LV_SORTUP_KEYT		"Razvrsti po naraščajočem in tipki MIDI."
	STR_RB_LV_SORTUP_SCENEL		"po odru"
	STR_RB_LV_SORTUP_SCENET		"Razvrščanje po naraščajoči in MIDI sceni."
	STR_RB_LV_SORTUP_TARGETL	"po dogovoru 1"
	STR_RB_LV_SORTUP_TARGETT	"Razvrsti po naraščajočem in cilju MIDI 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"po dogovoru 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Razvrščanje po naraščajočem in cilju MIDI 2."
	STR_RB_LV_SORTDOWN_KEYT		"Razvrsti po padajočem in tipki MIDI."
	STR_RB_LV_SORTDOWN_SCENET	"Razvrščanje po padajočem vrstnem redu in MIDI sceni."
	STR_RB_LV_SORTDOWN_TARGETT	"Razvrščanje po padajočem vrstnem redu in cilju MIDI 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Razvrščanje po padajočem vrstnem redu in cilju MIDI 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Izvoz v MQTT"
	STR_RB_DIALOG_EXPORTMQTTT	"Izvoz konfiguracije MQTT"
	STR_RB_DIALOG_EXPORTMQTTD	"Izvozite konfiguracijo DMX512/ARTNET v novo datoteko."
	STR_RB_PANEL_EDITUTILL		"Orodja"
	STR_RB_LV_SET_BUTTONL		"Dodeli MIDI tipko"
	STR_RB_LV_SET_BUTTONT		"Dodeli izbrano tipko MIDI"
	STR_RB_LV_SET_BUTTOND		"Določite izbrano tipko MIDI kot člana skupine."
	STR_RB_LV_SET_LIGHT8L		"Osvetlitev 8 bit"
	STR_RB_LV_SET_LIGHT8T		"Nastavi skupino kot “Lighting 8 bit”"
	STR_RB_LV_SET_LIGHT8D		"Izbrano tipko MIDI dodelite skupini »Lighting 8 Bit«."
	STR_RB_LV_SET_LIGHT16L		"Osvetlitev 16 bit"
	STR_RB_LV_SET_LIGHT16T		"Nastavi skupino kot “16-bitna osvetlitev”"
	STR_RB_LV_SET_LIGHT16D		"Izbrano tipko MIDI dodelite skupini »Lighting 16-bit«."
	STR_RB_LV_SET_SCRIPTL		"Scenariji"
	STR_RB_LV_SET_SCRIPTT		"Nastavi skupino kot “Skripti”"
	STR_RB_LV_SET_SCRIPTD		"Izbrano tipko MIDI dodelite skupini »Skripti«."
	STR_RB_DIALOG_SHOWDUPL		"Prikaži dvojnike"
	STR_RB_DIALOG_SHOWDUPT		"Poiščite podvojene tipke MIDI"
	STR_RB_DIALOG_SHOWDUPD		"Poiščite podvojene tipke MIDI; če so prisotne, lahko pride do nepričakovanega delovanja."

	STR_RB_DIALOG_DELDUPL		"Odstranite dvojnike"
	STR_RB_DIALOG_DELDUPT		"Odstranite možne podvojene tipke MIDI"
	STR_RB_DIALOG_DELDUPD		"Iskanje in odstranjevanje podvojenih tipk MIDI, če obstajajo dvojniki, morda ne bo delovalo po pričakovanjih."
END
