#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_DANISH, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT oversætter"
    STRING_MIXER	"&Blander"
    STRING_SETTINGS	"&Indstillinger"
    STRING_START	"Start"
    STRING_STOP		"Hold op"
    STRING_EXIT		"Afslut"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Konfiguration indlæst fra driver"
    STRING_EDIT_MSG2	"Konfiguration indlæst fra fil"
    STRING_EDIT_MSG3	"Konfigurationen er blevet oprettet på ny og kræver udfyldning"
    STRING_EDIT_MSG4	"Ved åbning af editoren blev konfigurationsfilen angivet: '{0}'. Vil du gemme det med samme navn?"
    STRING_EDIT_MSG5	"DMX kanalnummer"

    STRING_NOTIFY_MSG1	"oversætteren er stoppet:"
    STRING_NOTIFY_MSG2	"oversætteren arbejder:"

    STRING_AMIX_MSG1	"Lydmixeren kører ikke, tjek indstillingerne, lanceringen af ​​lydpanelet skal være aktiveret."
    STRING_AMIX_MSG2	"MIDIMT - Lydmixer kører ikke:"
    STRING_AMIX_MSG3	"Ugyldigt hændelses-id. Genstart venligst denne applikation."
    STRING_AMIX_MSG4	"MIDIMT - Kan ikke fuldføre handling:"
    STRING_AMIX_MSG5	"Kunne ikke skifte til UI-tråd, opstart af lydpanel blev afbrudt."

    STRING_MAIN_MSG1	"Applikationsinitieringsfejl, fortsættelse er ikke mulig."
    STRING_MAIN_MSG2	"Kontroller brugerens tilladelser til at skrive filer i applikationsmappen. Hvis fejlen fortsætter, prøv at deaktivere logning."
    STRING_MAIN_MSG3	"Autorun er deaktiveret i den generelle konfiguration."
    STRING_MAIN_MSG4	"Den valgte konfiguration understøtter ikke automatisk start."

    STRING_LOGV_MSG1	"Før du starter monitoren, skal du starte oversætteren fra menuen ved at vælge 'Start'."
    STRING_LOGV_MSG2	"Alle indstillinger '{0}', konfigurationsfilversion: {1}"
    STRING_LOGV_MSG3	"MIDI-indstillinger"
    STRING_LOGV_MSG4	"Smart Home-indstillinger (MQTT)"
    STRING_LOGV_MSG5	"Indstillinger for multimedietastatur (MMKEYS)"
    STRING_LOGV_MSG6	"Indstillinger for lysstyring ({0})"
    STRING_LOGV_MSG7	"Indstillinger for fjernbetjeningspanel (REMOTE)"
    STRING_LOGV_MSG8	"Indstillinger for gamepad/joystick-kontrol (GAMEPAD)"
    STRING_LOGV_MSG9	"MIDI-tast trykket:"
    STRING_LOGV_MSG10	"Tag nummer:"

    STRING_CHKR_MSG1	"Ved opstart blev konfigurationsfilen angivet: '{0}'. Indstille det som en konfiguration for efterfølgende kørsler?"
    STRING_CHKR_MSG2	"MIDI-MT konfiguration"

    STRING_TMENU_MSG1	"Du skal installere den virtuelle MIDI-driver!"

    STRING_LANG_STATUS	"status:"
    STRING_LANG_YES	"Ja"
    STRING_LANG_NO	"Ingen"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "lydstyrke (hoved)"
	IDM_COL4_MAP  "lydbalance (grundlæggende)"
	IDM_COL4_MAM  "mute (hoved)"
	IDM_COL4_MAS  "lydsolo (hoved)"
	IDM_COL4_JOG  "JOG (spol videoramme tilbage)"
	IDM_COL4_AV1  "lydstyrke (kanal 1)"
	IDM_COL4_AV2  "lydstyrke (kanal 2)"
	IDM_COL4_AV3  "lydstyrke (kanal 3)"
	IDM_COL4_AV4  "lydstyrke (kanal 4)"
	IDM_COL4_AV5  "lydstyrke (kanal 5)"
	IDM_COL4_AV6  "lydstyrke (kanal 6)"
	IDM_COL4_AV7  "lydstyrke (kanal 7)"
	IDM_COL4_AV8  "lydstyrke (kanal 8)"
	IDM_COL4_XV9  "lydstyrke (kanal 9)"
	IDM_COL4_AP1  "lydbalance (kanal 1)"
	IDM_COL4_AP2  "lydbalance (kanal 2)"
	IDM_COL4_AP3  "lydbalance (kanal 3)"
	IDM_COL4_AP4  "lydbalance (kanal 4)"
	IDM_COL4_AP5  "lydbalance (kanal 5)"
	IDM_COL4_AP6  "lydbalance (kanal 6)"
	IDM_COL4_AP7  "lydbalance (kanal 7)"
	IDM_COL4_AP8  "lydbalance (kanal 8)"
	IDM_COL4_XP9  "lydbalance (kanal 9)"
	IDM_COL4_B11  "lydsolo (kanal 1)"
	IDM_COL4_B12  "lydsolo (kanal 2)"
	IDM_COL4_B13  "lydsolo (kanal 3)"
	IDM_COL4_B14  "lydsolo (kanal 4)"
	IDM_COL4_B15  "lydsolo (kanal 5)"
	IDM_COL4_B16  "lydsolo (kanal 6)"
	IDM_COL4_B17  "lydsolo (kanal 7)"
	IDM_COL4_B18  "lydsolo (kanal 8)"
	IDM_COL4_B19  "lydsolo (kanal 9)"
	IDM_COL4_B21  "mute (kanal 1)"
	IDM_COL4_B22  "mute (kanal 2)"
	IDM_COL4_B23  "mute (kanal 3)"
	IDM_COL4_B24  "mute (kanal 4)"
	IDM_COL4_B25  "mute (kanal 5)"
	IDM_COL4_B26  "mute (kanal 6)"
	IDM_COL4_B27  "mute (kanal 7)"
	IDM_COL4_B28  "mute (kanal 8)"
	IDM_COL4_B29  "mute (kanal 9)"
	IDM_COL4_B31  "lydvalg (kanal 1)"
	IDM_COL4_B32  "lydvalg (kanal 2)"
	IDM_COL4_B33  "lydvalg (kanal 3)"
	IDM_COL4_B34  "lydvalg (kanal 4)"
	IDM_COL4_B35  "lydvalg (kanal 5)"
	IDM_COL4_B36  "lydvalg (kanal 6)"
	IDM_COL4_B37  "lydvalg (kanal 7)"
	IDM_COL4_B38  "lydvalg (kanal 8)"
	IDM_COL4_B39  "lydvalg (kanal 9)"
	IDM_COL4_FUN11  "funktion F1 (standardtilstand)"
	IDM_COL4_FUN12  "funktion F2 (standardtilstand)"
	IDM_COL4_FUN13  "funktion F3 (standardtilstand)"
	IDM_COL4_FUN14  "funktion F4 (standardtilstand)"
	IDM_COL4_FUN15  "funktion F5 (standardtilstand)"
	IDM_COL4_FUN16  "funktion F6 (standardtilstand)"
	IDM_COL4_FUN17  "funktion F7 (standardtilstand)"
	IDM_COL4_FUN18  "funktion F8 (standardtilstand)"
	IDM_COL4_FUN21  "funktion F1 (holdt tilstand)"
	IDM_COL4_FUN22  "funktion F2 (holdt tilstand)"
	IDM_COL4_FUN23  "funktion F3 (holdt tilstand)"
	IDM_COL4_FUN24  "funktion F4 (holdt tilstand)"
	IDM_COL4_FUN25  "funktion F5 (holdt tilstand)"
	IDM_COL4_FUN26  "funktion F6 (holdt tilstand)"
	IDM_COL4_FUN27  "funktion F7 (holdt tilstand)"
	IDM_COL4_FUN28  "funktion F8 (holdt tilstand)"
	IDM_COL4_SYS_Rewind  "Spol tilbage (spiller)"
	IDM_COL4_SYS_Forward  "Hurtigt frem (spiller)"
	IDM_COL4_SYS_Stop  "Stop (spiller)"
	IDM_COL4_SYS_Play  "Spil (spiller)"
	IDM_COL4_SYS_Record  "Optagelse (afspiller)"
	IDM_COL4_SYS_Up    "Op (joystick)"
	IDM_COL4_SYS_Down  "Ned (joystick)"
	IDM_COL4_SYS_Left  "Venstre (joystick)"
	IDM_COL4_SYS_Right  "Højre (joystick)"
	IDM_COL4_SYS_Zoom  "Øge"
	IDM_COL4_SYS_Scrub  "Skrubbe"
	IDM_COL4_VOLUMEMIX "Mixer kontrol"
	IDM_COL4_MEDIAKEY "Multimedietaster"
        IDM_COL4_MQTTKEY  "Smart Home Management"
        IDM_COL4_LIGHTKEY8B "Lysstyring (8 bit)"
        IDM_COL4_LIGHTKEY16B "Lysstyring (16 bit)"
	IDM_COL4_VMSCRIPT "Scripthåndtering"
	IDM_COL4_NONE  "handling ikke defineret"
	IDM_COL5_MQTT_AV1		"niveau 1"
	IDM_COL5_MQTT_AV2		"niveau 2"
	IDM_COL5_MQTT_AV3		"niveau 3"
	IDM_COL5_MQTT_AV4		"niveau 4"
	IDM_COL5_MQTT_AV5		"niveau 5"
	IDM_COL5_MQTT_AV6		"niveau 6"
	IDM_COL5_MQTT_AV7		"niveau 7"
	IDM_COL5_MQTT_AV8		"niveau 8"
	IDM_COL5_MQTT_XV9		"niveau 9"
	IDM_COL5_MQTT_AP1		"niveau 10"
	IDM_COL5_MQTT_AP2		"niveau 11"
	IDM_COL5_MQTT_AP3		"niveau 12"
	IDM_COL5_MQTT_AP4		"niveau 13"
	IDM_COL5_MQTT_AP5		"niveau 14"
	IDM_COL5_MQTT_AP6		"niveau 15"
	IDM_COL5_MQTT_AP7		"niveau 16"
	IDM_COL5_MQTT_AP8		"niveau 17"
	IDM_COL5_MQTT_XP9		"niveau 18"
	IDM_COL5_MQTT_B11		"tænd/sluk 1"
	IDM_COL5_MQTT_B12		"tænd/sluk 2"
	IDM_COL5_MQTT_B13		"tænd/sluk 3"
	IDM_COL5_MQTT_B14		"tænd/sluk 4"
	IDM_COL5_MQTT_B15		"tænd/sluk 5"
	IDM_COL5_MQTT_B16		"tænd/sluk 6"
	IDM_COL5_MQTT_B17		"tænd/sluk 7"
	IDM_COL5_MQTT_B18		"tænd/sluk 8"
	IDM_COL5_MQTT_B19		"tænd/sluk 9"
	IDM_COL5_MQTT_B21		"tænd/sluk 10"
	IDM_COL5_MQTT_B22		"tænd/sluk 11"
	IDM_COL5_MQTT_B23		"tænd/sluk 12"
	IDM_COL5_MQTT_B24		"tænd/sluk 13"
	IDM_COL5_MQTT_B25		"tænd/sluk 14"
	IDM_COL5_MQTT_B26		"tænd/sluk 15"
	IDM_COL5_MQTT_B27		"tænd/sluk 16"
	IDM_COL5_MQTT_B28		"tænd/sluk 17"
	IDM_COL5_MQTT_B29		"tænd/sluk 18"
	IDM_COL5_MQTT_B31		"tænd/sluk 19"
	IDM_COL5_MQTT_B32		"tænd/sluk 20"
	IDM_COL5_MQTT_B33		"tænd/sluk 21"
	IDM_COL5_MQTT_B34		"tænd/sluk 22"
	IDM_COL5_MQTT_B35		"tænd/sluk 23"
	IDM_COL5_MQTT_B36		"tænd/sluk 24"
	IDM_COL5_MQTT_B37		"tænd/sluk 25"
	IDM_COL5_MQTT_B38		"tænd/sluk 26"
	IDM_COL5_MQTT_B39		"tænd/sluk 27"
	IDM_COL5_MQTT_EMPTY		"Ikke tildelt"
	IDM_COL5_SCRIPT_B11		"script 1"
	IDM_COL5_SCRIPT_B12		"script 2"
	IDM_COL5_SCRIPT_B13		"script 3"
	IDM_COL5_SCRIPT_B14		"script 4"
	IDM_COL5_SCRIPT_B15		"script 5"
	IDM_COL5_SCRIPT_B16		"script 6"
	IDM_COL5_SCRIPT_B17		"script 7"
	IDM_COL5_SCRIPT_B18		"script 8"
	IDM_COL5_SCRIPT_B19		"manuskript 9"
	IDM_COL5_SCRIPT_B21		"manuskript 10"
	IDM_COL5_SCRIPT_B22		"manuskript 11"
	IDM_COL5_SCRIPT_B23		"manuskript 12"
	IDM_COL5_SCRIPT_B24		"manuskript 13"
	IDM_COL5_SCRIPT_B25		"manuskript 14"
	IDM_COL5_SCRIPT_B26		"manuskript 15"
	IDM_COL5_SCRIPT_B27		"manuskript 16"
	IDM_COL5_SCRIPT_B28		"manuskript 17"
	IDM_COL5_SCRIPT_B29		"manuskript 18"
	IDM_COL5_SCRIPT_B31		"manuskript 19"
	IDM_COL5_SCRIPT_B32		"manuskript 20"
	IDM_COL5_SCRIPT_B33		"manuskript 21"
	IDM_COL5_SCRIPT_B34		"manuskript 22"
	IDM_COL5_SCRIPT_B35		"manuskript 23"
	IDM_COL5_SCRIPT_B36		"manuskript 24"
	IDM_COL5_SCRIPT_B37		"manuskript 25"
	IDM_COL5_SCRIPT_B38		"manuskript 26"
	IDM_COL5_SCRIPT_B39		"manuskript 27"
	IDM_COL5_SCRIPT_EMPTY		"Ikke tildelt"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"Okay"
	IDS_ERRORID_EMPTY			"[Konfigurationen er tom..]"
	IDS_ERRORID_UNDEFINED			"Denne fejl er udefineret"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Skriveadgang til konfigurationsfilen nægtes, '{0}'"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Konfigurationsfil mangler eller adgang nægtet, '{0}'"
	IDS_ERRORID_JSONCONF_EMPTY		"Konfigurationsfilen er tom, '{0}'"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"MIDI-enhedens navn er ikke konfigureret."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"Der er ingen MIDI-nøgler konfigureret i denne konfiguration."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Bemærk, denne konfiguration har ikke konfigureret MIDI-nøgler! den optagede konfiguration vil ikke fungere."
	IDS_ERRORID_INIT_COINITIALIZE		"Co*Initialize initialisering mislykkedes."
	IDS_ERRORID_INIT_COCREATE		"Co*Create - kunne ikke oprette en instans."
	IDS_ERRORID_INIT_DEFAULT_AE		"Kunne ikke hente standardlydenhed."
	IDS_ERRORID_INIT_AS_MANAGER2		"Audio Session Manager gik ned."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Lydspidsmåler er ikke tilgængelig."
	IDS_ERRORID_MIXER_STARTOK		"Lydsessionsmixeren kører, på starttidspunktet er der {0} kørende programmer tilgængelige for regulering."
	IDS_ERRORID_MIXER_STARTERROR		"Lydsessionsmixeren kunne ikke startes, fejloplysningerne skulle være i logfilen."
	IDS_ERRORID_MIXER_STOPOK		"Lydsessionsmixeren er stoppet."
	IDS_ERRORID_MIXER_STOPERROR		"Lydsessionsmixeren blev ikke stoppet korrekt, fejloplysningerne skulle være i logfilen."
	IDS_ERRORID_NO_INIT			"Initialiser før du ringer til dette.."
	IDS_ERRORID_SESSION_LIST		"Kunne ikke hente listen over lydsessioner."
	IDS_ERRORID_LISTISNULL			"Listen over lydsessioner er tom!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Deaktiverer lydsession, reason='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Lydsession oprettet, name='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Lydsession '{0}' - dårlig registreringstilstand '{1}': {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"Værdien, der indstilles fra tilbagekaldet, er en ugyldig vælger."
	IDS_ERRORID_SET_CB_WARNING		"Det er kun muligt at indstille et tilbagekald, efter at MIDI-broen er blevet startet."
	IDS_ERRORID_CONFIG_FAIL			"Indlæsning af konfiguration mislykkedes, fil blev ikke fundet, start umulig."
	IDS_ERRORID_CONFIG_LOAD			"Konfiguration indlæst.."
	IDS_ERRORID_CONFIG_LOADA		"Konfigurationen er allerede blevet indlæst.."
	IDS_ERRORID_CONFIG_EMPTY		"Konfigurationen er tom.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"Konfigurationen for modul {0} er tom.."
	IDS_ERRORID_CONFIG_NEW			"Ny konfigurationsversion fundet.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Ikke-understøttet implementering i kode, metode ikke tilsidesat: {0}"
	IDS_ERRORID_NOT_CONFIG			"Konfigurationsnavnet er ikke angivet og kan ikke fortsætte."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Enhederne er ikke tilsluttet og kan ikke fortsætte."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Bemærk, antallet af enheder på den endelige liste stemmer ikke overens, system/liste = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Kan ikke åbne MIDI-enhed, kan ikke fortsætte, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Kan ikke starte MIDI-enhed, kan ikke fortsætte, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Enhed ikke tilsluttet, afbryd, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Enhed {0} fundet, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Enhed {0} åben, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Enhed {0} lukket (system)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Enhed {0} klar (system)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Navnet på den aktive enhed er ikke angivet, fortsættelse er umulig, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Proxy-porte er ikke angivet i konfigurationen, MIDI-proxy er deaktiveret."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Driverversion [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Problem med driverversion [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Enheden {0} sendte ugyldig værdi = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"Den virtuelle MIDI-driver er ikke installeret. Du skal installere loopMidi-pakken eller downloade hele installationsprogrammet og geninstallere MIDI-MT. Flere detaljer: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Den installerede virtuelle MIDI-driver blev ikke fundet! Du skal installere Virtual Loop MIDI-pakken for at køre MIDI-MT-oversætteren."
	IDS_ERRORID_MIDI_PROXY_PORTS		"Ved opstart oprettes {0} proxy-MIDI-porte."
	IDS_ERRORID_MIDI_PROXY_OFF		"Proxy MIDI-porte er deaktiveret."
	IDS_ERRORID_MIDI_OUT_PORTS		"Ved opstart oprettes {0} MIDI-outputporte."
	IDS_ERRORID_MIDI_OUT_OFF		"MIDI-outputporte er deaktiveret."
	IDS_ERRORID_MMKEY_START			"Media Key Management-tjenesten kører."
	IDS_ERRORID_MMKEY_STOP			"Media Key Management-tjenesten er stoppet."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"MQTT-konfigurationen er tom og kan ikke fortsætte."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Fejl ved oprettelse af MQTT-klient, annullering."
	IDS_ERRORID_MQTT_CLIENT_OK		"MMQTT-klienten er blevet oprettet, fortsæt..."
	IDS_ERRORID_MQTT_CONNECTED		"Forbundet til MQTT-server:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Kunne ikke oprette forbindelse til MQTT-serveren:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Afbrudt fra MQTT-serveren:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"CA-certifikatfil findes ikke, sti = '{0}'"
	IDS_ERRORID_MQTT_START			"Tjenesten Smart Home Control er blevet lanceret."
	IDS_ERRORID_MQTT_STOP			"Smart Home-kontroltjenesten er blevet stoppet."
	IDS_ERRORID_MQTT_CA_FILTER		"CA certifikat"
	IDS_ERRORID_LOG_LEVEL_NONE		"der føres ingen log"
	IDS_ERRORID_LOG_LEVEL_INFO		"Information"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"meddelelser"
	IDS_ERRORID_LOG_LEVEL_WARNING		"advarsler"
	IDS_ERRORID_LOG_LEVEL_ERR		"kun fejl"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"alle beskeder"
	IDS_ERRORID_PANEL_INDEX			"Audio Mixer Panel - Kan ikke fortsætte, indekselementer er forkerte."
	IDS_ERRORID_PANEL_INIT			"Lydmixerpanel - kan ikke fortsætte, initialiseringsfejl."
	IDS_ERRORID_PANEL_ENABLE		"Lydmixerpanelvinduet har ikke den korrekte status, og den næste handling kan ikke fortsættes."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Lydmixerpanelet kaldes ikke på en UI-tråd, og ændringer kan ikke foretages."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Lydmixerpanelet registrerede et ugyldigt element, og oprettelsen af ​​panelvinduet blev afbrudt."
	IDS_ERRORID_LIGHT_DMX_START		"DMX-lysstyringstjenesten startes ved hjælp af COM{0} - {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"DMX-lysstyringstjenesten kører ikke, COM{0}-enheden er ikke tilsluttet.."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"DMX-lysstyringstjenesten kører ikke, og servicekonfigurationen er ikke udfyldt."
	IDS_ERRORID_LIGHT_DMX_STOP		"DMX-lysstyringstjenesten er stoppet."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Ingen egnede enheder tilgængelige"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Vælg DMX-enhed"
	IDS_ERRORID_LIGHT_ARTNET_START		"ArtNet Lighting Control Service kører med broadcastadressen {0}:{1} på netværket {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"ArtNet lysstyringstjeneste kører ikke, netværket {0} blev ikke fundet.."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"ArtNet lysstyringstjenesten kører ikke, tjenestekonfigurationen er ikke udfyldt."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"ArtNets lysstyringstjeneste er stoppet."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Ingen passende grænseflader tilgængelige"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Vælg ARTNET interface"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Plugin initialiseringsfejl, kan ikke konvertere CLSID/GUID fra specificeret streng."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Kunne ikke initialisere plugins, ingen kompatible plugins blev fundet."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Kunne ikke indlæse plugins, præinitialiseret {0}, 0 plugins indlæst."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Plugins initialiseret, præinitialisering {0}, {1} plugins indlæst."
	IDS_ERRORID_BRIDGE_OK_START		"Bridge blev startet, {0} initialiseret, {1} indlæst, {2} plugins kører."
	IDS_ERRORID_BRIDGE_NOT_START		"Kunne ikke starte broen, fejl ved start af plugins, {0} initialiseret, {1} plugins indlæst."
	IDS_ERRORID_BRIDGE_OK_STOP		"Bridge stoppet, {0} initialiseret, {1} indlæst, {2} startet, {3} plugins stoppet."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Kunne ikke stoppe broen, fejl ved at stoppe plugins, {0} initialiseret, {1} indlæst, {2} plugins kører."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Plugins er allerede indlæst, venligst nulstil før genstart."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"Broen er allerede søsat."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"Broen er allerede stoppet."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Kunne ikke åbne plugin-modulet. Modulet mangler eller er beskadiget, DLL'en blev ikke indlæst og returnerede null."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"Modulet er ikke et MIDI-MT plugin, og de nødvendige indgangspunkter mangler."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Aktiveret={0}, indstillinger={1}, kører={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Konfiguration opdateret: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Ingen moduler fundet, opstart umulig."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Rediger venligst konfigurationen før du starter."
	IDS_ERRORID_MIDIMT_CONFFILTER		"Konfigurationsfilen"
	IDS_ERRORID_MIDIMT_EXEFILTER		"Eksekverbare filer"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Konfiguration indlæst fra fil: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Konfiguration indlæst fra driver"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"Det valgte {0}-sprog vil være aktivt, når vinduet er genstartet."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Installeret Virtual MIDI-driverversion: {0}"
	IDS_ERRORID_REMOTE_START		"Fjernbetjeningstjenesten er startet."
	IDS_ERRORID_REMOTE_STOP			"Fjernbetjeningstjenesten er stoppet."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Ny klient {0}/{1} er tilsluttet."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Klientfejl {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Klient {0}/{1} afbrudt, status: {2} - {3}."

	IDS_ERRORID_JOY_NODRIVER		"Der er ingen joystick eller gamepad-driver."
	IDS_ERRORID_JOY_INVALIDPARAM		"Det angivne joystick-id er ugyldigt."
	IDS_ERRORID_JOY_NOCANDO			"Joystick-inputtet kan ikke skrives, og den nødvendige service er ikke tilgængelig."
	IDS_ERRORID_JOY_UNPLUGGED		"Det angivne joystick er ikke forbundet til systemet."
	IDS_ERRORID_JOY_START			"Gamepad/Joystick-kontroltjenesten kører, aktive enheder: {0}, online: {1}."
	IDS_ERRORID_JOY_STOP			"Gamepad/Joystick-kontroltjenesten er stoppet."
	IDS_ERRORID_JOY_CHANGE_SCENE		"Kontrolscenen er blevet ændret af gamepad eller joystick til {0}."
	IDS_ERRORID_JOY_CHANGE_CTRL		"Kontrolelementet {0}/{1} vælges med gamepad'en eller joysticket."

	IDS_ERRORID_COPY_LINK			"Linket er kopieret til udklipsholderen."
	IDS_ERRORID_NET_IFACE_NONE		"Ingen netværksgrænseflader"
	IDS_ERRORID_NET_IFACE_SELECT		"Vælg netværksgrænseflade"
	IDS_ERRORID_TIMEOUT_EXPIRED		"Ventetimeout er udløbet, ventetiden er afsluttet.."

	IDS_ERRORID_SCRIPT_ERROR		"Scriptudførelsesfejl: {0}"
	IDS_ERRORID_SCRIPT_EMPTY		"Scriptet er tomt!"
	IDS_ERRORID_SCRIPT_MODIFY		"Script ændret: {0}"
	IDS_ERRORID_SCRIPT_LOADED		"Scripts indlæst: {0}"
	IDS_ERRORID_SCRIPT_NOTFOUND		"Ingen scripts fundet i mappen {0}"
	IDS_ERRORID_SCRIPT_START		"Scriptmotoren kører, tilgængelige scripts: {0}."
	IDS_ERRORID_SCRIPT_STOP			"Scripting-motoren er stoppet."
	IDS_ERRORID_SCRIPT_DIRFILTER		"Script filer"

	IDS_ERRORID_FILEWATCH_OPEN		"Mappen kunne ikke åbnes: {0}"
	IDS_ERRORID_FILEWATCH_PARAM		"Biblioteket med de angivne parametre kan ikke læses, jeg er ved at afslutte overvågningen af ​​biblioteket."
	IDS_ERRORID_FILEWATCH_SHUTDOWN		"uventet afbrydelse af telefonbogsovervågning"
	IDS_ERRORID_FILEWATCH_NOACCESS		"problemer med at få adgang til mappen, muligvis forkert læsebufferstørrelse"

	IDS_ERRORID_NONE			"-"
END
