﻿
#define APSTUDIO_READONLY_SYMBOLS
#ifndef APSTUDIO_INVOKED
#include <SDKDDKVer.h>
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#include "CommCtrl.h"
#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_DANISH, SUBLANG_DEFAULT
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_TRAY_MENU MENU 
BEGIN
    POPUP "MIDI Mackie-oversætter"
    BEGIN
        MENUITEM " ", IDM_GO_EMPTY
        MENUITEM "&Information", IDM_GO_INFO
        MENUITEM "&Lydmixer", IDM_GO_MIXER
        MENUITEM "&Overvåge", IDM_GO_MONITOR
        MENUITEM "&Indstillinger", IDM_GO_CONFIGURE
        MENUITEM SEPARATOR
        MENUITEM "Start", IDM_GO_START
        MENUITEM "Hold op", IDM_GO_STOP, CHECKED, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Afslut", IDM_EXIT
    END
END

IDR_MIXER_CTRL_MENU MENU 
BEGIN
    POPUP "MIXPANELMENU"
    BEGIN
        POPUP "Beliggenhed.."
        BEGIN
            MENUITEM "Lodret til venstre", IDM_VERT_LEFT
            MENUITEM "Lodret højre", IDM_VERT_RIGHT
            MENUITEM "Vandret i toppen", IDM_HOR_TOP
            MENUITEM "Vandret nedenunder", IDM_HOR_BOTTOM
        END
        POPUP "Emne.."
        BEGIN
            MENUITEM "Metro", IDM_METRO
            MENUITEM "Lys", IDM_LIGHT
            MENUITEM "Mørk", IDM_DARK
            MENUITEM "Retro", IDM_RETRO
            MENUITEM "Moderne", IDM_MODERN
            MENUITEM SEPARATOR
            MENUITEM "Sætte op", IDM_CUSTOM
            MENUITEM "Opsætning af et tema", IDM_CALLFORM_COLOR
        END
        MENUITEM SEPARATOR
        MENUITEM "&Animation", IDM_ANIMATION
        MENUITEM "&Ansøgningssti", IDM_APP_PATH
        MENUITEM "Binding & MIDI kontroller", IDM_MIDI_BIND
        MENUITEM "Peak & Volume Meter", IDM_PEAK_METER
        MENUITEM "Husk stilling", IDM_SAVE_POS
        MENUITEM SEPARATOR
        MENUITEM "&Tæt", IDM_CLOSE
    END
END

IDR_LV_MENU MENU 
BEGIN
    POPUP "LV MENU"
    BEGIN
        MENUITEM "Ny indgang", IDM_LV_NEW
        MENUITEM SEPARATOR
        MENUITEM "Kopi", IDM_LV_COPY
        MENUITEM "Indsæt", IDM_LV_PASTE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Slet", IDM_LV_DELETE
        POPUP "Installer som.."
        BEGIN
            MENUITEM "Kontrol refererer til lydmixer", IDM_LV_SET_MIXER
            MENUITEM "Kontrolelementer gælder for multimedieknapper", IDM_LV_SET_MMKEY
            MENUITEM "Kontrol refererer til et smart hjem", IDM_LV_SET_MQTT
            POPUP "Kontrol refererer til lysstyring"
            BEGIN
                MENUITEM "Kanal 8 bit (standard)", IDM_LV_SET_LIGHTKEY8B
                MENUITEM "Kanal 16 bit (udvidet)", IDM_LV_SET_LIGHTKEY16B
            END
            MENUITEM SEPARATOR
            MENUITEM "Ikke tildelt", IDM_LV_SET_NONE
        END
        MENUITEM SEPARATOR
        MENUITEM "Læs MIDI kode..", IDM_LV_READ_MIDI_CODE
    END
END

IDR_COL3_TYPE_MENU MENU 
BEGIN
    POPUP "COL3 TYPE MENU"
    BEGIN
        POPUP "Regulatorer.."
        BEGIN
            MENUITEM "Strip Regulator", IDM_COL3_SLIDER
            MENUITEM "Strip Regulator med Inversion", IDM_COL3_SLIDERINVERT
            MENUITEM SEPARATOR
            MENUITEM "Cirkulær regulator", IDM_COL3_FADER
            MENUITEM "Cirkulær regulator med inversion", IDM_COL3_FADERINVERT
            MENUITEM SEPARATOR
            MENUITEM "Encoder", IDM_COL3_KNOB
            MENUITEM "Encoder med inversion", IDM_COL3_KNOBINVERT
            MENUITEM SEPARATOR
            MENUITEM "Ikke tildelt", IDM_COL3_NONE
        END
        POPUP "Knapper.."
        BEGIN
            MENUITEM "Knap", IDM_COL3_BTN
            MENUITEM "Afbryderknap, med indikation", IDM_COL3_BTNTOGGLE
            MENUITEM SEPARATOR
            MENUITEM "Ikke tildelt", IDM_COL3_NONE
        END
    END
END

IDR_COL4_ALL_TARGET_MENU MENU 
BEGIN
    POPUP "COL4 ALL APPENDED TARGET MENU"
    BEGIN
        MENUITEM "Ikke tildelt", IDM_COL4_NONE
        MENUITEM SEPARATOR
        MENUITEM "Regulatorer..", IDR_COL5_MENU_REPLACE_FIELD1
        MENUITEM "Knapper..", IDR_COL5_MENU_REPLACE_FIELD2
        MENUITEM SEPARATOR
        MENUITEM "Kontrol refererer til lydmixer", IDM_COL4_VOLUMEMIX
        MENUITEM "Kontrolelementer gælder for multimedieknapper", IDM_COL4_MEDIAKEY
        MENUITEM "Kontrol refererer til et smart hjem", IDM_COL4_MQTTKEY
        POPUP "Kontrol refererer til lysstyring"
        BEGIN
            MENUITEM "Kanal 8 bit (standard)", IDM_COL4_LIGHTKEY8B
            MENUITEM "Kanal 16 bit (udvidet)", IDM_COL4_LIGHTKEY16B
        END
    END
END

IDR_COL4_BTN_TARGET_MENU MENU 
BEGIN
    POPUP "COL4 BTN TARGET MENU"
    BEGIN
        MENUITEM "Ikke tildelt", IDM_COL4_NONE
        MENUITEM SEPARATOR
        POPUP "Lydkontrol..."
        BEGIN
            MENUITEM "Tavs (mester)", IDM_COL4_MAM
            MENUITEM "Solo (mester)", IDM_COL4_MAS
            MENUITEM SEPARATOR
            POPUP "lydløst.."
            BEGIN
                MENUITEM "kanal 1", IDM_COL4_B21
                MENUITEM "kanal 2", IDM_COL4_B22
                MENUITEM "kanal 3", IDM_COL4_B23
                MENUITEM "kanal 4", IDM_COL4_B24
                MENUITEM "kanal 5", IDM_COL4_B25
                MENUITEM "kanal 6", IDM_COL4_B26
                MENUITEM "kanal 7", IDM_COL4_B27
                MENUITEM "kanal 8", IDM_COL4_B28
                MENUITEM "kanal 9", IDM_COL4_B29
            END
            POPUP "Solo.."
            BEGIN
                MENUITEM "kanal 1", IDM_COL4_B11
                MENUITEM "kanal 2", IDM_COL4_B12
                MENUITEM "kanal 3", IDM_COL4_B13
                MENUITEM "kanal 4", IDM_COL4_B14
                MENUITEM "kanal 5", IDM_COL4_B15
                MENUITEM "kanal 6", IDM_COL4_B16
                MENUITEM "kanal 7", IDM_COL4_B17
                MENUITEM "kanal 8", IDM_COL4_B18
                MENUITEM "kanal 9", IDM_COL4_B19
            END
        END
        POPUP "Multimedie knapper.."
        BEGIN
            MENUITEM "Afspil/pause", IDM_COL4_SYS_Play
            MENUITEM "Hold op", IDM_COL4_SYS_Stop
            MENUITEM "Tidligere", IDM_COL4_SYS_Rewind
            MENUITEM "Næste", IDM_COL4_SYS_Forward
            MENUITEM "Optage", IDM_COL4_SYS_Record
            MENUITEM "Op (joystick)", IDM_COL4_SYS_Up
            MENUITEM "Ned (joystick)", IDM_COL4_SYS_Down
            MENUITEM "Højre (joystick)", IDM_COL4_SYS_Right
            MENUITEM "Venstre (joystick)", IDM_COL4_SYS_Left
            MENUITEM "Zoom ind", IDM_COL4_SYS_Zoom
            MENUITEM "Skrubning", IDM_COL4_SYS_Scrub
        END
        POPUP "Premiere Pro funktioner..."
        BEGIN
            POPUP "Funktioner af standardknappen..."
            BEGIN
                MENUITEM "Funktion 1", IDM_COL4_FUN11
                MENUITEM "Funktion 2", IDM_COL4_FUN12
                MENUITEM "Funktion 3", IDM_COL4_FUN13
                MENUITEM "Funktion 4", IDM_COL4_FUN14
                MENUITEM "Funktion 5", IDM_COL4_FUN15
                MENUITEM "Funktion 6", IDM_COL4_FUN16
                MENUITEM "Funktion 7", IDM_COL4_FUN17
                MENUITEM "Funktion 8", IDM_COL4_FUN18
            END
            POPUP "One-touch knap funktioner..."
            BEGIN
                MENUITEM "Funktion 1", IDM_COL4_FUN21
                MENUITEM "Funktion 2", IDM_COL4_FUN22
                MENUITEM "Funktion 3", IDM_COL4_FUN23
                MENUITEM "Funktion 4", IDM_COL4_FUN24
                MENUITEM "Funktion 5", IDM_COL4_FUN25
                MENUITEM "Funktion 6", IDM_COL4_FUN26
                MENUITEM "Funktion 7", IDM_COL4_FUN27
                MENUITEM "Funktion 8", IDM_COL4_FUN28
            END
        END
        POPUP "Knapper i Smart Home-systemet.."
        BEGIN
            MENUITEM "tænd/sluk 1", IDM_COL4_B11
            MENUITEM "tænd/sluk 2", IDM_COL4_B12
            MENUITEM "tænd/sluk 3", IDM_COL4_B13
            MENUITEM "tænd/sluk 4", IDM_COL4_B14
            MENUITEM "tænd/sluk 5", IDM_COL4_B15
            MENUITEM "tænd/sluk 6", IDM_COL4_B16
            MENUITEM "tænd/sluk 7", IDM_COL4_B17
            MENUITEM "tænd/sluk 8", IDM_COL4_B18
            MENUITEM "tænd/sluk 9", IDM_COL4_B19
            MENUITEM "tænd/sluk 10", IDM_COL4_B21
            MENUITEM "tænd/sluk 11", IDM_COL4_B22
            MENUITEM "tænd/sluk 12", IDM_COL4_B23
            MENUITEM "tænd/sluk 13", IDM_COL4_B24
            MENUITEM "tænd/sluk 14", IDM_COL4_B25
            MENUITEM "tænd/sluk 15", IDM_COL4_B26
            MENUITEM "tænd/sluk 16", IDM_COL4_B27
            MENUITEM "tænd/sluk 17", IDM_COL4_B28
            MENUITEM "tænd/sluk 18", IDM_COL4_B29
            MENUITEM "tænd/sluk 19", IDM_COL4_B31
            MENUITEM "tænd/sluk 20", IDM_COL4_B32
            MENUITEM "tænd/sluk 21", IDM_COL4_B33
            MENUITEM "tænd/sluk 22", IDM_COL4_B34
            MENUITEM "tænd/sluk 23", IDM_COL4_B35
            MENUITEM "tænd/sluk 24", IDM_COL4_B36
            MENUITEM "tænd/sluk 25", IDM_COL4_B37
            MENUITEM "tænd/sluk 26", IDM_COL4_B38
            MENUITEM "tænd/sluk 27", IDM_COL4_B39
        END
        MENUITEM SEPARATOR
        MENUITEM "Kontrol refererer til lydmixer", IDM_COL4_VOLUMEMIX
        MENUITEM "Kontrolelementer gælder for multimedieknapper", IDM_COL4_MEDIAKEY
        MENUITEM "Kontrol refererer til et smart hjem", IDM_COL4_MQTTKEY
        POPUP "Kontrol refererer til lysstyring"
        BEGIN
            MENUITEM "Kanal 8 bit (standard)", IDM_COL4_LIGHTKEY8B
            MENUITEM "Kanal 16 bit (udvidet)", IDM_COL4_LIGHTKEY16B
        END
    END
END

IDR_COL4_SLIDER_TARGET_MENU MENU 
BEGIN
    POPUP "COL4 SLIDER TARGET MENU"
    BEGIN
        MENUITEM "Encoder (frame-by-frame-visning)", IDM_COL4_JOG
        MENUITEM "Ikke tildelt", IDM_COL4_NONE
        MENUITEM SEPARATOR
        POPUP "Lydkontrol..."
        BEGIN
            MENUITEM "Volumen (master)", IDM_COL4_MAV
            MENUITEM "Balance (master)", IDM_COL4_MAP
            MENUITEM SEPARATOR
            POPUP "Bind.."
            BEGIN
                MENUITEM "kanal 1", IDM_COL4_AV1
                MENUITEM "kanal 2", IDM_COL4_AV2
                MENUITEM "kanal 3", IDM_COL4_AV3
                MENUITEM "kanal 4", IDM_COL4_AV4
                MENUITEM "kanal 5", IDM_COL4_AV5
                MENUITEM "kanal 6", IDM_COL4_AV6
                MENUITEM "kanal 7", IDM_COL4_AV7
                MENUITEM "kanal 8", IDM_COL4_AV8
                MENUITEM "kanal 9", IDM_COL4_XV9
            END
            POPUP "Balance.."
            BEGIN
                MENUITEM "kanal 1", IDM_COL4_AP1
                MENUITEM "kanal 2", IDM_COL4_AP2
                MENUITEM "kanal 3", IDM_COL4_AP3
                MENUITEM "kanal 4", IDM_COL4_AP4
                MENUITEM "kanal 5", IDM_COL4_AP5
                MENUITEM "kanal 6", IDM_COL4_AP6
                MENUITEM "kanal 7", IDM_COL4_AP7
                MENUITEM "kanal 8", IDM_COL4_AP8
                MENUITEM "kanal 9", IDM_COL4_XP9
            END
        END
        POPUP "Regulatorer i ""Smart Home""-systemet.."
        BEGIN
            MENUITEM "niveau 1", IDM_COL4_AV1
            MENUITEM "niveau 2", IDM_COL4_AV2
            MENUITEM "niveau 3", IDM_COL4_AV3
            MENUITEM "niveau 4", IDM_COL4_AV4
            MENUITEM "niveau 5", IDM_COL4_AV5
            MENUITEM "niveau 6", IDM_COL4_AV6
            MENUITEM "niveau 7", IDM_COL4_AV7
            MENUITEM "niveau 8", IDM_COL4_AV8
            MENUITEM "niveau 9", IDM_COL4_XV9
            MENUITEM "niveau 10", IDM_COL4_AP1
            MENUITEM "niveau 11", IDM_COL4_AP2
            MENUITEM "niveau 12", IDM_COL4_AP3
            MENUITEM "niveau 13", IDM_COL4_AP4
            MENUITEM "niveau 14", IDM_COL4_AP5
            MENUITEM "niveau 15", IDM_COL4_AP6
            MENUITEM "niveau 16", IDM_COL4_AP7
            MENUITEM "niveau 17", IDM_COL4_AP8
            MENUITEM "niveau 18", IDM_COL4_XP9
        END
        MENUITEM SEPARATOR
        MENUITEM "Kontrol refererer til lydmixer", IDM_COL4_VOLUMEMIX
        MENUITEM "Kontrolelementer gælder for multimedieknapper", IDM_COL4_MEDIAKEY
        MENUITEM "Kontrol refererer til et smart hjem", IDM_COL4_MQTTKEY
        POPUP "Kontrol refererer til lysstyring"
        BEGIN
            MENUITEM "Kanal 8 bit (standard)", IDM_COL4_LIGHTKEY8B
            MENUITEM "Kanal 16 bit (udvidet)", IDM_COL4_LIGHTKEY16B
        END
    END
END

IDR_COL5_SLIDER_MIX_MENU MENU 
BEGIN
    POPUP "COL4 SLIDER MIXER MENU"
    BEGIN
        MENUITEM "Volumen (master)", IDM_COL4_MAV
        MENUITEM "Encoder (JOG)", IDM_COL4_JOG
        MENUITEM SEPARATOR
        POPUP "Bind.."
        BEGIN
            MENUITEM "kanal 1", IDM_COL4_AV1
            MENUITEM "kanal 2", IDM_COL4_AV2
            MENUITEM "kanal 3", IDM_COL4_AV3
            MENUITEM "kanal 4", IDM_COL4_AV4
            MENUITEM "kanal 5", IDM_COL4_AV5
            MENUITEM "kanal 6", IDM_COL4_AV6
            MENUITEM "kanal 7", IDM_COL4_AV7
            MENUITEM "kanal 8", IDM_COL4_AV8
            MENUITEM "kanal 9", IDM_COL4_XV9
            MENUITEM "kanal 10", IDM_COL4_AP1
            MENUITEM "kanal 11", IDM_COL4_AP2
            MENUITEM "kanal 12", IDM_COL4_AP3
            MENUITEM "kanal 13", IDM_COL4_AP4
            MENUITEM "kanal 14", IDM_COL4_AP5
            MENUITEM "kanal 15", IDM_COL4_AP6
            MENUITEM "kanal 16", IDM_COL4_AP7
            MENUITEM "kanal 17", IDM_COL4_AP8
            MENUITEM "kanal 18", IDM_COL4_XP9
        END
        MENUITEM SEPARATOR
        MENUITEM "Ikke tildelt", IDM_COL4_NONE
    END
END

IDR_COL5_BTN_MIX_MENU MENU 
BEGIN
    POPUP "COL5 BTN MIXER MENU"
    BEGIN
        MENUITEM "Tavs (mester)", IDM_COL4_MAM
        MENUITEM SEPARATOR
        POPUP "lydløst.."
        BEGIN
            MENUITEM "kanal 1", IDM_COL4_B21
            MENUITEM "kanal 2", IDM_COL4_B22
            MENUITEM "kanal 3", IDM_COL4_B23
            MENUITEM "kanal 4", IDM_COL4_B24
            MENUITEM "kanal 5", IDM_COL4_B25
            MENUITEM "kanal 6", IDM_COL4_B26
            MENUITEM "kanal 7", IDM_COL4_B27
            MENUITEM "kanal 8", IDM_COL4_B28
            MENUITEM "kanal 9", IDM_COL4_B29
        END
        MENUITEM SEPARATOR
        MENUITEM "Ikke tildelt", IDM_COL4_NONE
    END
END

IDR_COL5_BTN_MMKEY_MENU MENU 
BEGIN
    POPUP "COL5 BTN MMKEY MENU"
    BEGIN
        MENUITEM "Afspil/pause", IDM_COL4_SYS_Play
        MENUITEM "Hold op", IDM_COL4_SYS_Stop
        MENUITEM "Tidligere", IDM_COL4_SYS_Rewind
        MENUITEM "Næste", IDM_COL4_SYS_Forward
        MENUITEM "Optage", IDM_COL4_SYS_Record
        MENUITEM "Op (joystick)", IDM_COL4_SYS_Up
        MENUITEM "Ned (joystick)", IDM_COL4_SYS_Down
        MENUITEM "Højre (joystick)", IDM_COL4_SYS_Right
        MENUITEM "Venstre (joystick)", IDM_COL4_SYS_Left
        MENUITEM "Zoom ind", IDM_COL4_SYS_Zoom
        MENUITEM "Skrubning", IDM_COL4_SYS_Scrub
        MENUITEM SEPARATOR
        MENUITEM "Ikke tildelt", IDM_COL4_NONE
    END
END

IDR_COL5_SLIDER_SM_MENU MENU 
BEGIN
    POPUP "COL5 SLIDER SMART HOUSE MENU"
    BEGIN
        MENUITEM "niveau 1", IDM_COL4_AV1
        MENUITEM "niveau 2", IDM_COL4_AV2
        MENUITEM "niveau 3", IDM_COL4_AV3
        MENUITEM "niveau 4", IDM_COL4_AV4
        MENUITEM "niveau 5", IDM_COL4_AV5
        MENUITEM "niveau 6", IDM_COL4_AV6
        MENUITEM "niveau 7", IDM_COL4_AV7
        MENUITEM "niveau 8", IDM_COL4_AV8
        MENUITEM "niveau 9", IDM_COL4_XV9
        MENUITEM "niveau 10", IDM_COL4_AP1
        MENUITEM "niveau 11", IDM_COL4_AP2
        MENUITEM "niveau 12", IDM_COL4_AP3
        MENUITEM "niveau 13", IDM_COL4_AP4
        MENUITEM "niveau 14", IDM_COL4_AP5
        MENUITEM "niveau 15", IDM_COL4_AP6
        MENUITEM "niveau 16", IDM_COL4_AP7
        MENUITEM "niveau 17", IDM_COL4_AP8
        MENUITEM "niveau 18", IDM_COL4_XP9
        MENUITEM SEPARATOR
        MENUITEM "Ikke tildelt", IDM_COL4_NONE
    END
END

IDR_COL5_BTN_SM_MENU MENU 
BEGIN
    POPUP "COL5 BTN SMART HOUSE MENU"
    BEGIN
        MENUITEM "tænd/sluk 1", IDM_COL4_B11
        MENUITEM "tænd/sluk 2", IDM_COL4_B12
        MENUITEM "tænd/sluk 3", IDM_COL4_B13
        MENUITEM "tænd/sluk 4", IDM_COL4_B14
        MENUITEM "tænd/sluk 5", IDM_COL4_B15
        MENUITEM "tænd/sluk 6", IDM_COL4_B16
        MENUITEM "tænd/sluk 7", IDM_COL4_B17
        MENUITEM "tænd/sluk 8", IDM_COL4_B18
        MENUITEM "tænd/sluk 9", IDM_COL4_B19
        MENUITEM "tænd/sluk 10", IDM_COL4_B21
        MENUITEM "tænd/sluk 11", IDM_COL4_B22
        MENUITEM "tænd/sluk 12", IDM_COL4_B23
        MENUITEM "tænd/sluk 13", IDM_COL4_B24
        MENUITEM "tænd/sluk 14", IDM_COL4_B25
        MENUITEM "tænd/sluk 15", IDM_COL4_B26
        MENUITEM "tænd/sluk 16", IDM_COL4_B27
        MENUITEM "tænd/sluk 17", IDM_COL4_B28
        MENUITEM "tænd/sluk 18", IDM_COL4_B29
        MENUITEM "tænd/sluk 19", IDM_COL4_B31
        MENUITEM "tænd/sluk 20", IDM_COL4_B32
        MENUITEM "tænd/sluk 21", IDM_COL4_B33
        MENUITEM "tænd/sluk 22", IDM_COL4_B34
        MENUITEM "tænd/sluk 23", IDM_COL4_B35
        MENUITEM "tænd/sluk 24", IDM_COL4_B36
        MENUITEM "tænd/sluk 25", IDM_COL4_B37
        MENUITEM "tænd/sluk 26", IDM_COL4_B38
        MENUITEM "tænd/sluk 27", IDM_COL4_B39
        MENUITEM SEPARATOR
        MENUITEM "Ikke tildelt", IDM_COL4_NONE
    END
END

