
#include "MIDIMT-Launcher-rc.h"

#pragma code_page(65001)

ICON_MIDIMT		ICON	"..\\MIDIMT\\rc\\ico\\MIDIMT.ico"

ICON_MIDIMT_SMALL	ICON	"..\\MIDIMT\\rc\\ico\\MIDIMTsmall.ico"


LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
	STRING_INFO1	"Не определена платформа приложения, 32 или 64, продолжение невозможно.."
	STRING_INFO2	"ОШИБКА УСТАНОВКИ, требуется разрешение администратора, проверьте политики и разрешения на устоновку пользовательских пакетов."
	STRING_INFO3	"Не удалось инициализировать CoInitializeEx, продолжение невозможно.."
END

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
BEGIN
	STRING_INFO1	"Application platform not defined, 32 or 64, cannot continue.."
	STRING_INFO2	"INSTALLATION ERROR, administrator permission required, check policies and permissions to install custom packages."
	STRING_INFO3	"Failed to initialize CoInitializeEx, cannot continue.."
END

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

MSIDRV_32	MSI	"msi\\mdrv32"
MSIDRV_64	MSI	"msi\\mdrv64"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VER_MAJOR,VER_MINOR,VER_SUB,VER_BUILD
 PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_SUB,VER_BUILD
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904b0"
        BEGIN
            VALUE "CompanyName", "CC"
            VALUE "FileDescription", VER_LAUNCH_DESC
            VALUE "FileVersion", VER_TXT
            VALUE "InternalName", "MIDIMT-Launcher.exe"
            VALUE "LegalCopyright", VER_COPYRIGHT
            VALUE "OriginalFilename", "MIDIMT-Launcher.exe"
            VALUE "ProductName", VER_DLL_NAME
            VALUE "ProductVersion", VER_TXT
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END

