﻿
#define APSTUDIO_READONLY_SYMBOLS
#ifndef APSTUDIO_INVOKED
#include <SDKDDKVer.h>
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#include "CommCtrl.h"
#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_BULGARIAN, SUBLANG_DEFAULT
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDC_MIDIMT_ACCEL ACCELERATORS
BEGIN
    "?",            IDM_GO_ABOUT,           ASCII,  ALT
    "/",            IDM_GO_ABOUT,           ASCII,  ALT
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_FORMABOUT DIALOGEX 0, 0, 306, 173
STYLE DS_ABSALIGN | DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_BORDER
EXSTYLE WS_EX_TOPMOST | WS_EX_TRANSPARENT | WS_EX_COMPOSITED
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         IDB_BMP_LOGO,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_DISABLED,0,0,306,175,WS_EX_TRANSPARENT
    LTEXT           VER_GUI_RU,IDC_ABOUT_VERSION,193,34,101,8,SS_NOPREFIX
    LTEXT           VER_COPYRIGHT,IDC_ABOUT_COPY,193,46,101,8
    PUSHBUTTON      "Актуализации",IDC_OK2,191,64,104,14,BS_FLAT | WS_GROUP
    PUSHBUTTON      "Помогне",IDC_OK3,191,79,104,15,BS_FLAT | WS_GROUP
    DEFPUSHBUTTON   "&Близо",IDOK,191,94,104,14,BS_FLAT | WS_GROUP
END

IDD_ASSIGNBOX DIALOGEX 0, 0, 494, 162
STYLE DS_ABSALIGN | DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_BORDER
EXSTYLE WS_EX_TOPMOST | WS_EX_TRANSPARENT | WS_EX_COMPOSITED
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         IDB_BMP_ASSIGN,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_DISABLED,7,7,485,130,WS_EX_TRANSPARENT
    PUSHBUTTON      "&Настройки на MIDI панела",IDC_OK2,273,142,148,14,BS_FLAT | WS_GROUP
    DEFPUSHBUTTON   "&Близо",IDOK,423,142,63,14,BS_FLAT | WS_GROUP
    LTEXT           "Препоръчително оформление на MIDI контролния панел. Файлът с настройките за това оформление се намира в папката „docs/MIDIMT.Ctrl_data“",IDC_STATIC,19,140,250,21,SS_NOPREFIX,WS_EX_TRANSPARENT
END

IDD_FORMSTART DIALOGEX 0, 0, 757, 400
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_ACCEPTFILES | WS_EX_CONTEXTHELP | WS_EX_APPWINDOW
CAPTION "Стартиране на MIDI преводача"
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "MIDI устройства",IDC_STATIC,11,4,737,66
    COMBOBOX        IDC_DEVICE_COMBO,20,15,722,30,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_MIDI_MACKIE_OUT,20,32,722,14,ES_READONLY,WS_EX_CLIENTEDGE
    EDITTEXT        IDC_MIDI_PROXY_OUT,20,49,722,14,ES_READONLY,WS_EX_CLIENTEDGE
    GROUPBOX        "MIDI мост",IDC_STATIC,11,73,326,79
    CONTROL         "стартиран",IDC_START_RADIO1,"Button",BS_AUTORADIOBUTTON | BS_FLAT | WS_DISABLED | WS_GROUP,21,86,46,10
    CONTROL         "Спряна",IDC_START_RADIO2,"Button",BS_AUTORADIOBUTTON | BS_FLAT | WS_DISABLED | WS_GROUP,72,86,57,10
    CONTROL         "Конфигурация",IDC_INFO_ISCONFIG,"Button",BS_AUTO3STATE | BS_FLAT | WS_DISABLED | WS_TABSTOP,165,86,65,10
    CONTROL         "MIDI контроли",IDC_INFO_ISUNITS,"Button",BS_AUTO3STATE | BS_FLAT | WS_DISABLED | WS_TABSTOP,243,86,65,10
    LTEXT           "0",IDC_INFO_CTRLCOUNT,311,86,12,8
    CONTROL         "",IDC_SLIDER_INT,"msctls_trackbar32",TBS_AUTOTICKS | TBS_BOTH | WS_TABSTOP,19,115,131,15
    CONTROL         "",IDC_SLIDER_LONGINT,"msctls_trackbar32",TBS_AUTOTICKS | TBS_BOTH | WS_TABSTOP,158,116,171,15
    LTEXT           "Интервал между кликванията",IDC_STATIC,25,135,98,8
    LTEXT           "50",IDC_SLIDER_VAL1,125,135,23,8
    LTEXT           "Интервал като продължително натискане",IDC_STATIC,167,135,106,8
    LTEXT           "500",IDC_SLIDER_VAL2,275,135,20,8
    GROUPBOX        "стартиране",IDC_STATIC,11,156,135,148
    CONTROL         "Стартирайте при зареждане на системата",IDC_AUTOBOOT_SYS,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,21,169,120,10
    CONTROL         "Автоматичен старт при стартиране",IDC_AUTORUN_SYS,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,21,181,120,10
    CONTROL         "Автоматично стартиране на тази конфигурация",IDC_AUTORUN_CONFIG,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,21,193,120,10
    CONTROL         "Напишете дневник",IDC_WRITE_FILELOG,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,21,205,70,10
    LTEXT           "Предпочитан език:",IDC_STATIC,23,225,94,8
    COMBOBOX        IDC_LANG_COMBO,21,238,81,32,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Използвайте десния бутон на мишката, за да извикате миксера",IDC_MIXER_RIGHT_CLICK,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | BS_FLAT | WS_TABSTOP,21,263,117,20
    GROUPBOX        "MIDI настройки",IDC_STATIC,151,156,97,64
    CONTROL         "Шофьор:",IDC_INFO_VMDRV_CHECK,"Button",BS_AUTO3STATE | BS_FLAT | WS_DISABLED | WS_TABSTOP,161,169,46,10
    CONTROL         "-",IDC_INFO_VMDRV_VER,"Static",SS_SIMPLE | WS_GROUP,205,170,42,8
    CONTROL         "JOG филтър за сцени",IDC_JOGFILTER_CONFIG,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,161,181,79,10
    CONTROL         "Портът не е създаден",IDC_MANUALPORT_CONFIG,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,161,193,83,10
    GROUPBOX        "MIDI прокси",IDC_STATIC,253,156,83,64
    COMBOBOX        IDC_PROXY_COMBO,260,170,65,55,CBS_DROPDOWN | CBS_SORT | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "брой портове",IDC_STATIC,260,183,66,8
    CONTROL         "Включени",IDC_INFO_ISPROXY,"Button",BS_AUTO3STATE | BS_FLAT | WS_DISABLED | WS_TABSTOP,260,193,50,10
    GROUPBOX        "Настройки на аудио миксера",IDC_STATIC,152,224,184,80
    CONTROL         "Включени",IDC_MIXER_ENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,161,239,50,10
    CONTROL         "Замяна на стойностите на обема без проверка",IDC_MIXER_FAST_VALUE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,161,251,157,10
    CONTROL         "Обединяване на приложения по име, отделна настройка не е възможна",IDC_MIXER_DUPLICATE,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | BS_FLAT | WS_TABSTOP,161,263,167,19
    CONTROL         "Задайте запазени нива на звука при стартиране",IDC_MIXER_OLD_VALUE,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | BS_FLAT | WS_TABSTOP,161,281,167,19
    CONTROL         "Активиране на MM ключове",IDC_MMKEY_ENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,235,239,94,10
    PUSHBUTTON      "Запазване на &настройките",IDC_DIALOG_SAVE,11,306,91,16,BS_FLAT
    PUSHBUTTON      "&Старт",IDC_GO_START,106,306,231,16,BS_FLAT
    EDITTEXT        IDC_LOG,12,323,533,72,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL,WS_EX_CLIENTEDGE
    PUSHBUTTON      "Конфигурация",IDC_OPEN_CONFIG,256,100,70,14,BS_FLAT
    EDITTEXT        IDC_FILE_CONFIG_NAME,20,100,234,14,ES_READONLY,WS_EX_CLIENTEDGE
    GROUPBOX        "Осветление",IDC_STATIC,343,73,199,248
    GROUPBOX        "DMX услуга",IDC_STATIC,350,87,186,101
    CONTROL         "Включени",IDC_DMX_ENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,356,98,50,10
    CONTROL         "COM порт:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,463,102,63,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    COMBOBOX        IDC_DMX_COMBO,357,113,172,30,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "-",IDC_DMX_COM_NAME,"Static",SS_SIMPLE | WS_GROUP,360,130,167,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Порт:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,413,141,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",IDC_DMX_COM_PORT,"Static",SS_SIMPLE | WS_GROUP,472,141,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Битрейт:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,413,152,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",IDC_DMX_COM_BAUDRATE,"Static",SS_SIMPLE | WS_GROUP,472,152,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Стоп бит:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,413,163,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",IDC_DMX_COM_STOPBITS,"Static",SS_SIMPLE | WS_GROUP,472,163,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Изчакване:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,413,174,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",IDC_DMX_COM_TIMEOUT,"Static",SS_SIMPLE | WS_GROUP,472,174,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    ICON            IDI_ICON_DMX,IDC_STATIC,356,135,48,48,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    GROUPBOX        "Услуга ArtNet",IDC_STATIC,350,192,186,112
    CONTROL         "Включени",IDC_ARTNET_ENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,356,203,50,10
    CONTROL         "ArtNet мрежа:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,463,207,63,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    COMBOBOX        IDC_ARTNET_COMBO,357,218,172,30,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Номер на вселената:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,413,238,77,8,WS_EX_TRANSPARENT
    EDITTEXT        IDC_ARTNET_UNIVERSE,495,236,32,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "Порт:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,413,251,77,8,WS_EX_TRANSPARENT
    EDITTEXT        IDC_ARTNET_PORT,495,251,32,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "адрес:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,413,269,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",IDC_ARTNET_IP,"Static",SS_SIMPLE | WS_GROUP,472,269,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Маска:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,413,280,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",IDC_ARTNET_MASK,"Static",SS_SIMPLE | WS_GROUP,472,280,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Излъчване:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,413,291,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",IDC_ARTNET_BCAST,"Static",SS_SIMPLE | WS_GROUP,472,291,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    ICON            IDI_ICON_ARTNET,IDC_STATIC,356,241,48,48,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    CONTROL         "Активиране на DMX пул (стандартно поведение)",IDC_DMX_POLL,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,351,307,184,10
    GROUPBOX        "Умна къща",IDC_STATIC,549,73,199,263
    CONTROL         "Включени",IDC_MQTT_ENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,556,89,50,10
    GROUPBOX        "MQTT сървър",IDC_STATIC,556,103,186,44
    CONTROL         "IP адрес:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,562,114,69,8,WS_EX_TRANSPARENT
    EDITTEXT        IDC_MQTT_IPADDR,562,125,109,14,ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "порт:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,675,114,44,8,WS_EX_TRANSPARENT
    EDITTEXT        IDC_MQTT_PORT,675,125,60,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP,WS_EX_TRANSPARENT
    GROUPBOX        "Безопасност",IDC_STATIC,556,150,186,106
    CONTROL         "Влизам:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,562,161,41,8,WS_EX_TRANSPARENT
    EDITTEXT        IDC_MQTT_LOGIN,562,170,84,14,ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "парола:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,655,161,64,8,WS_EX_TRANSPARENT
    EDITTEXT        IDC_MQTT_PASS,649,170,86,14,ES_PASSWORD | ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "PSK ключ:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,562,190,41,8,WS_EX_TRANSPARENT
    EDITTEXT        IDC_MQTT_PSK,562,199,174,14,ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "SSL/TLS активиран",IDC_MQTT_ISSSL,"Button",BS_AUTO3STATE | BS_FLAT | WS_TABSTOP,562,218,77,10
    CONTROL         "самоподписан",IDC_MQTT_ISSELFSIGN,"Button",BS_AUTO3STATE | BS_FLAT | WS_TABSTOP,641,218,77,10
    EDITTEXT        IDC_MQTT_CA,562,233,95,14,ES_AUTOHSCROLL | ES_READONLY | WS_GROUP,WS_EX_TRANSPARENT
    PUSHBUTTON      "CA сертификат",IDC_MQTT_CAOPEN,661,233,75,14,BS_FLAT
    GROUPBOX        "Настроики",IDC_STATIC,556,258,186,71
    CONTROL         "Префикс на MQTT тема: (по избор)",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,562,271,170,8,WS_EX_TRANSPARENT
    EDITTEXT        IDC_MQTT_PREFIX,562,282,174,14,ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "ниво на регистриране на MQTT сесии:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,562,298,167,8,WS_EX_TRANSPARENT
    COMBOBOX        IDC_MQTT_LOGLEVEL,563,309,175,30,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Близо",IDCANCEL,549,341,200,16,BS_FLAT
    PUSHBUTTON      "Актуализации",IDC_GO_URL,549,357,200,16,BS_FLAT
    PUSHBUTTON      "&За програмата..",IDC_GO_ABOUT,549,374,200,16,BS_FLAT
END

IDD_FORMMONITOR DIALOGEX 0, 0, 305, 276
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW | WS_EX_CONTEXTHELP
CAPTION "MIDI команден монитор"
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Команден монитор",IDC_STATIC,9,4,285,54
    LTEXT           "MIDI Command Monitor ще ви помогне да определите как е конфигуриран контролерът. За да започнете тестването, щракнете върху бутона \\\\Старт\\\\. Като използвате различните контроли на вашия контролер, ще получавате съобщения за сцената, номера и текущата стойност.",IDC_STATIC,15,18,274,34
    PUSHBUTTON      "Спри се",IDC_MONITOR_STOP,7,61,95,14,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "Започнете",IDC_MONITOR_START,103,61,192,14,BS_FLAT
    EDITTEXT        IDC_MONITOR,7,78,287,160,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL,WS_EX_CLIENTEDGE
    PUSHBUTTON      "&Близо",IDCANCEL,105,241,191,14,BS_FLAT
    PUSHBUTTON      "Clean&Steep",IDC_MONITOR_CLEAR,6,241,98,14,BS_FLAT
    CONTROL         "",IDC_LOG,"Static",SS_SIMPLE | SS_SUNKEN | SS_ENDELLIPSIS | WS_GROUP,7,259,287,13
END

IDD_FORMSETUP DIALOGEX 0, 0, 712, 325
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_ACCEPTFILES | WS_EX_CONTEXTHELP | WS_EX_APPWINDOW
CAPTION "MIDI контролна настройка"
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    CONTROL         "",IDC_DIALOG_LOG_NOSCROLL,"Static",SS_SIMPLE | WS_GROUP,12,50,682,41,WS_EX_TRANSPARENT
    GROUPBOX        "Настройка на MIDI контроли",IDC_STATIC,7,97,215,224
    RTEXT           "0",IDC_SETUP_COUNT,194,97,20,8
    CONTROL         "",IDC_SETUP_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE | WS_BORDER | WS_TABSTOP,15,110,200,205,WS_EX_CLIENTEDGE
    GROUPBOX        "MIDI",IDC_STATIC,417,111,60,37
    ICON            IDI_MIDIMT,IDC_SETUP_ICON,423,122,20,20,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    PUSHBUTTON      "",IDC_BTN_INFO,452,122,20,20,BS_ICON | BS_FLAT
    GROUPBOX        "Информация",IDC_STATIC,227,97,259,224
    LTEXT           "Контрол:",IDC_STATIC,241,157,95,10
    CONTROL         "",IDC_SETUP_NUMBER,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,157,28,10,WS_EX_RIGHT
    LTEXT           "Сцена:",IDC_STATIC,241,169,95,10
    CONTROL         "",IDC_SETUP_SCENE,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,341,169,108,10,WS_EX_RIGHT
    CONTROL         "",IDC_SETUP_SCENEN,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,169,28,10,WS_EX_RIGHT
    LTEXT           "Тип контрол:",IDC_STATIC,241,181,95,10
    CONTROL         "",IDC_SETUP_TYPE,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,341,181,108,10,WS_EX_RIGHT
    CONTROL         "",IDC_SETUP_TYPEN,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,181,28,10,WS_EX_RIGHT
    LTEXT           "Предназначение:",IDC_STATIC,241,193,95,10
    CONTROL         "",IDC_SETUP_TARGET,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,341,193,108,10,WS_EX_RIGHT
    CONTROL         "",IDC_SETUP_TARGETN,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,193,28,10,WS_EX_RIGHT
    LTEXT           "Цел (дълго щракване):",IDC_STATIC,241,205,95,10
    CONTROL         "",IDC_SETUP_TARGET_LONG,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,341,205,108,10,WS_EX_RIGHT
    CONTROL         "",IDC_SETUP_TARGET_LONGN,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,205,28,10,WS_EX_RIGHT
    LTEXT           "Приложения за регулиране на миксера:",IDC_STATIC,241,217,144,10
    LISTBOX         IDC_SETUP_APPLIST,241,229,215,64,LBS_SORT | LBS_HASSTRINGS | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
    CONTROL         "",IDC_SLIDER_VOLUME,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_DISABLED | WS_TABSTOP,241,300,181,13
    PUSHBUTTON      "",IDC_BTN_MUTE,426,298,54,18,BS_ICON | BS_FLAT | WS_DISABLED
    PUSHBUTTON      "",IDC_BTN_FOLDER,460,227,20,20,BS_ICON | BS_FLAT | WS_DISABLED
    PUSHBUTTON      "",IDC_BTN_RUNAPP,460,247,20,20,BS_ICON | BS_FLAT | WS_DISABLED
    PUSHBUTTON      "",IDC_BTN_REMOVE,460,267,20,20,BS_ICON | BS_FLAT | WS_DISABLED
    PUSHBUTTON      "&Близо",IDCANCEL,609,324,94,14,BS_FLAT
    CONTROL         "",IDC_LOG,"Static",SS_SIMPLE | SS_SUNKEN | SS_ENDELLIPSIS | WS_GROUP,7,325,600,13
    GROUPBOX        "Съвети",IDC_STATIC,493,97,209,224
    LISTBOX         IDC_SETUP_HELPLIST,501,128,193,188,LBS_HASSTRINGS | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | LBS_NOSEL | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
    CONTROL         "всичко",IDC_SETUP_RADIO1,"Button",BS_AUTORADIOBUTTON,501,110,27,10
    CONTROL         "Бутони",IDC_SETUP_RADIO2,"Button",BS_AUTORADIOBUTTON,535,110,41,10
    CONTROL         "Плъзгачи",IDC_SETUP_RADIO3,"Button",BS_AUTORADIOBUTTON,579,110,51,10
    CONTROL         "Мултимедия",IDC_SETUP_RADIO4,"Button",BS_AUTORADIOBUTTON,633,110,62,10
END

IDD_FORMCOLOR DIALOGEX 0, 0, 207, 120
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "Настройване на персонализирана тема"
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Вашите цветове на темата",IDC_STATIC,9,8,188,107
    CONTROL         "Цвят на текста",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,30,44,8
    LTEXT           "",IDC_COLOR_BOX1,15,40,66,14,SS_NOTIFY | NOT WS_GROUP,WS_EX_STATICEDGE
    CONTROL         "Цвят на фона",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,58,38,8
    LTEXT           "",IDC_COLOR_BOX2,15,68,66,14,SS_NOTIFY | NOT WS_GROUP,WS_EX_STATICEDGE
    CONTROL         "цвят на рамката",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,86,40,8
    LTEXT           "",IDC_COLOR_BOX3,15,96,66,14,SS_NOTIFY | NOT WS_GROUP,WS_EX_STATICEDGE
    GROUPBOX        "Основна тема",IDC_STATIC,88,18,104,92,BS_FLAT
    CONTROL         "Метро",IDC_RADIO_METRO,"Button",BS_AUTORADIOBUTTON | BS_FLAT,100,35,60,10
    CONTROL         "Светлина",IDC_RADIO_LIGHT,"Button",BS_AUTORADIOBUTTON,100,49,60,10
    CONTROL         "Тъмно",IDC_RADIO_DARK,"Button",BS_AUTORADIOBUTTON,100,63,60,10
    CONTROL         "ретро",IDC_RADIO_RETRO,"Button",BS_AUTORADIOBUTTON,100,77,60,10
    CONTROL         "Модерен",IDC_RADIO_MODERN,"Button",BS_AUTORADIOBUTTON,100,91,60,10
END

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BMP_LOGO	BITMAP				"AboutLogo.bmp"

