#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_BULGARIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT преводач"
    STRING_MIXER	"&Смесител"
    STRING_SETTINGS	"&Настройки"
    STRING_START	"Започнете"
    STRING_STOP		"Спри се"
    STRING_EXIT		"Изход"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Конфигурация, заредена от драйвера"
    STRING_EDIT_MSG2	"Конфигурация, заредена от файл"
    STRING_EDIT_MSG3	"Конфигурацията е създадена наново и изисква попълване"
    STRING_EDIT_MSG4	"При отваряне на редактора конфигурационният файл беше посочен: '{0}'. Да го запазя ли със същото име?"
    STRING_EDIT_MSG5	"Номер на DMX канал"
    STRING_EDIT_MSG6	"MQTT конфигурацията е експортирана успешно"
    STRING_EDIT_MSG7	"Грешка при експортиране на MQTT конфигурация"
    STRING_EDIT_MSG8	"Няма открити дублиращи се MIDI ключове"
    STRING_EDIT_MSG9	"Намерени са {0} дублирани MIDI клавиша"

    STRING_NOTIFY_MSG1	"преводачът е спрян:"
    STRING_NOTIFY_MSG2	"преводачът работи:"

    STRING_AMIX_MSG1	"Аудио миксерът не работи, проверете настройките, стартирането на аудио панела трябва да е активирано."
    STRING_AMIX_MSG2	"MIDIMT - Аудио миксерът не работи:"
    STRING_AMIX_MSG3	"Невалиден идентификатор на събитието. Моля, рестартирайте това приложение."
    STRING_AMIX_MSG4	"MIDIMT - Не може да завърши операцията:"
    STRING_AMIX_MSG5	"Неуспешно превключване към потребителски интерфейс, стартирането на аудио панела е прекратено."

    STRING_MAIN_MSG1	"Грешка при инициализация на приложението, продължаването не е възможно."
    STRING_MAIN_MSG2	"Проверете разрешенията на потребителя за запис на файлове в директорията на приложението. Ако грешката продължава, опитайте да деактивирате регистрирането."
    STRING_MAIN_MSG3	"Автоматичното стартиране е деактивирано в общата конфигурация."
    STRING_MAIN_MSG4	"Избраната конфигурация не поддържа автоматично стартиране."

    STRING_LOGV_MSG1	"Моля, преди да стартирате монитора, стартирайте преводача от менюто, като изберете „Старт“."
    STRING_LOGV_MSG2	"Всички настройки „{0}“, версия на конфигурационния файл: {1}"
    STRING_LOGV_MSG3	"MIDI настройки"
    STRING_LOGV_MSG4	"Настройки за интелигентен дом (MQTT)"
    STRING_LOGV_MSG5	"Настройки на мултимедийната клавиатура (MMKEYS)"
    STRING_LOGV_MSG6	"Настройки за управление на осветлението ({0})"
    STRING_LOGV_MSG7	"Настройки на панела за дистанционно управление (REMOTE)"
    STRING_LOGV_MSG8	"Настройки за управление на геймпад/джойстик (GAMEPAD)"
    STRING_LOGV_MSG9	"Натиснат клавиш MIDI:"
    STRING_LOGV_MSG10	"Номер на етикета:"

    STRING_CHKR_MSG1	"При стартиране конфигурационният файл беше посочен: '{0}'. Да го задам като конфигурация за следващи изпълнения?"
    STRING_CHKR_MSG2	"MIDI-MT конфигурация"

    STRING_TMENU_MSG1	"Трябва да инсталирате драйвера за Virtual MIDI!"

    STRING_LANG_STATUS	"състояние:"
    STRING_LANG_YES	"да"
    STRING_LANG_NO	"Не"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "сила на звука (основен)"
	IDM_COL4_MAP  "звуков баланс (базов)"
	IDM_COL4_MAM  "без звук (основен)"
	IDM_COL4_MAS  "аудио соло (основен)"
	IDM_COL4_JOG  "JOG (превъртане на видеокадър назад)"
	IDM_COL4_AV1  "сила на звука (канал 1)"
	IDM_COL4_AV2  "сила на звука (канал 2)"
	IDM_COL4_AV3  "сила на звука (канал 3)"
	IDM_COL4_AV4  "сила на звука (канал 4)"
	IDM_COL4_AV5  "сила на звука (канал 5)"
	IDM_COL4_AV6  "сила на звука (канал 6)"
	IDM_COL4_AV7  "сила на звука (канал 7)"
	IDM_COL4_AV8  "сила на звука (канал 8)"
	IDM_COL4_XV9  "сила на звука (канал 9)"
	IDM_COL4_AP1  "баланс на звука (канал 1)"
	IDM_COL4_AP2  "звуков баланс (канал 2)"
	IDM_COL4_AP3  "звуков баланс (канал 3)"
	IDM_COL4_AP4  "звуков баланс (канал 4)"
	IDM_COL4_AP5  "звуков баланс (канал 5)"
	IDM_COL4_AP6  "баланс на звука (канал 6)"
	IDM_COL4_AP7  "звуков баланс (канал 7)"
	IDM_COL4_AP8  "звуков баланс (канал 8)"
	IDM_COL4_XP9  "звуков баланс (канал 9)"
	IDM_COL4_B11  "аудио соло (канал 1)"
	IDM_COL4_B12  "аудио соло (канал 2)"
	IDM_COL4_B13  "аудио соло (канал 3)"
	IDM_COL4_B14  "аудио соло (канал 4)"
	IDM_COL4_B15  "аудио соло (канал 5)"
	IDM_COL4_B16  "аудио соло (канал 6)"
	IDM_COL4_B17  "аудио соло (канал 7)"
	IDM_COL4_B18  "аудио соло (канал 8)"
	IDM_COL4_B19  "аудио соло (канал 9)"
	IDM_COL4_B21  "заглушаване (канал 1)"
	IDM_COL4_B22  "заглушаване (канал 2)"
	IDM_COL4_B23  "заглушаване (канал 3)"
	IDM_COL4_B24  "без звук (канал 4)"
	IDM_COL4_B25  "без звук (канал 5)"
	IDM_COL4_B26  "без звук (канал 6)"
	IDM_COL4_B27  "заглушаване (канал 7)"
	IDM_COL4_B28  "без звук (канал 8)"
	IDM_COL4_B29  "без звук (канал 9)"
	IDM_COL4_B31  "избор на звук (канал 1)"
	IDM_COL4_B32  "избор на звук (канал 2)"
	IDM_COL4_B33  "избор на звук (канал 3)"
	IDM_COL4_B34  "избор на звук (канал 4)"
	IDM_COL4_B35  "избор на звук (канал 5)"
	IDM_COL4_B36  "избор на звук (канал 6)"
	IDM_COL4_B37  "избор на звук (канал 7)"
	IDM_COL4_B38  "избор на звук (канал 8)"
	IDM_COL4_B39  "избор на звук (канал 9)"
	IDM_COL4_FUN11  "функция F1 (стандартен режим)"
	IDM_COL4_FUN12  "функция F2 (стандартен режим)"
	IDM_COL4_FUN13  "функция F3 (стандартен режим)"
	IDM_COL4_FUN14  "функция F4 (стандартен режим)"
	IDM_COL4_FUN15  "функция F5 (стандартен режим)"
	IDM_COL4_FUN16  "функция F6 (стандартен режим)"
	IDM_COL4_FUN17  "функция F7 (стандартен режим)"
	IDM_COL4_FUN18  "функция F8 (стандартен режим)"
	IDM_COL4_FUN21  "функция F1 (задържан режим)"
	IDM_COL4_FUN22  "функция F2 (задържан режим)"
	IDM_COL4_FUN23  "функция F3 (задържан режим)"
	IDM_COL4_FUN24  "функция F4 (задържан режим)"
	IDM_COL4_FUN25  "функция F5 (задържан режим)"
	IDM_COL4_FUN26  "функция F6 (задържан режим)"
	IDM_COL4_FUN27  "функция F7 (задържан режим)"
	IDM_COL4_FUN28  "функция F8 (задържан режим)"
	IDM_COL4_SYS_Rewind  "Превъртане назад (плейър)"
	IDM_COL4_SYS_Forward  "Бързо напред (играч)"
	IDM_COL4_SYS_Stop  "Спри (играч)"
	IDM_COL4_SYS_Play  "Игра (играч)"
	IDM_COL4_SYS_Record  "Запис (плейър)"
	IDM_COL4_SYS_Up    "Нагоре (джойстик)"
	IDM_COL4_SYS_Down  "Надолу (джойстик)"
	IDM_COL4_SYS_Left  "Ляво (джойстик)"
	IDM_COL4_SYS_Right  "Надясно (джойстик)"
	IDM_COL4_SYS_Zoom  "Нараства"
	IDM_COL4_SYS_Scrub  "скраб"
	IDM_COL4_VOLUMEMIX "Управление на миксера"
	IDM_COL4_MEDIAKEY "Мултимедийни клавиши"
        IDM_COL4_MQTTKEY  "Умно управление на дома"
        IDM_COL4_LIGHTKEY8B "Контрол на осветлението (8 бита)"
        IDM_COL4_LIGHTKEY16B "Контрол на осветлението (16 бита)"
	IDM_COL4_VMSCRIPT "Управление на скриптове"
	IDM_COL4_NONE  "действието не е определено"
	IDM_COL5_MQTT_AV1		"ниво 1"
	IDM_COL5_MQTT_AV2		"ниво 2"
	IDM_COL5_MQTT_AV3		"ниво 3"
	IDM_COL5_MQTT_AV4		"ниво 4"
	IDM_COL5_MQTT_AV5		"ниво 5"
	IDM_COL5_MQTT_AV6		"ниво 6"
	IDM_COL5_MQTT_AV7		"ниво 7"
	IDM_COL5_MQTT_AV8		"ниво 8"
	IDM_COL5_MQTT_XV9		"ниво 9"
	IDM_COL5_MQTT_AP1		"ниво 10"
	IDM_COL5_MQTT_AP2		"ниво 11"
	IDM_COL5_MQTT_AP3		"ниво 12"
	IDM_COL5_MQTT_AP4		"ниво 13"
	IDM_COL5_MQTT_AP5		"ниво 14"
	IDM_COL5_MQTT_AP6		"ниво 15"
	IDM_COL5_MQTT_AP7		"ниво 16"
	IDM_COL5_MQTT_AP8		"ниво 17"
	IDM_COL5_MQTT_XP9		"ниво 18"
	IDM_COL5_MQTT_B11		"включване/изключване 1"
	IDM_COL5_MQTT_B12		"включване/изключване 2"
	IDM_COL5_MQTT_B13		"включване/изключване 3"
	IDM_COL5_MQTT_B14		"включване/изключване 4"
	IDM_COL5_MQTT_B15		"включване/изключване 5"
	IDM_COL5_MQTT_B16		"включване/изключване 6"
	IDM_COL5_MQTT_B17		"включване/изключване 7"
	IDM_COL5_MQTT_B18		"включване/изключване 8"
	IDM_COL5_MQTT_B19		"включване/изключване 9"
	IDM_COL5_MQTT_B21		"включване/изключване 10"
	IDM_COL5_MQTT_B22		"включване/изключване 11"
	IDM_COL5_MQTT_B23		"включване/изключване 12"
	IDM_COL5_MQTT_B24		"включване/изключване 13"
	IDM_COL5_MQTT_B25		"включване/изключване 14"
	IDM_COL5_MQTT_B26		"включване/изключване 15"
	IDM_COL5_MQTT_B27		"включване/изключване 16"
	IDM_COL5_MQTT_B28		"включване/изключване 17"
	IDM_COL5_MQTT_B29		"включване/изключване 18"
	IDM_COL5_MQTT_B31		"включване/изключване 19"
	IDM_COL5_MQTT_B32		"включване/изключване 20"
	IDM_COL5_MQTT_B33		"включване/изключване 21"
	IDM_COL5_MQTT_B34		"включване/изключване 22"
	IDM_COL5_MQTT_B35		"включване/изключване 23"
	IDM_COL5_MQTT_B36		"включване/изключване 24"
	IDM_COL5_MQTT_B37		"включване/изключване 25"
	IDM_COL5_MQTT_B38		"включване/изключване 26"
	IDM_COL5_MQTT_B39		"включване/изключване 27"
	IDM_COL5_MQTT_EMPTY		"Не е зададен"
	IDM_COL5_SCRIPT_B11		"сценарий 1"
	IDM_COL5_SCRIPT_B12		"сценарий 2"
	IDM_COL5_SCRIPT_B13		"сценарий 3"
	IDM_COL5_SCRIPT_B14		"сценарий 4"
	IDM_COL5_SCRIPT_B15		"сценарий 5"
	IDM_COL5_SCRIPT_B16		"скрипт 6"
	IDM_COL5_SCRIPT_B17		"сценарий 7"
	IDM_COL5_SCRIPT_B18		"скрипт 8"
	IDM_COL5_SCRIPT_B19		"сценарий 9"
	IDM_COL5_SCRIPT_B21		"сценарий 10"
	IDM_COL5_SCRIPT_B22		"сценарий 11"
	IDM_COL5_SCRIPT_B23		"сценарий 12"
	IDM_COL5_SCRIPT_B24		"сценарий 13"
	IDM_COL5_SCRIPT_B25		"сценарий 14"
	IDM_COL5_SCRIPT_B26		"сценарий 15"
	IDM_COL5_SCRIPT_B27		"сценарий 16"
	IDM_COL5_SCRIPT_B28		"сценарий 17"
	IDM_COL5_SCRIPT_B29		"сценарий 18"
	IDM_COL5_SCRIPT_B31		"сценарий 19"
	IDM_COL5_SCRIPT_B32		"сценарий 20"
	IDM_COL5_SCRIPT_B33		"сценарий 21"
	IDM_COL5_SCRIPT_B34		"сценарий 22"
	IDM_COL5_SCRIPT_B35		"сценарий 23"
	IDM_COL5_SCRIPT_B36		"сценарий 24"
	IDM_COL5_SCRIPT_B37		"сценарий 25"
	IDM_COL5_SCRIPT_B38		"сценарий 26"
	IDM_COL5_SCRIPT_B39		"сценарий 27"
	IDM_COL5_SCRIPT_STOP		"Спрете всички скриптове"
	IDM_COL5_SCRIPT_RELOAD		"Прочетете отново директорията на скрипта"
	IDM_COL5_SCRIPT_EMPTY		"Не е зададен"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"Добре"
	IDS_ERRORID_EMPTY			"[Конфигурацията е празна..]"
	IDS_ERRORID_UNDEFINED			"Тази грешка е недефинирана"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Достъпът за запис до конфигурационния файл е отказан, '{0}'"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Конфигурационен файл липсва или достъпът е отказан, „{0}“"
	IDS_ERRORID_JSONCONF_EMPTY		"Конфигурационният файл е празен, '{0}'"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"Името на MIDI устройството не е конфигурирано."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"В тази конфигурация няма конфигурирани MIDI клавиши."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Внимание, тази конфигурация няма конфигурирани MIDI клавиши! записаната конфигурация няма да работи."
	IDS_ERRORID_INIT_COINITIALIZE		"Co*Initialize инициализацията е неуспешна."
	IDS_ERRORID_INIT_COCREATE		"Co*Create - неуспешно създаване на екземпляр."
	IDS_ERRORID_INIT_DEFAULT_AE		"Неуспешно получаване на аудио устройство по подразбиране."
	IDS_ERRORID_INIT_AS_MANAGER2		"Мениджърът на аудио сесии се срина."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Аудио пиковият метър не е наличен."
	IDS_ERRORID_MIXER_STARTOK		"Миксерът за аудио сесия работи, към момента на стартиране има {0} работещи програми, налични за регулиране."
	IDS_ERRORID_MIXER_STARTERROR		"Миксерът за аудио сесии не може да бъде стартиран, подробностите за грешката трябва да са в регистрационния файл."
	IDS_ERRORID_MIXER_STOPOK		"Миксерът на аудио сесията е спрял."
	IDS_ERRORID_MIXER_STOPERROR		"Миксерът на аудио сесията не е спрян правилно, подробностите за грешката трябва да са в регистрационния файл."
	IDS_ERRORID_NO_INIT			"Инициализирайте, преди да извикате това.."
	IDS_ERRORID_SESSION_LIST		"Неуспешно получаване на списък с аудио сесии."
	IDS_ERRORID_LISTISNULL			"Списъкът с аудио сесии е празен!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Деактивиране на аудио сесията, причина='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Създадена аудио сесия, name='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Аудио сесия „{0}“ – лошо състояние на регистрация „{1}“: {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"Стойността, която се задава от обратното извикване, е невалиден селектор."
	IDS_ERRORID_SET_CB_WARNING		"Задаването на обратно извикване е възможно само след успешното стартиране на MIDI моста."
	IDS_ERRORID_CONFIG_FAIL			"Зареждането на конфигурацията е неуспешно, файлът не е намерен, стартирането е невъзможно."
	IDS_ERRORID_CONFIG_LOAD			"Конфигурацията е заредена.."
	IDS_ERRORID_CONFIG_LOADA		"Конфигурацията вече е заредена.."
	IDS_ERRORID_CONFIG_EMPTY		"Конфигурацията е празна.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"Конфигурацията за модул {0} е празна.."
	IDS_ERRORID_CONFIG_NEW			"Открита е нова версия на конфигурацията.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Неподдържано внедряване в код, методът не е заменен: {0}"
	IDS_ERRORID_NOT_CONFIG			"Името на конфигурацията не е посочено и не може да бъде продължено."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Устройствата не са свързани и не могат да продължат."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Внимание, несъответствие в броя на устройствата в крайния списък, система/списък = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Не може да се отвори MIDI устройство, не може да продължи, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Не може да стартира MIDI устройство, не може да продължи, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Устройството не е свързано, прекъсване, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Намерено е устройство {0}, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Устройство {0} отворено, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Устройство {0} затворено (система)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Устройството {0} е готово (система)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Името на активното устройство не е посочено, продължаването е невъзможно, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Прокси портовете не са посочени в конфигурацията, MIDI проксито е деактивирано."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Версия на драйвера [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Проблем с версията на драйвера [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Устройството {0} изпрати невалидна стойност = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"Виртуалният MIDI драйвер не е инсталиран. Трябва да инсталирате пакета loopMidi или да изтеглите пълния инсталатор и да преинсталирате MIDI-MT. Повече подробности: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Инсталираният виртуален MIDI драйвер не беше намерен! Трябва да инсталирате MIDI пакета Virtual Loop, за да стартирате MIDI-MT транслатора."
	IDS_ERRORID_MIDI_PROXY_PORTS		"При стартиране ще бъдат създадени {0} прокси MIDI порта."
	IDS_ERRORID_MIDI_PROXY_OFF		"Прокси MIDI портовете са деактивирани."
	IDS_ERRORID_MIDI_OUT_PORTS		"При стартиране ще бъдат създадени {0} MIDI изходни порта."
	IDS_ERRORID_MIDI_OUT_OFF		"MIDI изходните портове са деактивирани."
	IDS_ERRORID_MMKEY_START			"Услугата за управление на медийни ключове работи."
	IDS_ERRORID_MMKEY_STOP			"Услугата за управление на медийни ключове е спряна."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"MQTT конфигурацията е празна и не може да продължи."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Грешка при създаването на MQTT клиент, анулиране."
	IDS_ERRORID_MQTT_CLIENT_OK		"MMQTT клиентът е създаден успешно, продължете..."
	IDS_ERRORID_MQTT_CONNECTED		"Свързан към MQTT сървър:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Неуспешно свързване с MQTT сървър:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Прекъсната връзка с MQTT сървъра:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"CA сертификат файл не съществува, път = '{0}'"
	IDS_ERRORID_MQTT_START			"Стартира услугата за управление на Smart Home."
	IDS_ERRORID_MQTT_STOP			"Услугата за управление на Smart Home е спряна."
	IDS_ERRORID_MQTT_CA_FILTER		"CA сертификат"
	IDS_ERRORID_LOG_LEVEL_NONE		"не се води дневник"
	IDS_ERRORID_LOG_LEVEL_INFO		"информация"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"известия"
	IDS_ERRORID_LOG_LEVEL_WARNING		"предупреждения"
	IDS_ERRORID_LOG_LEVEL_ERR		"само грешки"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"всички съобщения"
	IDS_ERRORID_PANEL_INDEX			"Панел за аудио миксер - Не може да продължи, елементите на индекса са неправилни."
	IDS_ERRORID_PANEL_INIT			"Панел за аудио миксер - не може да продължи, грешка при инициализацията."
	IDS_ERRORID_PANEL_ENABLE		"Прозорецът на панела на аудио миксера няма правилен статус и следващата операция не може да бъде продължена."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Панелът за аудио миксер не се извиква в нишка на потребителския интерфейс и не могат да се правят промени."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Панелът на аудио миксера откри невалиден елемент и създаването на прозореца на панела беше прекратено."
	IDS_ERRORID_LIGHT_DMX_START		"DMX услугата за управление на осветлението се стартира чрез COM{0} - {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"Услугата за управление на осветлението DMX не работи, устройството COM{0} не е свързано.."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"DMX услугата за управление на осветлението не работи и конфигурацията на услугата не е попълнена."
	IDS_ERRORID_LIGHT_DMX_STOP		"Услугата за управление на DMX осветлението е спряна."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Няма налични подходящи устройства"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Изберете DMX устройство"
	IDS_ERRORID_LIGHT_ARTNET_START		"Услугата за управление на осветлението ArtNet работи, като използва адрес за излъчване {0}:{1} в мрежа {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"Услугата за управление на осветлението ArtNet не работи, мрежата {0} не е намерена.."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"Услугата за управление на осветлението ArtNet не работи, конфигурацията на услугата не е попълнена."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"Услугата за управление на осветлението ArtNet спря."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Няма налични подходящи интерфейси"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Изберете интерфейс ARTNET"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Грешка при инициализацията на приставката, не може да преобразува CLSID/GUID от посочения низ."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Неуспешно инициализиране на добавки, не са намерени съвместими добавки."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Неуспешно зареждане на добавки, предварително инициализирани {0}, 0 заредени добавки."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Добавките са инициализирани успешно, предварителна инициализация {0}, {1} добавки са заредени."
	IDS_ERRORID_BRIDGE_OK_START		"Bridge стартира успешно, {0} инициализирано, {1} заредено, {2} добавки работят."
	IDS_ERRORID_BRIDGE_NOT_START		"Неуспешно стартиране на моста, грешка при стартиране на добавки, {0} инициализирани, {1} добавки заредени."
	IDS_ERRORID_BRIDGE_OK_STOP		"Bridge успешно спрян, {0} инициализиран, {1} зареден, {2} стартиран, {3} добавки спряни."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Неуспешно спиране на bridge, грешка при спиране на добавки, {0} инициализирано, {1} заредено, {2} работещи добавки."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Плъгините вече са заредени, моля, нулирайте преди рестартиране."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"Мостът вече е пуснат."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"Мостът вече е спрял."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Неуспешно отваряне на модула за добавки. Модулът липсва или е повреден, DLL не е зареден и върна нула."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"Модулът не е MIDI-MT плъгин и необходимите входни точки липсват."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Активирано={0}, настройки={1}, работещо={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Актуализирана конфигурация: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Няма намерени модули, стартирането е невъзможно."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Моля, редактирайте конфигурацията, преди да започнете."
	IDS_ERRORID_MIDIMT_CONFFILTER		"Конфигурационният файл"
	IDS_ERRORID_MIDIMT_EXEFILTER		"Изпълними файлове"
	IDS_ERRORID_MIDIMT_JSONFILTER		"MQTT конфигурационни файлове"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Конфигурация, заредена от файл: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Конфигурация, заредена от драйвера"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"Избраният {0} език ще бъде активен след рестартиране на прозореца."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Инсталирана версия на драйвера за Virtual MIDI: {0}"
	IDS_ERRORID_REMOTE_START		"Услугата за дистанционно управление стартира."
	IDS_ERRORID_REMOTE_STOP			"Услугата за дистанционно управление е спряна."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Нов клиент {0}/{1} е свързан."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Грешка на клиента {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Клиентът {0}/{1} е прекъснат, състояние: {2} - {3}."

	IDS_ERRORID_JOY_NODRIVER		"Няма драйвер за джойстик или геймпад."
	IDS_ERRORID_JOY_INVALIDPARAM		"Посоченият ID на джойстика е невалиден."
	IDS_ERRORID_JOY_NOCANDO			"Въвеждането с джойстик не може да се запише и необходимата услуга не е налична."
	IDS_ERRORID_JOY_UNPLUGGED		"Посоченият джойстик не е свързан към системата."
	IDS_ERRORID_JOY_START			"Услугата за управление на геймпад/джойстик работи, активни устройства: {0}, онлайн: {1}."
	IDS_ERRORID_JOY_STOP			"Услугата за управление на геймпада/джойстика е спряна."
	IDS_ERRORID_JOY_CHANGE_SCENE		"Контролната сцена е променена от геймпада или джойстика на {0}."
	IDS_ERRORID_JOY_CHANGE_CTRL		"Контролът {0}/{1} се избира с геймпада или джойстика."

	IDS_ERRORID_COPY_LINK			"Връзката е копирана в клипборда."
	IDS_ERRORID_NET_IFACE_NONE		"Няма мрежови интерфейси"
	IDS_ERRORID_NET_IFACE_SELECT		"Изберете мрежов интерфейс"
	IDS_ERRORID_TIMEOUT_EXPIRED		"Времето за изчакване е изтекло, чакането е прекратено.."

	IDS_ERRORID_SCRIPT_ERROR		"Грешка при изпълнение на скрипта: {0}"
	IDS_ERRORID_SCRIPT_EMPTY		"Скриптът е празен!"
	IDS_ERRORID_SCRIPT_MODIFY		"Променен скрипт: {0}"
	IDS_ERRORID_SCRIPT_LOADED		"Заредени скриптове: {0}"
	IDS_ERRORID_SCRIPT_NOTFOUND		"Няма намерени скриптове в директория {0}"
	IDS_ERRORID_SCRIPT_START		"Скриптовата машина работи, налични скриптове: {0}."
	IDS_ERRORID_SCRIPT_STOP			"Скриптовата машина е спряла."
	IDS_ERRORID_SCRIPT_DIRFILTER		"Скрипт файлове"
	IDS_ERRORID_SCRIPT_CALL			"Изпълнение на скрипт: {0}"
	IDS_ERRORID_SCRIPT_RESCAN		"Препрочитам каталога със сценарии..."
	IDS_ERRORID_SCRIPT_STOPALL		"Спряно изпълнение на скриптове: {0}"

	IDS_ERRORID_FILEWATCH_OPEN		"Неуспешно отваряне на директорията: {0}"
	IDS_ERRORID_FILEWATCH_PARAM		"Директорията с посочените параметри не може да бъде прочетена, приключвам наблюдението на директорията."
	IDS_ERRORID_FILEWATCH_SHUTDOWN		"неочаквано прекратяване на наблюдението на директорията"
	IDS_ERRORID_FILEWATCH_NOACCESS		"проблеми с достъпа до директорията, вероятно неправилен размер на буфера за четене"

	IDS_ERRORID_NONE			"-"
END
