#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_BULGARIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	IDS_RB_DIALOG_LAST_OPENL	"Последни файлове:"
	IDS_RB_TABHOMEL			"Редактиране"
	IDS_RB_TABFILTERL		"Филтри"
	IDS_RB_PANEL_EDITMAINL		"редактиране на MIDI клавиш"
	IDS_RB_PANEL_EDITSETL		"задайте MIDI ключ като..."
	IDS_RB_PANEL_EDITOPTL		"опции за редактор"
	IDS_RB_PANEL_FILTERL		"избор на филтри за гледане"
	IDS_RB_PANEL_SORTL		"сортиране"
	IDS_RB_MENUL			"&Меню"
	IDS_RB_MENUT			"Меню на приложението"
	IDS_RB_PANEL_QATL		"&Бърз достъп"
	IDS_RB_PANEL_QATT		"Лента с инструменти за бърз достъп"
	IDS_RB_DIALOG_SAVEL		"&Запази"
	IDS_RB_DIALOG_SAVET		"Запазване и прилагане"
	IDS_RB_DIALOG_SAVED		"Запазете в предварително изтегления файл и актуализирайте текущата конфигурация."
	IDS_RB_DIALOG_EXPORTL		"&Експортиране"
	IDS_RB_DIALOG_EXPORTT		"Експортиране в нов файл"
	IDS_RB_DIALOG_EXPORTD		"Експортирайте редактираната конфигурация в нов файл."
	IDS_RB_DIALOG_IMPORTL		"&Импортиране"
	IDS_RB_DIALOG_IMPORTT		"Импортиране от файл"
	IDS_RB_DIALOG_IMPORTD		"Импортиране на конфигурация от файл."
	IDS_RB_DIALOG_EXITL		"&Изход"
	IDS_RB_DIALOG_EXITT		"Изход от редактора"
	IDS_RB_DIALOG_EXITD		"Излиза от редактора за конфигурация на MIDI ключ; ако промените не бъдат запазени, те ще бъдат загубени."
	IDS_RB_LV_NEWL			"&Нов MIDI ключ"
	IDS_RB_LV_NEWT			"Нов MIDI ключ"
	IDS_RB_LV_NEWD			"Създаване на нов MIDI ключ."
	IDS_RB_LV_COPYL			"&Копие"
	IDS_RB_LV_COPYT			"Копиране на MIDI ключ"
	IDS_RB_LV_COPYD			"Копирайте избрания MIDI клавишен запис."
	IDS_RB_LV_PASTEL		"&Вмъкване"
	IDS_RB_LV_PASTET		"Поставете ключ"
	IDS_RB_LV_PASTED		"Поставете копирания MIDI ключ."
	IDS_RB_LV_DELETEL		"&Изтрий"
	IDS_RB_LV_DELETET		"Ключ за изтриване"
	IDS_RB_LV_DELETED		"Изтрийте избрания MIDI клавишен запис."
	IDS_RB_LV_SET_MQTTL		"Умна къща"
	IDS_RB_LV_SET_MQTTT		"Задайте групата като „Умен дом“."
	IDS_RB_LV_SET_MQTTD		"Присвоете избрания MIDI клавиш към групата “Smart Home”."
	IDS_RB_LV_SET_MMKEYL		"Мултимедийни бутони"
	IDS_RB_LV_SET_MMKEYT		"Задайте групата като „Мултимедийни бутони“"
	IDS_RB_LV_SET_MMKEYD		"Присвоете избрания MIDI клавиш към групата „Мултимедийни бутони“."
	IDS_RB_LV_SET_MIXERL		"Аудио миксер"
	IDS_RB_LV_SET_MIXERT		"Задайте групата като “Аудио миксер”"
	IDS_RB_LV_SET_MIXERD		"Присвоете избрания MIDI клавиш към групата “Audio Mixer”."
	IDS_RB_LV_READ_MIDI_CODEL	"Прочетете MIDI кода"
	IDS_RB_LV_READ_MIDI_CODET	"Прочетете MIDI контролния код"
	IDS_RB_LV_READ_MIDI_CODED	"Прочетете MIDI код от контролна повърхност или MIDI клавиатура."
	IDS_RB_LV_EDIT_MODEL		"Само цифров вход"
	IDS_RB_LV_EDIT_MODET		"Използвайте само цифров вход"
	IDS_RB_LV_EDIT_MODED		"Не използвайте менюто за избор на стойност, използвайте само цифров вход."
	IDS_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI контролен панел"
	IDS_RB_DIALOG_SHOW_MIDI_KEYST	"Препоръчителни настройки"
	IDS_RB_DIALOG_SHOW_MIDI_KEYSD	"Препоръчителни настройки на контролния панел на MIDI, съвместими с контролите на Adobe Premiere Pro."
	IDS_RB_LV_FILTER_EMBEDL		"Вградени филтри"
	IDS_RB_LV_FILTER_KEYL		"Ключ"
	IDS_RB_LV_FILTER_KEYT		"Филтриране по MIDI ключ"
	IDS_RB_LV_FILTER_KEYD		"Показване само на съвпадения в MIDI група ключове."
	IDS_RB_LV_FILTER_SCENEL		"Сцена"
	IDS_RB_LV_FILTER_SCENET		"Филтриране по MIDI сцена"
	IDS_RB_LV_FILTER_SCENED		"Показване само на съвпадения в групата MIDI сцена."
	IDS_RB_LV_FILTER_TARGETL	"Цел 1"
	IDS_RB_LV_FILTER_TARGETT	"Филтриране по дестинация 1"
	IDS_RB_LV_FILTER_TARGETD	"Показване само на съвпадения в целевата група 1."
	IDS_RB_LV_FILTER_TARGETLONGL	"Цел 2"
	IDS_RB_LV_FILTER_TARGETLONGT	"Филтриране по дестинация 2"
	IDS_RB_LV_FILTER_TARGETLONGD	"Показване само на съвпадения в целевата група 2."
	IDS_RB_LV_FILTER_CLEARL		"Изчистване на филтрите"
	IDS_RB_LV_FILTER_CLEART		"Почистващи филтри"
	IDS_RB_LV_FILTER_CLEARD		"Изчистете напълно филтрите, всички записи ще бъдат показани."
	IDS_RB_LV_FILTER_SETL		"Задайте филтър"
	IDS_RB_LV_FILTER_SETT		"Монтаж на филтър"
	IDS_RB_LV_FILTER_SETD		"Настройването на филтъра показва всички невалидни елементи."
	IDS_RB_LV_FILTER_ONL		"Прилагане на филтър"
	IDS_RB_LV_FILTER_ONT		"Прилагане на филтър"
	IDS_RB_LV_FILTER_OND		"Прилагането на филтър показва избраните елементи."
	IDS_RB_LV_FILTER_OFFL		"Отмяна на филтъра"
	IDS_RB_LV_FILTER_OFFT		"Отмяна на филтъра"
	IDS_RB_LV_FILTER_OFFD		"Анулирането на филтъра ще покаже всички елементи."
	IDS_RB_LV_FILTER_MMKEYL		"Покажи “Мултимедийни бутони”"
	IDS_RB_LV_FILTER_MMKEYT		"Филтриране по група „Мултимедийни бутони“."
	IDS_RB_LV_FILTER_MMKEYD		"Прилагането на филтър ще покаже членовете на групата Мултимедийни бутони."
	IDS_RB_LV_FILTER_MIXERL		"Покажи “Аудио миксер”"
	IDS_RB_LV_FILTER_MIXERT		"Филтриране по група „Аудио миксер“."
	IDS_RB_LV_FILTER_MIXERD		"Прилагането на филтър ще покаже членовете на групата Audio Mixer."
	IDS_RB_LV_FILTER_MQTTL		"Покажи “Умен дом”"
	IDS_RB_LV_FILTER_MQTTT		"Филтрирайте по група „Умен дом“."
	IDS_RB_LV_FILTER_MQTTD		"Прилагането на филтър ще покаже членовете на групата Smart Home."
	IDS_RB_LV_FILTER_LIGHT8L	"Покажи “Осветление 8 бита”"
	IDS_RB_LV_FILTER_LIGHT8T	"Филтриране по група „Осветление 8 бита“"
	IDS_RB_LV_FILTER_LIGHT8D	"Прилагането на филтъра ще покаже членовете на групата Lighting с 8-битови канали."
	IDS_RB_LV_FILTER_LIGHT16L	"Покажи “16 битово осветление”"
	IDS_RB_LV_FILTER_LIGHT16T	"Филтрирайте по група „16-битово осветление“."
	IDS_RB_LV_FILTER_LIGHT16D	"Прилагането на филтъра ще покаже членовете на групата Lighting с 16-битови канали."
	IDS_RB_LV_FILTER_SCRIPTL	"Покажи “Скриптове”"
	IDS_RB_LV_FILTER_SCRIPTT	"Филтриране по група „Скриптове“ ChaiScript"
	IDS_RB_LV_FILTER_SCRIPTD	"Прилагането на филтър ще покаже членовете на групата Scripts."
	IDS_RB_LV_FILTER_TYPEBTNL	"Тип филтър"
	IDS_RB_LV_FILTER_TYPEBTNT	"Задаване на типа филтри, които да се прилагат"
	IDS_RB_LV_FILTER_TYPEBTND	"Използваните видове филтри имат две логически състояния: „И“, „ИЛИ“."
	IDS_RB_LV_FILTER_TYPEGRPL	"Избор на тип филтър"
	IDS_RB_LV_FILTER_TYPEORL	"Показване на всички съвпадения"
	IDS_RB_LV_FILTER_TYPEORT	"Показване на записи с всяко съвпадение"
	IDS_RB_LV_FILTER_TYPEORD       	"Филтърът има логическо И състояние и показва всички съвпадения."
	IDS_RB_LV_FILTER_TYPEANDL	"Показване само на пълни съвпадения"
	IDS_RB_LV_FILTER_TYPEANDT	"Показване на записи само с точни съвпадения"
	IDS_RB_LV_FILTER_TYPEANDD	"Филтърът има състояние логическо ИЛИ и показва само пълни съвпадения."
	IDS_RB_LV_FILTER_AUTOCOMMITL	"Автоматично изпращане на данни във филтъра"
	IDS_RB_LV_FILTER_AUTOCOMMITT	"Автоматично изпращане на въведените стойности във филтъра"
	IDS_RB_LV_FILTER_AUTOCOMMITD	"Автоматично изпраща входни стойности във вграден филтър."
	IDS_RB_LV_EXT_MODEL		"Показване на сортирането"
	IDS_RB_LV_SORTUP_KEYL		"по ключ"
	IDS_RB_LV_SORTUP_KEYT		"Сортиране по възходящ и MIDI ключ."
	IDS_RB_LV_SORTUP_SCENEL		"около сцената"
	IDS_RB_LV_SORTUP_SCENET		"Сортиране по възходящ ред и MIDI сцена."
	IDS_RB_LV_SORTUP_TARGETL	"с уговорка 1"
	IDS_RB_LV_SORTUP_TARGETT	"Сортиране по възходящ ред и MIDI дестинация 1."
	IDS_RB_LV_SORTUP_TARGETLONGL	"с уговорка 2"
	IDS_RB_LV_SORTUP_TARGETLONGT	"Сортиране по възходящ ред и MIDI дестинация 2."
	IDS_RB_LV_SORTDOWN_KEYT		"Сортиране по низходящ и MIDI клавиш."
	IDS_RB_LV_SORTDOWN_SCENET	"Сортиране по низходящ ред и MIDI сцена."
	IDS_RB_LV_SORTDOWN_TARGETT	"Сортиране по низходящ ред и MIDI дестинация 1."
	IDS_RB_LV_SORTDOWN_TARGETLONGT	"Сортиране по низходящ ред и MIDI дестинация 2."
END
