# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.aip
*.evb
*.iss
*.pdb
*.cmd
.vs/*
Win32/*
SetupFiles/*
Release/*
Debug/*
x64/*
x86/*
x32/*

src/MIDIMT*-cache/*
src/EASYCTRL9/lib/teVirtualMIDI/*
src/MIDIMTLauncher/rc/msi/*
src/MIDIMTLauncher/cpp/MIDIMT-Launcher.cpp
docs/*.bak
docs/*.rtf
docs/Releases/*
docs/License-Ru.md
docs/License-En.md
docs/Manual-Ru.md
docs/Manual-En.md
docs/ReadmeRu.pdf
docs/Mackie/__no_public/*
docs/Images/*.psp
docs/Images/*.bmp
docs/Images/*.ico
docs/Images/__Libs/*
src/*.suo
src/.vs/*
src/_OLD/*
src/_TESTS/*
src/_BUILD/*
src/_ICONS/*
src/MIDIMT/rc/*.APS
src/MIDIMT/rc/*.aps
src/Common/rc/*.APS
src/Common/rc/*.aps

/docs/Images/_OLD
