# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.aip
.vs/*
Win32/*
SetupFiles/*
Release/*
Debug/*
x64/*
x86/*

src/MIDIMT*-cache/*
src/EasyControl9/lib/teVirtualMIDI/*
docs/*.bak
docs/*.rtf
docs/Mackie/__no_public/*
docs/Images/*.psp
docs/Images/*.bmp
docs/Images/*.ico
/docs/Mackie/__no_public
/src/.vs/*
/src/Debug/*
/src/EasyControl9/Win32/*
/src/EasyControl9/x64/*
/src/MIDIMT/Release/*
/src/MIDIMT/x64/*
/src/Release/*
/src/TestEasyControl/Win32/*
/src/TestEasyControl/x64/*

