#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Latest files:"
	STR_RB_TABHOMEL			"Editing"
	STR_RB_TABFILTERL		"Filters"
	STR_RB_PANEL_EDITMAINL		"edit MIDI key"
	STR_RB_PANEL_EDITSETL		"MIDI key group"
	STR_RB_PANEL_EDITOPTL		"editor options"
	STR_RB_PANEL_FILTERL		"selection of viewing filters"
	STR_RB_PANEL_SORTL		"sorting"
	STR_RB_MENUL			"&Menu"
	STR_RB_MENUT			"Application menu"
	STR_RB_PANEL_QATL		"&Fast access"
	STR_RB_PANEL_QATT		"Quick Access Toolbar"
	STR_RB_DIALOG_SAVEL		"&Save"
	STR_RB_DIALOG_SAVET		"Save and Apply"
	STR_RB_DIALOG_SAVED		"Save to the previously downloaded file and update the current configuration."
	STR_RB_DIALOG_EXPORTL		"&Export"
	STR_RB_DIALOG_EXPORTT		"Export to a new file"
	STR_RB_DIALOG_EXPORTD		"Export the edited configuration to a new file."
	STR_RB_DIALOG_IMPORTL		"&Import"
	STR_RB_DIALOG_IMPORTT		"Import from file"
	STR_RB_DIALOG_IMPORTD		"Import configuration from file."
	STR_RB_DIALOG_EXITL		"&Exit"
	STR_RB_DIALOG_EXITT		"Exit the editor"
	STR_RB_DIALOG_EXITD		"Exits the MIDI Key Configuration Editor; if changes are not saved, they will be lost."
	STR_RB_LV_NEWL			"&New MIDI key"
	STR_RB_LV_NEWT			"New MIDI key"
	STR_RB_LV_NEWD			"Creating a new MIDI key."
	STR_RB_LV_COPYL			"&Copy"
	STR_RB_LV_COPYT			"Copy MIDI key"
	STR_RB_LV_COPYD			"Copy the selected MIDI key entry."
	STR_RB_LV_PASTEL		"&Insert"
	STR_RB_LV_PASTET		"Insert key"
	STR_RB_LV_PASTED		"Paste the copied MIDI key."
	STR_RB_LV_DELETEL		"&Delete"
	STR_RB_LV_DELETET		"Delete key"
	STR_RB_LV_DELETED		"Delete the selected MIDI key entry."
	STR_RB_LV_SET_MQTTL		"Smart House"
	STR_RB_LV_SET_MQTTT		"Set the group as “Smart Home”."
	STR_RB_LV_SET_MQTTD		"Assign the selected MIDI key to the “Smart Home” group."
	STR_RB_LV_SET_MMKEYL		"Multimedia buttons"
	STR_RB_LV_SET_MMKEYT		"Set the group as “Multimedia Buttons”"
	STR_RB_LV_SET_MMKEYD		"Assign the selected MIDI key to the “Multimedia Buttons” group."
	STR_RB_LV_SET_MIXERL		"Audio mixer"
	STR_RB_LV_SET_MIXERT		"Set group as “Audio Mixer”"
	STR_RB_LV_SET_MIXERD		"Assign the selected MIDI key to the “Audio Mixer” group."
	STR_RB_LV_READ_MIDI_CODEL	"Read MIDI code"
	STR_RB_LV_READ_MIDI_CODET	"Read MIDI control code"
	STR_RB_LV_READ_MIDI_CODED	"Read MIDI code from a control surface or MIDI keyboard."
	STR_RB_LV_EDIT_MODEL		"Digital input only"
	STR_RB_LV_EDIT_MODET		"Use digital input only"
	STR_RB_LV_EDIT_MODED		"Do not use the value selection menu, use digital input only."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI control panel"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Recommended Settings"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Recommended MIDI control panel settings compatible with Adobe Premiere Pro controls."
	STR_RB_LV_FILTER_EMBEDL		"Built-in filters"
	STR_RB_LV_FILTER_KEYL		"Key"
	STR_RB_LV_FILTER_KEYT		"Filter by MIDI key"
	STR_RB_LV_FILTER_KEYD		"Show only matches within a MIDI key group."
	STR_RB_LV_FILTER_SCENEL		"Scene"
	STR_RB_LV_FILTER_SCENET		"Filter by MIDI scene"
	STR_RB_LV_FILTER_SCENED		"Show only matches in the MIDI scene group."
	STR_RB_LV_FILTER_TARGETL	"Purpose 1"
	STR_RB_LV_FILTER_TARGETT	"Filter by destination 1"
	STR_RB_LV_FILTER_TARGETD	"Show only matches in the target group 1."
	STR_RB_LV_FILTER_TARGETLONGL	"Purpose 2"
	STR_RB_LV_FILTER_TARGETLONGT	"Filter by destination 2"
	STR_RB_LV_FILTER_TARGETLONGD	"Show only matches in the target group 2."
	STR_RB_LV_FILTER_CLEARL		"Clear filters"
	STR_RB_LV_FILTER_CLEART		"Cleaning filters"
	STR_RB_LV_FILTER_CLEARD		"Completely clear filters, all entries will be shown."
	STR_RB_LV_FILTER_SETL		"Set filter"
	STR_RB_LV_FILTER_SETT		"Filter installation"
	STR_RB_LV_FILTER_SETD		"Setting the filter shows all invalid items."
	STR_RB_LV_FILTER_ONL		"Apply filter"
	STR_RB_LV_FILTER_ONT		"Applying a filter"
	STR_RB_LV_FILTER_OND		"Applying a filter shows the selected items."
	STR_RB_LV_FILTER_OFFL		"Cancel filter"
	STR_RB_LV_FILTER_OFFT		"Cancel filter"
	STR_RB_LV_FILTER_OFFD		"Canceling the filter will show all items."
	STR_RB_LV_FILTER_MMKEYL		"Show “Multimedia Buttons”"
	STR_RB_LV_FILTER_MMKEYT		"Filter by “Multimedia buttons” group"
	STR_RB_LV_FILTER_MMKEYD		"Applying a filter will show the members of the Multimedia Buttons group."
	STR_RB_LV_FILTER_MIXERL		"Show “Audio Mixer”"
	STR_RB_LV_FILTER_MIXERT		"Filter by “Audio Mixer” group"
	STR_RB_LV_FILTER_MIXERD		"Applying a filter will show the members of the Audio Mixer group."
	STR_RB_LV_FILTER_MQTTL		"Show “Smart Home”"
	STR_RB_LV_FILTER_MQTTT		"Filter by “Smart Home” group"
	STR_RB_LV_FILTER_MQTTD		"Applying a filter will show the members of the Smart Home group."
	STR_RB_LV_FILTER_LIGHT8L	"Show “Lighting 8 bit”"
	STR_RB_LV_FILTER_LIGHT8T	"Filter by group “Lighting 8 bit”"
	STR_RB_LV_FILTER_LIGHT8D	"Applying the filter will show the members of the Lighting group with 8-bit channels."
	STR_RB_LV_FILTER_LIGHT16L	"Show “16 bit lighting”"
	STR_RB_LV_FILTER_LIGHT16T	"Filter by “16-bit lighting” group"
	STR_RB_LV_FILTER_LIGHT16D	"Applying the filter will show the members of the Lighting group with 16-bit channels."
	STR_RB_LV_FILTER_SCRIPTL	"Show “Scripts”"
	STR_RB_LV_FILTER_SCRIPTT	"Filter by “Scripts” group ChaiScript"
	STR_RB_LV_FILTER_SCRIPTD	"Applying a filter will show the members of the Scripts group."
	STR_RB_LV_FILTER_TYPEBTNL	"Filter type"
	STR_RB_LV_FILTER_TYPEBTNT	"Setting the type of filters to apply"
	STR_RB_LV_FILTER_TYPEBTND	"The types of filters used have two logical states: “AND”, “OR”."
	STR_RB_LV_FILTER_TYPEGRPL	"Selecting a filter type"
	STR_RB_LV_FILTER_TYPEORL	"Show any matches"
	STR_RB_LV_FILTER_TYPEORT	"Show entries with any match"
	STR_RB_LV_FILTER_TYPEORD       	"The filter has a logical AND state and shows any matches."
	STR_RB_LV_FILTER_TYPEANDL	"Show only complete matches"
	STR_RB_LV_FILTER_TYPEANDT	"Show records with exact matches only"
	STR_RB_LV_FILTER_TYPEANDD	"The filter has a logical OR state and shows only complete matches."
	STR_RB_LV_FILTER_AUTOCOMMITL	"Automatic sending of data in the filter"
	STR_RB_LV_FILTER_AUTOCOMMITT	"Automatic sending of entered values​in the filter"
	STR_RB_LV_FILTER_AUTOCOMMITD	"Automatically submits input values​in a built-in filter."
	STR_RB_LV_EXT_MODEL		"Show sorting"
	STR_RB_LV_SORTUP_KEYL		"by key"
	STR_RB_LV_SORTUP_KEYT		"Sort by ascending and MIDI key."
	STR_RB_LV_SORTUP_SCENEL		"around the stage"
	STR_RB_LV_SORTUP_SCENET		"Sorting by ascending and MIDI scene."
	STR_RB_LV_SORTUP_TARGETL	"by appointment 1"
	STR_RB_LV_SORTUP_TARGETT	"Sort by ascending and MIDI destination 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"by appointment 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Sorting by ascending and MIDI destination 2."
	STR_RB_LV_SORTDOWN_KEYT		"Sorting by descending and MIDI key."
	STR_RB_LV_SORTDOWN_SCENET	"Sorting by descending order and MIDI scene."
	STR_RB_LV_SORTDOWN_TARGETT	"Sorting by descending order and MIDI destination 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Sorting by descending order and MIDI destination 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Export to MQTT"
	STR_RB_DIALOG_EXPORTMQTTT	"Export MQTT configuration"
	STR_RB_DIALOG_EXPORTMQTTD	"Export DMX512/ARTNET configuration to a new file."
	STR_RB_PANEL_EDITUTILL		"Tools"
	STR_RB_LV_SET_BUTTONL		"Assign MIDI key"
	STR_RB_LV_SET_BUTTONT		"Assign selected MIDI key"
	STR_RB_LV_SET_BUTTOND		"Define the selected MIDI key as a member of the group."
	STR_RB_LV_SET_LIGHT8L		"Lighting 8 bit"
	STR_RB_LV_SET_LIGHT8T		"Set group as “Lighting 8 bit”"
	STR_RB_LV_SET_LIGHT8D		"Assign the selected MIDI key to the “Lighting 8 Bit” group."
	STR_RB_LV_SET_LIGHT16L		"Lighting 16 bit"
	STR_RB_LV_SET_LIGHT16T		"Set group as “Lighting 16 bit”"
	STR_RB_LV_SET_LIGHT16D		"Assign the selected MIDI key to the “Lighting 16-bit” group."
	STR_RB_LV_SET_SCRIPTL		"Scenarios"
	STR_RB_LV_SET_SCRIPTT		"Set group as “Scripts”"
	STR_RB_LV_SET_SCRIPTD		"Assign the selected MIDI key to the “Scripts” group."
	STR_RB_DIALOG_SHOWDUPL		"Show duplicates"
	STR_RB_DIALOG_SHOWDUPT		"Find duplicate MIDI keys"
	STR_RB_DIALOG_SHOWDUPD		"Search for duplicate MIDI keys; if they are present, unexpected behavior may occur."

	STR_RB_DIALOG_DELDUPL		"Remove duplicates"
	STR_RB_DIALOG_DELDUPT		"Remove possible duplicate MIDI keys"
	STR_RB_DIALOG_DELDUPD		"Finding and removing duplicate MIDI keys, if there are duplicates, may not behave as expected."
END
