#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT prekladač"
    STRING_MIXER	"&Mixér"
    STRING_SETTINGS	"&Nastavenie"
    STRING_START	"Štart"
    STRING_STOP		"Stop"
    STRING_EXIT		"VÝCHOD"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Konfigurácia načítaná z ovládača"
    STRING_EDIT_MSG2	"Konfigurácia načítaná zo súboru"
    STRING_EDIT_MSG3	"Konfigurácia bola vytvorená nanovo a vyžaduje vyplnenie"
    STRING_EDIT_MSG4	"Pri otváraní editora bol zadaný konfiguračný súbor: '{0}'. Uložiť to pod rovnakým názvom?"
    STRING_EDIT_MSG5	"Číslo DMX kanála"

    STRING_NOTIFY_MSG1	"prekladateľ je zastavený:"
    STRING_NOTIFY_MSG2	"prekladateľ pracuje:"

    STRING_AMIX_MSG1	"Zvukový mixér nie je spustený, skontrolujte nastavenia, musí byť povolené spustenie zvukového panelu."
    STRING_AMIX_MSG2	"MIDIMT - Zvukový mixér nie je spustený:"
    STRING_AMIX_MSG3	"Neplatné ID udalosti. Reštartujte túto aplikáciu."
    STRING_AMIX_MSG4	"MIDIMT - Nedá sa dokončiť operácia:"
    STRING_AMIX_MSG5	"Nepodarilo sa prepnúť na vlákno používateľského rozhrania, spustenie zvukového panela bolo prerušené."

    STRING_MAIN_MSG1	"Chyba inicializácie aplikácie, pokračovanie nie je možné."
    STRING_MAIN_MSG2	"Skontrolujte povolenia používateľa na zapisovanie súborov do adresára aplikácie. Ak chyba pretrváva, skúste zakázať protokolovanie."
    STRING_MAIN_MSG3	"Automatické spustenie je vo všeobecnej konfigurácii zakázané."
    STRING_MAIN_MSG4	"Vybraná konfigurácia nepodporuje automatické spustenie."

    STRING_LOGV_MSG1	"Pred spustením monitora spustite prekladač z ponuky výberom položky „Štart“."
    STRING_LOGV_MSG2	"Všetky nastavenia '{0}', verzia konfiguračného súboru: {1}"
    STRING_LOGV_MSG3	"Nastavenia MIDI"
    STRING_LOGV_MSG4	"Nastavenia inteligentnej domácnosti (MQTT)"
    STRING_LOGV_MSG5	"Nastavenia multimediálnej klávesnice (MMKEYS)"
    STRING_LOGV_MSG6	"Nastavenia ovládania osvetlenia ({0})"
    STRING_LOGV_MSG7	"Nastavenia diaľkového ovládacieho panela (REMOTE)"
    STRING_LOGV_MSG8	"Nastavenia ovládania gamepadu/joysticku (GAMEPAD)"
    STRING_LOGV_MSG9	"stlačený kláves MIDI:"
    STRING_LOGV_MSG10	"Číslo značky:"

    STRING_CHKR_MSG1	"Pri spustení bol zadaný konfiguračný súbor: '{0}'. Nastaviť ho ako konfiguráciu pre nasledujúce spustenia?"
    STRING_CHKR_MSG2	"Konfigurácia MIDI-MT"

    STRING_TMENU_MSG1	"Musíte nainštalovať ovládač Virtual MIDI!"

    STRING_LANG_STATUS	"postavenie:"
    STRING_LANG_YES	"Áno"
    STRING_LANG_NO	"Nie"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "hlasitosť zvuku (hlavná)"
	IDM_COL4_MAP  "vyváženie zvuku (základné)"
	IDM_COL4_MAM  "stlmiť (hlavný)"
	IDM_COL4_MAS  "audio sólo (hlavné)"
	IDM_COL4_JOG  "JOG (pretočenie snímky videa dozadu)"
	IDM_COL4_AV1  "hlasitosť zvuku (kanál 1)"
	IDM_COL4_AV2  "hlasitosť zvuku (kanál 2)"
	IDM_COL4_AV3  "hlasitosť zvuku (kanál 3)"
	IDM_COL4_AV4  "hlasitosť zvuku (kanál 4)"
	IDM_COL4_AV5  "hlasitosť zvuku (kanál 5)"
	IDM_COL4_AV6  "hlasitosť zvuku (kanál 6)"
	IDM_COL4_AV7  "hlasitosť zvuku (kanál 7)"
	IDM_COL4_AV8  "hlasitosť zvuku (kanál 8)"
	IDM_COL4_XV9  "hlasitosť zvuku (kanál 9)"
	IDM_COL4_AP1  "vyváženie zvuku (kanál 1)"
	IDM_COL4_AP2  "vyváženie zvuku (kanál 2)"
	IDM_COL4_AP3  "vyváženie zvuku (kanál 3)"
	IDM_COL4_AP4  "vyváženie zvuku (kanál 4)"
	IDM_COL4_AP5  "vyváženie zvuku (kanál 5)"
	IDM_COL4_AP6  "vyváženie zvuku (kanál 6)"
	IDM_COL4_AP7  "vyváženie zvuku (kanál 7)"
	IDM_COL4_AP8  "vyváženie zvuku (kanál 8)"
	IDM_COL4_XP9  "vyváženie zvuku (kanál 9)"
	IDM_COL4_B11  "audio sólo (kanál 1)"
	IDM_COL4_B12  "audio sólo (kanál 2)"
	IDM_COL4_B13  "audio sólo (kanál 3)"
	IDM_COL4_B14  "audio sólo (kanál 4)"
	IDM_COL4_B15  "audio sólo (kanál 5)"
	IDM_COL4_B16  "audio sólo (kanál 6)"
	IDM_COL4_B17  "audio sólo (kanál 7)"
	IDM_COL4_B18  "audio sólo (kanál 8)"
	IDM_COL4_B19  "audio sólo (kanál 9)"
	IDM_COL4_B21  "stlmiť (kanál 1)"
	IDM_COL4_B22  "stlmiť (kanál 2)"
	IDM_COL4_B23  "stlmiť (kanál 3)"
	IDM_COL4_B24  "stlmiť (kanál 4)"
	IDM_COL4_B25  "stlmiť (kanál 5)"
	IDM_COL4_B26  "stlmiť (kanál 6)"
	IDM_COL4_B27  "stlmiť (kanál 7)"
	IDM_COL4_B28  "stlmiť (kanál 8)"
	IDM_COL4_B29  "stlmiť (kanál 9)"
	IDM_COL4_B31  "výber zvuku (kanál 1)"
	IDM_COL4_B32  "výber zvuku (kanál 2)"
	IDM_COL4_B33  "výber zvuku (kanál 3)"
	IDM_COL4_B34  "výber zvuku (kanál 4)"
	IDM_COL4_B35  "výber zvuku (kanál 5)"
	IDM_COL4_B36  "výber zvuku (kanál 6)"
	IDM_COL4_B37  "výber zvuku (kanál 7)"
	IDM_COL4_B38  "výber zvuku (kanál 8)"
	IDM_COL4_B39  "výber zvuku (kanál 9)"
	IDM_COL4_FUN11  "funkcia F1 (štandardný režim)"
	IDM_COL4_FUN12  "funkcia F2 (štandardný režim)"
	IDM_COL4_FUN13  "funkcia F3 (štandardný režim)"
	IDM_COL4_FUN14  "funkcia F4 (štandardný režim)"
	IDM_COL4_FUN15  "funkcia F5 (štandardný režim)"
	IDM_COL4_FUN16  "funkcia F6 (štandardný režim)"
	IDM_COL4_FUN17  "funkcia F7 (štandardný režim)"
	IDM_COL4_FUN18  "funkcia F8 (štandardný režim)"
	IDM_COL4_FUN21  "funkcia F1 (režim pozastavenia)"
	IDM_COL4_FUN22  "funkcia F2 (režim pozastavenia)"
	IDM_COL4_FUN23  "funkcia F3 (režim pozastavenia)"
	IDM_COL4_FUN24  "funkcia F4 (režim pozastavenia)"
	IDM_COL4_FUN25  "funkcia F5 (režim pozastavenia)"
	IDM_COL4_FUN26  "funkcia F6 (režim pozastavenia)"
	IDM_COL4_FUN27  "funkcia F7 (režim pozastavenia)"
	IDM_COL4_FUN28  "funkcia F8 (režim pozastavenia)"
	IDM_COL4_SYS_Rewind  "Pretočiť späť (hráč)"
	IDM_COL4_SYS_Forward  "Rýchly posun dopredu (hráč)"
	IDM_COL4_SYS_Stop  "Zastaviť (hráč)"
	IDM_COL4_SYS_Play  "Hrať (hráč)"
	IDM_COL4_SYS_Record  "Nahrávanie (prehrávač)"
	IDM_COL4_SYS_Up    "Hore (joystick)"
	IDM_COL4_SYS_Down  "Dole (joystick)"
	IDM_COL4_SYS_Left  "Vľavo (joystick)"
	IDM_COL4_SYS_Right  "Vpravo (joystick)"
	IDM_COL4_SYS_Zoom  "Zvýšiť"
	IDM_COL4_SYS_Scrub  "Drhnúť"
	IDM_COL4_VOLUMEMIX "Ovládanie mixéra"
	IDM_COL4_MEDIAKEY "Multimediálne klávesy"
        IDM_COL4_MQTTKEY  "Správa inteligentnej domácnosti"
        IDM_COL4_LIGHTKEY8B "Ovládanie osvetlenia (8 bitov)"
        IDM_COL4_LIGHTKEY16B "Ovládanie osvetlenia (16 bit)"
	IDM_COL4_VMSCRIPT "Správa skriptov"
	IDM_COL4_NONE  "akcia nie je definovaná"
	IDM_COL5_MQTT_AV1		"úroveň 1"
	IDM_COL5_MQTT_AV2		"úroveň 2"
	IDM_COL5_MQTT_AV3		"úroveň 3"
	IDM_COL5_MQTT_AV4		"úroveň 4"
	IDM_COL5_MQTT_AV5		"úroveň 5"
	IDM_COL5_MQTT_AV6		"úroveň 6"
	IDM_COL5_MQTT_AV7		"úroveň 7"
	IDM_COL5_MQTT_AV8		"úroveň 8"
	IDM_COL5_MQTT_XV9		"úroveň 9"
	IDM_COL5_MQTT_AP1		"úroveň 10"
	IDM_COL5_MQTT_AP2		"úroveň 11"
	IDM_COL5_MQTT_AP3		"úroveň 12"
	IDM_COL5_MQTT_AP4		"úroveň 13"
	IDM_COL5_MQTT_AP5		"úroveň 14"
	IDM_COL5_MQTT_AP6		"úroveň 15"
	IDM_COL5_MQTT_AP7		"úroveň 16"
	IDM_COL5_MQTT_AP8		"úroveň 17"
	IDM_COL5_MQTT_XP9		"úroveň 18"
	IDM_COL5_MQTT_B11		"zapnutie/vypnutie 1"
	IDM_COL5_MQTT_B12		"zapnutie/vypnutie 2"
	IDM_COL5_MQTT_B13		"zapnutie/vypnutie 3"
	IDM_COL5_MQTT_B14		"zapnutie/vypnutie 4"
	IDM_COL5_MQTT_B15		"zapnutie/vypnutie 5"
	IDM_COL5_MQTT_B16		"zapnutie/vypnutie 6"
	IDM_COL5_MQTT_B17		"zapnutie/vypnutie 7"
	IDM_COL5_MQTT_B18		"zapnutie/vypnutie 8"
	IDM_COL5_MQTT_B19		"zapnutie/vypnutie 9"
	IDM_COL5_MQTT_B21		"zapnutie/vypnutie 10"
	IDM_COL5_MQTT_B22		"zapnutie/vypnutie 11"
	IDM_COL5_MQTT_B23		"zapnutie/vypnutie 12"
	IDM_COL5_MQTT_B24		"zapnutie/vypnutie 13"
	IDM_COL5_MQTT_B25		"zapnutie/vypnutie 14"
	IDM_COL5_MQTT_B26		"zapnutie/vypnutie 15"
	IDM_COL5_MQTT_B27		"zapnutie/vypnutie 16"
	IDM_COL5_MQTT_B28		"zapnutie/vypnutie 17"
	IDM_COL5_MQTT_B29		"zapnutie/vypnutie 18"
	IDM_COL5_MQTT_B31		"zapnutie/vypnutie 19"
	IDM_COL5_MQTT_B32		"zapnutie/vypnutie 20"
	IDM_COL5_MQTT_B33		"zapnutie/vypnutie 21"
	IDM_COL5_MQTT_B34		"zapnutie/vypnutie 22"
	IDM_COL5_MQTT_B35		"zapnutie/vypnutie 23"
	IDM_COL5_MQTT_B36		"zapnutie/vypnutie 24"
	IDM_COL5_MQTT_B37		"zapnutie/vypnutie 25"
	IDM_COL5_MQTT_B38		"zapnutie/vypnutie 26"
	IDM_COL5_MQTT_B39		"zapnutie/vypnutie 27"
	IDM_COL5_MQTT_EMPTY		"Nepridelené"
	IDM_COL5_SCRIPT_B11		"scenár 1"
	IDM_COL5_SCRIPT_B12		"scenár 2"
	IDM_COL5_SCRIPT_B13		"scenár 3"
	IDM_COL5_SCRIPT_B14		"scenár 4"
	IDM_COL5_SCRIPT_B15		"scenár 5"
	IDM_COL5_SCRIPT_B16		"scenár 6"
	IDM_COL5_SCRIPT_B17		"scenár 7"
	IDM_COL5_SCRIPT_B18		"scenár 8"
	IDM_COL5_SCRIPT_B19		"scenár 9"
	IDM_COL5_SCRIPT_B21		"scenár 10"
	IDM_COL5_SCRIPT_B22		"scenár 11"
	IDM_COL5_SCRIPT_B23		"scenár 12"
	IDM_COL5_SCRIPT_B24		"scenár 13"
	IDM_COL5_SCRIPT_B25		"scenár 14"
	IDM_COL5_SCRIPT_B26		"scenár 15"
	IDM_COL5_SCRIPT_B27		"scenár 16"
	IDM_COL5_SCRIPT_B28		"scenár 17"
	IDM_COL5_SCRIPT_B29		"scenár 18"
	IDM_COL5_SCRIPT_B31		"scenár 19"
	IDM_COL5_SCRIPT_B32		"scenár 20"
	IDM_COL5_SCRIPT_B33		"scenár 21"
	IDM_COL5_SCRIPT_B34		"scenár 22"
	IDM_COL5_SCRIPT_B35		"scenár 23"
	IDM_COL5_SCRIPT_B36		"scenár 24"
	IDM_COL5_SCRIPT_B37		"scenár 25"
	IDM_COL5_SCRIPT_B38		"scenár 26"
	IDM_COL5_SCRIPT_B39		"scenár 27"
	IDM_COL5_SCRIPT_EMPTY		"Nepridelené"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"OK"
	IDS_ERRORID_EMPTY			"[Konfigurácia je prázdna..]"
	IDS_ERRORID_UNDEFINED			"Táto chyba nie je definovaná"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Prístup na zápis do konfiguračného súboru je odmietnutý, '{0}'"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Konfiguračný súbor chýba alebo prístup bol odmietnutý, '{0}'"
	IDS_ERRORID_JSONCONF_EMPTY		"Konfiguračný súbor je prázdny, '{0}'"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"Názov zariadenia MIDI nie je nakonfigurovaný."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"V tejto konfigurácii nie sú nakonfigurované žiadne MIDI klávesy."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Pozor, táto konfigurácia nemá nakonfigurované MIDI klávesy! zaznamenaná konfigurácia nebude fungovať."
	IDS_ERRORID_INIT_COINITIALIZE		"Inicializácia Co*Initialize zlyhala."
	IDS_ERRORID_INIT_COCREATE		"Co*Create – nepodarilo sa vytvoriť inštanciu."
	IDS_ERRORID_INIT_DEFAULT_AE		"Nepodarilo sa získať predvolené zvukové zariadenie."
	IDS_ERRORID_INIT_AS_MANAGER2		"Správca zvukových relácií zlyhal."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Merač zvukových špičiek nie je k dispozícii."
	IDS_ERRORID_MIXER_STARTOK		"Mixér zvukových relácií je spustený, v čase spustenia je k dispozícii {0} spustených programov na reguláciu."
	IDS_ERRORID_MIXER_STARTERROR		"Mixér zvukových relácií sa nepodarilo spustiť, podrobnosti o chybe by mali byť v súbore denníka."
	IDS_ERRORID_MIXER_STOPOK		"Mixér zvukových relácií sa zastavil."
	IDS_ERRORID_MIXER_STOPERROR		"Mixér zvukových relácií nebol správne zastavený, podrobnosti o chybe by mali byť v súbore denníka."
	IDS_ERRORID_NO_INIT			"Inicializujte pred volaním tohto.."
	IDS_ERRORID_SESSION_LIST		"Nepodarilo sa získať zoznam zvukových relácií."
	IDS_ERRORID_LISTISNULL			"Zoznam zvukových relácií je prázdny!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Vypnutie zvukovej relácie, dôvod='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Zvuková relácia bola vytvorená, name='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Zvuková relácia '{0}' – zlý stav registrácie '{1}': {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"Hodnota, ktorá sa nastavuje zo spätného volania, je neplatný selektor."
	IDS_ERRORID_SET_CB_WARNING		"Nastavenie spätného volania je možné až po úspešnom spustení MIDI mosta."
	IDS_ERRORID_CONFIG_FAIL			"Načítanie konfigurácie zlyhalo, súbor sa nenašiel, spustenie nie je možné."
	IDS_ERRORID_CONFIG_LOAD			"Konfigurácia načítaná.."
	IDS_ERRORID_CONFIG_LOADA		"Konfigurácia už bola načítaná.."
	IDS_ERRORID_CONFIG_EMPTY		"Konfigurácia je prázdna.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"Konfigurácia pre modul {0} je prázdna."
	IDS_ERRORID_CONFIG_NEW			"Zistila sa nová verzia konfigurácie.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Nepodporovaná implementácia v kóde, metóda nebola prepísaná: {0}"
	IDS_ERRORID_NOT_CONFIG			"Názov konfigurácie nie je zadaný a nemožno v ňom pokračovať."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Zariadenia nie sú pripojené a nemôžu pokračovať."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Pozor, počet zariadení v konečnom zozname sa nezhoduje, systém/zoznam = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Nie je možné otvoriť zariadenie MIDI, nemožno pokračovať, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Nie je možné spustiť zariadenie MIDI, nemôže pokračovať, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Zariadenie nie je pripojené, prerušiť, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Nájdené zariadenie {0}, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Zariadenie {0} otvorené, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Zariadenie {0} zatvorené (systém)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Zariadenie {0} pripravené (systém)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Názov aktívneho zariadenia nie je zadaný, pokračovanie nie je možné, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Proxy porty nie sú špecifikované v konfigurácii, MIDI proxy je vypnutá."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Verzia ovládača [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Problém s verziou ovládača [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Zariadenie {0} odoslalo neplatnú hodnotu = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"Virtuálny MIDI ovládač nie je nainštalovaný. Musíte nainštalovať balík loopMidi alebo stiahnuť úplný inštalátor a preinštalovať MIDI-MT. Viac podrobností: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Nainštalovaný virtuálny MIDI ovládač sa nenašiel! Ak chcete spustiť prekladač MIDI-MT, musíte nainštalovať balík Virtual Loop MIDI."
	IDS_ERRORID_MIDI_PROXY_PORTS		"Po spustení sa vytvoria porty proxy MIDI (počet: {0})."
	IDS_ERRORID_MIDI_PROXY_OFF		"Proxy MIDI porty sú vypnuté."
	IDS_ERRORID_MIDI_OUT_PORTS		"Po spustení sa vytvoria výstupné porty MIDI (počet: {0})."
	IDS_ERRORID_MIDI_OUT_OFF		"Výstupné porty MIDI sú vypnuté."
	IDS_ERRORID_MMKEY_START			"Služba Media Key Management je spustená."
	IDS_ERRORID_MMKEY_STOP			"Služba Media Key Management bola zastavená."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"Konfigurácia MQTT je prázdna a nemôže pokračovať."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Chyba pri vytváraní klienta MQTT, ruší sa."
	IDS_ERRORID_MQTT_CLIENT_OK		"Klient MMQTT bol úspešne vytvorený, pokračujte..."
	IDS_ERRORID_MQTT_CONNECTED		"Pripojené k serveru MQTT:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Nepodarilo sa pripojiť k serveru MQTT:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Odpojené od servera MQTT:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"Súbor certifikátu CA neexistuje, cesta = '{0}'"
	IDS_ERRORID_MQTT_START			"Bola spustená služba ovládania Smart Home."
	IDS_ERRORID_MQTT_STOP			"Služba ovládania Smart Home bola zastavená."
	IDS_ERRORID_MQTT_CA_FILTER		"certifikát CA"
	IDS_ERRORID_LOG_LEVEL_NONE		"nie je vedený žiadny denník"
	IDS_ERRORID_LOG_LEVEL_INFO		"informácie"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"upozornenia"
	IDS_ERRORID_LOG_LEVEL_WARNING		"upozornenia"
	IDS_ERRORID_LOG_LEVEL_ERR		"iba chyby"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"všetky správy"
	IDS_ERRORID_PANEL_INDEX			"Panel Audio Mixer – Nedá sa pokračovať, položky indexu sú nesprávne."
	IDS_ERRORID_PANEL_INIT			"Panel zvukového mixéra – nemôže pokračovať, chyba inicializácie."
	IDS_ERRORID_PANEL_ENABLE		"Okno panela zvukového mixéra nemá správny stav a v ďalšej operácii nie je možné pokračovať."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Panel zvukového mixéra sa nevyvoláva vo vlákne používateľského rozhrania a nie je možné vykonávať zmeny."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Panel audio mixpultu zistil neplatný prvok a vytvorenie okna panelu bolo prerušené."
	IDS_ERRORID_LIGHT_DMX_START		"Služba ovládania osvetlenia DMX sa spúšťa pomocou COM{0} – {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"Služba ovládania osvetlenia DMX nie je spustená, zariadenie COM{0} nie je pripojené."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"Služba ovládania osvetlenia DMX nie je spustená a konfigurácia služby nie je vyplnená."
	IDS_ERRORID_LIGHT_DMX_STOP		"Služba ovládania osvetlenia DMX bola zastavená."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Nie sú k dispozícii žiadne vhodné zariadenia"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Vyberte DMX zariadenie"
	IDS_ERRORID_LIGHT_ARTNET_START		"Služba ArtNet Lighting Control Service je spustená pomocou adresy vysielania {0}:{1} v sieti {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"Služba ovládania osvetlenia ArtNet nie je spustená, sieť {0} sa nenašla."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"Služba ovládania osvetlenia ArtNet nie je spustená, konfigurácia služby nie je vyplnená."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"Služba ovládania osvetlenia ArtNet bola zastavená."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Nie sú k dispozícii žiadne vhodné rozhrania"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Vyberte rozhranie ARTNET"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Chyba inicializácie doplnku, nie je možné konvertovať CLSID/GUID zo zadaného reťazca."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Nepodarilo sa inicializovať doplnky, nenašli sa žiadne kompatibilné doplnky."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Nepodarilo sa načítať doplnky, predinicializované {0}, načítalo sa 0 doplnkov."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Doplnky boli úspešne inicializované, predinicializácia {0}, načítaných doplnkov: {1}."
	IDS_ERRORID_BRIDGE_OK_START		"Bridge úspešne spustený, {0} inicializovaný, {1} načítaný, {2} spustených doplnkov."
	IDS_ERRORID_BRIDGE_NOT_START		"Spustenie mosta zlyhalo, chyba pri spúšťaní doplnkov, inicializovaných {0}, načítaných doplnkov: {1}."
	IDS_ERRORID_BRIDGE_OK_STOP		"Bridge úspešne zastavený, {0} inicializované, {1} načítané, {2} spustené, zastavené doplnky ({3})."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Nepodarilo sa zastaviť most, chyba pri zastavovaní doplnkov, inicializovaných {0}, načítaných {1}, spustených doplnkov: {2}."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Doplnky sú už načítané, pred reštartovaním ich resetujte."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"Most je už spustený."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"Most sa už zastavil."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Nepodarilo sa otvoriť modul doplnku. Modul chýba alebo je poškodený, DLL nebola načítaná a vrátila sa null."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"Modul nie je MIDI-MT plugin a chýbajú požadované vstupné body."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Povolené={0}, nastavenia={1}, spustené={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Konfigurácia bola aktualizovaná: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Nenašli sa žiadne moduly, spustenie nie je možné."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Pred spustením upravte konfiguráciu."
	IDS_ERRORID_MIDIMT_CONFFILTER		"Konfiguračný súbor"
	IDS_ERRORID_MIDIMT_EXEFILTER		"Spustiteľné súbory"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Konfigurácia načítaná zo súboru: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Konfigurácia načítaná z ovládača"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"Vybraný jazyk {0} bude aktívny po reštartovaní okna."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Verzia nainštalovaného virtuálneho MIDI ovládača: {0}"
	IDS_ERRORID_REMOTE_START		"Služba diaľkového ovládania bola spustená."
	IDS_ERRORID_REMOTE_STOP			"Služba diaľkového ovládania sa zastavila."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Nový klient {0}/{1} je pripojený."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Chyba klienta {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Klient {0}/{1} odpojený, stav: {2} – {3}."

	IDS_ERRORID_JOY_NODRIVER		"Nechýba ovládač joysticku ani gamepadu."
	IDS_ERRORID_JOY_INVALIDPARAM		"Zadané ID joysticku je neplatné."
	IDS_ERRORID_JOY_NOCANDO			"Vstup joysticku nie je možné zapísať a požadovaná služba nie je dostupná."
	IDS_ERRORID_JOY_UNPLUGGED		"Zadaný joystick nie je pripojený k systému."
	IDS_ERRORID_JOY_START			"Služba ovládania Gamepad/Joystick je spustená, aktívne zariadenia: {0}, online: {1}."
	IDS_ERRORID_JOY_STOP			"Služba ovládania gamepadu/joysticku bola zastavená."
	IDS_ERRORID_JOY_CHANGE_SCENE		"Ovládacia scéna bola zmenená gamepadom alebo joystickom na {0}."
	IDS_ERRORID_JOY_CHANGE_CTRL		"Ovládací prvok {0}/{1} sa vyberá pomocou gamepadu alebo joysticku."

	IDS_ERRORID_COPY_LINK			"Odkaz bol skopírovaný do schránky."
	IDS_ERRORID_NET_IFACE_NONE		"Žiadne sieťové rozhrania"
	IDS_ERRORID_NET_IFACE_SELECT		"Vyberte sieťové rozhranie"
	IDS_ERRORID_TIMEOUT_EXPIRED		"Časový limit čakania vypršal, čakanie je ukončené.."

	IDS_ERRORID_SCRIPT_ERROR		"Chyba vykonania skriptu: {0}"
	IDS_ERRORID_SCRIPT_EMPTY		"Skript je prázdny!"
	IDS_ERRORID_SCRIPT_MODIFY		"Zmenený skript: {0}"
	IDS_ERRORID_SCRIPT_LOADED		"Načítané skripty: {0}"
	IDS_ERRORID_SCRIPT_NOTFOUND		"V adresári {0} sa nenašli žiadne skripty"
	IDS_ERRORID_SCRIPT_START		"Skriptovací mechanizmus je spustený, dostupné skripty: {0}."
	IDS_ERRORID_SCRIPT_STOP			"Skriptovací mechanizmus sa zastavil."
	IDS_ERRORID_SCRIPT_DIRFILTER		"Súbory skriptov"

	IDS_ERRORID_FILEWATCH_OPEN		"Nepodarilo sa otvoriť adresár: {0}"
	IDS_ERRORID_FILEWATCH_PARAM		"Adresár so zadanými parametrami sa nedá prečítať, dokončujem sledovanie adresára."
	IDS_ERRORID_FILEWATCH_SHUTDOWN		"neočakávané ukončenie sledovania adresárov"
	IDS_ERRORID_FILEWATCH_NOACCESS		"problémy s prístupom k adresáru, možno nesprávna veľkosť vyrovnávacej pamäte na čítanie"

	IDS_ERRORID_NONE			"-"
END
