﻿
#define APSTUDIO_READONLY_SYMBOLS
#ifndef APSTUDIO_INVOKED
#include <SDKDDKVer.h>
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#include "CommCtrl.h"
#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "Jednoduché ovládanie MIDI -> Mixér zvuku -> Prekladač MIDI-Mackie"
    IDS_MIXER               "&Mixér"
    IDS_SETTINGS            "&Nastavenie"
    IDS_START               "Štart"
    IDS_STOP                "Stop"
    IDS_EXIT                "VÝCHOD"
    IDS_SETUP_MSG1          "Konfigurácia načítaná z ovládača"
    IDS_SETUP_MSG2          "Konfigurácia načítaná zo súboru"
    IDS_SETUP_MSG3          "Konfigurácia bola vytvorená nanovo a vyžaduje vyplnenie"
    IDS_URL_WIKI            "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    IDS_URL_GIT             "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    IDS_URL_WEB             "https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    IDS_URL_ESETUP          "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"
    IDS_START_EXT_FILTER    "Konfigurácia MIDI-MT"
    IDS_CONFIG_EXE_FILTER   "Spustiteľné súbory"
    IDS_MQTT_CA_FILTER      "certifikát CA"
    IDS_MIDIMT              "MIDIMT"
    IDS_INFO1               "MIDI translator nie je spustený."
    IDS_INFO2               "MIDI prekladač funguje:"
    IDS_INFO3               "Vstupné zariadenie:"
    IDS_INFO4               "Výstupný port Mackie/Premier:"
    IDS_INFO5               "Výstupný port proxy:"
    IDS_INFO6               "Zvukový mixér je spustený."
    IDS_INFO7               "Ovládanie multimediálneho kľúča je spustené, skontrolujte nastavenia."
    IDS_INFO8               "Zvukový mixér nie je spustený, skontrolujte nastavenia, musí byť povolené spustenie zvukového panelu."
    IDS_INFO9               "Neplatné ID udalosti. Reštartujte túto aplikáciu."
    IDS_INF1O               "Nepodarilo sa prepnúť na vlákno používateľského rozhrania, spustenie zvukového panela bolo prerušené."
    IDS_INF11               "MIDIMT - Zvukový mixér nie je spustený:"
    IDS_INF12               "MIDIMT - Nedá sa dokončiť operácia:"
    IDS_INF13               "Správa zariadení Smart Home bola spustená."
    IDS_INF14               "Bolo spustené ovládanie osvetlenia cez protokol DMX512."
    IDS_INF15               "Bolo spustené ovládanie osvetlenia cez protokol ArtNet."
    IDS_DLG_MSG0            "Inštalácia virtuálneho MIDI ovládača"
    IDS_DLG_MSG1            "MIDI výstup Mackie"
    IDS_DLG_MSG2            "MIDI Proxy výstup"
    IDS_DLG_MSG3            "Verzia virtuálneho ovládača MIDI:"
    IDS_DLG_MSG4            "Nainštalovaný virtuálny MIDI ovládač sa nenašiel! Ak chcete spustiť prekladač MIDI-MT, musíte nainštalovať balík Virtual Loop MIDI"
    IDS_DLG_MSG5            "Po spustení sa vytvoria proxy MIDI porty:"
    IDS_DLG_MSG6            "Porty MIDI Proxy sú vypnuté."
    IDS_DLG_MSG7            "Zvolený jazyk bude aktívny po reštarte okna -"
    IDS_DLG_MSG8            "MIDI vstupné zariadenie priradené k"
    IDS_DLG_MSG9            "Pred spustením upravte konfiguráciu."
    IDS_DLG_MSG10           "Verzia nainštalovaného virtuálneho MIDI ovládača:"
    IDS_DLG_MSG11           "Vybraná konfigurácia nepodporuje automatické spustenie."
    IDS_DLG_MSG12           "Pred spustením monitora spustite MIDI bridge z ponuky zavolaním „Štart“."
    IDS_DLG_MSG13           "Pri spustení bol zadaný konfiguračný súbor: '{0}'. Chcete to nastaviť ako konfiguráciu pre nasledujúce spustenia?"
    IDS_DLG_MSG14           "Pri otváraní editora bol zadaný konfiguračný súbor: '{0}'. Uložiť to pod rovnakým názvom?"
    IDS_DLG_MSG15           "Automatické spustenie je vo všeobecnej konfigurácii zakázané."
    IDS_DLG_MSG16           "Číslo DMX kanála"
    IDS_DLG_MSG17           "Musíte nainštalovať ovládač Virtual MIDI!"
    IDS_DLG_DMX_NODEV       "Nie sú k dispozícii žiadne zariadenia"
    IDS_DLG_ARTNET_NOINT    "Žiadne rozhrania"
    IDS_DLG_DMX_SELDEV      "Vyberte DMX zariadenie"
    IDS_DLG_ARTNET_SELINT   "Vyberte rozhranie ARTNET"
END

STRINGTABLE
BEGIN
    IDM_COL4_MAV            "hlasitosť zvuku (hlavná)"
    IDM_COL4_MAP            "vyváženie zvuku (základné)"
    IDM_COL4_MAM            "stlmiť (hlavný)"
    IDM_COL4_MAS            "audio sólo (hlavné)"
    IDM_COL4_JOG            "JOG (pretočenie snímky videa dozadu)"
    IDM_COL4_AV1            "hlasitosť zvuku (kanál 1)"
    IDM_COL4_AV2            "hlasitosť zvuku (kanál 2)"
    IDM_COL4_AV3            "hlasitosť zvuku (kanál 3)"
    IDM_COL4_AV4            "hlasitosť zvuku (kanál 4)"
    IDM_COL4_AV5            "hlasitosť zvuku (kanál 5)"
    IDM_COL4_AV6            "hlasitosť zvuku (kanál 6)"
    IDM_COL4_AV7            "hlasitosť zvuku (kanál 7)"
    IDM_COL4_AV8            "hlasitosť zvuku (kanál 8)"
    IDM_COL4_XV9            "hlasitosť zvuku (kanál 9)"
    IDM_COL4_AP1            "vyváženie zvuku (kanál 1)"
    IDM_COL4_AP2            "vyváženie zvuku (kanál 2)"
    IDM_COL4_AP3            "vyváženie zvuku (kanál 3)"
    IDM_COL4_AP4            "vyváženie zvuku (kanál 4)"
    IDM_COL4_AP5            "vyváženie zvuku (kanál 5)"
    IDM_COL4_AP6            "vyváženie zvuku (kanál 6)"
    IDM_COL4_AP7            "vyváženie zvuku (kanál 7)"
    IDM_COL4_AP8            "vyváženie zvuku (kanál 8)"
    IDM_COL4_XP9            "vyváženie zvuku (kanál 9)"
    IDM_COL4_B11            "audio sólo (kanál 1)"
    IDM_COL4_B12            "audio sólo (kanál 2)"
    IDM_COL4_B13            "audio sólo (kanál 3)"
    IDM_COL4_B14            "audio sólo (kanál 4)"
    IDM_COL4_B15            "audio sólo (kanál 5)"
    IDM_COL4_B16            "audio sólo (kanál 6)"
    IDM_COL4_B17            "audio sólo (kanál 7)"
    IDM_COL4_B18            "audio sólo (kanál 8)"
    IDM_COL4_B19            "audio sólo (kanál 9)"
    IDM_COL4_B21            "stlmiť (kanál 1)"
    IDM_COL4_B22            "stlmiť (kanál 2)"
    IDM_COL4_B23            "stlmiť (kanál 3)"
    IDM_COL4_B24            "stlmiť (kanál 4)"
    IDM_COL4_B25            "stlmiť (kanál 5)"
    IDM_COL4_B26            "stlmiť (kanál 6)"
    IDM_COL4_B27            "stlmiť (kanál 7)"
    IDM_COL4_B28            "stlmiť (kanál 8)"
    IDM_COL4_B29            "stlmiť (kanál 9)"
    IDM_COL4_B31            "výber zvuku (kanál 1)"
    IDM_COL4_B32            "výber zvuku (kanál 2)"
    IDM_COL4_B33            "výber zvuku (kanál 3)"
    IDM_COL4_B34            "výber zvuku (kanál 4)"
    IDM_COL4_B35            "výber zvuku (kanál 5)"
    IDM_COL4_B36            "výber zvuku (kanál 6)"
    IDM_COL4_B37            "výber zvuku (kanál 7)"
    IDM_COL4_B38            "výber zvuku (kanál 8)"
    IDM_COL4_B39            "výber zvuku (kanál 9)"
    IDM_COL4_FUN11          "funkcia F1 (štandardný režim)"
    IDM_COL4_FUN12          "funkcia F2 (štandardný režim)"
    IDM_COL4_FUN13          "funkcia F3 (štandardný režim)"
    IDM_COL4_FUN14          "funkcia F4 (štandardný režim)"
    IDM_COL4_FUN15          "funkcia F5 (štandardný režim)"
    IDM_COL4_FUN16          "funkcia F6 (štandardný režim)"
    IDM_COL4_FUN17          "funkcia F7 (štandardný režim)"
    IDM_COL4_FUN18          "funkcia F8 (štandardný režim)"
    IDM_COL4_FUN21          "funkcia F1 (režim pozastavenia)"
    IDM_COL4_FUN22          "funkcia F2 (režim pozastavenia)"
    IDM_COL4_FUN23          "funkcia F3 (režim pozastavenia)"
    IDM_COL4_FUN24          "funkcia F4 (režim pozastavenia)"
    IDM_COL4_FUN25          "funkcia F5 (režim pozastavenia)"
    IDM_COL4_FUN26          "funkcia F6 (režim pozastavenia)"
    IDM_COL4_FUN27          "funkcia F7 (režim pozastavenia)"
    IDM_COL4_FUN28          "funkcia F8 (režim pozastavenia)"
    IDM_COL4_SYS_Rewind     "Pretočiť späť (hráč)"
    IDM_COL4_SYS_Forward    "Rýchly posun dopredu (hráč)"
    IDM_COL4_SYS_Stop       "Zastaviť (hráč)"
    IDM_COL4_SYS_Play       "Hrať (hráč)"
    IDM_COL4_SYS_Record     "Nahrávanie (prehrávač)"
    IDM_COL4_SYS_Up         "Hore (joystick)"
    IDM_COL4_SYS_Down       "Dole (joystick)"
    IDM_COL4_SYS_Left       "Vľavo (joystick)"
    IDM_COL4_SYS_Right      "Vpravo (joystick)"
    IDM_COL4_SYS_Zoom       "Zvýšiť"
    IDM_COL4_SYS_Scrub      "Drhnúť"
    IDM_COL4_VOLUMEMIX      "Ovládanie mixéra"
    IDM_COL4_MEDIAKEY       "Multimediálne klávesy"
    IDM_COL4_MQTTKEY        "Správa inteligentnej domácnosti"
    IDM_COL4_LIGHTKEY8B     "Ovládanie osvetlenia (8 bitov)"
    IDM_COL4_LIGHTKEY16B    "Ovládanie osvetlenia (16 bit)"
    IDM_COL4_NONE           "akcia nie je definovaná"
    IDM_COL4_MQTT_AV1       "úroveň 1"
    IDM_COL4_MQTT_AV2       "úroveň 2"
    IDM_COL4_MQTT_AV3       "úroveň 3"
    IDM_COL4_MQTT_AV4       "úroveň 4"
    IDM_COL4_MQTT_AV5       "úroveň 5"
    IDM_COL4_MQTT_AV6       "úroveň 6"
    IDM_COL4_MQTT_AV7       "úroveň 7"
    IDM_COL4_MQTT_AV8       "úroveň 8"
    IDM_COL4_MQTT_XV9       "úroveň 9"
    IDM_COL4_MQTT_AP1       "úroveň 10"
    IDM_COL4_MQTT_AP2       "úroveň 11"
    IDM_COL4_MQTT_AP3       "úroveň 12"
    IDM_COL4_MQTT_AP4       "úroveň 13"
    IDM_COL4_MQTT_AP5       "úroveň 14"
    IDM_COL4_MQTT_AP6       "úroveň 15"
    IDM_COL4_MQTT_AP7       "úroveň 16"
    IDM_COL4_MQTT_AP8       "úroveň 17"
    IDM_COL4_MQTT_XP9       "úroveň 18"
    IDM_COL4_MQTT_B11       "zapnutie/vypnutie 1"
    IDM_COL4_MQTT_B12       "zapnutie/vypnutie 2"
    IDM_COL4_MQTT_B13       "zapnutie/vypnutie 3"
    IDM_COL4_MQTT_B14       "zapnutie/vypnutie 4"
    IDM_COL4_MQTT_B15       "zapnutie/vypnutie 5"
    IDM_COL4_MQTT_B16       "zapnutie/vypnutie 6"
    IDM_COL4_MQTT_B17       "zapnutie/vypnutie 7"
    IDM_COL4_MQTT_B18       "zapnutie/vypnutie 8"
    IDM_COL4_MQTT_B19       "zapnutie/vypnutie 9"
    IDM_COL4_MQTT_B21       "zapnutie/vypnutie 10"
    IDM_COL4_MQTT_B22       "zapnutie/vypnutie 11"
    IDM_COL4_MQTT_B23       "zapnutie/vypnutie 12"
    IDM_COL4_MQTT_B24       "zapnutie/vypnutie 13"
    IDM_COL4_MQTT_B25       "zapnutie/vypnutie 14"
    IDM_COL4_MQTT_B26       "zapnutie/vypnutie 15"
    IDM_COL4_MQTT_B27       "zapnutie/vypnutie 16"
    IDM_COL4_MQTT_B28       "zapnutie/vypnutie 17"
    IDM_COL4_MQTT_B29       "zapnutie/vypnutie 18"
    IDM_COL4_MQTT_B31       "zapnutie/vypnutie 19"
    IDM_COL4_MQTT_B32       "zapnutie/vypnutie 20"
    IDM_COL4_MQTT_B33       "zapnutie/vypnutie 21"
    IDM_COL4_MQTT_B34       "zapnutie/vypnutie 22"
    IDM_COL4_MQTT_B35       "zapnutie/vypnutie 23"
    IDM_COL4_MQTT_B36       "zapnutie/vypnutie 24"
    IDM_COL4_MQTT_B37       "zapnutie/vypnutie 25"
    IDM_COL4_MQTT_B38       "zapnutie/vypnutie 26"
    IDM_COL4_MQTT_B39       "zapnutie/vypnutie 27"
    IDM_COL4_MQTT_NONE      "Nepridelené"
    IDM_MQTT_LOG_NONE       "nie je udržiavaný žiadny denník"
    IDM_MQTT_LOG_INFO       "informácie"
    IDM_MQTT_LOG_NOTICE     "upozornenia"
    IDM_MQTT_LOG_WARNING    "upozornenia"
    IDM_MQTT_LOG_ERR        "iba chyby"
    IDM_MQTT_LOG_DEBUG      "všetky správy"
END

STRINGTABLE
BEGIN
    IDS_ERRORID_OK          "OK"
    IDS_ERRORID_EMPTY       "<тут пусто>"
    IDS_ERRORID_UNDEFINED   "Táto chyba nie je definovaná"
    IDS_ERRORID_JSONCONF_WRITE_ACCESS
                            "Prístup na zápis do konfiguračného súboru je odmietnutý, '{0}'"
    IDS_ERRORID_JSONCONF_READ_ACCESS
                            "Konfiguračný súbor chýba alebo bol prístup odmietnutý, '{0}'"
    IDS_ERRORID_JSONCONF_EMPTY
                            "Konfiguračný súbor je prázdny, '{0}'"
    IDS_ERRORID_JSONCONF_NO_DEVICE
                            "Názov zariadenia MIDI nie je nakonfigurovaný."
    IDS_ERRORID_JSONCONF_EMPTY_KEYS
                            "V tejto konfigurácii nie sú nakonfigurované žiadne MIDI klávesy."
    IDS_ERRORID_JSONCONF_WRITE_EMPTY
                            "Pozor, táto konfigurácia nemá nakonfigurované MIDI klávesy! zaznamenaná konfigurácia nebude fungovať."
    IDS_ERRORID_INIT_COINITIALIZE
                            "Inicializácia Co*Initialize zlyhala."
    IDS_ERRORID_INIT_COCREATE
                            "Co*Create – nepodarilo sa vytvoriť inštanciu."
    IDS_ERRORID_INIT_DEFAULT_AE
                            "Nepodarilo sa získať predvolené zvukové zariadenie."
    IDS_ERRORID_INIT_AS_MANAGER2
                            "Správca zvukových relácií zlyhal."
    IDS_ERRORID_INIT_AS_AUDIOMETER
                            "Merač zvukových špičiek nie je k dispozícii."
    IDS_ERRORID_MIXER_STARTOK
                            "Mixér zvukových relácií je spustený, v čase spustenia je k dispozícii {0} spustených programov na reguláciu."
    IDS_ERRORID_MIXER_STARTERROR
                            "Mixér zvukových relácií sa nepodarilo spustiť, podrobnosti o chybe by mali byť v súbore denníka."
    IDS_ERRORID_MIXER_STOPOK
                            "Mixér zvukových relácií sa zastavil."
    IDS_ERRORID_MIXER_STOPERROR
                            "Mixér zvukových relácií nebol správne zastavený, podrobnosti o chybe by mali byť v súbore denníka."
    IDS_ERRORID_NO_INIT     "Inicializujte pred volaním tohto.."
    IDS_ERRORID_SESSION_LIST
                            "Nepodarilo sa získať zoznam zvukových relácií."
    IDS_ERRORID_LISTISNULL  "Zoznam zvukových relácií je prázdny!"
    IDS_ERRORID_SESSIONDISCONNECTED
                            "Vypnutie zvukovej relácie, dôvod='{0}'"
    IDS_ERRORID_SESSIONCREATED
                            "Zvuková relácia bola vytvorená, name='{0}'"
    IDS_ERRORID_ITEM_SC_AE  "Zvuková relácia '{0}' - Neplatný stav registrácie '{1}': {2}/{3}"
    IDS_ERRORID_CBVALUE_BAD_SELECT
                            "Hodnota, ktorá sa nastavuje zo spätného volania, je neplatný selektor."
    IDS_ERRORID_SET_CB_WARNING
                            "Nastavenie spätného volania je možné až po úspešnom spustení MIDI mosta."
    IDS_ERRORID_CONFIG_FAIL "Načítanie konfigurácie zlyhalo, súbor sa nenašiel, spustenie nie je možné."
    IDS_ERRORID_CONFIG_LOAD "Konfigurácia načítaná.."
    IDS_ERRORID_CONFIG_LOADA
                            "Konfigurácia už bola načítaná.."
    IDS_ERRORID_CONFIG_EMPTY
                            "Konfigurácia je prázdna.."
    IDS_ERRORID_CONFIG_NEW  "Zistila sa nová verzia konfigurácie.."
    IDS_ERRORID_NOT_IMPLEMENTED
                            "Nepodporovaná implementácia v kóde, metóda nebola prepísaná: {0}"
    IDS_ERRORID_NOT_CONFIG  "Názov konfigurácie nie je zadaný a nemôže pokračovať."
    IDS_ERRORID_NOT_DEVICES "Zariadenia nie sú pripojené a nemôžu pokračovať."
    IDS_ERRORID_COUNT_DEVICES
                            "Pozor, nesúlad v počte zariadení v konečnom zozname, systém/zoznam = {0}/{1}"
    IDS_ERRORID_OPEN_MIDI_DEVICE
                            "Nie je možné otvoriť zariadenie MIDI, nemožno pokračovať, id = {0}/{1}"
    IDS_ERRORID_START_MIDI_DEVICE
                            "Nie je možné spustiť zariadenie MIDI, nemôže pokračovať, id = {0}/{1}"
    IDS_ERRORID_DEVICE_NOT_CONNECT
                            "Zariadenie nie je pripojené, prerušiť, id = {0}/{1}"
    IDS_ERRORID_DEVICE_FOUND
                            "Nájdené zariadenie {0}, {1}"
    IDS_ERRORID_DEVICE_OPEN "Zariadenie {0} otvorené, {1}"
    IDS_ERRORID_DEVICE_CLOSE
                            "Zariadenie {0} zatvorené (systém)"
    IDS_ERRORID_DEVICE_DONE "Zariadenie {0} pripravené (systém)"
    IDS_ERRORID_NOT_DEVICE_NAME
                            "Názov aktívneho zariadenia nie je zadaný, pokračovanie nie je možné, id = {0}/{1}"
    IDS_ERRORID_NOT_CONFIG_PROXY
                            "Proxy porty nie sú špecifikované v konfigurácii, MIDI proxy je vypnutá."
    IDS_ERRORID_DRIVER_VER_OK
                            "Verzia ovládača [{0}]"
    IDS_ERRORID_DRIVER_VER_ERROR
                            "Problém s verziou ovládača [{0}]"
    IDS_ERRORID_SEND_BAD_VALUES
                            "Zariadenie {0} odoslalo neplatnú hodnotu = {1}"
    IDS_ERRORID_NOT_DRIVER  "Virtuálny MIDI ovládač nie je nainštalovaný. Musíte nainštalovať balík loopMidi alebo stiahnuť úplný inštalátor a preinštalovať MIDI-MT. Viac podrobností: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
    IDS_ERRORID_MMKEY_START "Služba Media Key Management je spustená."
    IDS_ERRORID_MMKEY_STOP  "Služba Media Key Management bola zastavená."
    IDS_ERRORID_MQTT_EMPTY_CONFIG
                            "Konfigurácia MQTT je prázdna a nemôže pokračovať."
    IDS_ERRORID_MQTT_CLIENT_ERROR
                            "Chyba pri vytváraní klienta MQTT, ruší sa."
    IDS_ERRORID_MQTT_CLIENT_OK
                            "Klient MMQTT bol úspešne vytvorený, pokračujte..."
    IDS_ERRORID_MQTT_CONNECTED
                            "Pripojené k serveru MQTT:"
    IDS_ERRORID_MQTT_NOT_CONNECTED
                            "Nepodarilo sa pripojiť k serveru MQTT:"
    IDS_ERRORID_MQTT_DISCONNECTED
                            "Odpojené od servera MQTT:"
    IDS_ERRORID_MQTT_NOT_CA_CERT
                            "Súbor certifikátu CA neexistuje, cesta = '{0}'"
    IDS_ERRORID_MQTT_START  "Bola spustená služba ovládania Smart Home."
    IDS_ERRORID_MQTT_STOP   "Služba ovládania Smart Home bola zastavená."
    IDS_ERRORID_PANEL_INDEX "Panel Audio Mixer – Nedá sa pokračovať, položky indexu sú nesprávne."
    IDS_ERRORID_PANEL_INIT  "Panel zvukového mixéra – nemôže pokračovať, chyba inicializácie."
    IDS_ERRORID_PANEL_ENABLE
                            "Okno panela zvukového mixéra nemá správny stav a v ďalšej operácii nie je možné pokračovať."
    IDS_ERRORID_PANEL_NOT_UI_THREAD
                            "Panel zvukového mixéra sa nevyvoláva vo vlákne používateľského rozhrania a nie je možné vykonávať zmeny."
    IDS_ERRORID_PANEL_NOT_ITEM_VALID
                            "Panel audio mixpultu zistil neplatný prvok a vytvorenie okna panelu bolo prerušené."
    IDS_ERRORID_LIGHT_DMX_START
                            "Služba ovládania osvetlenia DMX sa spúšťa pomocou COM{0} – {1}."
    IDS_ERRORID_LIGHT_DMX_NOT_COM
                            "Služba ovládania osvetlenia DMX nie je spustená, zariadenie COM{0} nie je pripojené."
    IDS_ERRORID_LIGHT_DMX_NOT_CONFIG
                            "Služba ovládania osvetlenia DMX nie je spustená a konfigurácia služby nie je vyplnená."
    IDS_ERRORID_LIGHT_DMX_STOP
                            "Služba ovládania osvetlenia DMX bola zastavená."
    IDS_ERRORID_LIGHT_ARTNET_START
                            "Služba ArtNet Lighting Control Service je spustená pomocou adresy vysielania {0}:{1} v sieti {2}."
    IDS_ERRORID_LIGHT_ARTNET_NOT_COM
                            "Služba ovládania osvetlenia ArtNet nie je spustená, sieť {0} sa nenašla."
    IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG
                            "Služba ovládania osvetlenia ArtNet nie je spustená, konfigurácia služby nie je vyplnená."
    IDS_ERRORID_LIGHT_ARTNET_STOP
                            "Služba ovládania osvetlenia ArtNet bola zastavená."
    IDS_ERRORID_NONE        "-"
END
