#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Najnovšie súbory:"
	STR_RB_TABHOMEL			"Úprava"
	STR_RB_TABFILTERL		"Filtre"
	STR_RB_PANEL_EDITMAINL		"upraviť MIDI kľúč"
	STR_RB_PANEL_EDITSETL		"Skupina MIDI kľúčov"
	STR_RB_PANEL_EDITOPTL		"možnosti editora"
	STR_RB_PANEL_FILTERL		"výber zobrazovacích filtrov"
	STR_RB_PANEL_SORTL		"triedenie"
	STR_RB_MENUL			"&Ponuka"
	STR_RB_MENUT			"Ponuka aplikácií"
	STR_RB_PANEL_QATL		"&Rýchly prístup"
	STR_RB_PANEL_QATT		"Panel s nástrojmi Rýchly prístup"
	STR_RB_DIALOG_SAVEL		"&Uložiť"
	STR_RB_DIALOG_SAVET		"Uložiť a použiť"
	STR_RB_DIALOG_SAVED		"Uložte do predtým stiahnutého súboru a aktualizujte aktuálnu konfiguráciu."
	STR_RB_DIALOG_EXPORTL		"&Export"
	STR_RB_DIALOG_EXPORTT		"Exportovať do nového súboru"
	STR_RB_DIALOG_EXPORTD		"Exportujte upravenú konfiguráciu do nového súboru."
	STR_RB_DIALOG_IMPORTL		"&Importovať"
	STR_RB_DIALOG_IMPORTT		"Importovať zo súboru"
	STR_RB_DIALOG_IMPORTD		"Importovať konfiguráciu zo súboru."
	STR_RB_DIALOG_EXITL		"&VÝCHOD"
	STR_RB_DIALOG_EXITT		"Ukončiť editor"
	STR_RB_DIALOG_EXITD		"Ukončí Editor konfigurácie kľúča MIDI; ak sa zmeny neuložia, stratia sa."
	STR_RB_LV_NEWL			"&Nový MIDI kľúč"
	STR_RB_LV_NEWT			"Nový MIDI kľúč"
	STR_RB_LV_NEWD			"Vytvorenie nového MIDI kľúča."
	STR_RB_LV_COPYL			"&Kopírovať"
	STR_RB_LV_COPYT			"Kopírovať kľúč MIDI"
	STR_RB_LV_COPYD			"Skopírujte vybranú položku MIDI kľúča."
	STR_RB_LV_PASTEL		"&Vložiť"
	STR_RB_LV_PASTET		"Vložte kľúč"
	STR_RB_LV_PASTED		"Prilepte skopírovaný kľúč MIDI."
	STR_RB_LV_DELETEL		"&Odstrániť"
	STR_RB_LV_DELETET		"Odstrániť kľúč"
	STR_RB_LV_DELETED		"Vymažte vybratú položku MIDI kľúča."
	STR_RB_LV_SET_MQTTL		"Inteligentný dom"
	STR_RB_LV_SET_MQTTT		"Nastavte skupinu ako „Smart Home“."
	STR_RB_LV_SET_MQTTD		"Priraďte vybraný MIDI kľúč skupine „Smart Home“."
	STR_RB_LV_SET_MMKEYL		"Multimediálne tlačidlá"
	STR_RB_LV_SET_MMKEYT		"Nastavte skupinu ako “Multimediálne tlačidlá”"
	STR_RB_LV_SET_MMKEYD		"Priraďte vybraný MIDI kľúč do skupiny „Multimediálne tlačidlá“."
	STR_RB_LV_SET_MIXERL		"Zvukový mixér"
	STR_RB_LV_SET_MIXERT		"Nastaviť skupinu ako „Zmiešavač zvuku“"
	STR_RB_LV_SET_MIXERD		"Priraďte vybraný MIDI kľúč do skupiny „Audio Mixer“."
	STR_RB_LV_READ_MIDI_CODEL	"Prečítajte si MIDI kód"
	STR_RB_LV_READ_MIDI_CODET	"Prečítajte si riadiaci kód MIDI"
	STR_RB_LV_READ_MIDI_CODED	"Čítajte MIDI kód ​​z ovládacieho panela alebo MIDI klávesnice."
	STR_RB_LV_EDIT_MODEL		"Len digitálny vstup"
	STR_RB_LV_EDIT_MODET		"Používajte iba digitálny vstup"
	STR_RB_LV_EDIT_MODED		"Nepoužívajte ponuku na výber hodnoty, použite iba digitálny vstup."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI ovládací panel"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Odporúčané nastavenia"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Odporúčané nastavenia ovládacieho panela MIDI kompatibilné s ovládacími prvkami Adobe Premiere Pro."
	STR_RB_LV_FILTER_EMBEDL		"Vstavané filtre"
	STR_RB_LV_FILTER_KEYL		"kľúč"
	STR_RB_LV_FILTER_KEYT		"Filtrovanie podľa MIDI kľúča"
	STR_RB_LV_FILTER_KEYD		"Zobraziť iba zhody v rámci skupiny klávesov MIDI."
	STR_RB_LV_FILTER_SCENEL		"Scéna"
	STR_RB_LV_FILTER_SCENET		"Filtrovanie podľa MIDI scény"
	STR_RB_LV_FILTER_SCENED		"Zobraziť iba zhody v skupine scén MIDI."
	STR_RB_LV_FILTER_TARGETL	"Účel 1"
	STR_RB_LV_FILTER_TARGETT	"Filtrovať podľa cieľa 1"
	STR_RB_LV_FILTER_TARGETD	"Zobraziť iba zápasy v cieľovej skupine 1."
	STR_RB_LV_FILTER_TARGETLONGL	"Účel 2"
	STR_RB_LV_FILTER_TARGETLONGT	"Filtrovať podľa cieľa 2"
	STR_RB_LV_FILTER_TARGETLONGD	"Zobraziť iba zápasy v cieľovej skupine 2."
	STR_RB_LV_FILTER_CLEARL		"Vymazať filtre"
	STR_RB_LV_FILTER_CLEART		"Čistenie filtrov"
	STR_RB_LV_FILTER_CLEARD		"Úplne jasné filtre, zobrazia sa všetky záznamy."
	STR_RB_LV_FILTER_SETL		"Nastavte filter"
	STR_RB_LV_FILTER_SETT		"Inštalácia filtra"
	STR_RB_LV_FILTER_SETD		"Nastavenie filtra zobrazí všetky neplatné položky."
	STR_RB_LV_FILTER_ONL		"Použiť filter"
	STR_RB_LV_FILTER_ONT		"Použitie filtra"
	STR_RB_LV_FILTER_OND		"Použitím filtra sa zobrazia vybrané položky."
	STR_RB_LV_FILTER_OFFL		"Zrušiť filter"
	STR_RB_LV_FILTER_OFFT		"Zrušiť filter"
	STR_RB_LV_FILTER_OFFD		"Zrušením filtra sa zobrazia všetky položky."
	STR_RB_LV_FILTER_MMKEYL		"Zobraziť “Multimediálne tlačidlá”"
	STR_RB_LV_FILTER_MMKEYT		"Filtrujte podľa skupiny „Multimediálne tlačidlá“."
	STR_RB_LV_FILTER_MMKEYD		"Použitím filtra sa zobrazia členovia skupiny Multimediálne tlačidlá."
	STR_RB_LV_FILTER_MIXERL		"Zobraziť „Zmiešavač zvuku“"
	STR_RB_LV_FILTER_MIXERT		"Filtrujte podľa skupiny „Zmiešavač zvuku“."
	STR_RB_LV_FILTER_MIXERD		"Použitím filtra sa zobrazia členovia skupiny Audio Mixer."
	STR_RB_LV_FILTER_MQTTL		"Zobraziť „Inteligentný dom“"
	STR_RB_LV_FILTER_MQTTT		"Filtrujte podľa skupiny „Smart Home“."
	STR_RB_LV_FILTER_MQTTD		"Použitím filtra sa zobrazia členovia skupiny Smart Home."
	STR_RB_LV_FILTER_LIGHT8L	"Zobraziť “Osvetlenie 8 bit”"
	STR_RB_LV_FILTER_LIGHT8T	"Filtrovať podľa skupiny „Osvetlenie 8 bit“"
	STR_RB_LV_FILTER_LIGHT8D	"Použitím filtra sa zobrazia členovia skupiny Lighting s 8-bitovými kanálmi."
	STR_RB_LV_FILTER_LIGHT16L	"Zobraziť “16 bitové osvetlenie”"
	STR_RB_LV_FILTER_LIGHT16T	"Filtrujte podľa skupiny „16-bitové osvetlenie“."
	STR_RB_LV_FILTER_LIGHT16D	"Použitím filtra sa zobrazia členovia skupiny Lighting so 16-bitovými kanálmi."
	STR_RB_LV_FILTER_SCRIPTL	"Zobraziť “Skripty”"
	STR_RB_LV_FILTER_SCRIPTT	"Filtrujte podľa skupiny ChaiScript „Skripty“."
	STR_RB_LV_FILTER_SCRIPTD	"Použitím filtra sa zobrazia členovia skupiny Skripty."
	STR_RB_LV_FILTER_TYPEBTNL	"Typ filtra"
	STR_RB_LV_FILTER_TYPEBTNT	"Nastavenie typu použitých filtrov"
	STR_RB_LV_FILTER_TYPEBTND	"Použité typy filtrov majú dva logické stavy: „A“, „ALEBO“."
	STR_RB_LV_FILTER_TYPEGRPL	"Výber typu filtra"
	STR_RB_LV_FILTER_TYPEORL	"Zobraziť všetky zhody"
	STR_RB_LV_FILTER_TYPEORT	"Zobraziť záznamy s ľubovoľnou zhodou"
	STR_RB_LV_FILTER_TYPEORD       	"Filter má logický stav AND a zobrazuje všetky zhody."
	STR_RB_LV_FILTER_TYPEANDL	"Zobraziť iba úplné zhody"
	STR_RB_LV_FILTER_TYPEANDT	"Zobraziť iba záznamy s presnými zhodami"
	STR_RB_LV_FILTER_TYPEANDD	"Filter má logický stav ALEBO a zobrazuje iba úplné zhody."
	STR_RB_LV_FILTER_AUTOCOMMITL	"Automatické odosielanie údajov vo filtri"
	STR_RB_LV_FILTER_AUTOCOMMITT	"Automatické odosielanie zadaných hodnôt vo filtri"
	STR_RB_LV_FILTER_AUTOCOMMITD	"Automaticky odosiela vstupné hodnoty do vstavaného filtra."
	STR_RB_LV_EXT_MODEL		"Zobraziť triedenie"
	STR_RB_LV_SORTUP_KEYL		"kľúčom"
	STR_RB_LV_SORTUP_KEYT		"Zoradiť podľa vzostupne a MIDI kľúča."
	STR_RB_LV_SORTUP_SCENEL		"okolo javiska"
	STR_RB_LV_SORTUP_SCENET		"Triedenie podľa vzostupne a MIDI scény."
	STR_RB_LV_SORTUP_TARGETL	"po dohode 1"
	STR_RB_LV_SORTUP_TARGETT	"Zoradiť podľa vzostupne a MIDI cieľa 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"po dohode 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Triedenie vzostupne a MIDI cieľ 2."
	STR_RB_LV_SORTDOWN_KEYT		"Zoradiť zostupne a MIDI kľúč."
	STR_RB_LV_SORTDOWN_SCENET	"Triedenie podľa zostupného poradia a MIDI scény."
	STR_RB_LV_SORTDOWN_TARGETT	"Triedenie podľa zostupného poradia a MIDI cieľa 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Triedenie podľa zostupného poradia a MIDI cieľa 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Exportovať do MQTT"
	STR_RB_DIALOG_EXPORTMQTTT	"Exportujte konfiguráciu MQTT"
	STR_RB_DIALOG_EXPORTMQTTD	"Exportujte konfiguráciu DMX512/ARTNET do nového súboru."
	STR_RB_PANEL_EDITUTILL		"Nástroje"
	STR_RB_LV_SET_BUTTONL		"Priradiť MIDI kľúč"
	STR_RB_LV_SET_BUTTONT		"Priraďte vybraný MIDI kľúč"
	STR_RB_LV_SET_BUTTOND		"Definujte vybraný MIDI kľúč ako člena skupiny."
	STR_RB_LV_SET_LIGHT8L		"Osvetlenie 8 bit"
	STR_RB_LV_SET_LIGHT8T		"Nastaviť skupinu ako “Osvetlenie 8 bit”"
	STR_RB_LV_SET_LIGHT8D		"Priraďte vybraný MIDI kľúč do skupiny „Lighting 8 Bit“."
	STR_RB_LV_SET_LIGHT16L		"Osvetlenie 16 bit"
	STR_RB_LV_SET_LIGHT16T		"Nastaviť skupinu ako “Osvetlenie 16 bit”"
	STR_RB_LV_SET_LIGHT16D		"Priraďte vybraný MIDI kľúč do skupiny „Lighting 16-bit“."
	STR_RB_LV_SET_SCRIPTL		"Scenáre"
	STR_RB_LV_SET_SCRIPTT		"Nastaviť skupinu ako “Skripty”"
	STR_RB_LV_SET_SCRIPTD		"Priraďte vybraný MIDI kľúč do skupiny „Scripts“."
	STR_RB_DIALOG_SHOWDUPL		"Zobraziť duplikáty"
	STR_RB_DIALOG_SHOWDUPT		"Nájdite duplicitné MIDI kľúče"
	STR_RB_DIALOG_SHOWDUPD		"Vyhľadajte duplicitné kľúče MIDI; ak sú prítomné, môže dôjsť k neočakávanému správaniu."

	STR_RB_DIALOG_DELDUPL		"Odstráňte duplikáty"
	STR_RB_DIALOG_DELDUPT		"Odstráňte možné duplicitné kľúče MIDI"
	STR_RB_DIALOG_DELDUPD		"Nájdenie a odstránenie duplicitných MIDI kľúčov, ak existujú duplikáty, sa nemusí správať podľa očakávania."
END
