﻿
#define APSTUDIO_READONLY_SYMBOLS
#ifndef APSTUDIO_INVOKED
#include <SDKDDKVer.h>
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#include "CommCtrl.h"
#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "MIDI Easy Control -> Audio Mixer -> MIDI-Mackie fordító"
    IDS_MIXER               "&Keverő"
    IDS_SETTINGS            "&Beállítások"
    IDS_START               "Rajt"
    IDS_STOP                "Állj meg"
    IDS_EXIT                "Kijárat"
    IDS_SETUP_MSG1          "A konfiguráció betöltve az illesztőprogramból"
    IDS_SETUP_MSG2          "A konfiguráció fájlból betöltve"
    IDS_SETUP_MSG3          "A konfigurációt újra létrehozták, és ki kell tölteni"
    IDS_URL_WIKI            "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    IDS_URL_GIT             "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    IDS_URL_WEB             "https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    IDS_URL_ESETUP          "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"
    IDS_START_EXT_FILTER    "MIDI-MT konfiguráció"
    IDS_CONFIG_EXE_FILTER   "Futtatható fájlok"
    IDS_MQTT_CA_FILTER      "CA tanúsítvány"
    IDS_MIDIMT              "MIDIMT"
    IDS_INFO1               "A MIDI fordító nem fut."
    IDS_INFO2               "A MIDI fordító működik:"
    IDS_INFO3               "Beviteli eszköz:"
    IDS_INFO4               "Mackie/Premier kimeneti port:"
    IDS_INFO5               "Kimeneti proxy port:"
    IDS_INFO6               "Az audiokeverő fut."
    IDS_INFO7               "A multimédiás gombvezérlés fut, ellenőrizze a beállításokat."
    IDS_INFO8               "A hangkeverő nem fut, ellenőrizze a beállításokat, az audio panel indítását engedélyezni kell."
    IDS_INFO9               "Érvénytelen eseményazonosító. Kérjük, indítsa újra ezt az alkalmazást."
    IDS_INF1O               "Nem sikerült váltani a felhasználói felületre, az audiopanel indítása megszakadt."
    IDS_INF11               "MIDIMT - Az audiokeverő nem fut:"
    IDS_INF12               "MIDIMT – A művelet nem hajtható végre:"
    IDS_INF13               "Az intelligens otthon eszközkezelése elindult."
    IDS_INF14               "Elindult a DMX512 protokollon keresztüli világításvezérlés."
    IDS_INF15               "Elindult a világításvezérlés az ArtNet protokollon keresztül."
    IDS_DLG_MSG0            "Virtuális MIDI illesztőprogram telepítése"
    IDS_DLG_MSG1            "MIDI Mackie kimenet"
    IDS_DLG_MSG2            "MIDI proxy kimenet"
    IDS_DLG_MSG3            "MIDI virtuális illesztőprogram verziója:"
    IDS_DLG_MSG4            "A telepített Virtual MIDI illesztőprogram nem található! A MIDI-MT fordító futtatásához telepítenie kell a Virtual Loop MIDI csomagot"
    IDS_DLG_MSG5            "Indításkor proxy MIDI portok jönnek létre:"
    IDS_DLG_MSG6            "A MIDI proxy portok le vannak tiltva."
    IDS_DLG_MSG7            "A kiválasztott nyelv az ablak újraindítása után lesz aktív -"
    IDS_DLG_MSG8            "MIDI bemeneti eszköz hozzárendelve"
    IDS_DLG_MSG9            "Mielőtt elkezdené, módosítsa a konfigurációt."
    IDS_DLG_MSG10           "A telepített Virtual MIDI illesztőprogram verziója:"
    IDS_DLG_MSG11           "A kiválasztott konfiguráció nem támogatja az automatikus indítást."
    IDS_DLG_MSG12           "Kérjük, mielőtt elindítaná a monitort, indítsa el a MIDI-hidat a menüből a 'Start' hívásával."
    IDS_DLG_MSG13           "Indításkor a konfigurációs fájl megadva volt: '{0}'. Beállítja konfigurációként a következő futtatásokhoz?"
    IDS_DLG_MSG14           "A szerkesztő megnyitásakor a konfigurációs fájl megadva: '{0}'. Elmenti ugyanazzal a névvel?"
    IDS_DLG_MSG15           "Az automatikus indítás az általános konfigurációban le van tiltva."
    IDS_DLG_MSG16           "DMX csatorna száma"
    IDS_DLG_MSG17           "Telepíteni kell a Virtual MIDI drivert!"
    IDS_DLG_DMX_NODEV       "Nincsenek elérhető eszközök"
    IDS_DLG_ARTNET_NOINT    "Nincs interfész"
    IDS_DLG_DMX_SELDEV      "Válassza ki a DMX eszközt"
    IDS_DLG_ARTNET_SELINT   "Válassza az ARTNET felületet"
END

STRINGTABLE
BEGIN
    IDM_COL4_MAV            "hangerő (fő)"
    IDM_COL4_MAP            "hangegyensúly (alap)"
    IDM_COL4_MAM            "némítás (fő)"
    IDM_COL4_MAS            "audio szóló (fő)"
    IDM_COL4_JOG            "JOG (videokocka visszatekerése)"
    IDM_COL4_AV1            "hangerő (1. csatorna)"
    IDM_COL4_AV2            "hangerő (2. csatorna)"
    IDM_COL4_AV3            "hangerő (3-as csatorna)"
    IDM_COL4_AV4            "hangerő (4-es csatorna)"
    IDM_COL4_AV5            "hangerő (5-ös csatorna)"
    IDM_COL4_AV6            "hangerő (6-os csatorna)"
    IDM_COL4_AV7            "hangerő (7-es csatorna)"
    IDM_COL4_AV8            "hangerő (8-as csatorna)"
    IDM_COL4_XV9            "hangerő (9-es csatorna)"
    IDM_COL4_AP1            "hangegyensúly (1. csatorna)"
    IDM_COL4_AP2            "hangegyensúly (2. csatorna)"
    IDM_COL4_AP3            "hangegyensúly (3. csatorna)"
    IDM_COL4_AP4            "hangegyensúly (4-es csatorna)"
    IDM_COL4_AP5            "hangegyensúly (5-ös csatorna)"
    IDM_COL4_AP6            "hangegyensúly (6-os csatorna)"
    IDM_COL4_AP7            "hangegyensúly (7-es csatorna)"
    IDM_COL4_AP8            "hangegyensúly (8-as csatorna)"
    IDM_COL4_XP9            "hangegyensúly (9-es csatorna)"
    IDM_COL4_B11            "audio szóló (1. csatorna)"
    IDM_COL4_B12            "audio szóló (2. csatorna)"
    IDM_COL4_B13            "audio szóló (3. csatorna)"
    IDM_COL4_B14            "audio szóló (4. csatorna)"
    IDM_COL4_B15            "audio szóló (5-ös csatorna)"
    IDM_COL4_B16            "audio szóló (6-os csatorna)"
    IDM_COL4_B17            "audio szóló (7-es csatorna)"
    IDM_COL4_B18            "audio szóló (8-as csatorna)"
    IDM_COL4_B19            "audio szóló (9-es csatorna)"
    IDM_COL4_B21            "némítás (1. csatorna)"
    IDM_COL4_B22            "némítás (2. csatorna)"
    IDM_COL4_B23            "némítás (3. csatorna)"
    IDM_COL4_B24            "némítás (4. csatorna)"
    IDM_COL4_B25            "némítás (5-ös csatorna)"
    IDM_COL4_B26            "némítás (6-os csatorna)"
    IDM_COL4_B27            "némítás (7-es csatorna)"
    IDM_COL4_B28            "némítás (8-as csatorna)"
    IDM_COL4_B29            "némítás (9-es csatorna)"
    IDM_COL4_B31            "hangválasztás (1. csatorna)"
    IDM_COL4_B32            "hangválasztás (2. csatorna)"
    IDM_COL4_B33            "hangválasztás (3. csatorna)"
    IDM_COL4_B34            "hangválasztás (4-es csatorna)"
    IDM_COL4_B35            "hangválasztás (5-ös csatorna)"
    IDM_COL4_B36            "hangválasztás (6-os csatorna)"
    IDM_COL4_B37            "hangválasztás (7-es csatorna)"
    IDM_COL4_B38            "hangválasztás (8-as csatorna)"
    IDM_COL4_B39            "hangválasztás (9-es csatorna)"
    IDM_COL4_FUN11          "F1 funkció (normál mód)"
    IDM_COL4_FUN12          "F2 funkció (normál mód)"
    IDM_COL4_FUN13          "F3 funkció (normál mód)"
    IDM_COL4_FUN14          "F4 funkció (normál mód)"
    IDM_COL4_FUN15          "F5 funkció (normál mód)"
    IDM_COL4_FUN16          "F6 funkció (normál mód)"
    IDM_COL4_FUN17          "F7 funkció (normál mód)"
    IDM_COL4_FUN18          "F8 funkció (normál mód)"
    IDM_COL4_FUN21          "F1 funkció (tartott üzemmód)"
    IDM_COL4_FUN22          "F2 funkció (tartott üzemmód)"
    IDM_COL4_FUN23          "F3 funkció (tartott üzemmód)"
    IDM_COL4_FUN24          "F4 funkció (tartott üzemmód)"
    IDM_COL4_FUN25          "F5 funkció (tartott üzemmód)"
    IDM_COL4_FUN26          "F6 funkció (tartott mód)"
    IDM_COL4_FUN27          "F7 funkció (tartott mód)"
    IDM_COL4_FUN28          "F8 funkció (tartott mód)"
    IDM_COL4_SYS_Rewind     "Visszatekerés (lejátszó)"
    IDM_COL4_SYS_Forward    "Gyors előretekerés (játékos)"
    IDM_COL4_SYS_Stop       "Stop (lejátszó)"
    IDM_COL4_SYS_Play       "Játssz (játékos)"
    IDM_COL4_SYS_Record     "Felvétel (lejátszó)"
    IDM_COL4_SYS_Up         "Fel (joystick)"
    IDM_COL4_SYS_Down       "Le (joystick)"
    IDM_COL4_SYS_Left       "Bal (joystick)"
    IDM_COL4_SYS_Right      "Jobbra (joystick)"
    IDM_COL4_SYS_Zoom       "Növekedés"
    IDM_COL4_SYS_Scrub      "Bozót"
    IDM_COL4_VOLUMEMIX      "Keverő vezérlés"
    IDM_COL4_MEDIAKEY       "Multimédiás gombok"
    IDM_COL4_MQTTKEY        "Intelligens otthonkezelés"
    IDM_COL4_LIGHTKEY8B     "Fényvezérlés (8 bites)"
    IDM_COL4_LIGHTKEY16B    "Fényvezérlés (16 bites)"
    IDM_COL4_NONE           "művelet nincs meghatározva"
    IDM_COL4_MQTT_AV1       "1. szint"
    IDM_COL4_MQTT_AV2       "2. szint"
    IDM_COL4_MQTT_AV3       "3. szint"
    IDM_COL4_MQTT_AV4       "4. szint"
    IDM_COL4_MQTT_AV5       "5. szint"
    IDM_COL4_MQTT_AV6       "6. szint"
    IDM_COL4_MQTT_AV7       "7. szint"
    IDM_COL4_MQTT_AV8       "8. szint"
    IDM_COL4_MQTT_XV9       "9. szint"
    IDM_COL4_MQTT_AP1       "10. szint"
    IDM_COL4_MQTT_AP2       "11. szint"
    IDM_COL4_MQTT_AP3       "12. szint"
    IDM_COL4_MQTT_AP4       "13. szint"
    IDM_COL4_MQTT_AP5       "14. szint"
    IDM_COL4_MQTT_AP6       "15. szint"
    IDM_COL4_MQTT_AP7       "16. szint"
    IDM_COL4_MQTT_AP8       "17. szint"
    IDM_COL4_MQTT_XP9       "18. szint"
    IDM_COL4_MQTT_B11       "be/ki 1"
    IDM_COL4_MQTT_B12       "be/ki 2"
    IDM_COL4_MQTT_B13       "be/ki 3"
    IDM_COL4_MQTT_B14       "be/ki 4"
    IDM_COL4_MQTT_B15       "be/ki 5"
    IDM_COL4_MQTT_B16       "be/ki 6"
    IDM_COL4_MQTT_B17       "be/ki 7"
    IDM_COL4_MQTT_B18       "be/ki 8"
    IDM_COL4_MQTT_B19       "be/ki 9"
    IDM_COL4_MQTT_B21       "be/ki 10"
    IDM_COL4_MQTT_B22       "be/ki 11"
    IDM_COL4_MQTT_B23       "be/ki 12"
    IDM_COL4_MQTT_B24       "be/ki 13"
    IDM_COL4_MQTT_B25       "be/ki 14"
    IDM_COL4_MQTT_B26       "be/ki 15"
    IDM_COL4_MQTT_B27       "be/ki 16"
    IDM_COL4_MQTT_B28       "be/ki 17"
    IDM_COL4_MQTT_B29       "be/ki 18"
    IDM_COL4_MQTT_B31       "be/ki 19"
    IDM_COL4_MQTT_B32       "be/ki 20"
    IDM_COL4_MQTT_B33       "be/ki 21"
    IDM_COL4_MQTT_B34       "be/ki 22"
    IDM_COL4_MQTT_B35       "be/ki 23"
    IDM_COL4_MQTT_B36       "be/ki 24"
    IDM_COL4_MQTT_B37       "be/ki 25"
    IDM_COL4_MQTT_B38       "be/ki 26"
    IDM_COL4_MQTT_B39       "be/ki 27"
    IDM_COL4_MQTT_NONE      "Nem kijelölt"
    IDM_MQTT_LOG_NONE       "naplót nem vezetnek"
    IDM_MQTT_LOG_INFO       "információ"
    IDM_MQTT_LOG_NOTICE     "értesítéseket"
    IDM_MQTT_LOG_WARNING    "figyelmeztetések"
    IDM_MQTT_LOG_ERR        "csak hibák"
    IDM_MQTT_LOG_DEBUG      "minden üzenet"
END

STRINGTABLE
BEGIN
    IDS_ERRORID_OK          "OK"
    IDS_ERRORID_EMPTY       "<тут пусто>"
    IDS_ERRORID_UNDEFINED   "Ez a hiba meghatározatlan"
    IDS_ERRORID_JSONCONF_WRITE_ACCESS
                            "A konfigurációs fájlhoz való írási hozzáférés megtagadva, „{0}”"
    IDS_ERRORID_JSONCONF_READ_ACCESS
                            "A konfigurációs fájl hiányzik, vagy a hozzáférés megtagadva, „{0}”"
    IDS_ERRORID_JSONCONF_EMPTY
                            "A konfigurációs fájl üres, „{0}”"
    IDS_ERRORID_JSONCONF_NO_DEVICE
                            "A MIDI-eszköz neve nincs konfigurálva."
    IDS_ERRORID_JSONCONF_EMPTY_KEYS
                            "Ebben a konfigurációban nincsenek MIDI-kulcsok konfigurálva."
    IDS_ERRORID_JSONCONF_WRITE_EMPTY
                            "Figyelem, ehhez a konfigurációhoz nincsenek MIDI-kulcsok konfigurálva! a rögzített konfiguráció nem fog működni."
    IDS_ERRORID_INIT_COINITIALIZE
                            "A Co*inicializálás inicializálása nem sikerült."
    IDS_ERRORID_INIT_COCREATE
                            "Co*Create – nem sikerült példányt létrehozni."
    IDS_ERRORID_INIT_DEFAULT_AE
                            "Nem sikerült lekérni az alapértelmezett audioeszközt."
    IDS_ERRORID_INIT_AS_MANAGER2
                            "Az Audio Session Manager összeomlott."
    IDS_ERRORID_INIT_AS_AUDIOMETER
                            "Hangcsúcs-mérő nem érhető el."
    IDS_ERRORID_MIXER_STARTOK
                            "Az audio session mixer fut, az indítás időpontjában {0} futó program áll rendelkezésre a szabályozáshoz."
    IDS_ERRORID_MIXER_STARTERROR
                            "Az audio munkamenet keverőt nem lehetett elindítani, a hiba részleteinek a naplófájlban kell szerepelniük."
    IDS_ERRORID_MIXER_STOPOK
                            "Az audio munkamenet-keverő leállt."
    IDS_ERRORID_MIXER_STOPERROR
                            "Az audio munkamenet-keverőt nem állította le megfelelően, a hiba részleteinek a naplófájlban kell szerepelniük."
    IDS_ERRORID_NO_INIT     "Inicializálja, mielőtt felhívná."
    IDS_ERRORID_SESSION_LIST
                            "Nem sikerült lekérni az audiomunkamenetek listáját."
    IDS_ERRORID_LISTISNULL  "Az audio munkamenetek listája üres!"
    IDS_ERRORID_SESSIONDISCONNECTED
                            "Audiomunkamenet letiltása, oka='{0}'"
    IDS_ERRORID_SESSIONCREATED
                            "Audiomunkamenet létrehozva, name='{0}'"
    IDS_ERRORID_ITEM_SC_AE  "Audió munkamenet „{0}” – Érvénytelen regisztrációs állapot „{1}”: {2}/{3}"
    IDS_ERRORID_CBVALUE_BAD_SELECT
                            "A visszahívásból beállított érték érvénytelen választó."
    IDS_ERRORID_SET_CB_WARNING
                            "A visszahívás beállítása csak a MIDI-híd sikeres elindítása után lehetséges."
    IDS_ERRORID_CONFIG_FAIL "A konfiguráció betöltése nem sikerült, a fájl nem található, az indítás lehetetlen."
    IDS_ERRORID_CONFIG_LOAD "Konfiguráció betöltve.."
    IDS_ERRORID_CONFIG_LOADA
                            "A konfiguráció már be lett töltve.."
    IDS_ERRORID_CONFIG_EMPTY
                            "A konfiguráció üres.."
    IDS_ERRORID_CONFIG_NEW  "Új konfigurációs verzió észlelve..."
    IDS_ERRORID_NOT_IMPLEMENTED
                            "Nem támogatott implementáció a kódban, a metódus nincs felülírva: {0}"
    IDS_ERRORID_NOT_CONFIG  "A konfiguráció neve nincs megadva, és nem folytatható."
    IDS_ERRORID_NOT_DEVICES "Az eszközök nincsenek csatlakoztatva, és nem tudnak folytatni."
    IDS_ERRORID_COUNT_DEVICES
                            "Figyelem, nem egyezik az eszközök száma a végső listában, rendszer/lista = {0}/{1}"
    IDS_ERRORID_OPEN_MIDI_DEVICE
                            "A MIDI-eszközt nem lehet megnyitni, nem lehet folytatni, id = {0}/{1}"
    IDS_ERRORID_START_MIDI_DEVICE
                            "A MIDI-eszközt nem lehet elindítani, nem lehet folytatni, id = {0}/{1}"
    IDS_ERRORID_DEVICE_NOT_CONNECT
                            "Az eszköz nincs csatlakoztatva, megszakítás, azonosító = {0}/{1}"
    IDS_ERRORID_DEVICE_FOUND
                            "A(z) {0} eszköz megtalálható, {1}"
    IDS_ERRORID_DEVICE_OPEN "Az eszköz {0} nyitva, {1}"
    IDS_ERRORID_DEVICE_CLOSE
                            "A(z) {0} eszköz zárva (rendszer)"
    IDS_ERRORID_DEVICE_DONE "A(z) {0} eszköz készen áll (rendszer)"
    IDS_ERRORID_NOT_DEVICE_NAME
                            "Az aktív eszköz neve nincs megadva, a folytatás nem lehetséges, id = {0}/{1}"
    IDS_ERRORID_NOT_CONFIG_PROXY
                            "A proxy portok nincsenek megadva a konfigurációban, a MIDI proxy le van tiltva."
    IDS_ERRORID_DRIVER_VER_OK
                            "Illesztőprogram verziója [{0}]"
    IDS_ERRORID_DRIVER_VER_ERROR
                            "Probléma az illesztőprogram-verzióval [{0}]"
    IDS_ERRORID_SEND_BAD_VALUES
                            "A(z) {0} eszköz érvénytelen értéket küldött = {1}"
    IDS_ERRORID_NOT_DRIVER  "A virtuális MIDI illesztőprogram nincs telepítve. Telepítse a loopMidi csomagot, vagy töltse le a teljes telepítőt, és telepítse újra a MIDI-MT-t. További részletek: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
    IDS_ERRORID_MMKEY_START "A Media Key Management szolgáltatás fut."
    IDS_ERRORID_MMKEY_STOP  "A Media Key Management szolgáltatás leállt."
    IDS_ERRORID_MQTT_EMPTY_CONFIG
                            "Az MQTT konfiguráció üres, és nem folytatható."
    IDS_ERRORID_MQTT_CLIENT_ERROR
                            "Hiba az MQTT kliens létrehozásakor, megszakítás."
    IDS_ERRORID_MQTT_CLIENT_OK
                            "Az MMQTT kliens sikeresen létrejött, folytassa..."
    IDS_ERRORID_MQTT_CONNECTED
                            "Csatlakozva az MQTT szerverhez:"
    IDS_ERRORID_MQTT_NOT_CONNECTED
                            "Nem sikerült csatlakozni az MQTT szerverhez:"
    IDS_ERRORID_MQTT_DISCONNECTED
                            "Leválasztva az MQTT szerverről:"
    IDS_ERRORID_MQTT_NOT_CA_CERT
                            "CA tanúsítványfájl nem létezik, elérési út = '{0}'"
    IDS_ERRORID_MQTT_START  "Elindult a Smart Home vezérlő szolgáltatás."
    IDS_ERRORID_MQTT_STOP   "Az okosotthon vezérlési szolgáltatás leállt."
    IDS_ERRORID_PANEL_INDEX "Hangkeverő panel – Nem lehet folytatni, az indexelemek helytelenek."
    IDS_ERRORID_PANEL_INIT  "Hangkeverő panel - nem lehet folytatni, inicializálási hiba."
    IDS_ERRORID_PANEL_ENABLE
                            "Az audiokeverő panel ablakának állapota nem megfelelő, és a következő művelet nem folytatható."
    IDS_ERRORID_PANEL_NOT_UI_THREAD
                            "A hangkeverő panelt nem hívják meg UI-szálon, és nem hajthatók végre módosítások."
    IDS_ERRORID_PANEL_NOT_ITEM_VALID
                            "A hangkeverő panel érvénytelen elemet észlelt, és a panelablak létrehozása megszakadt."
    IDS_ERRORID_LIGHT_DMX_START
                            "A DMX világításvezérlő szolgáltatás a COM{0} - {1} használatával indul."
    IDS_ERRORID_LIGHT_DMX_NOT_COM
                            "A DMX világításvezérlő szolgáltatás nem fut, a COM{0} eszköz nincs csatlakoztatva."
    IDS_ERRORID_LIGHT_DMX_NOT_CONFIG
                            "A DMX világításvezérlő szolgáltatás nem fut, és a szolgáltatás konfigurációja nincs kitöltve."
    IDS_ERRORID_LIGHT_DMX_STOP
                            "A DMX világításvezérlő szolgáltatás leállt."
    IDS_ERRORID_LIGHT_ARTNET_START
                            "Az ArtNet Lighting Control Service a(z) {0}:{1} sugárzási cím használatával fut a(z) {2} hálózaton."
    IDS_ERRORID_LIGHT_ARTNET_NOT_COM
                            "Az ArtNet világításvezérlő szolgáltatás nem fut, a(z) {0} hálózat nem található."
    IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG
                            "Az ArtNet világításvezérlő szolgáltatás nem fut, a szolgáltatás konfigurációja nincs kitöltve."
    IDS_ERRORID_LIGHT_ARTNET_STOP
                            "Az ArtNet világításvezérlő szolgáltatás leállt."
    IDS_ERRORID_NONE        "-"
END
