#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT fordító"
    STRING_MIXER	"&Keverő"
    STRING_SETTINGS	"&Beállítások"
    STRING_START	"Rajt"
    STRING_STOP		"Állj meg"
    STRING_EXIT		"Kijárat"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"A konfiguráció betöltve az illesztőprogramból"
    STRING_EDIT_MSG2	"A konfiguráció fájlból betöltve"
    STRING_EDIT_MSG3	"A konfigurációt újra létrehozták, és ki kell tölteni"
    STRING_EDIT_MSG4	"A szerkesztő megnyitásakor a konfigurációs fájl megadva: '{0}'. Elmenti ugyanazzal a névvel?"
    STRING_EDIT_MSG5	"DMX csatorna száma"
    STRING_EDIT_MSG6	"Az MQTT konfiguráció sikeresen exportálva"
    STRING_EDIT_MSG7	"Hiba az MQTT konfiguráció exportálása során"
    STRING_EDIT_MSG8	"Nem található duplikált MIDI-kulcs"
    STRING_EDIT_MSG9	"{0} ismétlődő MIDI-kulcs található"

    STRING_NOTIFY_MSG1	"a fordító leáll:"
    STRING_NOTIFY_MSG2	"a fordító dolgozik:"

    STRING_AMIX_MSG1	"A hangkeverő nem fut, ellenőrizze a beállításokat, az audio panel indítását engedélyezni kell."
    STRING_AMIX_MSG2	"MIDIMT - Az audiokeverő nem fut:"
    STRING_AMIX_MSG3	"Érvénytelen eseményazonosító. Kérjük, indítsa újra ezt az alkalmazást."
    STRING_AMIX_MSG4	"MIDIMT – A művelet nem hajtható végre:"
    STRING_AMIX_MSG5	"Nem sikerült váltani a felhasználói felületre, az audiopanel indítása megszakadt."

    STRING_MAIN_MSG1	"Alkalmazás inicializálási hiba, a folytatás nem lehetséges."
    STRING_MAIN_MSG2	"Ellenőrizze a felhasználó engedélyeit, hogy fájlokat írhasson az alkalmazáskönyvtárba. Ha a hiba továbbra is fennáll, próbálja meg letiltani a naplózást."
    STRING_MAIN_MSG3	"Az automatikus indítás az általános konfigurációban le van tiltva."
    STRING_MAIN_MSG4	"A kiválasztott konfiguráció nem támogatja az automatikus indítást."

    STRING_LOGV_MSG1	"Kérjük, a monitor elindítása előtt indítsa el a fordítót a menüből a 'Start' kiválasztásával."
    STRING_LOGV_MSG2	"Minden beállítás „{0}”, konfigurációs fájl verziója: {1}"
    STRING_LOGV_MSG3	"MIDI beállítások"
    STRING_LOGV_MSG4	"Intelligens otthon beállításai (MQTT)"
    STRING_LOGV_MSG5	"Multimédiás billentyűzet beállításai (MMKEYS)"
    STRING_LOGV_MSG6	"Fényvezérlési beállítások ({0})"
    STRING_LOGV_MSG7	"Távvezérlő panel beállításai (REMOTE)"
    STRING_LOGV_MSG8	"Gamepad/Joystick vezérlési beállításai (GAMEPAD)"
    STRING_LOGV_MSG9	"MIDI gomb lenyomva:"
    STRING_LOGV_MSG10	"Cédula sorszám:"

    STRING_CHKR_MSG1	"Indításkor a konfigurációs fájl megadva volt: '{0}'. Beállítja konfigurációként a következő futtatásokhoz?"
    STRING_CHKR_MSG2	"MIDI-MT konfiguráció"

    STRING_TMENU_MSG1	"Telepíteni kell a Virtual MIDI drivert!"

    STRING_LANG_STATUS	"állapot:"
    STRING_LANG_YES	"Igen"
    STRING_LANG_NO	"Nem"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "hangerő (fő)"
	IDM_COL4_MAP  "hangegyensúly (alap)"
	IDM_COL4_MAM  "némítás (fő)"
	IDM_COL4_MAS  "audio szóló (fő)"
	IDM_COL4_JOG  "JOG (videokocka visszatekerése)"
	IDM_COL4_AV1  "hangerő (1. csatorna)"
	IDM_COL4_AV2  "hangerő (2. csatorna)"
	IDM_COL4_AV3  "hangerő (3-as csatorna)"
	IDM_COL4_AV4  "hangerő (4-es csatorna)"
	IDM_COL4_AV5  "hangerő (5-ös csatorna)"
	IDM_COL4_AV6  "hangerő (6-os csatorna)"
	IDM_COL4_AV7  "hangerő (7-es csatorna)"
	IDM_COL4_AV8  "hangerő (8-as csatorna)"
	IDM_COL4_XV9  "hangerő (9-es csatorna)"
	IDM_COL4_AP1  "hangegyensúly (1. csatorna)"
	IDM_COL4_AP2  "hangegyensúly (2. csatorna)"
	IDM_COL4_AP3  "hangegyensúly (3. csatorna)"
	IDM_COL4_AP4  "hangegyensúly (4-es csatorna)"
	IDM_COL4_AP5  "hangegyensúly (5-ös csatorna)"
	IDM_COL4_AP6  "hangegyensúly (6-os csatorna)"
	IDM_COL4_AP7  "hangegyensúly (7-es csatorna)"
	IDM_COL4_AP8  "hangegyensúly (8-as csatorna)"
	IDM_COL4_XP9  "hangegyensúly (9-es csatorna)"
	IDM_COL4_B11  "audio szóló (1. csatorna)"
	IDM_COL4_B12  "audio szóló (2. csatorna)"
	IDM_COL4_B13  "audio szóló (3. csatorna)"
	IDM_COL4_B14  "audio szóló (4. csatorna)"
	IDM_COL4_B15  "audio szóló (5-ös csatorna)"
	IDM_COL4_B16  "audio szóló (6-os csatorna)"
	IDM_COL4_B17  "audio szóló (7-es csatorna)"
	IDM_COL4_B18  "audio szóló (8-as csatorna)"
	IDM_COL4_B19  "audio szóló (9-es csatorna)"
	IDM_COL4_B21  "némítás (1. csatorna)"
	IDM_COL4_B22  "némítás (2. csatorna)"
	IDM_COL4_B23  "némítás (3. csatorna)"
	IDM_COL4_B24  "némítás (4. csatorna)"
	IDM_COL4_B25  "némítás (5-ös csatorna)"
	IDM_COL4_B26  "némítás (6-os csatorna)"
	IDM_COL4_B27  "némítás (7-es csatorna)"
	IDM_COL4_B28  "némítás (8-as csatorna)"
	IDM_COL4_B29  "némítás (9-es csatorna)"
	IDM_COL4_B31  "hangválasztás (1. csatorna)"
	IDM_COL4_B32  "hangválasztás (2. csatorna)"
	IDM_COL4_B33  "hangválasztás (3. csatorna)"
	IDM_COL4_B34  "hangválasztás (4-es csatorna)"
	IDM_COL4_B35  "hangválasztás (5-ös csatorna)"
	IDM_COL4_B36  "hangválasztás (6-os csatorna)"
	IDM_COL4_B37  "hangválasztás (7-es csatorna)"
	IDM_COL4_B38  "hangválasztás (8-as csatorna)"
	IDM_COL4_B39  "hangválasztás (9-es csatorna)"
	IDM_COL4_FUN11  "F1 funkció (normál mód)"
	IDM_COL4_FUN12  "F2 funkció (normál mód)"
	IDM_COL4_FUN13  "F3 funkció (normál mód)"
	IDM_COL4_FUN14  "F4 funkció (normál mód)"
	IDM_COL4_FUN15  "F5 funkció (normál mód)"
	IDM_COL4_FUN16  "F6 funkció (normál mód)"
	IDM_COL4_FUN17  "F7 funkció (normál mód)"
	IDM_COL4_FUN18  "F8 funkció (normál mód)"
	IDM_COL4_FUN21  "F1 funkció (tartott üzemmód)"
	IDM_COL4_FUN22  "F2 funkció (tartott üzemmód)"
	IDM_COL4_FUN23  "F3 funkció (tartott üzemmód)"
	IDM_COL4_FUN24  "F4 funkció (tartott üzemmód)"
	IDM_COL4_FUN25  "F5 funkció (tartott üzemmód)"
	IDM_COL4_FUN26  "F6 funkció (tartott mód)"
	IDM_COL4_FUN27  "F7 funkció (tartott mód)"
	IDM_COL4_FUN28  "F8 funkció (tartott mód)"
	IDM_COL4_SYS_Rewind  "Visszatekerés (lejátszó)"
	IDM_COL4_SYS_Forward  "Gyors előretekerés (játékos)"
	IDM_COL4_SYS_Stop  "Stop (lejátszó)"
	IDM_COL4_SYS_Play  "Játssz (játékos)"
	IDM_COL4_SYS_Record  "Felvétel (lejátszó)"
	IDM_COL4_SYS_Up    "Fel (joystick)"
	IDM_COL4_SYS_Down  "Le (joystick)"
	IDM_COL4_SYS_Left  "Bal (joystick)"
	IDM_COL4_SYS_Right  "Jobbra (joystick)"
	IDM_COL4_SYS_Zoom  "Növekedés"
	IDM_COL4_SYS_Scrub  "Bozót"
	IDM_COL4_VOLUMEMIX "Keverő vezérlés"
	IDM_COL4_MEDIAKEY "Multimédiás gombok"
        IDM_COL4_MQTTKEY  "Intelligens otthonkezelés"
        IDM_COL4_LIGHTKEY8B "Fényvezérlés (8 bites)"
        IDM_COL4_LIGHTKEY16B "Fényvezérlés (16 bites)"
	IDM_COL4_VMSCRIPT "Szkriptkezelés"
	IDM_COL4_NONE  "művelet nincs meghatározva"
	IDM_COL5_MQTT_AV1		"1. szint"
	IDM_COL5_MQTT_AV2		"2. szint"
	IDM_COL5_MQTT_AV3		"3. szint"
	IDM_COL5_MQTT_AV4		"4. szint"
	IDM_COL5_MQTT_AV5		"5. szint"
	IDM_COL5_MQTT_AV6		"6. szint"
	IDM_COL5_MQTT_AV7		"7. szint"
	IDM_COL5_MQTT_AV8		"8. szint"
	IDM_COL5_MQTT_XV9		"9. szint"
	IDM_COL5_MQTT_AP1		"10. szint"
	IDM_COL5_MQTT_AP2		"11. szint"
	IDM_COL5_MQTT_AP3		"12. szint"
	IDM_COL5_MQTT_AP4		"13. szint"
	IDM_COL5_MQTT_AP5		"14. szint"
	IDM_COL5_MQTT_AP6		"15. szint"
	IDM_COL5_MQTT_AP7		"16. szint"
	IDM_COL5_MQTT_AP8		"17. szint"
	IDM_COL5_MQTT_XP9		"szint 18"
	IDM_COL5_MQTT_B11		"be/ki 1"
	IDM_COL5_MQTT_B12		"be/ki 2"
	IDM_COL5_MQTT_B13		"be/ki 3"
	IDM_COL5_MQTT_B14		"be/ki 4"
	IDM_COL5_MQTT_B15		"be/ki 5"
	IDM_COL5_MQTT_B16		"be/ki 6"
	IDM_COL5_MQTT_B17		"be/ki 7"
	IDM_COL5_MQTT_B18		"be/ki 8"
	IDM_COL5_MQTT_B19		"be/ki 9"
	IDM_COL5_MQTT_B21		"be/ki 10"
	IDM_COL5_MQTT_B22		"be/ki 11"
	IDM_COL5_MQTT_B23		"be/ki 12"
	IDM_COL5_MQTT_B24		"be/ki 13"
	IDM_COL5_MQTT_B25		"be/ki 14"
	IDM_COL5_MQTT_B26		"be/ki 15"
	IDM_COL5_MQTT_B27		"be/ki 16"
	IDM_COL5_MQTT_B28		"be/ki 17"
	IDM_COL5_MQTT_B29		"be/ki 18"
	IDM_COL5_MQTT_B31		"be/ki 19"
	IDM_COL5_MQTT_B32		"be/ki 20"
	IDM_COL5_MQTT_B33		"be/ki 21"
	IDM_COL5_MQTT_B34		"be/ki 22"
	IDM_COL5_MQTT_B35		"be/ki 23"
	IDM_COL5_MQTT_B36		"be/ki 24"
	IDM_COL5_MQTT_B37		"be/ki 25"
	IDM_COL5_MQTT_B38		"be/ki 26"
	IDM_COL5_MQTT_B39		"be/ki 27"
	IDM_COL5_MQTT_EMPTY		"Nem kijelölt"
	IDM_COL5_SCRIPT_B11		"forgatókönyv 1"
	IDM_COL5_SCRIPT_B12		"forgatókönyv 2"
	IDM_COL5_SCRIPT_B13		"forgatókönyv 3"
	IDM_COL5_SCRIPT_B14		"forgatókönyv 4"
	IDM_COL5_SCRIPT_B15		"forgatókönyv 5"
	IDM_COL5_SCRIPT_B16		"forgatókönyv 6"
	IDM_COL5_SCRIPT_B17		"forgatókönyv 7"
	IDM_COL5_SCRIPT_B18		"forgatókönyv 8"
	IDM_COL5_SCRIPT_B19		"forgatókönyv 9"
	IDM_COL5_SCRIPT_B21		"forgatókönyv 10"
	IDM_COL5_SCRIPT_B22		"forgatókönyv 11"
	IDM_COL5_SCRIPT_B23		"forgatókönyv 12"
	IDM_COL5_SCRIPT_B24		"forgatókönyv 13"
	IDM_COL5_SCRIPT_B25		"forgatókönyv 14"
	IDM_COL5_SCRIPT_B26		"forgatókönyv 15"
	IDM_COL5_SCRIPT_B27		"forgatókönyv 16"
	IDM_COL5_SCRIPT_B28		"forgatókönyv 17"
	IDM_COL5_SCRIPT_B29		"forgatókönyv 18"
	IDM_COL5_SCRIPT_B31		"forgatókönyv 19"
	IDM_COL5_SCRIPT_B32		"forgatókönyv 20"
	IDM_COL5_SCRIPT_B33		"forgatókönyv 21"
	IDM_COL5_SCRIPT_B34		"forgatókönyv 22"
	IDM_COL5_SCRIPT_B35		"forgatókönyv 23"
	IDM_COL5_SCRIPT_B36		"forgatókönyv 24"
	IDM_COL5_SCRIPT_B37		"forgatókönyv 25"
	IDM_COL5_SCRIPT_B38		"forgatókönyv 26"
	IDM_COL5_SCRIPT_B39		"forgatókönyv 27"
	IDM_COL5_SCRIPT_STOP		"Állítsa le az összes szkriptet"
	IDM_COL5_SCRIPT_RELOAD		"Olvassa el újra a script könyvtárat"
	IDM_COL5_SCRIPT_EMPTY		"Nem kijelölt"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"rendben"
	IDS_ERRORID_EMPTY			"[A konfiguráció üres..]"
	IDS_ERRORID_UNDEFINED			"Ez a hiba meghatározatlan"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"A konfigurációs fájlhoz való írási hozzáférés megtagadva, „{0}”"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"A konfigurációs fájl hiányzik vagy a hozzáférés megtagadva, „{0}”"
	IDS_ERRORID_JSONCONF_EMPTY		"A konfigurációs fájl üres, „{0}”"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"A MIDI-eszköz neve nincs konfigurálva."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"Ebben a konfigurációban nincsenek MIDI-kulcsok konfigurálva."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Figyelem, ehhez a konfigurációhoz nincsenek MIDI-kulcsok konfigurálva! a rögzített konfiguráció nem fog működni."
	IDS_ERRORID_INIT_COINITIALIZE		"A Co*inicializálás inicializálása nem sikerült."
	IDS_ERRORID_INIT_COCREATE		"Co*Create – nem sikerült példányt létrehozni."
	IDS_ERRORID_INIT_DEFAULT_AE		"Nem sikerült lekérni az alapértelmezett audioeszközt."
	IDS_ERRORID_INIT_AS_MANAGER2		"Az Audio Session Manager összeomlott."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Hangcsúcs-mérő nem érhető el."
	IDS_ERRORID_MIXER_STARTOK		"Az audio session mixer fut, az indítás időpontjában {0} futó program áll rendelkezésre a szabályozáshoz."
	IDS_ERRORID_MIXER_STARTERROR		"Az audio session keverőt nem lehetett elindítani, a hiba részleteinek a naplófájlban kell szerepelniük."
	IDS_ERRORID_MIXER_STOPOK		"Az audio munkamenet-keverő leállt."
	IDS_ERRORID_MIXER_STOPERROR		"Az audio session keverőt nem állította le megfelelően, a hiba részleteinek a naplófájlban kell szerepelniük."
	IDS_ERRORID_NO_INIT			"Inicializálja, mielőtt felhívná."
	IDS_ERRORID_SESSION_LIST		"Nem sikerült lekérni az audiomunkamenetek listáját."
	IDS_ERRORID_LISTISNULL			"Az audio munkamenetek listája üres!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Audiomunkamenet letiltása, oka='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Audiomunkamenet létrehozva, name='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Hangmunkamenet „{0}” – rossz regisztrációs állapot „{1}”: {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"A visszahívásból beállított érték érvénytelen választó."
	IDS_ERRORID_SET_CB_WARNING		"A visszahívás beállítása csak a MIDI-híd sikeres elindítása után lehetséges."
	IDS_ERRORID_CONFIG_FAIL			"A konfiguráció betöltése nem sikerült, a fájl nem található, az indítás lehetetlen."
	IDS_ERRORID_CONFIG_LOAD			"Konfiguráció betöltve.."
	IDS_ERRORID_CONFIG_LOADA		"A konfiguráció már be lett töltve.."
	IDS_ERRORID_CONFIG_EMPTY		"A konfiguráció üres.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"A(z) {0} modul konfigurációja üres."
	IDS_ERRORID_CONFIG_NEW			"Új konfigurációs verzió észlelve..."
	IDS_ERRORID_NOT_IMPLEMENTED		"Nem támogatott implementáció a kódban, a metódus nincs felülírva: {0}"
	IDS_ERRORID_NOT_CONFIG			"A konfiguráció neve nincs megadva, és nem folytatható."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Az eszközök nincsenek csatlakoztatva, és nem tudnak folytatni."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Figyelem, nem egyezik az eszközök száma a végső listában, rendszer/lista = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"A MIDI-eszközt nem lehet megnyitni, nem lehet folytatni, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"A MIDI-eszközt nem lehet elindítani, nem lehet folytatni, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Az eszköz nincs csatlakoztatva, megszakítás, azonosító = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"A(z) {0} eszköz megtalálható, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Az eszköz {0} nyitva, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"A(z) {0} eszköz zárva (rendszer)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"A(z) {0} eszköz készen áll (rendszer)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Az aktív eszköz neve nincs megadva, a folytatás nem lehetséges, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"A proxy portok nincsenek megadva a konfigurációban, a MIDI proxy le van tiltva."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Illesztőprogram verziója [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Probléma az illesztőprogram-verzióval [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"A(z) {0} eszköz érvénytelen értéket küldött = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"A virtuális MIDI illesztőprogram nincs telepítve. Telepítse a loopMidi csomagot, vagy töltse le a teljes telepítőt, és telepítse újra a MIDI-MT-t. További részletek: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"A telepített Virtual MIDI illesztőprogram nem található! A MIDI-MT fordító futtatásához telepítenie kell a Virtual Loop MIDI csomagot."
	IDS_ERRORID_MIDI_PROXY_PORTS		"Indításkor {0} proxy MIDI port jön létre."
	IDS_ERRORID_MIDI_PROXY_OFF		"A proxy MIDI portjai le vannak tiltva."
	IDS_ERRORID_MIDI_OUT_PORTS		"Indításkor {0} MIDI kimeneti port jön létre."
	IDS_ERRORID_MIDI_OUT_OFF		"A MIDI kimeneti portok le vannak tiltva."
	IDS_ERRORID_MMKEY_START			"A Media Key Management szolgáltatás fut."
	IDS_ERRORID_MMKEY_STOP			"A Media Key Management szolgáltatás leállt."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"Az MQTT konfiguráció üres, és nem folytatható."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Hiba az MQTT kliens létrehozásakor, megszakítás."
	IDS_ERRORID_MQTT_CLIENT_OK		"Az MMQTT kliens sikeresen létrejött, folytassa..."
	IDS_ERRORID_MQTT_CONNECTED		"Csatlakozva az MQTT szerverhez:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Nem sikerült csatlakozni az MQTT szerverhez:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Leválasztva az MQTT szerverről:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"CA tanúsítványfájl nem létezik, elérési út = '{0}'"
	IDS_ERRORID_MQTT_START			"Elindult a Smart Home vezérlő szolgáltatás."
	IDS_ERRORID_MQTT_STOP			"Az okosotthon vezérlési szolgáltatás leállt."
	IDS_ERRORID_MQTT_CA_FILTER		"CA tanúsítvány"
	IDS_ERRORID_LOG_LEVEL_NONE		"nem vezetnek naplót"
	IDS_ERRORID_LOG_LEVEL_INFO		"információ"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"értesítéseket"
	IDS_ERRORID_LOG_LEVEL_WARNING		"figyelmeztetések"
	IDS_ERRORID_LOG_LEVEL_ERR		"csak hibák"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"minden üzenet"
	IDS_ERRORID_PANEL_INDEX			"Hangkeverő panel – Nem lehet folytatni, az indexelemek helytelenek."
	IDS_ERRORID_PANEL_INIT			"Hangkeverő panel - nem folytatható, inicializálási hiba."
	IDS_ERRORID_PANEL_ENABLE		"Az audiokeverő panel ablakának állapota nem megfelelő, és a következő művelet nem folytatható."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"A hangkeverő panelt nem hívják meg UI-szálon, és nem hajthatók végre módosítások."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"A hangkeverő panel érvénytelen elemet észlelt, és a panelablak létrehozása megszakadt."
	IDS_ERRORID_LIGHT_DMX_START		"A DMX világításvezérlő szolgáltatás a COM{0} - {1} használatával indul."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"A DMX világításvezérlő szolgáltatás nem fut, a COM{0} eszköz nincs csatlakoztatva."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"A DMX világításvezérlő szolgáltatás nem fut, és a szolgáltatás konfigurációja nincs kitöltve."
	IDS_ERRORID_LIGHT_DMX_STOP		"A DMX világításvezérlő szolgáltatás leállt."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Nem állnak rendelkezésre megfelelő eszközök"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Válassza ki a DMX eszközt"
	IDS_ERRORID_LIGHT_ARTNET_START		"Az ArtNet Lighting Control Service a(z) {0}:{1} sugárzási cím használatával fut a(z) {2} hálózaton."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"Az ArtNet világításvezérlő szolgáltatás nem fut, a(z) {0} hálózat nem található."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"Az ArtNet világításvezérlő szolgáltatás nem fut, a szolgáltatás konfigurációja nincs kitöltve."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"Az ArtNet világításvezérlő szolgáltatás leállt."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Nem állnak rendelkezésre megfelelő interfészek"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Válassza az ARTNET felületet"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Beépülő modul inicializálási hiba, nem lehet konvertálni a CLSID/GUID azonosítót a megadott karakterláncból."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Nem sikerült inicializálni a bővítményeket, nem található kompatibilis beépülő modul."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Nem sikerült betölteni a beépülő modulokat, előzetesen inicializált {0}, 0 bővítmény betöltve."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"A beépülő modulok inicializálása sikeres volt, előzetes inicializálás: {0}, {1} bővítmény betöltve."
	IDS_ERRORID_BRIDGE_OK_START		"A Bridge sikeresen elindult, {0} inicializálva, {1} betöltve, {2} beépülő modul fut."
	IDS_ERRORID_BRIDGE_NOT_START		"Nem sikerült elindítani a hidat, hiba a bővítmények indításakor, {0} inicializálva, {1} bővítmény betöltve."
	IDS_ERRORID_BRIDGE_OK_STOP		"A híd sikeresen leállt, {0} inicializálva, {1} betöltve, {2} elindítva, {3} bővítmény leállt."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Nem sikerült leállítani a hidat, hiba leállítja a beépülő modulokat, {0} inicializálva, {1} betöltve, {2} beépülő modul fut."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"A beépülő modulok már be vannak töltve, kérjük, állítsa vissza az újraindítás előtt."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"A hidat már elindították."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"A híd már megállt."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Nem sikerült megnyitni a beépülő modult. A modul hiányzik vagy sérült, a DLL nem lett betöltve, és nullát adott vissza."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"A modul nem MIDI-MT plugin és hiányoznak a szükséges belépési pontok."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Enabled={0}, settings={1}, running={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Konfiguráció frissítve: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Nem található modul, az indítás lehetetlen."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Mielőtt elkezdené, módosítsa a konfigurációt."
	IDS_ERRORID_MIDIMT_CONFFILTER		"A konfigurációs fájl"
	IDS_ERRORID_MIDIMT_EXEFILTER		"Futtatható fájlok"
	IDS_ERRORID_MIDIMT_JSONFILTER		"MQTT konfigurációs fájlok"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"A konfiguráció betöltve a következő fájlból: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"A konfiguráció betöltve az illesztőprogramból"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"A kiválasztott {0} nyelv az ablak újraindítása után lesz aktív."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Telepített virtuális MIDI illesztőprogram verziója: {0}"
	IDS_ERRORID_REMOTE_START		"A távirányító szolgáltatás elindult."
	IDS_ERRORID_REMOTE_STOP			"A távirányító szolgáltatás leállt."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Új ügyfél ({0}/{1}) csatlakozik."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Ügyfélhiba: {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"A(z) {0}/{1} ügyfél leválasztva, állapota: {2} - {3}."

	IDS_ERRORID_JOY_NODRIVER		"Nincs joystick vagy gamepad illesztőprogram."
	IDS_ERRORID_JOY_INVALIDPARAM		"A megadott joystick azonosító érvénytelen."
	IDS_ERRORID_JOY_NOCANDO			"A joystick bemenet nem írható, és a szükséges szolgáltatás nem érhető el."
	IDS_ERRORID_JOY_UNPLUGGED		"A megadott joystick nincs csatlakoztatva a rendszerhez."
	IDS_ERRORID_JOY_START			"A Gamepad/Joystick vezérlőszolgáltatás fut, aktív eszközök: {0}, online: {1}."
	IDS_ERRORID_JOY_STOP			"A Gamepad/Joystick vezérlőszolgáltatás leállt."
	IDS_ERRORID_JOY_CHANGE_SCENE		"A vezérlőjelenetet a játékvezérlő vagy a joystick a következőre módosította: {0}."
	IDS_ERRORID_JOY_CHANGE_CTRL		"A {0}/{1} vezérlőt a játékvezérlővel vagy a joystickkal lehet kiválasztani."

	IDS_ERRORID_COPY_LINK			"Link a vágólapra másolva."
	IDS_ERRORID_NET_IFACE_NONE		"Nincs hálózati interfész"
	IDS_ERRORID_NET_IFACE_SELECT		"Válassza ki a hálózati interfészt"
	IDS_ERRORID_TIMEOUT_EXPIRED		"A várakozási idő lejárt, a várakozás megszakadt."

	IDS_ERRORID_SCRIPT_ERROR		"Parancsfájl-végrehajtási hiba: {0}"
	IDS_ERRORID_SCRIPT_EMPTY		"A forgatókönyv üres!"
	IDS_ERRORID_SCRIPT_MODIFY		"A szkript megváltozott: {0}"
	IDS_ERRORID_SCRIPT_LOADED		"Betöltött szkriptek: {0}"
	IDS_ERRORID_SCRIPT_NOTFOUND		"Nem található szkript a(z) {0} könyvtárban"
	IDS_ERRORID_SCRIPT_START		"A szkriptmotor fut, elérhető szkriptek: {0}."
	IDS_ERRORID_SCRIPT_STOP			"A szkriptmotor leállt."
	IDS_ERRORID_SCRIPT_DIRFILTER		"Script fájlok"
	IDS_ERRORID_SCRIPT_CALL			"Szkript futtatása: {0}"
	IDS_ERRORID_SCRIPT_RESCAN		"Újraolvasom a forgatókönyv-katalógust..."
	IDS_ERRORID_SCRIPT_STOPALL		"Leállított szkriptek: {0}"

	IDS_ERRORID_FILEWATCH_OPEN		"Nem sikerült megnyitni a következő könyvtárat: {0}"
	IDS_ERRORID_FILEWATCH_PARAM		"A megadott paraméterekkel rendelkező könyvtár nem olvasható, befejezem a könyvtár figyelését."
	IDS_ERRORID_FILEWATCH_SHUTDOWN		"a címtárfigyelés váratlan leállása"
	IDS_ERRORID_FILEWATCH_NOACCESS		"problémák a címtár elérésével, esetleg helytelen olvasási pufferméret"

	IDS_ERRORID_NONE			"-"
END
