#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Legújabb fájlok:"
	STR_RB_TABHOMEL			"Szerkesztés"
	STR_RB_TABFILTERL		"Szűrők"
	STR_RB_PANEL_EDITMAINL		"MIDI kulcs szerkesztése"
	STR_RB_PANEL_EDITSETL		"MIDI kulcscsoport"
	STR_RB_PANEL_EDITOPTL		"szerkesztő opciók"
	STR_RB_PANEL_FILTERL		"megtekintési szűrők kiválasztása"
	STR_RB_PANEL_SORTL		"válogatás"
	STR_RB_MENUL			"&Menü"
	STR_RB_MENUT			"Alkalmazás menü"
	STR_RB_PANEL_QATL		"&Gyors hozzáférés"
	STR_RB_PANEL_QATT		"Gyorsmenü"
	STR_RB_DIALOG_SAVEL		"&Megment"
	STR_RB_DIALOG_SAVET		"Mentés és alkalmazás"
	STR_RB_DIALOG_SAVED		"Mentse a korábban letöltött fájlba, és frissítse az aktuális konfigurációt."
	STR_RB_DIALOG_EXPORTL		"&Export"
	STR_RB_DIALOG_EXPORTT		"Exportálás új fájlba"
	STR_RB_DIALOG_EXPORTD		"Exportálja a szerkesztett konfigurációt egy új fájlba."
	STR_RB_DIALOG_IMPORTL		"&Importálás"
	STR_RB_DIALOG_IMPORTT		"Importálás fájlból"
	STR_RB_DIALOG_IMPORTD		"Konfiguráció importálása fájlból."
	STR_RB_DIALOG_EXITL		"&Kijárat"
	STR_RB_DIALOG_EXITT		"Lépjen ki a szerkesztőből"
	STR_RB_DIALOG_EXITD		"Kilép a MIDI Key Configuration Editorból; ha a változtatásokat nem menti el, azok elvesznek."
	STR_RB_LV_NEWL			"&Új MIDI kulcs"
	STR_RB_LV_NEWT			"Új MIDI kulcs"
	STR_RB_LV_NEWD			"Új MIDI-kulcs létrehozása."
	STR_RB_LV_COPYL			"&Másolat"
	STR_RB_LV_COPYT			"MIDI kulcs másolása"
	STR_RB_LV_COPYD			"Másolja a kiválasztott MIDI-billentyű bejegyzést."
	STR_RB_LV_PASTEL		"&Beszúrás"
	STR_RB_LV_PASTET		"Kulcs beszúrása"
	STR_RB_LV_PASTED		"Illessze be a másolt MIDI-kulcsot."
	STR_RB_LV_DELETEL		"&Töröl"
	STR_RB_LV_DELETET		"Kulcs törlése"
	STR_RB_LV_DELETED		"Törölje a kiválasztott MIDI-billentyű bejegyzést."
	STR_RB_LV_SET_MQTTL		"Okos Ház"
	STR_RB_LV_SET_MQTTT		"Állítsa be a csoportot „Okos otthon”-ként."
	STR_RB_LV_SET_MQTTD		"Rendelje hozzá a kiválasztott MIDI-kulcsot a „Smart Home” csoporthoz."
	STR_RB_LV_SET_MMKEYL		"Multimédiás gombok"
	STR_RB_LV_SET_MMKEYT		"Állítsa be a csoportot “Multimédia gombokként”"
	STR_RB_LV_SET_MMKEYD		"Rendelje hozzá a kiválasztott MIDI gombot a „Multimedia Buttons” csoporthoz."
	STR_RB_LV_SET_MIXERL		"Audio keverő"
	STR_RB_LV_SET_MIXERT		"Csoport beállítása „Audio Mixer”-ként"
	STR_RB_LV_SET_MIXERD		"Rendelje hozzá a kiválasztott MIDI gombot az „Audio Mixer” csoporthoz."
	STR_RB_LV_READ_MIDI_CODEL	"Olvassa el a MIDI kódot"
	STR_RB_LV_READ_MIDI_CODET	"Olvassa el a MIDI vezérlőkódot"
	STR_RB_LV_READ_MIDI_CODED	"Olvassa el a MIDI kódot a vezérlőfelületről vagy a MIDI billentyűzetről."
	STR_RB_LV_EDIT_MODEL		"Csak digitális bemenet"
	STR_RB_LV_EDIT_MODET		"Csak digitális bemenetet használjon"
	STR_RB_LV_EDIT_MODED		"Ne használja az értékválasztó menüt, csak a digitális bemenetet használja."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI vezérlőpanel"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Ajánlott beállítások"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Az Adobe Premiere Pro vezérlőivel kompatibilis MIDI vezérlőpult javasolt beállításai."
	STR_RB_LV_FILTER_EMBEDL		"Beépített szűrők"
	STR_RB_LV_FILTER_KEYL		"Kulcs"
	STR_RB_LV_FILTER_KEYT		"Szűrés MIDI kulcs alapján"
	STR_RB_LV_FILTER_KEYD		"Csak a MIDI-kulcscsoporton belüli egyezések megjelenítése."
	STR_RB_LV_FILTER_SCENEL		"Színhely"
	STR_RB_LV_FILTER_SCENET		"Szűrés MIDI jelenet szerint"
	STR_RB_LV_FILTER_SCENED		"Csak a MIDI jelenetcsoport meccseit jelenítse meg."
	STR_RB_LV_FILTER_TARGETL	"1. cél"
	STR_RB_LV_FILTER_TARGETT	"Szűrés célhely szerint 1"
	STR_RB_LV_FILTER_TARGETD	"Csak az 1. célcsoportba tartozó egyezések megjelenítése."
	STR_RB_LV_FILTER_TARGETLONGL	"2. cél"
	STR_RB_LV_FILTER_TARGETLONGT	"Szűrés cél szerint 2"
	STR_RB_LV_FILTER_TARGETLONGD	"Csak a 2. célcsoport egyezéseit jelenítse meg."
	STR_RB_LV_FILTER_CLEARL		"Tiszta szűrők"
	STR_RB_LV_FILTER_CLEART		"Szűrők tisztítása"
	STR_RB_LV_FILTER_CLEARD		"Teljesen törölje a szűrőket, minden bejegyzés megjelenik."
	STR_RB_LV_FILTER_SETL		"Állítsa be a szűrőt"
	STR_RB_LV_FILTER_SETT		"Szűrő beszerelése"
	STR_RB_LV_FILTER_SETD		"A szűrő beállítása minden érvénytelen elemet megjelenít."
	STR_RB_LV_FILTER_ONL		"Szűrő alkalmazása"
	STR_RB_LV_FILTER_ONT		"Szűrő alkalmazása"
	STR_RB_LV_FILTER_OND		"A szűrő alkalmazása megjeleníti a kiválasztott elemeket."
	STR_RB_LV_FILTER_OFFL		"Szűrő törlése"
	STR_RB_LV_FILTER_OFFT		"Szűrő törlése"
	STR_RB_LV_FILTER_OFFD		"A szűrő törlésével az összes elem megjelenik."
	STR_RB_LV_FILTER_MMKEYL		"“Multimédiás gombok” megjelenítése"
	STR_RB_LV_FILTER_MMKEYT		"Szűrés a „Multimédia gombok” csoport szerint"
	STR_RB_LV_FILTER_MMKEYD		"A szűrő alkalmazása megjeleníti a Multimédia gombok csoport tagjait."
	STR_RB_LV_FILTER_MIXERL		"Az “Audio Mixer” műsora"
	STR_RB_LV_FILTER_MIXERT		"Szűrés „Audio Mixer” csoport szerint"
	STR_RB_LV_FILTER_MIXERD		"A szűrő alkalmazása megjeleníti az Audio Mixer csoport tagjait."
	STR_RB_LV_FILTER_MQTTL		"„Okos otthon” műsor"
	STR_RB_LV_FILTER_MQTTT		"Szűrés „Intelligens otthon” csoport szerint"
	STR_RB_LV_FILTER_MQTTD		"A szűrő alkalmazása megjeleníti az Okos Otthon csoport tagjait."
	STR_RB_LV_FILTER_LIGHT8L	"A “Világítás 8 bites” műsora"
	STR_RB_LV_FILTER_LIGHT8T	"Szűrés „Világítás 8 bites” csoport szerint"
	STR_RB_LV_FILTER_LIGHT8D	"A szűrő alkalmazása a Világítás csoport tagjait jeleníti meg 8 bites csatornákkal."
	STR_RB_LV_FILTER_LIGHT16L	"Mutasd a “16 bites világítás”"
	STR_RB_LV_FILTER_LIGHT16T	"Szűrés „16 bites világítás” csoport szerint"
	STR_RB_LV_FILTER_LIGHT16D	"A szűrő alkalmazása a Világítás csoport tagjait jeleníti meg 16 bites csatornákkal."
	STR_RB_LV_FILTER_SCRIPTL	"“Szkriptek” megjelenítése"
	STR_RB_LV_FILTER_SCRIPTT	"Szűrés a „Szkriptek” csoport ChaiScript szerint"
	STR_RB_LV_FILTER_SCRIPTD	"A szűrő alkalmazása megjeleníti a Scripts csoport tagjait."
	STR_RB_LV_FILTER_TYPEBTNL	"Szűrő típusa"
	STR_RB_LV_FILTER_TYPEBTNT	"Az alkalmazandó szűrők típusának beállítása"
	STR_RB_LV_FILTER_TYPEBTND	"A használt szűrőtípusoknak két logikai állapota van: „ÉS”, „VAGY”."
	STR_RB_LV_FILTER_TYPEGRPL	"Szűrőtípus kiválasztása"
	STR_RB_LV_FILTER_TYPEORL	"Bármely találat megjelenítése"
	STR_RB_LV_FILTER_TYPEORT	"Bejegyzések megjelenítése bármilyen egyezéssel"
	STR_RB_LV_FILTER_TYPEORD       	"A szűrőnek logikai ÉS állapota van, és minden egyezést megjelenít."
	STR_RB_LV_FILTER_TYPEANDL	"Csak a teljes egyezések megjelenítése"
	STR_RB_LV_FILTER_TYPEANDT	"Csak a pontos egyezéseket tartalmazó rekordok megjelenítése"
	STR_RB_LV_FILTER_TYPEANDD	"A szűrőnek logikai VAGY állapota van, és csak a teljes egyezéseket mutatja."
	STR_RB_LV_FILTER_AUTOCOMMITL	"Automatikus adatküldés a szűrőben"
	STR_RB_LV_FILTER_AUTOCOMMITT	"A szűrőbe beírt értékek automatikus elküldése"
	STR_RB_LV_FILTER_AUTOCOMMITD	"Automatikusan elküldi a bemeneti értékeket egy beépített szűrőben."
	STR_RB_LV_EXT_MODEL		"Rendezés megjelenítése"
	STR_RB_LV_SORTUP_KEYL		"kulccsal"
	STR_RB_LV_SORTUP_KEYT		"Rendezés növekvő és MIDI billentyű szerint."
	STR_RB_LV_SORTUP_SCENEL		"a színpad körül"
	STR_RB_LV_SORTUP_SCENET		"Rendezés növekvő és MIDI jelenet szerint."
	STR_RB_LV_SORTUP_TARGETL	"időpont egyeztetés alapján 1"
	STR_RB_LV_SORTUP_TARGETT	"Rendezés növekvő és MIDI-cél szerint 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"időpont egyeztetés alapján 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Rendezés növekvő és MIDI-cél szerint 2."
	STR_RB_LV_SORTDOWN_KEYT		"Rendezés csökkenő és MIDI-billentyűk szerint."
	STR_RB_LV_SORTDOWN_SCENET	"Rendezés csökkenő sorrend és MIDI jelenet szerint."
	STR_RB_LV_SORTDOWN_TARGETT	"Rendezés csökkenő sorrend és MIDI-cél szerint 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Rendezés csökkenő sorrend és MIDI cél szerint 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Exportálás MQTT-be"
	STR_RB_DIALOG_EXPORTMQTTT	"MQTT konfiguráció exportálása"
	STR_RB_DIALOG_EXPORTMQTTD	"Exportálja a DMX512/ARTNET konfigurációt egy új fájlba."
	STR_RB_PANEL_EDITUTILL		"Eszközök"
	STR_RB_LV_SET_BUTTONL		"MIDI kulcs hozzárendelése"
	STR_RB_LV_SET_BUTTONT		"A kiválasztott MIDI-kulcs hozzárendelése"
	STR_RB_LV_SET_BUTTOND		"Határozza meg a kiválasztott MIDI-kulcsot a csoport tagjaként."
	STR_RB_LV_SET_LIGHT8L		"8 bites világítás"
	STR_RB_LV_SET_LIGHT8T		"A csoport beállítása “Világítás 8 bites”"
	STR_RB_LV_SET_LIGHT8D		"Rendelje hozzá a kiválasztott MIDI-kulcsot a „Lighting 8 Bit” csoporthoz."
	STR_RB_LV_SET_LIGHT16L		"16 bites világítás"
	STR_RB_LV_SET_LIGHT16T		"A csoport beállítása “16 bites világítás”"
	STR_RB_LV_SET_LIGHT16D		"Rendelje hozzá a kiválasztott MIDI-kulcsot a „Lighting 16-bit” csoporthoz."
	STR_RB_LV_SET_SCRIPTL		"Forgatókönyvek"
	STR_RB_LV_SET_SCRIPTT		"Csoport beállítása “Szkriptek”"
	STR_RB_LV_SET_SCRIPTD		"Rendelje hozzá a kiválasztott MIDI-kulcsot a „Scripts” csoporthoz."
	STR_RB_DIALOG_SHOWDUPL		"Ismétlődések megjelenítése"
	STR_RB_DIALOG_SHOWDUPT		"Keressen duplikált MIDI-kulcsokat"
	STR_RB_DIALOG_SHOWDUPD		"Keressen duplikált MIDI-kulcsokat; ha vannak, váratlan viselkedés léphet fel."

	STR_RB_DIALOG_DELDUPL		"Az ismétlődések eltávolítása"
	STR_RB_DIALOG_DELDUPT		"Távolítsa el az esetleges duplikált MIDI-kulcsokat"
	STR_RB_DIALOG_DELDUPD		"A duplikált MIDI-kulcsok keresése és eltávolítása, ha vannak is, előfordulhat, hogy nem a várt módon működik."
END
