#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_CHINESE, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT 转换器"
    STRING_MIXER	"＆混合器"
    STRING_SETTINGS	"＆设置"
    STRING_START	"开始"
    STRING_STOP		"停止"
    STRING_EXIT		"出口"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"从驱动程序加载配置"
    STRING_EDIT_MSG2	"从文件加载配置"
    STRING_EDIT_MSG3	"配置已重新创建，需要填写"
    STRING_EDIT_MSG4	"打开编辑器时，指定了配置文件：“{0}”。用相同的名称保存吗？"
    STRING_EDIT_MSG5	"DMX通道数"

    STRING_NOTIFY_MSG1	"翻译器停止："
    STRING_NOTIFY_MSG2	"翻译器的工作原理："

    STRING_AMIX_MSG1	"音频混合器未运行，请检查设置，必须启用音频面板启动。"
    STRING_AMIX_MSG2	"MIDIMT - 音频混合器未运行："
    STRING_AMIX_MSG3	"事件 ID 无效。请重新启动此应用程序。"
    STRING_AMIX_MSG4	"MIDIMT - 无法完成操作："
    STRING_AMIX_MSG5	"无法切换到 UI 线程，音频面板启动中止。"

    STRING_MAIN_MSG1	"应用程序初始化错误，无法继续。"
    STRING_MAIN_MSG2	"检查用户在应用程序目录中写入文件的权限。如果错误仍然存​​在，请尝试禁用日志记录。"
    STRING_MAIN_MSG3	"在常规配置中禁用自动运行。"
    STRING_MAIN_MSG4	"所选配置不支持自动启动。"

    STRING_LOGV_MSG1	"请在启动显示器之前，通过选择“开始”从菜单启动翻译器。"
    STRING_LOGV_MSG2	"所有设置“{0}”，配置文件版本：{1}"
    STRING_LOGV_MSG3	"MIDI 设置"
    STRING_LOGV_MSG4	"智能家居设置 (MQTT)"
    STRING_LOGV_MSG5	"多媒体键盘设置 (MMKEYS)"
    STRING_LOGV_MSG6	"照明控制设置 ({0})"
    STRING_LOGV_MSG7	"远程控制面板设置（REMOTE）"
    STRING_LOGV_MSG8	"游戏手柄/操纵杆控制设置 (GAMEPAD)"
    STRING_LOGV_MSG9	"按下 MIDI 键："
    STRING_LOGV_MSG10	"标签号码："

    STRING_CHKR_MSG1	"启动时，指定了配置文件：“{0}”。将其设置为后续运行的配置？"
    STRING_CHKR_MSG2	"MIDI-MT 配置"

    STRING_TMENU_MSG1	"您需要安装虚拟MIDI驱动程序！"

    STRING_LANG_STATUS	"地位："
    STRING_LANG_YES	"是的"
    STRING_LANG_NO	"不"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "音量（主音量）"
	IDM_COL4_MAP  "声音平衡（基本）"
	IDM_COL4_MAM  "静音（主要）"
	IDM_COL4_MAS  "音频独奏（主要）"
	IDM_COL4_JOG  "JOG（快退视频帧）"
	IDM_COL4_AV1  "音量（通道 1）"
	IDM_COL4_AV2  "音量（通道 2）"
	IDM_COL4_AV3  "音量（通道 3）"
	IDM_COL4_AV4  "音量（通道 4）"
	IDM_COL4_AV5  "音量（通道 5）"
	IDM_COL4_AV6  "音量（通道 6）"
	IDM_COL4_AV7  "音量（通道 7）"
	IDM_COL4_AV8  "音量（通道 8）"
	IDM_COL4_XV9  "音量（通道 9）"
	IDM_COL4_AP1  "声音平衡（通道 1）"
	IDM_COL4_AP2  "声音平衡（通道 2）"
	IDM_COL4_AP3  "声音平衡（通道 3）"
	IDM_COL4_AP4  "声音平衡（通道 4）"
	IDM_COL4_AP5  "声音平衡（通道 5）"
	IDM_COL4_AP6  "声音平衡（通道 6）"
	IDM_COL4_AP7  "声音平衡（通道 7）"
	IDM_COL4_AP8  "声音平衡（通道 8）"
	IDM_COL4_XP9  "声音平衡（通道 9）"
	IDM_COL4_B11  "音频独奏（通道 1）"
	IDM_COL4_B12  "音频独奏（通道 2）"
	IDM_COL4_B13  "音频独奏（通道 3）"
	IDM_COL4_B14  "音频独奏（通道 4）"
	IDM_COL4_B15  "音频独奏（通道 5）"
	IDM_COL4_B16  "音频独奏（通道 6）"
	IDM_COL4_B17  "音频独奏（通道 7）"
	IDM_COL4_B18  "音频独奏（通道 8）"
	IDM_COL4_B19  "音频独奏（通道 9）"
	IDM_COL4_B21  "静音（通道 1）"
	IDM_COL4_B22  "静音（通道 2）"
	IDM_COL4_B23  "静音（通道 3）"
	IDM_COL4_B24  "静音（通道 4）"
	IDM_COL4_B25  "静音（通道 5）"
	IDM_COL4_B26  "静音（通道 6）"
	IDM_COL4_B27  "静音（通道 7）"
	IDM_COL4_B28  "静音（通道 8）"
	IDM_COL4_B29  "静音（通道 9）"
	IDM_COL4_B31  "声音选择（通道1）"
	IDM_COL4_B32  "声音选择（通道2）"
	IDM_COL4_B33  "声音选择（通道3）"
	IDM_COL4_B34  "声音选择（通道 4）"
	IDM_COL4_B35  "声音选择（通道 5）"
	IDM_COL4_B36  "声音选择（通道 6）"
	IDM_COL4_B37  "声音选择（通道 7）"
	IDM_COL4_B38  "声音选择（通道8）"
	IDM_COL4_B39  "声音选择（通道 9）"
	IDM_COL4_FUN11  "功能F1（标准模式）"
	IDM_COL4_FUN12  "功能F2（标准模式）"
	IDM_COL4_FUN13  "功能F3（标准模式）"
	IDM_COL4_FUN14  "功能F4（标准模式）"
	IDM_COL4_FUN15  "功能F5（标准模式）"
	IDM_COL4_FUN16  "功能F6（标准模式）"
	IDM_COL4_FUN17  "功能F7（标准模式）"
	IDM_COL4_FUN18  "功能F8（标准模式）"
	IDM_COL4_FUN21  "功能 F1（保持模式）"
	IDM_COL4_FUN22  "功能 F2（保持模式）"
	IDM_COL4_FUN23  "功能 F3（保持模式）"
	IDM_COL4_FUN24  "功能 F4（保持模式）"
	IDM_COL4_FUN25  "功能 F5（保持模式）"
	IDM_COL4_FUN26  "功能 F6（保持模式）"
	IDM_COL4_FUN27  "功能 F7（保持模式）"
	IDM_COL4_FUN28  "功能 F8（保持模式）"
	IDM_COL4_SYS_Rewind  "倒带（播放器）"
	IDM_COL4_SYS_Forward  "快进（玩家）"
	IDM_COL4_SYS_Stop  "停止（玩家）"
	IDM_COL4_SYS_Play  "玩（玩家）"
	IDM_COL4_SYS_Record  "录音（播放器）"
	IDM_COL4_SYS_Up    "向上（操纵杆）"
	IDM_COL4_SYS_Down  "向下（操纵杆）"
	IDM_COL4_SYS_Left  "左（操纵杆）"
	IDM_COL4_SYS_Right  "右（操纵杆）"
	IDM_COL4_SYS_Zoom  "增加"
	IDM_COL4_SYS_Scrub  "擦洗"
	IDM_COL4_VOLUMEMIX "混音器控制"
	IDM_COL4_MEDIAKEY "多媒体键"
        IDM_COL4_MQTTKEY  "智能家居管理"
        IDM_COL4_LIGHTKEY8B "照明控制（8位）"
        IDM_COL4_LIGHTKEY16B "灯光控制（16位）"
	IDM_COL4_NONE  "未定义操作"
	IDM_COL4_MQTT_AV1		"1级"
	IDM_COL4_MQTT_AV2		"2级"
	IDM_COL4_MQTT_AV3		"3级"
	IDM_COL4_MQTT_AV4		"4级"
	IDM_COL4_MQTT_AV5		"5级"
	IDM_COL4_MQTT_AV6		"6级"
	IDM_COL4_MQTT_AV7		"7级"
	IDM_COL4_MQTT_AV8		"8级"
	IDM_COL4_MQTT_XV9		"9级"
	IDM_COL4_MQTT_AP1		"10级"
	IDM_COL4_MQTT_AP2		"11级"
	IDM_COL4_MQTT_AP3		"12级"
	IDM_COL4_MQTT_AP4		"13级"
	IDM_COL4_MQTT_AP5		"14级"
	IDM_COL4_MQTT_AP6		"15级"
	IDM_COL4_MQTT_AP7		"16级"
	IDM_COL4_MQTT_AP8		"17级"
	IDM_COL4_MQTT_XP9		"18级"
	IDM_COL4_MQTT_B11		"开/关 1"
	IDM_COL4_MQTT_B12		"开/关 2"
	IDM_COL4_MQTT_B13		"开/关 3"
	IDM_COL4_MQTT_B14		"开/关 4"
	IDM_COL4_MQTT_B15		"开/关 5"
	IDM_COL4_MQTT_B16		"开/关 6"
	IDM_COL4_MQTT_B17		"开/关 7"
	IDM_COL4_MQTT_B18		"开/关 8"
	IDM_COL4_MQTT_B19		"开/关 9"
	IDM_COL4_MQTT_B21		"开/关 10"
	IDM_COL4_MQTT_B22		"开/关 11"
	IDM_COL4_MQTT_B23		"开/关 12"
	IDM_COL4_MQTT_B24		"开/关 13"
	IDM_COL4_MQTT_B25		"开/关 14"
	IDM_COL4_MQTT_B26		"开/关 15"
	IDM_COL4_MQTT_B27		"开/关 16"
	IDM_COL4_MQTT_B28		"开/关 17"
	IDM_COL4_MQTT_B29		"开/关 18"
	IDM_COL4_MQTT_B31		"开/关 19"
	IDM_COL4_MQTT_B32		"开/关 20"
	IDM_COL4_MQTT_B33		"开/关 21"
	IDM_COL4_MQTT_B34		"开/关 22"
	IDM_COL4_MQTT_B35		"开/关 23"
	IDM_COL4_MQTT_B36		"开/关 24"
	IDM_COL4_MQTT_B37		"开/关 25"
	IDM_COL4_MQTT_B38		"开/关 26"
	IDM_COL4_MQTT_B39		"开/关 27"
	IDM_COL4_MQTT_NONE		"未分配"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"好的"
	IDS_ERRORID_EMPTY			"[配置为空..]"
	IDS_ERRORID_UNDEFINED			"此错误未定义"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"对配置文件的写访问被拒绝，“{0}”"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"配置文件丢失或访问被拒绝，“{0}”"
	IDS_ERRORID_JSONCONF_EMPTY		"配置文件为空，“{0}”"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"未配置 MIDI 设备名称。"
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"此配置中没有配置 MIDI 键。"
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"注意，此配置没有配置 MIDI 键！记录的配置将不起作用。"
	IDS_ERRORID_INIT_COINITIALIZE		"Co*Initialize 初始化失败。"
	IDS_ERRORID_INIT_COCREATE		"Co*Create - 无法创建实例。"
	IDS_ERRORID_INIT_DEFAULT_AE		"无法获取默认音频设备。"
	IDS_ERRORID_INIT_AS_MANAGER2		"音频会话管理器崩溃了。"
	IDS_ERRORID_INIT_AS_AUDIOMETER		"音频峰值计不可用。"
	IDS_ERRORID_MIXER_STARTOK		"音频会话混合器正在运行，启动时有 {0} 个正在运行的程序可供调节。"
	IDS_ERRORID_MIXER_STARTERROR		"音频会话混合器无法启动，错误详细信息应在日志文件中。"
	IDS_ERRORID_MIXER_STOPOK		"音频会话混合器已停止。"
	IDS_ERRORID_MIXER_STOPERROR		"音频会话混合器未正确停止，错误详细信息应在日志文件中。"
	IDS_ERRORID_NO_INIT			"调用此函数之前先初始化.."
	IDS_ERRORID_SESSION_LIST		"无法获取音频会话列表。"
	IDS_ERRORID_LISTISNULL			"音频会话列表为空！"
	IDS_ERRORID_SESSIONDISCONNECTED		"正在禁用音频会话，原因=“{0}”"
	IDS_ERRORID_SESSIONCREATED		"音频会话已创建，名称=“{0}”"
	IDS_ERRORID_ITEM_SC_AE			"音频会话“{0}”- 错误注册状态“{1}”：{2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"从回调中设置的值是无效的选择器。"
	IDS_ERRORID_SET_CB_WARNING		"仅当 MIDI 桥成功启动后才能设置回调。"
	IDS_ERRORID_CONFIG_FAIL			"配置加载失败，找不到文件，无法启动。"
	IDS_ERRORID_CONFIG_LOAD			"配置已加载.."
	IDS_ERRORID_CONFIG_LOADA		"配置已经加载.."
	IDS_ERRORID_CONFIG_EMPTY		"配置为空.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"模块 {0} 的配置为空。"
	IDS_ERRORID_CONFIG_NEW			"检测到新配置版本.."
	IDS_ERRORID_NOT_IMPLEMENTED		"代码中的实现不受支持，方法未覆盖：{0}"
	IDS_ERRORID_NOT_CONFIG			"未指定配置名称，无法继续。"
	IDS_ERRORID_MIDI_NOT_DEVICES		"设备未连接且无法继续。"
	IDS_ERRORID_MIDI_COUNT_DEVICES		"注意，最终列表中的设备数量不匹配，system/list = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"无法打开 MIDI 设备，无法继续，id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"无法启动 MIDI 设备，无法继续，id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"设备未连接，中止，id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"已找到设备 {0}，{1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"设备 {0} 打开，{1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"设备 {0} 已关闭（系统）"
	IDS_ERRORID_MIDI_DEVICE_DONE		"设备 {0} 就绪（系统）"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"未指定活动设备的名称，无法继续，id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"配置中未指定代理端口，MIDI 代理已禁用。"
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"驱动程序版本 [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"驱动程序版本 [{0}] 存在问题"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"设备 {0} 发送了无效值 = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"未安装虚拟 MIDI 驱动程序。您需要安装loopMidi包，或者下载完整的安装程序并重新安装MIDI-MT。更多详细信息：https://claudicoord.github.io/MIDI-MT/docs/RU/Dependency.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"未找到安装的虚拟 MIDI 驱动程序！您必须安装 Virtual Loop MIDI 包才能运行 MIDI-MT 转换器。"
	IDS_ERRORID_MIDI_PROXY_PORTS		"启动后，将创建 {0} 代理 MIDI 端口。"
	IDS_ERRORID_MIDI_PROXY_OFF		"代理 MIDI 端口被禁用。"
	IDS_ERRORID_MIDI_OUT_PORTS		"启动后，将创建 {0} MIDI 输出端口。"
	IDS_ERRORID_MIDI_OUT_OFF		"MIDI 输出端口被禁用。"
	IDS_ERRORID_MMKEY_START			"媒体密钥管理服务正在运行。"
	IDS_ERRORID_MMKEY_STOP			"媒体密钥管理服务已停止。"
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"MQTT 配置为空，无法继续。"
	IDS_ERRORID_MQTT_CLIENT_ERROR		"创建 MQTT 客户端时出错，请取消。"
	IDS_ERRORID_MQTT_CLIENT_OK		"MMQTT客户端已成功创建，继续..."
	IDS_ERRORID_MQTT_CONNECTED		"连接到 MQTT 服务器："
	IDS_ERRORID_MQTT_NOT_CONNECTED		"无法连接到 MQTT 服务器："
	IDS_ERRORID_MQTT_DISCONNECTED		"与 MQTT 服务器断开连接："
	IDS_ERRORID_MQTT_NOT_CA_CERT		"CA 证书文件不存在，路径 =“{0}”"
	IDS_ERRORID_MQTT_START			"智能家居控制服务已上线。"
	IDS_ERRORID_MQTT_STOP			"智能家居控制服务已停止。"
	IDS_ERRORID_MQTT_CA_FILTER		"CA证书"
	IDS_ERRORID_LOG_LEVEL_NONE		"不保留日志"
	IDS_ERRORID_LOG_LEVEL_INFO		"信息"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"通知"
	IDS_ERRORID_LOG_LEVEL_WARNING		"警告"
	IDS_ERRORID_LOG_LEVEL_ERR		"只有错误"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"所有消息"
	IDS_ERRORID_PANEL_INDEX			"音频混合器面板 - 无法继续，索引项不正确。"
	IDS_ERRORID_PANEL_INIT			"音频混合器面板 - 无法继续，初始化错误。"
	IDS_ERRORID_PANEL_ENABLE		"音频混合器面板窗口的状态不正确，无法继续下一步操作。"
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"音频混合器面板不会在 UI 线程上调用，并且无法进行更改。"
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"音频混合器面板检测到无效元素，并且面板窗口的创建被中止。"
	IDS_ERRORID_LIGHT_DMX_START		"使用 COM{0} - {1} 启动 DMX 照明控制服务。"
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"DMX 灯光控制服务未运行，COM{0} 设备未连接。"
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"DMX灯光控制服务未运行且服务配置未填写。"
	IDS_ERRORID_LIGHT_DMX_STOP		"DMX灯光控制服务已停止。"
	IDS_ERRORID_LIGHT_DMX_NODEV		"没有合适的设备可用"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"选择DMX设备"
	IDS_ERRORID_LIGHT_ARTNET_START		"ArtNet 照明控制服务正在网络 {2} 上使用广播地址 {0}:{1} 运行。"
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"ArtNet 照明控制服务未运行，未找到网络 {0}。"
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"ArtNet灯光控制服务未运行，服务配置未填写。"
	IDS_ERRORID_LIGHT_ARTNET_STOP		"ArtNet 灯光控制服务已停止。"
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"没有合适的接口可用"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"选择ARTNET接口"
	IDS_ERRORID_NOT_CLSID_CONVERT		"插件初始化错误，无法从指定字符串转换 CLSID/GUID。"
	IDS_ERRORID_BRIDGE_NOT_INIT		"初始化插件失败，未找到兼容的插件。"
	IDS_ERRORID_BRIDGE_NOT_LOAD		"加载插件失败，预初始化 {0}，加载 0 个插件。"
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"插件初始化成功，已加载预初始化 {0}、{1} 插件。"
	IDS_ERRORID_BRIDGE_OK_START		"Bridge 成功启动，{0} 已初始化，{1} 已加载，{2} 个插件正在运行。"
	IDS_ERRORID_BRIDGE_NOT_START		"无法启动桥，启动插件时出错，已初始化 {0}，已加载 {1} 个插件。"
	IDS_ERRORID_BRIDGE_OK_STOP		"Bridge 已成功停止，{0} 已初始化，{1} 已加载，{2} 已启动，{3} 个插件已停止。"
	IDS_ERRORID_BRIDGE_NOT_STOP		"无法停止桥接，停止插件时出错，{0} 已初始化，{1} 已加载，{2} 个插件正在运行。"
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"插件已加载，请在重新启动之前重置。"
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"该桥已经启动。"
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"桥已经停了。"
	IDS_ERRORID_PLUGIN_DLL_ERROR		"无法打开插件模块。模块丢失或损坏，DLL未加载并返回null。"
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"该模块不是 MIDI-MT 插件，并且缺少所需的入口点。"
	IDS_ERRORID_PLUGIN_LIST_INFO		"已启用={0}、设置={1}、正在运行={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"配置已更新：{0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"未找到模块，无法启动。"
	IDS_ERRORID_MIDIMT_CONFEDIT		"请在开始之前编辑配置。"
	IDS_ERRORID_MIDIMT_CONFFILTER		"配置文件"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"从文件加载的配置：{0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"从驱动程序加载配置"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"窗口重新启动后，所选的 {0} 语言将生效。"
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"已安装的虚拟 MIDI 驱动程序版本：{0}"
	IDS_ERRORID_REMOTE_START		"远程控制服务已启动。"
	IDS_ERRORID_REMOTE_STOP			"远程控制服务已停止。"
	IDS_ERRORID_REMOTE_CLIENT_NEW		"新客户端 {0}/{1} 已连接。"
	IDS_ERRORID_REMOTE_CLIENT_ERR		"客户端错误 {0}/{1}，{2}。"
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"客户端 {0}/{1} 已断开连接，状态：{2} - {3}。"

	IDS_ERRORID_JOY_NODRIVER		"没有操纵杆或游戏手柄驱动程序。"
	IDS_ERRORID_JOY_INVALIDPARAM		"指定的操纵杆 ID 无效。"
	IDS_ERRORID_JOY_NOCANDO			"无法写入操纵杆输入，并且所需的服务不可用。"
	IDS_ERRORID_JOY_UNPLUGGED		"指定的操纵杆未连接到系统。"
	IDS_ERRORID_JOY_START			"游戏手柄/操纵杆控制服务正在运行，活动设备：{0}，在线：{1}。"
	IDS_ERRORID_JOY_STOP			"游戏手柄/操纵杆控制服务已停止。"
	IDS_ERRORID_JOY_CHANGE_SCENE		"控制场景已通过游戏手柄或操纵杆更改为 {0}。"
	IDS_ERRORID_JOY_CHANGE_CTRL		"使用游戏手柄或操纵杆选择 {0}/{1} 控件。"

	IDS_ERRORID_COPY_LINK			"链接已复制到剪贴板。"
	IDS_ERRORID_NET_IFACE_NONE		"无网络接口"
	IDS_ERRORID_NET_IFACE_SELECT		"选择网络接口"
	IDS_ERRORID_NONE			"-"
END
