
#include "..\..\MIDIMT\rc\resource.h"
#include "..\..\Common\rc\resource.rc"
#include "..\..\Common\rc\resource_lang.rc"
#include "MIDIMTxCN.rc"
#include "RibbonDialogConfigCN.rc"

#ifndef APSTUDIO_INVOKED
#include <SDKDDKVer.h>
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#include "CommCtrl.h"
#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
