#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_CHINESE, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	IDS_RB_DIALOG_LAST_OPENL	"最新文件："
	IDS_RB_TABHOMEL			"编辑"
	IDS_RB_TABFILTERL		"过滤器"
	IDS_RB_PANEL_EDITMAINL		"编辑 MIDI 键"
	IDS_RB_PANEL_EDITSETL		"将 MIDI 键设置为..."
	IDS_RB_PANEL_EDITOPTL		"编辑器选项"
	IDS_RB_PANEL_FILTERL		"选择观看滤镜"
	IDS_RB_PANEL_SORTL		"排序"
	IDS_RB_MENUL			"＆菜单"
	IDS_RB_MENUT			"应用菜单"
	IDS_RB_PANEL_QATL		"快速访问(&F)"
	IDS_RB_PANEL_QATT		"快捷工具栏"
	IDS_RB_DIALOG_SAVEL		"＆节省"
	IDS_RB_DIALOG_SAVET		"保存并应用"
	IDS_RB_DIALOG_SAVED		"保存到先前下载的文件并更新当前配置。"
	IDS_RB_DIALOG_EXPORTL		"＆出口"
	IDS_RB_DIALOG_EXPORTT		"导出到新文件"
	IDS_RB_DIALOG_EXPORTD		"将编辑的配置导出到新文件。"
	IDS_RB_DIALOG_IMPORTL		"＆进口"
	IDS_RB_DIALOG_IMPORTT		"从文件导入"
	IDS_RB_DIALOG_IMPORTD		"从文件导入配置。"
	IDS_RB_DIALOG_EXITL		"＆出口"
	IDS_RB_DIALOG_EXITT		"退出编辑器"
	IDS_RB_DIALOG_EXITD		"退出 MIDI 键配置编辑器；如果不保存更改，它们将会丢失。"
	IDS_RB_LV_NEWL			"新 MIDI 键(&N)"
	IDS_RB_LV_NEWT			"新 MIDI 键"
	IDS_RB_LV_NEWD			"创建新的 MIDI 密钥。"
	IDS_RB_LV_COPYL			"＆复制"
	IDS_RB_LV_COPYT			"复制 MIDI 键"
	IDS_RB_LV_COPYD			"复制选定的 MIDI 按键条目。"
	IDS_RB_LV_PASTEL		"＆插入"
	IDS_RB_LV_PASTET		"插入钥匙"
	IDS_RB_LV_PASTED		"粘贴复制的 MIDI 密钥。"
	IDS_RB_LV_DELETEL		"＆删除"
	IDS_RB_LV_DELETET		"删除键"
	IDS_RB_LV_DELETED		"删除选定的 MIDI 按键条目。"
	IDS_RB_LV_SET_MQTTL		"智能家居"
	IDS_RB_LV_SET_MQTTT		"将组设置为“智能家居”。"
	IDS_RB_LV_SET_MQTTD		"将选定的 MIDI 键分配到“Smart Home”组。"
	IDS_RB_LV_SET_MMKEYL		"多媒体按钮"
	IDS_RB_LV_SET_MMKEYT		"将组设置为“多媒体按钮”"
	IDS_RB_LV_SET_MMKEYD		"将选定的 MIDI 键分配到“多媒体按钮”组。"
	IDS_RB_LV_SET_MIXERL		"音频混音器"
	IDS_RB_LV_SET_MIXERT		"将组设置为“音频混合器”"
	IDS_RB_LV_SET_MIXERD		"将选定的 MIDI 键分配到“音频混合器”组。"
	IDS_RB_LV_READ_MIDI_CODEL	"读取 MIDI 代码"
	IDS_RB_LV_READ_MIDI_CODET	"读取MIDI控制代码"
	IDS_RB_LV_READ_MIDI_CODED	"从控制界面或 MIDI 键盘读取 MIDI 代码。"
	IDS_RB_LV_EDIT_MODEL		"仅数字输入"
	IDS_RB_LV_EDIT_MODET		"仅使用数字输入"
	IDS_RB_LV_EDIT_MODED		"不要使用值选择菜单，仅使用数字输入。"
	IDS_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI控制面板"
	IDS_RB_DIALOG_SHOW_MIDI_KEYST	"推荐设置"
	IDS_RB_DIALOG_SHOW_MIDI_KEYSD	"推荐与 Adob​​e Premiere Pro 控件兼容的 MIDI 控制面板设置。"
	IDS_RB_LV_FILTER_EMBEDL		"内置过滤器"
	IDS_RB_LV_FILTER_KEYL		"钥匙"
	IDS_RB_LV_FILTER_KEYT		"按 MIDI 键过滤"
	IDS_RB_LV_FILTER_KEYD		"仅显示 MIDI 键组内的匹配项。"
	IDS_RB_LV_FILTER_SCENEL		"场景"
	IDS_RB_LV_FILTER_SCENET		"按 MIDI 场景过滤"
	IDS_RB_LV_FILTER_SCENED		"仅显示 MIDI 场景组中的匹配项。"
	IDS_RB_LV_FILTER_TARGETL	"目的1"
	IDS_RB_LV_FILTER_TARGETT	"按目的地过滤 1"
	IDS_RB_LV_FILTER_TARGETD	"仅显示目标组 1 中的匹配项。"
	IDS_RB_LV_FILTER_TARGETLONGL	"目的2"
	IDS_RB_LV_FILTER_TARGETLONGT	"按目的地过滤 2"
	IDS_RB_LV_FILTER_TARGETLONGD	"仅显示目标组 2 中的匹配项。"
	IDS_RB_LV_FILTER_CLEARL		"清除过滤器"
	IDS_RB_LV_FILTER_CLEART		"清洁过滤器"
	IDS_RB_LV_FILTER_CLEARD		"完全清除过滤器，将显示所有条目。"
	IDS_RB_LV_FILTER_SETL		"设置过滤器"
	IDS_RB_LV_FILTER_SETT		"过滤器安装"
	IDS_RB_LV_FILTER_SETD		"设置过滤器会显示所有无效项目。"
	IDS_RB_LV_FILTER_ONL		"应用过滤器"
	IDS_RB_LV_FILTER_ONT		"应用过滤器"
	IDS_RB_LV_FILTER_OND		"应用过滤器会显示所选项目。"
	IDS_RB_LV_FILTER_OFFL		"取消筛选"
	IDS_RB_LV_FILTER_OFFT		"取消筛选"
	IDS_RB_LV_FILTER_OFFD		"取消过滤器将显示所有项目。"
	IDS_RB_LV_FILTER_MMKEYL		"显示“多媒体按钮”"
	IDS_RB_LV_FILTER_MMKEYT		"按“多媒体按钮”组过滤"
	IDS_RB_LV_FILTER_MMKEYD		"应用过滤器将显示多媒体按钮组的成员。"
	IDS_RB_LV_FILTER_MIXERL		"显示“音频混合器”"
	IDS_RB_LV_FILTER_MIXERT		"按“音频混合器”组过滤"
	IDS_RB_LV_FILTER_MIXERD		"应用过滤器将显示音频混合器组的成员。"
	IDS_RB_LV_FILTER_MQTTL		"显示“智能家居”"
	IDS_RB_LV_FILTER_MQTTT		"按“智能家居”组筛选"
	IDS_RB_LV_FILTER_MQTTD		"应用过滤器将显示智能家居组的成员。"
	IDS_RB_LV_FILTER_TYPEBTNL	"过滤器类型"
	IDS_RB_LV_FILTER_TYPEBTNT	"设置要应用的过滤器类型"
	IDS_RB_LV_FILTER_TYPEBTND	"使用的过滤器类型有两种逻辑状态：“AND”、“OR”。"
	IDS_RB_LV_FILTER_TYPEGRPL	"选择过滤器类型"
	IDS_RB_LV_FILTER_TYPEORL	"显示任何匹配项"
	IDS_RB_LV_FILTER_TYPEORT	"显示任何匹配的条目"
	IDS_RB_LV_FILTER_TYPEORD       	"该过滤器具有逻辑 AND 状态并显示所有匹配项。"
	IDS_RB_LV_FILTER_TYPEANDL	"仅显示完整的匹配项"
	IDS_RB_LV_FILTER_TYPEANDT	"仅显示完全匹配的记录"
	IDS_RB_LV_FILTER_TYPEANDD	"该过滤器具有逻辑“或”状态，并且仅显示完全匹配。"
	IDS_RB_LV_FILTER_AUTOCOMMITL	"自动发送过滤器中的数据"
	IDS_RB_LV_FILTER_AUTOCOMMITT	"自动发送过滤器中输入的值"
	IDS_RB_LV_FILTER_AUTOCOMMITD	"自动提交内置过滤器中的输入值。"
	IDS_RB_LV_EXT_MODEL		"显示排序"
	IDS_RB_LV_SORTUP_KEYL		"通过按键"
	IDS_RB_LV_SORTUP_KEYT		"按升序和 MIDI 键排序。"
	IDS_RB_LV_SORTUP_SCENEL		"舞台周围"
	IDS_RB_LV_SORTUP_SCENET		"按升序和 MIDI 场景排序。"
	IDS_RB_LV_SORTUP_TARGETL	"预约 1"
	IDS_RB_LV_SORTUP_TARGETT	"按升序和 MIDI 目标排序 1."
	IDS_RB_LV_SORTUP_TARGETLONGL	"预约 2"
	IDS_RB_LV_SORTUP_TARGETLONGT	"按升序和 MIDI 目的地排序 2."
	IDS_RB_LV_SORTDOWN_KEYT		"按降序和 MIDI 键排序。"
	IDS_RB_LV_SORTDOWN_SCENET	"按降序和 MIDI 场景排序。"
	IDS_RB_LV_SORTDOWN_TARGETT	"按降序和 MIDI 目的地排序 1."
	IDS_RB_LV_SORTDOWN_TARGETLONGT	"按降序和 MIDI 目的地排序 2."
END
