#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"Tradutor MIDI-MT"
    STRING_MIXER	"&Misturador"
    STRING_SETTINGS	"&Configurações"
    STRING_START	"Começar"
    STRING_STOP		"Parar"
    STRING_EXIT		"Saída"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Configuração carregada do driver"
    STRING_EDIT_MSG2	"Configuração carregada do arquivo"
    STRING_EDIT_MSG3	"A configuração foi criada novamente e requer preenchimento"
    STRING_EDIT_MSG4	"Ao abrir o editor, foi especificado o arquivo de configuração: '{0}'. Salvá-lo com o mesmo nome?"
    STRING_EDIT_MSG5	"Número do canal DMX"

    STRING_NOTIFY_MSG1	"o tradutor está parado:"
    STRING_NOTIFY_MSG2	"o tradutor trabalha:"

    STRING_AMIX_MSG1	"O mixer de áudio não está funcionando, verifique as configurações, o lançamento do painel de áudio deve estar habilitado."
    STRING_AMIX_MSG2	"MIDIMT - O mixer de áudio não está funcionando:"
    STRING_AMIX_MSG3	"ID de evento inválido. Por favor reinicie este aplicativo."
    STRING_AMIX_MSG4	"MIDIMT - Incapaz de concluir a operação:"
    STRING_AMIX_MSG5	"Falha ao alternar para thread de UI, inicialização do painel de áudio abortada."

    STRING_MAIN_MSG1	"Erro de inicialização do aplicativo, a continuação não é possível."
    STRING_MAIN_MSG2	"Verifique as permissões do usuário para gravar arquivos no diretório do aplicativo. Se o erro persistir, tente desabilitar o log."
    STRING_MAIN_MSG3	"A execução automática está desabilitada na configuração geral."
    STRING_MAIN_MSG4	"A configuração selecionada não suporta inicialização automática."

    STRING_LOGV_MSG1	"Por favor, antes de iniciar o monitor, inicie o tradutor no menu selecionando 'Iniciar'."
    STRING_LOGV_MSG2	"Todas as configurações '{0}', versão do arquivo de configuração: {1}"
    STRING_LOGV_MSG3	"Configurações MIDI"
    STRING_LOGV_MSG4	"Configurações de casa inteligente (MQTT)"
    STRING_LOGV_MSG5	"Configurações do teclado multimídia (MMKEYS)"
    STRING_LOGV_MSG6	"Configurações de controle de iluminação ({0})"
    STRING_LOGV_MSG7	"Configurações do painel de controle remoto (REMOTO)"
    STRING_LOGV_MSG8	"Configurações de controle do gamepad/joystick (GAMEPAD)"
    STRING_LOGV_MSG9	"Tecla MIDI pressionada:"
    STRING_LOGV_MSG10	"Número da etiqueta:"

    STRING_CHKR_MSG1	"Na inicialização, o arquivo de configuração foi especificado: '{0}'. Defini-lo como uma configuração para execuções subsequentes?"
    STRING_CHKR_MSG2	"Configuração MIDI-MT"

    STRING_TMENU_MSG1	"Você precisa instalar o driver Virtual MIDI!"

    STRING_LANG_STATUS	"status:"
    STRING_LANG_YES	"Sim"
    STRING_LANG_NO	"Não"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "volume do som (principal)"
	IDM_COL4_MAP  "equilíbrio sonoro (básico)"
	IDM_COL4_MAM  "mudo (principal)"
	IDM_COL4_MAS  "solo de áudio (principal)"
	IDM_COL4_JOG  "JOG (retroceder quadro de vídeo)"
	IDM_COL4_AV1  "volume do som (canal 1)"
	IDM_COL4_AV2  "volume do som (canal 2)"
	IDM_COL4_AV3  "volume do som (canal 3)"
	IDM_COL4_AV4  "volume do som (canal 4)"
	IDM_COL4_AV5  "volume do som (canal 5)"
	IDM_COL4_AV6  "volume do som (canal 6)"
	IDM_COL4_AV7  "volume do som (canal 7)"
	IDM_COL4_AV8  "volume do som (canal 8)"
	IDM_COL4_XV9  "volume do som (canal 9)"
	IDM_COL4_AP1  "equilíbrio de som (canal 1)"
	IDM_COL4_AP2  "equilíbrio de som (canal 2)"
	IDM_COL4_AP3  "equilíbrio de som (canal 3)"
	IDM_COL4_AP4  "equilíbrio de som (canal 4)"
	IDM_COL4_AP5  "equilíbrio de som (canal 5)"
	IDM_COL4_AP6  "equilíbrio de som (canal 6)"
	IDM_COL4_AP7  "equilíbrio de som (canal 7)"
	IDM_COL4_AP8  "equilíbrio de som (canal 8)"
	IDM_COL4_XP9  "equilíbrio de som (canal 9)"
	IDM_COL4_B11  "solo de áudio (canal 1)"
	IDM_COL4_B12  "solo de áudio (canal 2)"
	IDM_COL4_B13  "solo de áudio (canal 3)"
	IDM_COL4_B14  "solo de áudio (canal 4)"
	IDM_COL4_B15  "solo de áudio (canal 5)"
	IDM_COL4_B16  "solo de áudio (canal 6)"
	IDM_COL4_B17  "solo de áudio (canal 7)"
	IDM_COL4_B18  "solo de áudio (canal 8)"
	IDM_COL4_B19  "solo de áudio (canal 9)"
	IDM_COL4_B21  "mudo (canal 1)"
	IDM_COL4_B22  "mudo (canal 2)"
	IDM_COL4_B23  "mudo (canal 3)"
	IDM_COL4_B24  "mudo (canal 4)"
	IDM_COL4_B25  "mudo (canal 5)"
	IDM_COL4_B26  "mudo (canal 6)"
	IDM_COL4_B27  "mudo (canal 7)"
	IDM_COL4_B28  "mudo (canal 8)"
	IDM_COL4_B29  "mudo (canal 9)"
	IDM_COL4_B31  "seleção de som (canal 1)"
	IDM_COL4_B32  "seleção de som (canal 2)"
	IDM_COL4_B33  "seleção de som (canal 3)"
	IDM_COL4_B34  "seleção de som (canal 4)"
	IDM_COL4_B35  "seleção de som (canal 5)"
	IDM_COL4_B36  "seleção de som (canal 6)"
	IDM_COL4_B37  "seleção de som (canal 7)"
	IDM_COL4_B38  "seleção de som (canal 8)"
	IDM_COL4_B39  "seleção de som (canal 9)"
	IDM_COL4_FUN11  "função F1 (modo padrão)"
	IDM_COL4_FUN12  "função F2 (modo padrão)"
	IDM_COL4_FUN13  "função F3 (modo padrão)"
	IDM_COL4_FUN14  "função F4 (modo padrão)"
	IDM_COL4_FUN15  "função F5 (modo padrão)"
	IDM_COL4_FUN16  "função F6 (modo padrão)"
	IDM_COL4_FUN17  "função F7 (modo padrão)"
	IDM_COL4_FUN18  "função F8 (modo padrão)"
	IDM_COL4_FUN21  "função F1 (modo retido)"
	IDM_COL4_FUN22  "função F2 (modo retido)"
	IDM_COL4_FUN23  "função F3 (modo retido)"
	IDM_COL4_FUN24  "função F4 (modo retido)"
	IDM_COL4_FUN25  "função F5 (modo retido)"
	IDM_COL4_FUN26  "função F6 (modo retido)"
	IDM_COL4_FUN27  "função F7 (modo retido)"
	IDM_COL4_FUN28  "função F8 (modo retido)"
	IDM_COL4_SYS_Rewind  "Retroceder (jogador)"
	IDM_COL4_SYS_Forward  "Avanço rápido (jogador)"
	IDM_COL4_SYS_Stop  "Pare (jogador)"
	IDM_COL4_SYS_Play  "Jogar (jogador)"
	IDM_COL4_SYS_Record  "Gravação (reprodutor)"
	IDM_COL4_SYS_Up    "Para cima (joystick)"
	IDM_COL4_SYS_Down  "Para baixo (joystick)"
	IDM_COL4_SYS_Left  "Esquerda (joystick)"
	IDM_COL4_SYS_Right  "Direita (joystick)"
	IDM_COL4_SYS_Zoom  "Aumentar"
	IDM_COL4_SYS_Scrub  "Esfregar"
	IDM_COL4_VOLUMEMIX "Controle do misturador"
	IDM_COL4_MEDIAKEY "Teclas multimídia"
        IDM_COL4_MQTTKEY  "Gerenciamento de casa inteligente"
        IDM_COL4_LIGHTKEY8B "Controle de iluminação (8 bits)"
        IDM_COL4_LIGHTKEY16B "Controle de iluminação (16 bits)"
	IDM_COL4_NONE  "ação não definida"
	IDM_COL4_MQTT_AV1		"nível 1"
	IDM_COL4_MQTT_AV2		"nível 2"
	IDM_COL4_MQTT_AV3		"nível 3"
	IDM_COL4_MQTT_AV4		"nível 4"
	IDM_COL4_MQTT_AV5		"nível 5"
	IDM_COL4_MQTT_AV6		"nível 6"
	IDM_COL4_MQTT_AV7		"nível 7"
	IDM_COL4_MQTT_AV8		"nível 8"
	IDM_COL4_MQTT_XV9		"nível 9"
	IDM_COL4_MQTT_AP1		"nível 10"
	IDM_COL4_MQTT_AP2		"nível 11"
	IDM_COL4_MQTT_AP3		"nível 12"
	IDM_COL4_MQTT_AP4		"nível 13"
	IDM_COL4_MQTT_AP5		"nível 14"
	IDM_COL4_MQTT_AP6		"nível 15"
	IDM_COL4_MQTT_AP7		"nível 16"
	IDM_COL4_MQTT_AP8		"nível 17"
	IDM_COL4_MQTT_XP9		"nível 18"
	IDM_COL4_MQTT_B11		"ligar/desligar 1"
	IDM_COL4_MQTT_B12		"ligar/desligar 2"
	IDM_COL4_MQTT_B13		"ligar/desligar 3"
	IDM_COL4_MQTT_B14		"ligar/desligar 4"
	IDM_COL4_MQTT_B15		"ligar/desligar 5"
	IDM_COL4_MQTT_B16		"ligar/desligar 6"
	IDM_COL4_MQTT_B17		"ligar/desligar 7"
	IDM_COL4_MQTT_B18		"ligar/desligar 8"
	IDM_COL4_MQTT_B19		"ligar/desligar 9"
	IDM_COL4_MQTT_B21		"ligar/desligar 10"
	IDM_COL4_MQTT_B22		"ligar/desligar 11"
	IDM_COL4_MQTT_B23		"ligar/desligar 12"
	IDM_COL4_MQTT_B24		"ligar/desligar 13"
	IDM_COL4_MQTT_B25		"ligar/desligar 14"
	IDM_COL4_MQTT_B26		"ligar/desligar 15"
	IDM_COL4_MQTT_B27		"ligar/desligar 16"
	IDM_COL4_MQTT_B28		"ligar/desligar 17"
	IDM_COL4_MQTT_B29		"ligar/desligar 18"
	IDM_COL4_MQTT_B31		"ligar/desligar 19"
	IDM_COL4_MQTT_B32		"ligar/desligar 20"
	IDM_COL4_MQTT_B33		"ligar/desligar 21"
	IDM_COL4_MQTT_B34		"ligar/desligar 22"
	IDM_COL4_MQTT_B35		"ligar/desligar 23"
	IDM_COL4_MQTT_B36		"ligar/desligar 24"
	IDM_COL4_MQTT_B37		"ligar/desligar 25"
	IDM_COL4_MQTT_B38		"ligar/desligar 26"
	IDM_COL4_MQTT_B39		"ligar/desligar 27"
	IDM_COL4_MQTT_NONE		"Não atribuído"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"OK"
	IDS_ERRORID_EMPTY			"[A configuração está vazia..]"
	IDS_ERRORID_UNDEFINED			"Este erro é indefinido"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"O acesso de gravação ao arquivo de configuração foi negado, '{0}'"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Arquivo de configuração ausente ou acesso negado, '{0}'"
	IDS_ERRORID_JSONCONF_EMPTY		"O arquivo de configuração está vazio, '{0}'"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"O nome do dispositivo MIDI não está configurado."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"Não há teclas MIDI configuradas nesta configuração."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Atenção, esta configuração não possui teclas MIDI configuradas! a configuração gravada não funcionará."
	IDS_ERRORID_INIT_COINITIALIZE		"Falha na inicialização do Co*Initialize."
	IDS_ERRORID_INIT_COCREATE		"Co*Create - falha ao criar uma instância."
	IDS_ERRORID_INIT_DEFAULT_AE		"Falha ao obter o dispositivo de áudio padrão."
	IDS_ERRORID_INIT_AS_MANAGER2		"O Gerenciador de sessão de áudio travou."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"O medidor de pico de áudio não está disponível."
	IDS_ERRORID_MIXER_STARTOK		"O mixer da sessão de áudio está em execução, no momento do início existem {0} programas em execução disponíveis para regulação."
	IDS_ERRORID_MIXER_STARTERROR		"O mixer da sessão de áudio não pôde ser iniciado. Os detalhes do erro devem estar no arquivo de log."
	IDS_ERRORID_MIXER_STOPOK		"O mixer da sessão de áudio parou."
	IDS_ERRORID_MIXER_STOPERROR		"O mixer da sessão de áudio não foi interrompido corretamente, os detalhes do erro devem estar no arquivo de log."
	IDS_ERRORID_NO_INIT			"Inicialize antes de chamar isso.."
	IDS_ERRORID_SESSION_LIST		"Falha ao obter lista de sessões de áudio."
	IDS_ERRORID_LISTISNULL			"A lista de sessões de áudio está vazia!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Desativando sessão de áudio, motivo='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Sessão de áudio criada, name='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Sessão de áudio '{0}' - estado de registro incorreto '{1}': {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"O valor definido no retorno de chamada é um seletor inválido."
	IDS_ERRORID_SET_CB_WARNING		"Definir um retorno de chamada só é possível após a ponte MIDI ter sido iniciada com sucesso."
	IDS_ERRORID_CONFIG_FAIL			"Falha no carregamento da configuração, arquivo não encontrado, inicialização impossível."
	IDS_ERRORID_CONFIG_LOAD			"Configuração carregada.."
	IDS_ERRORID_CONFIG_LOADA		"A configuração já foi carregada.."
	IDS_ERRORID_CONFIG_EMPTY		"A configuração está vazia.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"A configuração do módulo {0} está vazia."
	IDS_ERRORID_CONFIG_NEW			"Nova versão de configuração detectada.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Implementação não suportada no código, método não substituído: {0}"
	IDS_ERRORID_NOT_CONFIG			"O nome da configuração não foi especificado e não pode continuar."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Os dispositivos não estão conectados e não podem continuar."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Atenção, incompatibilidade no número de dispositivos na lista final, sistema/lista = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Não é possível abrir o dispositivo MIDI, não é possível continuar, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Não é possível iniciar o dispositivo MIDI, não é possível continuar, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Dispositivo não conectado, anular, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Dispositivo {0} encontrado, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Dispositivo {0} aberto, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Dispositivo {0} fechado (sistema)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Dispositivo {0} pronto (sistema)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"O nome do dispositivo ativo não foi especificado, a continuação é impossível, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"As portas proxy não estão especificadas na configuração, o proxy MIDI está desabilitado."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Versão do driver [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Problema com a versão do driver [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Dispositivo {0} enviou valor inválido = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"O driver MIDI virtual não está instalado. Você precisa instalar o pacote loopMidi ou baixar o instalador completo e reinstalar o MIDI-MT. Mais detalhes: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"O driver Virtual MIDI instalado não foi encontrado! Você deve instalar o pacote Virtual Loop MIDI para executar o tradutor MIDI-MT."
	IDS_ERRORID_MIDI_PROXY_PORTS		"Na inicialização, {0} portas proxy MIDI serão criadas."
	IDS_ERRORID_MIDI_PROXY_OFF		"As portas proxy MIDI estão desativadas."
	IDS_ERRORID_MIDI_OUT_PORTS		"Na inicialização, {0} portas de saída MIDI serão criadas."
	IDS_ERRORID_MIDI_OUT_OFF		"As portas de saída MIDI estão desativadas."
	IDS_ERRORID_MMKEY_START			"O serviço Media Key Management está em execução."
	IDS_ERRORID_MMKEY_STOP			"O serviço Media Key Management foi interrompido."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"A configuração do MQTT está vazia e não pode continuar."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Erro ao criar cliente MQTT, cancelando."
	IDS_ERRORID_MQTT_CLIENT_OK		"O cliente MMQTT foi criado com sucesso, continue..."
	IDS_ERRORID_MQTT_CONNECTED		"Conectado ao servidor MQTT:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Falha ao conectar ao servidor MQTT:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Desconectado do servidor MQTT:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"O arquivo de certificado CA não existe, caminho = '{0}'"
	IDS_ERRORID_MQTT_START			"O serviço de controle Smart Home foi lançado."
	IDS_ERRORID_MQTT_STOP			"O serviço de controle Smart Home foi interrompido."
	IDS_ERRORID_MQTT_CA_FILTER		"Certificado CA"
	IDS_ERRORID_LOG_LEVEL_NONE		"nenhum registro é mantido"
	IDS_ERRORID_LOG_LEVEL_INFO		"Informação"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"notificações"
	IDS_ERRORID_LOG_LEVEL_WARNING		"avisos"
	IDS_ERRORID_LOG_LEVEL_ERR		"apenas erros"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"todas as mensagens"
	IDS_ERRORID_PANEL_INDEX			"Painel Mixer de Áudio - Não é possível continuar, os itens do índice estão incorretos."
	IDS_ERRORID_PANEL_INIT			"Painel mixer de áudio - não é possível continuar, erro de inicialização."
	IDS_ERRORID_PANEL_ENABLE		"A janela do painel do mixer de áudio não possui o status correto e a próxima operação não pode ser continuada."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"O painel do mixer de áudio não é invocado em um thread de UI e alterações não podem ser feitas."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"O painel do mixer de áudio detectou um elemento inválido e a criação da janela do painel foi abortada."
	IDS_ERRORID_LIGHT_DMX_START		"O serviço de controle de iluminação DMX é iniciado usando COM{0} - {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"O serviço de controle de iluminação DMX não está em execução, o dispositivo COM{0} não está conectado."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"O serviço de controle de iluminação DMX não está em execução e a configuração do serviço não foi preenchida."
	IDS_ERRORID_LIGHT_DMX_STOP		"O serviço de controle de iluminação DMX foi interrompido."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Nenhum dispositivo adequado disponível"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Selecione o dispositivo DMX"
	IDS_ERRORID_LIGHT_ARTNET_START		"O ArtNet Lighting Control Service está em execução usando o endereço de transmissão {0}:{1} na rede {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"O serviço de controle de iluminação ArtNet não está em execução, rede {0} não encontrada."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"O serviço de controle de iluminação ArtNet não está em execução, a configuração do serviço não está preenchida."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"O serviço de controle de iluminação ArtNet foi interrompido."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Nenhuma interface adequada disponível"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Selecione a interface ARTNET"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Erro de inicialização do plug-in, não é possível converter CLSID/GUID da string especificada."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Falha ao inicializar plug-ins, nenhum plug-in compatível foi encontrado."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Falha ao carregar plug-ins, {0} pré-inicializado, 0 plug-ins carregados."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Plugins inicializados com sucesso, pré-inicialização {0}, {1} plugins carregados."
	IDS_ERRORID_BRIDGE_OK_START		"Bridge iniciado com sucesso, {0} inicializado, {1} carregado, {2} plug-ins em execução."
	IDS_ERRORID_BRIDGE_NOT_START		"Falha ao iniciar a ponte, erro ao iniciar plugins, {0} inicializado, {1} plugins carregados."
	IDS_ERRORID_BRIDGE_OK_STOP		"Bridge interrompida com sucesso, {0} inicializada, {1} carregada, {2} iniciada, {3} plug-ins parados."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Falha ao parar a ponte, erro ao parar plug-ins, {0} inicializado, {1} carregado, {2} plug-ins em execução."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Os plug-ins já estão carregados, redefina-os antes de reiniciar."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"A ponte já foi lançada."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"A ponte já parou."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Falha ao abrir o módulo de plug-in. O módulo está faltando ou danificado, a DLL não foi carregada e retornou nula."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"O módulo não é um plugin MIDI-MT e faltam os pontos de entrada necessários."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Ativado={0}, configurações={1}, em execução={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Configuração atualizada: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Nenhum módulo encontrado, inicialização impossível."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Edite a configuração antes de começar."
	IDS_ERRORID_MIDIMT_CONFFILTER		"O arquivo de configuração"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Configuração carregada do arquivo: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Configuração carregada do driver"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"O idioma {0} selecionado ficará ativo depois que a janela for reiniciada."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Versão do driver Virtual MIDI instalada: {0}"
	IDS_ERRORID_REMOTE_START		"O serviço de controle remoto foi iniciado."
	IDS_ERRORID_REMOTE_STOP			"O serviço de controle remoto foi interrompido."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"O novo cliente {0}/{1} está conectado."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Erro do cliente {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Cliente {0}/{1} desconectado, status: {2} - {3}."

	IDS_ERRORID_JOY_NODRIVER		"Não há driver de joystick ou gamepad."
	IDS_ERRORID_JOY_INVALIDPARAM		"O ID do joystick especificado é inválido."
	IDS_ERRORID_JOY_NOCANDO			"A entrada do joystick não pode ser escrita e o serviço necessário não está disponível."
	IDS_ERRORID_JOY_UNPLUGGED		"O joystick especificado não está conectado ao sistema."
	IDS_ERRORID_JOY_START			"O serviço de controle do Gamepad/Joystick está em execução, dispositivos ativos: {0}, on-line: {1}."
	IDS_ERRORID_JOY_STOP			"O serviço de controle do Gamepad/Joystick foi interrompido."
	IDS_ERRORID_JOY_CHANGE_SCENE		"A cena de controle foi alterada pelo gamepad ou joystick para {0}."
	IDS_ERRORID_JOY_CHANGE_CTRL		"O controle {0}/{1} é selecionado com o gamepad ou joystick."

	IDS_ERRORID_COPY_LINK			"Link copiado para a área de transferência."
	IDS_ERRORID_NET_IFACE_NONE		"Sem interfaces de rede"
	IDS_ERRORID_NET_IFACE_SELECT		"Selecione a interface de rede"
	IDS_ERRORID_NONE			"-"
END
