﻿
#define APSTUDIO_READONLY_SYMBOLS
#ifndef APSTUDIO_INVOKED
#include <SDKDDKVer.h>
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#include "CommCtrl.h"
#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "MIDI Easy Control -> Mixer de áudio -> Tradutor MIDI-Mackie"
    IDS_MIXER               "&Misturador"
    IDS_SETTINGS            "&Configurações"
    IDS_START               "Começar"
    IDS_STOP                "Parar"
    IDS_EXIT                "Saída"
    IDS_SETUP_MSG1          "Configuração carregada do driver"
    IDS_SETUP_MSG2          "Configuração carregada do arquivo"
    IDS_SETUP_MSG3          "A configuração foi criada novamente e requer preenchimento"
    IDS_URL_WIKI            "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    IDS_URL_GIT             "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    IDS_URL_WEB             "https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    IDS_URL_ESETUP          "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"
    IDS_START_EXT_FILTER    "Configuração MIDI-MT"
    IDS_CONFIG_EXE_FILTER   "Arquivos executáveis"
    IDS_MQTT_CA_FILTER      "Certificado CA"
    IDS_MIDIMT              "MIDIMT"
    IDS_INFO1               "O tradutor MIDI não está em execução."
    IDS_INFO2               "O tradutor MIDI funciona:"
    IDS_INFO3               "Dispositivo de entrada:"
    IDS_INFO4               "Porta de saída Mackie/Premier:"
    IDS_INFO5               "Porta proxy de saída:"
    IDS_INFO6               "O mixer de áudio está funcionando."
    IDS_INFO7               "O controle de teclas multimídia está em execução, verifique suas configurações."
    IDS_INFO8               "O mixer de áudio não está funcionando, verifique as configurações, o lançamento do painel de áudio deve estar habilitado."
    IDS_INFO9               "ID de evento inválido. Por favor reinicie este aplicativo."
    IDS_INF1O               "Falha ao alternar para thread de UI, inicialização do painel de áudio abortada."
    IDS_INF11               "MIDIMT - O mixer de áudio não está funcionando:"
    IDS_INF12               "MIDIMT - Incapaz de concluir a operação:"
    IDS_INF13               "O gerenciamento de dispositivos Smart Home foi iniciado."
    IDS_INF14               "Foi lançado o controle de iluminação através do protocolo DMX512."
    IDS_INF15               "Foi lançado o controle de iluminação através do protocolo ArtNet."
    IDS_DLG_MSG0            "Instalando o driver MIDI virtual"
    IDS_DLG_MSG1            "Saída MIDI Mackie"
    IDS_DLG_MSG2            "Saída de proxy MIDI"
    IDS_DLG_MSG3            "Versão do driver virtual MIDI:"
    IDS_DLG_MSG4            "O driver Virtual MIDI instalado não foi encontrado! Você deve instalar o pacote Virtual Loop MIDI para executar o tradutor MIDI-MT"
    IDS_DLG_MSG5            "Na inicialização, as portas proxy MIDI serão criadas:"
    IDS_DLG_MSG6            "As portas MIDI Proxy estão desativadas."
    IDS_DLG_MSG7            "O idioma selecionado ficará ativo após a janela ser reiniciada -"
    IDS_DLG_MSG8            "Dispositivo de entrada MIDI atribuído a"
    IDS_DLG_MSG9            "Edite a configuração antes de começar."
    IDS_DLG_MSG10           "Versão do driver Virtual MIDI instalado:"
    IDS_DLG_MSG11           "A configuração selecionada não suporta inicialização automática."
    IDS_DLG_MSG12           "Por favor, antes de iniciar o monitor, inicie a ponte MIDI no menu chamando 'Start'."
    IDS_DLG_MSG13           "Na inicialização, o arquivo de configuração foi especificado: '{0}'. Defini-lo como uma configuração para execuções subsequentes?"
    IDS_DLG_MSG14           "Ao abrir o editor, foi especificado o arquivo de configuração: '{0}'. Salvá-lo com o mesmo nome?"
    IDS_DLG_MSG15           "A execução automática está desabilitada na configuração geral."
    IDS_DLG_MSG16           "Número do canal DMX"
    IDS_DLG_MSG17           "Você precisa instalar o driver Virtual MIDI!"
    IDS_DLG_DMX_NODEV       "Nenhum dispositivo disponível"
    IDS_DLG_ARTNET_NOINT    "Sem interfaces"
    IDS_DLG_DMX_SELDEV      "Selecione o dispositivo DMX"
    IDS_DLG_ARTNET_SELINT   "Selecione a interface ARTNET"
END

STRINGTABLE
BEGIN
    IDM_COL4_MAV            "volume do som (principal)"
    IDM_COL4_MAP            "equilíbrio sonoro (básico)"
    IDM_COL4_MAM            "mudo (principal)"
    IDM_COL4_MAS            "solo de áudio (principal)"
    IDM_COL4_JOG            "JOG (retroceder quadro de vídeo)"
    IDM_COL4_AV1            "volume do som (canal 1)"
    IDM_COL4_AV2            "volume do som (canal 2)"
    IDM_COL4_AV3            "volume do som (canal 3)"
    IDM_COL4_AV4            "volume do som (canal 4)"
    IDM_COL4_AV5            "volume do som (canal 5)"
    IDM_COL4_AV6            "volume do som (canal 6)"
    IDM_COL4_AV7            "volume do som (canal 7)"
    IDM_COL4_AV8            "volume do som (canal 8)"
    IDM_COL4_XV9            "volume do som (canal 9)"
    IDM_COL4_AP1            "equilíbrio de som (canal 1)"
    IDM_COL4_AP2            "equilíbrio de som (canal 2)"
    IDM_COL4_AP3            "equilíbrio de som (canal 3)"
    IDM_COL4_AP4            "equilíbrio de som (canal 4)"
    IDM_COL4_AP5            "equilíbrio de som (canal 5)"
    IDM_COL4_AP6            "equilíbrio de som (canal 6)"
    IDM_COL4_AP7            "equilíbrio de som (canal 7)"
    IDM_COL4_AP8            "equilíbrio de som (canal 8)"
    IDM_COL4_XP9            "equilíbrio de som (canal 9)"
    IDM_COL4_B11            "solo de áudio (canal 1)"
    IDM_COL4_B12            "solo de áudio (canal 2)"
    IDM_COL4_B13            "solo de áudio (canal 3)"
    IDM_COL4_B14            "solo de áudio (canal 4)"
    IDM_COL4_B15            "solo de áudio (canal 5)"
    IDM_COL4_B16            "solo de áudio (canal 6)"
    IDM_COL4_B17            "solo de áudio (canal 7)"
    IDM_COL4_B18            "solo de áudio (canal 8)"
    IDM_COL4_B19            "solo de áudio (canal 9)"
    IDM_COL4_B21            "mudo (canal 1)"
    IDM_COL4_B22            "mudo (canal 2)"
    IDM_COL4_B23            "mudo (canal 3)"
    IDM_COL4_B24            "mudo (canal 4)"
    IDM_COL4_B25            "mudo (canal 5)"
    IDM_COL4_B26            "mudo (canal 6)"
    IDM_COL4_B27            "mudo (canal 7)"
    IDM_COL4_B28            "mudo (canal 8)"
    IDM_COL4_B29            "mudo (canal 9)"
    IDM_COL4_B31            "seleção de som (canal 1)"
    IDM_COL4_B32            "seleção de som (canal 2)"
    IDM_COL4_B33            "seleção de som (canal 3)"
    IDM_COL4_B34            "seleção de som (canal 4)"
    IDM_COL4_B35            "seleção de som (canal 5)"
    IDM_COL4_B36            "seleção de som (canal 6)"
    IDM_COL4_B37            "seleção de som (canal 7)"
    IDM_COL4_B38            "seleção de som (canal 8)"
    IDM_COL4_B39            "seleção de som (canal 9)"
    IDM_COL4_FUN11          "função F1 (modo padrão)"
    IDM_COL4_FUN12          "função F2 (modo padrão)"
    IDM_COL4_FUN13          "função F3 (modo padrão)"
    IDM_COL4_FUN14          "função F4 (modo padrão)"
    IDM_COL4_FUN15          "função F5 (modo padrão)"
    IDM_COL4_FUN16          "função F6 (modo padrão)"
    IDM_COL4_FUN17          "função F7 (modo padrão)"
    IDM_COL4_FUN18          "função F8 (modo padrão)"
    IDM_COL4_FUN21          "função F1 (modo retido)"
    IDM_COL4_FUN22          "função F2 (modo retido)"
    IDM_COL4_FUN23          "função F3 (modo retido)"
    IDM_COL4_FUN24          "função F4 (modo retido)"
    IDM_COL4_FUN25          "função F5 (modo retido)"
    IDM_COL4_FUN26          "função F6 (modo retido)"
    IDM_COL4_FUN27          "função F7 (modo retido)"
    IDM_COL4_FUN28          "função F8 (modo retido)"
    IDM_COL4_SYS_Rewind     "Retroceder (jogador)"
    IDM_COL4_SYS_Forward    "Avanço rápido (jogador)"
    IDM_COL4_SYS_Stop       "Pare (jogador)"
    IDM_COL4_SYS_Play       "Jogar (jogador)"
    IDM_COL4_SYS_Record     "Gravação (reprodutor)"
    IDM_COL4_SYS_Up         "Para cima (joystick)"
    IDM_COL4_SYS_Down       "Para baixo (joystick)"
    IDM_COL4_SYS_Left       "Esquerda (joystick)"
    IDM_COL4_SYS_Right      "Direita (joystick)"
    IDM_COL4_SYS_Zoom       "Aumentar"
    IDM_COL4_SYS_Scrub      "Esfregar"
    IDM_COL4_VOLUMEMIX      "Controle do misturador"
    IDM_COL4_MEDIAKEY       "Teclas multimídia"
    IDM_COL4_MQTTKEY        "Gerenciamento de casa inteligente"
    IDM_COL4_LIGHTKEY8B     "Controle de iluminação (8 bits)"
    IDM_COL4_LIGHTKEY16B    "Controle de iluminação (16 bits)"
    IDM_COL4_NONE           "ação não definida"
    IDM_COL4_MQTT_AV1       "nível 1"
    IDM_COL4_MQTT_AV2       "nível 2"
    IDM_COL4_MQTT_AV3       "nível 3"
    IDM_COL4_MQTT_AV4       "nível 4"
    IDM_COL4_MQTT_AV5       "nível 5"
    IDM_COL4_MQTT_AV6       "nível 6"
    IDM_COL4_MQTT_AV7       "nível 7"
    IDM_COL4_MQTT_AV8       "nível 8"
    IDM_COL4_MQTT_XV9       "nível 9"
    IDM_COL4_MQTT_AP1       "nível 10"
    IDM_COL4_MQTT_AP2       "nível 11"
    IDM_COL4_MQTT_AP3       "nível 12"
    IDM_COL4_MQTT_AP4       "nível 13"
    IDM_COL4_MQTT_AP5       "nível 14"
    IDM_COL4_MQTT_AP6       "nível 15"
    IDM_COL4_MQTT_AP7       "nível 16"
    IDM_COL4_MQTT_AP8       "nível 17"
    IDM_COL4_MQTT_XP9       "nível 18"
    IDM_COL4_MQTT_B11       "ligar/desligar 1"
    IDM_COL4_MQTT_B12       "ligar/desligar 2"
    IDM_COL4_MQTT_B13       "ligar/desligar 3"
    IDM_COL4_MQTT_B14       "ligar/desligar 4"
    IDM_COL4_MQTT_B15       "ligar/desligar 5"
    IDM_COL4_MQTT_B16       "ligar/desligar 6"
    IDM_COL4_MQTT_B17       "ligar/desligar 7"
    IDM_COL4_MQTT_B18       "ligar/desligar 8"
    IDM_COL4_MQTT_B19       "ligar/desligar 9"
    IDM_COL4_MQTT_B21       "ligar/desligar 10"
    IDM_COL4_MQTT_B22       "ligar/desligar 11"
    IDM_COL4_MQTT_B23       "ligar/desligar 12"
    IDM_COL4_MQTT_B24       "ligar/desligar 13"
    IDM_COL4_MQTT_B25       "ligar/desligar 14"
    IDM_COL4_MQTT_B26       "ligar/desligar 15"
    IDM_COL4_MQTT_B27       "ligar/desligar 16"
    IDM_COL4_MQTT_B28       "ligar/desligar 17"
    IDM_COL4_MQTT_B29       "ligar/desligar 18"
    IDM_COL4_MQTT_B31       "ligar/desligar 19"
    IDM_COL4_MQTT_B32       "ligar/desligar 20"
    IDM_COL4_MQTT_B33       "ligar/desligar 21"
    IDM_COL4_MQTT_B34       "ligar/desligar 22"
    IDM_COL4_MQTT_B35       "ligar/desligar 23"
    IDM_COL4_MQTT_B36       "ligar/desligar 24"
    IDM_COL4_MQTT_B37       "ligar/desligar 25"
    IDM_COL4_MQTT_B38       "ligar/desligar 26"
    IDM_COL4_MQTT_B39       "ligar/desligar 27"
    IDM_COL4_MQTT_NONE      "Não atribuído"
    IDM_MQTT_LOG_NONE       "nenhum registro é mantido"
    IDM_MQTT_LOG_INFO       "Informação"
    IDM_MQTT_LOG_NOTICE     "notificações"
    IDM_MQTT_LOG_WARNING    "avisos"
    IDM_MQTT_LOG_ERR        "apenas erros"
    IDM_MQTT_LOG_DEBUG      "todas as mensagens"
END

STRINGTABLE
BEGIN
    IDS_ERRORID_OK          "OK"
    IDS_ERRORID_EMPTY       "<тут пусто>"
    IDS_ERRORID_UNDEFINED   "Este erro é indefinido"
    IDS_ERRORID_JSONCONF_WRITE_ACCESS
                            "O acesso de gravação ao arquivo de configuração foi negado, '{0}'"
    IDS_ERRORID_JSONCONF_READ_ACCESS
                            "Arquivo de configuração ausente ou acesso negado, '{0}'"
    IDS_ERRORID_JSONCONF_EMPTY
                            "O arquivo de configuração está vazio, '{0}'"
    IDS_ERRORID_JSONCONF_NO_DEVICE
                            "O nome do dispositivo MIDI não está configurado."
    IDS_ERRORID_JSONCONF_EMPTY_KEYS
                            "Não há teclas MIDI configuradas nesta configuração."
    IDS_ERRORID_JSONCONF_WRITE_EMPTY
                            "Atenção, esta configuração não possui teclas MIDI configuradas! a configuração gravada não funcionará."
    IDS_ERRORID_INIT_COINITIALIZE
                            "Falha na inicialização do Co*Initialize."
    IDS_ERRORID_INIT_COCREATE
                            "Co*Create - falha ao criar uma instância."
    IDS_ERRORID_INIT_DEFAULT_AE
                            "Falha ao obter o dispositivo de áudio padrão."
    IDS_ERRORID_INIT_AS_MANAGER2
                            "O Gerenciador de sessão de áudio travou."
    IDS_ERRORID_INIT_AS_AUDIOMETER
                            "O medidor de pico de áudio não está disponível."
    IDS_ERRORID_MIXER_STARTOK
                            "O mixer da sessão de áudio está funcionando, no momento do lançamento existem {0} programas em execução disponíveis para regulação."
    IDS_ERRORID_MIXER_STARTERROR
                            "O mixer da sessão de áudio não pôde ser iniciado. Os detalhes do erro devem estar no arquivo de log."
    IDS_ERRORID_MIXER_STOPOK
                            "O mixer da sessão de áudio parou."
    IDS_ERRORID_MIXER_STOPERROR
                            "O mixer da sessão de áudio não foi interrompido corretamente. Os detalhes do erro devem estar no arquivo de log."
    IDS_ERRORID_NO_INIT     "Inicialize antes de chamar isso."
    IDS_ERRORID_SESSION_LIST
                            "Falha ao obter lista de sessões de áudio."
    IDS_ERRORID_LISTISNULL  "A lista de sessões de áudio está vazia!"
    IDS_ERRORID_SESSIONDISCONNECTED
                            "Desativando sessão de áudio, motivo='{0}'"
    IDS_ERRORID_SESSIONCREATED
                            "Sessão de áudio criada, name='{0}'"
    IDS_ERRORID_ITEM_SC_AE  "Sessão de áudio '{0}' - Estado de registro inválido '{1}': {2}/{3}"
    IDS_ERRORID_CBVALUE_BAD_SELECT
                            "O valor definido no retorno de chamada é um seletor inválido."
    IDS_ERRORID_SET_CB_WARNING
                            "Definir um retorno de chamada só é possível após a ponte MIDI ter sido iniciada com sucesso."
    IDS_ERRORID_CONFIG_FAIL "Falha no carregamento da configuração, arquivo não encontrado, inicialização impossível."
    IDS_ERRORID_CONFIG_LOAD "Configuração carregada.."
    IDS_ERRORID_CONFIG_LOADA
                            "A configuração já foi carregada.."
    IDS_ERRORID_CONFIG_EMPTY
                            "A configuração está vazia.."
    IDS_ERRORID_CONFIG_NEW  "Nova versão de configuração detectada.."
    IDS_ERRORID_NOT_IMPLEMENTED
                            "Implementação não suportada no código, método não substituído: {0}"
    IDS_ERRORID_NOT_CONFIG  "O nome da configuração não foi especificado e não pode continuar."
    IDS_ERRORID_NOT_DEVICES "Os dispositivos não estão conectados e não podem continuar."
    IDS_ERRORID_COUNT_DEVICES
                            "Atenção, incompatibilidade no número de dispositivos na lista final, sistema/lista = {0}/{1}"
    IDS_ERRORID_OPEN_MIDI_DEVICE
                            "Não é possível abrir o dispositivo MIDI, não é possível continuar, id = {0}/{1}"
    IDS_ERRORID_START_MIDI_DEVICE
                            "Não é possível iniciar o dispositivo MIDI, não é possível continuar, id = {0}/{1}"
    IDS_ERRORID_DEVICE_NOT_CONNECT
                            "Dispositivo não conectado, anular, id = {0}/{1}"
    IDS_ERRORID_DEVICE_FOUND
                            "Dispositivo {0} encontrado, {1}"
    IDS_ERRORID_DEVICE_OPEN "Dispositivo {0} aberto, {1}"
    IDS_ERRORID_DEVICE_CLOSE
                            "Dispositivo {0} fechado (sistema)"
    IDS_ERRORID_DEVICE_DONE "Dispositivo {0} pronto (sistema)"
    IDS_ERRORID_NOT_DEVICE_NAME
                            "O nome do dispositivo ativo não foi especificado, a continuação é impossível, id = {0}/{1}"
    IDS_ERRORID_NOT_CONFIG_PROXY
                            "As portas proxy não estão especificadas na configuração, o proxy MIDI está desabilitado."
    IDS_ERRORID_DRIVER_VER_OK
                            "Versão do driver [{0}]"
    IDS_ERRORID_DRIVER_VER_ERROR
                            "Problema com a versão do driver [{0}]"
    IDS_ERRORID_SEND_BAD_VALUES
                            "Dispositivo {0} enviou valor inválido = {1}"
    IDS_ERRORID_NOT_DRIVER  "O driver MIDI virtual não está instalado. Você precisa instalar o pacote loopMidi ou baixar o instalador completo e reinstalar o MIDI-MT. Mais detalhes: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
    IDS_ERRORID_MMKEY_START "O serviço Media Key Management está em execução."
    IDS_ERRORID_MMKEY_STOP  "O serviço Media Key Management foi interrompido."
    IDS_ERRORID_MQTT_EMPTY_CONFIG
                            "A configuração do MQTT está vazia e não pode continuar."
    IDS_ERRORID_MQTT_CLIENT_ERROR
                            "Erro ao criar cliente MQTT, cancelando."
    IDS_ERRORID_MQTT_CLIENT_OK
                            "O cliente MMQTT foi criado com sucesso, continue..."
    IDS_ERRORID_MQTT_CONNECTED
                            "Conectado ao servidor MQTT:"
    IDS_ERRORID_MQTT_NOT_CONNECTED
                            "Falha ao conectar ao servidor MQTT:"
    IDS_ERRORID_MQTT_DISCONNECTED
                            "Desconectado do servidor MQTT:"
    IDS_ERRORID_MQTT_NOT_CA_CERT
                            "O arquivo de certificado CA não existe, caminho = '{0}'"
    IDS_ERRORID_MQTT_START  "O serviço de controle Smart Home foi lançado."
    IDS_ERRORID_MQTT_STOP   "O serviço de controle Smart Home foi interrompido."
    IDS_ERRORID_PANEL_INDEX "Painel Mixer de Áudio - Não é possível continuar, os itens do índice estão incorretos."
    IDS_ERRORID_PANEL_INIT  "Painel mixer de áudio - não é possível continuar, erro de inicialização."
    IDS_ERRORID_PANEL_ENABLE
                            "A janela do painel do mixer de áudio não possui o status correto e a próxima operação não pode ser continuada."
    IDS_ERRORID_PANEL_NOT_UI_THREAD
                            "O painel do mixer de áudio não é invocado em um thread de UI e alterações não podem ser feitas."
    IDS_ERRORID_PANEL_NOT_ITEM_VALID
                            "O painel do mixer de áudio detectou um elemento inválido e a criação da janela do painel foi abortada."
    IDS_ERRORID_LIGHT_DMX_START
                            "O serviço de controle de iluminação DMX é iniciado usando COM{0} - {1}."
    IDS_ERRORID_LIGHT_DMX_NOT_COM
                            "O serviço de controle de iluminação DMX não está em execução, o dispositivo COM{0} não está conectado."
    IDS_ERRORID_LIGHT_DMX_NOT_CONFIG
                            "O serviço de controle de iluminação DMX não está em execução e a configuração do serviço não foi preenchida."
    IDS_ERRORID_LIGHT_DMX_STOP
                            "O serviço de controle de iluminação DMX foi interrompido."
    IDS_ERRORID_LIGHT_ARTNET_START
                            "O serviço de controle de iluminação ArtNet está sendo executado usando o endereço de transmissão {0}:{1} na rede {2}."
    IDS_ERRORID_LIGHT_ARTNET_NOT_COM
                            "O serviço de controle de iluminação ArtNet não está em execução, rede {0} não encontrada."
    IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG
                            "O serviço de controle de iluminação ArtNet não está em execução, a configuração do serviço não está preenchida."
    IDS_ERRORID_LIGHT_ARTNET_STOP
                            "O serviço de controle de iluminação ArtNet foi interrompido."
    IDS_ERRORID_NONE        "-"
END
