#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Arquivos mais recentes:"
	STR_RB_TABHOMEL			"Edição"
	STR_RB_TABFILTERL		"Filtros"
	STR_RB_PANEL_EDITMAINL		"editar chave MIDI"
	STR_RB_PANEL_EDITSETL		"Grupo de teclas MIDI"
	STR_RB_PANEL_EDITOPTL		"opções do editor"
	STR_RB_PANEL_FILTERL		"seleção de filtros de visualização"
	STR_RB_PANEL_SORTL		"Ordenação"
	STR_RB_MENUL			"&Cardápio"
	STR_RB_MENUT			"Menu de aplicativos"
	STR_RB_PANEL_QATL		"&Acesso rápido"
	STR_RB_PANEL_QATT		"Barra de acesso rápido"
	STR_RB_DIALOG_SAVEL		"&Salvar"
	STR_RB_DIALOG_SAVET		"Salvar e aplicar"
	STR_RB_DIALOG_SAVED		"Salve no arquivo baixado anteriormente e atualize a configuração atual."
	STR_RB_DIALOG_EXPORTL		"&Exportar"
	STR_RB_DIALOG_EXPORTT		"Exportar para um novo arquivo"
	STR_RB_DIALOG_EXPORTD		"Exporte a configuração editada para um novo arquivo."
	STR_RB_DIALOG_IMPORTL		"&Importar"
	STR_RB_DIALOG_IMPORTT		"Importar do arquivo"
	STR_RB_DIALOG_IMPORTD		"Importar configuração do arquivo."
	STR_RB_DIALOG_EXITL		"&Saída"
	STR_RB_DIALOG_EXITT		"Sair do editor"
	STR_RB_DIALOG_EXITD		"Sai do MIDI Key Configuration Editor; se as alterações não forem salvas, elas serão perdidas."
	STR_RB_LV_NEWL			"&Nova tecla MIDI"
	STR_RB_LV_NEWT			"Nova chave MIDI"
	STR_RB_LV_NEWD			"Criando uma nova chave MIDI."
	STR_RB_LV_COPYL			"&Cópia de"
	STR_RB_LV_COPYT			"Copiar chave MIDI"
	STR_RB_LV_COPYD			"Copie a entrada de chave MIDI selecionada."
	STR_RB_LV_PASTEL		"&Inserir"
	STR_RB_LV_PASTET		"Inserir chave"
	STR_RB_LV_PASTED		"Cole a chave MIDI copiada."
	STR_RB_LV_DELETEL		"&Excluir"
	STR_RB_LV_DELETET		"Excluir chave"
	STR_RB_LV_DELETED		"Exclua a entrada de chave MIDI selecionada."
	STR_RB_LV_SET_MQTTL		"Casa inteligente"
	STR_RB_LV_SET_MQTTT		"Defina o grupo como “Smart Home”."
	STR_RB_LV_SET_MQTTD		"Atribua a tecla MIDI selecionada ao grupo “Smart Home”."
	STR_RB_LV_SET_MMKEYL		"Botões multimídia"
	STR_RB_LV_SET_MMKEYT		"Defina o grupo como “Botões Multimídia”"
	STR_RB_LV_SET_MMKEYD		"Atribua a tecla MIDI selecionada ao grupo “Botões multimídia”."
	STR_RB_LV_SET_MIXERL		"Misturador de áudio"
	STR_RB_LV_SET_MIXERT		"Definir grupo como “Misturador de Áudio”"
	STR_RB_LV_SET_MIXERD		"Atribua a tecla MIDI selecionada ao grupo “Audio Mixer”."
	STR_RB_LV_READ_MIDI_CODEL	"Leia o código MIDI"
	STR_RB_LV_READ_MIDI_CODET	"Leia o código de controle MIDI"
	STR_RB_LV_READ_MIDI_CODED	"Leia o código MIDI de uma superfície de controle ou teclado MIDI."
	STR_RB_LV_EDIT_MODEL		"Apenas entrada digital"
	STR_RB_LV_EDIT_MODET		"Use apenas entrada digital"
	STR_RB_LV_EDIT_MODED		"Não utilize o menu de seleção de valores, utilize apenas a entrada digital."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"Painel de controle MIDI"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Configurações recomendadas"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Configurações recomendadas do painel de controle MIDI compatíveis com os controles do Adobe Premiere Pro."
	STR_RB_LV_FILTER_EMBEDL		"Filtros integrados"
	STR_RB_LV_FILTER_KEYL		"Chave"
	STR_RB_LV_FILTER_KEYT		"Filtrar por chave MIDI"
	STR_RB_LV_FILTER_KEYD		"Mostrar apenas correspondências dentro de um grupo de teclas MIDI."
	STR_RB_LV_FILTER_SCENEL		"Cena"
	STR_RB_LV_FILTER_SCENET		"Filtrar por cena MIDI"
	STR_RB_LV_FILTER_SCENED		"Mostrar apenas correspondências no grupo de cenas MIDI."
	STR_RB_LV_FILTER_TARGETL	"Objetivo 1"
	STR_RB_LV_FILTER_TARGETT	"Filtrar por destino 1"
	STR_RB_LV_FILTER_TARGETD	"Mostrar apenas correspondências no grupo-alvo 1."
	STR_RB_LV_FILTER_TARGETLONGL	"Objetivo 2"
	STR_RB_LV_FILTER_TARGETLONGT	"Filtrar por destino 2"
	STR_RB_LV_FILTER_TARGETLONGD	"Mostrar apenas correspondências no grupo-alvo 2."
	STR_RB_LV_FILTER_CLEARL		"Limpar filtros"
	STR_RB_LV_FILTER_CLEART		"Limpeza de filtros"
	STR_RB_LV_FILTER_CLEARD		"Filtros completamente limpos, todas as entradas serão mostradas."
	STR_RB_LV_FILTER_SETL		"Definir filtro"
	STR_RB_LV_FILTER_SETT		"Instalação de filtro"
	STR_RB_LV_FILTER_SETD		"Definir o filtro mostra todos os itens inválidos."
	STR_RB_LV_FILTER_ONL		"Aplicar filtro"
	STR_RB_LV_FILTER_ONT		"Aplicando um filtro"
	STR_RB_LV_FILTER_OND		"A aplicação de um filtro mostra os itens selecionados."
	STR_RB_LV_FILTER_OFFL		"Cancelar filtro"
	STR_RB_LV_FILTER_OFFT		"Cancelar filtro"
	STR_RB_LV_FILTER_OFFD		"Cancelar o filtro mostrará todos os itens."
	STR_RB_LV_FILTER_MMKEYL		"Mostrar “Botões Multimídia”"
	STR_RB_LV_FILTER_MMKEYT		"Filtrar por grupo “Botões multimídia”"
	STR_RB_LV_FILTER_MMKEYD		"A aplicação de um filtro mostrará os membros do grupo Botões Multimídia."
	STR_RB_LV_FILTER_MIXERL		"Mostrar “Misturador de Áudio”"
	STR_RB_LV_FILTER_MIXERT		"Filtrar por grupo “Misturador de Áudio”"
	STR_RB_LV_FILTER_MIXERD		"Aplicar um filtro mostrará os membros do grupo Audio Mixer."
	STR_RB_LV_FILTER_MQTTL		"Mostrar “Casa Inteligente”"
	STR_RB_LV_FILTER_MQTTT		"Filtrar por grupo “Casa Inteligente”"
	STR_RB_LV_FILTER_MQTTD		"A aplicação de um filtro mostrará os membros do grupo Smart Home."
	STR_RB_LV_FILTER_LIGHT8L	"Mostrar “Iluminação de 8 bits”"
	STR_RB_LV_FILTER_LIGHT8T	"Filtrar por grupo “Iluminação 8 bits”"
	STR_RB_LV_FILTER_LIGHT8D	"A aplicação do filtro mostrará os membros do grupo Lighting com canais de 8 bits."
	STR_RB_LV_FILTER_LIGHT16L	"Mostrar “iluminação de 16 bits”"
	STR_RB_LV_FILTER_LIGHT16T	"Filtrar por grupo “iluminação de 16 bits”"
	STR_RB_LV_FILTER_LIGHT16D	"A aplicação do filtro mostrará os membros do grupo Lighting com canais de 16 bits."
	STR_RB_LV_FILTER_SCRIPTL	"Mostrar “Scripts”"
	STR_RB_LV_FILTER_SCRIPTT	"Filtrar por grupo “Scripts” ChaiScript"
	STR_RB_LV_FILTER_SCRIPTD	"A aplicação de um filtro mostrará os membros do grupo Scripts."
	STR_RB_LV_FILTER_TYPEBTNL	"Tipo de filtro"
	STR_RB_LV_FILTER_TYPEBTNT	"Configurando o tipo de filtros a serem aplicados"
	STR_RB_LV_FILTER_TYPEBTND	"Os tipos de filtros utilizados possuem dois estados lógicos: “AND”, “OR”."
	STR_RB_LV_FILTER_TYPEGRPL	"Selecionando um tipo de filtro"
	STR_RB_LV_FILTER_TYPEORL	"Mostrar quaisquer correspondências"
	STR_RB_LV_FILTER_TYPEORT	"Mostrar entradas com qualquer correspondência"
	STR_RB_LV_FILTER_TYPEORD       	"O filtro tem um estado lógico AND e mostra todas as correspondências."
	STR_RB_LV_FILTER_TYPEANDL	"Mostrar apenas correspondências completas"
	STR_RB_LV_FILTER_TYPEANDT	"Mostrar registros apenas com correspondências exatas"
	STR_RB_LV_FILTER_TYPEANDD	"O filtro tem um estado lógico OR e mostra apenas correspondências completas."
	STR_RB_LV_FILTER_AUTOCOMMITL	"Envio automático de dados no filtro"
	STR_RB_LV_FILTER_AUTOCOMMITT	"Envio automático dos valores inseridos no filtro"
	STR_RB_LV_FILTER_AUTOCOMMITD	"Envia automaticamente os valores de entrada em um filtro integrado."
	STR_RB_LV_EXT_MODEL		"Mostrar classificação"
	STR_RB_LV_SORTUP_KEYL		"por chave"
	STR_RB_LV_SORTUP_KEYT		"Classifique por ordem crescente e tecla MIDI."
	STR_RB_LV_SORTUP_SCENEL		"ao redor do palco"
	STR_RB_LV_SORTUP_SCENET		"Classificando por cena ascendente e MIDI."
	STR_RB_LV_SORTUP_TARGETL	"por marcação 1"
	STR_RB_LV_SORTUP_TARGETT	"Classifique por ordem crescente e destino MIDI 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"por marcação 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Classificando por destino MIDI e ascendente 2."
	STR_RB_LV_SORTDOWN_KEYT		"Classifique por ordem decrescente e tecla MIDI."
	STR_RB_LV_SORTDOWN_SCENET	"Classificando por ordem decrescente e cena MIDI."
	STR_RB_LV_SORTDOWN_TARGETT	"Classificando por ordem decrescente e destino MIDI 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Classificando por ordem decrescente e destino MIDI 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Exportar para MQTT"
	STR_RB_DIALOG_EXPORTMQTTT	"Exportar configuração MQTT"
	STR_RB_DIALOG_EXPORTMQTTD	"Exporte a configuração DMX512/ARTNET para um novo arquivo."
	STR_RB_PANEL_EDITUTILL		"Ferramentas"
	STR_RB_LV_SET_BUTTONL		"Atribuir chave MIDI"
	STR_RB_LV_SET_BUTTONT		"Atribuir tecla MIDI selecionada"
	STR_RB_LV_SET_BUTTOND		"Defina a tecla MIDI selecionada como membro do grupo."
	STR_RB_LV_SET_LIGHT8L		"Iluminação 8 bits"
	STR_RB_LV_SET_LIGHT8T		"Defina o grupo como “Iluminação de 8 bits”"
	STR_RB_LV_SET_LIGHT8D		"Atribua a tecla MIDI selecionada ao grupo “Lighting 8 Bit”."
	STR_RB_LV_SET_LIGHT16L		"Iluminação 16 bits"
	STR_RB_LV_SET_LIGHT16T		"Definir grupo como “Iluminação de 16 bits”"
	STR_RB_LV_SET_LIGHT16D		"Atribua a tecla MIDI selecionada ao grupo “Lighting 16-bit”."
	STR_RB_LV_SET_SCRIPTL		"Cenários"
	STR_RB_LV_SET_SCRIPTT		"Definir grupo como “Scripts”"
	STR_RB_LV_SET_SCRIPTD		"Atribua a tecla MIDI selecionada ao grupo “Scripts”."
	STR_RB_DIALOG_SHOWDUPL		"Mostrar duplicatas"
	STR_RB_DIALOG_SHOWDUPT		"Encontre chaves MIDI duplicadas"
	STR_RB_DIALOG_SHOWDUPD		"Procure por chaves MIDI duplicadas; se elas estiverem presentes, poderá ocorrer um comportamento inesperado."

	STR_RB_DIALOG_DELDUPL		"Remover duplicatas"
	STR_RB_DIALOG_DELDUPT		"Remova possíveis chaves MIDI duplicadas"
	STR_RB_DIALOG_DELDUPD		"Encontrar e remover chaves MIDI duplicadas, se houver duplicatas, pode não funcionar conforme o esperado."
END
