
#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>
#include "resource.h"

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"
#include "..\..\Common\rc\resource_lang.rc"

#include "..\..\Languages\MIDIMTxRU\RibbonDialogEditxRU.rc"
#include "..\..\Languages\MIDIMTxRU\MIDIMT_STRINGxRU.rc"
#include "..\..\Languages\MIDIMTxRU\MIDIMT_MENUxRU.rc"
#include "..\..\Languages\MIDIMTxRU\MIDIMT_FORMxRU.rc"

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(65001)


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDC_MIDIMT_ACCEL ACCELERATORS
BEGIN
    "?",            IDM_GO_ABOUT,           ASCII,  ALT
    "/",            IDM_GO_ABOUT,           ASCII,  ALT
END

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

ICON_APP_MIDIMT			ICON	"ico\\MIDIMT.ico"
ICON_APP_MIDIMT_SMALL		ICON	"ico\\MIDIMTsmall.ico"
ICON_APP_ICON_FOLDER		ICON	"ico\\AkarFolder.ico"
ICON_APP_ICON_RUNAPP		ICON	"ico\\AkarFolderplus.ico"
ICON_APP_ICON_REMOVE		ICON	"ico\\AkarCirclex.ico"
ICON_APP_ICON_SOUNDON		ICON	"ico\\AkarSoundon.ico"
ICON_APP_ICON_SOUNDOFF		ICON	"ico\\AkarSoundoff.ico"
ICON_APP_ICON_SETUP1		ICON	"ico\\AkarDots.ico"
ICON_APP_ICON_SETUP2		ICON	"ico\\AkarFile.ico"
ICON_APP_ICON_SETUP3		ICON	"ico\\AkarSliderHorizontal.ico"
ICON_APP_ICON_MENUH_LIGHT	ICON	"ico\\AkarMenuLight.ico"
ICON_APP_ICON_MENUH_DARK	ICON	"ico\\AkarMenuDark.ico"
ICON_APP_ICON_INFO		ICON	"ico\\AkarInfo.ico"
ICON_APP_ICON_LV1		ICON	"ico\\LV1.ico"
ICON_APP_ICON_LV2		ICON	"ico\\LV2.ico"
ICON_APP_ICON_LV3		ICON	"ico\\LV3.ico"
ICON_APP_ICON_LV4		ICON	"ico\\LV4.ico"
ICON_APP_ICON_LV5		ICON	"ico\\LV5.ico"
ICON_APP_ICON_LV6		ICON	"ico\\LV6.ico"
ICON_APP_ICON_LV7		ICON	"ico\\LV7.ico"
ICON_APP_ICON_LV8		ICON	"ico\\LV8.ico"
ICON_APP_ICON_LV9		ICON	"ico\\LV9.ico"
ICON_APP_MMENU_I0		ICON	"ico\\AkarMenuNone.ico"
ICON_APP_MMENU_I1		ICON	"ico\\AkarMenuNotify.ico"
ICON_APP_MMENU_I2		ICON	"ico\\AkarMenuMixer.ico"
ICON_APP_MMENU_I3		ICON	"ico\\AkarMenuMonitor.ico"
ICON_APP_MMENU_I4		ICON	"ico\\AkarMenuMidiSetup.ico"
ICON_APP_MMENU_I6		ICON	"ico\\AkarMenuPlay.ico"
ICON_APP_MMENU_I7		ICON	"ico\\AkarMenuStop.ico"
ICON_APP_MMENU_I9		ICON	"ico\\AkarMenuExit.ico"
ICON_APP_MMENU_I10		ICON	"ico\\AkarStatisticUp.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VER_MAJOR,VER_MINOR,VER_SUB,VER_BUILD
 PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_SUB,VER_BUILD
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904b0"
        BEGIN
            VALUE "CompanyName", "CC"
            VALUE "FileDescription", VER_EXE_DESC
            VALUE "FileVersion", VER_TXT
            VALUE "InternalName", "MIDIMT.exe"
            VALUE "LegalCopyright", VER_COPYRIGHT
            VALUE "OriginalFilename", "MIDIMT.exe"
            VALUE "ProductName", VER_DLL_NAME
            VALUE "ProductVersion", VER_TXT
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////

SPRITE_KNOB_METRO_ENABLED	PNG	"sprites\\metro-enabled.png"
SPRITE_KNOB_METRO_DISABLED	PNG	"sprites\\metro-disabled.png"
SPRITE_KNOB_DARK_ENABLED	PNG	"sprites\\dark-enabled.png"
SPRITE_KNOB_DARK_DISABLED	PNG	"sprites\\dark-disabled.png"
SPRITE_KNOB_LIGHT_ENABLED	PNG	"sprites\\light-enabled.png"
SPRITE_KNOB_LIGHT_DISABLED	PNG	"sprites\\light-disabled.png"
SPRITE_KNOB_MODERN_ENABLED	PNG	"sprites\\modern-enabled.png"
SPRITE_KNOB_MODERN_DISABLED	PNG	"sprites\\modern-disabled.png"
SPRITE_KNOB_RETRO_ENABLED	PNG	"sprites\\retro-enabled.png"
SPRITE_KNOB_RETRO_DISABLED	PNG	"sprites\\retro-disabled.png"

/////////////////////////////////////////////////////////////////////////////
