#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_CROATIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT prevoditelj"
    STRING_MIXER	"&Mikser"
    STRING_SETTINGS	"&Postavke"
    STRING_START	"Početak"
    STRING_STOP		"Stop"
    STRING_EXIT		"Izlaz "

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Konfiguracija učitana iz upravljačkog programa"
    STRING_EDIT_MSG2	"Konfiguracija učitana iz datoteke"
    STRING_EDIT_MSG3	"Konfiguracija je izrađena nanovo i zahtijeva popunjavanje"
    STRING_EDIT_MSG4	"Prilikom otvaranja uređivača navedena je konfiguracijska datoteka: '{0}'. Spremiti pod istim imenom?"
    STRING_EDIT_MSG5	"Broj DMX kanala"

    STRING_NOTIFY_MSG1	"prevoditelj je zaustavljen:"
    STRING_NOTIFY_MSG2	"prevoditelj radi:"

    STRING_AMIX_MSG1	"Audio mikser ne radi, provjerite postavke, pokretanje audio ploče mora biti omogućeno."
    STRING_AMIX_MSG2	"MIDIMT - Audio mikser ne radi:"
    STRING_AMIX_MSG3	"Nevažeći ID događaja. Molimo ponovno pokrenite ovu aplikaciju."
    STRING_AMIX_MSG4	"MIDIMT - Nije moguće dovršiti operaciju:"
    STRING_AMIX_MSG5	"Nije uspjelo prebacivanje na nit korisničkog sučelja, pokretanje audio ploče prekinuto."

    STRING_MAIN_MSG1	"Pogreška pri inicijalizaciji aplikacije, nastavak nije moguć."
    STRING_MAIN_MSG2	"Provjerite dopuštenja korisnika za pisanje datoteka u direktoriju aplikacije. Ako se pogreška nastavi, pokušajte onemogućiti bilježenje."
    STRING_MAIN_MSG3	"Automatsko pokretanje je onemogućeno u općoj konfiguraciji."
    STRING_MAIN_MSG4	"Odabrana konfiguracija ne podržava automatsko pokretanje."

    STRING_LOGV_MSG1	"Prije pokretanja monitora pokrenite prevoditelj iz izbornika odabirom 'Start'."
    STRING_LOGV_MSG2	"Sve postavke '{0}', verzija konfiguracijske datoteke: {1}"
    STRING_LOGV_MSG3	"MIDI postavke"
    STRING_LOGV_MSG4	"Postavke pametnog doma (MQTT)"
    STRING_LOGV_MSG5	"Postavke multimedijske tipkovnice (MMKEYS)"
    STRING_LOGV_MSG6	"Postavke upravljanja rasvjetom ({0})"
    STRING_LOGV_MSG7	"Postavke daljinske upravljačke ploče (REMOTE)"
    STRING_LOGV_MSG8	"Postavke kontrole gamepada/džojstika (GAMEPAD)"
    STRING_LOGV_MSG9	"MIDI tipka pritisnuta:"
    STRING_LOGV_MSG10	"Broj oznake:"

    STRING_CHKR_MSG1	"Prilikom pokretanja, konfiguracijska datoteka je navedena: '{0}'. Postaviti to kao konfiguraciju za sljedeća izvođenja?"
    STRING_CHKR_MSG2	"MIDI-MT konfiguracija"

    STRING_TMENU_MSG1	"Morate instalirati Virtual MIDI driver!"

    STRING_LANG_STATUS	"status:"
    STRING_LANG_YES	"Da"
    STRING_LANG_NO	"Ne"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "glasnoća zvuka (glavna)"
	IDM_COL4_MAP  "balans zvuka (osnovni)"
	IDM_COL4_MAM  "utišati (glavni)"
	IDM_COL4_MAS  "audio solo (glavni)"
	IDM_COL4_JOG  "JOG (premotavanje okvira videa unatrag)"
	IDM_COL4_AV1  "glasnoća zvuka (kanal 1)"
	IDM_COL4_AV2  "glasnoća zvuka (kanal 2)"
	IDM_COL4_AV3  "glasnoća zvuka (kanal 3)"
	IDM_COL4_AV4  "glasnoća zvuka (kanal 4)"
	IDM_COL4_AV5  "glasnoća zvuka (kanal 5)"
	IDM_COL4_AV6  "glasnoća zvuka (kanal 6)"
	IDM_COL4_AV7  "glasnoća zvuka (kanal 7)"
	IDM_COL4_AV8  "glasnoća zvuka (kanal 8)"
	IDM_COL4_XV9  "glasnoća zvuka (kanal 9)"
	IDM_COL4_AP1  "balans zvuka (kanal 1)"
	IDM_COL4_AP2  "balans zvuka (kanal 2)"
	IDM_COL4_AP3  "balans zvuka (kanal 3)"
	IDM_COL4_AP4  "balans zvuka (kanal 4)"
	IDM_COL4_AP5  "balans zvuka (kanal 5)"
	IDM_COL4_AP6  "balans zvuka (kanal 6)"
	IDM_COL4_AP7  "balans zvuka (kanal 7)"
	IDM_COL4_AP8  "balans zvuka (kanal 8)"
	IDM_COL4_XP9  "balans zvuka (kanal 9)"
	IDM_COL4_B11  "audio solo (kanal 1)"
	IDM_COL4_B12  "audio solo (kanal 2)"
	IDM_COL4_B13  "audio solo (kanal 3)"
	IDM_COL4_B14  "audio solo (kanal 4)"
	IDM_COL4_B15  "audio solo (kanal 5)"
	IDM_COL4_B16  "audio solo (kanal 6)"
	IDM_COL4_B17  "audio solo (kanal 7)"
	IDM_COL4_B18  "audio solo (kanal 8)"
	IDM_COL4_B19  "audio solo (kanal 9)"
	IDM_COL4_B21  "isključi zvuk (kanal 1)"
	IDM_COL4_B22  "isključi zvuk (kanal 2)"
	IDM_COL4_B23  "isključi zvuk (kanal 3)"
	IDM_COL4_B24  "isključi zvuk (kanal 4)"
	IDM_COL4_B25  "isključi zvuk (kanal 5)"
	IDM_COL4_B26  "isključi zvuk (kanal 6)"
	IDM_COL4_B27  "isključi zvuk (kanal 7)"
	IDM_COL4_B28  "isključi zvuk (kanal 8)"
	IDM_COL4_B29  "isključi zvuk (kanal 9)"
	IDM_COL4_B31  "odabir zvuka (kanal 1)"
	IDM_COL4_B32  "odabir zvuka (kanal 2)"
	IDM_COL4_B33  "odabir zvuka (kanal 3)"
	IDM_COL4_B34  "odabir zvuka (kanal 4)"
	IDM_COL4_B35  "odabir zvuka (kanal 5)"
	IDM_COL4_B36  "odabir zvuka (kanal 6)"
	IDM_COL4_B37  "odabir zvuka (kanal 7)"
	IDM_COL4_B38  "odabir zvuka (kanal 8)"
	IDM_COL4_B39  "odabir zvuka (kanal 9)"
	IDM_COL4_FUN11  "funkcija F1 (standardni način)"
	IDM_COL4_FUN12  "funkcija F2 (standardni način)"
	IDM_COL4_FUN13  "funkcija F3 (standardni način)"
	IDM_COL4_FUN14  "funkcija F4 (standardni način)"
	IDM_COL4_FUN15  "funkcija F5 (standardni način)"
	IDM_COL4_FUN16  "funkcija F6 (standardni način)"
	IDM_COL4_FUN17  "funkcija F7 (standardni način)"
	IDM_COL4_FUN18  "funkcija F8 (standardni način)"
	IDM_COL4_FUN21  "funkcija F1 (zadržani način)"
	IDM_COL4_FUN22  "funkcija F2 (način zadržavanja)"
	IDM_COL4_FUN23  "funkcija F3 (zadržani način)"
	IDM_COL4_FUN24  "funkcija F4 (način zadržavanja)"
	IDM_COL4_FUN25  "funkcija F5 (zadržani način)"
	IDM_COL4_FUN26  "funkcija F6 (zadržani način)"
	IDM_COL4_FUN27  "funkcija F7 (zadržani način)"
	IDM_COL4_FUN28  "funkcija F8 (zadržani način)"
	IDM_COL4_SYS_Rewind  "Premotaj unatrag (igrač)"
	IDM_COL4_SYS_Forward  "Premotaj naprijed (igrač)"
	IDM_COL4_SYS_Stop  "Stop (igrač)"
	IDM_COL4_SYS_Play  "Igraj (igrač)"
	IDM_COL4_SYS_Record  "Snimanje (player)"
	IDM_COL4_SYS_Up    "gore (džojstik)"
	IDM_COL4_SYS_Down  "Dolje (džojstik)"
	IDM_COL4_SYS_Left  "Lijevo (joystick)"
	IDM_COL4_SYS_Right  "desno (joystick)"
	IDM_COL4_SYS_Zoom  "Povećati"
	IDM_COL4_SYS_Scrub  "Pročišćavati"
	IDM_COL4_VOLUMEMIX "Kontrola miješalice"
	IDM_COL4_MEDIAKEY "Multimedijske tipke"
        IDM_COL4_MQTTKEY  "Upravljanje pametnim domom"
        IDM_COL4_LIGHTKEY8B "Kontrola rasvjete (8 bita)"
        IDM_COL4_LIGHTKEY16B "Kontrola rasvjete (16 bita)"
	IDM_COL4_VMSCRIPT "Upravljanje skriptama"
	IDM_COL4_NONE  "akcija nije definirana"
	IDM_COL5_MQTT_AV1		"razina 1"
	IDM_COL5_MQTT_AV2		"razina 2"
	IDM_COL5_MQTT_AV3		"razina 3"
	IDM_COL5_MQTT_AV4		"razina 4"
	IDM_COL5_MQTT_AV5		"razina 5"
	IDM_COL5_MQTT_AV6		"razina 6"
	IDM_COL5_MQTT_AV7		"razina 7"
	IDM_COL5_MQTT_AV8		"razina 8"
	IDM_COL5_MQTT_XV9		"razina 9"
	IDM_COL5_MQTT_AP1		"razina 10"
	IDM_COL5_MQTT_AP2		"razina 11"
	IDM_COL5_MQTT_AP3		"razina 12"
	IDM_COL5_MQTT_AP4		"razina 13"
	IDM_COL5_MQTT_AP5		"razina 14"
	IDM_COL5_MQTT_AP6		"razina 15"
	IDM_COL5_MQTT_AP7		"razina 16"
	IDM_COL5_MQTT_AP8		"razina 17"
	IDM_COL5_MQTT_XP9		"razina 18"
	IDM_COL5_MQTT_B11		"uključeno/isključeno 1"
	IDM_COL5_MQTT_B12		"uključeno/isključeno 2"
	IDM_COL5_MQTT_B13		"uključeno/isključeno 3"
	IDM_COL5_MQTT_B14		"uključivanje/isključivanje 4"
	IDM_COL5_MQTT_B15		"uključeno/isključeno 5"
	IDM_COL5_MQTT_B16		"uključivanje/isključivanje 6"
	IDM_COL5_MQTT_B17		"uključivanje/isključivanje 7"
	IDM_COL5_MQTT_B18		"uključivanje/isključivanje 8"
	IDM_COL5_MQTT_B19		"uključeno/isključeno 9"
	IDM_COL5_MQTT_B21		"uključeno/isključeno 10"
	IDM_COL5_MQTT_B22		"uključeno/isključeno 11"
	IDM_COL5_MQTT_B23		"uključivanje/isključivanje 12"
	IDM_COL5_MQTT_B24		"uključeno/isključeno 13"
	IDM_COL5_MQTT_B25		"uključeno/isključeno 14"
	IDM_COL5_MQTT_B26		"uključeno/isključeno 15"
	IDM_COL5_MQTT_B27		"uključeno/isključeno 16"
	IDM_COL5_MQTT_B28		"uključeno/isključeno 17"
	IDM_COL5_MQTT_B29		"uključeno/isključeno 18"
	IDM_COL5_MQTT_B31		"uključeno/isključeno 19"
	IDM_COL5_MQTT_B32		"uključeno/isključeno 20"
	IDM_COL5_MQTT_B33		"uključeno/isključeno 21"
	IDM_COL5_MQTT_B34		"uključeno/isključeno 22"
	IDM_COL5_MQTT_B35		"uključeno/isključeno 23"
	IDM_COL5_MQTT_B36		"uključeno/isključeno 24"
	IDM_COL5_MQTT_B37		"uključeno/isključeno 25"
	IDM_COL5_MQTT_B38		"uključeno/isključeno 26"
	IDM_COL5_MQTT_B39		"uključeno/isključeno 27"
	IDM_COL5_MQTT_EMPTY		"Nije dodijeljeno"
	IDM_COL5_SCRIPT_B11		"skripta 1"
	IDM_COL5_SCRIPT_B12		"skripta 2"
	IDM_COL5_SCRIPT_B13		"skripta 3"
	IDM_COL5_SCRIPT_B14		"skripta 4"
	IDM_COL5_SCRIPT_B15		"skripta 5"
	IDM_COL5_SCRIPT_B16		"skripta 6"
	IDM_COL5_SCRIPT_B17		"skripta 7"
	IDM_COL5_SCRIPT_B18		"skripta 8"
	IDM_COL5_SCRIPT_B19		"skripta 9"
	IDM_COL5_SCRIPT_B21		"skripta 10"
	IDM_COL5_SCRIPT_B22		"skripta 11"
	IDM_COL5_SCRIPT_B23		"skripta 12"
	IDM_COL5_SCRIPT_B24		"skripta 13"
	IDM_COL5_SCRIPT_B25		"skripta 14"
	IDM_COL5_SCRIPT_B26		"skripta 15"
	IDM_COL5_SCRIPT_B27		"skripta 16"
	IDM_COL5_SCRIPT_B28		"scenarij 17"
	IDM_COL5_SCRIPT_B29		"scenarij 18"
	IDM_COL5_SCRIPT_B31		"skripta 19"
	IDM_COL5_SCRIPT_B32		"skripta 20"
	IDM_COL5_SCRIPT_B33		"skripta 21"
	IDM_COL5_SCRIPT_B34		"skripta 22"
	IDM_COL5_SCRIPT_B35		"skripta 23"
	IDM_COL5_SCRIPT_B36		"skripta 24"
	IDM_COL5_SCRIPT_B37		"skripta 25"
	IDM_COL5_SCRIPT_B38		"skripta 26"
	IDM_COL5_SCRIPT_B39		"skripta 27"
	IDM_COL5_SCRIPT_EMPTY		"Nije dodijeljeno"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"u redu"
	IDS_ERRORID_EMPTY			"[Konfiguracija je prazna..]"
	IDS_ERRORID_UNDEFINED			"Ova greška je nedefinirana"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Pristup za pisanje u konfiguracijsku datoteku je odbijen, '{0}'"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Konfiguracijska datoteka nedostaje ili je pristup odbijen, '{0}'"
	IDS_ERRORID_JSONCONF_EMPTY		"Konfiguracijska datoteka je prazna, '{0}'"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"Naziv MIDI uređaja nije konfiguriran."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"Nema MIDI tipki konfiguriranih u ovoj konfiguraciji."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Pažnja, ova konfiguracija nema konfigurirane MIDI tipke! snimljena konfiguracija neće raditi."
	IDS_ERRORID_INIT_COINITIALIZE		"Co*Initialize inicijalizacija nije uspjela."
	IDS_ERRORID_INIT_COCREATE		"Co*Create - nije uspjelo kreirati instancu."
	IDS_ERRORID_INIT_DEFAULT_AE		"Dohvaćanje zadanog audiouređaja nije uspjelo."
	IDS_ERRORID_INIT_AS_MANAGER2		"Audio Session Manager se srušio."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Mjerač zvuka nije dostupan."
	IDS_ERRORID_MIXER_STARTOK		"Mikser audio sesije radi, u vrijeme pokretanja postoji {0} pokrenutih programa dostupnih za regulaciju."
	IDS_ERRORID_MIXER_STARTERROR		"Mikser audio sesije nije mogao biti pokrenut, pojedinosti o grešci bi trebale biti u datoteci dnevnika."
	IDS_ERRORID_MIXER_STOPOK		"Mikser audio sesije je zaustavljen."
	IDS_ERRORID_MIXER_STOPERROR		"Mikser audio sesije nije pravilno zaustavljen, detalji o pogrešci trebali bi biti u datoteci dnevnika."
	IDS_ERRORID_NO_INIT			"Inicijaliziraj prije pozivanja ovoga.."
	IDS_ERRORID_SESSION_LIST		"Dohvaćanje popisa audio sesija nije uspjelo."
	IDS_ERRORID_LISTISNULL			"Popis audio sesija je prazan!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Onemogućavanje audio sesije, reason='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Audio sesija stvorena, name='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Audio sesija '{0}' - loše stanje registracije '{1}': {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"Vrijednost koja se postavlja iz povratnog poziva je nevažeći birač."
	IDS_ERRORID_SET_CB_WARNING		"Postavljanje povratnog poziva moguće je samo nakon uspješnog pokretanja MIDI mosta."
	IDS_ERRORID_CONFIG_FAIL			"Učitavanje konfiguracije nije uspjelo, datoteka nije pronađena, pokretanje nemoguće."
	IDS_ERRORID_CONFIG_LOAD			"Konfiguracija učitana.."
	IDS_ERRORID_CONFIG_LOADA		"Konfiguracija je već učitana.."
	IDS_ERRORID_CONFIG_EMPTY		"Konfiguracija je prazna.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"Konfiguracija za modul {0} je prazna.."
	IDS_ERRORID_CONFIG_NEW			"Otkrivena nova verzija konfiguracije.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Nepodržana implementacija u kodu, metoda nije nadjačana: {0}"
	IDS_ERRORID_NOT_CONFIG			"Naziv konfiguracije nije naveden i ne može se nastaviti."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Uređaji nisu povezani i ne mogu nastaviti."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Pažnja, neslaganje u broju uređaja na konačnom popisu, sustav/popis = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Nije moguće otvoriti MIDI uređaj, nije moguće nastaviti, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Nije moguće pokrenuti MIDI uređaj, nije moguće nastaviti, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Uređaj nije povezan, prekid, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Pronađen uređaj {0}, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Uređaj {0} otvoren, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Uređaj {0} zatvoren (sustav)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Uređaj {0} spreman (sustav)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Naziv aktivnog uređaja nije naveden, nastavak nije moguć, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Proxy priključci nisu navedeni u konfiguraciji, MIDI proxy je onemogućen."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Verzija upravljačkog programa [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Problem s verzijom upravljačkog programa [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Uređaj {0} poslao je nevažeću vrijednost = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"Virtualni MIDI upravljački program nije instaliran. Morate instalirati paket loopMidi ili preuzeti puni instalacijski program i ponovno instalirati MIDI-MT. Više detalja: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Instalirani virtualni MIDI upravljački program nije pronađen! Za pokretanje MIDI-MT prevoditelja morate instalirati MIDI paket Virtual Loop."
	IDS_ERRORID_MIDI_PROXY_PORTS		"Nakon pokretanja stvorit će se {0} proxy MIDI priključaka."
	IDS_ERRORID_MIDI_PROXY_OFF		"Proxy MIDI priključci su onemogućeni."
	IDS_ERRORID_MIDI_OUT_PORTS		"Nakon pokretanja, stvorit će se {0} MIDI izlaznih priključaka."
	IDS_ERRORID_MIDI_OUT_OFF		"MIDI izlazni priključci su onemogućeni."
	IDS_ERRORID_MMKEY_START			"Izvedena je usluga upravljanja medijskim ključem."
	IDS_ERRORID_MMKEY_STOP			"Usluga upravljanja medijskim ključem je zaustavljena."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"MQTT konfiguracija je prazna i ne može se nastaviti."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Pogreška pri izradi MQTT klijenta, otkazivanje."
	IDS_ERRORID_MQTT_CLIENT_OK		"MMQTT klijent je uspješno kreiran, nastavi..."
	IDS_ERRORID_MQTT_CONNECTED		"Povezan na MQTT poslužitelj:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Neuspješno povezivanje s MQTT poslužiteljem:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Isključeno s MQTT poslužitelja:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"Datoteka CA certifikata ne postoji, put = '{0}'"
	IDS_ERRORID_MQTT_START			"Pokrenuta je usluga upravljanja Smart Homeom."
	IDS_ERRORID_MQTT_STOP			"Usluga upravljanja Smart Home je zaustavljena."
	IDS_ERRORID_MQTT_CA_FILTER		"CA certifikat"
	IDS_ERRORID_LOG_LEVEL_NONE		"ne vodi se dnevnik"
	IDS_ERRORID_LOG_LEVEL_INFO		"informacija"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"obavijesti"
	IDS_ERRORID_LOG_LEVEL_WARNING		"upozorenja"
	IDS_ERRORID_LOG_LEVEL_ERR		"samo greške"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"sve poruke"
	IDS_ERRORID_PANEL_INDEX			"Panel audio miksera - Ne može se nastaviti, stavke indeksa su netočne."
	IDS_ERRORID_PANEL_INIT			"Ploča audio miksera - ne može se nastaviti, pogreška inicijalizacije."
	IDS_ERRORID_PANEL_ENABLE		"Prozor ploče audio miksera nema ispravan status i sljedeća operacija se ne može nastaviti."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Panel audio miksera ne poziva se na nit korisničkog sučelja i promjene se ne mogu napraviti."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Ploča audio miksera otkrila je nevažeći element i stvaranje prozora ploče je prekinuto."
	IDS_ERRORID_LIGHT_DMX_START		"DMX usluga upravljanja rasvjetom pokreće se pomoću COM{0} - {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"DMX usluga upravljanja rasvjetom ne radi, COM{0} uređaj nije spojen.."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"DMX usluga upravljanja rasvjetom nije pokrenuta i konfiguracija usluge nije popunjena."
	IDS_ERRORID_LIGHT_DMX_STOP		"DMX usluga upravljanja rasvjetom je zaustavljena."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Nema dostupnih odgovarajućih uređaja"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Odaberite DMX uređaj"
	IDS_ERRORID_LIGHT_ARTNET_START		"ArtNet Lighting Control Service radi pomoću adrese emitiranja {0}:{1} na mreži {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"Usluga upravljanja rasvjetom ArtNet nije pokrenuta, mreža {0} nije pronađena.."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"Usluga upravljanja rasvjetom ArtNet nije pokrenuta, konfiguracija usluge nije popunjena."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"Usluga upravljanja rasvjetom ArtNet je prestala."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Nema dostupnih odgovarajućih sučelja"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Odaberite ARTNET sučelje"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Pogreška inicijalizacije dodatka, nije moguće pretvoriti CLSID/GUID iz navedenog niza."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Pokretanje dodataka nije uspjelo, nisu pronađeni kompatibilni dodaci."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Nije uspjelo učitavanje dodataka, unaprijed inicijalizirano {0}, 0 učitanih dodataka."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Dodaci su uspješno inicijalizirani, predinicijalizacija {0}, učitano {1} dodataka."
	IDS_ERRORID_BRIDGE_OK_START		"Bridge je uspješno pokrenut, {0} pokrenuto, {1} učitano, {2} dodataka radi."
	IDS_ERRORID_BRIDGE_NOT_START		"Pokretanje mosta nije uspjelo, pogreška prilikom pokretanja dodataka, {0} inicijalizirano, {1} dodataka učitano."
	IDS_ERRORID_BRIDGE_OK_STOP		"Bridge je uspješno zaustavljen, {0} inicijaliziran, {1} učitano, {2} pokrenuto, {3} dodataka zaustavljeno."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Zaustavljanje mosta nije uspjelo, pogreška pri zaustavljanju dodataka, {0} pokrenuto, {1} učitano, {2} dodataka radi."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Dodaci su već učitani, poništite prije ponovnog pokretanja."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"Most je već pušten u rad."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"Most je već stao."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Otvaranje modula dodatka nije uspjelo. Modul nedostaje ili je oštećen, DLL nije učitan i vratio je nulu."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"Modul nije MIDI-MT dodatak i nedostaju potrebne ulazne točke."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Omogućeno={0}, postavke={1}, pokrenuto={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Konfiguracija ažurirana: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Moduli nisu pronađeni, pokretanje nemoguće."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Uredite konfiguraciju prije početka."
	IDS_ERRORID_MIDIMT_CONFFILTER		"Konfiguracijska datoteka"
	IDS_ERRORID_MIDIMT_EXEFILTER		"Izvršne datoteke"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Konfiguracija učitana iz datoteke: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Konfiguracija učitana iz upravljačkog programa"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"Odabrani {0} jezik bit će aktivan nakon ponovnog pokretanja prozora."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Instalirana verzija upravljačkog programa Virtual MIDI: {0}"
	IDS_ERRORID_REMOTE_START		"Usluga daljinskog upravljanja je pokrenuta."
	IDS_ERRORID_REMOTE_STOP			"Usluga daljinskog upravljanja je prestala."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Novi klijent {0}/{1} je povezan."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Pogreška klijenta {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Klijent {0}/{1} isključen, status: {2} - {3}."

	IDS_ERRORID_JOY_NODRIVER		"Ne postoji upravljački program za joystick ili gamepad."
	IDS_ERRORID_JOY_INVALIDPARAM		"Navedeni ID joysticka nije valjan."
	IDS_ERRORID_JOY_NOCANDO			"Unos joysticka ne može se napisati i potrebna usluga nije dostupna."
	IDS_ERRORID_JOY_UNPLUGGED		"Navedeni joystick nije spojen na sustav."
	IDS_ERRORID_JOY_START			"Usluga kontrole Gamepad/Joystick je pokrenuta, aktivni uređaji: {0}, online: {1}."
	IDS_ERRORID_JOY_STOP			"Usluga kontrole gamepada/joysticka je zaustavljena."
	IDS_ERRORID_JOY_CHANGE_SCENE		"Kontrolna scena promijenjena je pomoću gamepada ili joysticka u {0}."
	IDS_ERRORID_JOY_CHANGE_CTRL		"Kontrola {0}/{1} odabire se pomoću gamepada ili joysticka."

	IDS_ERRORID_COPY_LINK			"Veza je kopirana u međuspremnik."
	IDS_ERRORID_NET_IFACE_NONE		"Nema mrežnih sučelja"
	IDS_ERRORID_NET_IFACE_SELECT		"Odaberite mrežno sučelje"
	IDS_ERRORID_TIMEOUT_EXPIRED		"Vrijeme čekanja je isteklo, čekanje je prekinuto.."

	IDS_ERRORID_SCRIPT_ERROR		"Pogreška u izvršavanju skripte: {0}"
	IDS_ERRORID_SCRIPT_EMPTY		"Skripta je prazna!"
	IDS_ERRORID_SCRIPT_MODIFY		"Skripta promijenjena: {0}"
	IDS_ERRORID_SCRIPT_LOADED		"Učitane skripte: {0}"
	IDS_ERRORID_SCRIPT_NOTFOUND		"Nisu pronađene skripte u direktoriju {0}"
	IDS_ERRORID_SCRIPT_START		"Motor skripti radi, dostupne skripte: {0}."
	IDS_ERRORID_SCRIPT_STOP			"Skriptni mehanizam je zaustavljen."
	IDS_ERRORID_SCRIPT_DIRFILTER		"Datoteke skripte"

	IDS_ERRORID_FILEWATCH_OPEN		"Nije uspjelo otvaranje imenika: {0}"
	IDS_ERRORID_FILEWATCH_PARAM		"Imenik s navedenim parametrima ne može se pročitati, završavam nadgledanje imenika."
	IDS_ERRORID_FILEWATCH_SHUTDOWN		"neočekivani prekid nadzora imenika"
	IDS_ERRORID_FILEWATCH_NOACCESS		"problemi s pristupom imeniku, moguće netočna veličina međuspremnika za čitanje"

	IDS_ERRORID_NONE			"-"
END
