﻿
#define APSTUDIO_READONLY_SYMBOLS
#ifndef APSTUDIO_INVOKED
#include <SDKDDKVer.h>
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#include "CommCtrl.h"
#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_CROATIAN, SUBLANG_DEFAULT
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "MIDI Easy Control -> Audio Mixer -> MIDI-Mackie prevoditelj"
    IDS_MIXER               "&Mikser"
    IDS_SETTINGS            "&Postavke"
    IDS_START               "Početak"
    IDS_STOP                "Stop"
    IDS_EXIT                "Izlaz"
    IDS_SETUP_MSG1          "Konfiguracija učitana iz upravljačkog programa"
    IDS_SETUP_MSG2          "Konfiguracija učitana iz datoteke"
    IDS_SETUP_MSG3          "Konfiguracija je izrađena nanovo i zahtijeva popunjavanje"
    IDS_URL_WIKI            "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    IDS_URL_GIT             "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    IDS_URL_WEB             "https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    IDS_URL_ESETUP          "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"
    IDS_START_EXT_FILTER    "MIDI-MT konfiguracija"
    IDS_CONFIG_EXE_FILTER   "Izvršne datoteke"
    IDS_MQTT_CA_FILTER      "CA certifikat"
    IDS_MIDIMT              "MIDIMT"
    IDS_INFO1               "MIDI prevoditelj nije pokrenut."
    IDS_INFO2               "MIDI prevoditelj radi:"
    IDS_INFO3               "Ulazni uređaj:"
    IDS_INFO4               "Mackie/Premier izlazni priključak:"
    IDS_INFO5               "Izlazni proxy port:"
    IDS_INFO6               "Audio mikser radi."
    IDS_INFO7               "Kontrola multimedijske tipke je pokrenuta, provjerite svoje postavke."
    IDS_INFO8               "Audio mikser ne radi, provjerite postavke, pokretanje audio ploče mora biti omogućeno."
    IDS_INFO9               "Nevažeći ID događaja. Molimo ponovno pokrenite ovu aplikaciju."
    IDS_INF1O               "Nije uspjelo prebacivanje na nit korisničkog sučelja, pokretanje audio ploče prekinuto."
    IDS_INF11               "MIDIMT - Audio mikser ne radi:"
    IDS_INF12               "MIDIMT - Nije moguće dovršiti operaciju:"
    IDS_INF13               "Upravljanje uređajima Smart Home je počelo."
    IDS_INF14               "Uvedeno je upravljanje rasvjetom putem DMX512 protokola."
    IDS_INF15               "Uvedeno je upravljanje rasvjetom putem ArtNet protokola."
    IDS_DLG_MSG0            "Instaliranje virtualnog MIDI upravljačkog programa"
    IDS_DLG_MSG1            "MIDI Mackie izlaz"
    IDS_DLG_MSG2            "MIDI proxy izlaz"
    IDS_DLG_MSG3            "Verzija MIDI virtualnog upravljačkog programa:"
    IDS_DLG_MSG4            "Instalirani virtualni MIDI upravljački program nije pronađen! Za pokretanje MIDI-MT prevoditelja morate instalirati MIDI paket Virtual Loop"
    IDS_DLG_MSG5            "Kada se pokrene, kreirat će se proxy MIDI priključci:"
    IDS_DLG_MSG6            "MIDI proxy priključci su onemogućeni."
    IDS_DLG_MSG7            "Odabrani jezik bit će aktivan nakon ponovnog pokretanja prozora -"
    IDS_DLG_MSG8            "MIDI ulazni uređaj dodijeljen"
    IDS_DLG_MSG9            "Uredite konfiguraciju prije početka."
    IDS_DLG_MSG10           "Verzija instaliranog Virtual MIDI drajvera:"
    IDS_DLG_MSG11           "Odabrana konfiguracija ne podržava automatsko pokretanje."
    IDS_DLG_MSG12           "Prije pokretanja monitora, pokrenite MIDI bridge iz izbornika pozivanjem 'Start'."
    IDS_DLG_MSG13           "Prilikom pokretanja, konfiguracijska datoteka je navedena: '{0}'. Postaviti to kao konfiguraciju za sljedeća izvođenja?"
    IDS_DLG_MSG14           "Prilikom otvaranja uređivača navedena je konfiguracijska datoteka: '{0}'. Spremiti pod istim imenom?"
    IDS_DLG_MSG15           "Automatsko pokretanje je onemogućeno u općoj konfiguraciji."
    IDS_DLG_MSG16           "Broj DMX kanala"
    IDS_DLG_MSG17           "Morate instalirati Virtual MIDI driver!"
    IDS_DLG_DMX_NODEV       "Nema dostupnih uređaja"
    IDS_DLG_ARTNET_NOINT    "Nema sučelja"
    IDS_DLG_DMX_SELDEV      "Odaberite DMX uređaj"
    IDS_DLG_ARTNET_SELINT   "Odaberite ARTNET sučelje"
END

STRINGTABLE
BEGIN
    IDM_COL4_MAV            "glasnoća zvuka (glavna)"
    IDM_COL4_MAP            "balans zvuka (osnovni)"
    IDM_COL4_MAM            "utišati (glavni)"
    IDM_COL4_MAS            "audio solo (glavni)"
    IDM_COL4_JOG            "JOG (premotavanje okvira videa unatrag)"
    IDM_COL4_AV1            "glasnoća zvuka (kanal 1)"
    IDM_COL4_AV2            "glasnoća zvuka (kanal 2)"
    IDM_COL4_AV3            "glasnoća zvuka (kanal 3)"
    IDM_COL4_AV4            "glasnoća zvuka (kanal 4)"
    IDM_COL4_AV5            "glasnoća zvuka (kanal 5)"
    IDM_COL4_AV6            "glasnoća zvuka (kanal 6)"
    IDM_COL4_AV7            "glasnoća zvuka (kanal 7)"
    IDM_COL4_AV8            "glasnoća zvuka (kanal 8)"
    IDM_COL4_XV9            "glasnoća zvuka (kanal 9)"
    IDM_COL4_AP1            "balans zvuka (kanal 1)"
    IDM_COL4_AP2            "balans zvuka (kanal 2)"
    IDM_COL4_AP3            "balans zvuka (kanal 3)"
    IDM_COL4_AP4            "balans zvuka (kanal 4)"
    IDM_COL4_AP5            "balans zvuka (kanal 5)"
    IDM_COL4_AP6            "balans zvuka (kanal 6)"
    IDM_COL4_AP7            "balans zvuka (kanal 7)"
    IDM_COL4_AP8            "balans zvuka (kanal 8)"
    IDM_COL4_XP9            "balans zvuka (kanal 9)"
    IDM_COL4_B11            "audio solo (kanal 1)"
    IDM_COL4_B12            "audio solo (kanal 2)"
    IDM_COL4_B13            "audio solo (kanal 3)"
    IDM_COL4_B14            "audio solo (kanal 4)"
    IDM_COL4_B15            "audio solo (kanal 5)"
    IDM_COL4_B16            "audio solo (kanal 6)"
    IDM_COL4_B17            "audio solo (kanal 7)"
    IDM_COL4_B18            "audio solo (kanal 8)"
    IDM_COL4_B19            "audio solo (kanal 9)"
    IDM_COL4_B21            "isključi zvuk (kanal 1)"
    IDM_COL4_B22            "isključi zvuk (kanal 2)"
    IDM_COL4_B23            "isključi zvuk (kanal 3)"
    IDM_COL4_B24            "isključi zvuk (kanal 4)"
    IDM_COL4_B25            "isključi zvuk (kanal 5)"
    IDM_COL4_B26            "isključi zvuk (kanal 6)"
    IDM_COL4_B27            "isključi zvuk (kanal 7)"
    IDM_COL4_B28            "isključi zvuk (kanal 8)"
    IDM_COL4_B29            "isključi zvuk (kanal 9)"
    IDM_COL4_B31            "odabir zvuka (kanal 1)"
    IDM_COL4_B32            "odabir zvuka (kanal 2)"
    IDM_COL4_B33            "odabir zvuka (kanal 3)"
    IDM_COL4_B34            "odabir zvuka (kanal 4)"
    IDM_COL4_B35            "odabir zvuka (kanal 5)"
    IDM_COL4_B36            "odabir zvuka (kanal 6)"
    IDM_COL4_B37            "odabir zvuka (kanal 7)"
    IDM_COL4_B38            "odabir zvuka (kanal 8)"
    IDM_COL4_B39            "odabir zvuka (kanal 9)"
    IDM_COL4_FUN11          "funkcija F1 (standardni način)"
    IDM_COL4_FUN12          "funkcija F2 (standardni način)"
    IDM_COL4_FUN13          "funkcija F3 (standardni način)"
    IDM_COL4_FUN14          "funkcija F4 (standardni način)"
    IDM_COL4_FUN15          "funkcija F5 (standardni način)"
    IDM_COL4_FUN16          "funkcija F6 (standardni način)"
    IDM_COL4_FUN17          "funkcija F7 (standardni način)"
    IDM_COL4_FUN18          "funkcija F8 (standardni način)"
    IDM_COL4_FUN21          "funkcija F1 (zadržani način)"
    IDM_COL4_FUN22          "funkcija F2 (način zadržavanja)"
    IDM_COL4_FUN23          "funkcija F3 (zadržani način)"
    IDM_COL4_FUN24          "funkcija F4 (zadržani način)"
    IDM_COL4_FUN25          "funkcija F5 (zadržani način)"
    IDM_COL4_FUN26          "funkcija F6 (zadržani način)"
    IDM_COL4_FUN27          "funkcija F7 (zadržani način)"
    IDM_COL4_FUN28          "funkcija F8 (zadržani način)"
    IDM_COL4_SYS_Rewind     "Premotaj unatrag (igrač)"
    IDM_COL4_SYS_Forward    "Premotaj naprijed (igrač)"
    IDM_COL4_SYS_Stop       "Stop (igrač)"
    IDM_COL4_SYS_Play       "Igraj (igrač)"
    IDM_COL4_SYS_Record     "Snimanje (player)"
    IDM_COL4_SYS_Up         "gore (džojstik)"
    IDM_COL4_SYS_Down       "Dolje (džojstik)"
    IDM_COL4_SYS_Left       "Lijevo (joystick)"
    IDM_COL4_SYS_Right      "desno (joystick)"
    IDM_COL4_SYS_Zoom       "Povećati"
    IDM_COL4_SYS_Scrub      "Pročišćavati"
    IDM_COL4_VOLUMEMIX      "Kontrola miješalice"
    IDM_COL4_MEDIAKEY       "Multimedijske tipke"
    IDM_COL4_MQTTKEY        "Upravljanje pametnim domom"
    IDM_COL4_LIGHTKEY8B     "Kontrola rasvjete (8 bita)"
    IDM_COL4_LIGHTKEY16B    "Kontrola rasvjete (16 bita)"
    IDM_COL4_NONE           "akcija nije definirana"
    IDM_COL4_MQTT_AV1       "razina 1"
    IDM_COL4_MQTT_AV2       "razina 2"
    IDM_COL4_MQTT_AV3       "razina 3"
    IDM_COL4_MQTT_AV4       "razina 4"
    IDM_COL4_MQTT_AV5       "razina 5"
    IDM_COL4_MQTT_AV6       "razina 6"
    IDM_COL4_MQTT_AV7       "razina 7"
    IDM_COL4_MQTT_AV8       "razina 8"
    IDM_COL4_MQTT_XV9       "razina 9"
    IDM_COL4_MQTT_AP1       "razina 10"
    IDM_COL4_MQTT_AP2       "razina 11"
    IDM_COL4_MQTT_AP3       "razina 12"
    IDM_COL4_MQTT_AP4       "razina 13"
    IDM_COL4_MQTT_AP5       "razina 14"
    IDM_COL4_MQTT_AP6       "razina 15"
    IDM_COL4_MQTT_AP7       "razina 16"
    IDM_COL4_MQTT_AP8       "razina 17"
    IDM_COL4_MQTT_XP9       "razina 18"
    IDM_COL4_MQTT_B11       "uključeno/isključeno 1"
    IDM_COL4_MQTT_B12       "uključeno/isključeno 2"
    IDM_COL4_MQTT_B13       "uključeno/isključeno 3"
    IDM_COL4_MQTT_B14       "uključivanje/isključivanje 4"
    IDM_COL4_MQTT_B15       "uključeno/isključeno 5"
    IDM_COL4_MQTT_B16       "uključivanje/isključivanje 6"
    IDM_COL4_MQTT_B17       "uključeno/isključeno 7"
    IDM_COL4_MQTT_B18       "uključivanje/isključivanje 8"
    IDM_COL4_MQTT_B19       "uključeno/isključeno 9"
    IDM_COL4_MQTT_B21       "uključeno/isključeno 10"
    IDM_COL4_MQTT_B22       "uključeno/isključeno 11"
    IDM_COL4_MQTT_B23       "uključivanje/isključivanje 12"
    IDM_COL4_MQTT_B24       "uključeno/isključeno 13"
    IDM_COL4_MQTT_B25       "uključeno/isključeno 14"
    IDM_COL4_MQTT_B26       "uključeno/isključeno 15"
    IDM_COL4_MQTT_B27       "uključeno/isključeno 16"
    IDM_COL4_MQTT_B28       "uključeno/isključeno 17"
    IDM_COL4_MQTT_B29       "uključeno/isključeno 18"
    IDM_COL4_MQTT_B31       "uključeno/isključeno 19"
    IDM_COL4_MQTT_B32       "uključeno/isključeno 20"
    IDM_COL4_MQTT_B33       "uključeno/isključeno 21"
    IDM_COL4_MQTT_B34       "uključeno/isključeno 22"
    IDM_COL4_MQTT_B35       "uključeno/isključeno 23"
    IDM_COL4_MQTT_B36       "uključeno/isključeno 24"
    IDM_COL4_MQTT_B37       "uključeno/isključeno 25"
    IDM_COL4_MQTT_B38       "uključeno/isključeno 26"
    IDM_COL4_MQTT_B39       "uključeno/isključeno 27"
    IDM_COL4_MQTT_NONE      "Nije dodijeljeno"
    IDM_MQTT_LOG_NONE       "ne vodi se dnevnik"
    IDM_MQTT_LOG_INFO       "informacija"
    IDM_MQTT_LOG_NOTICE     "obavijesti"
    IDM_MQTT_LOG_WARNING    "upozorenja"
    IDM_MQTT_LOG_ERR        "samo greške"
    IDM_MQTT_LOG_DEBUG      "sve poruke"
END

STRINGTABLE
BEGIN
    IDS_ERRORID_OK          "OK"
    IDS_ERRORID_EMPTY       "<тут пусто>"
    IDS_ERRORID_UNDEFINED   "Ova greška je nedefinirana"
    IDS_ERRORID_JSONCONF_WRITE_ACCESS
                            "Pristup za pisanje u konfiguracijsku datoteku je odbijen, '{0}'"
    IDS_ERRORID_JSONCONF_READ_ACCESS
                            "Konfiguracijska datoteka nedostaje ili je pristup odbijen, '{0}'"
    IDS_ERRORID_JSONCONF_EMPTY
                            "Konfiguracijska datoteka je prazna, '{0}'"
    IDS_ERRORID_JSONCONF_NO_DEVICE
                            "Naziv MIDI uređaja nije konfiguriran."
    IDS_ERRORID_JSONCONF_EMPTY_KEYS
                            "Nema MIDI tipki konfiguriranih u ovoj konfiguraciji."
    IDS_ERRORID_JSONCONF_WRITE_EMPTY
                            "Pažnja, ova konfiguracija nema konfigurirane MIDI tipke! snimljena konfiguracija neće raditi."
    IDS_ERRORID_INIT_COINITIALIZE
                            "Co*Initialize inicijalizacija nije uspjela."
    IDS_ERRORID_INIT_COCREATE
                            "Co*Create - nije uspjelo kreirati instancu."
    IDS_ERRORID_INIT_DEFAULT_AE
                            "Dohvaćanje zadanog audiouređaja nije uspjelo."
    IDS_ERRORID_INIT_AS_MANAGER2
                            "Audio Session Manager se srušio."
    IDS_ERRORID_INIT_AS_AUDIOMETER
                            "Mjerač zvuka nije dostupan."
    IDS_ERRORID_MIXER_STARTOK
                            "Mikser audio sesije radi, u vrijeme pokretanja postoji {0} pokrenutih programa dostupnih za regulaciju."
    IDS_ERRORID_MIXER_STARTERROR
                            "Mikser audio sesije nije mogao biti pokrenut, pojedinosti o grešci bi trebale biti u datoteci dnevnika."
    IDS_ERRORID_MIXER_STOPOK
                            "Mikser audio sesije je zaustavljen."
    IDS_ERRORID_MIXER_STOPERROR
                            "Mikser audio sesije nije pravilno zaustavljen, detalji o pogrešci trebali bi biti u datoteci zapisnika."
    IDS_ERRORID_NO_INIT     "Inicijaliziraj prije pozivanja ovoga.."
    IDS_ERRORID_SESSION_LIST
                            "Dohvaćanje popisa audio sesija nije uspjelo."
    IDS_ERRORID_LISTISNULL  "Popis audio sesija je prazan!"
    IDS_ERRORID_SESSIONDISCONNECTED
                            "Onemogućavanje audio sesije, reason='{0}'"
    IDS_ERRORID_SESSIONCREATED
                            "Audio sesija stvorena, name='{0}'"
    IDS_ERRORID_ITEM_SC_AE  "Audio sesija '{0}' - Nevažeće stanje registracije '{1}': {2}/{3}"
    IDS_ERRORID_CBVALUE_BAD_SELECT
                            "Vrijednost koja se postavlja iz povratnog poziva je nevažeći birač."
    IDS_ERRORID_SET_CB_WARNING
                            "Postavljanje povratnog poziva moguće je samo nakon uspješnog pokretanja MIDI mosta."
    IDS_ERRORID_CONFIG_FAIL "Učitavanje konfiguracije nije uspjelo, datoteka nije pronađena, pokretanje nemoguće."
    IDS_ERRORID_CONFIG_LOAD "Konfiguracija učitana.."
    IDS_ERRORID_CONFIG_LOADA
                            "Konfiguracija je već učitana.."
    IDS_ERRORID_CONFIG_EMPTY
                            "Konfiguracija je prazna.."
    IDS_ERRORID_CONFIG_NEW  "Otkrivena nova verzija konfiguracije.."
    IDS_ERRORID_NOT_IMPLEMENTED
                            "Nepodržana implementacija u kodu, metoda nije nadjačana: {0}"
    IDS_ERRORID_NOT_CONFIG  "Naziv konfiguracije nije naveden i ne može se nastaviti."
    IDS_ERRORID_NOT_DEVICES "Uređaji nisu povezani i ne mogu nastaviti."
    IDS_ERRORID_COUNT_DEVICES
                            "Pažnja, neslaganje u broju uređaja na konačnom popisu, sustav/popis = {0}/{1}"
    IDS_ERRORID_OPEN_MIDI_DEVICE
                            "Nije moguće otvoriti MIDI uređaj, nije moguće nastaviti, id = {0}/{1}"
    IDS_ERRORID_START_MIDI_DEVICE
                            "Nije moguće pokrenuti MIDI uređaj, nije moguće nastaviti, id = {0}/{1}"
    IDS_ERRORID_DEVICE_NOT_CONNECT
                            "Uređaj nije povezan, prekid, id = {0}/{1}"
    IDS_ERRORID_DEVICE_FOUND
                            "Pronađen uređaj {0}, {1}"
    IDS_ERRORID_DEVICE_OPEN "Uređaj {0} otvoren, {1}"
    IDS_ERRORID_DEVICE_CLOSE
                            "Uređaj {0} zatvoren (sustav)"
    IDS_ERRORID_DEVICE_DONE "Uređaj {0} spreman (sustav)"
    IDS_ERRORID_NOT_DEVICE_NAME
                            "Naziv aktivnog uređaja nije naveden, nastavak nije moguć, id = {0}/{1}"
    IDS_ERRORID_NOT_CONFIG_PROXY
                            "Proxy priključci nisu navedeni u konfiguraciji, MIDI proxy je onemogućen."
    IDS_ERRORID_DRIVER_VER_OK
                            "Verzija upravljačkog programa [{0}]"
    IDS_ERRORID_DRIVER_VER_ERROR
                            "Problem s verzijom upravljačkog programa [{0}]"
    IDS_ERRORID_SEND_BAD_VALUES
                            "Uređaj {0} poslao je nevažeću vrijednost = {1}"
    IDS_ERRORID_NOT_DRIVER  "Virtualni MIDI upravljački program nije instaliran. Morate instalirati paket loopMidi ili preuzeti puni instalacijski program i ponovno instalirati MIDI-MT. Više detalja: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
    IDS_ERRORID_MMKEY_START "Usluga upravljanja medijskim ključem je pokrenuta."
    IDS_ERRORID_MMKEY_STOP  "Usluga upravljanja medijskim ključem je zaustavljena."
    IDS_ERRORID_MQTT_EMPTY_CONFIG
                            "MQTT konfiguracija je prazna i ne može se nastaviti."
    IDS_ERRORID_MQTT_CLIENT_ERROR
                            "Pogreška pri izradi MQTT klijenta, otkazivanje."
    IDS_ERRORID_MQTT_CLIENT_OK
                            "MMQTT klijent je uspješno kreiran, nastavi..."
    IDS_ERRORID_MQTT_CONNECTED
                            "Povezan na MQTT poslužitelj:"
    IDS_ERRORID_MQTT_NOT_CONNECTED
                            "Neuspješno povezivanje s MQTT poslužiteljem:"
    IDS_ERRORID_MQTT_DISCONNECTED
                            "Isključeno s MQTT poslužitelja:"
    IDS_ERRORID_MQTT_NOT_CA_CERT
                            "Datoteka CA certifikata ne postoji, put = '{0}'"
    IDS_ERRORID_MQTT_START  "Pokrenuta je usluga upravljanja Smart Homeom."
    IDS_ERRORID_MQTT_STOP   "Usluga upravljanja Smart Home je zaustavljena."
    IDS_ERRORID_PANEL_INDEX "Ploča audio miksera - Ne može se nastaviti, stavke indeksa su netočne."
    IDS_ERRORID_PANEL_INIT  "Ploča audio miksera - ne može se nastaviti, pogreška inicijalizacije."
    IDS_ERRORID_PANEL_ENABLE
                            "Prozor ploče audio miksera nema ispravan status i sljedeća operacija se ne može nastaviti."
    IDS_ERRORID_PANEL_NOT_UI_THREAD
                            "Panel audio miksera ne poziva se na nit korisničkog sučelja i promjene se ne mogu napraviti."
    IDS_ERRORID_PANEL_NOT_ITEM_VALID
                            "Ploča audio miksera otkrila je nevažeći element i stvaranje prozora ploče je prekinuto."
    IDS_ERRORID_LIGHT_DMX_START
                            "DMX usluga upravljanja rasvjetom pokreće se pomoću COM{0} - {1}."
    IDS_ERRORID_LIGHT_DMX_NOT_COM
                            "DMX usluga upravljanja rasvjetom ne radi, COM{0} uređaj nije spojen.."
    IDS_ERRORID_LIGHT_DMX_NOT_CONFIG
                            "DMX usluga upravljanja rasvjetom nije pokrenuta i konfiguracija usluge nije popunjena."
    IDS_ERRORID_LIGHT_DMX_STOP
                            "DMX usluga upravljanja rasvjetom je zaustavljena."
    IDS_ERRORID_LIGHT_ARTNET_START
                            "ArtNet Lighting Control Service radi pomoću adrese emitiranja {0}:{1} na mreži {2}."
    IDS_ERRORID_LIGHT_ARTNET_NOT_COM
                            "Usluga upravljanja rasvjetom ArtNet nije pokrenuta, mreža {0} nije pronađena.."
    IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG
                            "Usluga upravljanja rasvjetom ArtNet nije pokrenuta, konfiguracija usluge nije popunjena."
    IDS_ERRORID_LIGHT_ARTNET_STOP
                            "Usluga upravljanja rasvjetom ArtNet je prestala."
    IDS_ERRORID_NONE        "-"
END
