
#include "..\..\MIDIMT\rc\resource.h"
#include "resource_midimt.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(65001)

IDB_BMP_ASSIGN	BITMAP				"icon\\AboutEctrl9Assign.bmp"

IDI_ICO_UPDATE			IMAGE		"icon\\ribbon\\RB-Save.ico"
IDI_ICO_EXPORT			IMAGE		"icon\\ribbon\\RB-Download.ico"
IDI_ICO_IMPORT			IMAGE		"icon\\ribbon\\RB-Share-box.ico"
IDI_ICO_EXIT			IMAGE		"icon\\ribbon\\RB-Sign-out.ico"
IDI_ICO_EDIT_NEW		IMAGE		"icon\\ribbon\\RB-Edit.ico"
IDI_ICO_EDIT_COPY		IMAGE		"icon\\ribbon\\RB-Copy.ico"
IDI_ICO_EDIT_PASTE		IMAGE		"icon\\ribbon\\RB-Clipboard.ico"
IDI_ICO_EDIT_DELETE		IMAGE		"icon\\ribbon\\RB-Trash.ico"
IDI_ICO_EDIT_SETMQTT		IMAGE		"icon\\ribbon\\RB-Home.ico"
IDI_ICO_EDIT_SETMMKEY		IMAGE		"icon\\ribbon\\RB-Key.ico"
IDI_ICO_EDIT_SETMIX		IMAGE		"icon\\ribbon\\RB-Sound-on.ico"
IDI_ICO_EDIT_READKEY		IMAGE		"icon\\ribbon\\RB-Settings.ico"
IDI_ICO_FILTER_CLEAR		IMAGE		"icon\\ribbon\\RB-X-small.ico"
IDI_ICO_FILTER_SET		IMAGE		"icon\\ribbon\\RB-Triangle-alert.ico"
IDI_ICO_FILTER_ON		IMAGE		"icon\\ribbon\\RB-Zoom-in.ico"
IDI_ICO_FILTER_OFF		IMAGE		"icon\\ribbon\\RB-Zoom-out.ico"
IDI_ICO_SORTUP			IMAGE		"icon\\ribbon\\RB-Align-to-top.ico"
IDI_ICO_SORTUP_SCENE		IMAGE		"icon\\ribbon\\RB-Align-to-top.ico"
IDI_ICO_SORTUP_TARGET		IMAGE		"icon\\ribbon\\RB-Align-to-top.ico"
IDI_ICO_SORTUP_TARGETLONG	IMAGE		"icon\\ribbon\\RB-Align-to-top.ico"
IDI_ICO_SORTDOWN_KEY		IMAGE		"icon\\ribbon\\RB-Align-to-bottom.ico"
IDI_ICO_SORTDOWN_SCENE		IMAGE		"icon\\ribbon\\RB-Align-to-bottom.ico"
IDI_ICO_SORTDOWN_TARGET		IMAGE		"icon\\ribbon\\RB-Align-to-bottom.ico"
IDI_ICO_SORTDOWN_TARGETLONG	IMAGE		"icon\\ribbon\\RB-Align-to-bottom.ico"
IDI_ICO_FILTER_MMKEY		IMAGE		"icon\\ribbon\\RB-Key.ico"
IDI_ICO_FILTER_MIXER		IMAGE		"icon\\ribbon\\RB-Sound-on.ico"
IDI_ICO_FILTER_MQTT		IMAGE		"icon\\ribbon\\RB-Home.ico"
IDI_ICO_FILTER_TYPEBTN		IMAGE		"icon\\ribbon\\RB-Filter.ico"

CONFIG_EDITOR_RIBBON		UIFILE		"ribbon\\RibbonDialogConfig.bml"
