
#include "..\..\MIDIMT\rc\resource.h"
#include "resource_lang.h"
#include "resource_midimt.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(65001)

BITMAP_ECTRL9			BITMAP		"icon\\AboutEctrl9Assign.bmp"

ICON_PLUGIN_DMX			ICON		"icon\\DMX512.ico"
ICON_PLUGIN_ARTNET		ICON		"icon\\ARTNET.ico"
ICON_PLUGIN_MQTT		ICON		"icon\\MQTT.ico"
ICON_PLUGIN_SECURITY		ICON		"icon\\SECURITY.ico"
ICON_PLUGIN_OPTIONS		ICON		"icon\\OPTIONS.ico"
ICON_PLUGIN_MODULE		ICON		"icon\\MODULE.ico"
ICON_PLUGIN_MODULES		ICON		"icon\\MODULES.ico"
ICON_PLUGIN_STARTED		ICON		"icon\\STARTED.ico"
ICON_PLUGIN_REMOTE		ICON		"icon\\REMOTE.ico"
ICON_PLUGIN_REMOTENET		ICON		"icon\\REMOTENET.ico"
ICON_PLUGIN_REMOTEOPT		ICON		"icon\\REMOTEOPT.ico"

ICON_RB_UPDATE			IMAGE		"icon\\ribbon\\RB-Save.ico"
ICON_RB_EXPORT			IMAGE		"icon\\ribbon\\RB-Download.ico"
ICON_RB_IMPORT			IMAGE		"icon\\ribbon\\RB-Share-box.ico"
ICON_RB_EXIT			IMAGE		"icon\\ribbon\\RB-Sign-out.ico"
ICON_RB_EDIT_NEW		IMAGE		"icon\\ribbon\\RB-Edit.ico"
ICON_RB_EDIT_COPY		IMAGE		"icon\\ribbon\\RB-Copy.ico"
ICON_RB_EDIT_PASTE		IMAGE		"icon\\ribbon\\RB-Clipboard.ico"
ICON_RB_EDIT_DELETE		IMAGE		"icon\\ribbon\\RB-Trash.ico"
ICON_RB_EDIT_SETMQTT		IMAGE		"icon\\ribbon\\RB-Home.ico"
ICON_RB_EDIT_SETMMKEY		IMAGE		"icon\\ribbon\\RB-Key.ico"
ICON_RB_EDIT_SETMIX		IMAGE		"icon\\ribbon\\RB-Sound-on.ico"
ICON_RB_EDIT_READKEY		IMAGE		"icon\\ribbon\\RB-Settings.ico"
ICON_RB_FILTER_CLEAR		IMAGE		"icon\\ribbon\\RB-X-small.ico"
ICON_RB_FILTER_SET		IMAGE		"icon\\ribbon\\RB-Triangle-alert.ico"
ICON_RB_FILTER_ON		IMAGE		"icon\\ribbon\\RB-Zoom-in.ico"
ICON_RB_FILTER_OFF		IMAGE		"icon\\ribbon\\RB-Zoom-out.ico"
ICON_RB_SORTUP			IMAGE		"icon\\ribbon\\RB-Align-to-top.ico"
ICON_RB_SORTUP_SCENE		IMAGE		"icon\\ribbon\\RB-Align-to-top.ico"
ICON_RB_SORTUP_TARGET		IMAGE		"icon\\ribbon\\RB-Align-to-top.ico"
ICON_RB_SORTUP_TARGETLONG	IMAGE		"icon\\ribbon\\RB-Align-to-top.ico"
ICON_RB_SORTDOWN_KEY		IMAGE		"icon\\ribbon\\RB-Align-to-bottom.ico"
ICON_RB_SORTDOWN_SCENE		IMAGE		"icon\\ribbon\\RB-Align-to-bottom.ico"
ICON_RB_SORTDOWN_TARGET		IMAGE		"icon\\ribbon\\RB-Align-to-bottom.ico"
ICON_RB_SORTDOWN_TARGETLONG	IMAGE		"icon\\ribbon\\RB-Align-to-bottom.ico"
ICON_RB_FILTER_MMKEY		IMAGE		"icon\\ribbon\\RB-Key.ico"
ICON_RB_FILTER_MIXER		IMAGE		"icon\\ribbon\\RB-Sound-on.ico"
ICON_RB_FILTER_MQTT		IMAGE		"icon\\ribbon\\RB-Home.ico"
ICON_RB_FILTER_TYPEBTN		IMAGE		"icon\\ribbon\\RB-Filter.ico"

CONFIG_EDITOR_RIBBON		UIFILE		"ribbon\\RibbonDialogConfig.bml"
