
#include "resource_midimt.h"
#include "resource_error_id.h"

#include <SDKDDKVer.h>
#include <windows.h>
#include "resource_version.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(65001)

ICON_DLL_I1	ICON	"icon\\midi_icon_32px.ico"
ICON_DLL_I2	ICON	"icon\\midi_icon_48px.ico"
ICON_DLL_I3	ICON	"icon\\midi_icon_64px.ico"
ICON_DLL_I4	ICON	"icon\\midi_icon_72px.ico"
ICON_DLL_I5	ICON	"icon\\midi_icon_96px.ico"
ICON_DLL_I6	ICON	"icon\\midi_icon_128px.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VER_MAJOR,VER_MINOR,VER_SUB,VER_BUILD
 PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_SUB,VER_BUILD
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904b0"
        BEGIN
            VALUE "CompanyName", "CC"
            VALUE "FileDescription", VER_DLL_DESC
            VALUE "FileVersion", VER_TXT
            VALUE "InternalName", "version.rc"
            VALUE "LegalCopyright", VER_COPYRIGHT
            VALUE "OriginalFilename", "resource.rc"
            VALUE "ProductName", VER_DLL_NAME
            VALUE "ProductVersion", VER_TXT
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END
