#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_GERMAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT-Übersetzer"
    STRING_MIXER	"&Rührgerät"
    STRING_SETTINGS	"&Einstellungen"
    STRING_START	"Start"
    STRING_STOP		"Stoppen"
    STRING_EXIT		"Ausfahrt"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Konfiguration vom Treiber geladen"
    STRING_EDIT_MSG2	"Konfiguration aus Datei geladen"
    STRING_EDIT_MSG3	"Die Konfiguration wurde neu erstellt und muss ausgefüllt werden"
    STRING_EDIT_MSG4	"Beim Öffnen des Editors wurde die Konfigurationsdatei angegeben: „{0}“. Unter demselben Namen speichern?"
    STRING_EDIT_MSG5	"DMX-Kanalnummer"

    STRING_NOTIFY_MSG1	"Der Übersetzer wird gestoppt:"
    STRING_NOTIFY_MSG2	"Der Übersetzer arbeitet:"

    STRING_AMIX_MSG1	"Der Audiomixer läuft nicht, überprüfen Sie die Einstellungen, der Start des Audiopanels muss aktiviert sein."
    STRING_AMIX_MSG2	"MIDIMT – Audiomixer läuft nicht:"
    STRING_AMIX_MSG3	"Ungültige Ereignis-ID. Bitte starten Sie diese Anwendung neu."
    STRING_AMIX_MSG4	"MIDIMT – Vorgang konnte nicht abgeschlossen werden:"
    STRING_AMIX_MSG5	"Der Wechsel zum UI-Thread ist fehlgeschlagen, der Start des Audio-Panels wurde abgebrochen."

    STRING_MAIN_MSG1	"Anwendungsinitialisierungsfehler, Fortsetzung ist nicht möglich."
    STRING_MAIN_MSG2	"Überprüfen Sie die Berechtigungen des Benutzers zum Schreiben von Dateien im Anwendungsverzeichnis. Wenn der Fehler weiterhin besteht, versuchen Sie, die Protokollierung zu deaktivieren."
    STRING_MAIN_MSG3	"Autorun ist in der allgemeinen Konfiguration deaktiviert."
    STRING_MAIN_MSG4	"Die ausgewählte Konfiguration unterstützt keinen automatischen Start."

    STRING_LOGV_MSG1	"Bevor Sie den Monitor starten, starten Sie bitte den Übersetzer über das Menü, indem Sie „Start“ auswählen."
    STRING_LOGV_MSG2	"Alle Einstellungen „{0}“, Konfigurationsdateiversion: {1}"
    STRING_LOGV_MSG3	"MIDI-Einstellungen"
    STRING_LOGV_MSG4	"Smart Home-Einstellungen (MQTT)"
    STRING_LOGV_MSG5	"Multimedia-Tastatureinstellungen (MMKEYS)"
    STRING_LOGV_MSG6	"Beleuchtungssteuerungseinstellungen ({0})"
    STRING_LOGV_MSG7	"Einstellungen des Fernbedienungspanels (REMOTE)"
    STRING_LOGV_MSG8	"Gamepad-/Joystick-Steuerungseinstellungen (GAMEPAD)"
    STRING_LOGV_MSG9	"MIDI-Taste gedrückt:"
    STRING_LOGV_MSG10	"Tag-Nummer:"

    STRING_CHKR_MSG1	"Beim Start wurde die Konfigurationsdatei angegeben: „{0}“. Als Konfiguration für nachfolgende Läufe festlegen?"
    STRING_CHKR_MSG2	"MIDI-MT-Konfiguration"

    STRING_TMENU_MSG1	"Sie müssen den Virtual MIDI-Treiber installieren!"

    STRING_LANG_STATUS	"Status:"
    STRING_LANG_YES	"Ja"
    STRING_LANG_NO	"Nein"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "Lautstärke (Hauptton)"
	IDM_COL4_MAP  "Klangbalance (Grundkenntnisse)"
	IDM_COL4_MAM  "stumm (Haupt)"
	IDM_COL4_MAS  "Audio Solo (Haupt)"
	IDM_COL4_JOG  "JOG (Videobild zurückspulen)"
	IDM_COL4_AV1  "Lautstärke (Kanal 1)"
	IDM_COL4_AV2  "Lautstärke (Kanal 2)"
	IDM_COL4_AV3  "Lautstärke (Kanal 3)"
	IDM_COL4_AV4  "Lautstärke (Kanal 4)"
	IDM_COL4_AV5  "Lautstärke (Kanal 5)"
	IDM_COL4_AV6  "Lautstärke (Kanal 6)"
	IDM_COL4_AV7  "Lautstärke (Kanal 7)"
	IDM_COL4_AV8  "Lautstärke (Kanal 8)"
	IDM_COL4_XV9  "Lautstärke (Kanal 9)"
	IDM_COL4_AP1  "Klangbalance (Kanal 1)"
	IDM_COL4_AP2  "Klangbalance (Kanal 2)"
	IDM_COL4_AP3  "Klangbalance (Kanal 3)"
	IDM_COL4_AP4  "Klangbalance (Kanal 4)"
	IDM_COL4_AP5  "Klangbalance (Kanal 5)"
	IDM_COL4_AP6  "Klangbalance (Kanal 6)"
	IDM_COL4_AP7  "Klangbalance (Kanal 7)"
	IDM_COL4_AP8  "Klangbalance (Kanal 8)"
	IDM_COL4_XP9  "Klangbalance (Kanal 9)"
	IDM_COL4_B11  "Audio Solo (Kanal 1)"
	IDM_COL4_B12  "Audio Solo (Kanal 2)"
	IDM_COL4_B13  "Audio Solo (Kanal 3)"
	IDM_COL4_B14  "Audio Solo (Kanal 4)"
	IDM_COL4_B15  "Audio Solo (Kanal 5)"
	IDM_COL4_B16  "Audio Solo (Kanal 6)"
	IDM_COL4_B17  "Audio Solo (Kanal 7)"
	IDM_COL4_B18  "Audio Solo (Kanal 8)"
	IDM_COL4_B19  "Audio Solo (Kanal 9)"
	IDM_COL4_B21  "stumm (Kanal 1)"
	IDM_COL4_B22  "stumm (Kanal 2)"
	IDM_COL4_B23  "stumm (Kanal 3)"
	IDM_COL4_B24  "stumm (Kanal 4)"
	IDM_COL4_B25  "stumm (Kanal 5)"
	IDM_COL4_B26  "stumm (Kanal 6)"
	IDM_COL4_B27  "stumm (Kanal 7)"
	IDM_COL4_B28  "stumm (Kanal 8)"
	IDM_COL4_B29  "stumm (Kanal 9)"
	IDM_COL4_B31  "Tonauswahl (Kanal 1)"
	IDM_COL4_B32  "Tonauswahl (Kanal 2)"
	IDM_COL4_B33  "Tonauswahl (Kanal 3)"
	IDM_COL4_B34  "Tonauswahl (Kanal 4)"
	IDM_COL4_B35  "Tonauswahl (Kanal 5)"
	IDM_COL4_B36  "Tonauswahl (Kanal 6)"
	IDM_COL4_B37  "Tonauswahl (Kanal 7)"
	IDM_COL4_B38  "Tonauswahl (Kanal 8)"
	IDM_COL4_B39  "Tonauswahl (Kanal 9)"
	IDM_COL4_FUN11  "Funktion F1 (Standardmodus)"
	IDM_COL4_FUN12  "Funktion F2 (Standardmodus)"
	IDM_COL4_FUN13  "Funktion F3 (Standardmodus)"
	IDM_COL4_FUN14  "Funktion F4 (Standardmodus)"
	IDM_COL4_FUN15  "Funktion F5 (Standardmodus)"
	IDM_COL4_FUN16  "Funktion F6 (Standardmodus)"
	IDM_COL4_FUN17  "Funktion F7 (Standardmodus)"
	IDM_COL4_FUN18  "Funktion F8 (Standardmodus)"
	IDM_COL4_FUN21  "Funktion F1 (Haltemodus)"
	IDM_COL4_FUN22  "Funktion F2 (Held-Modus)"
	IDM_COL4_FUN23  "Funktion F3 (Haltemodus)"
	IDM_COL4_FUN24  "Funktion F4 (Haltemodus)"
	IDM_COL4_FUN25  "Funktion F5 (Haltemodus)"
	IDM_COL4_FUN26  "Funktion F6 (Haltemodus)"
	IDM_COL4_FUN27  "Funktion F7 (Haltemodus)"
	IDM_COL4_FUN28  "Funktion F8 (Haltemodus)"
	IDM_COL4_SYS_Rewind  "Zurückspulen (Spieler)"
	IDM_COL4_SYS_Forward  "Schneller Vorlauf (Spieler)"
	IDM_COL4_SYS_Stop  "Stopp (Spieler)"
	IDM_COL4_SYS_Play  "Spielen (Spieler)"
	IDM_COL4_SYS_Record  "Aufnahme (Player)"
	IDM_COL4_SYS_Up    "Oben (Joystick)"
	IDM_COL4_SYS_Down  "Unten (Joystick)"
	IDM_COL4_SYS_Left  "Links (Joystick)"
	IDM_COL4_SYS_Right  "Rechts (Joystick)"
	IDM_COL4_SYS_Zoom  "Zunahme"
	IDM_COL4_SYS_Scrub  "Schrubben"
	IDM_COL4_VOLUMEMIX "Mixersteuerung"
	IDM_COL4_MEDIAKEY "Multimedia-Tasten"
        IDM_COL4_MQTTKEY  "Smart Home-Management"
        IDM_COL4_LIGHTKEY8B "Lichtsteuerung (8 Bit)"
        IDM_COL4_LIGHTKEY16B "Lichtsteuerung (16 Bit)"
	IDM_COL4_VMSCRIPT "Skriptverwaltung"
	IDM_COL4_NONE  "Aktion nicht definiert"
	IDM_COL5_MQTT_AV1		"Level 1"
	IDM_COL5_MQTT_AV2		"Level 2"
	IDM_COL5_MQTT_AV3		"Stufe 3"
	IDM_COL5_MQTT_AV4		"Level 4"
	IDM_COL5_MQTT_AV5		"Level 5"
	IDM_COL5_MQTT_AV6		"Stufe 6"
	IDM_COL5_MQTT_AV7		"Stufe 7"
	IDM_COL5_MQTT_AV8		"Stufe 8"
	IDM_COL5_MQTT_XV9		"Stufe 9"
	IDM_COL5_MQTT_AP1		"Stufe 10"
	IDM_COL5_MQTT_AP2		"Stufe 11"
	IDM_COL5_MQTT_AP3		"Stufe 12"
	IDM_COL5_MQTT_AP4		"Stufe 13"
	IDM_COL5_MQTT_AP5		"Stufe 14"
	IDM_COL5_MQTT_AP6		"Stufe 15"
	IDM_COL5_MQTT_AP7		"Stufe 16"
	IDM_COL5_MQTT_AP8		"Stufe 17"
	IDM_COL5_MQTT_XP9		"Stufe 18"
	IDM_COL5_MQTT_B11		"Ein/Aus 1"
	IDM_COL5_MQTT_B12		"ein/aus 2"
	IDM_COL5_MQTT_B13		"ein/aus 3"
	IDM_COL5_MQTT_B14		"ein/aus 4"
	IDM_COL5_MQTT_B15		"ein/aus 5"
	IDM_COL5_MQTT_B16		"ein/aus 6"
	IDM_COL5_MQTT_B17		"ein/aus 7"
	IDM_COL5_MQTT_B18		"ein/aus 8"
	IDM_COL5_MQTT_B19		"ein/aus 9"
	IDM_COL5_MQTT_B21		"ein/aus 10"
	IDM_COL5_MQTT_B22		"ein/aus 11"
	IDM_COL5_MQTT_B23		"ein/aus 12"
	IDM_COL5_MQTT_B24		"ein/aus 13"
	IDM_COL5_MQTT_B25		"ein/aus 14"
	IDM_COL5_MQTT_B26		"ein/aus 15"
	IDM_COL5_MQTT_B27		"ein/aus 16"
	IDM_COL5_MQTT_B28		"ein/aus 17"
	IDM_COL5_MQTT_B29		"ein/aus 18"
	IDM_COL5_MQTT_B31		"ein/aus 19"
	IDM_COL5_MQTT_B32		"ein/aus 20"
	IDM_COL5_MQTT_B33		"ein/aus 21"
	IDM_COL5_MQTT_B34		"ein/aus 22"
	IDM_COL5_MQTT_B35		"ein/aus 23"
	IDM_COL5_MQTT_B36		"ein/aus 24"
	IDM_COL5_MQTT_B37		"ein/aus 25"
	IDM_COL5_MQTT_B38		"ein/aus 26"
	IDM_COL5_MQTT_B39		"ein/aus 27"
	IDM_COL5_MQTT_EMPTY		"Nicht zugeordnet"
	IDM_COL5_SCRIPT_B11		"Skript 1"
	IDM_COL5_SCRIPT_B12		"Skript 2"
	IDM_COL5_SCRIPT_B13		"Skript 3"
	IDM_COL5_SCRIPT_B14		"Skript 4"
	IDM_COL5_SCRIPT_B15		"Skript 5"
	IDM_COL5_SCRIPT_B16		"Skript 6"
	IDM_COL5_SCRIPT_B17		"Skript 7"
	IDM_COL5_SCRIPT_B18		"Skript 8"
	IDM_COL5_SCRIPT_B19		"Skript 9"
	IDM_COL5_SCRIPT_B21		"Skript 10"
	IDM_COL5_SCRIPT_B22		"Skript 11"
	IDM_COL5_SCRIPT_B23		"Skript 12"
	IDM_COL5_SCRIPT_B24		"Skript 13"
	IDM_COL5_SCRIPT_B25		"Skript 14"
	IDM_COL5_SCRIPT_B26		"Skript 15"
	IDM_COL5_SCRIPT_B27		"Skript 16"
	IDM_COL5_SCRIPT_B28		"Skript 17"
	IDM_COL5_SCRIPT_B29		"Skript 18"
	IDM_COL5_SCRIPT_B31		"Drehbuch 19"
	IDM_COL5_SCRIPT_B32		"Skript 20"
	IDM_COL5_SCRIPT_B33		"Skript 21"
	IDM_COL5_SCRIPT_B34		"Skript 22"
	IDM_COL5_SCRIPT_B35		"Skript 23"
	IDM_COL5_SCRIPT_B36		"Skript 24"
	IDM_COL5_SCRIPT_B37		"Skript 25"
	IDM_COL5_SCRIPT_B38		"Skript 26"
	IDM_COL5_SCRIPT_B39		"Skript 27"
	IDM_COL5_SCRIPT_EMPTY		"Nicht zugeordnet"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"OK"
	IDS_ERRORID_EMPTY			"[Konfiguration ist leer..]"
	IDS_ERRORID_UNDEFINED			"Dieser Fehler ist undefiniert"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Der Schreibzugriff auf die Konfigurationsdatei wurde verweigert, „{0}“"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Konfigurationsdatei fehlt oder Zugriff verweigert, „{0}“"
	IDS_ERRORID_JSONCONF_EMPTY		"Die Konfigurationsdatei ist leer, „{0}“."
	IDS_ERRORID_JSONCONF_NO_DEVICE		"Der MIDI-Gerätename ist nicht konfiguriert."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"In dieser Konfiguration sind keine MIDI-Tasten konfiguriert."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Achtung, bei dieser Konfiguration sind keine MIDI-Tasten konfiguriert! Die aufgezeichnete Konfiguration funktioniert nicht."
	IDS_ERRORID_INIT_COINITIALIZE		"Die Co*Initialize-Initialisierung ist fehlgeschlagen."
	IDS_ERRORID_INIT_COCREATE		"Co*Create – es konnte keine Instanz erstellt werden."
	IDS_ERRORID_INIT_DEFAULT_AE		"Das Standard-Audiogerät konnte nicht abgerufen werden."
	IDS_ERRORID_INIT_AS_MANAGER2		"Der Audio Session Manager ist abgestürzt."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Audio-Peak-Meter ist nicht verfügbar."
	IDS_ERRORID_MIXER_STARTOK		"Der Audio-Session-Mixer läuft, zum Zeitpunkt des Starts stehen {0} laufende Programme zur Regelung zur Verfügung."
	IDS_ERRORID_MIXER_STARTERROR		"Der Audio-Session-Mixer konnte nicht gestartet werden, Fehlerdetails sollten in der Protokolldatei enthalten sein."
	IDS_ERRORID_MIXER_STOPOK		"Der Audio-Session-Mixer wurde gestoppt."
	IDS_ERRORID_MIXER_STOPERROR		"Der Audio-Session-Mixer wurde nicht ordnungsgemäß gestoppt. Fehlerdetails sollten in der Protokolldatei enthalten sein."
	IDS_ERRORID_NO_INIT			"Initialisieren Sie, bevor Sie dies aufrufen."
	IDS_ERRORID_SESSION_LIST		"Die Liste der Audiositzungen konnte nicht abgerufen werden."
	IDS_ERRORID_LISTISNULL			"Die Liste der Audiositzungen ist leer!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Audiositzung wird deaktiviert, Grund = „{0}“"
	IDS_ERRORID_SESSIONCREATED		"Audiositzung erstellt, Name='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Audiositzung „{0}“ – fehlerhafter Registrierungsstatus „{1}“: {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"Der vom Rückruf festgelegte Wert ist ein ungültiger Selektor."
	IDS_ERRORID_SET_CB_WARNING		"Das Setzen eines Rückrufs ist erst möglich, nachdem die MIDI-Bridge erfolgreich gestartet wurde."
	IDS_ERRORID_CONFIG_FAIL			"Das Laden der Konfiguration ist fehlgeschlagen, die Datei wurde nicht gefunden, der Start ist nicht möglich."
	IDS_ERRORID_CONFIG_LOAD			"Konfiguration geladen.."
	IDS_ERRORID_CONFIG_LOADA		"Die Konfiguration wurde bereits geladen."
	IDS_ERRORID_CONFIG_EMPTY		"Die Konfiguration ist leer."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"Die Konfiguration für Modul {0} ist leer."
	IDS_ERRORID_CONFIG_NEW			"Neue Konfigurationsversion erkannt."
	IDS_ERRORID_NOT_IMPLEMENTED		"Nicht unterstützte Implementierung im Code, Methode nicht überschrieben: {0}"
	IDS_ERRORID_NOT_CONFIG			"Der Konfigurationsname ist nicht angegeben und kann nicht fortgesetzt werden."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Die Geräte sind nicht verbunden und können nicht fortfahren."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Achtung, die Anzahl der Geräte in der endgültigen Liste stimmt nicht überein, system/list = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"MIDI-Gerät kann nicht geöffnet werden, kann nicht fortfahren, ID = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"MIDI-Gerät kann nicht gestartet werden, kann nicht fortfahren, ID = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Gerät nicht verbunden, Abbruch, ID = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Gerät {0} gefunden, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Gerät {0} geöffnet, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Gerät {0} geschlossen (System)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Gerät {0} bereit (System)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Der Name für das aktive Gerät ist nicht angegeben, Fortsetzung ist nicht möglich, ID = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Proxy-Ports sind in der Konfiguration nicht angegeben, MIDI-Proxy ist deaktiviert."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Treiberversion [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Problem mit der Treiberversion [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Gerät {0} hat einen ungültigen Wert gesendet = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"Der virtuelle MIDI-Treiber ist nicht installiert. Sie müssen das LoopMidi-Paket installieren oder das vollständige Installationsprogramm herunterladen und MIDI-MT neu installieren. Weitere Details: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Der installierte Virtual MIDI-Treiber wurde nicht gefunden! Sie müssen das Virtual Loop MIDI-Paket installieren, um den MIDI-MT-Übersetzer auszuführen."
	IDS_ERRORID_MIDI_PROXY_PORTS		"Beim Start werden {0} Proxy-MIDI-Ports erstellt."
	IDS_ERRORID_MIDI_PROXY_OFF		"Proxy-MIDI-Ports sind deaktiviert."
	IDS_ERRORID_MIDI_OUT_PORTS		"Beim Start werden {0} MIDI-Ausgangsports erstellt."
	IDS_ERRORID_MIDI_OUT_OFF		"MIDI-Ausgangsports sind deaktiviert."
	IDS_ERRORID_MMKEY_START			"Der Media Key Management-Dienst wird ausgeführt."
	IDS_ERRORID_MMKEY_STOP			"Der Medienschlüsselverwaltungsdienst wurde gestoppt."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"Die MQTT-Konfiguration ist leer und kann nicht fortgesetzt werden."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Fehler beim Erstellen des MQTT-Clients, Abbruch."
	IDS_ERRORID_MQTT_CLIENT_OK		"Der MMQTT-Client wurde erfolgreich erstellt, fahren Sie fort..."
	IDS_ERRORID_MQTT_CONNECTED		"Mit MQTT-Server verbunden:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Verbindung zum MQTT-Server konnte nicht hergestellt werden:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Vom MQTT-Server getrennt:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"CA-Zertifikatdatei existiert nicht, Pfad = „{0}“"
	IDS_ERRORID_MQTT_START			"Der Smart Home-Steuerungsdienst wurde gestartet."
	IDS_ERRORID_MQTT_STOP			"Der Smart Home-Steuerungsdienst wurde gestoppt."
	IDS_ERRORID_MQTT_CA_FILTER		"CA-Zertifikat"
	IDS_ERRORID_LOG_LEVEL_NONE		"Es wird kein Protokoll geführt"
	IDS_ERRORID_LOG_LEVEL_INFO		"Information"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"Benachrichtigungen"
	IDS_ERRORID_LOG_LEVEL_WARNING		"Warnungen"
	IDS_ERRORID_LOG_LEVEL_ERR		"nur Fehler"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"alle Nachrichten"
	IDS_ERRORID_PANEL_INDEX			"Audiomixer-Bedienfeld – Fortsetzung nicht möglich, Indexelemente sind falsch."
	IDS_ERRORID_PANEL_INIT			"Audiomixer-Bedienfeld – kann nicht fortfahren, Initialisierungsfehler."
	IDS_ERRORID_PANEL_ENABLE		"Das Fenster des Audio-Mixer-Panels hat nicht den richtigen Status und der nächste Vorgang kann nicht fortgesetzt werden."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Das Audiomixer-Bedienfeld wird nicht in einem UI-Thread aufgerufen und es können keine Änderungen vorgenommen werden."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Das Audiomixer-Panel hat ein ungültiges Element erkannt und die Erstellung des Panel-Fensters wurde abgebrochen."
	IDS_ERRORID_LIGHT_DMX_START		"Der DMX-Lichtsteuerungsdienst wird über COM{0} - {1} gestartet."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"Der DMX-Lichtsteuerungsdienst läuft nicht, das COM{0}-Gerät ist nicht verbunden."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"Der DMX-Lichtsteuerungsdienst läuft nicht und die Dienstkonfiguration ist nicht ausgefüllt."
	IDS_ERRORID_LIGHT_DMX_STOP		"Der DMX-Lichtsteuerungsdienst wurde gestoppt."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Keine passenden Geräte verfügbar"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"DMX-Gerät auswählen"
	IDS_ERRORID_LIGHT_ARTNET_START		"Der ArtNet Lighting Control Service wird unter Verwendung der Broadcast-Adresse {0}:{1} im Netzwerk {2} ausgeführt."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"ArtNet-Beleuchtungssteuerungsdienst läuft nicht, Netzwerk {0} nicht gefunden."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"Der ArtNet-Lichtsteuerungsdienst läuft nicht, die Dienstkonfiguration ist nicht ausgefüllt."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"Der ArtNet-Lichtsteuerungsdienst wurde gestoppt."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Keine passenden Schnittstellen verfügbar"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Wählen Sie ARTNET-Schnittstelle"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Plugin-Initialisierungsfehler, CLSID/GUID konnte nicht aus der angegebenen Zeichenfolge konvertiert werden."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Plugins konnten nicht initialisiert werden, es wurden keine kompatiblen Plugins gefunden."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Plugins konnten nicht geladen werden, vorinitialisiert {0}, 0 Plugins geladen."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Plugins erfolgreich initialisiert, Vorinitialisierung {0}, {1} Plugins geladen."
	IDS_ERRORID_BRIDGE_OK_START		"Bridge erfolgreich gestartet, {0} initialisiert, {1} geladen, {2} Plugins ausgeführt."
	IDS_ERRORID_BRIDGE_NOT_START		"Fehler beim Starten der Bridge, Fehler beim Starten der Plugins, {0} initialisiert, {1} Plugins geladen."
	IDS_ERRORID_BRIDGE_OK_STOP		"Bridge erfolgreich gestoppt, {0} initialisiert, {1} geladen, {2} gestartet, {3} Plugins gestoppt."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Bridge konnte nicht gestoppt werden, Fehler beim Stoppen der Plugins, {0} initialisiert, {1} geladen, {2} Plugins werden ausgeführt."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Die Plugins sind bereits geladen, bitte vor dem Neustart zurücksetzen."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"Die Brücke wurde bereits gestartet."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"Die Brücke ist bereits stehen geblieben."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Plugin-Modul konnte nicht geöffnet werden. Das Modul fehlt oder ist beschädigt, die DLL wurde nicht geladen und hat null zurückgegeben."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"Das Modul ist kein MIDI-MT-Plugin und die erforderlichen Einstiegspunkte fehlen."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Aktiviert={0}, Einstellungen={1}, läuft={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Konfiguration aktualisiert: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Keine Module gefunden, Start nicht möglich."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Bitte bearbeiten Sie die Konfiguration, bevor Sie beginnen."
	IDS_ERRORID_MIDIMT_CONFFILTER		"Die Konfigurationsdatei"
	IDS_ERRORID_MIDIMT_EXEFILTER		"Ausführbare Dateien"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Konfiguration aus Datei geladen: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Konfiguration vom Treiber geladen"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"Die ausgewählte {0}-Sprache ist nach dem Neustart des Fensters aktiv."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Installierte Virtual MIDI-Treiberversion: {0}"
	IDS_ERRORID_REMOTE_START		"Der Fernsteuerungsdienst wurde gestartet."
	IDS_ERRORID_REMOTE_STOP			"Der Fernsteuerungsdienst wurde gestoppt."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Der neue Client {0}/{1} ist verbunden."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Clientfehler {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Verbindung zum Client {0}/{1} getrennt, Status: {2} – {3}."

	IDS_ERRORID_JOY_NODRIVER		"Es gibt keinen Joystick- oder Gamepad-Treiber."
	IDS_ERRORID_JOY_INVALIDPARAM		"Die angegebene Joystick-ID ist ungültig."
	IDS_ERRORID_JOY_NOCANDO			"Die Joystick-Eingabe kann nicht geschrieben werden und der erforderliche Dienst ist nicht verfügbar."
	IDS_ERRORID_JOY_UNPLUGGED		"Der angegebene Joystick ist nicht mit dem System verbunden."
	IDS_ERRORID_JOY_START			"Der Gamepad-/Joystick-Steuerungsdienst läuft, aktive Geräte: {0}, online: {1}."
	IDS_ERRORID_JOY_STOP			"Der Gamepad-/Joystick-Steuerungsdienst wurde gestoppt."
	IDS_ERRORID_JOY_CHANGE_SCENE		"Die Steuerungsszene wurde per Gamepad oder Joystick auf {0} geändert."
	IDS_ERRORID_JOY_CHANGE_CTRL		"Die Steuerung {0}/{1} wird mit dem Gamepad oder Joystick ausgewählt."

	IDS_ERRORID_COPY_LINK			"Link in die Zwischenablage kopiert."
	IDS_ERRORID_NET_IFACE_NONE		"Keine Netzwerkschnittstellen"
	IDS_ERRORID_NET_IFACE_SELECT		"Wählen Sie die Netzwerkschnittstelle aus"
	IDS_ERRORID_TIMEOUT_EXPIRED		"Wartezeit ist abgelaufen, Warten wird beendet."

	IDS_ERRORID_SCRIPT_ERROR		"Skriptausführungsfehler: {0}"
	IDS_ERRORID_SCRIPT_EMPTY		"Das Skript ist leer!"
	IDS_ERRORID_SCRIPT_MODIFY		"Skript geändert: {0}"
	IDS_ERRORID_SCRIPT_LOADED		"Geladene Skripte: {0}"
	IDS_ERRORID_SCRIPT_NOTFOUND		"Keine Skripte im Verzeichnis {0} gefunden"
	IDS_ERRORID_SCRIPT_START		"Die Skript-Engine läuft, verfügbare Skripte: {0}."
	IDS_ERRORID_SCRIPT_STOP			"Die Skript-Engine wurde gestoppt."
	IDS_ERRORID_SCRIPT_DIRFILTER		"Skriptdateien"

	IDS_ERRORID_FILEWATCH_OPEN		"Verzeichnis konnte nicht geöffnet werden: {0}"
	IDS_ERRORID_FILEWATCH_PARAM		"Das Verzeichnis mit den angegebenen Parametern kann nicht gelesen werden, ich beende die Überwachung des Verzeichnisses."
	IDS_ERRORID_FILEWATCH_SHUTDOWN		"unerwarteter Abbruch der Verzeichnisüberwachung"
	IDS_ERRORID_FILEWATCH_NOACCESS		"Probleme beim Zugriff auf das Verzeichnis, möglicherweise falsche Lesepuffergröße"

	IDS_ERRORID_NONE			"-"
END
