#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_GERMAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	IDS_RB_DIALOG_LAST_OPENL	"Neueste Dateien:"
	IDS_RB_TABHOMEL			"Bearbeitung"
	IDS_RB_TABFILTERL		"Filter"
	IDS_RB_PANEL_EDITMAINL		"MIDI-Taste bearbeiten"
	IDS_RB_PANEL_EDITSETL		"MIDI-Taste einstellen als..."
	IDS_RB_PANEL_EDITOPTL		"Editor-Optionen"
	IDS_RB_PANEL_FILTERL		"Auswahl an Anzeigefiltern"
	IDS_RB_PANEL_SORTL		"Sortierung"
	IDS_RB_MENUL			"&Speisekarte"
	IDS_RB_MENUT			"Anwendungsmenü"
	IDS_RB_PANEL_QATL		"&Schneller Zugriff"
	IDS_RB_PANEL_QATT		"Schnellzugriffsleiste"
	IDS_RB_DIALOG_SAVEL		"&Speichern"
	IDS_RB_DIALOG_SAVET		"Speichern und anwenden"
	IDS_RB_DIALOG_SAVED		"Speichern Sie die zuvor heruntergeladene Datei und aktualisieren Sie die aktuelle Konfiguration."
	IDS_RB_DIALOG_EXPORTL		"&Export"
	IDS_RB_DIALOG_EXPORTT		"In eine neue Datei exportieren"
	IDS_RB_DIALOG_EXPORTD		"Exportieren Sie die bearbeitete Konfiguration in eine neue Datei."
	IDS_RB_DIALOG_IMPORTL		"&Importieren"
	IDS_RB_DIALOG_IMPORTT		"Aus Datei importieren"
	IDS_RB_DIALOG_IMPORTD		"Konfiguration aus Datei importieren."
	IDS_RB_DIALOG_EXITL		"&Ausfahrt"
	IDS_RB_DIALOG_EXITT		"Beenden Sie den Editor"
	IDS_RB_DIALOG_EXITD		"Beendet den MIDI-Key-Konfigurationseditor; wenn Änderungen nicht gespeichert werden, gehen sie verloren."
	IDS_RB_LV_NEWL			"&Neue MIDI-Taste"
	IDS_RB_LV_NEWT			"Neue MIDI-Taste"
	IDS_RB_LV_NEWD			"Erstellen einer neuen MIDI-Taste."
	IDS_RB_LV_COPYL			"&Kopieren"
	IDS_RB_LV_COPYT			"MIDI-Taste kopieren"
	IDS_RB_LV_COPYD			"Kopieren Sie den ausgewählten MIDI-Tasteneintrag."
	IDS_RB_LV_PASTEL		"&Einfügen"
	IDS_RB_LV_PASTET		"Schlüssel einstecken"
	IDS_RB_LV_PASTED		"Fügen Sie den kopierten MIDI-Key ein."
	IDS_RB_LV_DELETEL		"&Löschen"
	IDS_RB_LV_DELETET		"Schlüssel löschen"
	IDS_RB_LV_DELETED		"Löschen Sie den ausgewählten MIDI-Tasteneintrag."
	IDS_RB_LV_SET_MQTTL		"Intelligentes Haus"
	IDS_RB_LV_SET_MQTTT		"Legen Sie die Gruppe als „Smart Home“ fest."
	IDS_RB_LV_SET_MQTTD		"Weisen Sie die ausgewählte MIDI-Taste der Gruppe „Smart Home“ zu."
	IDS_RB_LV_SET_MMKEYL		"Multimedia-Tasten"
	IDS_RB_LV_SET_MMKEYT		"Legen Sie die Gruppe als „Multimedia-Schaltflächen“ fest."
	IDS_RB_LV_SET_MMKEYD		"Weisen Sie die ausgewählte MIDI-Taste der Gruppe „Multimedia Buttons“ zu."
	IDS_RB_LV_SET_MIXERL		"Audiomischer"
	IDS_RB_LV_SET_MIXERT		"Gruppe als „Audiomixer“ festlegen"
	IDS_RB_LV_SET_MIXERD		"Weisen Sie die ausgewählte MIDI-Taste der Gruppe „Audio Mixer“ zu."
	IDS_RB_LV_READ_MIDI_CODEL	"MIDI-Code lesen"
	IDS_RB_LV_READ_MIDI_CODET	"MIDI-Steuercode lesen"
	IDS_RB_LV_READ_MIDI_CODED	"Lesen Sie MIDI-Code von einer Bedienoberfläche oder einem MIDI-Keyboard."
	IDS_RB_LV_EDIT_MODEL		"Nur digitaler Eingang"
	IDS_RB_LV_EDIT_MODET		"Verwenden Sie nur den digitalen Eingang"
	IDS_RB_LV_EDIT_MODED		"Verwenden Sie nicht das Werteauswahlmenü, sondern nur den digitalen Eingang."
	IDS_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI-Bedienfeld"
	IDS_RB_DIALOG_SHOW_MIDI_KEYST	"Empfohlene Einstellungen"
	IDS_RB_DIALOG_SHOW_MIDI_KEYSD	"Empfohlene MIDI-Bedienfeldeinstellungen, die mit Adobe Premiere Pro-Steuerelementen kompatibel sind."
	IDS_RB_LV_FILTER_EMBEDL		"Eingebaute Filter"
	IDS_RB_LV_FILTER_KEYL		"Schlüssel"
	IDS_RB_LV_FILTER_KEYT		"Nach MIDI-Taste filtern"
	IDS_RB_LV_FILTER_KEYD		"Nur Übereinstimmungen innerhalb einer MIDI-Tastengruppe anzeigen."
	IDS_RB_LV_FILTER_SCENEL		"Szene"
	IDS_RB_LV_FILTER_SCENET		"Nach MIDI-Szene filtern"
	IDS_RB_LV_FILTER_SCENED		"Nur Übereinstimmungen in der MIDI-Szenengruppe anzeigen."
	IDS_RB_LV_FILTER_TARGETL	"Zweck 1"
	IDS_RB_LV_FILTER_TARGETT	"Nach Ziel filtern 1"
	IDS_RB_LV_FILTER_TARGETD	"Nur Übereinstimmungen in der Zielgruppe 1 anzeigen."
	IDS_RB_LV_FILTER_TARGETLONGL	"Zweck 2"
	IDS_RB_LV_FILTER_TARGETLONGT	"Nach Ziel filtern 2"
	IDS_RB_LV_FILTER_TARGETLONGD	"Nur Übereinstimmungen in der Zielgruppe 2 anzeigen."
	IDS_RB_LV_FILTER_CLEARL		"Filter löschen"
	IDS_RB_LV_FILTER_CLEART		"Filter reinigen"
	IDS_RB_LV_FILTER_CLEARD		"Filter vollständig löschen, alle Einträge werden angezeigt."
	IDS_RB_LV_FILTER_SETL		"Filter einstellen"
	IDS_RB_LV_FILTER_SETT		"Filterinstallation"
	IDS_RB_LV_FILTER_SETD		"Durch das Setzen des Filters werden alle ungültigen Elemente angezeigt."
	IDS_RB_LV_FILTER_ONL		"Filter anwenden"
	IDS_RB_LV_FILTER_ONT		"Anwenden eines Filters"
	IDS_RB_LV_FILTER_OND		"Durch Anwenden eines Filters werden die ausgewählten Elemente angezeigt."
	IDS_RB_LV_FILTER_OFFL		"Filter aufheben"
	IDS_RB_LV_FILTER_OFFT		"Filter aufheben"
	IDS_RB_LV_FILTER_OFFD		"Wenn Sie den Filter aufheben, werden alle Artikel angezeigt."
	IDS_RB_LV_FILTER_MMKEYL		"„Multimedia-Buttons“ anzeigen"
	IDS_RB_LV_FILTER_MMKEYT		"Filtern Sie nach der Gruppe „Multimedia-Schaltflächen“."
	IDS_RB_LV_FILTER_MMKEYD		"Durch Anwenden eines Filters werden die Mitglieder der Gruppe „Multimedia-Schaltflächen“ angezeigt."
	IDS_RB_LV_FILTER_MIXERL		"„Audiomixer“ anzeigen"
	IDS_RB_LV_FILTER_MIXERT		"Filtern Sie nach der Gruppe „Audiomixer“."
	IDS_RB_LV_FILTER_MIXERD		"Durch Anwenden eines Filters werden die Mitglieder der Audio-Mixer-Gruppe angezeigt."
	IDS_RB_LV_FILTER_MQTTL		"„Smart Home“ anzeigen"
	IDS_RB_LV_FILTER_MQTTT		"Filtern Sie nach der Gruppe „Smart Home“."
	IDS_RB_LV_FILTER_MQTTD		"Durch Anwenden eines Filters werden die Mitglieder der Smart Home-Gruppe angezeigt."
	IDS_RB_LV_FILTER_LIGHT8L	"„Beleuchtung 8 Bit“ anzeigen"
	IDS_RB_LV_FILTER_LIGHT8T	"Filtern nach Gruppe „Beleuchtung 8 Bit“"
	IDS_RB_LV_FILTER_LIGHT8D	"Durch Anwenden des Filters werden die Mitglieder der Beleuchtungsgruppe mit 8-Bit-Kanälen angezeigt."
	IDS_RB_LV_FILTER_LIGHT16L	"„16-Bit-Beleuchtung“ anzeigen"
	IDS_RB_LV_FILTER_LIGHT16T	"Filtern Sie nach der Gruppe „16-Bit-Beleuchtung“."
	IDS_RB_LV_FILTER_LIGHT16D	"Durch Anwenden des Filters werden die Mitglieder der Beleuchtungsgruppe mit 16-Bit-Kanälen angezeigt."
	IDS_RB_LV_FILTER_SCRIPTL	"„Skripte“ anzeigen"
	IDS_RB_LV_FILTER_SCRIPTT	"Filtern Sie nach der Gruppe „Skripte“ ChaiScript"
	IDS_RB_LV_FILTER_SCRIPTD	"Durch Anwenden eines Filters werden die Mitglieder der Gruppe „Skripte“ angezeigt."
	IDS_RB_LV_FILTER_TYPEBTNL	"Filter Typ"
	IDS_RB_LV_FILTER_TYPEBTNT	"Festlegen der Art der anzuwendenden Filter"
	IDS_RB_LV_FILTER_TYPEBTND	"Die verwendeten Filtertypen haben zwei logische Zustände: „AND“, „OR“."
	IDS_RB_LV_FILTER_TYPEGRPL	"Auswählen eines Filtertyps"
	IDS_RB_LV_FILTER_TYPEORL	"Alle Übereinstimmungen anzeigen"
	IDS_RB_LV_FILTER_TYPEORT	"Einträge mit beliebiger Übereinstimmung anzeigen"
	IDS_RB_LV_FILTER_TYPEORD       	"Der Filter hat einen logischen UND-Zustand und zeigt alle Übereinstimmungen an."
	IDS_RB_LV_FILTER_TYPEANDL	"Nur vollständige Übereinstimmungen anzeigen"
	IDS_RB_LV_FILTER_TYPEANDT	"Nur Datensätze mit exakten Übereinstimmungen anzeigen"
	IDS_RB_LV_FILTER_TYPEANDD	"Der Filter hat einen logischen ODER-Zustand und zeigt nur vollständige Übereinstimmungen an."
	IDS_RB_LV_FILTER_AUTOCOMMITL	"Automatisches Senden von Daten im Filter"
	IDS_RB_LV_FILTER_AUTOCOMMITT	"Automatisches Senden der eingegebenen Werte im Filter"
	IDS_RB_LV_FILTER_AUTOCOMMITD	"Übermittelt Eingabewerte automatisch an einen integrierten Filter."
	IDS_RB_LV_EXT_MODEL		"Sortierung anzeigen"
	IDS_RB_LV_SORTUP_KEYL		"per Schlüssel"
	IDS_RB_LV_SORTUP_KEYT		"Sortierung nach aufsteigender Reihenfolge und MIDI-Taste."
	IDS_RB_LV_SORTUP_SCENEL		"rund um die Bühne"
	IDS_RB_LV_SORTUP_SCENET		"Sortierung nach aufsteigender Reihenfolge und MIDI-Szene."
	IDS_RB_LV_SORTUP_TARGETL	"nach Vereinbarung 1"
	IDS_RB_LV_SORTUP_TARGETT	"Sortierung nach aufsteigender Reihenfolge und MIDI-Ziel 1."
	IDS_RB_LV_SORTUP_TARGETLONGL	"nach Vereinbarung 2"
	IDS_RB_LV_SORTUP_TARGETLONGT	"Sortierung nach aufsteigender Reihenfolge und MIDI-Ziel 2."
	IDS_RB_LV_SORTDOWN_KEYT		"Sortierung nach absteigender Reihenfolge und MIDI-Taste."
	IDS_RB_LV_SORTDOWN_SCENET	"Sortierung nach absteigender Reihenfolge und MIDI-Szene."
	IDS_RB_LV_SORTDOWN_TARGETT	"Sortierung nach absteigender Reihenfolge und MIDI-Ziel 1."
	IDS_RB_LV_SORTDOWN_TARGETLONGT	"Sortierung nach absteigender Reihenfolge und MIDI-Ziel 2."
END
