#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MTトランスレーター"
    STRING_MIXER	"＆ミキサー"
    STRING_SETTINGS	"＆設定"
    STRING_START	"始める"
    STRING_STOP		"停止"
    STRING_EXIT		"出口"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"ドライバーからロードされた設定"
    STRING_EDIT_MSG2	"ファイルからロードされた設定"
    STRING_EDIT_MSG3	"構成が新しく作成されたため、入力する必要があります"
    STRING_EDIT_MSG4	"エディターを開くときに、構成ファイルが指定されました: '{0}'。同じ名前で保存しますか?"
    STRING_EDIT_MSG5	"DMXチャンネル番号"
    STRING_EDIT_MSG6	"MQTT 構成が正常にエクスポートされました"
    STRING_EDIT_MSG7	"MQTT 構成のエクスポートでエラーが発生しました"
    STRING_EDIT_MSG8	"重複する MIDI キーが見つかりませんでした"
    STRING_EDIT_MSG9	"{0} 個の重複した MIDI キーが見つかりました"

    STRING_NOTIFY_MSG1	"トランスレータは停止しています:"
    STRING_NOTIFY_MSG2	"翻訳者は次のように動作します。"

    STRING_AMIX_MSG1	"オーディオ ミキサーが実行されていません。設定を確認してください。オーディオ パネルの起動を有効にする必要があります。"
    STRING_AMIX_MSG2	"MIDIMT - オーディオ ミキサーが実行されていません:"
    STRING_AMIX_MSG3	"無効なイベントIDです。このアプリケーションを再起動してください。"
    STRING_AMIX_MSG4	"MIDIMT - 操作を完了できません:"
    STRING_AMIX_MSG5	"UI スレッドへの切り替えに失敗したため、オーディオ パネルの起動が中止されました。"

    STRING_MAIN_MSG1	"アプリケーションの初期化エラーのため、続行できません。"
    STRING_MAIN_MSG2	"アプリケーション ディレクトリにファイルを書き込むためのユーザーの権限を確認してください。エラーが解決しない場合は、ログを無効にしてみてください。"
    STRING_MAIN_MSG3	"自動実行は一般設定では無効になっています。"
    STRING_MAIN_MSG4	"選択した構成は自動起動をサポートしていません。"

    STRING_LOGV_MSG1	"モニターを開始する前に、メニューから「開始」を選択してトランスレーターを開始してください。"
    STRING_LOGV_MSG2	"すべての設定 '{0}'、構成ファイルのバージョン: {1}"
    STRING_LOGV_MSG3	"MIDI設定"
    STRING_LOGV_MSG4	"スマートホーム設定 (MQTT)"
    STRING_LOGV_MSG5	"マルチメディア キーボード設定 (MMKEYS)"
    STRING_LOGV_MSG6	"照明制御設定 ({0})"
    STRING_LOGV_MSG7	"リモコンの設定（REMOTE）"
    STRING_LOGV_MSG8	"ゲームパッド/ジョイスティック制御設定（GAMEPAD）"
    STRING_LOGV_MSG9	"MIDI キーが押されました:"
    STRING_LOGV_MSG10	"タグ番号："

    STRING_CHKR_MSG1	"起動時に、構成ファイルが指定されました: '{0}'。以降の実行の構成として設定しますか?"
    STRING_CHKR_MSG2	"MIDI-MTの設定"

    STRING_TMENU_MSG1	"仮想 MIDI ドライバーをインストールする必要があります。"

    STRING_LANG_STATUS	"状態："
    STRING_LANG_YES	"はい"
    STRING_LANG_NO	"いいえ"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "音量（メイン）"
	IDM_COL4_MAP  "サウンドバランス（基本）"
	IDM_COL4_MAM  "ミュート（メイン）"
	IDM_COL4_MAS  "オーディオソロ（メイン）"
	IDM_COL4_JOG  "JOG (ビデオフレームの巻き戻し)"
	IDM_COL4_AV1  "音量（チャンネル1）"
	IDM_COL4_AV2  "音量（チャンネル2）"
	IDM_COL4_AV3  "音量（チャンネル3）"
	IDM_COL4_AV4  "音量（チャンネル4）"
	IDM_COL4_AV5  "音量（チャンネル5）"
	IDM_COL4_AV6  "音量（チャンネル6）"
	IDM_COL4_AV7  "音量（チャンネル7）"
	IDM_COL4_AV8  "音量（チャンネル8）"
	IDM_COL4_XV9  "音量（チャンネル9）"
	IDM_COL4_AP1  "サウンドバランス（チャンネル1）"
	IDM_COL4_AP2  "サウンドバランス（チャンネル2）"
	IDM_COL4_AP3  "サウンドバランス（チャンネル3）"
	IDM_COL4_AP4  "サウンドバランス（チャンネル4）"
	IDM_COL4_AP5  "サウンドバランス（チャンネル5）"
	IDM_COL4_AP6  "サウンドバランス（チャンネル6）"
	IDM_COL4_AP7  "サウンドバランス（チャンネル7）"
	IDM_COL4_AP8  "サウンドバランス（チャンネル8）"
	IDM_COL4_XP9  "サウンドバランス（チャンネル9）"
	IDM_COL4_B11  "オーディオソロ (チャンネル 1)"
	IDM_COL4_B12  "オーディオソロ (チャンネル 2)"
	IDM_COL4_B13  "オーディオソロ (チャンネル 3)"
	IDM_COL4_B14  "オーディオソロ (チャンネル 4)"
	IDM_COL4_B15  "オーディオソロ (チャンネル 5)"
	IDM_COL4_B16  "オーディオソロ（チャンネル6）"
	IDM_COL4_B17  "オーディオソロ (チャンネル 7)"
	IDM_COL4_B18  "オーディオソロ（チャンネル8）"
	IDM_COL4_B19  "オーディオソロ（チャンネル9）"
	IDM_COL4_B21  "ミュート(チャンネル1)"
	IDM_COL4_B22  "ミュート（チャンネル2）"
	IDM_COL4_B23  "ミュート（チャンネル3）"
	IDM_COL4_B24  "ミュート（チャンネル4）"
	IDM_COL4_B25  "ミュート（チャンネル5）"
	IDM_COL4_B26  "ミュート（チャンネル6）"
	IDM_COL4_B27  "ミュート (チャンネル 7)"
	IDM_COL4_B28  "ミュート（チャンネル8）"
	IDM_COL4_B29  "ミュート（チャンネル9）"
	IDM_COL4_B31  "サウンド選択（チャンネル1）"
	IDM_COL4_B32  "サウンド選択（チャンネル2）"
	IDM_COL4_B33  "サウンド選択（チャンネル3）"
	IDM_COL4_B34  "サウンド選択（チャンネル4）"
	IDM_COL4_B35  "サウンド選択（チャンネル5）"
	IDM_COL4_B36  "サウンド選択（チャンネル6）"
	IDM_COL4_B37  "サウンド選択（チャンネル7）"
	IDM_COL4_B38  "サウンド選択（チャンネル8）"
	IDM_COL4_B39  "サウンド選択（チャンネル9）"
	IDM_COL4_FUN11  "ファンクションF1（標準モード）"
	IDM_COL4_FUN12  "ファンクションF2（標準モード）"
	IDM_COL4_FUN13  "ファンクションF3（標準モード）"
	IDM_COL4_FUN14  "ファンクションF4（標準モード）"
	IDM_COL4_FUN15  "ファンクションF5（標準モード）"
	IDM_COL4_FUN16  "ファンクションF6（標準モード）"
	IDM_COL4_FUN17  "ファンクションF7（標準モード）"
	IDM_COL4_FUN18  "ファンクションF8（標準モード）"
	IDM_COL4_FUN21  "ファンクションF1（ホールドモード）"
	IDM_COL4_FUN22  "ファンクションF2（ホールドモード）"
	IDM_COL4_FUN23  "ファンクションF3（ホールドモード）"
	IDM_COL4_FUN24  "ファンクションF4（ホールドモード）"
	IDM_COL4_FUN25  "ファンクションF5（ホールドモード）"
	IDM_COL4_FUN26  "ファンクションF6（ホールドモード）"
	IDM_COL4_FUN27  "ファンクションF7（ホールドモード）"
	IDM_COL4_FUN28  "ファンクションF8（ホールドモード）"
	IDM_COL4_SYS_Rewind  "巻き戻し（プレイヤー）"
	IDM_COL4_SYS_Forward  "早送り（プレイヤー）"
	IDM_COL4_SYS_Stop  "停止（プレイヤー）"
	IDM_COL4_SYS_Play  "プレイ（プレイヤー）"
	IDM_COL4_SYS_Record  "録音（プレーヤー）"
	IDM_COL4_SYS_Up    "上（ジョイスティック）"
	IDM_COL4_SYS_Down  "下（ジョイスティック）"
	IDM_COL4_SYS_Left  "左 (ジョイスティック)"
	IDM_COL4_SYS_Right  "右（ジョイスティック）"
	IDM_COL4_SYS_Zoom  "増加"
	IDM_COL4_SYS_Scrub  "スクラブ"
	IDM_COL4_VOLUMEMIX "ミキサー制御"
	IDM_COL4_MEDIAKEY "マルチメディアキー"
        IDM_COL4_MQTTKEY  "スマートホーム管理"
        IDM_COL4_LIGHTKEY8B "照明制御（8ビット）"
        IDM_COL4_LIGHTKEY16B "照明制御（16ビット）"
	IDM_COL4_VMSCRIPT "スクリプト管理"
	IDM_COL4_NONE  "アクションが定義されていません"
	IDM_COL5_MQTT_AV1		"レベル1"
	IDM_COL5_MQTT_AV2		"レベル2"
	IDM_COL5_MQTT_AV3		"レベル3"
	IDM_COL5_MQTT_AV4		"レベル4"
	IDM_COL5_MQTT_AV5		"レベル5"
	IDM_COL5_MQTT_AV6		"レベル6"
	IDM_COL5_MQTT_AV7		"レベル7"
	IDM_COL5_MQTT_AV8		"レベル8"
	IDM_COL5_MQTT_XV9		"レベル9"
	IDM_COL5_MQTT_AP1		"レベル10"
	IDM_COL5_MQTT_AP2		"レベル11"
	IDM_COL5_MQTT_AP3		"レベル12"
	IDM_COL5_MQTT_AP4		"レベル13"
	IDM_COL5_MQTT_AP5		"レベル14"
	IDM_COL5_MQTT_AP6		"レベル15"
	IDM_COL5_MQTT_AP7		"レベル16"
	IDM_COL5_MQTT_AP8		"レベル17"
	IDM_COL5_MQTT_XP9		"レベル18"
	IDM_COL5_MQTT_B11		"オン/オフ1"
	IDM_COL5_MQTT_B12		"オン/オフ2"
	IDM_COL5_MQTT_B13		"オン/オフ 3"
	IDM_COL5_MQTT_B14		"オン/オフ 4"
	IDM_COL5_MQTT_B15		"オン/オフ5"
	IDM_COL5_MQTT_B16		"オン/オフ6"
	IDM_COL5_MQTT_B17		"オン/オフ 7"
	IDM_COL5_MQTT_B18		"オン/オフ 8"
	IDM_COL5_MQTT_B19		"オン/オフ9"
	IDM_COL5_MQTT_B21		"オン/オフ10"
	IDM_COL5_MQTT_B22		"オン/オフ 11"
	IDM_COL5_MQTT_B23		"オン/オフ 12"
	IDM_COL5_MQTT_B24		"オン/オフ 13"
	IDM_COL5_MQTT_B25		"オン/オフ 14"
	IDM_COL5_MQTT_B26		"オン/オフ 15"
	IDM_COL5_MQTT_B27		"オン/オフ 16"
	IDM_COL5_MQTT_B28		"オン/オフ 17"
	IDM_COL5_MQTT_B29		"オン/オフ 18"
	IDM_COL5_MQTT_B31		"オン/オフ 19"
	IDM_COL5_MQTT_B32		"オン/オフ 20"
	IDM_COL5_MQTT_B33		"オン/オフ 21"
	IDM_COL5_MQTT_B34		"オン/オフ 22"
	IDM_COL5_MQTT_B35		"オン/オフ 23"
	IDM_COL5_MQTT_B36		"オン/オフ 24"
	IDM_COL5_MQTT_B37		"オン/オフ 25"
	IDM_COL5_MQTT_B38		"オン/オフ 26"
	IDM_COL5_MQTT_B39		"オン/オフ 27"
	IDM_COL5_MQTT_EMPTY		"割り当てられていない"
	IDM_COL5_SCRIPT_B11		"スクリプト1"
	IDM_COL5_SCRIPT_B12		"スクリプト2"
	IDM_COL5_SCRIPT_B13		"スクリプト3"
	IDM_COL5_SCRIPT_B14		"スクリプト4"
	IDM_COL5_SCRIPT_B15		"スクリプト5"
	IDM_COL5_SCRIPT_B16		"スクリプト6"
	IDM_COL5_SCRIPT_B17		"スクリプト7"
	IDM_COL5_SCRIPT_B18		"スクリプト8"
	IDM_COL5_SCRIPT_B19		"スクリプト9"
	IDM_COL5_SCRIPT_B21		"スクリプト10"
	IDM_COL5_SCRIPT_B22		"スクリプト11"
	IDM_COL5_SCRIPT_B23		"スクリプト12"
	IDM_COL5_SCRIPT_B24		"スクリプト13"
	IDM_COL5_SCRIPT_B25		"スクリプト14"
	IDM_COL5_SCRIPT_B26		"スクリプト15"
	IDM_COL5_SCRIPT_B27		"スクリプト16"
	IDM_COL5_SCRIPT_B28		"スクリプト 17"
	IDM_COL5_SCRIPT_B29		"スクリプト 18"
	IDM_COL5_SCRIPT_B31		"スクリプト 19"
	IDM_COL5_SCRIPT_B32		"スクリプト20"
	IDM_COL5_SCRIPT_B33		"スクリプト21"
	IDM_COL5_SCRIPT_B34		"スクリプト22"
	IDM_COL5_SCRIPT_B35		"スクリプト 23"
	IDM_COL5_SCRIPT_B36		"スクリプト 24"
	IDM_COL5_SCRIPT_B37		"スクリプト 25"
	IDM_COL5_SCRIPT_B38		"スクリプト 26"
	IDM_COL5_SCRIPT_B39		"スクリプト 27"
	IDM_COL5_SCRIPT_STOP		"すべてのスクリプトを停止します"
	IDM_COL5_SCRIPT_RELOAD		"スクリプトディレクトリを再読み込みします"
	IDM_COL5_SCRIPT_EMPTY		"割り当てられていない"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"わかりました"
	IDS_ERRORID_EMPTY			"[構成が空です..]"
	IDS_ERRORID_UNDEFINED			"このエラーは未定義です"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"構成ファイルへの書き込みアクセスが拒否されました、「{0}」"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"構成ファイルが見つからないか、アクセスが拒否されました。「{0}」"
	IDS_ERRORID_JSONCONF_EMPTY		"構成ファイルが空です、「{0}」"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"MIDIデバイス名が設定されていません。"
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"この設定では MIDI キーは設定されていません。"
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"この設定には MIDI キーが設定されていないことに注意してください。記録された設定は機能しません。"
	IDS_ERRORID_INIT_COINITIALIZE		"Co*Initialize の初期化に失敗しました。"
	IDS_ERRORID_INIT_COCREATE		"Co*Create - インスタンスの作成に失敗しました。"
	IDS_ERRORID_INIT_DEFAULT_AE		"デフォルトのオーディオデバイスの取得に失敗しました。"
	IDS_ERRORID_INIT_AS_MANAGER2		"オーディオ セッション マネージャーがクラッシュしました。"
	IDS_ERRORID_INIT_AS_AUDIOMETER		"オーディオピークメーターは使用できません。"
	IDS_ERRORID_MIXER_STARTOK		"オーディオ セッション ミキサーは実行中です。開始時点では、調整可能な実行中のプログラムが {0} 個あります。"
	IDS_ERRORID_MIXER_STARTERROR		"オーディオ セッション ミキサーを開始できませんでした。エラーの詳細はログ ファイルに記録されます。"
	IDS_ERRORID_MIXER_STOPOK		"オーディオ セッション ミキサーが停止しました。"
	IDS_ERRORID_MIXER_STOPERROR		"オーディオ セッション ミキサーが正しく停止されませんでした。エラーの詳細はログ ファイルに記録されます。"
	IDS_ERRORID_NO_INIT			"これを呼び出す前に初期化してください。"
	IDS_ERRORID_SESSION_LIST		"オーディオセッションのリストを取得できませんでした。"
	IDS_ERRORID_LISTISNULL			"オーディオ セッションのリストが空です。"
	IDS_ERRORID_SESSIONDISCONNECTED		"オーディオ セッションを無効にしています。理由='{0}'"
	IDS_ERRORID_SESSIONCREATED		"オーディオセッションが作成されました、名前='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"オーディオ セッション '{0}' - 不正な登録状態 '{1}': {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"コールバックから設定されている値は無効なセレクターです。"
	IDS_ERRORID_SET_CB_WARNING		"コールバックの設定は、MIDI ブリッジが正常に起動された後にのみ可能です。"
	IDS_ERRORID_CONFIG_FAIL			"設定の読み込みに失敗しました。ファイルが見つかりません。起動できません。"
	IDS_ERRORID_CONFIG_LOAD			"構成がロードされました.."
	IDS_ERRORID_CONFIG_LOADA		"構成はすでにロードされています。"
	IDS_ERRORID_CONFIG_EMPTY		"構成が空です。"
	IDS_ERRORID_CONFIG_EMPTY_NAME		"モジュール {0} の構成が空です。"
	IDS_ERRORID_CONFIG_NEW			"新しい構成バージョンが検出されました。"
	IDS_ERRORID_NOT_IMPLEMENTED		"コード内のサポートされていない実装、メソッドがオーバーライドされていません: {0}"
	IDS_ERRORID_NOT_CONFIG			"構成名が指定されていないため、続行できません。"
	IDS_ERRORID_MIDI_NOT_DEVICES		"デバイスが接続されていないため、続行できません。"
	IDS_ERRORID_MIDI_COUNT_DEVICES		"注意、最終リストのデバイスの数が一致しません。system/list = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"MIDI デバイスを開けません。続行できません。ID = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"MIDI デバイスを開始できません。続行できません。ID = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"デバイスが接続されていません。中止します。ID = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"デバイス {0} が見つかりました、{1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"デバイス {0} が開いています、{1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"デバイス {0} が閉じています (システム)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"デバイス {0} の準備完了 (システム)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"アクティブなデバイスの名前が指定されていないため、続行できません。ID = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"プロキシ ポートが設定で指定されていないため、MIDI プロキシが無効になっています。"
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"ドライバーのバージョン [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"ドライバーのバージョン [{0}] に問題があります"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"デバイス {0} が無効な値 = {1} を送信しました"
	IDS_ERRORID_MIDI_NOT_DRIVER		"仮想MIDIドライバーがインストールされていません。 LoopMidi パッケージをインストールするか、完全なインストーラーをダウンロードして MIDI-MT を再インストールする必要があります。詳細: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependency.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"インストールされている仮想 MIDI ドライバーが見つかりませんでした。 MIDI-MT トランスレーターを実行するには、Virtual Loop MIDI パッケージをインストールする必要があります。"
	IDS_ERRORID_MIDI_PROXY_PORTS		"起動時に、{0} 個のプロキシ MIDI ポートが作成されます。"
	IDS_ERRORID_MIDI_PROXY_OFF		"プロキシ MIDI ポートは無効になっています。"
	IDS_ERRORID_MIDI_OUT_PORTS		"起動時に、{0} 個の MIDI 出力ポートが作成されます。"
	IDS_ERRORID_MIDI_OUT_OFF		"MIDI 出力ポートは無効になります。"
	IDS_ERRORID_MMKEY_START			"メディア キー管理サービスが実行されています。"
	IDS_ERRORID_MMKEY_STOP			"メディア キー管理サービスが停止しました。"
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"MQTT 構成が空なので続行できません。"
	IDS_ERRORID_MQTT_CLIENT_ERROR		"MQTT クライアントの作成中にエラーが発生しました。キャンセルします。"
	IDS_ERRORID_MQTT_CLIENT_OK		"MMQTT クライアントが正常に作成されました。続行します..."
	IDS_ERRORID_MQTT_CONNECTED		"MQTT サーバーに接続されています:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"MQTT サーバーへの接続に失敗しました:"
	IDS_ERRORID_MQTT_DISCONNECTED		"MQTT サーバーから切断されました:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"CA 証明書ファイルが存在しません、パス = '{0}'"
	IDS_ERRORID_MQTT_START			"スマートホーム制御サービスを開始しました。"
	IDS_ERRORID_MQTT_STOP			"スマートホーム制御サービスが停止されました。"
	IDS_ERRORID_MQTT_CA_FILTER		"CA証明書"
	IDS_ERRORID_LOG_LEVEL_NONE		"ログは保存されません"
	IDS_ERRORID_LOG_LEVEL_INFO		"情報"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"通知"
	IDS_ERRORID_LOG_LEVEL_WARNING		"警告"
	IDS_ERRORID_LOG_LEVEL_ERR		"エラーのみ"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"すべてのメッセージ"
	IDS_ERRORID_PANEL_INDEX			"オーディオ ミキサー パネル - 続行できません。インデックス項目が正しくありません。"
	IDS_ERRORID_PANEL_INIT			"オーディオ ミキサー パネル - 続行できません。初期化エラーです。"
	IDS_ERRORID_PANEL_ENABLE		"オーディオミキサーパネルウィンドウの状態が正しくないため、次の操作を続行できません。"
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"オーディオ ミキサー パネルは UI スレッドでは呼び出されず、変更を行うことはできません。"
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"オーディオ ミキサー パネルが無効な要素を検出したため、パネル ウィンドウの作成が中止されました。"
	IDS_ERRORID_LIGHT_DMX_START		"DMX 照明制御サービスは、COM{0} - {1} を使用して開始されます。"
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"DMX 照明制御サービスが実行されていません。COM{0} デバイスが接続されていません。"
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"DMX 照明制御サービスが実行されておらず、サービス構成が入力されていません。"
	IDS_ERRORID_LIGHT_DMX_STOP		"DMX照明制御サービスを停止しました。"
	IDS_ERRORID_LIGHT_DMX_NODEV		"適切なデバイスがありません"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"DMX デバイスを選択します"
	IDS_ERRORID_LIGHT_ARTNET_START		"ArtNet 照明制御サービスは、ネットワーク {2} 上のブロードキャスト アドレス {0}:{1} を使用して実行されています。"
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"ArtNet 照明制御サービスが実行されていません。ネットワーク {0} が見つかりません。"
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"ArtNet 照明制御サービスが実行されていないため、サービス構成が入力されていません。"
	IDS_ERRORID_LIGHT_ARTNET_STOP		"ArtNet照明制御サービスは停止しました。"
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"利用可能な適切なインターフェースがありません"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"ARTNETインターフェイスを選択します"
	IDS_ERRORID_NOT_CLSID_CONVERT		"プラグイン初期化エラー。指定された文字列から CLSID/GUID を変換できません。"
	IDS_ERRORID_BRIDGE_NOT_INIT		"プラグインの初期化に失敗しました。互換性のあるプラグインが見つかりませんでした。"
	IDS_ERRORID_BRIDGE_NOT_LOAD		"プラグインの読み込みに失敗しました。事前に初期化された {0}、0 個のプラグインが読み込まれました。"
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"プラグインは正常に初期化されました。初期化前の {0}、{1} プラグインが読み込まれました。"
	IDS_ERRORID_BRIDGE_OK_START		"Bridge は正常に起動し、{0} が初期化され、{1} がロードされ、{2} のプラグインが実行されています。"
	IDS_ERRORID_BRIDGE_NOT_START		"ブリッジの起動に失敗しました。プラグインの起動時にエラーが発生しました。{0} が初期化され、{1} 個のプラグインが読み込まれました。"
	IDS_ERRORID_BRIDGE_OK_STOP		"ブリッジは正常に停止し、{0} が初期化され、{1} がロードされ、{2} が開始され、{3} プラグインが停止しました。"
	IDS_ERRORID_BRIDGE_NOT_STOP		"ブリッジを停止できませんでした。プラグインの停止中にエラーが発生しました。{0} が初期化され、{1} がロードされ、{2} のプラグインが実行されています。"
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"プラグインはすでにロードされています。再起動する前にリセットしてください。"
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"橋はすでに開通済みです。"
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"橋はすでに止まっています。"
	IDS_ERRORID_PLUGIN_DLL_ERROR		"プラグインモジュールを開けませんでした。モジュールが見つからないか破損しているため、DLL がロードされず、null が返されました。"
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"このモジュールは MIDI-MT プラグインではないため、必要なエントリ ポイントがありません。"
	IDS_ERRORID_PLUGIN_LIST_INFO		"有効={0}、設定={1}、実行中={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"構成が更新されました: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"モジュールが見つからないため、起動できません。"
	IDS_ERRORID_MIDIMT_CONFEDIT		"開始する前に構成を編集してください。"
	IDS_ERRORID_MIDIMT_CONFFILTER		"設定ファイル"
	IDS_ERRORID_MIDIMT_EXEFILTER		"実行可能ファイル"
	IDS_ERRORID_MIDIMT_JSONFILTER		"MQTT 構成ファイル"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"ファイルからロードされた構成: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"ドライバーからロードされた設定"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"選択した {0} 言語は、ウィンドウの再起動後に有効になります。"
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"インストールされている仮想 MIDI ドライバーのバージョン: {0}"
	IDS_ERRORID_REMOTE_START		"遠隔操作サービスを開始しました。"
	IDS_ERRORID_REMOTE_STOP			"遠隔操作サービスを停止しました。"
	IDS_ERRORID_REMOTE_CLIENT_NEW		"新しいクライアント {0}/{1} が接続されました。"
	IDS_ERRORID_REMOTE_CLIENT_ERR		"クライアント エラー {0}/{1}、{2}。"
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"クライアント {0}/{1} が切断されました。ステータス: {2} - {3}。"

	IDS_ERRORID_JOY_NODRIVER		"ジョイスティックやゲームパッドのドライバーはありません。"
	IDS_ERRORID_JOY_INVALIDPARAM		"指定されたジョイスティック ID は無効です。"
	IDS_ERRORID_JOY_NOCANDO			"ジョイスティック入力を書き込むことができず、必要なサービスが利用できません。"
	IDS_ERRORID_JOY_UNPLUGGED		"指定されたジョイスティックはシステムに接続されていません。"
	IDS_ERRORID_JOY_START			"ゲームパッド/ジョイスティック コントロール サービスが実行中です。アクティブなデバイス: {0}、オンライン: {1}。"
	IDS_ERRORID_JOY_STOP			"ゲームパッド/ジョイスティック制御サービスが停止しました。"
	IDS_ERRORID_JOY_CHANGE_SCENE		"ゲームパッドまたはジョイスティックによってコントロール シーンが {0} に変更されました。"
	IDS_ERRORID_JOY_CHANGE_CTRL		"{0}/{1} コントロールはゲームパッドまたはジョイスティックで選択します。"

	IDS_ERRORID_COPY_LINK			"リンクがクリップボードにコピーされました。"
	IDS_ERRORID_NET_IFACE_NONE		"ネットワークインターフェースがありません"
	IDS_ERRORID_NET_IFACE_SELECT		"ネットワークインターフェースの選択"
	IDS_ERRORID_TIMEOUT_EXPIRED		"待機タイムアウトが経過したため、待機が終了しました。"

	IDS_ERRORID_SCRIPT_ERROR		"スクリプト実行エラー: {0}"
	IDS_ERRORID_SCRIPT_EMPTY		"スクリプトが空です!"
	IDS_ERRORID_SCRIPT_MODIFY		"スクリプトが変更されました: {0}"
	IDS_ERRORID_SCRIPT_LOADED		"ロードされたスクリプト: {0}"
	IDS_ERRORID_SCRIPT_NOTFOUND		"ディレクトリ {0} にスクリプトが見つかりません"
	IDS_ERRORID_SCRIPT_START		"スクリプト エンジンが実行中です。利用可能なスクリプト: {0}。"
	IDS_ERRORID_SCRIPT_STOP			"スクリプト エンジンが停止しました。"
	IDS_ERRORID_SCRIPT_DIRFILTER		"スクリプトファイル"
	IDS_ERRORID_SCRIPT_CALL			"スクリプトを実行します: {0}"
	IDS_ERRORID_SCRIPT_RESCAN		"脚本カタログを読み返してます…"
	IDS_ERRORID_SCRIPT_STOPALL		"実行中のスクリプトが停止されました: {0}"

	IDS_ERRORID_FILEWATCH_OPEN		"ディレクトリを開けませんでした: {0}"
	IDS_ERRORID_FILEWATCH_PARAM		"指定されたパラメータを持つディレクトリを読み取ることができません。ディレクトリの監視を終了します。"
	IDS_ERRORID_FILEWATCH_SHUTDOWN		"ディレクトリ監視の予期しない終了"
	IDS_ERRORID_FILEWATCH_NOACCESS		"ディレクトリへのアクセスの問題、読み取りバッファ サイズが正しくない可能性があります"

	IDS_ERRORID_NONE			"-"
END
