#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"最新のファイル:"
	STR_RB_TABHOMEL			"編集"
	STR_RB_TABFILTERL		"フィルター"
	STR_RB_PANEL_EDITMAINL		"MIDIキーを編集する"
	STR_RB_PANEL_EDITSETL		"MIDIキーグループ"
	STR_RB_PANEL_EDITOPTL		"エディターのオプション"
	STR_RB_PANEL_FILTERL		"表示フィルターの選択"
	STR_RB_PANEL_SORTL		"並べ替え"
	STR_RB_MENUL			"＆メニュー"
	STR_RB_MENUT			"アプリケーションメニュー"
	STR_RB_PANEL_QATL		"高速アクセス(&F)"
	STR_RB_PANEL_QATT		"クイックアクセスツールバー"
	STR_RB_DIALOG_SAVEL		"＆保存"
	STR_RB_DIALOG_SAVET		"保存して適用"
	STR_RB_DIALOG_SAVED		"以前にダウンロードしたファイルに保存し、現在の構成を更新します。"
	STR_RB_DIALOG_EXPORTL		"＆輸出"
	STR_RB_DIALOG_EXPORTT		"新しいファイルにエクスポート"
	STR_RB_DIALOG_EXPORTD		"編集した構成を新しいファイルにエクスポートします。"
	STR_RB_DIALOG_IMPORTL		"＆輸入"
	STR_RB_DIALOG_IMPORTT		"ファイルからインポート"
	STR_RB_DIALOG_IMPORTD		"ファイルから構成をインポートします。"
	STR_RB_DIALOG_EXITL		"＆出口"
	STR_RB_DIALOG_EXITT		"エディタを終了する"
	STR_RB_DIALOG_EXITD		"MIDI キー設定エディタを終了します。変更が保存されていない場合、変更は失われます。"
	STR_RB_LV_NEWL			"新しい MIDI キー(&N)"
	STR_RB_LV_NEWT			"新しいMIDIキー"
	STR_RB_LV_NEWD			"新しい MIDI キーを作成します。"
	STR_RB_LV_COPYL			"＆コピー"
	STR_RB_LV_COPYT			"MIDIキーをコピーする"
	STR_RB_LV_COPYD			"選択した MIDI キーエントリをコピーします。"
	STR_RB_LV_PASTEL		"＆入れる"
	STR_RB_LV_PASTET		"キーを挿入"
	STR_RB_LV_PASTED		"コピーしたMIDIキーを貼り付けます。"
	STR_RB_LV_DELETEL		"＆消去"
	STR_RB_LV_DELETET		"削除キー"
	STR_RB_LV_DELETED		"選択した MIDI キーエントリを削除します。"
	STR_RB_LV_SET_MQTTL		"スマートハウス"
	STR_RB_LV_SET_MQTTT		"グループを「スマートホーム」に設定します。"
	STR_RB_LV_SET_MQTTD		"選択したMIDIキーを「スマートホーム」グループに割り当てます。"
	STR_RB_LV_SET_MMKEYL		"マルチメディアボタン"
	STR_RB_LV_SET_MMKEYT		"グループを「マルチメディアボタン」として設定します。"
	STR_RB_LV_SET_MMKEYD		"選択した MIDI キーを「マルチメディア ボタン」グループに割り当てます。"
	STR_RB_LV_SET_MIXERL		"オーディオミキサー"
	STR_RB_LV_SET_MIXERT		"グループを「オーディオミキサー」として設定します"
	STR_RB_LV_SET_MIXERD		"選択した MIDI キーを「オーディオ ミキサー」グループに割り当てます。"
	STR_RB_LV_READ_MIDI_CODEL	"MIDIコードを読み取る"
	STR_RB_LV_READ_MIDI_CODET	"MIDIコントロールコードを読み取る"
	STR_RB_LV_READ_MIDI_CODED	"コントロール サーフェスまたは MIDI キーボードから MIDI コードを読み取ります。"
	STR_RB_LV_EDIT_MODEL		"デジタル入力のみ"
	STR_RB_LV_EDIT_MODET		"デジタル入力のみを使用する"
	STR_RB_LV_EDIT_MODED		"値選択メニューは使用せず、デジタル入力のみを使用してください。"
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDIコントロールパネル"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"推奨設定"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Adobe Premiere Pro コントロールと互換性のある推奨 MIDI コントロール パネル設定。"
	STR_RB_LV_FILTER_EMBEDL		"内蔵フィルター"
	STR_RB_LV_FILTER_KEYL		"鍵"
	STR_RB_LV_FILTER_KEYT		"MIDIキーによるフィルター"
	STR_RB_LV_FILTER_KEYD		"MIDI キー グループ内の一致のみを表示します。"
	STR_RB_LV_FILTER_SCENEL		"シーン"
	STR_RB_LV_FILTER_SCENET		"MIDIシーンでフィルターをかける"
	STR_RB_LV_FILTER_SCENED		"MIDI シーン グループ内で一致するもののみを表示します。"
	STR_RB_LV_FILTER_TARGETL	"目的1"
	STR_RB_LV_FILTER_TARGETT	"目的地で絞り込む 1"
	STR_RB_LV_FILTER_TARGETD	"ターゲット グループ 1 内の一致のみを表示します。"
	STR_RB_LV_FILTER_TARGETLONGL	"目的2"
	STR_RB_LV_FILTER_TARGETLONGT	"目的地で絞り込む 2"
	STR_RB_LV_FILTER_TARGETLONGD	"ターゲット グループ 2 内の一致のみを表示します。"
	STR_RB_LV_FILTER_CLEARL		"フィルターをクリアする"
	STR_RB_LV_FILTER_CLEART		"フィルターの掃除"
	STR_RB_LV_FILTER_CLEARD		"フィルタを完全にクリアすると、すべてのエントリが表示されます。"
	STR_RB_LV_FILTER_SETL		"フィルターを設定する"
	STR_RB_LV_FILTER_SETT		"フィルターの取り付け"
	STR_RB_LV_FILTER_SETD		"フィルタを設定すると、無効な項目がすべて表示されます。"
	STR_RB_LV_FILTER_ONL		"フィルターを適用する"
	STR_RB_LV_FILTER_ONT		"フィルターを適用する"
	STR_RB_LV_FILTER_OND		"フィルターを適用すると、選択した項目が表示されます。"
	STR_RB_LV_FILTER_OFFL		"フィルターをキャンセル"
	STR_RB_LV_FILTER_OFFT		"フィルターをキャンセル"
	STR_RB_LV_FILTER_OFFD		"フィルターを解除すると、すべての項目が表示されます。"
	STR_RB_LV_FILTER_MMKEYL		"「マルチメディアボタン」を表示"
	STR_RB_LV_FILTER_MMKEYT		"「マルチメディアボタン」グループでフィルタリングする"
	STR_RB_LV_FILTER_MMKEYD		"フィルターを適用すると、「マルチメディア ボタン」グループのメンバーが表示されます。"
	STR_RB_LV_FILTER_MIXERL		"「オーディオミキサー」を表示する"
	STR_RB_LV_FILTER_MIXERT		"「オーディオミキサー」グループでフィルターをかける"
	STR_RB_LV_FILTER_MIXERD		"フィルターを適用すると、オーディオ ミキサー グループのメンバーが表示されます。"
	STR_RB_LV_FILTER_MQTTL		"「スマートホーム」を表示する"
	STR_RB_LV_FILTER_MQTTT		"「スマートホーム」グループでフィルタリングする"
	STR_RB_LV_FILTER_MQTTD		"フィルターを適用すると、スマート ホーム グループのメンバーが表示されます。"
	STR_RB_LV_FILTER_LIGHT8L	"「ライティング8ビット」を表示"
	STR_RB_LV_FILTER_LIGHT8T	"グループ「ライティング8ビット」で絞り込む"
	STR_RB_LV_FILTER_LIGHT8D	"フィルターを適用すると、8 ビット チャネルを持つ Lighting グループのメンバーが表示されます。"
	STR_RB_LV_FILTER_LIGHT16L	"「16ビットライティング」を表示"
	STR_RB_LV_FILTER_LIGHT16T	"「16ビット照明」グループでフィルタリングする"
	STR_RB_LV_FILTER_LIGHT16D	"フィルターを適用すると、16 ビット チャネルを持つ Lighting グループのメンバーが表示されます。"
	STR_RB_LV_FILTER_SCRIPTL	"「スクリプト」を表示"
	STR_RB_LV_FILTER_SCRIPTT	"「スクリプト」グループでフィルターする ChaiScript"
	STR_RB_LV_FILTER_SCRIPTD	"フィルターを適用すると、Scripts グループのメンバーが表示されます。"
	STR_RB_LV_FILTER_TYPEBTNL	"フィルターの種類"
	STR_RB_LV_FILTER_TYPEBTNT	"適用するフィルターの種類を設定する"
	STR_RB_LV_FILTER_TYPEBTND	"使用されるフィルターの種類には、「AND」、「OR」の 2 つの論理状態があります。"
	STR_RB_LV_FILTER_TYPEGRPL	"フィルタータイプの選択"
	STR_RB_LV_FILTER_TYPEORL	"一致するものを表示する"
	STR_RB_LV_FILTER_TYPEORT	"一致するエントリを表示する"
	STR_RB_LV_FILTER_TYPEORD       	"フィルターには論理 AND 状態があり、一致するものがあれば表示されます。"
	STR_RB_LV_FILTER_TYPEANDL	"完全一致のみを表示"
	STR_RB_LV_FILTER_TYPEANDT	"完全に一致するレコードのみを表示する"
	STR_RB_LV_FILTER_TYPEANDD	"フィルターは論理 OR 状態を持ち、完全に一致するもののみを表示します。"
	STR_RB_LV_FILTER_AUTOCOMMITL	"フィルター内のデータの自動送信"
	STR_RB_LV_FILTER_AUTOCOMMITT	"フィルターに入力された値の自動送信"
	STR_RB_LV_FILTER_AUTOCOMMITD	"組み込みフィルターに入力値を自動的に送信します。"
	STR_RB_LV_EXT_MODEL		"並べ替えを表示"
	STR_RB_LV_SORTUP_KEYL		"キーによって"
	STR_RB_LV_SORTUP_KEYT		"昇順とMIDIキーでソートします。"
	STR_RB_LV_SORTUP_SCENEL		"ステージの周りで"
	STR_RB_LV_SORTUP_SCENET		"昇順およびMIDIシーンによるソート。"
	STR_RB_LV_SORTUP_TARGETL	"予約制 1"
	STR_RB_LV_SORTUP_TARGETT	"昇順と MIDI 宛先でソートします 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"予約制2"
	STR_RB_LV_SORTUP_TARGETLONGT	"昇順と MIDI 宛先による並べ替え 2."
	STR_RB_LV_SORTDOWN_KEYT		"降順とMIDIキーでソートします。"
	STR_RB_LV_SORTDOWN_SCENET	"降順とMIDIシーン順に並べ替えます。"
	STR_RB_LV_SORTDOWN_TARGETT	"降順とMIDI宛先によるソート 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"降順とMIDI宛先によるソート 2."
	STR_RB_DIALOG_EXPORTMQTTL	"MQTT へのエクスポート"
	STR_RB_DIALOG_EXPORTMQTTT	"MQTT 構成のエクスポート"
	STR_RB_DIALOG_EXPORTMQTTD	"DMX512/ARTNET 構成を新しいファイルにエクスポートします。"
	STR_RB_PANEL_EDITUTILL		"ツール"
	STR_RB_LV_SET_BUTTONL		"MIDIキーの割り当て"
	STR_RB_LV_SET_BUTTONT		"選択したMIDIキーを割り当てる"
	STR_RB_LV_SET_BUTTOND		"選択した MIDI キーをグループのメンバーとして定義します。"
	STR_RB_LV_SET_LIGHT8L		"照明8ビット"
	STR_RB_LV_SET_LIGHT8T		"グループを「ライティング8ビット」に設定"
	STR_RB_LV_SET_LIGHT8D		"選択したMIDIキーを「Lighting 8 Bit」グループに割り当てます。"
	STR_RB_LV_SET_LIGHT16L		"照明16ビット"
	STR_RB_LV_SET_LIGHT16T		"グループを「ライティング16ビット」に設定"
	STR_RB_LV_SET_LIGHT16D		"選択した MIDI キーを「Lighting 16-bit」グループに割り当てます。"
	STR_RB_LV_SET_SCRIPTL		"シナリオ"
	STR_RB_LV_SET_SCRIPTT		"グループを「スクリプト」として設定します"
	STR_RB_LV_SET_SCRIPTD		"選択した MIDI キーを「スクリプト」グループに割り当てます。"
	STR_RB_DIALOG_SHOWDUPL		"重複を表示"
	STR_RB_DIALOG_SHOWDUPT		"重複した MIDI キーを見つける"
	STR_RB_DIALOG_SHOWDUPD		"重複した MIDI キーを検索します。重複した MIDI キーが存在する場合、予期しない動作が発生する可能性があります。"

	STR_RB_DIALOG_DELDUPL		"重複を削除する"
	STR_RB_DIALOG_DELDUPT		"重複する可能性のある MIDI キーを削除します"
	STR_RB_DIALOG_DELDUPD		"重複する MIDI キーが存在する場合、重複した MIDI キーを検索して削除すると、期待どおりに動作しない可能性があります。"
END
