#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	IDS_RB_DIALOG_LAST_OPENL	"最新のファイル:"
	IDS_RB_TABHOMEL			"編集"
	IDS_RB_TABFILTERL		"フィルター"
	IDS_RB_PANEL_EDITMAINL		"MIDIキーを編集する"
	IDS_RB_PANEL_EDITSETL		"MIDI キーを次のように設定します..."
	IDS_RB_PANEL_EDITOPTL		"エディターのオプション"
	IDS_RB_PANEL_FILTERL		"表示フィルターの選択"
	IDS_RB_PANEL_SORTL		"並べ替え"
	IDS_RB_MENUL			"＆メニュー"
	IDS_RB_MENUT			"アプリケーションメニュー"
	IDS_RB_PANEL_QATL		"高速アクセス(&F)"
	IDS_RB_PANEL_QATT		"クイックアクセスツールバー"
	IDS_RB_DIALOG_SAVEL		"＆保存"
	IDS_RB_DIALOG_SAVET		"保存して適用"
	IDS_RB_DIALOG_SAVED		"以前にダウンロードしたファイルに保存し、現在の構成を更新します。"
	IDS_RB_DIALOG_EXPORTL		"＆輸出"
	IDS_RB_DIALOG_EXPORTT		"新しいファイルにエクスポート"
	IDS_RB_DIALOG_EXPORTD		"編集した構成を新しいファイルにエクスポートします。"
	IDS_RB_DIALOG_IMPORTL		"＆輸入"
	IDS_RB_DIALOG_IMPORTT		"ファイルからインポート"
	IDS_RB_DIALOG_IMPORTD		"ファイルから構成をインポートします。"
	IDS_RB_DIALOG_EXITL		"＆出口"
	IDS_RB_DIALOG_EXITT		"エディタを終了する"
	IDS_RB_DIALOG_EXITD		"MIDI キー設定エディタを終了します。変更が保存されていない場合、変更は失われます。"
	IDS_RB_LV_NEWL			"新しい MIDI キー(&N)"
	IDS_RB_LV_NEWT			"新しいMIDIキー"
	IDS_RB_LV_NEWD			"新しい MIDI キーを作成します。"
	IDS_RB_LV_COPYL			"＆コピー"
	IDS_RB_LV_COPYT			"MIDIキーをコピーする"
	IDS_RB_LV_COPYD			"選択した MIDI キーエントリをコピーします。"
	IDS_RB_LV_PASTEL		"＆入れる"
	IDS_RB_LV_PASTET		"キーを挿入"
	IDS_RB_LV_PASTED		"コピーしたMIDIキーを貼り付けます。"
	IDS_RB_LV_DELETEL		"＆消去"
	IDS_RB_LV_DELETET		"削除キー"
	IDS_RB_LV_DELETED		"選択した MIDI キーエントリを削除します。"
	IDS_RB_LV_SET_MQTTL		"スマートハウス"
	IDS_RB_LV_SET_MQTTT		"グループを「スマートホーム」に設定します。"
	IDS_RB_LV_SET_MQTTD		"選択したMIDIキーを「スマートホーム」グループに割り当てます。"
	IDS_RB_LV_SET_MMKEYL		"マルチメディアボタン"
	IDS_RB_LV_SET_MMKEYT		"グループを「マルチメディアボタン」として設定します。"
	IDS_RB_LV_SET_MMKEYD		"選択した MIDI キーを「マルチメディア ボタン」グループに割り当てます。"
	IDS_RB_LV_SET_MIXERL		"オーディオミキサー"
	IDS_RB_LV_SET_MIXERT		"グループを「オーディオミキサー」として設定します"
	IDS_RB_LV_SET_MIXERD		"選択した MIDI キーを「オーディオ ミキサー」グループに割り当てます。"
	IDS_RB_LV_READ_MIDI_CODEL	"MIDIコードを読み取る"
	IDS_RB_LV_READ_MIDI_CODET	"MIDIコントロールコードを読み取る"
	IDS_RB_LV_READ_MIDI_CODED	"コントロール サーフェスまたは MIDI キーボードから MIDI コードを読み取ります。"
	IDS_RB_LV_EDIT_MODEL		"デジタル入力のみ"
	IDS_RB_LV_EDIT_MODET		"デジタル入力のみを使用する"
	IDS_RB_LV_EDIT_MODED		"値選択メニューは使用せず、デジタル入力のみを使用してください。"
	IDS_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDIコントロールパネル"
	IDS_RB_DIALOG_SHOW_MIDI_KEYST	"推奨設定"
	IDS_RB_DIALOG_SHOW_MIDI_KEYSD	"Adobe Premiere Pro コントロールと互換性のある推奨 MIDI コントロール パネル設定。"
	IDS_RB_LV_FILTER_EMBEDL		"内蔵フィルター"
	IDS_RB_LV_FILTER_KEYL		"鍵"
	IDS_RB_LV_FILTER_KEYT		"MIDIキーによるフィルター"
	IDS_RB_LV_FILTER_KEYD		"MIDI キー グループ内の一致のみを表示します。"
	IDS_RB_LV_FILTER_SCENEL		"シーン"
	IDS_RB_LV_FILTER_SCENET		"MIDIシーンでフィルターをかける"
	IDS_RB_LV_FILTER_SCENED		"MIDI シーン グループ内で一致するもののみを表示します。"
	IDS_RB_LV_FILTER_TARGETL	"目的1"
	IDS_RB_LV_FILTER_TARGETT	"目的地で絞り込む 1"
	IDS_RB_LV_FILTER_TARGETD	"ターゲット グループ 1 内の一致のみを表示します。"
	IDS_RB_LV_FILTER_TARGETLONGL	"目的2"
	IDS_RB_LV_FILTER_TARGETLONGT	"目的地で絞り込む 2"
	IDS_RB_LV_FILTER_TARGETLONGD	"ターゲット グループ 2 内の一致のみを表示します。"
	IDS_RB_LV_FILTER_CLEARL		"フィルターをクリアする"
	IDS_RB_LV_FILTER_CLEART		"フィルターの掃除"
	IDS_RB_LV_FILTER_CLEARD		"フィルタを完全にクリアすると、すべてのエントリが表示されます。"
	IDS_RB_LV_FILTER_SETL		"フィルターを設定する"
	IDS_RB_LV_FILTER_SETT		"フィルターの取り付け"
	IDS_RB_LV_FILTER_SETD		"フィルタを設定すると、無効な項目がすべて表示されます。"
	IDS_RB_LV_FILTER_ONL		"フィルターを適用する"
	IDS_RB_LV_FILTER_ONT		"フィルターを適用する"
	IDS_RB_LV_FILTER_OND		"フィルターを適用すると、選択した項目が表示されます。"
	IDS_RB_LV_FILTER_OFFL		"フィルターをキャンセル"
	IDS_RB_LV_FILTER_OFFT		"フィルターをキャンセル"
	IDS_RB_LV_FILTER_OFFD		"フィルターを解除すると、すべての項目が表示されます。"
	IDS_RB_LV_FILTER_MMKEYL		"「マルチメディアボタン」を表示"
	IDS_RB_LV_FILTER_MMKEYT		"「マルチメディアボタン」グループでフィルタリングする"
	IDS_RB_LV_FILTER_MMKEYD		"フィルターを適用すると、「マルチメディア ボタン」グループのメンバーが表示されます。"
	IDS_RB_LV_FILTER_MIXERL		"「オーディオミキサー」を表示する"
	IDS_RB_LV_FILTER_MIXERT		"「オーディオミキサー」グループでフィルターをかける"
	IDS_RB_LV_FILTER_MIXERD		"フィルターを適用すると、オーディオ ミキサー グループのメンバーが表示されます。"
	IDS_RB_LV_FILTER_MQTTL		"「スマートホーム」を表示する"
	IDS_RB_LV_FILTER_MQTTT		"「スマートホーム」グループでフィルタリングする"
	IDS_RB_LV_FILTER_MQTTD		"フィルターを適用すると、スマート ホーム グループのメンバーが表示されます。"
	IDS_RB_LV_FILTER_TYPEBTNL	"フィルターの種類"
	IDS_RB_LV_FILTER_TYPEBTNT	"適用するフィルターの種類を設定する"
	IDS_RB_LV_FILTER_TYPEBTND	"使用されるフィルターの種類には、「AND」、「OR」の 2 つの論理状態があります。"
	IDS_RB_LV_FILTER_TYPEGRPL	"フィルタータイプの選択"
	IDS_RB_LV_FILTER_TYPEORL	"一致するものを表示する"
	IDS_RB_LV_FILTER_TYPEORT	"一致するエントリを表示する"
	IDS_RB_LV_FILTER_TYPEORD       	"フィルターには論理 AND 状態があり、一致するものがあれば表示されます。"
	IDS_RB_LV_FILTER_TYPEANDL	"完全一致のみを表示"
	IDS_RB_LV_FILTER_TYPEANDT	"完全に一致するレコードのみを表示する"
	IDS_RB_LV_FILTER_TYPEANDD	"フィルターは論理 OR 状態を持ち、完全に一致するもののみを表示します。"
	IDS_RB_LV_FILTER_AUTOCOMMITL	"フィルター内のデータの自動送信"
	IDS_RB_LV_FILTER_AUTOCOMMITT	"フィルターに入力された値の自動送信"
	IDS_RB_LV_FILTER_AUTOCOMMITD	"組み込みフィルターに入力値を自動的に送信します。"
	IDS_RB_LV_EXT_MODEL		"並べ替えを表示"
	IDS_RB_LV_SORTUP_KEYL		"キーによって"
	IDS_RB_LV_SORTUP_KEYT		"昇順とMIDIキーでソートします。"
	IDS_RB_LV_SORTUP_SCENEL		"ステージの周りで"
	IDS_RB_LV_SORTUP_SCENET		"昇順およびMIDIシーンによるソート。"
	IDS_RB_LV_SORTUP_TARGETL	"予約制 1"
	IDS_RB_LV_SORTUP_TARGETT	"昇順と MIDI 宛先でソートします 1."
	IDS_RB_LV_SORTUP_TARGETLONGL	"予約制2"
	IDS_RB_LV_SORTUP_TARGETLONGT	"昇順と MIDI 宛先による並べ替え 2."
	IDS_RB_LV_SORTDOWN_KEYT		"降順とMIDIキーでソートします。"
	IDS_RB_LV_SORTDOWN_SCENET	"降順とMIDIシーン順に並べ替えます。"
	IDS_RB_LV_SORTDOWN_TARGETT	"降順とMIDI宛先によるソート 1."
	IDS_RB_LV_SORTDOWN_TARGETLONGT	"降順とMIDI宛先によるソート 2."
END
