#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_ROMANIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"Traducător MIDI-MT"
    STRING_MIXER	"&Mixer"
    STRING_SETTINGS	"&Setări"
    STRING_START	"start"
    STRING_STOP		"Stop"
    STRING_EXIT		"Ieșire"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Configurație încărcată din driver"
    STRING_EDIT_MSG2	"Configurație încărcată din fișier"
    STRING_EDIT_MSG3	"Configurația a fost creată din nou și necesită completare"
    STRING_EDIT_MSG4	"La deschiderea editorului, a fost specificat fișierul de configurare: „{0}”. Salvați-l cu același nume?"
    STRING_EDIT_MSG5	"Numărul canalului DMX"

    STRING_NOTIFY_MSG1	"traducătorul este oprit:"
    STRING_NOTIFY_MSG2	"traducătorul lucrează:"

    STRING_AMIX_MSG1	"Mixerul audio nu rulează, verificați setările, lansarea panoului audio trebuie să fie activată."
    STRING_AMIX_MSG2	"MIDIMT - Mixerul audio nu rulează:"
    STRING_AMIX_MSG3	"ID de eveniment nevalid. Vă rugăm să reporniți această aplicație."
    STRING_AMIX_MSG4	"MIDIMT - Imposibil de finalizat operația:"
    STRING_AMIX_MSG5	"Nu s-a putut comuta la firul UI, pornirea panoului audio a fost anulată."

    STRING_MAIN_MSG1	"Eroare de inițializare a aplicației, continuarea nu este posibilă."
    STRING_MAIN_MSG2	"Verificați permisiunile utilizatorului pentru a scrie fișiere în directorul aplicației. Dacă eroarea persistă, încercați să dezactivați înregistrarea."
    STRING_MAIN_MSG3	"Autorun este dezactivat în configurația generală."
    STRING_MAIN_MSG4	"Configurația selectată nu acceptă pornirea automată."

    STRING_LOGV_MSG1	"Vă rugăm, înainte de a porni monitorul, porniți traducătorul din meniu selectând „Start”."
    STRING_LOGV_MSG2	"Toate setările „{0}”, versiunea fișierului de configurare: {1}"
    STRING_LOGV_MSG3	"Setări MIDI"
    STRING_LOGV_MSG4	"Setări Smart Home (MQTT)"
    STRING_LOGV_MSG5	"Setări tastatură multimedia (MMKEYS)"
    STRING_LOGV_MSG6	"Setări de control al luminii ({0})"

    STRING_CHKR_MSG1	"La pornire, a fost specificat fișierul de configurare: „{0}”. Setați-o ca configurație pentru rulările ulterioare?"
    STRING_CHKR_MSG2	"Configurare MIDI-MT"

    STRING_TMENU_MSG1	"Trebuie să instalați driverul Virtual MIDI!"

    STRING_LANG_STATUS	"stare:"
    STRING_LANG_YES	"da"
    STRING_LANG_NO	"Nu"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "volumul sunetului (principal)"
	IDM_COL4_MAP  "echilibru sunet (de bază)"
	IDM_COL4_MAM  "mut (principal)"
	IDM_COL4_MAS  "solo audio (principal)"
	IDM_COL4_JOG  "JOG (cadru video derulat)"
	IDM_COL4_AV1  "volumul sunetului (canalul 1)"
	IDM_COL4_AV2  "volumul sunetului (canalul 2)"
	IDM_COL4_AV3  "volumul sunetului (canalul 3)"
	IDM_COL4_AV4  "volumul sunetului (canalul 4)"
	IDM_COL4_AV5  "volumul sunetului (canalul 5)"
	IDM_COL4_AV6  "volumul sunetului (canalul 6)"
	IDM_COL4_AV7  "volumul sunetului (canalul 7)"
	IDM_COL4_AV8  "volumul sunetului (canalul 8)"
	IDM_COL4_XV9  "volumul sunetului (canalul 9)"
	IDM_COL4_AP1  "echilibrul sunetului (canalul 1)"
	IDM_COL4_AP2  "echilibrul sunetului (canalul 2)"
	IDM_COL4_AP3  "echilibrul sunetului (canalul 3)"
	IDM_COL4_AP4  "echilibrul sunetului (canalul 4)"
	IDM_COL4_AP5  "echilibru sunet (canalul 5)"
	IDM_COL4_AP6  "echilibru sunet (canalul 6)"
	IDM_COL4_AP7  "echilibru sunet (canalul 7)"
	IDM_COL4_AP8  "echilibru sunet (canalul 8)"
	IDM_COL4_XP9  "echilibrul sunetului (canalul 9)"
	IDM_COL4_B11  "solo audio (canalul 1)"
	IDM_COL4_B12  "solo audio (canalul 2)"
	IDM_COL4_B13  "solo audio (canalul 3)"
	IDM_COL4_B14  "audio solo (canalul 4)"
	IDM_COL4_B15  "audio solo (canalul 5)"
	IDM_COL4_B16  "solo audio (canalul 6)"
	IDM_COL4_B17  "audio solo (canalul 7)"
	IDM_COL4_B18  "audio solo (canalul 8)"
	IDM_COL4_B19  "solo audio (canalul 9)"
	IDM_COL4_B21  "sunet (canalul 1)"
	IDM_COL4_B22  "sunet (canalul 2)"
	IDM_COL4_B23  "sunet (canalul 3)"
	IDM_COL4_B24  "sunet (canalul 4)"
	IDM_COL4_B25  "sunet (canalul 5)"
	IDM_COL4_B26  "sunet (canalul 6)"
	IDM_COL4_B27  "sunet (canalul 7)"
	IDM_COL4_B28  "sunet (canal 8)"
	IDM_COL4_B29  "sunet (canalul 9)"
	IDM_COL4_B31  "selecția sunetului (canalul 1)"
	IDM_COL4_B32  "selecția sunetului (canalul 2)"
	IDM_COL4_B33  "selecția sunetului (canalul 3)"
	IDM_COL4_B34  "selecția sunetului (canalul 4)"
	IDM_COL4_B35  "selecția sunetului (canalul 5)"
	IDM_COL4_B36  "selecția sunetului (canalul 6)"
	IDM_COL4_B37  "selecția sunetului (canalul 7)"
	IDM_COL4_B38  "selecția sunetului (canalul 8)"
	IDM_COL4_B39  "selecția sunetului (canalul 9)"
	IDM_COL4_FUN11  "funcția F1 (mod standard)"
	IDM_COL4_FUN12  "funcția F2 (mod standard)"
	IDM_COL4_FUN13  "funcția F3 (mod standard)"
	IDM_COL4_FUN14  "funcția F4 (mod standard)"
	IDM_COL4_FUN15  "funcția F5 (mod standard)"
	IDM_COL4_FUN16  "funcția F6 (mod standard)"
	IDM_COL4_FUN17  "funcția F7 (mod standard)"
	IDM_COL4_FUN18  "funcția F8 (mod standard)"
	IDM_COL4_FUN21  "funcția F1 (mod menținut)"
	IDM_COL4_FUN22  "funcția F2 (mod menținut)"
	IDM_COL4_FUN23  "funcția F3 (mod menținut)"
	IDM_COL4_FUN24  "funcția F4 (mod menținut)"
	IDM_COL4_FUN25  "funcția F5 (mod menținut)"
	IDM_COL4_FUN26  "funcția F6 (mod menținut)"
	IDM_COL4_FUN27  "funcția F7 (mod menținut)"
	IDM_COL4_FUN28  "funcția F8 (mod menținut)"
	IDM_COL4_SYS_Rewind  "Rewind (player)"
	IDM_COL4_SYS_Forward  "Înainte rapidă (player)"
	IDM_COL4_SYS_Stop  "Opriți (jucător)"
	IDM_COL4_SYS_Play  "Joacă (jucător)"
	IDM_COL4_SYS_Record  "Înregistrare (player)"
	IDM_COL4_SYS_Up    "Sus (joystick)"
	IDM_COL4_SYS_Down  "Jos (joystick)"
	IDM_COL4_SYS_Left  "Stânga (joystick)"
	IDM_COL4_SYS_Right  "dreapta (joystick)"
	IDM_COL4_SYS_Zoom  "Crește"
	IDM_COL4_SYS_Scrub  "Scrub"
	IDM_COL4_VOLUMEMIX "Controlul mixerului"
	IDM_COL4_MEDIAKEY "Taste multimedia"
        IDM_COL4_MQTTKEY  "Gestionarea casei inteligente"
        IDM_COL4_LIGHTKEY8B "Controlul luminii (8 biți)"
        IDM_COL4_LIGHTKEY16B "Controlul luminii (16 biți)"
	IDM_COL4_NONE  "acțiune nedefinită"
	IDM_COL4_MQTT_AV1		"nivelul 1"
	IDM_COL4_MQTT_AV2		"nivelul 2"
	IDM_COL4_MQTT_AV3		"nivelul 3"
	IDM_COL4_MQTT_AV4		"nivelul 4"
	IDM_COL4_MQTT_AV5		"nivelul 5"
	IDM_COL4_MQTT_AV6		"nivelul 6"
	IDM_COL4_MQTT_AV7		"nivelul 7"
	IDM_COL4_MQTT_AV8		"nivelul 8"
	IDM_COL4_MQTT_XV9		"nivelul 9"
	IDM_COL4_MQTT_AP1		"nivelul 10"
	IDM_COL4_MQTT_AP2		"nivelul 11"
	IDM_COL4_MQTT_AP3		"nivelul 12"
	IDM_COL4_MQTT_AP4		"nivelul 13"
	IDM_COL4_MQTT_AP5		"nivelul 14"
	IDM_COL4_MQTT_AP6		"nivelul 15"
	IDM_COL4_MQTT_AP7		"nivelul 16"
	IDM_COL4_MQTT_AP8		"nivelul 17"
	IDM_COL4_MQTT_XP9		"nivelul 18"
	IDM_COL4_MQTT_B11		"pornit/oprit 1"
	IDM_COL4_MQTT_B12		"pornit/oprit 2"
	IDM_COL4_MQTT_B13		"pornit/oprit 3"
	IDM_COL4_MQTT_B14		"pornit/oprit 4"
	IDM_COL4_MQTT_B15		"pornit/oprit 5"
	IDM_COL4_MQTT_B16		"pornit/oprit 6"
	IDM_COL4_MQTT_B17		"pornit/oprit 7"
	IDM_COL4_MQTT_B18		"pornit/oprit 8"
	IDM_COL4_MQTT_B19		"pornit/oprit 9"
	IDM_COL4_MQTT_B21		"pornit/oprit 10"
	IDM_COL4_MQTT_B22		"pornit/oprit 11"
	IDM_COL4_MQTT_B23		"pornit/oprit 12"
	IDM_COL4_MQTT_B24		"pornit/oprit 13"
	IDM_COL4_MQTT_B25		"pornit/oprit 14"
	IDM_COL4_MQTT_B26		"pornit/oprit 15"
	IDM_COL4_MQTT_B27		"pornit/oprit 16"
	IDM_COL4_MQTT_B28		"pornit/oprit 17"
	IDM_COL4_MQTT_B29		"pornit/oprit 18"
	IDM_COL4_MQTT_B31		"pornit/oprit 19"
	IDM_COL4_MQTT_B32		"pornit/oprit 20"
	IDM_COL4_MQTT_B33		"pornit/oprit 21"
	IDM_COL4_MQTT_B34		"pornit/oprit 22"
	IDM_COL4_MQTT_B35		"pornit/oprit 23"
	IDM_COL4_MQTT_B36		"pornit/oprit 24"
	IDM_COL4_MQTT_B37		"pornit/oprit 25"
	IDM_COL4_MQTT_B38		"pornit/oprit 26"
	IDM_COL4_MQTT_B39		"pornit/oprit 27"
	IDM_COL4_MQTT_NONE		"Nealocat"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"Bine"
	IDS_ERRORID_EMPTY			"[Configurația este goală..]"
	IDS_ERRORID_UNDEFINED			"Această eroare este nedefinită"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Accesul de scriere la fișierul de configurare este refuzat, „{0}”"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Fișierul de configurare lipsește sau accesul refuzat, „{0}”"
	IDS_ERRORID_JSONCONF_EMPTY		"Fișierul de configurare este gol, „{0}”"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"Numele dispozitivului MIDI nu este configurat."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"Nu există taste MIDI configurate în această configurație."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Atentie, aceasta configuratie nu are taste MIDI configurate! configurația înregistrată nu va funcționa."
	IDS_ERRORID_INIT_COINITIALIZE		"Inițializarea Co*Initialize a eșuat."
	IDS_ERRORID_INIT_COCREATE		"Co*Create - nu s-a putut crea o instanță."
	IDS_ERRORID_INIT_DEFAULT_AE		"Nu s-a putut obține dispozitivul audio implicit."
	IDS_ERRORID_INIT_AS_MANAGER2		"Managerul de sesiuni audio s-a blocat."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Contorul de vârf audio nu este disponibil."
	IDS_ERRORID_MIXER_STARTOK		"Mixerul sesiunii audio rulează, la momentul pornirii există {0} programe care rulează disponibile pentru reglare."
	IDS_ERRORID_MIXER_STARTERROR		"Mixerul de sesiuni audio nu a putut fi pornit, detaliile despre eroare ar trebui să fie în fișierul jurnal."
	IDS_ERRORID_MIXER_STOPOK		"Mixerul sesiunii audio s-a oprit."
	IDS_ERRORID_MIXER_STOPERROR		"Mixerul sesiunii audio nu a fost oprit corect, detaliile erorii ar trebui să fie în fișierul jurnal."
	IDS_ERRORID_NO_INIT			"Inițializați înainte de a apela asta..."
	IDS_ERRORID_SESSION_LIST		"Nu s-a putut obține lista de sesiuni audio."
	IDS_ERRORID_LISTISNULL			"Lista sesiunilor audio este goală!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Se dezactivează sesiunea audio, motiv='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Sesiune audio creată, nume='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Sesiune audio „{0}” - stare proastă de înregistrare „{1}”: {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"Valoarea care este setată din apel invers este un selector nevalid."
	IDS_ERRORID_SET_CB_WARNING		"Setarea unui apel invers este posibilă numai după ce bridge-ul MIDI a fost lansat cu succes."
	IDS_ERRORID_CONFIG_FAIL			"Încărcarea configurației a eșuat, fișierul nu a fost găsit, lansarea imposibilă."
	IDS_ERRORID_CONFIG_LOAD			"Configurație încărcată.."
	IDS_ERRORID_CONFIG_LOADA		"Configurația a fost deja încărcată.."
	IDS_ERRORID_CONFIG_EMPTY		"Configurația este goală.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"Configurația pentru modulul {0} este goală.."
	IDS_ERRORID_CONFIG_NEW			"A fost detectată o nouă versiune de configurare.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Implementare neacceptată în cod, metoda nu este suprascrisă: {0}"
	IDS_ERRORID_NOT_CONFIG			"Numele configurației nu este specificat și nu poate fi continuat."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Dispozitivele nu sunt conectate și nu pot continua."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Atenție, nepotrivire în numărul de dispozitive din lista finală, sistem/listă = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Nu se poate deschide dispozitivul MIDI, nu poate continua, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Nu se poate porni dispozitivul MIDI, nu poate continua, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Dispozitivul nu este conectat, anulare, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Dispozitiv {0} găsit, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Dispozitiv {0} deschis, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Dispozitiv {0} închis (sistem)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Dispozitiv {0} gata (sistem)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Numele dispozitivului activ nu este specificat, continuarea este imposibilă, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Porturile proxy nu sunt specificate în configurație, proxy-ul MIDI este dezactivat."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Versiunea driverului [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Problemă cu versiunea driverului [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Dispozitivul {0} a trimis o valoare nevalidă = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"Driverul MIDI virtual nu este instalat. Trebuie să instalați pachetul loopMidi sau să descărcați programul de instalare complet și să reinstalați MIDI-MT. Mai multe detalii: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Driverul Virtual MIDI instalat nu a fost găsit! Trebuie să instalați pachetul Virtual Loop MIDI pentru a rula traducătorul MIDI-MT."
	IDS_ERRORID_MIDI_PROXY_PORTS		"La pornire, vor fi create {0} porturi MIDI proxy."
	IDS_ERRORID_MIDI_PROXY_OFF		"Porturile MIDI proxy sunt dezactivate."
	IDS_ERRORID_MIDI_OUT_PORTS		"La pornire, vor fi create {0} porturi de ieșire MIDI."
	IDS_ERRORID_MIDI_OUT_OFF		"Porturile de ieșire MIDI sunt dezactivate."
	IDS_ERRORID_MMKEY_START			"Serviciul Media Key Management rulează."
	IDS_ERRORID_MMKEY_STOP			"Serviciul Media Key Management s-a oprit."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"Configurația MQTT este goală și nu poate continua."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Eroare la crearea clientului MQTT, anulare."
	IDS_ERRORID_MQTT_CLIENT_OK		"Clientul MMQTT a fost creat cu succes, continuați..."
	IDS_ERRORID_MQTT_CONNECTED		"Conectat la serverul MQTT:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Nu s-a putut conecta la serverul MQTT:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Deconectat de la serverul MQTT:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"Fișierul certificatului CA nu există, calea = „{0}”"
	IDS_ERRORID_MQTT_START			"Serviciul de control Smart Home a fost lansat."
	IDS_ERRORID_MQTT_STOP			"Serviciul de control Smart Home a fost oprit."
	IDS_ERRORID_MQTT_CA_FILTER		"certificat CA"
	IDS_ERRORID_MQTT_LOG_NONE		"nu se ține jurnal"
	IDS_ERRORID_MQTT_LOG_INFO		"informație"
	IDS_ERRORID_MQTT_LOG_NOTICE		"notificări"
	IDS_ERRORID_MQTT_LOG_WARNING		"Avertizări"
	IDS_ERRORID_MQTT_LOG_ERR		"numai erori"
	IDS_ERRORID_MQTT_LOG_DEBUG		"toate mesajele"
	IDS_ERRORID_PANEL_INDEX			"Panoul Mixer Audio - Nu se poate continua, elementele de index sunt incorecte."
	IDS_ERRORID_PANEL_INIT			"Panoul mixer audio - nu poate continua, eroare de inițializare."
	IDS_ERRORID_PANEL_ENABLE		"Fereastra panoului mixerului audio nu are starea corectă și operațiunea următoare nu poate fi continuată."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Panoul mixerului audio nu este invocat pe un fir de UI și nu se pot face modificări."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Panoul mixerului audio a detectat un element nevalid și crearea ferestrei panoului a fost întreruptă."
	IDS_ERRORID_LIGHT_DMX_START		"Serviciul de control al luminii DMX este pornit folosind COM{0} - {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"Serviciul de control al luminii DMX nu rulează, dispozitivul COM{0} nu este conectat.."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"Serviciul de control al luminii DMX nu rulează și configurația serviciului nu este completată."
	IDS_ERRORID_LIGHT_DMX_STOP		"Serviciul de control al luminii DMX s-a oprit."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Nu există dispozitive adecvate disponibile"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Selectați dispozitivul DMX"
	IDS_ERRORID_LIGHT_ARTNET_START		"Serviciul de control al luminii ArtNet rulează folosind adresa de difuzare {0}:{1} în rețeaua {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"Serviciul de control al luminii ArtNet nu rulează, rețeaua {0} nu a fost găsită.."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"Serviciul de control al luminii ArtNet nu rulează, configurația serviciului nu este completată."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"Serviciul de control al luminii ArtNet s-a oprit."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Nu există interfețe adecvate disponibile"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Selectați interfața ARTNET"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Eroare de inițializare a pluginului, imposibil de convertit CLSID/GUID din șirul specificat."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Nu s-a inițializat pluginurile, nu au fost găsite pluginuri compatibile."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Nu s-au încărcat pluginuri, {0} pre-inițializat, 0 pluginuri încărcate."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Pluginuri au fost inițializate cu succes, pre-inițializare {0}, {1} pluginuri încărcate."
	IDS_ERRORID_BRIDGE_OK_START		"Bridge-ul a fost lansat cu succes, {0} inițializat, {1} încărcat, {2} pluginuri rulează."
	IDS_ERRORID_BRIDGE_NOT_START		"Nu s-a pornit bridge-ul, eroare la pornirea pluginurilor, {0} inițializat, {1} plugin-uri încărcate."
	IDS_ERRORID_BRIDGE_OK_STOP		"Bridge-ul a fost oprit cu succes, {0} inițializat, {1} încărcat, {2} pornit, {3} pluginuri oprite."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Nu s-a oprit bridge-ul, eroare la oprirea pluginurilor, {0} inițializat, {1} încărcat, {2} plugin-uri rulează."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Pluginurile sunt deja încărcate, vă rugăm să resetați înainte de a reporni."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"Podul a fost deja lansat."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"Podul s-a oprit deja."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Nu s-a putut deschide modulul plugin. Modulul lipsește sau este deteriorat, DLL-ul nu a fost încărcat și a returnat nul."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"Modulul nu este un plugin MIDI-MT și lipsesc punctele de intrare necesare."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Activat={0}, setări={1}, rulare={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Configurație actualizată: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Nu s-au găsit module, pornirea imposibilă."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Vă rugăm să editați configurația înainte de a începe."
	IDS_ERRORID_MIDIMT_CONFFILTER		"Fișierul de configurare"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Configurație încărcată din fișier: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Configurație încărcată din driver"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"Limba selectată {0} va fi activă după repornirea ferestrei."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Versiunea driverului Virtual MIDI instalată: {0}"
	IDS_ERRORID_NONE			"-"
END
