#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_ROMANIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Ultimele fișiere:"
	STR_RB_TABHOMEL			"Editare"
	STR_RB_TABFILTERL		"Filtre"
	STR_RB_PANEL_EDITMAINL		"editați tasta MIDI"
	STR_RB_PANEL_EDITSETL		"Grup de taste MIDI"
	STR_RB_PANEL_EDITOPTL		"opțiunile editorului"
	STR_RB_PANEL_FILTERL		"selectarea filtrelor de vizualizare"
	STR_RB_PANEL_SORTL		"triere"
	STR_RB_MENUL			"&Meniul"
	STR_RB_MENUT			"Meniul aplicației"
	STR_RB_PANEL_QATL		"&Acces rapid"
	STR_RB_PANEL_QATT		"Bara de acces rapid"
	STR_RB_DIALOG_SAVEL		"&Salva"
	STR_RB_DIALOG_SAVET		"Salvați și aplicați"
	STR_RB_DIALOG_SAVED		"Salvați în fișierul descărcat anterior și actualizați configurația curentă."
	STR_RB_DIALOG_EXPORTL		"&Export"
	STR_RB_DIALOG_EXPORTT		"Exportați într-un fișier nou"
	STR_RB_DIALOG_EXPORTD		"Exportați configurația editată într-un fișier nou."
	STR_RB_DIALOG_IMPORTL		"&Import"
	STR_RB_DIALOG_IMPORTT		"Import din fișier"
	STR_RB_DIALOG_IMPORTD		"Importați configurația din fișier."
	STR_RB_DIALOG_EXITL		"&Ieșire"
	STR_RB_DIALOG_EXITT		"Ieșiți din editor"
	STR_RB_DIALOG_EXITD		"Iese din Editorul de configurare a tastelor MIDI; dacă modificările nu sunt salvate, acestea se vor pierde."
	STR_RB_LV_NEWL			"&Tasta MIDI nouă"
	STR_RB_LV_NEWT			"Tasta MIDI nouă"
	STR_RB_LV_NEWD			"Crearea unei noi chei MIDI."
	STR_RB_LV_COPYL			"&Copie"
	STR_RB_LV_COPYT			"Copiați cheia MIDI"
	STR_RB_LV_COPYD			"Copiați intrarea selectată a tastei MIDI."
	STR_RB_LV_PASTEL		"&Introduce"
	STR_RB_LV_PASTET		"Introduceți cheia"
	STR_RB_LV_PASTED		"Lipiți cheia MIDI copiată."
	STR_RB_LV_DELETEL		"&Șterge"
	STR_RB_LV_DELETET		"Șterge cheia"
	STR_RB_LV_DELETED		"Ștergeți intrarea selectată a tastei MIDI."
	STR_RB_LV_SET_MQTTL		"Casa inteligentă"
	STR_RB_LV_SET_MQTTT		"Setați grupul ca „Smart Home”."
	STR_RB_LV_SET_MQTTD		"Atribuiți cheia MIDI selectată grupului „Smart Home”."
	STR_RB_LV_SET_MMKEYL		"Butoane multimedia"
	STR_RB_LV_SET_MMKEYT		"Setați grupul ca „Butoane multimedia”"
	STR_RB_LV_SET_MMKEYD		"Atribuiți cheia MIDI selectată grupului „Butoane multimedia”."
	STR_RB_LV_SET_MIXERL		"Mixer audio"
	STR_RB_LV_SET_MIXERT		"Setați grupul ca „Mixer audio”"
	STR_RB_LV_SET_MIXERD		"Atribuiți cheia MIDI selectată grupului „Audio Mixer”."
	STR_RB_LV_READ_MIDI_CODEL	"Citiți codul MIDI"
	STR_RB_LV_READ_MIDI_CODET	"Citiți codul de control MIDI"
	STR_RB_LV_READ_MIDI_CODED	"Citiți codul MIDI de pe o suprafață de control sau de pe o tastatură MIDI."
	STR_RB_LV_EDIT_MODEL		"Doar intrare digitală"
	STR_RB_LV_EDIT_MODET		"Utilizați numai intrarea digitală"
	STR_RB_LV_EDIT_MODED		"Nu utilizați meniul de selectare a valorii, utilizați numai intrarea digitală."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"Panou de control MIDI"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Setări recomandate"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Setări recomandate pentru panoul de control MIDI compatibile cu comenzile Adobe Premiere Pro."
	STR_RB_LV_FILTER_EMBEDL		"Filtre încorporate"
	STR_RB_LV_FILTER_KEYL		"Cheie"
	STR_RB_LV_FILTER_KEYT		"Filtrați după tasta MIDI"
	STR_RB_LV_FILTER_KEYD		"Afișați numai potrivirile dintr-un grup de taste MIDI."
	STR_RB_LV_FILTER_SCENEL		"Scenă"
	STR_RB_LV_FILTER_SCENET		"Filtrați după scena MIDI"
	STR_RB_LV_FILTER_SCENED		"Afișați numai potrivirile din grupul de scene MIDI."
	STR_RB_LV_FILTER_TARGETL	"Scopul 1"
	STR_RB_LV_FILTER_TARGETT	"Filtrați după destinație 1"
	STR_RB_LV_FILTER_TARGETD	"Afișați numai meciurile din grupul țintă 1."
	STR_RB_LV_FILTER_TARGETLONGL	"Scopul 2"
	STR_RB_LV_FILTER_TARGETLONGT	"Filtrați după destinație 2"
	STR_RB_LV_FILTER_TARGETLONGD	"Afișați numai meciurile din grupul țintă 2."
	STR_RB_LV_FILTER_CLEARL		"Ștergeți filtrele"
	STR_RB_LV_FILTER_CLEART		"Curățarea filtrelor"
	STR_RB_LV_FILTER_CLEARD		"Ștergeți complet filtrele, toate intrările vor fi afișate."
	STR_RB_LV_FILTER_SETL		"Setați filtrul"
	STR_RB_LV_FILTER_SETT		"Instalarea filtrului"
	STR_RB_LV_FILTER_SETD		"Setarea filtrului afișează toate elementele nevalide."
	STR_RB_LV_FILTER_ONL		"Aplica filtru"
	STR_RB_LV_FILTER_ONT		"Aplicarea unui filtru"
	STR_RB_LV_FILTER_OND		"Aplicarea unui filtru afișează elementele selectate."
	STR_RB_LV_FILTER_OFFL		"Anulează filtrul"
	STR_RB_LV_FILTER_OFFT		"Anulează filtrul"
	STR_RB_LV_FILTER_OFFD		"Anularea filtrului va afișa toate elementele."
	STR_RB_LV_FILTER_MMKEYL		"Afișați „Butoanele multimedia”"
	STR_RB_LV_FILTER_MMKEYT		"Filtrați după grupul „Butoane multimedia”."
	STR_RB_LV_FILTER_MMKEYD		"Aplicarea unui filtru va afișa membrii grupului Butoane multimedia."
	STR_RB_LV_FILTER_MIXERL		"Afișați „Mixer audio”"
	STR_RB_LV_FILTER_MIXERT		"Filtrați după grupul „Mixer audio”."
	STR_RB_LV_FILTER_MIXERD		"Aplicarea unui filtru va afișa membrii grupului Mixer audio."
	STR_RB_LV_FILTER_MQTTL		"Afișați „Acasă inteligentă”"
	STR_RB_LV_FILTER_MQTTT		"Filtrați după grupul „Smart Home”."
	STR_RB_LV_FILTER_MQTTD		"Aplicarea unui filtru va afișa membrii grupului Smart Home."
	STR_RB_LV_FILTER_LIGHT8L	"Afișați „Iluminare pe 8 biți”"
	STR_RB_LV_FILTER_LIGHT8T	"Filtrați după grup „Iluminare 8 biți”"
	STR_RB_LV_FILTER_LIGHT8D	"Aplicarea filtrului va afișa membrii grupului Iluminare cu canale pe 8 biți."
	STR_RB_LV_FILTER_LIGHT16L	"Afișați „Iluminare pe 16 biți”"
	STR_RB_LV_FILTER_LIGHT16T	"Filtrați după grupul „Iluminare pe 16 biți”."
	STR_RB_LV_FILTER_LIGHT16D	"Aplicarea filtrului va afișa membrii grupului Iluminare cu canale pe 16 biți."
	STR_RB_LV_FILTER_SCRIPTL	"Afișați „Scripturi”"
	STR_RB_LV_FILTER_SCRIPTT	"Filtrați după grupul „Scripturi” ChaiScript"
	STR_RB_LV_FILTER_SCRIPTD	"Aplicarea unui filtru va afișa membrii grupului Scripturi."
	STR_RB_LV_FILTER_TYPEBTNL	"Tip filtru"
	STR_RB_LV_FILTER_TYPEBTNT	"Setarea tipului de filtre de aplicat"
	STR_RB_LV_FILTER_TYPEBTND	"Tipurile de filtre utilizate au două stări logice: „ȘI”, „SAU”."
	STR_RB_LV_FILTER_TYPEGRPL	"Selectarea unui tip de filtru"
	STR_RB_LV_FILTER_TYPEORL	"Afișați orice potrivire"
	STR_RB_LV_FILTER_TYPEORT	"Afișați intrările cu orice potrivire"
	STR_RB_LV_FILTER_TYPEORD       	"Filtrul are o stare logică AND și arată orice potrivire."
	STR_RB_LV_FILTER_TYPEANDL	"Afișați numai potriviri complete"
	STR_RB_LV_FILTER_TYPEANDT	"Afișați numai înregistrările cu potriviri exacte"
	STR_RB_LV_FILTER_TYPEANDD	"Filtrul are o stare logică SAU și arată doar potriviri complete."
	STR_RB_LV_FILTER_AUTOCOMMITL	"Trimiterea automată a datelor în filtru"
	STR_RB_LV_FILTER_AUTOCOMMITT	"Trimiterea automată a valorilor introduse în filtru"
	STR_RB_LV_FILTER_AUTOCOMMITD	"Trimite automat valorile de intrare într-un filtru încorporat."
	STR_RB_LV_EXT_MODEL		"Afișează sortarea"
	STR_RB_LV_SORTUP_KEYL		"prin cheie"
	STR_RB_LV_SORTUP_KEYT		"Sortați după tasta ascendentă și MIDI."
	STR_RB_LV_SORTUP_SCENEL		"în jurul scenei"
	STR_RB_LV_SORTUP_SCENET		"Sortare după scenă ascendentă și MIDI."
	STR_RB_LV_SORTUP_TARGETL	"cu programare 1"
	STR_RB_LV_SORTUP_TARGETT	"Sortați după creșterea și destinația MIDI 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"cu programare 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Sortare crescător și destinație MIDI 2."
	STR_RB_LV_SORTDOWN_KEYT		"Sortați după tasta descendentă și MIDI."
	STR_RB_LV_SORTDOWN_SCENET	"Sortare după ordine descrescătoare și scena MIDI."
	STR_RB_LV_SORTDOWN_TARGETT	"Sortarea după ordine descrescătoare și destinația MIDI 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Sortare după ordine descrescătoare și destinație MIDI 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Exportați în MQTT"
	STR_RB_DIALOG_EXPORTMQTTT	"Exportați configurația MQTT"
	STR_RB_DIALOG_EXPORTMQTTD	"Exportați configurația DMX512/ARTNET într-un fișier nou."
	STR_RB_PANEL_EDITUTILL		"Instrumente"
	STR_RB_LV_SET_BUTTONL		"Atribuiți cheia MIDI"
	STR_RB_LV_SET_BUTTONT		"Atribuiți cheia MIDI selectată"
	STR_RB_LV_SET_BUTTOND		"Definiți cheia MIDI selectată ca membru al grupului."
	STR_RB_LV_SET_LIGHT8L		"Iluminare 8 biți"
	STR_RB_LV_SET_LIGHT8T		"Setați grupul ca „Iluminare 8 biți”"
	STR_RB_LV_SET_LIGHT8D		"Atribuiți cheia MIDI selectată grupului „Lighting 8 Bit”."
	STR_RB_LV_SET_LIGHT16L		"Iluminare 16 biți"
	STR_RB_LV_SET_LIGHT16T		"Setați grupul ca „Iluminare pe 16 biți”"
	STR_RB_LV_SET_LIGHT16D		"Atribuiți cheia MIDI selectată grupului „Iluminare pe 16 biți”."
	STR_RB_LV_SET_SCRIPTL		"Scenarii"
	STR_RB_LV_SET_SCRIPTT		"Setați grupul ca „Scripturi”"
	STR_RB_LV_SET_SCRIPTD		"Atribuiți cheia MIDI selectată grupului „Scripturi”."
	STR_RB_DIALOG_SHOWDUPL		"Afișați duplicatele"
	STR_RB_DIALOG_SHOWDUPT		"Găsiți taste MIDI duplicate"
	STR_RB_DIALOG_SHOWDUPD		"Căutați taste MIDI duplicate; dacă acestea sunt prezente, poate apărea un comportament neașteptat."

	STR_RB_DIALOG_DELDUPL		"Eliminați duplicatele"
	STR_RB_DIALOG_DELDUPT		"Eliminați posibilele taste MIDI duplicate"
	STR_RB_DIALOG_DELDUPD		"Găsirea și eliminarea tastelor MIDI duplicate, dacă există duplicate, este posibil să nu se comporte conform așteptărilor."
END
