﻿
#define APSTUDIO_READONLY_SYMBOLS
#ifndef APSTUDIO_INVOKED
#include <SDKDDKVer.h>
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#include "CommCtrl.h"
#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_GEORGIAN, SUBLANG_DEFAULT
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_TRAY_MENU MENU 
BEGIN
    POPUP "MIDI Mackie მთარგმნელი"
    BEGIN
        MENUITEM " ", IDM_GO_EMPTY
        MENUITEM "&ინფორმაცია", IDM_GO_INFO
        MENUITEM "& აუდიო მიქსერი", IDM_GO_MIXER
        MENUITEM "&მონიტორი", IDM_GO_MONITOR
        MENUITEM "&პარამეტრები", IDM_GO_CONFIGURE
        MENUITEM SEPARATOR
        MENUITEM "დაწყება", IDM_GO_START
        MENUITEM "გაჩერდი", IDM_GO_STOP, CHECKED, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "გასვლა", IDM_EXIT
    END
END

IDR_MIXER_CTRL_MENU MENU 
BEGIN
    POPUP "MIXPANELMENU"
    BEGIN
        POPUP "მდებარეობა.."
        BEGIN
            MENUITEM "ვერტიკალური მარცხენა", IDM_VERT_LEFT
            MENUITEM "ვერტიკალური მარჯვნივ", IDM_VERT_RIGHT
            MENUITEM "ჰორიზონტალურად ზევით", IDM_HOR_TOP
            MENUITEM "ჰორიზონტალურად ქვემოთ", IDM_HOR_BOTTOM
        END
        POPUP "თემა.."
        BEGIN
            MENUITEM "მეტრო", IDM_METRO
            MENUITEM "Მსუბუქი", IDM_LIGHT
            MENUITEM "Ბნელი", IDM_DARK
            MENUITEM "რეტრო", IDM_RETRO
            MENUITEM "Თანამედროვე", IDM_MODERN
            MENUITEM SEPARATOR
            MENUITEM "Დაყენება", IDM_CUSTOM
            MENUITEM "თემის დაყენება", IDM_CALLFORM_COLOR
        END
        MENUITEM SEPARATOR
        MENUITEM "&ანიმაცია", IDM_ANIMATION
        MENUITEM "&აპლიკაციის გზა", IDM_APP_PATH
        MENUITEM "დამაგრება & MIDI კონტროლი", IDM_MIDI_BIND
        MENUITEM "პიკის და მოცულობის მრიცხველი", IDM_PEAK_METER
        MENUITEM "დაიმახსოვრე პოზიცია", IDM_SAVE_POS
        MENUITEM SEPARATOR
        MENUITEM "&დახურვა", IDM_CLOSE
    END
END

IDR_LV_MENU MENU 
BEGIN
    POPUP "LV MENU"
    BEGIN
        MENUITEM "Ახალი ჩანაწერი", IDM_LV_NEW
        MENUITEM SEPARATOR
        MENUITEM "კოპირება", IDM_LV_COPY
        MENUITEM "ჩასმა", IDM_LV_PASTE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "წაშლა", IDM_LV_DELETE
        POPUP "დააინსტალირეთ როგორც.."
        BEGIN
            MENUITEM "კონტროლი ეხება აუდიო მიქსერს", IDM_LV_SET_MIXER
            MENUITEM "კონტროლი ვრცელდება მულტიმედია ღილაკებზე", IDM_LV_SET_MMKEY
            MENUITEM "კონტროლი ეხება ჭკვიან სახლს", IDM_LV_SET_MQTT
            POPUP "კონტროლი ეხება სინათლის კონტროლს"
            BEGIN
                MENUITEM "არხი 8 ბიტი (სტანდარტული)", IDM_LV_SET_LIGHTKEY8B
                MENUITEM "არხი 16 ბიტი (გაფართოებული)", IDM_LV_SET_LIGHTKEY16B
            END
            MENUITEM SEPARATOR
            MENUITEM "მინიჭებული არ არის", IDM_LV_SET_NONE
        END
        MENUITEM SEPARATOR
        MENUITEM "წაიკითხეთ MIDI კოდი..", IDM_LV_READ_MIDI_CODE
    END
END

IDR_COL3_TYPE_MENU MENU 
BEGIN
    POPUP "COL3 TYPE MENU"
    BEGIN
        POPUP "რეგულატორები.."
        BEGIN
            MENUITEM "ზოლის რეგულატორი", IDM_COL3_SLIDER
            MENUITEM "ზოლის რეგულატორი ინვერსიით", IDM_COL3_SLIDERINVERT
            MENUITEM SEPARATOR
            MENUITEM "წრიული რეგულატორი", IDM_COL3_FADER
            MENUITEM "წრიული რეგულატორი ინვერსიით", IDM_COL3_FADERINVERT
            MENUITEM SEPARATOR
            MENUITEM "შიფრატორი", IDM_COL3_KNOB
            MENUITEM "შიფრატორი ინვერსიით", IDM_COL3_KNOBINVERT
            MENUITEM SEPARATOR
            MENUITEM "მინიჭებული არ არის", IDM_COL3_NONE
        END
        POPUP "ღილაკები.."
        BEGIN
            MENUITEM "ღილაკი", IDM_COL3_BTN
            MENUITEM "გადართვის ღილაკი, მითითებით", IDM_COL3_BTNTOGGLE
            MENUITEM SEPARATOR
            MENUITEM "მინიჭებული არ არის", IDM_COL3_NONE
        END
    END
END

IDR_COL4_ALL_TARGET_MENU MENU 
BEGIN
    POPUP "COL4 ALL APPENDED TARGET MENU"
    BEGIN
        MENUITEM "მინიჭებული არ არის", IDM_COL4_NONE
        MENUITEM SEPARATOR
        MENUITEM "რეგულატორები..", IDR_COL5_MENU_REPLACE_FIELD1
        MENUITEM "ღილაკები..", IDR_COL5_MENU_REPLACE_FIELD2
        MENUITEM SEPARATOR
        MENUITEM "კონტროლი ეხება აუდიო მიქსერს", IDM_COL4_VOLUMEMIX
        MENUITEM "კონტროლი ვრცელდება მულტიმედია ღილაკებზე", IDM_COL4_MEDIAKEY
        MENUITEM "კონტროლი ეხება ჭკვიან სახლს", IDM_COL4_MQTTKEY
        POPUP "კონტროლი ეხება სინათლის კონტროლს"
        BEGIN
            MENUITEM "არხი 8 ბიტი (სტანდარტული)", IDM_COL4_LIGHTKEY8B
            MENUITEM "არხი 16 ბიტი (გაფართოებული)", IDM_COL4_LIGHTKEY16B
        END
    END
END

IDR_COL4_BTN_TARGET_MENU MENU 
BEGIN
    POPUP "COL4 BTN TARGET MENU"
    BEGIN
        MENUITEM "მინიჭებული არ არის", IDM_COL4_NONE
        MENUITEM SEPARATOR
        POPUP "ხმის კონტროლი..."
        BEGIN
            MENUITEM "ჩუმად (ოსტატი)", IDM_COL4_MAM
            MENUITEM "სოლო (ოსტატი)", IDM_COL4_MAS
            MENUITEM SEPARATOR
            POPUP "უხმოდ.."
            BEGIN
                MENUITEM "არხი 1", IDM_COL4_B21
                MENUITEM "არხი 2", IDM_COL4_B22
                MENUITEM "არხი 3", IDM_COL4_B23
                MENUITEM "არხი 4", IDM_COL4_B24
                MENUITEM "არხი 5", IDM_COL4_B25
                MENUITEM "არხი 6", IDM_COL4_B26
                MENUITEM "არხი 7", IDM_COL4_B27
                MENUITEM "არხი 8", IDM_COL4_B28
                MENUITEM "არხი 9", IDM_COL4_B29
            END
            POPUP "სოლო.."
            BEGIN
                MENUITEM "არხი 1", IDM_COL4_B11
                MENUITEM "არხი 2", IDM_COL4_B12
                MENUITEM "არხი 3", IDM_COL4_B13
                MENUITEM "არხი 4", IDM_COL4_B14
                MENUITEM "არხი 5", IDM_COL4_B15
                MENUITEM "არხი 6", IDM_COL4_B16
                MENUITEM "არხი 7", IDM_COL4_B17
                MENUITEM "არხი 8", IDM_COL4_B18
                MENUITEM "არხი 9", IDM_COL4_B19
            END
        END
        POPUP "მულტიმედიური ღილაკები.."
        BEGIN
            MENUITEM "დაკვრა/პაუზა", IDM_COL4_SYS_Play
            MENUITEM "გაჩერდი", IDM_COL4_SYS_Stop
            MENUITEM "წინა", IDM_COL4_SYS_Rewind
            MENUITEM "შემდეგი", IDM_COL4_SYS_Forward
            MENUITEM "ჩანაწერი", IDM_COL4_SYS_Record
            MENUITEM "ზემოთ (ჯოისტიკი)", IDM_COL4_SYS_Up
            MENUITEM "ქვემოთ (ჯოისტიკი)", IDM_COL4_SYS_Down
            MENUITEM "მარჯვენა (ჯოისტიკი)", IDM_COL4_SYS_Right
            MENUITEM "მარცხენა (ჯოისტიკი)", IDM_COL4_SYS_Left
            MENUITEM "Მიახლოება", IDM_COL4_SYS_Zoom
            MENUITEM "სკრაბი", IDM_COL4_SYS_Scrub
        END
        POPUP "Premiere Pro მახასიათებლები..."
        BEGIN
            POPUP "სტანდარტული ღილაკის ფუნქციები..."
            BEGIN
                MENUITEM "ფუნქცია 1", IDM_COL4_FUN11
                MENUITEM "ფუნქცია 2", IDM_COL4_FUN12
                MENUITEM "ფუნქცია 3", IDM_COL4_FUN13
                MENUITEM "ფუნქცია 4", IDM_COL4_FUN14
                MENUITEM "ფუნქცია 5", IDM_COL4_FUN15
                MENUITEM "ფუნქცია 6", IDM_COL4_FUN16
                MENUITEM "ფუნქცია 7", IDM_COL4_FUN17
                MENUITEM "ფუნქცია 8", IDM_COL4_FUN18
            END
            POPUP "ერთი შეხებით ღილაკის ფუნქციები..."
            BEGIN
                MENUITEM "ფუნქცია 1", IDM_COL4_FUN21
                MENUITEM "ფუნქცია 2", IDM_COL4_FUN22
                MENUITEM "ფუნქცია 3", IDM_COL4_FUN23
                MENUITEM "ფუნქცია 4", IDM_COL4_FUN24
                MENUITEM "ფუნქცია 5", IDM_COL4_FUN25
                MENUITEM "ფუნქცია 6", IDM_COL4_FUN26
                MENUITEM "ფუნქცია 7", IDM_COL4_FUN27
                MENUITEM "ფუნქცია 8", IDM_COL4_FUN28
            END
        END
        POPUP "ღილაკები Smart Home სისტემაში.."
        BEGIN
            MENUITEM "ჩართვა/გამორთვა 1", IDM_COL4_B11
            MENUITEM "ჩართვა/გამორთვა 2", IDM_COL4_B12
            MENUITEM "ჩართვა/გამორთვა 3", IDM_COL4_B13
            MENUITEM "ჩართვა/გამორთვა 4", IDM_COL4_B14
            MENUITEM "ჩართვა/გამორთვა 5", IDM_COL4_B15
            MENUITEM "ჩართვა/გამორთვა 6", IDM_COL4_B16
            MENUITEM "ჩართვა/გამორთვა 7", IDM_COL4_B17
            MENUITEM "ჩართვა/გამორთვა 8", IDM_COL4_B18
            MENUITEM "ჩართვა/გამორთვა 9", IDM_COL4_B19
            MENUITEM "ჩართვა/გამორთვა 10", IDM_COL4_B21
            MENUITEM "ჩართვა/გამორთვა 11", IDM_COL4_B22
            MENUITEM "ჩართვა/გამორთვა 12", IDM_COL4_B23
            MENUITEM "ჩართვა/გამორთვა 13", IDM_COL4_B24
            MENUITEM "ჩართვა/გამორთვა 14", IDM_COL4_B25
            MENUITEM "ჩართვა/გამორთვა 15", IDM_COL4_B26
            MENUITEM "ჩართვა/გამორთვა 16", IDM_COL4_B27
            MENUITEM "ჩართვა/გამორთვა 17", IDM_COL4_B28
            MENUITEM "ჩართვა/გამორთვა 18", IDM_COL4_B29
            MENUITEM "ჩართვა/გამორთვა 19", IDM_COL4_B31
            MENUITEM "ჩართვა/გამორთვა 20", IDM_COL4_B32
            MENUITEM "ჩართვა/გამორთვა 21", IDM_COL4_B33
            MENUITEM "ჩართვა/გამორთვა 22", IDM_COL4_B34
            MENUITEM "ჩართვა/გამორთვა 23", IDM_COL4_B35
            MENUITEM "ჩართვა/გამორთვა 24", IDM_COL4_B36
            MENUITEM "ჩართვა/გამორთვა 25", IDM_COL4_B37
            MENUITEM "ჩართვა/გამორთვა 26", IDM_COL4_B38
            MENUITEM "ჩართვა/გამორთვა 27", IDM_COL4_B39
        END
        MENUITEM SEPARATOR
        MENUITEM "კონტროლი ეხება აუდიო მიქსერს", IDM_COL4_VOLUMEMIX
        MENUITEM "კონტროლი ვრცელდება მულტიმედია ღილაკებზე", IDM_COL4_MEDIAKEY
        MENUITEM "კონტროლი ეხება ჭკვიან სახლს", IDM_COL4_MQTTKEY
        POPUP "კონტროლი ეხება სინათლის კონტროლს"
        BEGIN
            MENUITEM "არხი 8 ბიტი (სტანდარტული)", IDM_COL4_LIGHTKEY8B
            MENUITEM "არხი 16 ბიტი (გაფართოებული)", IDM_COL4_LIGHTKEY16B
        END
    END
END

IDR_COL4_SLIDER_TARGET_MENU MENU 
BEGIN
    POPUP "COL4 SLIDER TARGET MENU"
    BEGIN
        MENUITEM "ენკოდერი (კადრ-კადრის ნახვა)", IDM_COL4_JOG
        MENUITEM "მინიჭებული არ არის", IDM_COL4_NONE
        MENUITEM SEPARATOR
        POPUP "ხმის კონტროლი..."
        BEGIN
            MENUITEM "მოცულობა (მასტერი)", IDM_COL4_MAV
            MENUITEM "ბალანსი (ოსტატი)", IDM_COL4_MAP
            MENUITEM SEPARATOR
            POPUP "მოცულობა.."
            BEGIN
                MENUITEM "არხი 1", IDM_COL4_AV1
                MENUITEM "არხი 2", IDM_COL4_AV2
                MENUITEM "არხი 3", IDM_COL4_AV3
                MENUITEM "არხი 4", IDM_COL4_AV4
                MENUITEM "არხი 5", IDM_COL4_AV5
                MENUITEM "არხი 6", IDM_COL4_AV6
                MENUITEM "არხი 7", IDM_COL4_AV7
                MENUITEM "არხი 8", IDM_COL4_AV8
                MENUITEM "არხი 9", IDM_COL4_XV9
            END
            POPUP "Ბალანსი.."
            BEGIN
                MENUITEM "არხი 1", IDM_COL4_AP1
                MENUITEM "არხი 2", IDM_COL4_AP2
                MENUITEM "არხი 3", IDM_COL4_AP3
                MENUITEM "არხი 4", IDM_COL4_AP4
                MENUITEM "არხი 5", IDM_COL4_AP5
                MENUITEM "არხი 6", IDM_COL4_AP6
                MENUITEM "არხი 7", IDM_COL4_AP7
                MENUITEM "არხი 8", IDM_COL4_AP8
                MENUITEM "არხი 9", IDM_COL4_XP9
            END
        END
        POPUP "რეგულატორები ""ჭკვიანი სახლის"" სისტემაში.."
        BEGIN
            MENUITEM "დონე 1", IDM_COL4_AV1
            MENUITEM "დონე 2", IDM_COL4_AV2
            MENUITEM "დონე 3", IDM_COL4_AV3
            MENUITEM "დონე 4", IDM_COL4_AV4
            MENUITEM "დონე 5", IDM_COL4_AV5
            MENUITEM "დონე 6", IDM_COL4_AV6
            MENUITEM "დონე 7", IDM_COL4_AV7
            MENUITEM "დონე 8", IDM_COL4_AV8
            MENUITEM "დონე 9", IDM_COL4_XV9
            MENUITEM "დონე 10", IDM_COL4_AP1
            MENUITEM "დონე 11", IDM_COL4_AP2
            MENUITEM "დონე 12", IDM_COL4_AP3
            MENUITEM "დონე 13", IDM_COL4_AP4
            MENUITEM "დონე 14", IDM_COL4_AP5
            MENUITEM "დონე 15", IDM_COL4_AP6
            MENUITEM "დონე 16", IDM_COL4_AP7
            MENUITEM "დონე 17", IDM_COL4_AP8
            MENUITEM "დონე 18", IDM_COL4_XP9
        END
        MENUITEM SEPARATOR
        MENUITEM "კონტროლი ეხება აუდიო მიქსერს", IDM_COL4_VOLUMEMIX
        MENUITEM "კონტროლი ვრცელდება მულტიმედია ღილაკებზე", IDM_COL4_MEDIAKEY
        MENUITEM "კონტროლი ეხება ჭკვიან სახლს", IDM_COL4_MQTTKEY
        POPUP "კონტროლი ეხება სინათლის კონტროლს"
        BEGIN
            MENUITEM "არხი 8 ბიტი (სტანდარტული)", IDM_COL4_LIGHTKEY8B
            MENUITEM "არხი 16 ბიტი (გაფართოებული)", IDM_COL4_LIGHTKEY16B
        END
    END
END

IDR_COL5_SLIDER_MIX_MENU MENU 
BEGIN
    POPUP "COL4 SLIDER MIXER MENU"
    BEGIN
        MENUITEM "მოცულობა (მასტერი)", IDM_COL4_MAV
        MENUITEM "შიფრატორი (JOG)", IDM_COL4_JOG
        MENUITEM SEPARATOR
        POPUP "მოცულობა.."
        BEGIN
            MENUITEM "არხი 1", IDM_COL4_AV1
            MENUITEM "არხი 2", IDM_COL4_AV2
            MENUITEM "არხი 3", IDM_COL4_AV3
            MENUITEM "არხი 4", IDM_COL4_AV4
            MENUITEM "არხი 5", IDM_COL4_AV5
            MENUITEM "არხი 6", IDM_COL4_AV6
            MENUITEM "არხი 7", IDM_COL4_AV7
            MENUITEM "არხი 8", IDM_COL4_AV8
            MENUITEM "არხი 9", IDM_COL4_XV9
            MENUITEM "არხი 10", IDM_COL4_AP1
            MENUITEM "არხი 11", IDM_COL4_AP2
            MENUITEM "არხი 12", IDM_COL4_AP3
            MENUITEM "არხი 13", IDM_COL4_AP4
            MENUITEM "არხი 14", IDM_COL4_AP5
            MENUITEM "არხი 15", IDM_COL4_AP6
            MENUITEM "არხი 16", IDM_COL4_AP7
            MENUITEM "არხი 17", IDM_COL4_AP8
            MENUITEM "არხი 18", IDM_COL4_XP9
        END
        MENUITEM SEPARATOR
        MENUITEM "მინიჭებული არ არის", IDM_COL4_NONE
    END
END

IDR_COL5_BTN_MIX_MENU MENU 
BEGIN
    POPUP "COL5 BTN MIXER MENU"
    BEGIN
        MENUITEM "ჩუმად (ოსტატი)", IDM_COL4_MAM
        MENUITEM SEPARATOR
        POPUP "უხმოდ.."
        BEGIN
            MENUITEM "არხი 1", IDM_COL4_B21
            MENUITEM "არხი 2", IDM_COL4_B22
            MENUITEM "არხი 3", IDM_COL4_B23
            MENUITEM "არხი 4", IDM_COL4_B24
            MENUITEM "არხი 5", IDM_COL4_B25
            MENUITEM "არხი 6", IDM_COL4_B26
            MENUITEM "არხი 7", IDM_COL4_B27
            MENUITEM "არხი 8", IDM_COL4_B28
            MENUITEM "არხი 9", IDM_COL4_B29
        END
        MENUITEM SEPARATOR
        MENUITEM "მინიჭებული არ არის", IDM_COL4_NONE
    END
END

IDR_COL5_BTN_MMKEY_MENU MENU 
BEGIN
    POPUP "COL5 BTN MMKEY MENU"
    BEGIN
        MENUITEM "დაკვრა/პაუზა", IDM_COL4_SYS_Play
        MENUITEM "გაჩერდი", IDM_COL4_SYS_Stop
        MENUITEM "წინა", IDM_COL4_SYS_Rewind
        MENUITEM "შემდეგი", IDM_COL4_SYS_Forward
        MENUITEM "ჩანაწერი", IDM_COL4_SYS_Record
        MENUITEM "ზემოთ (ჯოისტიკი)", IDM_COL4_SYS_Up
        MENUITEM "ქვემოთ (ჯოისტიკი)", IDM_COL4_SYS_Down
        MENUITEM "მარჯვენა (ჯოისტიკი)", IDM_COL4_SYS_Right
        MENUITEM "მარცხენა (ჯოისტიკი)", IDM_COL4_SYS_Left
        MENUITEM "Მიახლოება", IDM_COL4_SYS_Zoom
        MENUITEM "სკრაბი", IDM_COL4_SYS_Scrub
        MENUITEM SEPARATOR
        MENUITEM "მინიჭებული არ არის", IDM_COL4_NONE
    END
END

IDR_COL5_SLIDER_SM_MENU MENU 
BEGIN
    POPUP "COL5 SLIDER SMART HOUSE MENU"
    BEGIN
        MENUITEM "დონე 1", IDM_COL4_AV1
        MENUITEM "დონე 2", IDM_COL4_AV2
        MENUITEM "დონე 3", IDM_COL4_AV3
        MENUITEM "დონე 4", IDM_COL4_AV4
        MENUITEM "დონე 5", IDM_COL4_AV5
        MENUITEM "დონე 6", IDM_COL4_AV6
        MENUITEM "დონე 7", IDM_COL4_AV7
        MENUITEM "დონე 8", IDM_COL4_AV8
        MENUITEM "დონე 9", IDM_COL4_XV9
        MENUITEM "დონე 10", IDM_COL4_AP1
        MENUITEM "დონე 11", IDM_COL4_AP2
        MENUITEM "დონე 12", IDM_COL4_AP3
        MENUITEM "დონე 13", IDM_COL4_AP4
        MENUITEM "დონე 14", IDM_COL4_AP5
        MENUITEM "დონე 15", IDM_COL4_AP6
        MENUITEM "დონე 16", IDM_COL4_AP7
        MENUITEM "დონე 17", IDM_COL4_AP8
        MENUITEM "დონე 18", IDM_COL4_XP9
        MENUITEM SEPARATOR
        MENUITEM "მინიჭებული არ არის", IDM_COL4_NONE
    END
END

IDR_COL5_BTN_SM_MENU MENU 
BEGIN
    POPUP "COL5 BTN SMART HOUSE MENU"
    BEGIN
        MENUITEM "ჩართვა/გამორთვა 1", IDM_COL4_B11
        MENUITEM "ჩართვა/გამორთვა 2", IDM_COL4_B12
        MENUITEM "ჩართვა/გამორთვა 3", IDM_COL4_B13
        MENUITEM "ჩართვა/გამორთვა 4", IDM_COL4_B14
        MENUITEM "ჩართვა/გამორთვა 5", IDM_COL4_B15
        MENUITEM "ჩართვა/გამორთვა 6", IDM_COL4_B16
        MENUITEM "ჩართვა/გამორთვა 7", IDM_COL4_B17
        MENUITEM "ჩართვა/გამორთვა 8", IDM_COL4_B18
        MENUITEM "ჩართვა/გამორთვა 9", IDM_COL4_B19
        MENUITEM "ჩართვა/გამორთვა 10", IDM_COL4_B21
        MENUITEM "ჩართვა/გამორთვა 11", IDM_COL4_B22
        MENUITEM "ჩართვა/გამორთვა 12", IDM_COL4_B23
        MENUITEM "ჩართვა/გამორთვა 13", IDM_COL4_B24
        MENUITEM "ჩართვა/გამორთვა 14", IDM_COL4_B25
        MENUITEM "ჩართვა/გამორთვა 15", IDM_COL4_B26
        MENUITEM "ჩართვა/გამორთვა 16", IDM_COL4_B27
        MENUITEM "ჩართვა/გამორთვა 17", IDM_COL4_B28
        MENUITEM "ჩართვა/გამორთვა 18", IDM_COL4_B29
        MENUITEM "ჩართვა/გამორთვა 19", IDM_COL4_B31
        MENUITEM "ჩართვა/გამორთვა 20", IDM_COL4_B32
        MENUITEM "ჩართვა/გამორთვა 21", IDM_COL4_B33
        MENUITEM "ჩართვა/გამორთვა 22", IDM_COL4_B34
        MENUITEM "ჩართვა/გამორთვა 23", IDM_COL4_B35
        MENUITEM "ჩართვა/გამორთვა 24", IDM_COL4_B36
        MENUITEM "ჩართვა/გამორთვა 25", IDM_COL4_B37
        MENUITEM "ჩართვა/გამორთვა 26", IDM_COL4_B38
        MENUITEM "ჩართვა/გამორთვა 27", IDM_COL4_B39
        MENUITEM SEPARATOR
        MENUITEM "მინიჭებული არ არის", IDM_COL4_NONE
    END
END

