#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_GEORGIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT მთარგმნელი"
    STRING_MIXER	"&მიქსერი"
    STRING_SETTINGS	"&პარამეტრები"
    STRING_START	"დაწყება"
    STRING_STOP		"გაჩერდი"
    STRING_EXIT		"გასვლა"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"კონფიგურაცია ჩატვირთულია დრაივერისგან"
    STRING_EDIT_MSG2	"კონფიგურაცია ჩატვირთულია ფაილიდან"
    STRING_EDIT_MSG3	"კონფიგურაცია ხელახლა შეიქმნა და საჭიროებს შევსებას"
    STRING_EDIT_MSG4	"რედაქტორის გახსნისას მითითებული იყო კონფიგურაციის ფაილი: „{0}“. შეინახოთ იგივე სახელით?"
    STRING_EDIT_MSG5	"DMX არხის ნომერი"

    STRING_NOTIFY_MSG1	"მთარგმნელი გაჩერებულია:"
    STRING_NOTIFY_MSG2	"თარჯიმანი მუშაობს:"

    STRING_AMIX_MSG1	"აუდიო მიქსერი არ მუშაობს, შეამოწმეთ პარამეტრები, აუდიო პანელის გაშვება უნდა იყოს ჩართული."
    STRING_AMIX_MSG2	"MIDIMT - აუდიო მიქსერი არ მუშაობს:"
    STRING_AMIX_MSG3	"არასწორი მოვლენის ID. გთხოვთ გადატვირთოთ ეს აპლიკაცია."
    STRING_AMIX_MSG4	"MIDIMT - ოპერაციის დასრულება შეუძლებელია:"
    STRING_AMIX_MSG5	"UI თემატიკაზე გადართვა ვერ მოხერხდა, აუდიო პანელის გაშვება შეწყდა."

    STRING_MAIN_MSG1	"აპლიკაციის ინიციალიზაციის შეცდომა, გაგრძელება შეუძლებელია."
    STRING_MAIN_MSG2	"შეამოწმეთ მომხმარებლის ნებართვები ფაილების აპლიკაციის დირექტორიაში ჩასაწერად. თუ შეცდომა შენარჩუნებულია, სცადეთ ჟურნალის გამორთვა."
    STRING_MAIN_MSG3	"ავტომატური გაშვება გამორთულია ზოგად კონფიგურაციაში."
    STRING_MAIN_MSG4	"არჩეულ კონფიგურაციას არ აქვს ავტომატური გაშვების მხარდაჭერა."

    STRING_LOGV_MSG1	"გთხოვთ, მონიტორის ჩართვამდე ჩართოთ თარჯიმანი მენიუდან „დაწყების“ არჩევით."
    STRING_LOGV_MSG2	"ყველა პარამეტრი „{0}“, კონფიგურაციის ფაილის ვერსია: {1}"
    STRING_LOGV_MSG3	"MIDI პარამეტრები"
    STRING_LOGV_MSG4	"ჭკვიანი სახლის პარამეტრები (MQTT)"
    STRING_LOGV_MSG5	"მულტიმედიური კლავიატურის პარამეტრები (MMKEYS)"
    STRING_LOGV_MSG6	"განათების კონტროლის პარამეტრები ({0})"

    STRING_CHKR_MSG1	"გაშვებისას კონფიგურაციის ფაილი იყო მითითებული: „{0}“. დააყენოთ ის, როგორც კონფიგურაცია შემდგომი გაშვებებისთვის?"
    STRING_CHKR_MSG2	"MIDI-MT კონფიგურაცია"

    STRING_TMENU_MSG1	"თქვენ უნდა დააინსტალიროთ ვირტუალური MIDI დრაივერი!"

    STRING_LANG_STATUS	"სტატუსი:"
    STRING_LANG_YES	"დიახ"
    STRING_LANG_NO	"არა"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "ხმის მოცულობა (ძირითადი)"
	IDM_COL4_MAP  "ხმის ბალანსი (ძირითადი)"
	IDM_COL4_MAM  "მუნჯი (მთავარი)"
	IDM_COL4_MAS  "აუდიო სოლო (მთავარი)"
	IDM_COL4_JOG  "JOG (ვიდეო ჩარჩოს გადახვევა)"
	IDM_COL4_AV1  "ხმის მოცულობა (არხი 1)"
	IDM_COL4_AV2  "ხმის მოცულობა (არხი 2)"
	IDM_COL4_AV3  "ხმის მოცულობა (არხი 3)"
	IDM_COL4_AV4  "ხმის მოცულობა (არხი 4)"
	IDM_COL4_AV5  "ხმის მოცულობა (არხი 5)"
	IDM_COL4_AV6  "ხმის მოცულობა (არხი 6)"
	IDM_COL4_AV7  "ხმის მოცულობა (არხი 7)"
	IDM_COL4_AV8  "ხმის მოცულობა (არხი 8)"
	IDM_COL4_XV9  "ხმის მოცულობა (არხი 9)"
	IDM_COL4_AP1  "ხმის ბალანსი (არხი 1)"
	IDM_COL4_AP2  "ხმის ბალანსი (არხი 2)"
	IDM_COL4_AP3  "ხმის ბალანსი (არხი 3)"
	IDM_COL4_AP4  "ხმის ბალანსი (არხი 4)"
	IDM_COL4_AP5  "ხმის ბალანსი (არხი 5)"
	IDM_COL4_AP6  "ხმის ბალანსი (არხი 6)"
	IDM_COL4_AP7  "ხმის ბალანსი (არხი 7)"
	IDM_COL4_AP8  "ხმის ბალანსი (არხი 8)"
	IDM_COL4_XP9  "ხმის ბალანსი (არხი 9)"
	IDM_COL4_B11  "აუდიო სოლო (არხი 1)"
	IDM_COL4_B12  "აუდიო სოლო (არხი 2)"
	IDM_COL4_B13  "აუდიო სოლო (არხი 3)"
	IDM_COL4_B14  "აუდიო სოლო (არხი 4)"
	IDM_COL4_B15  "აუდიო სოლო (არხი 5)"
	IDM_COL4_B16  "აუდიო სოლო (არხი 6)"
	IDM_COL4_B17  "აუდიო სოლო (არხი 7)"
	IDM_COL4_B18  "აუდიო სოლო (არხი 8)"
	IDM_COL4_B19  "აუდიო სოლო (არხი 9)"
	IDM_COL4_B21  "დადუმება (არხი 1)"
	IDM_COL4_B22  "დადუმება (არხი 2)"
	IDM_COL4_B23  "დადუმება (არხი 3)"
	IDM_COL4_B24  "დადუმება (არხი 4)"
	IDM_COL4_B25  "დადუმება (არხი 5)"
	IDM_COL4_B26  "დადუმება (არხი 6)"
	IDM_COL4_B27  "დადუმება (არხი 7)"
	IDM_COL4_B28  "დადუმება (არხი 8)"
	IDM_COL4_B29  "დადუმება (არხი 9)"
	IDM_COL4_B31  "ხმის შერჩევა (არხი 1)"
	IDM_COL4_B32  "ხმის შერჩევა (არხი 2)"
	IDM_COL4_B33  "ხმის შერჩევა (არხი 3)"
	IDM_COL4_B34  "ხმის შერჩევა (არხი 4)"
	IDM_COL4_B35  "ხმის შერჩევა (არხი 5)"
	IDM_COL4_B36  "ხმის შერჩევა (არხი 6)"
	IDM_COL4_B37  "ხმის შერჩევა (არხი 7)"
	IDM_COL4_B38  "ხმის შერჩევა (არხი 8)"
	IDM_COL4_B39  "ხმის შერჩევა (არხი 9)"
	IDM_COL4_FUN11  "ფუნქცია F1 (სტანდარტული რეჟიმი)"
	IDM_COL4_FUN12  "ფუნქცია F2 (სტანდარტული რეჟიმი)"
	IDM_COL4_FUN13  "ფუნქცია F3 (სტანდარტული რეჟიმი)"
	IDM_COL4_FUN14  "ფუნქცია F4 (სტანდარტული რეჟიმი)"
	IDM_COL4_FUN15  "ფუნქცია F5 (სტანდარტული რეჟიმი)"
	IDM_COL4_FUN16  "ფუნქცია F6 (სტანდარტული რეჟიმი)"
	IDM_COL4_FUN17  "ფუნქცია F7 (სტანდარტული რეჟიმი)"
	IDM_COL4_FUN18  "ფუნქცია F8 (სტანდარტული რეჟიმი)"
	IDM_COL4_FUN21  "ფუნქცია F1 (შეჩერებული რეჟიმი)"
	IDM_COL4_FUN22  "ფუნქცია F2 (შეჩერებული რეჟიმი)"
	IDM_COL4_FUN23  "ფუნქცია F3 (შეჩერებული რეჟიმი)"
	IDM_COL4_FUN24  "ფუნქცია F4 (გამართული რეჟიმი)"
	IDM_COL4_FUN25  "ფუნქცია F5 (გამართული რეჟიმი)"
	IDM_COL4_FUN26  "ფუნქცია F6 (გამართული რეჟიმი)"
	IDM_COL4_FUN27  "ფუნქცია F7 (შეჩერებული რეჟიმი)"
	IDM_COL4_FUN28  "ფუნქცია F8 (შეჩერებული რეჟიმი)"
	IDM_COL4_SYS_Rewind  "გადახვევა (მოთამაშე)"
	IDM_COL4_SYS_Forward  "სწრაფი წინსვლა (მოთამაშე)"
	IDM_COL4_SYS_Stop  "გაჩერება (მოთამაშე)"
	IDM_COL4_SYS_Play  "თამაში (მოთამაშე)"
	IDM_COL4_SYS_Record  "ჩაწერა (პლეერი)"
	IDM_COL4_SYS_Up    "ზემოთ (ჯოისტიკი)"
	IDM_COL4_SYS_Down  "ქვემოთ (ჯოისტიკი)"
	IDM_COL4_SYS_Left  "მარცხენა (ჯოისტიკი)"
	IDM_COL4_SYS_Right  "მარჯვენა (ჯოისტიკი)"
	IDM_COL4_SYS_Zoom  "Მომატება"
	IDM_COL4_SYS_Scrub  "სკრაბი"
	IDM_COL4_VOLUMEMIX "მიქსერის კონტროლი"
	IDM_COL4_MEDIAKEY "მულტიმედიური კლავიშები"
        IDM_COL4_MQTTKEY  "ჭკვიანი სახლის მენეჯმენტი"
        IDM_COL4_LIGHTKEY8B "განათების კონტროლი (8 ბიტი)"
        IDM_COL4_LIGHTKEY16B "განათების კონტროლი (16 ბიტი)"
	IDM_COL4_NONE  "მოქმედება არ არის განსაზღვრული"
	IDM_COL4_MQTT_AV1		"დონე 1"
	IDM_COL4_MQTT_AV2		"დონე 2"
	IDM_COL4_MQTT_AV3		"დონე 3"
	IDM_COL4_MQTT_AV4		"დონე 4"
	IDM_COL4_MQTT_AV5		"დონე 5"
	IDM_COL4_MQTT_AV6		"დონე 6"
	IDM_COL4_MQTT_AV7		"დონე 7"
	IDM_COL4_MQTT_AV8		"დონე 8"
	IDM_COL4_MQTT_XV9		"დონე 9"
	IDM_COL4_MQTT_AP1		"დონე 10"
	IDM_COL4_MQTT_AP2		"დონე 11"
	IDM_COL4_MQTT_AP3		"დონე 12"
	IDM_COL4_MQTT_AP4		"დონე 13"
	IDM_COL4_MQTT_AP5		"დონე 14"
	IDM_COL4_MQTT_AP6		"დონე 15"
	IDM_COL4_MQTT_AP7		"დონე 16"
	IDM_COL4_MQTT_AP8		"დონე 17"
	IDM_COL4_MQTT_XP9		"დონე 18"
	IDM_COL4_MQTT_B11		"ჩართვა/გამორთვა 1"
	IDM_COL4_MQTT_B12		"ჩართვა/გამორთვა 2"
	IDM_COL4_MQTT_B13		"ჩართვა/გამორთვა 3"
	IDM_COL4_MQTT_B14		"ჩართვა/გამორთვა 4"
	IDM_COL4_MQTT_B15		"ჩართვა/გამორთვა 5"
	IDM_COL4_MQTT_B16		"ჩართვა/გამორთვა 6"
	IDM_COL4_MQTT_B17		"ჩართვა/გამორთვა 7"
	IDM_COL4_MQTT_B18		"ჩართვა/გამორთვა 8"
	IDM_COL4_MQTT_B19		"ჩართვა/გამორთვა 9"
	IDM_COL4_MQTT_B21		"ჩართვა/გამორთვა 10"
	IDM_COL4_MQTT_B22		"ჩართვა/გამორთვა 11"
	IDM_COL4_MQTT_B23		"ჩართვა/გამორთვა 12"
	IDM_COL4_MQTT_B24		"ჩართვა/გამორთვა 13"
	IDM_COL4_MQTT_B25		"ჩართვა/გამორთვა 14"
	IDM_COL4_MQTT_B26		"ჩართვა/გამორთვა 15"
	IDM_COL4_MQTT_B27		"ჩართვა/გამორთვა 16"
	IDM_COL4_MQTT_B28		"ჩართვა/გამორთვა 17"
	IDM_COL4_MQTT_B29		"ჩართვა/გამორთვა 18"
	IDM_COL4_MQTT_B31		"ჩართვა/გამორთვა 19"
	IDM_COL4_MQTT_B32		"ჩართვა/გამორთვა 20"
	IDM_COL4_MQTT_B33		"ჩართვა/გამორთვა 21"
	IDM_COL4_MQTT_B34		"ჩართვა/გამორთვა 22"
	IDM_COL4_MQTT_B35		"ჩართვა/გამორთვა 23"
	IDM_COL4_MQTT_B36		"ჩართვა/გამორთვა 24"
	IDM_COL4_MQTT_B37		"ჩართვა/გამორთვა 25"
	IDM_COL4_MQTT_B38		"ჩართვა/გამორთვა 26"
	IDM_COL4_MQTT_B39		"ჩართვა/გამორთვა 27"
	IDM_COL4_MQTT_NONE		"Არ არის დანიშნული"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"კარგი"
	IDS_ERRORID_EMPTY			"[კონფიგურაცია ცარიელია..]"
	IDS_ERRORID_UNDEFINED			"ეს შეცდომა განუსაზღვრელია"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"კონფიგურაციის ფაილზე ჩაწერის წვდომა აკრძალულია, „{0}“"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"კონფიგურაციის ფაილი აკლია ან წვდომა აკრძალულია, „{0}“"
	IDS_ERRORID_JSONCONF_EMPTY		"კონფიგურაციის ფაილი ცარიელია, „{0}“"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"MIDI მოწყობილობის სახელი არ არის კონფიგურირებული."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"ამ კონფიგურაციაში არ არის კონფიგურირებული MIDI კლავიშები."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"ყურადღება, ამ კონფიგურაციას არ აქვს კონფიგურირებული MIDI კლავიშები! ჩაწერილი კონფიგურაცია არ იმუშავებს."
	IDS_ERRORID_INIT_COINITIALIZE		"Co*Initialize ინიციალიზაცია ვერ მოხერხდა."
	IDS_ERRORID_INIT_COCREATE		"Co*Create - ინსტანციის შექმნა ვერ მოხერხდა."
	IDS_ERRORID_INIT_DEFAULT_AE		"ნაგულისხმევი აუდიო მოწყობილობის მიღება ვერ მოხერხდა."
	IDS_ERRORID_INIT_AS_MANAGER2		"აუდიო სესიის მენეჯერი გათიშულია."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"აუდიო პიკის მრიცხველი მიუწვდომელია."
	IDS_ERRORID_MIXER_STARTOK		"აუდიო სესიის მიქსერი მუშაობს, დაწყების დროს არის {0} გაშვებული პროგრამა ხელმისაწვდომი რეგულირებისთვის."
	IDS_ERRORID_MIXER_STARTERROR		"აუდიო სესიის მიქსერის გაშვება ვერ მოხერხდა, შეცდომის დეტალები უნდა იყოს ჟურნალის ფაილში."
	IDS_ERRORID_MIXER_STOPOK		"აუდიო სესიის მიქსერი შეჩერებულია."
	IDS_ERRORID_MIXER_STOPERROR		"აუდიო სესიის მიქსერი სწორად არ იყო შეჩერებული, შეცდომის დეტალები უნდა იყოს ჟურნალის ფაილში."
	IDS_ERRORID_NO_INIT			"ამის დარეკვამდე გააკეთე ინიციალიზაცია.."
	IDS_ERRORID_SESSION_LIST		"აუდიო სესიების სიის მიღება ვერ მოხერხდა."
	IDS_ERRORID_LISTISNULL			"აუდიო სესიების სია ცარიელია!"
	IDS_ERRORID_SESSIONDISCONNECTED		"აუდიო სესიის გამორთვა, reason='{0}'"
	IDS_ERRORID_SESSIONCREATED		"შეიქმნა აუდიო სესია, სახელი='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"აუდიო სესია „{0}“ - ცუდი რეგისტრაციის მდგომარეობა „{1}“: {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"გამოძახებიდან დაყენებული მნიშვნელობა არასწორი სელექტორია."
	IDS_ERRORID_SET_CB_WARNING		"გამოძახების დაყენება შესაძლებელია მხოლოდ MIDI ხიდის წარმატებით გაშვების შემდეგ."
	IDS_ERRORID_CONFIG_FAIL			"კონფიგურაციის ჩატვირთვა ვერ მოხერხდა, ფაილი ვერ მოიძებნა, გაშვება შეუძლებელია."
	IDS_ERRORID_CONFIG_LOAD			"კონფიგურაცია ჩაიტვირთა.."
	IDS_ERRORID_CONFIG_LOADA		"კონფიგურაცია უკვე ჩატვირთულია.."
	IDS_ERRORID_CONFIG_EMPTY		"კონფიგურაცია ცარიელია.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"მოდულის {0} კონფიგურაცია ცარიელია.."
	IDS_ERRORID_CONFIG_NEW			"აღმოჩენილია კონფიგურაციის ახალი ვერსია.."
	IDS_ERRORID_NOT_IMPLEMENTED		"კოდში მხარდაუჭერელი იმპლემენტაცია, მეთოდი არ არის გადაფარული: {0}"
	IDS_ERRORID_NOT_CONFIG			"კონფიგურაციის სახელი არ არის მითითებული და მისი გაგრძელება შეუძლებელია."
	IDS_ERRORID_MIDI_NOT_DEVICES		"მოწყობილობები არ არის დაკავშირებული და ვერ გაგრძელდება."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"ყურადღება, მოწყობილობების რაოდენობა საბოლოო სიაში არ ემთხვევა, სისტემა/სიტი = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"MIDI მოწყობილობის გახსნა შეუძლებელია, გაგრძელება შეუძლებელია, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"MIDI მოწყობილობის გაშვება შეუძლებელია, გაგრძელება შეუძლებელია, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"მოწყობილობა არ არის დაკავშირებული, შეწყვეტა, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"ნაპოვნია მოწყობილობა {0}, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"მოწყობილობა {0} ღიაა, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"მოწყობილობა {0} დახურულია (სისტემა)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"მოწყობილობა {0} მზად არის (სისტემა)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"აქტიური მოწყობილობის სახელი არ არის მითითებული, გაგრძელება შეუძლებელია, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"პროქსი პორტები არ არის მითითებული კონფიგურაციაში, MIDI პროქსი გამორთულია."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"დრაივერის ვერსია [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"პრობლემა დრაივერის ვერსიასთან [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"მოწყობილობამ {0} გაუგზავნა არასწორი მნიშვნელობა = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"ვირტუალური MIDI დრაივერი არ არის დაინსტალირებული. თქვენ უნდა დააინსტალიროთ loopMidi პაკეტი, ან ჩამოტვირთოთ სრული ინსტალერი და ხელახლა დააინსტალიროთ MIDI-MT. დამატებითი დეტალები: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"დაინსტალირებული ვირტუალური MIDI დრაივერი ვერ მოიძებნა! თქვენ უნდა დააინსტალიროთ Virtual Loop MIDI პაკეტი MIDI-MT მთარგმნელის გასაშვებად."
	IDS_ERRORID_MIDI_PROXY_PORTS		"ჩატვირთვისას შეიქმნება {0} პროქსი MIDI პორტი."
	IDS_ERRORID_MIDI_PROXY_OFF		"პროქსი MIDI პორტები გამორთულია."
	IDS_ERRORID_MIDI_OUT_PORTS		"ჩატვირთვისას შეიქმნება {0} MIDI გამომავალი პორტი."
	IDS_ERRORID_MIDI_OUT_OFF		"MIDI გამომავალი პორტები გამორთულია."
	IDS_ERRORID_MMKEY_START			"გაშვებულია მედია გასაღების მართვის სერვისი."
	IDS_ERRORID_MMKEY_STOP			"მედია გასაღების მართვის სერვისი გაჩერდა."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"MQTT კონფიგურაცია ცარიელია და გაგრძელება შეუძლებელია."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"MQTT კლიენტის შექმნის შეცდომა, გაუქმება."
	IDS_ERRORID_MQTT_CLIENT_OK		"MMQTT კლიენტი წარმატებით შეიქმნა, გააგრძელეთ..."
	IDS_ERRORID_MQTT_CONNECTED		"დაკავშირებულია MQTT სერვერთან:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"MQTT სერვერთან დაკავშირება ვერ მოხერხდა:"
	IDS_ERRORID_MQTT_DISCONNECTED		"გათიშულია MQTT სერვერთან:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"CA სერტიფიკატის ფაილი არ არსებობს, გზა = '{0}'"
	IDS_ERRORID_MQTT_START			"Smart Home კონტროლის სერვისი ამოქმედდა."
	IDS_ERRORID_MQTT_STOP			"Smart Home-ის მართვის სერვისი შეჩერებულია."
	IDS_ERRORID_MQTT_CA_FILTER		"CA სერთიფიკატი"
	IDS_ERRORID_MQTT_LOG_NONE		"ჟურნალი არ არის შენახული"
	IDS_ERRORID_MQTT_LOG_INFO		"ინფორმაცია"
	IDS_ERRORID_MQTT_LOG_NOTICE		"შეტყობინებები"
	IDS_ERRORID_MQTT_LOG_WARNING		"გაფრთხილებები"
	IDS_ERRORID_MQTT_LOG_ERR		"მხოლოდ შეცდომები"
	IDS_ERRORID_MQTT_LOG_DEBUG		"ყველა შეტყობინება"
	IDS_ERRORID_PANEL_INDEX			"აუდიო მიქსერის პანელი - გაგრძელება შეუძლებელია, ინდექსის ელემენტები არასწორია."
	IDS_ERRORID_PANEL_INIT			"აუდიო მიქსერის პანელი - გაგრძელება შეუძლებელია, ინიციალიზაციის შეცდომა."
	IDS_ERRORID_PANEL_ENABLE		"აუდიო მიქსერის პანელის ფანჯარას არ აქვს სწორი სტატუსი და შემდეგი ოპერაციის გაგრძელება შეუძლებელია."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"აუდიო მიქსერის პანელი არ არის გამოძახებული UI თემაში და ცვლილებების შეტანა შეუძლებელია."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"აუდიო მიქსერის პანელმა აღმოაჩინა არასწორი ელემენტი და პანელის ფანჯრის შექმნა შეწყდა."
	IDS_ERRORID_LIGHT_DMX_START		"DMX განათების კონტროლის სერვისი დაწყებულია COM{0} - {1}-ის გამოყენებით."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"DMX განათების მართვის სერვისი არ მუშაობს, COM{0} მოწყობილობა არ არის დაკავშირებული.."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"DMX განათების კონტროლის სერვისი არ მუშაობს და სერვისის კონფიგურაცია არ არის შევსებული."
	IDS_ERRORID_LIGHT_DMX_STOP		"DMX განათების კონტროლის სერვისი შეჩერებულია."
	IDS_ERRORID_LIGHT_DMX_NODEV		"შესაფერისი მოწყობილობები არ არის ხელმისაწვდომი"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"აირჩიეთ DMX მოწყობილობა"
	IDS_ERRORID_LIGHT_ARTNET_START		"ArtNet Lighting Control Service მუშაობს სამაუწყებლო მისამართის გამოყენებით {0}:{1} ქსელში {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"ArtNet განათების მართვის სერვისი არ მუშაობს, ქსელი {0} ვერ მოიძებნა.."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"ArtNet განათების კონტროლის სერვისი არ მუშაობს, სერვისის კონფიგურაცია არ არის შევსებული."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"ArtNet განათების კონტროლის სერვისი შეჩერებულია."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"შესაფერისი ინტერფეისები არ არის ხელმისაწვდომი"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"აირჩიეთ ARTNET ინტერფეისი"
	IDS_ERRORID_NOT_CLSID_CONVERT		"დანამატის ინიციალიზაციის შეცდომა, ვერ ხერხდება CLSID/GUID-ის კონვერტაცია მითითებული სტრიქონიდან."
	IDS_ERRORID_BRIDGE_NOT_INIT		"დანამატების ინიციალიზაცია ვერ მოხერხდა, თავსებადი დანამატები ვერ მოიძებნა."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"დანამატების ჩატვირთვა ვერ მოხერხდა, წინასწარ იყო ინიცირებული {0}, ჩაიტვირთა 0 დანამატი."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"დანამატები წარმატებით დაწყებულია, წინასწარი ინიციალიზაცია {0}, ჩატვირთულია {1} დანამატები."
	IDS_ERRORID_BRIDGE_OK_START		"ხიდი წარმატებით ამოქმედდა, {0} ინიციალიზებულია, {1} ჩაიტვირთა, გაშვებულია {2} დანამატები."
	IDS_ERRORID_BRIDGE_NOT_START		"ხიდის გაშვება ვერ მოხერხდა, შეცდომა დანამატების გაშვებისას, {0} დაწყებულია, ჩაიტვირთა {1} დანამატი."
	IDS_ERRORID_BRIDGE_OK_STOP		"ხიდი წარმატებით შეჩერდა, {0} დაწყებულია, {1} ჩაიტვირთა, {2} დაიწყო, {3} დანამატი შეჩერდა."
	IDS_ERRORID_BRIDGE_NOT_STOP		"ხიდის შეჩერება ვერ მოხერხდა, დანამატების შეჩერების შეცდომა, {0} ინიციალიზაცია, {1} ჩატვირთული, {2} დანამატის გაშვება."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"დანამატები უკვე დატვირთულია, გთხოვთ გადატვირთოთ გადატვირთვამდე."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"ხიდი უკვე ამოქმედდა."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"ხიდი უკვე გაჩერებულია."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"მოდულის მოდულის გახსნა ვერ მოხერხდა. მოდული აკლია ან დაზიანებულია, DLL არ იყო ჩატვირთული და დაბრუნდა null."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"მოდული არ არის MIDI-MT დანამატი და საჭირო შესვლის წერტილები აკლია."
	IDS_ERRORID_PLUGIN_LIST_INFO		"ჩართულია={0}, პარამეტრები={1}, გაშვებული={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"განახლებულია კონფიგურაცია: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"მოდულები ვერ მოიძებნა, გაშვება შეუძლებელია."
	IDS_ERRORID_MIDIMT_CONFEDIT		"გთხოვთ, შეცვალოთ კონფიგურაცია დაწყებამდე."
	IDS_ERRORID_MIDIMT_CONFFILTER		"კონფიგურაციის ფაილი"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"ფაილიდან ჩატვირთული კონფიგურაცია: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"კონფიგურაცია ჩატვირთულია დრაივერისგან"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"არჩეული {0} ენა აქტიური იქნება ფანჯრის გადატვირთვის შემდეგ."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"დაინსტალირებული ვირტუალური MIDI დრაივერის ვერსია: {0}"
	IDS_ERRORID_NONE			"-"
END
