#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_GEORGIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	IDS_RB_DIALOG_LAST_OPENL	"უახლესი ფაილები:"
	IDS_RB_TABHOMEL			"რედაქტირება"
	IDS_RB_TABFILTERL		"ფილტრები"
	IDS_RB_PANEL_EDITMAINL		"MIDI კლავიშის რედაქტირება"
	IDS_RB_PANEL_EDITSETL		"დააყენეთ MIDI გასაღები როგორც..."
	IDS_RB_PANEL_EDITOPTL		"რედაქტორის პარამეტრები"
	IDS_RB_PANEL_FILTERL		"სანახავი ფილტრების შერჩევა"
	IDS_RB_PANEL_SORTL		"დახარისხება"
	IDS_RB_MENUL			"&მენიუ"
	IDS_RB_MENUT			"განაცხადის მენიუ"
	IDS_RB_PANEL_QATL		"&სწრაფი წვდომა"
	IDS_RB_PANEL_QATT		"სწრაფი წვდომის ინსტრუმენტთა პანელი"
	IDS_RB_DIALOG_SAVEL		"&Გადარჩენა"
	IDS_RB_DIALOG_SAVET		"შეინახეთ და მიმართეთ"
	IDS_RB_DIALOG_SAVED		"შეინახეთ ადრე გადმოწერილ ფაილში და განაახლეთ მიმდინარე კონფიგურაცია."
	IDS_RB_DIALOG_EXPORTL		"&ექსპორტი"
	IDS_RB_DIALOG_EXPORTT		"ექსპორტი ახალ ფაილში"
	IDS_RB_DIALOG_EXPORTD		"რედაქტირებული კონფიგურაციის ექსპორტი ახალ ფაილში."
	IDS_RB_DIALOG_IMPORTL		"&იმპორტი"
	IDS_RB_DIALOG_IMPORTT		"იმპორტი ფაილიდან"
	IDS_RB_DIALOG_IMPORTD		"კონფიგურაციის იმპორტი ფაილიდან."
	IDS_RB_DIALOG_EXITL		"&გამოსვლა"
	IDS_RB_DIALOG_EXITT		"რედაქტორის გასვლა"
	IDS_RB_DIALOG_EXITD		"გამოდის MIDI გასაღების კონფიგურაციის რედაქტორიდან; თუ ცვლილებები არ შეინახება, ისინი დაიკარგება."
	IDS_RB_LV_NEWL			"&ახალი MIDI გასაღები"
	IDS_RB_LV_NEWT			"ახალი MIDI გასაღები"
	IDS_RB_LV_NEWD			"ახალი MIDI გასაღების შექმნა."
	IDS_RB_LV_COPYL			"&კოპირება"
	IDS_RB_LV_COPYT			"დააკოპირეთ MIDI გასაღები"
	IDS_RB_LV_COPYD			"დააკოპირეთ არჩეული MIDI კლავიშის ჩანაწერი."
	IDS_RB_LV_PASTEL		"&ჩასმა"
	IDS_RB_LV_PASTET		"ჩასვით გასაღები"
	IDS_RB_LV_PASTED		"ჩასვით კოპირებული MIDI გასაღები."
	IDS_RB_LV_DELETEL		"&წაშლა"
	IDS_RB_LV_DELETET		"გასაღების წაშლა"
	IDS_RB_LV_DELETED		"წაშალეთ არჩეული MIDI გასაღების ჩანაწერი."
	IDS_RB_LV_SET_MQTTL		"Ჭკვიანი სახლი"
	IDS_RB_LV_SET_MQTTT		"დააყენეთ ჯგუფი, როგორც “ჭკვიანი სახლი”."
	IDS_RB_LV_SET_MQTTD		"მიანიჭეთ არჩეული MIDI გასაღები „ჭკვიანი სახლის“ ჯგუფს."
	IDS_RB_LV_SET_MMKEYL		"მულტიმედიური ღილაკები"
	IDS_RB_LV_SET_MMKEYT		"დააყენეთ ჯგუფი, როგორც “მულტიმედია ღილაკები”"
	IDS_RB_LV_SET_MMKEYD		"მიანიჭეთ არჩეული MIDI გასაღები “მულტიმედიური ღილაკების” ჯგუფს."
	IDS_RB_LV_SET_MIXERL		"აუდიო მიქსერი"
	IDS_RB_LV_SET_MIXERT		"ჯგუფის დაყენება “აუდიო მიქსერად”"
	IDS_RB_LV_SET_MIXERD		"მიანიჭეთ არჩეული MIDI კლავიში „აუდიო მიქსერი“ ჯგუფს."
	IDS_RB_LV_READ_MIDI_CODEL	"წაიკითხეთ MIDI კოდი"
	IDS_RB_LV_READ_MIDI_CODET	"წაიკითხეთ MIDI კონტროლის კოდი"
	IDS_RB_LV_READ_MIDI_CODED	"წაიკითხეთ MIDI კოდი საკონტროლო ზედაპირიდან ან MIDI კლავიატურიდან."
	IDS_RB_LV_EDIT_MODEL		"მხოლოდ ციფრული შეყვანა"
	IDS_RB_LV_EDIT_MODET		"გამოიყენეთ მხოლოდ ციფრული შეყვანა"
	IDS_RB_LV_EDIT_MODED		"არ გამოიყენოთ მნიშვნელობის შერჩევის მენიუ, გამოიყენეთ მხოლოდ ციფრული შეყვანა."
	IDS_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI მართვის პანელი"
	IDS_RB_DIALOG_SHOW_MIDI_KEYST	"Რეკომენდირებული პარამეტრები"
	IDS_RB_DIALOG_SHOW_MIDI_KEYSD	"რეკომენდებული MIDI მართვის პანელის პარამეტრები თავსებადი Adobe Premiere Pro კონტროლერებთან."
	IDS_RB_LV_FILTER_EMBEDL		"ჩამონტაჟებული ფილტრები"
	IDS_RB_LV_FILTER_KEYL		"Გასაღები"
	IDS_RB_LV_FILTER_KEYT		"გაფილტვრა MIDI გასაღებით"
	IDS_RB_LV_FILTER_KEYD		"მხოლოდ შესატყვისების ჩვენება MIDI გასაღებების ჯგუფში."
	IDS_RB_LV_FILTER_SCENEL		"სცენა"
	IDS_RB_LV_FILTER_SCENET		"გაფილტვრა MIDI სცენის მიხედვით"
	IDS_RB_LV_FILTER_SCENED		"მხოლოდ შესატყვისების ჩვენება MIDI სცენის ჯგუფში."
	IDS_RB_LV_FILTER_TARGETL	"მიზანი 1"
	IDS_RB_LV_FILTER_TARGETT	"გაფილტვრა დანიშნულების 1-ის მიხედვით"
	IDS_RB_LV_FILTER_TARGETD	"აჩვენეთ მხოლოდ მატჩები სამიზნე ჯგუფში 1."
	IDS_RB_LV_FILTER_TARGETLONGL	"მიზანი 2"
	IDS_RB_LV_FILTER_TARGETLONGT	"გაფილტვრა დანიშნულების 2-ის მიხედვით"
	IDS_RB_LV_FILTER_TARGETLONGD	"აჩვენეთ მხოლოდ მატჩები სამიზნე ჯგუფში 2."
	IDS_RB_LV_FILTER_CLEARL		"ფილტრების გასუფთავება"
	IDS_RB_LV_FILTER_CLEART		"დასუფთავების ფილტრები"
	IDS_RB_LV_FILTER_CLEARD		"სრულად გაწმინდეთ ფილტრები, ნაჩვენები იქნება ყველა ჩანაწერი."
	IDS_RB_LV_FILTER_SETL		"ფილტრის დაყენება"
	IDS_RB_LV_FILTER_SETT		"ფილტრის დაყენება"
	IDS_RB_LV_FILTER_SETD		"ფილტრის დაყენება აჩვენებს ყველა არასწორ ელემენტს."
	IDS_RB_LV_FILTER_ONL		"ფილტრის გამოყენება"
	IDS_RB_LV_FILTER_ONT		"ფილტრის გამოყენება"
	IDS_RB_LV_FILTER_OND		"ფილტრის გამოყენება აჩვენებს არჩეულ ელემენტებს."
	IDS_RB_LV_FILTER_OFFL		"ფილტრის გაუქმება"
	IDS_RB_LV_FILTER_OFFT		"ფილტრის გაუქმება"
	IDS_RB_LV_FILTER_OFFD		"ფილტრის გაუქმება აჩვენებს ყველა ელემენტს."
	IDS_RB_LV_FILTER_MMKEYL		"“მულტიმედიური ღილაკების” ჩვენება"
	IDS_RB_LV_FILTER_MMKEYT		"გაფილტვრა „მულტიმედიური ღილაკების“ ჯგუფის მიხედვით"
	IDS_RB_LV_FILTER_MMKEYD		"ფილტრის გამოყენებისას გამოჩნდება Multimedia Buttons ჯგუფის წევრები."
	IDS_RB_LV_FILTER_MIXERL		"“აუდიო მიქსერის” ჩვენება"
	IDS_RB_LV_FILTER_MIXERT		"ფილტრი “აუდიო მიქსერის” ჯგუფის მიხედვით"
	IDS_RB_LV_FILTER_MIXERD		"ფილტრის გამოყენებისას გამოჩნდება აუდიო მიქსერის ჯგუფის წევრები."
	IDS_RB_LV_FILTER_MQTTL		"ჩვენება “ჭკვიანი სახლი”"
	IDS_RB_LV_FILTER_MQTTT		"გაფილტვრა „ჭკვიანი სახლის“ ჯგუფის მიხედვით"
	IDS_RB_LV_FILTER_MQTTD		"ფილტრის გამოყენებისას გამოჩნდება Smart Home ჯგუფის წევრები."
	IDS_RB_LV_FILTER_TYPEBTNL	"ფილტრის ტიპი"
	IDS_RB_LV_FILTER_TYPEBTNT	"გამოსაყენებელი ფილტრების ტიპის დაყენება"
	IDS_RB_LV_FILTER_TYPEBTND	"გამოყენებული ფილტრების ტიპებს აქვთ ორი ლოგიკური მდგომარეობა: “AND”, “OR”."
	IDS_RB_LV_FILTER_TYPEGRPL	"ფილტრის ტიპის შერჩევა"
	IDS_RB_LV_FILTER_TYPEORL	"ნებისმიერი მატჩის ჩვენება"
	IDS_RB_LV_FILTER_TYPEORT	"აჩვენეთ ჩანაწერები ნებისმიერი მატჩით"
	IDS_RB_LV_FILTER_TYPEORD       	"ფილტრს აქვს ლოგიკური და მდგომარეობა და აჩვენებს ნებისმიერ შესატყვისს."
	IDS_RB_LV_FILTER_TYPEANDL	"მხოლოდ სრული შესატყვისების ჩვენება"
	IDS_RB_LV_FILTER_TYPEANDT	"აჩვენეთ ჩანაწერები მხოლოდ ზუსტი შესატყვისებით"
	IDS_RB_LV_FILTER_TYPEANDD	"ფილტრს აქვს ლოგიკური OR მდგომარეობა და აჩვენებს მხოლოდ სრულ შესაბამისობას."
	IDS_RB_LV_FILTER_AUTOCOMMITL	"ფილტრში მონაცემების ავტომატური გაგზავნა"
	IDS_RB_LV_FILTER_AUTOCOMMITT	"ფილტრში შეყვანილი მნიშვნელობების ავტომატური გაგზავნა"
	IDS_RB_LV_FILTER_AUTOCOMMITD	"ავტომატურად აგზავნის შეყვანის მნიშვნელობებს ჩაშენებულ ფილტრში."
	IDS_RB_LV_EXT_MODEL		"დალაგების ჩვენება"
	IDS_RB_LV_SORTUP_KEYL		"გასაღებით"
	IDS_RB_LV_SORTUP_KEYT		"დალაგება აღმავალი და MIDI კლავიშების მიხედვით."
	IDS_RB_LV_SORTUP_SCENEL		"სცენის გარშემო"
	IDS_RB_LV_SORTUP_SCENET		"დახარისხება აღმავალი და MIDI სცენის მიხედვით."
	IDS_RB_LV_SORTUP_TARGETL	"დანიშვნით 1"
	IDS_RB_LV_SORTUP_TARGETT	"დალაგება აღმავალი და MIDI დანიშნულების მიხედვით 1."
	IDS_RB_LV_SORTUP_TARGETLONGL	"დანიშვნით 2"
	IDS_RB_LV_SORTUP_TARGETLONGT	"დალაგება აღმავალი და MIDI დანიშნულების მიხედვით 2."
	IDS_RB_LV_SORTDOWN_KEYT		"დალაგება დაღმავალი და MIDI კლავიშების მიხედვით."
	IDS_RB_LV_SORTDOWN_SCENET	"დახარისხება კლებადობით და MIDI სცენით."
	IDS_RB_LV_SORTDOWN_TARGETT	"დახარისხება კლებადობით და MIDI დანიშნულებით 1."
	IDS_RB_LV_SORTDOWN_TARGETLONGT	"დახარისხება კლებადობით და MIDI დანიშნულებით 2."
END
