#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_GEORGIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"უახლესი ფაილები:"
	STR_RB_TABHOMEL			"რედაქტირება"
	STR_RB_TABFILTERL		"ფილტრები"
	STR_RB_PANEL_EDITMAINL		"MIDI კლავიშის რედაქტირება"
	STR_RB_PANEL_EDITSETL		"MIDI გასაღებების ჯგუფი"
	STR_RB_PANEL_EDITOPTL		"რედაქტორის პარამეტრები"
	STR_RB_PANEL_FILTERL		"სანახავი ფილტრების შერჩევა"
	STR_RB_PANEL_SORTL		"დახარისხება"
	STR_RB_MENUL			"&მენიუ"
	STR_RB_MENUT			"განაცხადის მენიუ"
	STR_RB_PANEL_QATL		"&სწრაფი წვდომა"
	STR_RB_PANEL_QATT		"სწრაფი წვდომის ინსტრუმენტთა პანელი"
	STR_RB_DIALOG_SAVEL		"&Გადარჩენა"
	STR_RB_DIALOG_SAVET		"შეინახეთ და მიმართეთ"
	STR_RB_DIALOG_SAVED		"შეინახეთ ადრე გადმოწერილ ფაილში და განაახლეთ მიმდინარე კონფიგურაცია."
	STR_RB_DIALOG_EXPORTL		"&ექსპორტი"
	STR_RB_DIALOG_EXPORTT		"ექსპორტი ახალ ფაილში"
	STR_RB_DIALOG_EXPORTD		"რედაქტირებული კონფიგურაციის ექსპორტი ახალ ფაილში."
	STR_RB_DIALOG_IMPORTL		"&იმპორტი"
	STR_RB_DIALOG_IMPORTT		"იმპორტი ფაილიდან"
	STR_RB_DIALOG_IMPORTD		"კონფიგურაციის იმპორტი ფაილიდან."
	STR_RB_DIALOG_EXITL		"&გამოსვლა"
	STR_RB_DIALOG_EXITT		"რედაქტორის გასვლა"
	STR_RB_DIALOG_EXITD		"გამოდის MIDI გასაღების კონფიგურაციის რედაქტორიდან; თუ ცვლილებები არ შეინახება, ისინი დაიკარგება."
	STR_RB_LV_NEWL			"&ახალი MIDI გასაღები"
	STR_RB_LV_NEWT			"ახალი MIDI გასაღები"
	STR_RB_LV_NEWD			"ახალი MIDI გასაღების შექმნა."
	STR_RB_LV_COPYL			"&კოპირება"
	STR_RB_LV_COPYT			"დააკოპირეთ MIDI გასაღები"
	STR_RB_LV_COPYD			"დააკოპირეთ არჩეული MIDI კლავიშის ჩანაწერი."
	STR_RB_LV_PASTEL		"&ჩასმა"
	STR_RB_LV_PASTET		"ჩასვით გასაღები"
	STR_RB_LV_PASTED		"ჩასვით კოპირებული MIDI გასაღები."
	STR_RB_LV_DELETEL		"&წაშლა"
	STR_RB_LV_DELETET		"გასაღების წაშლა"
	STR_RB_LV_DELETED		"წაშალეთ არჩეული MIDI გასაღების ჩანაწერი."
	STR_RB_LV_SET_MQTTL		"Ჭკვიანი სახლი"
	STR_RB_LV_SET_MQTTT		"დააყენეთ ჯგუფი, როგორც “ჭკვიანი სახლი”."
	STR_RB_LV_SET_MQTTD		"მიანიჭეთ არჩეული MIDI გასაღები „ჭკვიანი სახლის“ ჯგუფს."
	STR_RB_LV_SET_MMKEYL		"მულტიმედიური ღილაკები"
	STR_RB_LV_SET_MMKEYT		"დააყენეთ ჯგუფი, როგორც “მულტიმედია ღილაკები”"
	STR_RB_LV_SET_MMKEYD		"მიანიჭეთ არჩეული MIDI გასაღები “მულტიმედიური ღილაკების” ჯგუფს."
	STR_RB_LV_SET_MIXERL		"აუდიო მიქსერი"
	STR_RB_LV_SET_MIXERT		"ჯგუფის დაყენება “აუდიო მიქსერად”"
	STR_RB_LV_SET_MIXERD		"მიანიჭეთ არჩეული MIDI კლავიში „აუდიო მიქსერი“ ჯგუფს."
	STR_RB_LV_READ_MIDI_CODEL	"წაიკითხეთ MIDI კოდი"
	STR_RB_LV_READ_MIDI_CODET	"წაიკითხეთ MIDI კონტროლის კოდი"
	STR_RB_LV_READ_MIDI_CODED	"წაიკითხეთ MIDI კოდი საკონტროლო ზედაპირიდან ან MIDI კლავიატურიდან."
	STR_RB_LV_EDIT_MODEL		"მხოლოდ ციფრული შეყვანა"
	STR_RB_LV_EDIT_MODET		"გამოიყენეთ მხოლოდ ციფრული შეყვანა"
	STR_RB_LV_EDIT_MODED		"არ გამოიყენოთ მნიშვნელობის შერჩევის მენიუ, გამოიყენეთ მხოლოდ ციფრული შეყვანა."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI მართვის პანელი"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Რეკომენდირებული პარამეტრები"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"რეკომენდებული MIDI მართვის პანელის პარამეტრები თავსებადი Adobe Premiere Pro კონტროლერებთან."
	STR_RB_LV_FILTER_EMBEDL		"ჩამონტაჟებული ფილტრები"
	STR_RB_LV_FILTER_KEYL		"Გასაღები"
	STR_RB_LV_FILTER_KEYT		"გაფილტვრა MIDI გასაღებით"
	STR_RB_LV_FILTER_KEYD		"მხოლოდ შესატყვისების ჩვენება MIDI გასაღებების ჯგუფში."
	STR_RB_LV_FILTER_SCENEL		"სცენა"
	STR_RB_LV_FILTER_SCENET		"გაფილტვრა MIDI სცენის მიხედვით"
	STR_RB_LV_FILTER_SCENED		"მხოლოდ შესატყვისების ჩვენება MIDI სცენის ჯგუფში."
	STR_RB_LV_FILTER_TARGETL	"მიზანი 1"
	STR_RB_LV_FILTER_TARGETT	"გაფილტვრა დანიშნულების 1-ის მიხედვით"
	STR_RB_LV_FILTER_TARGETD	"აჩვენეთ მხოლოდ მატჩები სამიზნე ჯგუფში 1."
	STR_RB_LV_FILTER_TARGETLONGL	"მიზანი 2"
	STR_RB_LV_FILTER_TARGETLONGT	"გაფილტვრა დანიშნულების 2-ის მიხედვით"
	STR_RB_LV_FILTER_TARGETLONGD	"აჩვენეთ მხოლოდ მატჩები სამიზნე ჯგუფში 2."
	STR_RB_LV_FILTER_CLEARL		"ფილტრების გასუფთავება"
	STR_RB_LV_FILTER_CLEART		"დასუფთავების ფილტრები"
	STR_RB_LV_FILTER_CLEARD		"სრულად გაწმინდეთ ფილტრები, ნაჩვენები იქნება ყველა ჩანაწერი."
	STR_RB_LV_FILTER_SETL		"ფილტრის დაყენება"
	STR_RB_LV_FILTER_SETT		"ფილტრის დაყენება"
	STR_RB_LV_FILTER_SETD		"ფილტრის დაყენება აჩვენებს ყველა არასწორ ელემენტს."
	STR_RB_LV_FILTER_ONL		"ფილტრის გამოყენება"
	STR_RB_LV_FILTER_ONT		"ფილტრის გამოყენება"
	STR_RB_LV_FILTER_OND		"ფილტრის გამოყენება აჩვენებს არჩეულ ელემენტებს."
	STR_RB_LV_FILTER_OFFL		"ფილტრის გაუქმება"
	STR_RB_LV_FILTER_OFFT		"ფილტრის გაუქმება"
	STR_RB_LV_FILTER_OFFD		"ფილტრის გაუქმება აჩვენებს ყველა ელემენტს."
	STR_RB_LV_FILTER_MMKEYL		"“მულტიმედიური ღილაკების” ჩვენება"
	STR_RB_LV_FILTER_MMKEYT		"გაფილტვრა „მულტიმედიური ღილაკების“ ჯგუფის მიხედვით"
	STR_RB_LV_FILTER_MMKEYD		"ფილტრის გამოყენებისას გამოჩნდება Multimedia Buttons ჯგუფის წევრები."
	STR_RB_LV_FILTER_MIXERL		"“აუდიო მიქსერის” ჩვენება"
	STR_RB_LV_FILTER_MIXERT		"ფილტრი “აუდიო მიქსერის” ჯგუფის მიხედვით"
	STR_RB_LV_FILTER_MIXERD		"ფილტრის გამოყენებისას გამოჩნდება აუდიო მიქსერის ჯგუფის წევრები."
	STR_RB_LV_FILTER_MQTTL		"ჩვენება “ჭკვიანი სახლი”"
	STR_RB_LV_FILTER_MQTTT		"გაფილტვრა „ჭკვიანი სახლის“ ჯგუფის მიხედვით"
	STR_RB_LV_FILTER_MQTTD		"ფილტრის გამოყენებისას გამოჩნდება Smart Home ჯგუფის წევრები."
	STR_RB_LV_FILTER_LIGHT8L	"ჩვენება “განათება 8 ბიტი”"
	STR_RB_LV_FILTER_LIGHT8T	"გაფილტვრა ჯგუფის მიხედვით “განათება 8 ბიტი”"
	STR_RB_LV_FILTER_LIGHT8D	"ფილტრის გამოყენებისას განათების ჯგუფის წევრები გამოჩნდება 8-ბიტიანი არხებით."
	STR_RB_LV_FILTER_LIGHT16L	"ჩვენება “16 ბიტიანი განათება”"
	STR_RB_LV_FILTER_LIGHT16T	"გაფილტვრა „16-ბიტიანი განათების“ ჯგუფის მიხედვით"
	STR_RB_LV_FILTER_LIGHT16D	"ფილტრის გამოყენებისას გამოჩნდება Lighting ჯგუფის წევრები 16-ბიტიანი არხებით."
	STR_RB_LV_FILTER_SCRIPTL	"“სკრიპტების” ჩვენება"
	STR_RB_LV_FILTER_SCRIPTT	"გაფილტვრა „სკრიპტების“ ჯგუფის ChaiScript-ის მიხედვით"
	STR_RB_LV_FILTER_SCRIPTD	"ფილტრის გამოყენებისას გამოჩნდება Scripts ჯგუფის წევრები."
	STR_RB_LV_FILTER_TYPEBTNL	"ფილტრის ტიპი"
	STR_RB_LV_FILTER_TYPEBTNT	"გამოსაყენებელი ფილტრების ტიპის დაყენება"
	STR_RB_LV_FILTER_TYPEBTND	"გამოყენებული ფილტრების ტიპებს აქვთ ორი ლოგიკური მდგომარეობა: “AND”, “OR”."
	STR_RB_LV_FILTER_TYPEGRPL	"ფილტრის ტიპის შერჩევა"
	STR_RB_LV_FILTER_TYPEORL	"ნებისმიერი მატჩის ჩვენება"
	STR_RB_LV_FILTER_TYPEORT	"აჩვენეთ ჩანაწერები ნებისმიერი მატჩით"
	STR_RB_LV_FILTER_TYPEORD       	"ფილტრს აქვს ლოგიკური და მდგომარეობა და აჩვენებს ნებისმიერ შესატყვისს."
	STR_RB_LV_FILTER_TYPEANDL	"მხოლოდ სრული შესატყვისების ჩვენება"
	STR_RB_LV_FILTER_TYPEANDT	"აჩვენეთ ჩანაწერები მხოლოდ ზუსტი შესატყვისებით"
	STR_RB_LV_FILTER_TYPEANDD	"ფილტრს აქვს ლოგიკური OR მდგომარეობა და აჩვენებს მხოლოდ სრულ შესაბამისობას."
	STR_RB_LV_FILTER_AUTOCOMMITL	"ფილტრში მონაცემების ავტომატური გაგზავნა"
	STR_RB_LV_FILTER_AUTOCOMMITT	"ფილტრში შეყვანილი მნიშვნელობების ავტომატური გაგზავნა"
	STR_RB_LV_FILTER_AUTOCOMMITD	"ავტომატურად აგზავნის შეყვანის მნიშვნელობებს ჩაშენებულ ფილტრში."
	STR_RB_LV_EXT_MODEL		"დალაგების ჩვენება"
	STR_RB_LV_SORTUP_KEYL		"გასაღებით"
	STR_RB_LV_SORTUP_KEYT		"დალაგება აღმავალი და MIDI კლავიშების მიხედვით."
	STR_RB_LV_SORTUP_SCENEL		"სცენის გარშემო"
	STR_RB_LV_SORTUP_SCENET		"დახარისხება აღმავალი და MIDI სცენის მიხედვით."
	STR_RB_LV_SORTUP_TARGETL	"დანიშვნით 1"
	STR_RB_LV_SORTUP_TARGETT	"დალაგება აღმავალი და MIDI დანიშნულების მიხედვით 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"დანიშვნით 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"დალაგება აღმავალი და MIDI დანიშნულების მიხედვით 2."
	STR_RB_LV_SORTDOWN_KEYT		"დალაგება დაღმავალი და MIDI კლავიშების მიხედვით."
	STR_RB_LV_SORTDOWN_SCENET	"დახარისხება კლებადობით და MIDI სცენით."
	STR_RB_LV_SORTDOWN_TARGETT	"დახარისხება კლებადობით და MIDI დანიშნულებით 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"დახარისხება კლებადობით და MIDI დანიშნულებით 2."
	STR_RB_DIALOG_EXPORTMQTTL	"ექსპორტი MQTT-ში"
	STR_RB_DIALOG_EXPORTMQTTT	"MQTT კონფიგურაციის ექსპორტი"
	STR_RB_DIALOG_EXPORTMQTTD	"DMX512/ARTNET კონფიგურაციის ექსპორტი ახალ ფაილში."
	STR_RB_PANEL_EDITUTILL		"ხელსაწყოები"
	STR_RB_LV_SET_BUTTONL		"მიანიჭეთ MIDI გასაღები"
	STR_RB_LV_SET_BUTTONT		"მიანიჭეთ არჩეული MIDI გასაღები"
	STR_RB_LV_SET_BUTTOND		"განსაზღვრეთ არჩეული MIDI გასაღები, როგორც ჯგუფის წევრი."
	STR_RB_LV_SET_LIGHT8L		"განათება 8 ბიტიანი"
	STR_RB_LV_SET_LIGHT8T		"ჯგუფის დაყენება, როგორც “განათება 8 ბიტი”"
	STR_RB_LV_SET_LIGHT8D		"მიანიჭეთ არჩეული MIDI გასაღები “Lighting 8 Bit” ჯგუფს."
	STR_RB_LV_SET_LIGHT16L		"განათება 16 ბიტიანი"
	STR_RB_LV_SET_LIGHT16T		"დააყენეთ ჯგუფი, როგორც “განათება 16 ბიტი”"
	STR_RB_LV_SET_LIGHT16D		"მიანიჭეთ არჩეული MIDI გასაღები “Lighting 16-bit” ჯგუფს."
	STR_RB_LV_SET_SCRIPTL		"სცენარები"
	STR_RB_LV_SET_SCRIPTT		"ჯგუფის დაყენება, როგორც “სკრიპტები”"
	STR_RB_LV_SET_SCRIPTD		"მიანიჭეთ არჩეული MIDI გასაღები „სკრიპტების“ ჯგუფს."
	STR_RB_DIALOG_SHOWDUPL		"დუბლიკატების ჩვენება"
	STR_RB_DIALOG_SHOWDUPT		"იპოვეთ დუბლიკატი MIDI გასაღებები"
	STR_RB_DIALOG_SHOWDUPD		"მოძებნეთ დუბლიკატი MIDI გასაღებები; მათი არსებობის შემთხვევაში შეიძლება მოხდეს მოულოდნელი ქცევა."

	STR_RB_DIALOG_DELDUPL		"წაშალეთ დუბლიკატები"
	STR_RB_DIALOG_DELDUPT		"ამოიღეთ შესაძლო დუბლიკატი MIDI გასაღებები"
	STR_RB_DIALOG_DELDUPD		"დუბლიკატი MIDI კლავიშების პოვნა და ამოღება, თუ არის დუბლიკატები, შეიძლება არ მოიქცეს ისე, როგორც მოსალოდნელია."
END
