#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	IDS_RB_DIALOG_LAST_OPENL	"Nejnovější soubory:"
	IDS_RB_TABHOMEL			"Editace"
	IDS_RB_TABFILTERL		"Filtry"
	IDS_RB_PANEL_EDITMAINL		"upravit MIDI klíč"
	IDS_RB_PANEL_EDITSETL		"nastavit MIDI klíč jako..."
	IDS_RB_PANEL_EDITOPTL		"možnosti editoru"
	IDS_RB_PANEL_FILTERL		"výběr zobrazovacích filtrů"
	IDS_RB_PANEL_SORTL		"třídění"
	IDS_RB_MENUL			"&Jídelní lístek"
	IDS_RB_MENUT			"Nabídka aplikací"
	IDS_RB_PANEL_QATL		"&Rychlý přístup"
	IDS_RB_PANEL_QATT		"Panel nástrojů Rychlý přístup"
	IDS_RB_DIALOG_SAVEL		"&Uložit"
	IDS_RB_DIALOG_SAVET		"Uložit a použít"
	IDS_RB_DIALOG_SAVED		"Uložte do dříve staženého souboru a aktualizujte aktuální konfiguraci."
	IDS_RB_DIALOG_EXPORTL		"&Vývozní"
	IDS_RB_DIALOG_EXPORTT		"Export do nového souboru"
	IDS_RB_DIALOG_EXPORTD		"Exportujte upravenou konfiguraci do nového souboru."
	IDS_RB_DIALOG_IMPORTL		"&Import"
	IDS_RB_DIALOG_IMPORTT		"Importovat ze souboru"
	IDS_RB_DIALOG_IMPORTD		"Import konfigurace ze souboru."
	IDS_RB_DIALOG_EXITL		"&Výstup"
	IDS_RB_DIALOG_EXITT		"Ukončete editor"
	IDS_RB_DIALOG_EXITD		"Ukončí Editor konfigurace MIDI klíče; pokud změny neuložíte, budou ztraceny."
	IDS_RB_LV_NEWL			"&Nový MIDI klíč"
	IDS_RB_LV_NEWT			"Nový MIDI klíč"
	IDS_RB_LV_NEWD			"Vytvoření nového MIDI klíče."
	IDS_RB_LV_COPYL			"&Kopírovat"
	IDS_RB_LV_COPYT			"Kopírovat MIDI klíč"
	IDS_RB_LV_COPYD			"Zkopírujte vybranou položku MIDI klíče."
	IDS_RB_LV_PASTEL		"&Vložit"
	IDS_RB_LV_PASTET		"Vložte klíč"
	IDS_RB_LV_PASTED		"Vložte zkopírovaný klíč MIDI."
	IDS_RB_LV_DELETEL		"&Vymazat"
	IDS_RB_LV_DELETET		"Vymazat klíč"
	IDS_RB_LV_DELETED		"Smažte vybranou položku MIDI klíče."
	IDS_RB_LV_SET_MQTTL		"Chytrý dům"
	IDS_RB_LV_SET_MQTTT		"Nastavte skupinu jako „Smart Home“."
	IDS_RB_LV_SET_MQTTD		"Přiřaďte vybraný MIDI klíč skupině „Smart Home“."
	IDS_RB_LV_SET_MMKEYL		"Multimediální tlačítka"
	IDS_RB_LV_SET_MMKEYT		"Nastavte skupinu jako “Multimediální tlačítka”"
	IDS_RB_LV_SET_MMKEYD		"Přiřaďte vybraný MIDI klíč skupině „Multimediální tlačítka“."
	IDS_RB_LV_SET_MIXERL		"Audio mixer"
	IDS_RB_LV_SET_MIXERT		"Nastavit skupinu jako “Audio Mixer”"
	IDS_RB_LV_SET_MIXERD		"Přiřaďte vybraný MIDI klíč skupině „Audio Mixer“."
	IDS_RB_LV_READ_MIDI_CODEL	"Přečtěte si MIDI kód"
	IDS_RB_LV_READ_MIDI_CODET	"Přečtěte si kontrolní kód MIDI"
	IDS_RB_LV_READ_MIDI_CODED	"Číst MIDI kód ​​z ovládací plochy nebo MIDI klávesnice."
	IDS_RB_LV_EDIT_MODEL		"Pouze digitální vstup"
	IDS_RB_LV_EDIT_MODET		"Používejte pouze digitální vstup"
	IDS_RB_LV_EDIT_MODED		"Nepoužívejte nabídku pro výběr hodnot, použijte pouze digitální vstup."
	IDS_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI ovládací panel"
	IDS_RB_DIALOG_SHOW_MIDI_KEYST	"Doporučená nastavení"
	IDS_RB_DIALOG_SHOW_MIDI_KEYSD	"Doporučená nastavení ovládacího panelu MIDI kompatibilní s ovládacími prvky Adobe Premiere Pro."
	IDS_RB_LV_FILTER_EMBEDL		"Vestavěné filtry"
	IDS_RB_LV_FILTER_KEYL		"Klíč"
	IDS_RB_LV_FILTER_KEYT		"Filtrování podle MIDI klíče"
	IDS_RB_LV_FILTER_KEYD		"Zobrazit pouze shody v rámci skupiny MIDI klíčů."
	IDS_RB_LV_FILTER_SCENEL		"Scéna"
	IDS_RB_LV_FILTER_SCENET		"Filtrování podle MIDI scény"
	IDS_RB_LV_FILTER_SCENED		"Zobrazit pouze shody ve skupině scén MIDI."
	IDS_RB_LV_FILTER_TARGETL	"Účel 1"
	IDS_RB_LV_FILTER_TARGETT	"Filtrovat podle cíle 1"
	IDS_RB_LV_FILTER_TARGETD	"Zobrazit pouze zápasy v cílové skupině 1."
	IDS_RB_LV_FILTER_TARGETLONGL	"Účel 2"
	IDS_RB_LV_FILTER_TARGETLONGT	"Filtrovat podle cíle 2"
	IDS_RB_LV_FILTER_TARGETLONGD	"Zobrazit pouze zápasy v cílové skupině 2."
	IDS_RB_LV_FILTER_CLEARL		"Vymazat filtry"
	IDS_RB_LV_FILTER_CLEART		"Čištění filtrů"
	IDS_RB_LV_FILTER_CLEARD		"Zcela jasné filtry, zobrazí se všechny záznamy."
	IDS_RB_LV_FILTER_SETL		"Nastavit filtr"
	IDS_RB_LV_FILTER_SETT		"Instalace filtru"
	IDS_RB_LV_FILTER_SETD		"Nastavení filtru zobrazí všechny neplatné položky."
	IDS_RB_LV_FILTER_ONL		"Použít filtr"
	IDS_RB_LV_FILTER_ONT		"Použití filtru"
	IDS_RB_LV_FILTER_OND		"Použitím filtru se zobrazí vybrané položky."
	IDS_RB_LV_FILTER_OFFL		"Zrušit filtr"
	IDS_RB_LV_FILTER_OFFT		"Zrušit filtr"
	IDS_RB_LV_FILTER_OFFD		"Zrušením filtru se zobrazí všechny položky."
	IDS_RB_LV_FILTER_MMKEYL		"Zobrazit “Multimediální tlačítka”"
	IDS_RB_LV_FILTER_MMKEYT		"Filtrujte podle skupiny „Multimediální tlačítka“."
	IDS_RB_LV_FILTER_MMKEYD		"Použitím filtru se zobrazí členové skupiny Multimediální tlačítka."
	IDS_RB_LV_FILTER_MIXERL		"Zobrazit “Audio Mixer”"
	IDS_RB_LV_FILTER_MIXERT		"Filtrujte podle skupiny „Audio Mixer“."
	IDS_RB_LV_FILTER_MIXERD		"Použitím filtru se zobrazí členové skupiny Audio Mixer."
	IDS_RB_LV_FILTER_MQTTL		"Zobrazit „Inteligentní domácnost“"
	IDS_RB_LV_FILTER_MQTTT		"Filtrujte podle skupiny „Inteligentní domov“."
	IDS_RB_LV_FILTER_MQTTD		"Použitím filtru se zobrazí členové skupiny Smart Home."
	IDS_RB_LV_FILTER_TYPEBTNL	"Typ filtru"
	IDS_RB_LV_FILTER_TYPEBTNT	"Nastavení typu filtrů, které se mají použít"
	IDS_RB_LV_FILTER_TYPEBTND	"Použité typy filtrů mají dva logické stavy: „A“, „NEBO“."
	IDS_RB_LV_FILTER_TYPEGRPL	"Výběr typu filtru"
	IDS_RB_LV_FILTER_TYPEORL	"Zobrazit všechny zápasy"
	IDS_RB_LV_FILTER_TYPEORT	"Zobrazit záznamy s jakoukoli shodou"
	IDS_RB_LV_FILTER_TYPEORD       	"Filtr má logický stav AND a zobrazuje všechny shody."
	IDS_RB_LV_FILTER_TYPEANDL	"Zobrazit pouze kompletní shody"
	IDS_RB_LV_FILTER_TYPEANDT	"Zobrazit pouze záznamy s přesnou shodou"
	IDS_RB_LV_FILTER_TYPEANDD	"Filtr má logický stav NEBO a zobrazuje pouze úplné shody."
	IDS_RB_LV_FILTER_AUTOCOMMITL	"Automatické odesílání dat ve filtru"
	IDS_RB_LV_FILTER_AUTOCOMMITT	"Automatické odesílání zadaných hodnot ve filtru"
	IDS_RB_LV_FILTER_AUTOCOMMITD	"Automaticky odesílá vstupní hodnoty ve vestavěném filtru."
	IDS_RB_LV_EXT_MODEL		"Zobrazit řazení"
	IDS_RB_LV_SORTUP_KEYL		"podle klíče"
	IDS_RB_LV_SORTUP_KEYT		"Seřadit podle vzestupně a MIDI klíče."
	IDS_RB_LV_SORTUP_SCENEL		"kolem jeviště"
	IDS_RB_LV_SORTUP_SCENET		"Řazení podle vzestupné a MIDI scény."
	IDS_RB_LV_SORTUP_TARGETL	"po domluvě 1"
	IDS_RB_LV_SORTUP_TARGETT	"Třídit podle vzestupně a MIDI cíle 1."
	IDS_RB_LV_SORTUP_TARGETLONGL	"po domluvě 2"
	IDS_RB_LV_SORTUP_TARGETLONGT	"Třídění vzestupně a MIDI cíle 2."
	IDS_RB_LV_SORTDOWN_KEYT		"Seřadit podle sestupně a MIDI klíče."
	IDS_RB_LV_SORTDOWN_SCENET	"Řazení podle sestupného pořadí a MIDI scény."
	IDS_RB_LV_SORTDOWN_TARGETT	"Řazení podle sestupného pořadí a MIDI cíle 1."
	IDS_RB_LV_SORTDOWN_TARGETLONGT	"Řazení podle sestupného pořadí a MIDI cíle 2."
END
