#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Nejnovější soubory:"
	STR_RB_TABHOMEL			"Editace"
	STR_RB_TABFILTERL		"Filtry"
	STR_RB_PANEL_EDITMAINL		"upravit MIDI klíč"
	STR_RB_PANEL_EDITSETL		"Skupina MIDI klíčů"
	STR_RB_PANEL_EDITOPTL		"možnosti editoru"
	STR_RB_PANEL_FILTERL		"výběr zobrazovacích filtrů"
	STR_RB_PANEL_SORTL		"třídění"
	STR_RB_MENUL			"&Jídelní lístek"
	STR_RB_MENUT			"Nabídka aplikací"
	STR_RB_PANEL_QATL		"&Rychlý přístup"
	STR_RB_PANEL_QATT		"Panel nástrojů Rychlý přístup"
	STR_RB_DIALOG_SAVEL		"&Uložit"
	STR_RB_DIALOG_SAVET		"Uložit a použít"
	STR_RB_DIALOG_SAVED		"Uložte do dříve staženého souboru a aktualizujte aktuální konfiguraci."
	STR_RB_DIALOG_EXPORTL		"&Vývozní"
	STR_RB_DIALOG_EXPORTT		"Export do nového souboru"
	STR_RB_DIALOG_EXPORTD		"Exportujte upravenou konfiguraci do nového souboru."
	STR_RB_DIALOG_IMPORTL		"&Import"
	STR_RB_DIALOG_IMPORTT		"Importovat ze souboru"
	STR_RB_DIALOG_IMPORTD		"Import konfigurace ze souboru."
	STR_RB_DIALOG_EXITL		"&Výstup"
	STR_RB_DIALOG_EXITT		"Ukončete editor"
	STR_RB_DIALOG_EXITD		"Ukončí Editor konfigurace MIDI klíče; pokud změny neuložíte, budou ztraceny."
	STR_RB_LV_NEWL			"&Nový MIDI klíč"
	STR_RB_LV_NEWT			"Nový MIDI klíč"
	STR_RB_LV_NEWD			"Vytvoření nového MIDI klíče."
	STR_RB_LV_COPYL			"&Kopírovat"
	STR_RB_LV_COPYT			"Kopírovat MIDI klíč"
	STR_RB_LV_COPYD			"Zkopírujte vybranou položku MIDI klíče."
	STR_RB_LV_PASTEL		"&Vložit"
	STR_RB_LV_PASTET		"Vložte klíč"
	STR_RB_LV_PASTED		"Vložte zkopírovaný klíč MIDI."
	STR_RB_LV_DELETEL		"&Vymazat"
	STR_RB_LV_DELETET		"Vymazat klíč"
	STR_RB_LV_DELETED		"Smažte vybranou položku MIDI klíče."
	STR_RB_LV_SET_MQTTL		"Chytrý dům"
	STR_RB_LV_SET_MQTTT		"Nastavte skupinu jako „Smart Home“."
	STR_RB_LV_SET_MQTTD		"Přiřaďte vybraný MIDI klíč skupině „Smart Home“."
	STR_RB_LV_SET_MMKEYL		"Multimediální tlačítka"
	STR_RB_LV_SET_MMKEYT		"Nastavte skupinu jako “Multimediální tlačítka”"
	STR_RB_LV_SET_MMKEYD		"Přiřaďte vybraný MIDI klíč skupině „Multimediální tlačítka“."
	STR_RB_LV_SET_MIXERL		"Audio mixer"
	STR_RB_LV_SET_MIXERT		"Nastavit skupinu jako “Audio Mixer”"
	STR_RB_LV_SET_MIXERD		"Přiřaďte vybraný MIDI klíč skupině „Audio Mixer“."
	STR_RB_LV_READ_MIDI_CODEL	"Přečtěte si MIDI kód"
	STR_RB_LV_READ_MIDI_CODET	"Přečtěte si kontrolní kód MIDI"
	STR_RB_LV_READ_MIDI_CODED	"Číst MIDI kód ​​z ovládací plochy nebo MIDI klávesnice."
	STR_RB_LV_EDIT_MODEL		"Pouze digitální vstup"
	STR_RB_LV_EDIT_MODET		"Používejte pouze digitální vstup"
	STR_RB_LV_EDIT_MODED		"Nepoužívejte nabídku pro výběr hodnot, použijte pouze digitální vstup."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI ovládací panel"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Doporučená nastavení"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Doporučená nastavení ovládacího panelu MIDI kompatibilní s ovládacími prvky Adobe Premiere Pro."
	STR_RB_LV_FILTER_EMBEDL		"Vestavěné filtry"
	STR_RB_LV_FILTER_KEYL		"Klíč"
	STR_RB_LV_FILTER_KEYT		"Filtrování podle MIDI klíče"
	STR_RB_LV_FILTER_KEYD		"Zobrazit pouze shody v rámci skupiny MIDI klíčů."
	STR_RB_LV_FILTER_SCENEL		"Scéna"
	STR_RB_LV_FILTER_SCENET		"Filtrování podle MIDI scény"
	STR_RB_LV_FILTER_SCENED		"Zobrazit pouze shody ve skupině scén MIDI."
	STR_RB_LV_FILTER_TARGETL	"Účel 1"
	STR_RB_LV_FILTER_TARGETT	"Filtrovat podle cíle 1"
	STR_RB_LV_FILTER_TARGETD	"Zobrazit pouze zápasy v cílové skupině 1."
	STR_RB_LV_FILTER_TARGETLONGL	"Účel 2"
	STR_RB_LV_FILTER_TARGETLONGT	"Filtrovat podle cíle 2"
	STR_RB_LV_FILTER_TARGETLONGD	"Zobrazit pouze zápasy v cílové skupině 2."
	STR_RB_LV_FILTER_CLEARL		"Vymazat filtry"
	STR_RB_LV_FILTER_CLEART		"Čištění filtrů"
	STR_RB_LV_FILTER_CLEARD		"Zcela jasné filtry, zobrazí se všechny záznamy."
	STR_RB_LV_FILTER_SETL		"Nastavit filtr"
	STR_RB_LV_FILTER_SETT		"Instalace filtru"
	STR_RB_LV_FILTER_SETD		"Nastavení filtru zobrazí všechny neplatné položky."
	STR_RB_LV_FILTER_ONL		"Použít filtr"
	STR_RB_LV_FILTER_ONT		"Použití filtru"
	STR_RB_LV_FILTER_OND		"Použitím filtru se zobrazí vybrané položky."
	STR_RB_LV_FILTER_OFFL		"Zrušit filtr"
	STR_RB_LV_FILTER_OFFT		"Zrušit filtr"
	STR_RB_LV_FILTER_OFFD		"Zrušením filtru se zobrazí všechny položky."
	STR_RB_LV_FILTER_MMKEYL		"Zobrazit “Multimediální tlačítka”"
	STR_RB_LV_FILTER_MMKEYT		"Filtrujte podle skupiny „Multimediální tlačítka“."
	STR_RB_LV_FILTER_MMKEYD		"Použitím filtru se zobrazí členové skupiny Multimediální tlačítka."
	STR_RB_LV_FILTER_MIXERL		"Zobrazit “Audio Mixer”"
	STR_RB_LV_FILTER_MIXERT		"Filtrujte podle skupiny „Audio Mixer“."
	STR_RB_LV_FILTER_MIXERD		"Použitím filtru se zobrazí členové skupiny Audio Mixer."
	STR_RB_LV_FILTER_MQTTL		"Zobrazit „Inteligentní domácnost“"
	STR_RB_LV_FILTER_MQTTT		"Filtrujte podle skupiny „Inteligentní domov“."
	STR_RB_LV_FILTER_MQTTD		"Použitím filtru se zobrazí členové skupiny Smart Home."
	STR_RB_LV_FILTER_LIGHT8L	"Zobrazit “Osvětlení 8 bitů”"
	STR_RB_LV_FILTER_LIGHT8T	"Filtrovat podle skupiny „Osvětlení 8 bitů“"
	STR_RB_LV_FILTER_LIGHT8D	"Použitím filtru se zobrazí členové skupiny Lighting s 8bitovými kanály."
	STR_RB_LV_FILTER_LIGHT16L	"Zobrazit “16bitové osvětlení”"
	STR_RB_LV_FILTER_LIGHT16T	"Filtrujte podle skupiny „16bitové osvětlení“."
	STR_RB_LV_FILTER_LIGHT16D	"Použitím filtru se zobrazí členové skupiny Lighting s 16bitovými kanály."
	STR_RB_LV_FILTER_SCRIPTL	"Zobrazit “Skripty”"
	STR_RB_LV_FILTER_SCRIPTT	"Filtrujte podle skupiny „Skripty“ ChaiScript"
	STR_RB_LV_FILTER_SCRIPTD	"Použitím filtru se zobrazí členové skupiny Skripty."
	STR_RB_LV_FILTER_TYPEBTNL	"Typ filtru"
	STR_RB_LV_FILTER_TYPEBTNT	"Nastavení typu filtrů, které se mají použít"
	STR_RB_LV_FILTER_TYPEBTND	"Použité typy filtrů mají dva logické stavy: „A“, „NEBO“."
	STR_RB_LV_FILTER_TYPEGRPL	"Výběr typu filtru"
	STR_RB_LV_FILTER_TYPEORL	"Zobrazit všechny zápasy"
	STR_RB_LV_FILTER_TYPEORT	"Zobrazit záznamy s jakoukoli shodou"
	STR_RB_LV_FILTER_TYPEORD       	"Filtr má logický stav AND a zobrazuje všechny shody."
	STR_RB_LV_FILTER_TYPEANDL	"Zobrazit pouze kompletní shody"
	STR_RB_LV_FILTER_TYPEANDT	"Zobrazit pouze záznamy s přesnou shodou"
	STR_RB_LV_FILTER_TYPEANDD	"Filtr má logický stav NEBO a zobrazuje pouze úplné shody."
	STR_RB_LV_FILTER_AUTOCOMMITL	"Automatické odesílání dat ve filtru"
	STR_RB_LV_FILTER_AUTOCOMMITT	"Automatické odesílání zadaných hodnot ve filtru"
	STR_RB_LV_FILTER_AUTOCOMMITD	"Automaticky odesílá vstupní hodnoty ve vestavěném filtru."
	STR_RB_LV_EXT_MODEL		"Zobrazit řazení"
	STR_RB_LV_SORTUP_KEYL		"podle klíče"
	STR_RB_LV_SORTUP_KEYT		"Seřadit podle vzestupně a MIDI klíče."
	STR_RB_LV_SORTUP_SCENEL		"kolem jeviště"
	STR_RB_LV_SORTUP_SCENET		"Řazení podle vzestupné a MIDI scény."
	STR_RB_LV_SORTUP_TARGETL	"po domluvě 1"
	STR_RB_LV_SORTUP_TARGETT	"Třídit podle vzestupně a MIDI cíle 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"po domluvě 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Třídění vzestupně a MIDI cíle 2."
	STR_RB_LV_SORTDOWN_KEYT		"Seřadit podle sestupně a MIDI klíče."
	STR_RB_LV_SORTDOWN_SCENET	"Řazení podle sestupného pořadí a MIDI scény."
	STR_RB_LV_SORTDOWN_TARGETT	"Řazení podle sestupného pořadí a MIDI cíle 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Řazení podle sestupného pořadí a MIDI cíle 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Export do MQTT"
	STR_RB_DIALOG_EXPORTMQTTT	"Export konfigurace MQTT"
	STR_RB_DIALOG_EXPORTMQTTD	"Export konfigurace DMX512/ARTNET do nového souboru."
	STR_RB_PANEL_EDITUTILL		"Nástroje"
	STR_RB_LV_SET_BUTTONL		"Přiřadit MIDI klíč"
	STR_RB_LV_SET_BUTTONT		"Přiřadit vybraný MIDI klíč"
	STR_RB_LV_SET_BUTTOND		"Definujte vybraný MIDI klíč jako člena skupiny."
	STR_RB_LV_SET_LIGHT8L		"Osvětlení 8 bit"
	STR_RB_LV_SET_LIGHT8T		"Nastavit skupinu jako “Osvětlení 8 bitů”"
	STR_RB_LV_SET_LIGHT8D		"Přiřaďte vybraný MIDI klíč skupině „Lighting 8 Bit“."
	STR_RB_LV_SET_LIGHT16L		"Osvětlení 16 bit"
	STR_RB_LV_SET_LIGHT16T		"Nastavit skupinu jako “16bitové osvětlení”"
	STR_RB_LV_SET_LIGHT16D		"Přiřaďte vybraný MIDI klíč do skupiny „Lighting 16-bit“."
	STR_RB_LV_SET_SCRIPTL		"Scénáře"
	STR_RB_LV_SET_SCRIPTT		"Nastavit skupinu jako “Skripty”"
	STR_RB_LV_SET_SCRIPTD		"Přiřaďte vybraný MIDI klíč do skupiny „Scripts“."
	STR_RB_DIALOG_SHOWDUPL		"Zobrazit duplikáty"
	STR_RB_DIALOG_SHOWDUPT		"Najděte duplicitní MIDI klíče"
	STR_RB_DIALOG_SHOWDUPD		"Vyhledejte duplicitní klíče MIDI; pokud jsou přítomny, může dojít k neočekávanému chování."

	STR_RB_DIALOG_DELDUPL		"Odstraňte duplikáty"
	STR_RB_DIALOG_DELDUPT		"Odstraňte možné duplicitní klíče MIDI"
	STR_RB_DIALOG_DELDUPD		"Nalezení a odstranění duplicitních klíčů MIDI, pokud existují duplicitní klíče, se nemusí chovat podle očekávání."
END
