#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_FRISIAN, SUBLANG_FRISIAN_NETHERLANDS

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT oersetter"
    STRING_MIXER	"&Mixer"
    STRING_SETTINGS	"&Ynstellings"
    STRING_START	"Start"
    STRING_STOP		"Ophâlde"
    STRING_EXIT		"Útgong"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Konfiguraasje laden fan bestjoerder"
    STRING_EDIT_MSG2	"Konfiguraasje laden út triem"
    STRING_EDIT_MSG3	"De konfiguraasje is oanmakke op 'e nij en fereasket ynfoljen"
    STRING_EDIT_MSG4	"By it iepenjen fan de bewurker waard it konfiguraasjetriem opjûn: '{0}'. Bewarje it mei deselde namme?"
    STRING_EDIT_MSG5	"DMX kanaal nûmer"
    STRING_EDIT_MSG6	"MQTT-konfiguraasje mei súkses eksportearre"
    STRING_EDIT_MSG7	"Flater by it eksportearjen fan MQTT-konfiguraasje"
    STRING_EDIT_MSG8	"Gjin dûbele MIDI-kaaien fûn"
    STRING_EDIT_MSG9	"{0} dûbele MIDI-kaaien fûn"

    STRING_NOTIFY_MSG1	"de oersetter wurdt stoppe:"
    STRING_NOTIFY_MSG2	"de oersetter wurket:"

    STRING_AMIX_MSG1	"De audiomixer rint net, kontrolearje de ynstellingen, de start fan it audiopaniel moat ynskeakele wurde."
    STRING_AMIX_MSG2	"MIDIMT - Audiomixer wurket net:"
    STRING_AMIX_MSG3	"Unjildige evenemint ID. Start dizze applikaasje opnij."
    STRING_AMIX_MSG4	"MIDIMT - Kin operaasje net foltôgje:"
    STRING_AMIX_MSG5	"It oerskeakeljen nei UI-thread is mislearre, it opstarten fan it audiopaniel is ôfbrutsen."

    STRING_MAIN_MSG1	"Applikaasje inisjalisaasje flater, fuortsetting is net mooglik."
    STRING_MAIN_MSG2	"Kontrolearje de tagongsrjochten fan de brûker om bestannen te skriuwen yn 'e applikaasjemap. As de flater oanhâldt, besykje dan logging út te skeakeljen."
    STRING_MAIN_MSG3	"Autorun is útskeakele yn 'e algemiene konfiguraasje."
    STRING_MAIN_MSG4	"De selektearre konfiguraasje stipet gjin automatyske start."

    STRING_LOGV_MSG1	"Asjebleaft, foardat jo de monitor begjinne, start de oersetter út it menu troch 'Start' te selektearjen."
    STRING_LOGV_MSG2	"Alle ynstellings '{0}', ferzje fan konfiguraasjetriem: {1}"
    STRING_LOGV_MSG3	"MIDI ynstellings"
    STRING_LOGV_MSG4	"Smart Home Settings (MQTT)"
    STRING_LOGV_MSG5	"Ynstellings foar multimedia toetseboerd (MMKEYS)"
    STRING_LOGV_MSG6	"Ynstellings foar ljochtkontrôle ({0})"
    STRING_LOGV_MSG7	"Ynstellings foar kontrôlepaniel op ôfstân (REMOTE)"
    STRING_LOGV_MSG8	"Ynstellings foar gamepad/joystick-kontrôle (GAMEPAD)"
    STRING_LOGV_MSG9	"MIDI toets yndrukt:"
    STRING_LOGV_MSG10	"Label nûmer:"

    STRING_CHKR_MSG1	"By it opstarten waard it konfiguraasjetriem oantsjutte: '{0}'. Set it as in konfiguraasje foar folgjende runs?"
    STRING_CHKR_MSG2	"MIDI-MT konfiguraasje"

    STRING_TMENU_MSG1	"Jo moatte de Virtual MIDI-bestjoerder ynstallearje!"

    STRING_LANG_STATUS	"status:"
    STRING_LANG_YES	"Ja"
    STRING_LANG_NO	"Nee"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "lûdvolume (haad)"
	IDM_COL4_MAP  "lûdbalâns (basis)"
	IDM_COL4_MAM  "stomme (haad)"
	IDM_COL4_MAS  "audio solo (haad)"
	IDM_COL4_JOG  "JOG (fideoframe weromspoelen)"
	IDM_COL4_AV1  "lûdvolume (kanaal 1)"
	IDM_COL4_AV2  "lûdvolume (kanaal 2)"
	IDM_COL4_AV3  "lûdvolume (kanaal 3)"
	IDM_COL4_AV4  "lûdvolume (kanaal 4)"
	IDM_COL4_AV5  "lûdvolume (kanaal 5)"
	IDM_COL4_AV6  "lûdvolume (kanaal 6)"
	IDM_COL4_AV7  "lûdvolume (kanaal 7)"
	IDM_COL4_AV8  "lûdvolume (kanaal 8)"
	IDM_COL4_XV9  "lûdvolume (kanaal 9)"
	IDM_COL4_AP1  "lûdbalâns (kanaal 1)"
	IDM_COL4_AP2  "lûdbalâns (kanaal 2)"
	IDM_COL4_AP3  "lûdbalâns (kanaal 3)"
	IDM_COL4_AP4  "lûdbalâns (kanaal 4)"
	IDM_COL4_AP5  "lûdbalâns (kanaal 5)"
	IDM_COL4_AP6  "lûdbalâns (kanaal 6)"
	IDM_COL4_AP7  "lûdbalâns (kanaal 7)"
	IDM_COL4_AP8  "lûdbalâns (kanaal 8)"
	IDM_COL4_XP9  "lûdbalâns (kanaal 9)"
	IDM_COL4_B11  "audio solo (kanaal 1)"
	IDM_COL4_B12  "audio solo (kanaal 2)"
	IDM_COL4_B13  "audio solo (kanaal 3)"
	IDM_COL4_B14  "audio solo (kanaal 4)"
	IDM_COL4_B15  "audio solo (kanaal 5)"
	IDM_COL4_B16  "audio solo (kanaal 6)"
	IDM_COL4_B17  "audio solo (kanaal 7)"
	IDM_COL4_B18  "audio solo (kanaal 8)"
	IDM_COL4_B19  "audio solo (kanaal 9)"
	IDM_COL4_B21  "mute (kanaal 1)"
	IDM_COL4_B22  "mute (kanaal 2)"
	IDM_COL4_B23  "mute (kanaal 3)"
	IDM_COL4_B24  "mute (kanaal 4)"
	IDM_COL4_B25  "mute (kanaal 5)"
	IDM_COL4_B26  "mute (kanaal 6)"
	IDM_COL4_B27  "mute (kanaal 7)"
	IDM_COL4_B28  "mute (kanaal 8)"
	IDM_COL4_B29  "mute (kanaal 9)"
	IDM_COL4_B31  "lûd seleksje (kanaal 1)"
	IDM_COL4_B32  "lûd seleksje (kanaal 2)"
	IDM_COL4_B33  "lûd seleksje (kanaal 3)"
	IDM_COL4_B34  "lûd seleksje (kanaal 4)"
	IDM_COL4_B35  "lûd seleksje (kanaal 5)"
	IDM_COL4_B36  "lûd seleksje (kanaal 6)"
	IDM_COL4_B37  "lûd seleksje (kanaal 7)"
	IDM_COL4_B38  "lûd seleksje (kanaal 8)"
	IDM_COL4_B39  "lûd seleksje (kanaal 9)"
	IDM_COL4_FUN11  "funksje F1 (standertmodus)"
	IDM_COL4_FUN12  "funksje F2 (standert modus)"
	IDM_COL4_FUN13  "funksje F3 (standert modus)"
	IDM_COL4_FUN14  "funksje F4 (standert modus)"
	IDM_COL4_FUN15  "funksje F5 (standert modus)"
	IDM_COL4_FUN16  "funksje F6 (standert modus)"
	IDM_COL4_FUN17  "funksje F7 (standert modus)"
	IDM_COL4_FUN18  "funksje F8 (standert modus)"
	IDM_COL4_FUN21  "funksje F1 (hâlden modus)"
	IDM_COL4_FUN22  "funksje F2 (hâlde modus)"
	IDM_COL4_FUN23  "funksje F3 (holden modus)"
	IDM_COL4_FUN24  "funksje F4 (hâlde modus)"
	IDM_COL4_FUN25  "funksje F5 (held modus)"
	IDM_COL4_FUN26  "funksje F6 (hâlde modus)"
	IDM_COL4_FUN27  "funksje F7 (holden modus)"
	IDM_COL4_FUN28  "funksje F8 (holden modus)"
	IDM_COL4_SYS_Rewind  "Rewind (spiler)"
	IDM_COL4_SYS_Forward  "Snel foarút (spiler)"
	IDM_COL4_SYS_Stop  "Stopje (spiler)"
	IDM_COL4_SYS_Play  "Spylje (spiler)"
	IDM_COL4_SYS_Record  "Opname (spiler)"
	IDM_COL4_SYS_Up    "Up (joystick)"
	IDM_COL4_SYS_Down  "Down (joystick)"
	IDM_COL4_SYS_Left  "Lofts (joystick)"
	IDM_COL4_SYS_Right  "Rjochts (joystick)"
	IDM_COL4_SYS_Zoom  "Tanimme"
	IDM_COL4_SYS_Scrub  "Scrub"
	IDM_COL4_VOLUMEMIX "Mixer kontrôle"
	IDM_COL4_MEDIAKEY "Multimedia toetsen"
        IDM_COL4_MQTTKEY  "Smart Home Management"
        IDM_COL4_LIGHTKEY8B "Ljochtkontrôle (8 bits)"
        IDM_COL4_LIGHTKEY16B "Ljochtkontrôle (16 bit)"
	IDM_COL4_VMSCRIPT "Skriptbehear"
	IDM_COL4_NONE  "aksje net definiearre"
	IDM_COL5_MQTT_AV1		"nivo 1"
	IDM_COL5_MQTT_AV2		"nivo 2"
	IDM_COL5_MQTT_AV3		"nivo 3"
	IDM_COL5_MQTT_AV4		"nivo 4"
	IDM_COL5_MQTT_AV5		"nivo 5"
	IDM_COL5_MQTT_AV6		"nivo 6"
	IDM_COL5_MQTT_AV7		"nivo 7"
	IDM_COL5_MQTT_AV8		"nivo 8"
	IDM_COL5_MQTT_XV9		"nivo 9"
	IDM_COL5_MQTT_AP1		"nivo 10"
	IDM_COL5_MQTT_AP2		"nivo 11"
	IDM_COL5_MQTT_AP3		"nivo 12"
	IDM_COL5_MQTT_AP4		"nivo 13"
	IDM_COL5_MQTT_AP5		"nivo 14"
	IDM_COL5_MQTT_AP6		"nivo 15"
	IDM_COL5_MQTT_AP7		"nivo 16"
	IDM_COL5_MQTT_AP8		"nivo 17"
	IDM_COL5_MQTT_XP9		"nivo 18"
	IDM_COL5_MQTT_B11		"oan/út 1"
	IDM_COL5_MQTT_B12		"oan/út 2"
	IDM_COL5_MQTT_B13		"oan/út 3"
	IDM_COL5_MQTT_B14		"oan/út 4"
	IDM_COL5_MQTT_B15		"oan/út 5"
	IDM_COL5_MQTT_B16		"oan/út 6"
	IDM_COL5_MQTT_B17		"oan/út 7"
	IDM_COL5_MQTT_B18		"oan/út 8"
	IDM_COL5_MQTT_B19		"oan/út 9"
	IDM_COL5_MQTT_B21		"oan/út 10"
	IDM_COL5_MQTT_B22		"oan/út 11"
	IDM_COL5_MQTT_B23		"oan/út 12"
	IDM_COL5_MQTT_B24		"oan/út 13"
	IDM_COL5_MQTT_B25		"oan/út 14"
	IDM_COL5_MQTT_B26		"oan/út 15"
	IDM_COL5_MQTT_B27		"oan/út 16"
	IDM_COL5_MQTT_B28		"oan/út 17"
	IDM_COL5_MQTT_B29		"oan/út 18"
	IDM_COL5_MQTT_B31		"oan/út 19"
	IDM_COL5_MQTT_B32		"oan/út 20"
	IDM_COL5_MQTT_B33		"oan/út 21"
	IDM_COL5_MQTT_B34		"oan/út 22"
	IDM_COL5_MQTT_B35		"oan/út 23"
	IDM_COL5_MQTT_B36		"oan/út 24"
	IDM_COL5_MQTT_B37		"oan/út 25"
	IDM_COL5_MQTT_B38		"oan/út 26"
	IDM_COL5_MQTT_B39		"oan/út 27"
	IDM_COL5_MQTT_EMPTY		"Net tawiisd"
	IDM_COL5_SCRIPT_B11		"Skript 1"
	IDM_COL5_SCRIPT_B12		"Skript 2"
	IDM_COL5_SCRIPT_B13		"skript 3"
	IDM_COL5_SCRIPT_B14		"skrip 4"
	IDM_COL5_SCRIPT_B15		"skript 5"
	IDM_COL5_SCRIPT_B16		"skrip 6"
	IDM_COL5_SCRIPT_B17		"skrip 7"
	IDM_COL5_SCRIPT_B18		"skrip 8"
	IDM_COL5_SCRIPT_B19		"skrip 9"
	IDM_COL5_SCRIPT_B21		"Skript 10"
	IDM_COL5_SCRIPT_B22		"Skript 11"
	IDM_COL5_SCRIPT_B23		"Skript 12"
	IDM_COL5_SCRIPT_B24		"Skript 13"
	IDM_COL5_SCRIPT_B25		"Skript 14"
	IDM_COL5_SCRIPT_B26		"Skript 15"
	IDM_COL5_SCRIPT_B27		"Skript 16"
	IDM_COL5_SCRIPT_B28		"Skript 17"
	IDM_COL5_SCRIPT_B29		"Skript 18"
	IDM_COL5_SCRIPT_B31		"Skript 19"
	IDM_COL5_SCRIPT_B32		"Skript 20"
	IDM_COL5_SCRIPT_B33		"Skript 21"
	IDM_COL5_SCRIPT_B34		"Skript 22"
	IDM_COL5_SCRIPT_B35		"Skript 23"
	IDM_COL5_SCRIPT_B36		"Skript 24"
	IDM_COL5_SCRIPT_B37		"Skript 25"
	IDM_COL5_SCRIPT_B38		"Skript 26"
	IDM_COL5_SCRIPT_B39		"Skript 27"
	IDM_COL5_SCRIPT_STOP		"Stopje alle skripts"
	IDM_COL5_SCRIPT_RELOAD		"Lês de skriptmap opnij"
	IDM_COL5_SCRIPT_EMPTY		"Net tawiisd"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"OK"
	IDS_ERRORID_EMPTY			"[Konfiguraasje is leech..]"
	IDS_ERRORID_UNDEFINED			"Dizze flater is net definiearre"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Skriuwtagong ta it konfiguraasjetriem is wegere, '{0}'"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Konfiguraasjetriem mist of tagong wegere, '{0}'"
	IDS_ERRORID_JSONCONF_EMPTY		"Konfiguraasjetriem is leech, '{0}'"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"De namme fan it MIDI-apparaat is net ynsteld."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"D'r binne gjin MIDI-kaaien konfigureare yn dizze konfiguraasje."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Oandacht, dizze konfiguraasje hat gjin MIDI-kaaien ynsteld! de opnommen konfiguraasje sil net wurkje."
	IDS_ERRORID_INIT_COINITIALIZE		"Co*Inisjalisearjen inisjalisearjen mislearre."
	IDS_ERRORID_INIT_COCREATE		"Co*Create - koe in eksimplaar net oanmeitsje."
	IDS_ERRORID_INIT_DEFAULT_AE		"It krijen fan standert audio-apparaat is mislearre."
	IDS_ERRORID_INIT_AS_MANAGER2		"Audio Session Manager ferûngelokke."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Audio peak meter is net beskikber."
	IDS_ERRORID_MIXER_STARTOK		"De audio-sesjemixer rint, op it momint fan begjin binne d'r {0} rinnende programma's beskikber foar regeljouwing."
	IDS_ERRORID_MIXER_STARTERROR		"De audio-sesjemixer koe net starte, flaterdetails moatte yn it lochbestân stean."
	IDS_ERRORID_MIXER_STOPOK		"De audio-sesjemixer is stoppe."
	IDS_ERRORID_MIXER_STOPERROR		"De audio-sesjemixer waard net goed stoppe, flaterdetails moatte yn it lochbestân stean."
	IDS_ERRORID_NO_INIT			"Inisjalisearje foardat jo dit belje .."
	IDS_ERRORID_SESSION_LIST		"It opheljen fan de list mei audio sesjes mislearre."
	IDS_ERRORID_LISTISNULL			"De list mei audio sesjes is leech!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Audio sesje útskeakelje, reason='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Audio sesje oanmakke, name='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Audiosesje '{0}' - minne registraasjestatus '{1}': {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"De wearde dy't wurdt ynsteld fanút it werombeljen is in ûnjildige selektor."
	IDS_ERRORID_SET_CB_WARNING		"It ynstellen fan in callback is allinich mooglik nei't de MIDI-brêge mei súkses lansearre is."
	IDS_ERRORID_CONFIG_FAIL			"Konfiguraasje laden mislearre, triem net fûn, lansearring ûnmooglik."
	IDS_ERRORID_CONFIG_LOAD			"Konfiguraasje laden.."
	IDS_ERRORID_CONFIG_LOADA		"De konfiguraasje is al laden.."
	IDS_ERRORID_CONFIG_EMPTY		"Konfiguraasje is leech.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"De konfiguraasje foar module {0} is leech.."
	IDS_ERRORID_CONFIG_NEW			"Nije konfiguraasjeferzje ûntdutsen.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Net-stipe ymplemintaasje yn koade, metoade net oerskreaun: {0}"
	IDS_ERRORID_NOT_CONFIG			"De konfiguraasjenamme is net oantsjutte en kin net trochset wurde."
	IDS_ERRORID_MIDI_NOT_DEVICES		"De apparaten binne net ferbûn en kinne net trochgean."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Oandacht, it oantal apparaten yn de definitive list komt net oerien, systeem/list = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Kin MIDI-apparaat net iepenje, kin net trochgean, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Kin MIDI-apparaat net starte, kin net trochgean, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Apparaat net ferbûn, ôfbrekke, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Apparaat {0} fûn, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Apparaat {0} iepen, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Apparaat {0} sluten (systeem)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Apparaat {0} klear (systeem)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"De namme foar it aktive apparaat is net oantsjutte, fuortsetting is ûnmooglik, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Proxy havens wurde net oantsjutte yn de konfiguraasje, MIDI proxy is útskeakele."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Bestjoerderferzje [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Probleem mei bestjoerder ferzje [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Apparaat {0} ferstjoerd ûnjildige wearde = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"De firtuele MIDI-bestjoerder is net ynstalleare. Jo moatte it loopMidi-pakket ynstallearje, of it folsleine ynstallearder downloade en MIDI-MT opnij ynstallearje. Mear details: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"De ynstallearre firtuele MIDI-bestjoerder is net fûn! Jo moatte it Virtual Loop MIDI-pakket ynstallearje om de MIDI-MT-oersetter út te fieren."
	IDS_ERRORID_MIDI_PROXY_PORTS		"By it opstarten wurde {0} proxy-MIDI-poarten oanmakke."
	IDS_ERRORID_MIDI_PROXY_OFF		"Proxy MIDI-poarten binne útskeakele."
	IDS_ERRORID_MIDI_OUT_PORTS		"By it opstarten wurde {0} MIDI-útfierpoarten oanmakke."
	IDS_ERRORID_MIDI_OUT_OFF		"MIDI útfier havens binne útskeakele."
	IDS_ERRORID_MMKEY_START			"De Media Key Management-tsjinst rint."
	IDS_ERRORID_MMKEY_STOP			"De Media Key Management-tsjinst is stoppe."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"MQTT-konfiguraasje is leech en kin net trochgean."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Flater by it meitsjen fan MQTT-kliïnt, annulearje."
	IDS_ERRORID_MQTT_CLIENT_OK		"De MMQTT-kliïnt is mei súkses makke, trochgean ..."
	IDS_ERRORID_MQTT_CONNECTED		"Ferbûn mei MQTT-tsjinner:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Ferbine mei MQTT-tsjinner mislearre:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Ferbûn mei MQTT-tsjinner:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"CA-sertifikaattriem bestiet net, paad = '{0}'"
	IDS_ERRORID_MQTT_START			"De Smart Home-kontrôletsjinst is lansearre."
	IDS_ERRORID_MQTT_STOP			"De Smart Home-kontrôletsjinst is stoppe."
	IDS_ERRORID_MQTT_CA_FILTER		"CA sertifikaat"
	IDS_ERRORID_LOG_LEVEL_NONE		"gjin log wurdt byhâlden"
	IDS_ERRORID_LOG_LEVEL_INFO		"ynformaasje"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"notifikaasjes"
	IDS_ERRORID_LOG_LEVEL_WARNING		"warskôgings"
	IDS_ERRORID_LOG_LEVEL_ERR		"allinne flaters"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"alle berjochten"
	IDS_ERRORID_PANEL_INDEX			"Audio Mixer Panel - Kin net trochgean, yndeks items binne ferkeard."
	IDS_ERRORID_PANEL_INIT			"Audiomixerpaniel - kin net trochgean, initialisaasjeflater."
	IDS_ERRORID_PANEL_ENABLE		"It finster fan it audiomixerpaniel hat net de juste status en de folgjende operaasje kin net trochset wurde."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"It audiomixerpaniel wurdt net oproppen op in UI-thread en feroarings kinne net makke wurde."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"It audiomixerpaniel ûntdekte in ûnjildich elemint en it oanmeitsjen fan it panielfinster waard ôfbrutsen."
	IDS_ERRORID_LIGHT_DMX_START		"De tsjinst foar DMX-ljochtkontrôle wurdt begûn mei COM{0} - {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"De tsjinst foar DMX-ljochtkontrôle rint net, it COM{0}-apparaat is net ferbûn.."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"De tsjinst foar DMX-ljochtkontrôle rint net en de tsjinstkonfiguraasje is net ynfolle."
	IDS_ERRORID_LIGHT_DMX_STOP		"De tsjinst foar DMX-ljochtkontrôle is stoppe."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Gjin geskikte apparaten beskikber"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Selektearje DMX apparaat"
	IDS_ERRORID_LIGHT_ARTNET_START		"De ArtNet Lighting Control Service rint mei it útstjoeradres {0}:{1} op netwurk {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"ArtNet lighting control tsjinst wurket net, netwurk {0} net fûn.."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"De ArtNet-ljochtkontrôletsjinst rint net, de tsjinstkonfiguraasje is net ynfolle."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"De ArtNet-ljochtkontrôletsjinst is stoppe."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Gjin geskikte ynterfaces beskikber"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Selektearje ARTNET-ynterface"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Inisjalisaasjeflater fan plugin, kin CLSID/GUID net konvertearje fan oantsjutte tekenrige."
	IDS_ERRORID_BRIDGE_NOT_INIT		"It inisjalisearjen fan plugins mislearre, gjin kompatibele plugins waarden fûn."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"It laden fan plugins is mislearre, pre-inisjalisearre {0}, 0 plugins laden."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Ynstekkers mei súkses inisjalisearre, pre-inisjalisaasje {0}, {1} ynstekkers laden."
	IDS_ERRORID_BRIDGE_OK_START		"Brêge mei súkses lansearre, {0} inisjalisearre, {1} laden, {2} plugins rinne."
	IDS_ERRORID_BRIDGE_NOT_START		"It starten fan de brêge is net slagge, flater by it starten fan plugins, {0} inisjalisearre, {1} plugins laden."
	IDS_ERRORID_BRIDGE_OK_STOP		"Brêge mei súkses stoppe, {0} inisjalisearre, {1} laden, {2} begûn, {3} plugins stoppe."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Mislearre om brêge te stopjen, flater by stopjen fan plugins, {0} inisjalisearre, {1} laden, {2} plugins rinne."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"De plugins binne al laden, asjebleaft weromsette foardat jo opnij starte."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"De brêge is al lansearre."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"De brêge stiet al stil."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"It iepenjen fan plugin-module is mislearre. De module mist of skansearre, de DLL waard net laden en nul weromjûn."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"De module is gjin MIDI-MT-plugin en de fereaske yngongspunten ûntbrekke."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Enabled={0}, ynstellings={1}, running={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Konfiguraasje bywurke: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Gjin modules fûn, opstarten ûnmooglik."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Bewurkje asjebleaft de konfiguraasje foardat jo begjinne."
	IDS_ERRORID_MIDIMT_CONFFILTER		"De konfiguraasjetriem"
	IDS_ERRORID_MIDIMT_EXEFILTER		"Útfierbere triemmen"
	IDS_ERRORID_MIDIMT_JSONFILTER		"MQTT konfiguraasje triemmen"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Konfiguraasje laden út triem: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Konfiguraasje laden fan bestjoerder"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"De selektearre {0}-taal sil aktyf wêze neidat it finster op 'e nij opstart is."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Ynstallearre ferzje fan firtuele MIDI-bestjoerder: {0}"
	IDS_ERRORID_REMOTE_START		"De tsjinst op ôfstân is begûn."
	IDS_ERRORID_REMOTE_STOP			"De tsjinst op ôfstânsbetsjinning is stoppe."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Nije klant {0}/{1} is ferbûn."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Client flater {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Klant {0}/{1} loskeppele, status: {2} - {3}."

	IDS_ERRORID_JOY_NODRIVER		"D'r is gjin joystick of gamepad-bestjoerder."
	IDS_ERRORID_JOY_INVALIDPARAM		"De oantsjutte joystick-ID is ûnjildich."
	IDS_ERRORID_JOY_NOCANDO			"De joystick-ynfier kin net skreaun wurde en de fereaske tsjinst is net beskikber."
	IDS_ERRORID_JOY_UNPLUGGED		"De oantsjutte joystick is net ferbûn mei it systeem."
	IDS_ERRORID_JOY_START			"De Gamepad/Joystick-kontrôletsjinst wurket, aktive apparaten: {0}, online: {1}."
	IDS_ERRORID_JOY_STOP			"De Gamepad/Joystick-kontrôletsjinst is stoppe."
	IDS_ERRORID_JOY_CHANGE_SCENE		"De kontrôlesêne is troch gamepad of joystick feroare yn {0}."
	IDS_ERRORID_JOY_CHANGE_CTRL		"De kontrôle {0}/{1} wurdt selektearre mei it gamepad of joystick."

	IDS_ERRORID_COPY_LINK			"Link kopiearre nei klamboerd."
	IDS_ERRORID_NET_IFACE_NONE		"Gjin netwurk ynterfaces"
	IDS_ERRORID_NET_IFACE_SELECT		"Selektearje netwurkynterface"
	IDS_ERRORID_TIMEOUT_EXPIRED		"Wachttiid is ferrûn, it wachtsjen is beëinige.."

	IDS_ERRORID_SCRIPT_ERROR		"Skriptútfierflater: {0}"
	IDS_ERRORID_SCRIPT_EMPTY		"It skript is leech!"
	IDS_ERRORID_SCRIPT_MODIFY		"Skript feroare: {0}"
	IDS_ERRORID_SCRIPT_LOADED		"Skripten laden: {0}"
	IDS_ERRORID_SCRIPT_NOTFOUND		"Gjin skripts fûn yn map {0}"
	IDS_ERRORID_SCRIPT_START		"De skriptmotor rint, beskikbere skripts: {0}."
	IDS_ERRORID_SCRIPT_STOP			"De skriptmotor is stoppe."
	IDS_ERRORID_SCRIPT_DIRFILTER		"Skriptbestannen"
	IDS_ERRORID_SCRIPT_CALL			"Skript útfiere: {0}"
	IDS_ERRORID_SCRIPT_RESCAN		"Ik lês de skriptkatalogus op 'e nij ..."
	IDS_ERRORID_SCRIPT_STOPALL		"Stoppe mei it útfieren fan skripts: {0}"

	IDS_ERRORID_FILEWATCH_OPEN		"It iepenjen fan map mislearre: {0}"
	IDS_ERRORID_FILEWATCH_PARAM		"De map mei de oantsjutte parameters kin net lêzen wurde, ik bin klear mei it kontrolearjen fan de map."
	IDS_ERRORID_FILEWATCH_SHUTDOWN		"ûnferwachte beëiniging fan triemtafelmonitoring"
	IDS_ERRORID_FILEWATCH_NOACCESS		"problemen mei tagong ta de map, mooglik ferkearde lêsbuffergrutte"

	IDS_ERRORID_NONE			"-"
END
