#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_FRISIAN, SUBLANG_FRISIAN_NETHERLANDS

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Lêste triemmen:"
	STR_RB_TABHOMEL			"Bewurkje"
	STR_RB_TABFILTERL		"Filters"
	STR_RB_PANEL_EDITMAINL		"MIDI kaai bewurkje"
	STR_RB_PANEL_EDITSETL		"MIDI-kaaigroep"
	STR_RB_PANEL_EDITOPTL		"bewurker opsjes"
	STR_RB_PANEL_FILTERL		"seleksje fan besjen filters"
	STR_RB_PANEL_SORTL		"sortearjen"
	STR_RB_MENUL			"&Menu"
	STR_RB_MENUT			"Applikaasje menu"
	STR_RB_PANEL_QATL		"&Snelle tagong"
	STR_RB_PANEL_QATT		"Fluch tagong arkbalke"
	STR_RB_DIALOG_SAVEL		"&Rêde"
	STR_RB_DIALOG_SAVET		"Bewarje en tapasse"
	STR_RB_DIALOG_SAVED		"Bewarje yn it earder ynladen bestân en bywurkje de aktuele konfiguraasje."
	STR_RB_DIALOG_EXPORTL		"&Eksportearje"
	STR_RB_DIALOG_EXPORTT		"Eksportearje nei in nij bestân"
	STR_RB_DIALOG_EXPORTD		"Eksportearje de bewurke konfiguraasje nei in nij bestân."
	STR_RB_DIALOG_IMPORTL		"&Ymport"
	STR_RB_DIALOG_IMPORTT		"Ymportearje fan triem"
	STR_RB_DIALOG_IMPORTD		"Ymportearje konfiguraasje út triem."
	STR_RB_DIALOG_EXITL		"&Útgong"
	STR_RB_DIALOG_EXITT		"Bewurker ôfslute"
	STR_RB_DIALOG_EXITD		"Ferlaat de MIDI Key Configuration Editor; as feroarings net bewarre wurde, sille se ferlern gean."
	STR_RB_LV_NEWL			"&Nije MIDI-kaai"
	STR_RB_LV_NEWT			"Nije MIDI-kaai"
	STR_RB_LV_NEWD			"It meitsjen fan in nije MIDI-kaai."
	STR_RB_LV_COPYL			"&Kopy"
	STR_RB_LV_COPYT			"Kopiearje MIDI-kaai"
	STR_RB_LV_COPYD			"Kopiearje de selektearre MIDI-kaaiynfier."
	STR_RB_LV_PASTEL		"&Ynfoegje"
	STR_RB_LV_PASTET		"Ynfoegje kaai"
	STR_RB_LV_PASTED		"Plak de kopiearre MIDI-kaai."
	STR_RB_LV_DELETEL		"&Wiskje"
	STR_RB_LV_DELETET		"Wiskje kaai"
	STR_RB_LV_DELETED		"Wiskje de selektearre MIDI-kaaiyngong."
	STR_RB_LV_SET_MQTTL		"Smart Hûs"
	STR_RB_LV_SET_MQTTT		"Stel de groep yn as “Smart Home”."
	STR_RB_LV_SET_MQTTD		"Tawize de selekteare MIDI-kaai oan 'e groep “Smart Home”."
	STR_RB_LV_SET_MMKEYL		"Multimedia knoppen"
	STR_RB_LV_SET_MMKEYT		"Stel de groep yn as “Multimediaknoppen”"
	STR_RB_LV_SET_MMKEYD		"Tawize de selekteare MIDI-kaai oan 'e groep “Multimediaknoppen”."
	STR_RB_LV_SET_MIXERL		"Audio mixer"
	STR_RB_LV_SET_MIXERT		"Stel groep yn as “Audio Mixer”"
	STR_RB_LV_SET_MIXERD		"Tawize de selekteare MIDI-kaai oan 'e groep “Audio Mixer”."
	STR_RB_LV_READ_MIDI_CODEL	"Lês MIDI-koade"
	STR_RB_LV_READ_MIDI_CODET	"Lês MIDI kontrôle koade"
	STR_RB_LV_READ_MIDI_CODED	"Lês MIDI-koade fan in kontrôleflak as MIDI-toetseboerd."
	STR_RB_LV_EDIT_MODEL		"Allinnich digitale ynfier"
	STR_RB_LV_EDIT_MODET		"Brûk allinich digitale ynfier"
	STR_RB_LV_EDIT_MODED		"Brûk it wearde seleksjemenu net, brûk allinich digitale ynfier."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI kontrôle paniel"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Oanrikkemandearre ynstellings"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Oanrikkemandearre MIDI-kontrôlepaniel-ynstellingen kompatibel mei Adobe Premiere Pro-kontrôles."
	STR_RB_LV_FILTER_EMBEDL		"Ynboude filters"
	STR_RB_LV_FILTER_KEYL		"Kaai"
	STR_RB_LV_FILTER_KEYT		"Filter troch MIDI-kaai"
	STR_RB_LV_FILTER_KEYD		"Lit allinich wedstriden sjen binnen in MIDI-kaaigroep."
	STR_RB_LV_FILTER_SCENEL		"Scene"
	STR_RB_LV_FILTER_SCENET		"Filter op MIDI-sêne"
	STR_RB_LV_FILTER_SCENED		"Lit allinich wedstriden sjen yn 'e MIDI-sênegroep."
	STR_RB_LV_FILTER_TARGETL	"Doel 1"
	STR_RB_LV_FILTER_TARGETT	"Filter op bestimming 1"
	STR_RB_LV_FILTER_TARGETD	"Lit allinich wedstriden sjen yn 'e doelgroep 1."
	STR_RB_LV_FILTER_TARGETLONGL	"Doel 2"
	STR_RB_LV_FILTER_TARGETLONGT	"Filterje op bestimming 2"
	STR_RB_LV_FILTER_TARGETLONGD	"Lit allinich wedstriden sjen yn 'e doelgroep 2."
	STR_RB_LV_FILTER_CLEARL		"Filters wiskje"
	STR_RB_LV_FILTER_CLEART		"Cleaning filters"
	STR_RB_LV_FILTER_CLEARD		"Folslein dúdlike filters, alle yngongen wurde toand."
	STR_RB_LV_FILTER_SETL		"Filter ynstelle"
	STR_RB_LV_FILTER_SETT		"Filter ynstallaasje"
	STR_RB_LV_FILTER_SETD		"It ynstellen fan it filter lit alle ûnjildige items sjen."
	STR_RB_LV_FILTER_ONL		"Filter tapasse"
	STR_RB_LV_FILTER_ONT		"It tapassen fan in filter"
	STR_RB_LV_FILTER_OND		"It tapassen fan in filter lit de selektearre items sjen."
	STR_RB_LV_FILTER_OFFL		"Filter ôfbrekke"
	STR_RB_LV_FILTER_OFFT		"Filter ôfbrekke"
	STR_RB_LV_FILTER_OFFD		"It annulearjen fan it filter sil alle items sjen litte."
	STR_RB_LV_FILTER_MMKEYL		"“Multimediaknoppen” sjen litte"
	STR_RB_LV_FILTER_MMKEYT		"Filterje op groep “Multimediaknoppen”."
	STR_RB_LV_FILTER_MMKEYD		"It tapassen fan in filter sil de leden fan 'e groep Multimediaknoppen sjen litte."
	STR_RB_LV_FILTER_MIXERL		"Toan “Audio Mixer”"
	STR_RB_LV_FILTER_MIXERT		"Filter op groep “Audio Mixer”."
	STR_RB_LV_FILTER_MIXERD		"It tapassen fan in filter sil de leden fan 'e Audio Mixer-groep sjen litte."
	STR_RB_LV_FILTER_MQTTL		"Toan “Smart Home”"
	STR_RB_LV_FILTER_MQTTT		"Filterje op groep “Smart Home”."
	STR_RB_LV_FILTER_MQTTD		"It tapassen fan in filter sil de leden fan 'e Smart Home-groep sjen litte."
	STR_RB_LV_FILTER_LIGHT8L	"Lit “Lighting 8 bit” sjen"
	STR_RB_LV_FILTER_LIGHT8T	"Filter op groep “Lighting 8 bit”"
	STR_RB_LV_FILTER_LIGHT8D	"It tapassen fan it filter sil de leden fan 'e Lighting-groep sjen litte mei 8-bit kanalen."
	STR_RB_LV_FILTER_LIGHT16L	"Toan “16 bit ferljochting”"
	STR_RB_LV_FILTER_LIGHT16T	"Filter op groep “16-bit ferljochting”."
	STR_RB_LV_FILTER_LIGHT16D	"It tapassen fan it filter sil de leden fan 'e Lighting-groep sjen litte mei 16-bit kanalen."
	STR_RB_LV_FILTER_SCRIPTL	"“Skript” sjen litte"
	STR_RB_LV_FILTER_SCRIPTT	"Filterje op “Skript” groep ChaiScript"
	STR_RB_LV_FILTER_SCRIPTD	"It tapassen fan in filter sil de leden fan 'e Skriptgroep sjen litte."
	STR_RB_LV_FILTER_TYPEBTNL	"Filtertype"
	STR_RB_LV_FILTER_TYPEBTNT	"It ynstellen fan it type filters om oan te passen"
	STR_RB_LV_FILTER_TYPEBTND	"De brûkte filters hawwe twa logyske steaten: “EN”, “OF”."
	STR_RB_LV_FILTER_TYPEGRPL	"Selektearje in filtertype"
	STR_RB_LV_FILTER_TYPEORL	"Lit alle wedstriden sjen"
	STR_RB_LV_FILTER_TYPEORT	"Lit ynstjoerings sjen mei elke wedstriid"
	STR_RB_LV_FILTER_TYPEORD       	"It filter hat in logyske EN steat en toant alle wedstriden."
	STR_RB_LV_FILTER_TYPEANDL	"Lit allinich folsleine wedstriden sjen"
	STR_RB_LV_FILTER_TYPEANDT	"Lit records sjen mei allinich krekte oerienkomsten"
	STR_RB_LV_FILTER_TYPEANDD	"It filter hat in logyske OR-status en lit allinich folsleine wedstriden sjen."
	STR_RB_LV_FILTER_AUTOCOMMITL	"Automatysk ferstjoeren fan gegevens yn it filter"
	STR_RB_LV_FILTER_AUTOCOMMITT	"Automatysk ferstjoeren fan ynfierde wearden yn it filter"
	STR_RB_LV_FILTER_AUTOCOMMITD	"Stelt automatysk ynfierwearden yn yn in ynboude filter."
	STR_RB_LV_EXT_MODEL		"Sortearje sjen litte"
	STR_RB_LV_SORTUP_KEYL		"by kaai"
	STR_RB_LV_SORTUP_KEYT		"Sortearje op opkommende en MIDI-kaai."
	STR_RB_LV_SORTUP_SCENEL		"om it poadium hinne"
	STR_RB_LV_SORTUP_SCENET		"Sortearje op opkommende en MIDI-sêne."
	STR_RB_LV_SORTUP_TARGETL	"op ôfspraak 1"
	STR_RB_LV_SORTUP_TARGETT	"Sortearje op oprinnend en MIDI-bestimming 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"op ôfspraak 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Sortearje op opkommende en MIDI-bestimming 2."
	STR_RB_LV_SORTDOWN_KEYT		"Sortearje op ôfnimmend en MIDI-kaai."
	STR_RB_LV_SORTDOWN_SCENET	"Sortearje op ôfnimmende folchoarder en MIDI-sêne."
	STR_RB_LV_SORTDOWN_TARGETT	"Sortearje op ôfnimmende folchoarder en MIDI-bestimming 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Sortearje op ôfnimmende folchoarder en MIDI-bestimming 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Eksportearje nei MQTT"
	STR_RB_DIALOG_EXPORTMQTTT	"Eksportearje MQTT konfiguraasje"
	STR_RB_DIALOG_EXPORTMQTTD	"Eksportearje DMX512 / ARTNET konfiguraasje nei in nij bestân."
	STR_RB_PANEL_EDITUTILL		"Tools"
	STR_RB_LV_SET_BUTTONL		"MIDI-kaai tawize"
	STR_RB_LV_SET_BUTTONT		"Tawize selektearre MIDI-kaai"
	STR_RB_LV_SET_BUTTOND		"Definiearje de selektearre MIDI-kaai as lid fan 'e groep."
	STR_RB_LV_SET_LIGHT8L		"Ferljochting 8 bit"
	STR_RB_LV_SET_LIGHT8T		"Stel groep yn as “Lighting 8 bit”"
	STR_RB_LV_SET_LIGHT8D		"Tawize de selekteare MIDI-kaai oan 'e groep “Lighting 8 Bit”."
	STR_RB_LV_SET_LIGHT16L		"Ferljochting 16 bit"
	STR_RB_LV_SET_LIGHT16T		"Stel groep yn as “Lighting 16 bit”"
	STR_RB_LV_SET_LIGHT16D		"Tawize de selekteare MIDI-kaai oan 'e groep “Lighting 16-bit”."
	STR_RB_LV_SET_SCRIPTL		"Senario's"
	STR_RB_LV_SET_SCRIPTT		"Stel groep yn as “Skript”"
	STR_RB_LV_SET_SCRIPTD		"Tawize de selektearre MIDI-kaai oan 'e groep “Skripten”."
	STR_RB_DIALOG_SHOWDUPL		"Duplikaten sjen litte"
	STR_RB_DIALOG_SHOWDUPT		"Fyn dûbele MIDI-kaaien"
	STR_RB_DIALOG_SHOWDUPD		"Sykje nei dûbele MIDI-kaaien; as se oanwêzich binne, kin ûnferwacht gedrach foarkomme."

	STR_RB_DIALOG_DELDUPL		"Fuortsmite duplikaten"
	STR_RB_DIALOG_DELDUPT		"Ferwiderje mooglike dûbele MIDI-kaaien"
	STR_RB_DIALOG_DELDUPD		"It finen en ferwiderjen fan dûbele MIDI-kaaien, as d'r duplikaten binne, gedrage miskien net as ferwachte."
END
