#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_BOSNIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT prevodilac"
    STRING_MIXER	"&Mikser"
    STRING_SETTINGS	"&Postavke"
    STRING_START	"Počni"
    STRING_STOP		"Stani"
    STRING_EXIT		"Izlaz"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Konfiguracija učitana iz drajvera"
    STRING_EDIT_MSG2	"Konfiguracija učitana iz datoteke"
    STRING_EDIT_MSG3	"Konfiguracija je iznova kreirana i potrebno je popuniti"
    STRING_EDIT_MSG4	"Prilikom otvaranja uređivača naveden je konfiguracijski fajl: '{0}'. Sačuvati ga pod istim imenom?"
    STRING_EDIT_MSG5	"Broj DMX kanala"
    STRING_EDIT_MSG6	"MQTT konfiguracija je uspješno izvezena"
    STRING_EDIT_MSG7	"Greška pri izvozu MQTT konfiguracije"
    STRING_EDIT_MSG8	"Nisu pronađeni duplikati MIDI ključeva"
    STRING_EDIT_MSG9	"Pronađen je {0} duplikat MIDI ključeva"

    STRING_NOTIFY_MSG1	"prevodilac je zaustavljen:"
    STRING_NOTIFY_MSG2	"prevodilac radi:"

    STRING_AMIX_MSG1	"Audio mikser ne radi, provjerite postavke, pokretanje audio panela mora biti omogućeno."
    STRING_AMIX_MSG2	"MIDIMT - Audio mikser ne radi:"
    STRING_AMIX_MSG3	"Nevažeći ID događaja. Ponovo pokrenite ovu aplikaciju."
    STRING_AMIX_MSG4	"MIDIMT - Nije moguće završiti operaciju:"
    STRING_AMIX_MSG5	"Prebacivanje na UI nit nije uspjelo, pokretanje audio panela je prekinuto."

    STRING_MAIN_MSG1	"Greška pri inicijalizaciji aplikacije, nastavak nije moguć."
    STRING_MAIN_MSG2	"Provjerite korisničke dozvole za pisanje datoteka u direktorij aplikacije. Ako greška i dalje postoji, pokušajte da onemogućite evidentiranje."
    STRING_MAIN_MSG3	"Automatsko pokretanje je onemogućeno u općoj konfiguraciji."
    STRING_MAIN_MSG4	"Odabrana konfiguracija ne podržava automatsko pokretanje."

    STRING_LOGV_MSG1	"Molimo, prije pokretanja monitora, pokrenite prevodilac iz menija odabirom 'Start'."
    STRING_LOGV_MSG2	"Sve postavke '{0}', verzija konfiguracijskog fajla: {1}"
    STRING_LOGV_MSG3	"MIDI postavke"
    STRING_LOGV_MSG4	"Postavke pametnog doma (MQTT)"
    STRING_LOGV_MSG5	"Postavke multimedijalne tastature (MMKEYS)"
    STRING_LOGV_MSG6	"Postavke kontrole rasvjete ({0})"
    STRING_LOGV_MSG7	"Postavke daljinskog kontrolnog panela (REMOTE)"
    STRING_LOGV_MSG8	"Postavke kontrole gamepada/džojstika (GAMEPAD)"
    STRING_LOGV_MSG9	"MIDI tipka pritisnuta:"
    STRING_LOGV_MSG10	"Broj oznake:"

    STRING_CHKR_MSG1	"Prilikom pokretanja, konfiguracijski fajl je specificiran: '{0}'. Postaviti ga kao konfiguraciju za naredna izvođenja?"
    STRING_CHKR_MSG2	"MIDI-MT konfiguracija"

    STRING_TMENU_MSG1	"Morate instalirati Virtual MIDI drajver!"

    STRING_LANG_STATUS	"status:"
    STRING_LANG_YES	"Da"
    STRING_LANG_NO	"br"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "jačina zvuka (glavna)"
	IDM_COL4_MAP  "balans zvuka (osnovni)"
	IDM_COL4_MAM  "utišati (glavni)"
	IDM_COL4_MAS  "audio solo (glavni)"
	IDM_COL4_JOG  "JOG (premotavanje video okvira)"
	IDM_COL4_AV1  "jačina zvuka (kanal 1)"
	IDM_COL4_AV2  "jačina zvuka (kanal 2)"
	IDM_COL4_AV3  "jačina zvuka (kanal 3)"
	IDM_COL4_AV4  "jačina zvuka (kanal 4)"
	IDM_COL4_AV5  "jačina zvuka (kanal 5)"
	IDM_COL4_AV6  "jačina zvuka (kanal 6)"
	IDM_COL4_AV7  "jačina zvuka (kanal 7)"
	IDM_COL4_AV8  "jačina zvuka (kanal 8)"
	IDM_COL4_XV9  "jačina zvuka (kanal 9)"
	IDM_COL4_AP1  "balans zvuka (kanal 1)"
	IDM_COL4_AP2  "balans zvuka (kanal 2)"
	IDM_COL4_AP3  "balans zvuka (kanal 3)"
	IDM_COL4_AP4  "balans zvuka (kanal 4)"
	IDM_COL4_AP5  "balans zvuka (kanal 5)"
	IDM_COL4_AP6  "balans zvuka (kanal 6)"
	IDM_COL4_AP7  "balans zvuka (kanal 7)"
	IDM_COL4_AP8  "balans zvuka (kanal 8)"
	IDM_COL4_XP9  "balans zvuka (kanal 9)"
	IDM_COL4_B11  "audio solo (kanal 1)"
	IDM_COL4_B12  "audio solo (kanal 2)"
	IDM_COL4_B13  "audio solo (kanal 3)"
	IDM_COL4_B14  "audio solo (kanal 4)"
	IDM_COL4_B15  "audio solo (kanal 5)"
	IDM_COL4_B16  "audio solo (kanal 6)"
	IDM_COL4_B17  "audio solo (kanal 7)"
	IDM_COL4_B18  "audio solo (kanal 8)"
	IDM_COL4_B19  "audio solo (kanal 9)"
	IDM_COL4_B21  "isključi zvuk (kanal 1)"
	IDM_COL4_B22  "isključi zvuk (kanal 2)"
	IDM_COL4_B23  "isključi zvuk (kanal 3)"
	IDM_COL4_B24  "isključi zvuk (kanal 4)"
	IDM_COL4_B25  "isključi zvuk (kanal 5)"
	IDM_COL4_B26  "isključi zvuk (kanal 6)"
	IDM_COL4_B27  "isključi zvuk (kanal 7)"
	IDM_COL4_B28  "isključi zvuk (kanal 8)"
	IDM_COL4_B29  "isključi zvuk (kanal 9)"
	IDM_COL4_B31  "izbor zvuka (kanal 1)"
	IDM_COL4_B32  "izbor zvuka (kanal 2)"
	IDM_COL4_B33  "izbor zvuka (kanal 3)"
	IDM_COL4_B34  "izbor zvuka (kanal 4)"
	IDM_COL4_B35  "izbor zvuka (kanal 5)"
	IDM_COL4_B36  "izbor zvuka (kanal 6)"
	IDM_COL4_B37  "izbor zvuka (kanal 7)"
	IDM_COL4_B38  "izbor zvuka (kanal 8)"
	IDM_COL4_B39  "izbor zvuka (kanal 9)"
	IDM_COL4_FUN11  "funkcija F1 (standardni način rada)"
	IDM_COL4_FUN12  "funkcija F2 (standardni način rada)"
	IDM_COL4_FUN13  "funkcija F3 (standardni način rada)"
	IDM_COL4_FUN14  "funkcija F4 (standardni način rada)"
	IDM_COL4_FUN15  "funkcija F5 (standardni način rada)"
	IDM_COL4_FUN16  "funkcija F6 (standardni način rada)"
	IDM_COL4_FUN17  "funkcija F7 (standardni način rada)"
	IDM_COL4_FUN18  "funkcija F8 (standardni način rada)"
	IDM_COL4_FUN21  "funkcija F1 (na čekanju)"
	IDM_COL4_FUN22  "funkcija F2 (na čekanju)"
	IDM_COL4_FUN23  "funkcija F3 (na čekanju)"
	IDM_COL4_FUN24  "funkcija F4 (na čekanju)"
	IDM_COL4_FUN25  "funkcija F5 (na čekanju)"
	IDM_COL4_FUN26  "funkcija F6 (na čekanju)"
	IDM_COL4_FUN27  "funkcija F7 (na čekanju)"
	IDM_COL4_FUN28  "funkcija F8 (na čekanju)"
	IDM_COL4_SYS_Rewind  "Premotavanje (player)"
	IDM_COL4_SYS_Forward  "Brzo naprijed (igrač)"
	IDM_COL4_SYS_Stop  "Zaustavi (igrač)"
	IDM_COL4_SYS_Play  "Igraj (igrač)"
	IDM_COL4_SYS_Record  "Snimanje (plejer)"
	IDM_COL4_SYS_Up    "gore (džojstik)"
	IDM_COL4_SYS_Down  "dolje (džojstik)"
	IDM_COL4_SYS_Left  "Lijevo (džojstik)"
	IDM_COL4_SYS_Right  "desno (džojstik)"
	IDM_COL4_SYS_Zoom  "Povećati"
	IDM_COL4_SYS_Scrub  "Scrub"
	IDM_COL4_VOLUMEMIX "Kontrola miksera"
	IDM_COL4_MEDIAKEY "Multimedijalni tasteri"
        IDM_COL4_MQTTKEY  "Upravljanje pametnim domom"
        IDM_COL4_LIGHTKEY8B "Kontrola rasvjete (8 bita)"
        IDM_COL4_LIGHTKEY16B "Kontrola rasvjete (16 bit)"
	IDM_COL4_VMSCRIPT "Upravljanje skriptama"
	IDM_COL4_NONE  "radnja nije definisana"
	IDM_COL5_MQTT_AV1		"nivo 1"
	IDM_COL5_MQTT_AV2		"nivo 2"
	IDM_COL5_MQTT_AV3		"nivo 3"
	IDM_COL5_MQTT_AV4		"nivo 4"
	IDM_COL5_MQTT_AV5		"nivo 5"
	IDM_COL5_MQTT_AV6		"nivo 6"
	IDM_COL5_MQTT_AV7		"nivo 7"
	IDM_COL5_MQTT_AV8		"nivo 8"
	IDM_COL5_MQTT_XV9		"nivo 9"
	IDM_COL5_MQTT_AP1		"nivo 10"
	IDM_COL5_MQTT_AP2		"nivo 11"
	IDM_COL5_MQTT_AP3		"nivo 12"
	IDM_COL5_MQTT_AP4		"nivo 13"
	IDM_COL5_MQTT_AP5		"nivo 14"
	IDM_COL5_MQTT_AP6		"nivo 15"
	IDM_COL5_MQTT_AP7		"nivo 16"
	IDM_COL5_MQTT_AP8		"nivo 17"
	IDM_COL5_MQTT_XP9		"nivo 18"
	IDM_COL5_MQTT_B11		"uključivanje/isključivanje 1"
	IDM_COL5_MQTT_B12		"uključivanje/isključivanje 2"
	IDM_COL5_MQTT_B13		"uključivanje/isključivanje 3"
	IDM_COL5_MQTT_B14		"uključivanje/isključivanje 4"
	IDM_COL5_MQTT_B15		"uključivanje/isključivanje 5"
	IDM_COL5_MQTT_B16		"uključivanje/isključivanje 6"
	IDM_COL5_MQTT_B17		"uključivanje/isključivanje 7"
	IDM_COL5_MQTT_B18		"uključivanje/isključivanje 8"
	IDM_COL5_MQTT_B19		"uključivanje/isključivanje 9"
	IDM_COL5_MQTT_B21		"uključeno/isključeno 10"
	IDM_COL5_MQTT_B22		"uključivanje/isključivanje 11"
	IDM_COL5_MQTT_B23		"uključen/isključen 12"
	IDM_COL5_MQTT_B24		"uključivanje/isključivanje 13"
	IDM_COL5_MQTT_B25		"uključen/isključen 14"
	IDM_COL5_MQTT_B26		"uključeno/isključeno 15"
	IDM_COL5_MQTT_B27		"uključeno/isključeno 16"
	IDM_COL5_MQTT_B28		"uključeno/isključeno 17"
	IDM_COL5_MQTT_B29		"uključeno/isključeno 18"
	IDM_COL5_MQTT_B31		"uključeno/isključeno 19"
	IDM_COL5_MQTT_B32		"uključen/isključen 20"
	IDM_COL5_MQTT_B33		"uključeno/isključeno 21"
	IDM_COL5_MQTT_B34		"uključeno/isključeno 22"
	IDM_COL5_MQTT_B35		"uključeno/isključeno 23"
	IDM_COL5_MQTT_B36		"uključeno/isključeno 24"
	IDM_COL5_MQTT_B37		"uključeno/isključeno 25"
	IDM_COL5_MQTT_B38		"uključen/isključen 26"
	IDM_COL5_MQTT_B39		"uključeno/isključeno 27"
	IDM_COL5_MQTT_EMPTY		"Nije dodijeljeno"
	IDM_COL5_SCRIPT_B11		"skripta 1"
	IDM_COL5_SCRIPT_B12		"skripta 2"
	IDM_COL5_SCRIPT_B13		"skripta 3"
	IDM_COL5_SCRIPT_B14		"skripta 4"
	IDM_COL5_SCRIPT_B15		"skripta 5"
	IDM_COL5_SCRIPT_B16		"skripta 6"
	IDM_COL5_SCRIPT_B17		"skripta 7"
	IDM_COL5_SCRIPT_B18		"skripta 8"
	IDM_COL5_SCRIPT_B19		"skripta 9"
	IDM_COL5_SCRIPT_B21		"skripta 10"
	IDM_COL5_SCRIPT_B22		"skripta 11"
	IDM_COL5_SCRIPT_B23		"skripta 12"
	IDM_COL5_SCRIPT_B24		"skripta 13"
	IDM_COL5_SCRIPT_B25		"skripta 14"
	IDM_COL5_SCRIPT_B26		"skripta 15"
	IDM_COL5_SCRIPT_B27		"skripta 16"
	IDM_COL5_SCRIPT_B28		"skripta 17"
	IDM_COL5_SCRIPT_B29		"skripta 18"
	IDM_COL5_SCRIPT_B31		"skripta 19"
	IDM_COL5_SCRIPT_B32		"skripta 20"
	IDM_COL5_SCRIPT_B33		"skripta 21"
	IDM_COL5_SCRIPT_B34		"skripta 22"
	IDM_COL5_SCRIPT_B35		"skripta 23"
	IDM_COL5_SCRIPT_B36		"skripta 24"
	IDM_COL5_SCRIPT_B37		"skripta 25"
	IDM_COL5_SCRIPT_B38		"skripta 26"
	IDM_COL5_SCRIPT_B39		"skripta 27"
	IDM_COL5_SCRIPT_STOP		"Zaustavite sve skripte"
	IDM_COL5_SCRIPT_RELOAD		"Ponovo pročitajte direktorij skripte"
	IDM_COL5_SCRIPT_EMPTY		"Nije dodijeljeno"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"uredu"
	IDS_ERRORID_EMPTY			"[Konfiguracija je prazna..]"
	IDS_ERRORID_UNDEFINED			"Ova greška je nedefinirana"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Pristup za pisanje u konfiguracijski fajl je odbijen, '{0}'"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Nedostaje konfiguracijski fajl ili pristup odbijen, '{0}'"
	IDS_ERRORID_JSONCONF_EMPTY		"Konfiguracijski fajl je prazan, '{0}'"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"Naziv MIDI uređaja nije konfigurisan."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"U ovoj konfiguraciji nisu konfigurirani MIDI ključevi."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Pažnja, ova konfiguracija nema konfigurirane MIDI tipke! snimljena konfiguracija neće raditi."
	IDS_ERRORID_INIT_COINITIALIZE		"Ko*inicijalizacija nije uspjela."
	IDS_ERRORID_INIT_COCREATE		"Co*Create - nije uspjelo kreiranje instance."
	IDS_ERRORID_INIT_DEFAULT_AE		"Nije uspjelo preuzimanje zadanog audio uređaja."
	IDS_ERRORID_INIT_AS_MANAGER2		"Audio Session Manager se srušio."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Audio peak meter nije dostupan."
	IDS_ERRORID_MIXER_STARTOK		"Mikser audio sesije je pokrenut, u vrijeme pokretanja postoji {0} pokrenutih programa dostupnih za regulaciju."
	IDS_ERRORID_MIXER_STARTERROR		"Nije moguće pokrenuti mikser audio sesije, detalji o grešci bi trebali biti u datoteci evidencije."
	IDS_ERRORID_MIXER_STOPOK		"Mikser audio sesije je zaustavljen."
	IDS_ERRORID_MIXER_STOPERROR		"Mikser audio sesije nije ispravno zaustavljen, detalji o grešci bi trebali biti u datoteci evidencije."
	IDS_ERRORID_NO_INIT			"Inicijalizirajte prije pozivanja ovog.."
	IDS_ERRORID_SESSION_LIST		"Nije uspjelo preuzimanje liste audio sesija."
	IDS_ERRORID_LISTISNULL			"Lista audio sesija je prazna!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Onemogućavanje audio sesije, razlog='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Audio sesija kreirana, name='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Audio sesija '{0}' - loše stanje registracije '{1}': {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"Vrijednost koja se postavlja iz povratnog poziva je nevažeći selektor."
	IDS_ERRORID_SET_CB_WARNING		"Postavljanje povratnog poziva moguće je samo nakon što je MIDI most uspješno pokrenut."
	IDS_ERRORID_CONFIG_FAIL			"Učitavanje konfiguracije nije uspjelo, datoteka nije pronađena, pokretanje nemoguće."
	IDS_ERRORID_CONFIG_LOAD			"Konfiguracija je učitana.."
	IDS_ERRORID_CONFIG_LOADA		"Konfiguracija je već učitana.."
	IDS_ERRORID_CONFIG_EMPTY		"Konfiguracija je prazna.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"Konfiguracija za modul {0} je prazna.."
	IDS_ERRORID_CONFIG_NEW			"Otkrivena je nova verzija konfiguracije.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Nepodržana implementacija u kodu, metoda nije poništena: {0}"
	IDS_ERRORID_NOT_CONFIG			"Ime konfiguracije nije navedeno i ne može se nastaviti."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Uređaji nisu povezani i ne mogu nastaviti."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Pažnja, broj uređaja na konačnoj listi se ne podudara, sistem/lista = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Nije moguće otvoriti MIDI uređaj, ne može se nastaviti, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Nije moguće pokrenuti MIDI uređaj, ne može nastaviti, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Uređaj nije povezan, prekid, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Pronađen uređaj {0}, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Uređaj {0} otvoren, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Uređaj {0} zatvoren (sistem)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Uređaj {0} spreman (sistem)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Naziv aktivnog uređaja nije naveden, nastavak je nemoguć, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Proxy portovi nisu navedeni u konfiguraciji, MIDI proxy je onemogućen."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Verzija drajvera [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Problem sa verzijom drajvera [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Uređaj {0} poslao je nevažeću vrijednost = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"Virtuelni MIDI drajver nije instaliran. Morate instalirati loopMidi paket ili preuzeti kompletan instalater i ponovo instalirati MIDI-MT. Više detalja: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Instalirani Virtual MIDI drajver nije pronađen! Morate instalirati MIDI paket Virtual Loop da biste pokrenuli MIDI-MT translator."
	IDS_ERRORID_MIDI_PROXY_PORTS		"Nakon pokretanja, {0} proxy MIDI portovi će biti kreirani."
	IDS_ERRORID_MIDI_PROXY_OFF		"Proxy MIDI portovi su onemogućeni."
	IDS_ERRORID_MIDI_OUT_PORTS		"Nakon pokretanja, kreirat će se {0} MIDI izlazni portovi."
	IDS_ERRORID_MIDI_OUT_OFF		"MIDI izlazni portovi su onemogućeni."
	IDS_ERRORID_MMKEY_START			"Usluga upravljanja medijskim ključevima je pokrenuta."
	IDS_ERRORID_MMKEY_STOP			"Usluga upravljanja medijskim ključevima je zaustavljena."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"MQTT konfiguracija je prazna i ne može se nastaviti."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Greška pri kreiranju MQTT klijenta, otkazivanje."
	IDS_ERRORID_MQTT_CLIENT_OK		"MMQTT klijent je uspješno kreiran, nastavite..."
	IDS_ERRORID_MQTT_CONNECTED		"Povezano na MQTT server:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Povezivanje na MQTT server nije uspjelo:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Prekinuta sa MQTT serverom:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"Datoteka CA certifikata ne postoji, putanja = '{0}'"
	IDS_ERRORID_MQTT_START			"Pokrenuta je usluga upravljanja pametnim domom."
	IDS_ERRORID_MQTT_STOP			"Usluga upravljanja Smart Home je zaustavljena."
	IDS_ERRORID_MQTT_CA_FILTER		"CA certifikat"
	IDS_ERRORID_LOG_LEVEL_NONE		"ne vodi se dnevnik"
	IDS_ERRORID_LOG_LEVEL_INFO		"informacije"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"obavještenja"
	IDS_ERRORID_LOG_LEVEL_WARNING		"upozorenja"
	IDS_ERRORID_LOG_LEVEL_ERR		"samo greške"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"sve poruke"
	IDS_ERRORID_PANEL_INDEX			"Panel miksera zvuka - Nije moguće nastaviti, stavke indeksa su netačne."
	IDS_ERRORID_PANEL_INIT			"Panel miksera zvuka - ne može se nastaviti, greška pri inicijalizaciji."
	IDS_ERRORID_PANEL_ENABLE		"Prozor panela audio miksera nema ispravan status i sljedeća operacija se ne može nastaviti."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Panel miksera zvuka se ne poziva na UI niti i promjene se ne mogu napraviti."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Panel miksera zvuka je otkrio nevažeći element i kreiranje prozora panela je prekinuto."
	IDS_ERRORID_LIGHT_DMX_START		"DMX usluga kontrole rasvjete se pokreće pomoću COM{0} - {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"Usluga DMX kontrole rasvjete ne radi, COM{0} uređaj nije povezan."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"Usluga DMX kontrole rasvjete ne radi i konfiguracija usluge nije popunjena."
	IDS_ERRORID_LIGHT_DMX_STOP		"DMX usluga kontrole rasvjete je zaustavljena."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Nema dostupnih odgovarajućih uređaja"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Odaberite DMX uređaj"
	IDS_ERRORID_LIGHT_ARTNET_START		"ArtNet Lighting Control Service radi koristeći adresu emitovanja {0}:{1} na mreži {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"ArtNet usluga kontrole rasvjete nije pokrenuta, mreža {0} nije pronađena.."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"ArtNet usluga upravljanja rasvjetom ne radi, konfiguracija usluge nije popunjena."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"ArtNet usluga upravljanja rasvjetom je zaustavljena."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Nema dostupnih odgovarajućih interfejsa"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Odaberite ARTNET interfejs"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Greška inicijalizacije dodatka, nije moguće pretvoriti CLSID/GUID iz navedenog niza."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Inicijalizacija dodataka nije uspjela, nisu pronađeni kompatibilni dodaci."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Učitavanje dodataka nije uspjelo, preinicijaliziran {0}, učitano 0 dodataka."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Dodaci su uspješno inicijalizirani, predinicijalizacija {0}, {1} dodaci učitani."
	IDS_ERRORID_BRIDGE_OK_START		"Bridge je uspješno pokrenut, {0} inicijaliziran, {1} učitan, {2} dodaci su pokrenuti."
	IDS_ERRORID_BRIDGE_NOT_START		"Pokretanje mosta nije uspjelo, greška pri pokretanju dodataka, {0} inicijalizirano, {1} dodataka učitano."
	IDS_ERRORID_BRIDGE_OK_STOP		"Bridge je uspješno zaustavljen, {0} inicijaliziran, {1} učitan, {2} pokrenut, {3} dodaci zaustavljeni."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Neuspješno zaustavljanje bridge-a, greška pri zaustavljanju dodataka, {0} inicijalizirano, {1} učitano, {2} dodaci rade."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Dodaci su već učitani, resetirajte prije ponovnog pokretanja."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"Most je već pokrenut."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"Most je već stao."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Otvaranje modula dodatka nije uspjelo. Modul nedostaje ili je oštećen, DLL nije učitan i vraćen je null."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"Modul nije MIDI-MT dodatak i nedostaju potrebne ulazne tačke."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Omogućeno={0}, postavke={1}, trčanje={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Konfiguracija ažurirana: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Moduli nisu pronađeni, pokretanje nemoguće."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Molimo uredite konfiguraciju prije početka."
	IDS_ERRORID_MIDIMT_CONFFILTER		"Konfiguracijski fajl"
	IDS_ERRORID_MIDIMT_EXEFILTER		"Izvršne datoteke"
	IDS_ERRORID_MIDIMT_JSONFILTER		"MQTT konfiguracijske datoteke"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Konfiguracija učitana iz fajla: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Konfiguracija učitana iz drajvera"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"Odabrani jezik {0} bit će aktivan nakon ponovnog pokretanja prozora."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Instalirana verzija virtuelnog MIDI drajvera: {0}"
	IDS_ERRORID_REMOTE_START		"Usluga daljinskog upravljanja je počela."
	IDS_ERRORID_REMOTE_STOP			"Usluga daljinskog upravljanja je zaustavljena."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Novi klijent {0}/{1} je povezan."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Greška klijenta {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Klijent {0}/{1} prekinut, status: {2} - {3}."

	IDS_ERRORID_JOY_NODRIVER		"Ne postoji drajver za džojstik ili gamepad."
	IDS_ERRORID_JOY_INVALIDPARAM		"Navedeni ID džojstika je nevažeći."
	IDS_ERRORID_JOY_NOCANDO			"Unos džojstika se ne može upisati i tražena usluga nije dostupna."
	IDS_ERRORID_JOY_UNPLUGGED		"Navedeni džojstik nije povezan sa sistemom."
	IDS_ERRORID_JOY_START			"Usluga kontrole gejmpada/džojstika je pokrenuta, aktivni uređaji: {0}, online: {1}."
	IDS_ERRORID_JOY_STOP			"Usluga kontrole gejmpada/džojstika je zaustavljena."
	IDS_ERRORID_JOY_CHANGE_SCENE		"Kontrolna scena je promijenjena pomoću gamepada ili džojstika u {0}."
	IDS_ERRORID_JOY_CHANGE_CTRL		"Kontrola {0}/{1} se odabire pomoću gamepada ili džojstika."

	IDS_ERRORID_COPY_LINK			"Link je kopiran u međuspremnik."
	IDS_ERRORID_NET_IFACE_NONE		"Nema mrežnih interfejsa"
	IDS_ERRORID_NET_IFACE_SELECT		"Odaberite mrežni interfejs"
	IDS_ERRORID_TIMEOUT_EXPIRED		"Isteklo je vrijeme čekanja, čekanje je prekinuto.."

	IDS_ERRORID_SCRIPT_ERROR		"Greška u izvršavanju skripte: {0}"
	IDS_ERRORID_SCRIPT_EMPTY		"Skripta je prazna!"
	IDS_ERRORID_SCRIPT_MODIFY		"Skripta promijenjena: {0}"
	IDS_ERRORID_SCRIPT_LOADED		"Učitane skripte: {0}"
	IDS_ERRORID_SCRIPT_NOTFOUND		"Nijedna skripta nije pronađena u direktoriju {0}"
	IDS_ERRORID_SCRIPT_START		"Skripta je pokrenuta, dostupne skripte: {0}."
	IDS_ERRORID_SCRIPT_STOP			"Motor za skriptiranje je zaustavljen."
	IDS_ERRORID_SCRIPT_DIRFILTER		"Fajlovi skripti"
	IDS_ERRORID_SCRIPT_CALL			"Pokreni skriptu: {0}"
	IDS_ERRORID_SCRIPT_RESCAN		"Ponovo čitam katalog scenarija..."
	IDS_ERRORID_SCRIPT_STOPALL		"Zaustavljeno pokretanje skripti: {0}"

	IDS_ERRORID_FILEWATCH_OPEN		"Otvaranje direktorija nije uspjelo: {0}"
	IDS_ERRORID_FILEWATCH_PARAM		"Ne može se pročitati direktorij sa navedenim parametrima, završavam praćenje direktorija."
	IDS_ERRORID_FILEWATCH_SHUTDOWN		"neočekivani prekid nadzora direktorija"
	IDS_ERRORID_FILEWATCH_NOACCESS		"problemi s pristupom direktoriju, moguće neispravna veličina međuspremnika za čitanje"

	IDS_ERRORID_NONE			"-"
END
