﻿
#define APSTUDIO_READONLY_SYMBOLS
#ifndef APSTUDIO_INVOKED
#include <SDKDDKVer.h>
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#include "CommCtrl.h"
#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_SERBIAN, SUBLANG_DEFAULT
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "МИДИ Еаси Цонтрол -> Аудио Микер -> МИДИ-Мацкие преводилац"
    IDS_MIXER               "&Миксер"
    IDS_SETTINGS            "&Подешавања"
    IDS_START               "Почетак"
    IDS_STOP                "Зауставити"
    IDS_EXIT                "Изађи"
    IDS_SETUP_MSG1          "Конфигурација је учитана из драјвера"
    IDS_SETUP_MSG2          "Конфигурација је учитана из датотеке"
    IDS_SETUP_MSG3          "Конфигурација је креирана изнова и захтева попуњавање"
    IDS_URL_WIKI            "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    IDS_URL_GIT             "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    IDS_URL_WEB             "https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    IDS_URL_ESETUP          "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"
    IDS_START_EXT_FILTER    "МИДИ-МТ конфигурација"
    IDS_CONFIG_EXE_FILTER   "Извршне датотеке"
    IDS_MQTT_CA_FILTER      "ЦА сертификат"
    IDS_MIDIMT              "MIDIMT"
    IDS_INFO1               "МИДИ преводилац не ради."
    IDS_INFO2               "МИДИ преводилац ради:"
    IDS_INFO3               "Улазни уређај:"
    IDS_INFO4               "Мацкие/Премиер излазни порт:"
    IDS_INFO5               "Излазни прокси порт:"
    IDS_INFO6               "Аудио миксер ради."
    IDS_INFO7               "Контрола мултимедијалних тастера је покренута, проверите подешавања."
    IDS_INFO8               "Аудио миксер не ради, проверите подешавања, покретање аудио панела мора бити омогућено."
    IDS_INFO9               "Неважећи ИД догађаја. Поново покрените ову апликацију."
    IDS_INF1O               "Пребацивање на нит корисничког интерфејса није успело, покретање аудио панела је прекинуто."
    IDS_INF11               "МИДИМТ - Аудио миксер не ради:"
    IDS_INF12               "МИДИМТ – Није могуће завршити операцију:"
    IDS_INF13               "Почело је управљање паметним кућним уређајима."
    IDS_INF14               "Покренута је контрола осветљења преко ДМКС512 протокола."
    IDS_INF15               "Покренута је контрола осветљења преко АртНет протокола."
    IDS_DLG_MSG0            "Инсталирање виртуелног МИДИ драјвера"
    IDS_DLG_MSG1            "МИДИ Мацкие излаз"
    IDS_DLG_MSG2            "МИДИ Прокси излаз"
    IDS_DLG_MSG3            "Верзија виртуелног МИДИ драјвера:"
    IDS_DLG_MSG4            "Инсталирани виртуелни МИДИ драјвер није пронађен! Морате инсталирати МИДИ пакет Виртуал Лооп да бисте покренули МИДИ-МТ преводилац"
    IDS_DLG_MSG5            "Када се покрене, прокси МИДИ портови ће бити креирани:"
    IDS_DLG_MSG6            "МИДИ проки портови су онемогућени."
    IDS_DLG_MSG7            "Изабрани језик ће бити активан након што се прозор поново покрене -"
    IDS_DLG_MSG8            "МИДИ улазни уређај је додељен"
    IDS_DLG_MSG9            "Измените конфигурацију пре почетка."
    IDS_DLG_MSG10           "Верзија инсталираног виртуелног МИДИ драјвера:"
    IDS_DLG_MSG11           "Изабрана конфигурација не подржава аутоматско покретање."
    IDS_DLG_MSG12           "Молимо вас, пре покретања монитора, покрените МИДИ бридге из менија позивањем 'Старт'."
    IDS_DLG_MSG13           "Приликом покретања, конфигурациона датотека је наведена: '{0}'. Подесите га као конфигурацију за следећа покретања?"
    IDS_DLG_MSG14           "Приликом отварања уређивача наведена је конфигурациона датотека: '{0}'. Да га сачувате под истим именом?"
    IDS_DLG_MSG15           "Аутоматско покретање је онемогућено у општој конфигурацији."
    IDS_DLG_MSG16           "Број ДМКС канала"
    IDS_DLG_MSG17           "Морате инсталирати Виртуал МИДИ драјвер!"
    IDS_DLG_DMX_NODEV       "Нема доступних уређаја"
    IDS_DLG_ARTNET_NOINT    "Нема интерфејса"
    IDS_DLG_DMX_SELDEV      "Изаберите ДМКС уређај"
    IDS_DLG_ARTNET_SELINT   "Изаберите АРТНЕТ интерфејс"
END

STRINGTABLE
BEGIN
    IDM_COL4_MAV            "јачина звука (главна)"
    IDM_COL4_MAP            "баланс звука (основни)"
    IDM_COL4_MAM            "немо (главни)"
    IDM_COL4_MAS            "аудио соло (главни)"
    IDM_COL4_JOG            "ЈОГ (премотавање видео оквира)"
    IDM_COL4_AV1            "јачина звука (канал 1)"
    IDM_COL4_AV2            "јачина звука (канал 2)"
    IDM_COL4_AV3            "јачина звука (канал 3)"
    IDM_COL4_AV4            "јачина звука (канал 4)"
    IDM_COL4_AV5            "јачина звука (канал 5)"
    IDM_COL4_AV6            "јачина звука (канал 6)"
    IDM_COL4_AV7            "јачина звука (канал 7)"
    IDM_COL4_AV8            "јачина звука (канал 8)"
    IDM_COL4_XV9            "јачина звука (канал 9)"
    IDM_COL4_AP1            "баланс звука (канал 1)"
    IDM_COL4_AP2            "баланс звука (канал 2)"
    IDM_COL4_AP3            "баланс звука (канал 3)"
    IDM_COL4_AP4            "баланс звука (канал 4)"
    IDM_COL4_AP5            "баланс звука (канал 5)"
    IDM_COL4_AP6            "баланс звука (канал 6)"
    IDM_COL4_AP7            "баланс звука (канал 7)"
    IDM_COL4_AP8            "баланс звука (канал 8)"
    IDM_COL4_XP9            "баланс звука (канал 9)"
    IDM_COL4_B11            "аудио соло (канал 1)"
    IDM_COL4_B12            "аудио соло (канал 2)"
    IDM_COL4_B13            "аудио соло (канал 3)"
    IDM_COL4_B14            "аудио соло (канал 4)"
    IDM_COL4_B15            "аудио соло (канал 5)"
    IDM_COL4_B16            "аудио соло (канал 6)"
    IDM_COL4_B17            "аудио соло (канал 7)"
    IDM_COL4_B18            "аудио соло (канал 8)"
    IDM_COL4_B19            "аудио соло (канал 9)"
    IDM_COL4_B21            "искључи звук (канал 1)"
    IDM_COL4_B22            "искључи звук (канал 2)"
    IDM_COL4_B23            "искључи звук (канал 3)"
    IDM_COL4_B24            "искључи звук (канал 4)"
    IDM_COL4_B25            "искључи звук (канал 5)"
    IDM_COL4_B26            "искључи звук (канал 6)"
    IDM_COL4_B27            "искључи звук (канал 7)"
    IDM_COL4_B28            "искључи звук (канал 8)"
    IDM_COL4_B29            "искључи звук (канал 9)"
    IDM_COL4_B31            "избор звука (канал 1)"
    IDM_COL4_B32            "избор звука (канал 2)"
    IDM_COL4_B33            "избор звука (канал 3)"
    IDM_COL4_B34            "избор звука (канал 4)"
    IDM_COL4_B35            "избор звука (канал 5)"
    IDM_COL4_B36            "избор звука (канал 6)"
    IDM_COL4_B37            "избор звука (канал 7)"
    IDM_COL4_B38            "избор звука (канал 8)"
    IDM_COL4_B39            "избор звука (канал 9)"
    IDM_COL4_FUN11          "функција Ф1 (стандардни режим)"
    IDM_COL4_FUN12          "функција Ф2 (стандардни режим)"
    IDM_COL4_FUN13          "функција Ф3 (стандардни режим)"
    IDM_COL4_FUN14          "функција Ф4 (стандардни режим)"
    IDM_COL4_FUN15          "функција Ф5 (стандардни режим)"
    IDM_COL4_FUN16          "функција Ф6 (стандардни режим)"
    IDM_COL4_FUN17          "функција Ф7 (стандардни режим)"
    IDM_COL4_FUN18          "функција Ф8 (стандардни режим)"
    IDM_COL4_FUN21          "функција Ф1 (држани режим)"
    IDM_COL4_FUN22          "функција Ф2 (држани режим)"
    IDM_COL4_FUN23          "функција Ф3 (држани режим)"
    IDM_COL4_FUN24          "функција Ф4 (држани режим)"
    IDM_COL4_FUN25          "функција Ф5 (држани режим)"
    IDM_COL4_FUN26          "функција Ф6 (држани режим)"
    IDM_COL4_FUN27          "функција Ф7 (држани режим)"
    IDM_COL4_FUN28          "функција Ф8 (држани режим)"
    IDM_COL4_SYS_Rewind     "Премотавање уназад (плејер)"
    IDM_COL4_SYS_Forward    "Премотавање унапред (играч)"
    IDM_COL4_SYS_Stop       "Заустави (играч)"
    IDM_COL4_SYS_Play       "Играј (играч)"
    IDM_COL4_SYS_Record     "Снимање (плејер)"
    IDM_COL4_SYS_Up         "горе (џојстик)"
    IDM_COL4_SYS_Down       "доле (џојстик)"
    IDM_COL4_SYS_Left       "Лево (џојстик)"
    IDM_COL4_SYS_Right      "Десно (џојстик)"
    IDM_COL4_SYS_Zoom       "Повећати"
    IDM_COL4_SYS_Scrub      "Сцруб"
    IDM_COL4_VOLUMEMIX      "Контрола миксера"
    IDM_COL4_MEDIAKEY       "Мултимедијални тастери"
    IDM_COL4_MQTTKEY        "Управљање паметним домом"
    IDM_COL4_LIGHTKEY8B     "Контрола осветљења (8 бита)"
    IDM_COL4_LIGHTKEY16B    "Контрола осветљења (16 бит)"
    IDM_COL4_NONE           "радња није дефинисана"
    IDM_COL4_MQTT_AV1       "ниво 1"
    IDM_COL4_MQTT_AV2       "ниво 2"
    IDM_COL4_MQTT_AV3       "ниво 3"
    IDM_COL4_MQTT_AV4       "ниво 4"
    IDM_COL4_MQTT_AV5       "ниво 5"
    IDM_COL4_MQTT_AV6       "ниво 6"
    IDM_COL4_MQTT_AV7       "ниво 7"
    IDM_COL4_MQTT_AV8       "ниво 8"
    IDM_COL4_MQTT_XV9       "ниво 9"
    IDM_COL4_MQTT_AP1       "ниво 10"
    IDM_COL4_MQTT_AP2       "ниво 11"
    IDM_COL4_MQTT_AP3       "ниво 12"
    IDM_COL4_MQTT_AP4       "ниво 13"
    IDM_COL4_MQTT_AP5       "ниво 14"
    IDM_COL4_MQTT_AP6       "ниво 15"
    IDM_COL4_MQTT_AP7       "ниво 16"
    IDM_COL4_MQTT_AP8       "ниво 17"
    IDM_COL4_MQTT_XP9       "ниво 18"
    IDM_COL4_MQTT_B11       "укључен/искључен 1"
    IDM_COL4_MQTT_B12       "укључивање/искључивање 2"
    IDM_COL4_MQTT_B13       "укључивање/искључивање 3"
    IDM_COL4_MQTT_B14       "укључивање/искључивање 4"
    IDM_COL4_MQTT_B15       "укључивање/искључивање 5"
    IDM_COL4_MQTT_B16       "укључивање/искључивање 6"
    IDM_COL4_MQTT_B17       "укључивање/искључивање 7"
    IDM_COL4_MQTT_B18       "укључивање/искључивање 8"
    IDM_COL4_MQTT_B19       "укључивање/искључивање 9"
    IDM_COL4_MQTT_B21       "укључивање/искључивање 10"
    IDM_COL4_MQTT_B22       "укључивање/искључивање 11"
    IDM_COL4_MQTT_B23       "укључено/искључено 12"
    IDM_COL4_MQTT_B24       "укључено/искључено 13"
    IDM_COL4_MQTT_B25       "укључено/искључено 14"
    IDM_COL4_MQTT_B26       "укључено/искључено 15"
    IDM_COL4_MQTT_B27       "укључено/искључено 16"
    IDM_COL4_MQTT_B28       "укључено/искључено 17"
    IDM_COL4_MQTT_B29       "укључено/искључено 18"
    IDM_COL4_MQTT_B31       "укључено/искључено 19"
    IDM_COL4_MQTT_B32       "укључено/искључено 20"
    IDM_COL4_MQTT_B33       "укључено/искључено 21"
    IDM_COL4_MQTT_B34       "укључено/искључено 22"
    IDM_COL4_MQTT_B35       "укључено/искључено 23"
    IDM_COL4_MQTT_B36       "укључено/искључено 24"
    IDM_COL4_MQTT_B37       "укључено/искључено 25"
    IDM_COL4_MQTT_B38       "укључено/искључено 26"
    IDM_COL4_MQTT_B39       "укључено/искључено 27"
    IDM_COL4_MQTT_NONE      "Не додељен"
    IDM_MQTT_LOG_NONE       "не води се дневник"
    IDM_MQTT_LOG_INFO       "информације"
    IDM_MQTT_LOG_NOTICE     "обавештења"
    IDM_MQTT_LOG_WARNING    "упозорења"
    IDM_MQTT_LOG_ERR        "само грешке"
    IDM_MQTT_LOG_DEBUG      "све поруке"
END

STRINGTABLE
BEGIN
    IDS_ERRORID_OK          "OK"
    IDS_ERRORID_EMPTY       "<тут пусто>"
    IDS_ERRORID_UNDEFINED   "Ова грешка је недефинисана"
    IDS_ERRORID_JSONCONF_WRITE_ACCESS
                            "Приступ за писање конфигурационој датотеци је одбијен, „{0}“"
    IDS_ERRORID_JSONCONF_READ_ACCESS
                            "Недостаје конфигурациони фајл или је приступ одбијен, „{0}“"
    IDS_ERRORID_JSONCONF_EMPTY
                            "Конфигурациона датотека је празна, „{0}“"
    IDS_ERRORID_JSONCONF_NO_DEVICE
                            "Назив МИДИ уређаја није конфигурисан."
    IDS_ERRORID_JSONCONF_EMPTY_KEYS
                            "У овој конфигурацији нису конфигурисани МИДИ тастери."
    IDS_ERRORID_JSONCONF_WRITE_EMPTY
                            "Пажња, ова конфигурација нема конфигурисане МИДИ тастере! снимљена конфигурација неће радити."
    IDS_ERRORID_INIT_COINITIALIZE
                            "Ко*иницијализација није успела."
    IDS_ERRORID_INIT_COCREATE
                            "Цо*Цреате – није успело креирање инстанце."
    IDS_ERRORID_INIT_DEFAULT_AE
                            "Преузимање подразумеваног аудио уређаја није успело."
    IDS_ERRORID_INIT_AS_MANAGER2
                            "Менаџер аудио сесија је пао."
    IDS_ERRORID_INIT_AS_AUDIOMETER
                            "Аудио пеак метер није доступан."
    IDS_ERRORID_MIXER_STARTOK
                            "Миксер аудио сесије је покренут, у време покретања постоји {0} покренутих програма доступних за регулацију."
    IDS_ERRORID_MIXER_STARTERROR
                            "Миксер аудио сесије није могао да се покрене, детаљи о грешци би требало да буду у датотеци евиденције."
    IDS_ERRORID_MIXER_STOPOK
                            "Миксер аудио сесије је заустављен."
    IDS_ERRORID_MIXER_STOPERROR
                            "Миксер аудио сесије није исправно заустављен, детаљи о грешци треба да буду у датотеци евиденције."
    IDS_ERRORID_NO_INIT     "Иницијализујте пре него што позовете ово.."
    IDS_ERRORID_SESSION_LIST
                            "Добијање листе аудио сесија није успело."
    IDS_ERRORID_LISTISNULL  "Листа аудио сесија је празна!"
    IDS_ERRORID_SESSIONDISCONNECTED
                            "Онемогућавање аудио сесије, разлог='{0}'"
    IDS_ERRORID_SESSIONCREATED
                            "Аудио сесија је направљена, наме='{0}'"
    IDS_ERRORID_ITEM_SC_AE  "Аудио сесија „{0}“ – Неважеће стање регистрације „{1}“: {2}/{3}"
    IDS_ERRORID_CBVALUE_BAD_SELECT
                            "Вредност која се поставља из повратног позива је неважећи селектор."
    IDS_ERRORID_SET_CB_WARNING
                            "Подешавање повратног позива могуће је само након што је МИДИ мост успешно покренут."
    IDS_ERRORID_CONFIG_FAIL "Учитавање конфигурације није успело, датотека није пронађена, покретање немогуће."
    IDS_ERRORID_CONFIG_LOAD "Конфигурација је учитана.."
    IDS_ERRORID_CONFIG_LOADA
                            "Конфигурација је већ учитана.."
    IDS_ERRORID_CONFIG_EMPTY
                            "Конфигурација је празна.."
    IDS_ERRORID_CONFIG_NEW  "Откривена је нова верзија конфигурације.."
    IDS_ERRORID_NOT_IMPLEMENTED
                            "Неподржана примена у коду, метод није замењен: {0}"
    IDS_ERRORID_NOT_CONFIG  "Име конфигурације није наведено и не може се наставити."
    IDS_ERRORID_NOT_DEVICES "Уређаји нису повезани и не могу да наставе."
    IDS_ERRORID_COUNT_DEVICES
                            "Пажња, неусклађеност у броју уређаја на коначној листи, систем/листа = {0}/{1}"
    IDS_ERRORID_OPEN_MIDI_DEVICE
                            "Није могуће отворити МИДИ уређај, није могуће наставити, ид = {0}/{1}"
    IDS_ERRORID_START_MIDI_DEVICE
                            "Није могуће покренути МИДИ уређај, није могуће наставити, ид = {0}/{1}"
    IDS_ERRORID_DEVICE_NOT_CONNECT
                            "Уређај није повезан, прекинути, ид = {0}/{1}"
    IDS_ERRORID_DEVICE_FOUND
                            "Пронађен је уређај {0}, {1}"
    IDS_ERRORID_DEVICE_OPEN "Уређај {0} отворен, {1}"
    IDS_ERRORID_DEVICE_CLOSE
                            "Уређај {0} затворен (систем)"
    IDS_ERRORID_DEVICE_DONE "Уређај {0} спреман (систем)"
    IDS_ERRORID_NOT_DEVICE_NAME
                            "Назив активног уређаја није наведен, наставак је немогућ, ид = {0}/{1}"
    IDS_ERRORID_NOT_CONFIG_PROXY
                            "Прокси портови нису наведени у конфигурацији, МИДИ прокси је онемогућен."
    IDS_ERRORID_DRIVER_VER_OK
                            "Верзија драјвера [{0}]"
    IDS_ERRORID_DRIVER_VER_ERROR
                            "Проблем са верзијом драјвера [{0}]"
    IDS_ERRORID_SEND_BAD_VALUES
                            "Уређај {0} је послао неважећу вредност = {1}"
    IDS_ERRORID_NOT_DRIVER  "Виртуелни МИДИ драјвер није инсталиран. Морате да инсталирате лоопМиди пакет или да преузмете комплетан инсталатер и поново инсталирате МИДИ-МТ. Више детаља: хттпс://цлаудиацоорд.гитхуб.ио/МИДИ-МТ/доцс/РУ/Депенденциес.хтмл"
    IDS_ERRORID_MMKEY_START "Услуга управљања медијским кључевима је покренута."
    IDS_ERRORID_MMKEY_STOP  "Услуга управљања медијским кључевима је заустављена."
    IDS_ERRORID_MQTT_EMPTY_CONFIG
                            "МКТТ конфигурација је празна и не може се наставити."
    IDS_ERRORID_MQTT_CLIENT_ERROR
                            "Грешка при креирању МКТТ клијента, отказивање."
    IDS_ERRORID_MQTT_CLIENT_OK
                            "ММКТТ клијент је успешно креиран, наставите..."
    IDS_ERRORID_MQTT_CONNECTED
                            "Повезано са МКТТ сервером:"
    IDS_ERRORID_MQTT_NOT_CONNECTED
                            "Повезивање са МКТТ сервером није успело:"
    IDS_ERRORID_MQTT_DISCONNECTED
                            "Прекинута са МКТТ сервером:"
    IDS_ERRORID_MQTT_NOT_CA_CERT
                            "Датотека ЦА сертификата не постоји, путања = '{0}'"
    IDS_ERRORID_MQTT_START  "Покренута је услуга управљања паметним домом."
    IDS_ERRORID_MQTT_STOP   "Услуга управљања паметном кућом је заустављена."
    IDS_ERRORID_PANEL_INDEX "Панел миксера звука - Није могуће наставити, ставке индекса су нетачне."
    IDS_ERRORID_PANEL_INIT  "Панел миксера звука - не може да се настави, грешка при иницијализацији."
    IDS_ERRORID_PANEL_ENABLE
                            "Прозор панела аудио миксера нема исправан статус и следећа операција се не може наставити."
    IDS_ERRORID_PANEL_NOT_UI_THREAD
                            "Панел миксера звука се не позива на УИ нити и промене се не могу правити."
    IDS_ERRORID_PANEL_NOT_ITEM_VALID
                            "Панел миксера звука је открио неважећи елемент и креирање прозора панела је прекинуто."
    IDS_ERRORID_LIGHT_DMX_START
                            "ДМКС услуга контроле осветљења се покреће помоћу ЦОМ{0} - {1}."
    IDS_ERRORID_LIGHT_DMX_NOT_COM
                            "ДМКС услуга контроле осветљења не ради, ЦОМ{0} уређај није повезан.."
    IDS_ERRORID_LIGHT_DMX_NOT_CONFIG
                            "ДМКС услуга контроле осветљења не ради и конфигурација услуге није попуњена."
    IDS_ERRORID_LIGHT_DMX_STOP
                            "ДМКС услуга контроле осветљења је заустављена."
    IDS_ERRORID_LIGHT_ARTNET_START
                            "АртНет Лигхтинг Цонтрол Сервице ради користећи адресу емитовања {0}:{1} на мрежи {2}."
    IDS_ERRORID_LIGHT_ARTNET_NOT_COM
                            "АртНет услуга контроле осветљења није покренута, мрежа {0} није пронађена.."
    IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG
                            "АртНет услуга контроле осветљења не ради, конфигурација услуге није попуњена."
    IDS_ERRORID_LIGHT_ARTNET_STOP
                            "АртНет услуга контроле осветљења је заустављена."
    IDS_ERRORID_NONE        "-"
END
