#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_SERBIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

DLG_TRAY_MENU MENU
BEGIN
    POPUP "__TRAYMENU"
    BEGIN
        MENUITEM " ",                           IDM_GO_EMPTY
        MENUITEM "&Информације",                 IDM_GO_INFO
        MENUITEM "&Аудио миксер",               IDM_GO_MIXER
        POPUP "&Мониторинг"
        BEGIN
            MENUITEM "&Монитор",		IDM_GO_MONITOR
            MENUITEM "&Прикажи датотеку евиденције",	IDM_GO_VIEWLOG
        END
        MENUITEM "&Подешавања",                  IDM_GO_EDIT
        MENUITEM SEPARATOR
        MENUITEM "Почетак",                      IDM_GO_START
        MENUITEM "Зауставити",                       IDM_GO_STOP, CHECKED, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Изађи",                      IDM_EXIT
    END
END

DLG_LOGVIEW_MENU MENU
BEGIN
    MENUITEM "излаз",					DLG_EXIT
    MENUITEM "већи",					DLG_LOGVIEW_MENU_ZOOMIN
    MENUITEM "мањи",					DLG_LOGVIEW_MENU_ZOOMOUT
    MENUITEM "до почетка",				DLG_LOGVIEW_MENU_BEGIN
    MENUITEM "На крају",					DLG_LOGVIEW_MENU_END
    MENUITEM "јасно",				DLG_LOGVIEW_MENU_CLEAR
    POPUP "конфигурацију"
    BEGIN
	MENUITEM "прикажи све конфигурације",		DLG_LOGVIEW_MENU_CONF_ALL
        MENUITEM SEPARATOR
	MENUITEM "прикажи МИДИ конфигурацију",		DLG_LOGVIEW_MENU_CONF_MIDI
	MENUITEM "прикажи МКТТ конфигурацију",		DLG_LOGVIEW_MENU_CONF_MQTT
	MENUITEM "прикажи ММКЕИС конфигурацију",	DLG_LOGVIEW_MENU_CONF_MMKEYS
	MENUITEM "прикажи ЛИГТС конфигурацију",		DLG_LOGVIEW_MENU_CONF_LIGTS
        MENUITEM SEPARATOR
	MENUITEM "прикажи конфигурацију ДМКС512",	DLG_LOGVIEW_MENU_CONF_DMX512
	MENUITEM "прикажи АртНет конфигурацију",	DLG_LOGVIEW_MENU_CONF_ARTNET
    END
    POPUP "додаци"
    BEGIN
	MENUITEM "статистика додатака",			DLG_PLUGSTAT_MENU
        MENUITEM SEPARATOR
    END
END

DLG_START_MENU MENU
BEGIN
    MENUITEM "почетак",				DLG_GO_START
    MENUITEM "зауставити",				DLG_GO_STOP
    MENUITEM "сачувајте подешавања",		DLG_SAVE
    MENUITEM "помоћ",				DLG_GO_HELP
    POPUP "Језик"
    BEGIN
	MENUITEM "ауто",			DLG_LANG_MENU_0
    END
    MENUITEM "Пријава",				DLG_GO_LOG
    MENUITEM "излаз",				DLG_EXIT
END

DLG_MIXER_CTRL_MENU MENU
BEGIN
    POPUP "__MIXPANELMENU"
    BEGIN
        POPUP "Локација.."
        BEGIN
            MENUITEM "Вертикално лево",	IDM_VERT_LEFT
            MENUITEM "Вертикална десна",	IDM_VERT_RIGHT
            MENUITEM "Хоризонтално на врху",	IDM_HOR_TOP
            MENUITEM "Хоризонтално испод",	IDM_HOR_BOTTOM
        END
        POPUP "Предмет.."
        BEGIN
            MENUITEM "Метро",			IDM_METRO
            MENUITEM "Светлост",			IDM_LIGHT
            MENUITEM "Дарк",			IDM_DARK
            MENUITEM "Ретро",			IDM_RETRO
            MENUITEM "Модеран",		IDM_MODERN
            MENUITEM SEPARATOR
            MENUITEM "Прилагодљиво",		IDM_CUSTOM
            MENUITEM "Постављање теме",		IDM_CALLFORM_COLOR
        END
        MENUITEM SEPARATOR
        MENUITEM "&Анимација",			IDM_ANIMATION
        MENUITEM "&Путања апликације",		IDM_APP_PATH
        MENUITEM "Повезивање &МИДИ контрола",	IDM_MIDI_BIND
        MENUITEM "Пеак & Волуме Метер",IDM_PEAK_METER
        MENUITEM "Запамтите положај",		IDM_SAVE_POS
        MENUITEM SEPARATOR
        MENUITEM "&Близу",			IDM_CLOSE
    END
END

DLG_EDIT_LV_MENU MENU
BEGIN
    POPUP "__LVMENU"
    BEGIN
        MENUITEM "Нови унос",                IDM_LV_NEW
        MENUITEM SEPARATOR
        MENUITEM "Копирај",                  IDM_LV_COPY
        MENUITEM "Уметните",                    IDM_LV_PASTE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Избриши",                     IDM_LV_DELETE
        POPUP "Инсталирај као.."
        BEGIN
            MENUITEM "Контрола се односи на аудио миксер", IDM_LV_SET_MIXER
            MENUITEM "Контроле се примењују на дугмад за мултимедију", IDM_LV_SET_MMKEY
            MENUITEM "Контрола се односи на паметну кућу", IDM_LV_SET_MQTT
	    POPUP "Контрола се односи на контролу светлости"
	    BEGIN
		MENUITEM "Канал 8 бит (стандардно)", IDM_LV_SET_LIGHTKEY8B
		MENUITEM "16-битни канал (проширени)", IDM_LV_SET_LIGHTKEY16B
	    END
            MENUITEM SEPARATOR
            MENUITEM "Унассигнед",		IDM_LV_SET_NONE
        END
        MENUITEM SEPARATOR
        MENUITEM "Прочитај МИДИ код..",		IDM_LV_READ_MIDI_CODE
    END
END

DLG_EDIT_LV_COL3_TYPE_MENU MENU
BEGIN
    POPUP "__COL3TYPEMENU"
    BEGIN
        POPUP "Регулатори..."
        BEGIN
            MENUITEM "Стрип Регулатор",        IDM_COL3_SLIDER
            MENUITEM "Регулатор траке са инверзијом", IDM_COL3_SLIDERINVERT
            MENUITEM SEPARATOR
            MENUITEM "Кружни регулатор",          IDM_COL3_FADER
            MENUITEM "Кружни регулатор са инверзијом", IDM_COL3_FADERINVERT
            MENUITEM SEPARATOR
            MENUITEM "Енцодер",                     IDM_COL3_KNOB
            MENUITEM "Енкодер са инверзијом",         IDM_COL3_KNOBINVERT
            MENUITEM SEPARATOR
            MENUITEM "Унассигнед",               IDM_COL3_NONE
        END
        POPUP "Дугмад.."
        BEGIN
            MENUITEM "Дугме",                      IDM_COL3_BTN
            MENUITEM "Дугме за прекидач, са индикацијом", IDM_COL3_BTNTOGGLE
            MENUITEM SEPARATOR
            MENUITEM "Унассигнед",               IDM_COL3_NONE
        END
    END
END

DLG_EDIT_LV_COL4_ALL_TARGET_MENU MENU
BEGIN
    POPUP "__COL4 ALL APPENDED TARGET MENU"
    BEGIN
        MENUITEM "Унассигнед",			IDM_COL4_NONE
        MENUITEM SEPARATOR
        MENUITEM "Регулатори...",			IDM_COL5_MENU_REPLACE_FIELD1
        MENUITEM "Дугмад..",				IDM_COL5_MENU_REPLACE_FIELD2
        MENUITEM SEPARATOR
        MENUITEM "Контрола се односи на аудио миксер", IDM_COL4_VOLUMEMIX
        MENUITEM "Контроле се примењују на дугмад за мултимедију", IDM_COL4_MEDIAKEY
        MENUITEM "Контрола се односи на паметну кућу", IDM_COL4_MQTTKEY
	POPUP "Контрола се односи на контролу светлости"
	BEGIN
	   MENUITEM "Канал 8 бит (стандардно)", IDM_COL4_LIGHTKEY8B
	   MENUITEM "16-битни канал (проширени)", IDM_COL4_LIGHTKEY16B
	END
    END
END

DLG_EDIT_LV_COL4_BTN_TARGET_MENU MENU
BEGIN
    POPUP "__COL4 BTN TARGET MENU"
    BEGIN
        MENUITEM "Унассигнед",		   IDM_COL4_NONE
        MENUITEM SEPARATOR
        POPUP "Контрола звука..."
        BEGIN
            MENUITEM "тихи (мајстор)",		IDM_COL4_MAM
            MENUITEM "соло (мајстор)",			IDM_COL4_MAS
            MENUITEM SEPARATOR
            POPUP "Бесзвучно.."
            BEGIN
                MENUITEM "канал 1",                     IDM_COL4_B21
                MENUITEM "канал 2",                     IDM_COL4_B22
                MENUITEM "канал 3",                     IDM_COL4_B23
                MENUITEM "канал 4",                     IDM_COL4_B24
                MENUITEM "канал 5",                     IDM_COL4_B25
                MENUITEM "канал 6",                     IDM_COL4_B26
                MENUITEM "канал 7",                     IDM_COL4_B27
                MENUITEM "канал 8",                     IDM_COL4_B28
                MENUITEM "канал 9",                     IDM_COL4_B29
            END
            POPUP "Соло.."
            BEGIN
                MENUITEM "канал 1",                     IDM_COL4_B11
                MENUITEM "канал 2",                     IDM_COL4_B12
                MENUITEM "канал 3",                     IDM_COL4_B13
                MENUITEM "канал 4",                     IDM_COL4_B14
                MENUITEM "канал 5",                     IDM_COL4_B15
                MENUITEM "канал 6",                     IDM_COL4_B16
                MENUITEM "канал 7",                     IDM_COL4_B17
                MENUITEM "канал 8",                     IDM_COL4_B18
                MENUITEM "канал 9",                     IDM_COL4_B19
            END
        END
        POPUP "Мултимедијална дугмад.."
        BEGIN
            MENUITEM "Пусти/Пауза",                IDM_COL4_SYS_Play
            MENUITEM "Зауставити",                        IDM_COL4_SYS_Stop
            MENUITEM "Претходна",                  IDM_COL4_SYS_Rewind
            MENUITEM "Следећи",                   IDM_COL4_SYS_Forward
            MENUITEM "Запис",                      IDM_COL4_SYS_Record
            MENUITEM "горе (џојстик)",            IDM_COL4_SYS_Up
            MENUITEM "доле (џојстик)",             IDM_COL4_SYS_Down
            MENUITEM "Десно (џојстик)",           IDM_COL4_SYS_Right
            MENUITEM "Лево (џојстик)",            IDM_COL4_SYS_Left
            MENUITEM "Увеличати",         IDM_COL4_SYS_Zoom
            MENUITEM "Чишћење",               IDM_COL4_SYS_Scrub
        END
        POPUP "Премиере Про функције..."
        BEGIN
            POPUP "Функције стандардног дугмета..."
            BEGIN
                MENUITEM "Функција 1",                   IDM_COL4_FUN11
                MENUITEM "Функција 2",                   IDM_COL4_FUN12
                MENUITEM "Функција 3",                   IDM_COL4_FUN13
                MENUITEM "Функција 4",                   IDM_COL4_FUN14
                MENUITEM "Функција 5",                   IDM_COL4_FUN15
                MENUITEM "Функција 6",                   IDM_COL4_FUN16
                MENUITEM "Функција 7",                   IDM_COL4_FUN17
                MENUITEM "Функција 8",                   IDM_COL4_FUN18
            END
            POPUP "Функције дугмета једним додиром..."
            BEGIN
                MENUITEM "Функција 1",                   IDM_COL4_FUN21
                MENUITEM "Функција 2",                   IDM_COL4_FUN22
                MENUITEM "Функција 3",                   IDM_COL4_FUN23
                MENUITEM "Функција 4",                   IDM_COL4_FUN24
                MENUITEM "Функција 5",                   IDM_COL4_FUN25
                MENUITEM "Функција 6",                   IDM_COL4_FUN26
                MENUITEM "Функција 7",                   IDM_COL4_FUN27
                MENUITEM "Функција 8",                   IDM_COL4_FUN28
            END
        END
        POPUP "Дугмад у систему Смарт Хоме.."
        BEGIN
                MENUITEM "укључен/искључен 1",                 IDM_COL4_B11
                MENUITEM "укључивање/искључивање 2",                 IDM_COL4_B12
                MENUITEM "укључивање/искључивање 3",                 IDM_COL4_B13
                MENUITEM "укључивање/искључивање 4",                 IDM_COL4_B14
                MENUITEM "укључивање/искључивање 5",                 IDM_COL4_B15
                MENUITEM "укључивање/искључивање 6",                 IDM_COL4_B16
                MENUITEM "укључивање/искључивање 7",                 IDM_COL4_B17
                MENUITEM "укључивање/искључивање 8",                 IDM_COL4_B18
                MENUITEM "укључивање/искључивање 9",                 IDM_COL4_B19
                MENUITEM "укључивање/искључивање 10",                 IDM_COL4_B21
                MENUITEM "укључивање/искључивање 11",                 IDM_COL4_B22
                MENUITEM "укључено/искључено 12",                 IDM_COL4_B23
                MENUITEM "укључено/искључено 13",                 IDM_COL4_B24
                MENUITEM "укључено/искључено 14",                 IDM_COL4_B25
                MENUITEM "укључено/искључено 15",                 IDM_COL4_B26
                MENUITEM "укључено/искључено 16",                 IDM_COL4_B27
                MENUITEM "укључено/искључено 17",                 IDM_COL4_B28
                MENUITEM "укључено/искључено 18",                 IDM_COL4_B29
                MENUITEM "укључено/искључено 19",                 IDM_COL4_B31
                MENUITEM "укључено/искључено 20",                 IDM_COL4_B32
                MENUITEM "укључено/искључено 21",                 IDM_COL4_B33
                MENUITEM "укључено/искључено 22",                 IDM_COL4_B34
                MENUITEM "укључено/искључено 23",                 IDM_COL4_B35
                MENUITEM "укључено/искључено 24",                 IDM_COL4_B36
                MENUITEM "укључено/искључено 25",                 IDM_COL4_B37
                MENUITEM "укључено/искључено 26",                 IDM_COL4_B38
                MENUITEM "укључено/искључено 27",                 IDM_COL4_B39
        END
        MENUITEM SEPARATOR
        MENUITEM "Контрола се односи на аудио миксер", IDM_COL4_VOLUMEMIX
        MENUITEM "Контроле се примењују на дугмад за мултимедију", IDM_COL4_MEDIAKEY
        MENUITEM "Контрола се односи на паметну кућу", IDM_COL4_MQTTKEY
	POPUP "Контрола се односи на контролу светлости"
	BEGIN
	   MENUITEM "Канал 8 бит (стандардно)", IDM_COL4_LIGHTKEY8B
	   MENUITEM "16-битни канал (проширени)", IDM_COL4_LIGHTKEY16B
	END
    END
END

DLG_EDIT_LV_COL4_SLIDER_TARGET_MENU MENU
BEGIN
    POPUP "__COL4 SLIDER TARGET MENU"
    BEGIN
        MENUITEM "Енцодер (приказ оквира по кадар)", IDM_COL4_JOG
        MENUITEM "Унассигнед",               IDM_COL4_NONE
        MENUITEM SEPARATOR
        POPUP "Контрола звука..."
        BEGIN
            MENUITEM "Волумен (мастер)",          IDM_COL4_MAV
            MENUITEM "Биланс (мастер)",             IDM_COL4_MAP
            MENUITEM SEPARATOR
            POPUP "Волумен.."
            BEGIN
                MENUITEM "канал 1",                     IDM_COL4_AV1
                MENUITEM "канал 2",                     IDM_COL4_AV2
                MENUITEM "канал 3",                     IDM_COL4_AV3
                MENUITEM "канал 4",                     IDM_COL4_AV4
                MENUITEM "канал 5",                     IDM_COL4_AV5
                MENUITEM "канал 6",                     IDM_COL4_AV6
                MENUITEM "канал 7",                     IDM_COL4_AV7
                MENUITEM "канал 8",                     IDM_COL4_AV8
                MENUITEM "канал 9",                     IDM_COL4_XV9
            END
            POPUP "Баланс.."
            BEGIN
                MENUITEM "канал 1",                     IDM_COL4_AP1
                MENUITEM "канал 2",                     IDM_COL4_AP2
                MENUITEM "канал 3",                     IDM_COL4_AP3
                MENUITEM "канал 4",                     IDM_COL4_AP4
                MENUITEM "канал 5",                     IDM_COL4_AP5
                MENUITEM "канал 6",                     IDM_COL4_AP6
                MENUITEM "канал 7",                     IDM_COL4_AP7
                MENUITEM "канал 8",                     IDM_COL4_AP8
                MENUITEM "канал 9",                     IDM_COL4_XP9
            END
        END
        POPUP "Регулатори у систему “Паметна кућа”."
        BEGIN
                MENUITEM "ниво 1",              IDM_COL4_AV1
                MENUITEM "ниво 2",              IDM_COL4_AV2
                MENUITEM "ниво 3",              IDM_COL4_AV3
                MENUITEM "ниво 4",              IDM_COL4_AV4
                MENUITEM "ниво 5",              IDM_COL4_AV5
                MENUITEM "ниво 6",              IDM_COL4_AV6
                MENUITEM "ниво 7",              IDM_COL4_AV7
                MENUITEM "ниво 8",              IDM_COL4_AV8
                MENUITEM "ниво 9",              IDM_COL4_XV9
                MENUITEM "ниво 10",              IDM_COL4_AP1
                MENUITEM "ниво 11",              IDM_COL4_AP2
                MENUITEM "ниво 12",              IDM_COL4_AP3
                MENUITEM "ниво 13",              IDM_COL4_AP4
                MENUITEM "ниво 14",              IDM_COL4_AP5
                MENUITEM "ниво 15",              IDM_COL4_AP6
                MENUITEM "ниво 16",              IDM_COL4_AP7
                MENUITEM "ниво 17",              IDM_COL4_AP8
                MENUITEM "ниво 18",              IDM_COL4_XP9
        END
        MENUITEM SEPARATOR
        MENUITEM "Контрола се односи на аудио миксер", IDM_COL4_VOLUMEMIX
        MENUITEM "Контроле се примењују на дугмад за мултимедију", IDM_COL4_MEDIAKEY
        MENUITEM "Контрола се односи на паметну кућу", IDM_COL4_MQTTKEY
	POPUP "Контрола се односи на контролу светлости"
	BEGIN
	   MENUITEM "Канал 8 бит (стандардно)", IDM_COL4_LIGHTKEY8B
	   MENUITEM "16-битни канал (проширени)", IDM_COL4_LIGHTKEY16B
	END
    END
END

DLG_EDIT_LV_COL5_SLIDER_MIX_MENU MENU
BEGIN
    POPUP "__COL4 SLIDER MIXER MENU"
    BEGIN
        MENUITEM "Волумен (мастер)",          IDM_COL4_MAV
        MENUITEM "Енкодер (ЈОГ)",               IDM_COL4_JOG
        MENUITEM SEPARATOR
        POPUP "Волумен.."
        BEGIN
            MENUITEM "канал 1",                     IDM_COL4_AV1
            MENUITEM "канал 2",                     IDM_COL4_AV2
            MENUITEM "канал 3",                     IDM_COL4_AV3
            MENUITEM "канал 4",                     IDM_COL4_AV4
            MENUITEM "канал 5",                     IDM_COL4_AV5
            MENUITEM "канал 6",                     IDM_COL4_AV6
            MENUITEM "канал 7",                     IDM_COL4_AV7
            MENUITEM "канал 8",                     IDM_COL4_AV8
            MENUITEM "канал 9",			    IDM_COL4_XV9
            MENUITEM "канал 10",                    IDM_COL4_AP1
            MENUITEM "канал 11",                    IDM_COL4_AP2
            MENUITEM "канал 12",                    IDM_COL4_AP3
            MENUITEM "канал 13",                    IDM_COL4_AP4
            MENUITEM "канал 14",                    IDM_COL4_AP5
            MENUITEM "канал 15",                    IDM_COL4_AP6
            MENUITEM "канал 16",                    IDM_COL4_AP7
            MENUITEM "канал 17",                    IDM_COL4_AP8
            MENUITEM "канал 18",                    IDM_COL4_XP9
        END
        MENUITEM SEPARATOR
        MENUITEM "Унассигнед",               IDM_COL4_NONE
    END
END

DLG_EDIT_LV_COL5_BTN_MIX_MENU MENU
BEGIN
    POPUP "__COL5 BTN MIXER MENU"
    BEGIN
        MENUITEM "тихи (мајстор)",               IDM_COL4_MAM
        MENUITEM SEPARATOR
        POPUP "Бесзвучно.."
        BEGIN
            MENUITEM "канал 1",                     IDM_COL4_B21
            MENUITEM "канал 2",                     IDM_COL4_B22
            MENUITEM "канал 3",                     IDM_COL4_B23
            MENUITEM "канал 4",                     IDM_COL4_B24
            MENUITEM "канал 5",                     IDM_COL4_B25
            MENUITEM "канал 6",                     IDM_COL4_B26
            MENUITEM "канал 7",                     IDM_COL4_B27
            MENUITEM "канал 8",                     IDM_COL4_B28
            MENUITEM "канал 9",                     IDM_COL4_B29
        END
        MENUITEM SEPARATOR
        MENUITEM "Унассигнед",               IDM_COL4_NONE
    END
END

DLG_EDIT_LV_COL5_BTN_MMKEY_MENU MENU
BEGIN
    POPUP "__COL5 BTN MMKEY MENU"
    BEGIN
        MENUITEM "Пусти/Пауза",                IDM_COL4_SYS_Play
        MENUITEM "Зауставити",                        IDM_COL4_SYS_Stop
        MENUITEM "Претходна",                  IDM_COL4_SYS_Rewind
        MENUITEM "Следећи",                   IDM_COL4_SYS_Forward
        MENUITEM "Запис",                      IDM_COL4_SYS_Record
        MENUITEM "горе (џојстик)",           IDM_COL4_SYS_Up
        MENUITEM "доле (џојстик)",           IDM_COL4_SYS_Down
        MENUITEM "Десно (џојстик)",           IDM_COL4_SYS_Right
        MENUITEM "Лево (џојстик)",           IDM_COL4_SYS_Left
        MENUITEM "Увеличати",         IDM_COL4_SYS_Zoom
        MENUITEM "Чишћење",               IDM_COL4_SYS_Scrub
        MENUITEM SEPARATOR
        MENUITEM "Унассигнед",               IDM_COL4_NONE
    END
END

DLG_EDIT_LV_COL5_SLIDER_SMH_MENU MENU
BEGIN
    POPUP "__COL5 SLIDER SMART HOUSE MENU"
    BEGIN
        MENUITEM "ниво 1",                    IDM_COL4_AV1
        MENUITEM "ниво 2",                    IDM_COL4_AV2
        MENUITEM "ниво 3",                    IDM_COL4_AV3
        MENUITEM "ниво 4",                    IDM_COL4_AV4
        MENUITEM "ниво 5",                    IDM_COL4_AV5
        MENUITEM "ниво 6",                    IDM_COL4_AV6
        MENUITEM "ниво 7",                    IDM_COL4_AV7
        MENUITEM "ниво 8",                    IDM_COL4_AV8
        MENUITEM "ниво 9",                    IDM_COL4_XV9
        MENUITEM "ниво 10",                    IDM_COL4_AP1
        MENUITEM "ниво 11",                    IDM_COL4_AP2
        MENUITEM "ниво 12",                    IDM_COL4_AP3
        MENUITEM "ниво 13",                    IDM_COL4_AP4
        MENUITEM "ниво 14",                    IDM_COL4_AP5
        MENUITEM "ниво 15",                    IDM_COL4_AP6
        MENUITEM "ниво 16",                    IDM_COL4_AP7
        MENUITEM "ниво 17",                    IDM_COL4_AP8
        MENUITEM "ниво 18",                    IDM_COL4_XP9
        MENUITEM SEPARATOR
        MENUITEM "Унассигнед",                 IDM_COL4_NONE
    END
END

DLG_EDIT_LV_COL5_BTN_SMH_MENU MENU
BEGIN
    POPUP "__COL5 BTN SMART HOUSE MENU"
    BEGIN
    MENUITEM "укључен/искључен 1",                     IDM_COL4_B11
    MENUITEM "укључивање/искључивање 2",                     IDM_COL4_B12
    MENUITEM "укључивање/искључивање 3",                     IDM_COL4_B13
    MENUITEM "укључивање/искључивање 4",                     IDM_COL4_B14
    MENUITEM "укључивање/искључивање 5",                     IDM_COL4_B15
    MENUITEM "укључивање/искључивање 6",                     IDM_COL4_B16
    MENUITEM "укључивање/искључивање 7",                     IDM_COL4_B17
    MENUITEM "укључивање/искључивање 8",                     IDM_COL4_B18
    MENUITEM "укључивање/искључивање 9",                     IDM_COL4_B19
    MENUITEM "укључивање/искључивање 10",                     IDM_COL4_B21
    MENUITEM "укључивање/искључивање 11",                     IDM_COL4_B22
    MENUITEM "укључено/искључено 12",                     IDM_COL4_B23
    MENUITEM "укључено/искључено 13",                     IDM_COL4_B24
    MENUITEM "укључено/искључено 14",                     IDM_COL4_B25
    MENUITEM "укључено/искључено 15",                     IDM_COL4_B26
    MENUITEM "укључено/искључено 16",                     IDM_COL4_B27
    MENUITEM "укључено/искључено 17",                     IDM_COL4_B28
    MENUITEM "укључено/искључено 18",                     IDM_COL4_B29
    MENUITEM "укључено/искључено 19",                     IDM_COL4_B31
    MENUITEM "укључено/искључено 20",                     IDM_COL4_B32
    MENUITEM "укључено/искључено 21",                     IDM_COL4_B33
    MENUITEM "укључено/искључено 22",                     IDM_COL4_B34
    MENUITEM "укључено/искључено 23",                     IDM_COL4_B35
    MENUITEM "укључено/искључено 24",                     IDM_COL4_B36
    MENUITEM "укључено/искључено 25",                     IDM_COL4_B37
    MENUITEM "укључено/искључено 26",                     IDM_COL4_B38
    MENUITEM "укључено/искључено 27",                     IDM_COL4_B39
    MENUITEM SEPARATOR
    MENUITEM "Унассигнед",                   IDM_COL4_NONE
    END
END

