#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_SERBIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	IDS_RB_DIALOG_LAST_OPENL	"Најновији фајлови:"
	IDS_RB_TABHOMEL			"Уређивање"
	IDS_RB_TABFILTERL		"Филтери"
	IDS_RB_PANEL_EDITMAINL		"уреди МИДИ кључ"
	IDS_RB_PANEL_EDITSETL		"подесите МИДИ тастер као..."
	IDS_RB_PANEL_EDITOPTL		"опције уредника"
	IDS_RB_PANEL_FILTERL		"избор филтера за гледање"
	IDS_RB_PANEL_SORTL		"сортирање"
	IDS_RB_MENUL			"&Мени"
	IDS_RB_MENUT			"Мени апликације"
	IDS_RB_PANEL_QATL		"&Брз приступ"
	IDS_RB_PANEL_QATT		"Брз приступ алаткама"
	IDS_RB_DIALOG_SAVEL		"&Сачувати"
	IDS_RB_DIALOG_SAVET		"Сачувај и примени"
	IDS_RB_DIALOG_SAVED		"Сачувајте у претходно преузету датотеку и ажурирајте тренутну конфигурацију."
	IDS_RB_DIALOG_EXPORTL		"&Извоз"
	IDS_RB_DIALOG_EXPORTT		"Извезите у нову датотеку"
	IDS_RB_DIALOG_EXPORTD		"Извезите уређену конфигурацију у нову датотеку."
	IDS_RB_DIALOG_IMPORTL		"&Увоз"
	IDS_RB_DIALOG_IMPORTT		"Увези из датотеке"
	IDS_RB_DIALOG_IMPORTD		"Увезите конфигурацију из датотеке."
	IDS_RB_DIALOG_EXITL		"&Изађи"
	IDS_RB_DIALOG_EXITT		"Изађите из уређивача"
	IDS_RB_DIALOG_EXITD		"Излази из уређивача конфигурације МИДИ тастера; ако промене нису сачуване, биће изгубљене."
	IDS_RB_LV_NEWL			"&Нови МИДИ тастер"
	IDS_RB_LV_NEWT			"Нови МИДИ тастер"
	IDS_RB_LV_NEWD			"Креирање новог МИДИ кључа."
	IDS_RB_LV_COPYL			"&Копирај"
	IDS_RB_LV_COPYT			"Копирај МИДИ кључ"
	IDS_RB_LV_COPYD			"Копирајте изабрани унос МИДИ кључа."
	IDS_RB_LV_PASTEL		"&Убаци"
	IDS_RB_LV_PASTET		"Уметни кључ"
	IDS_RB_LV_PASTED		"Налепите копирани МИДИ кључ."
	IDS_RB_LV_DELETEL		"&Избриши"
	IDS_RB_LV_DELETET		"Избриши кључ"
	IDS_RB_LV_DELETED		"Избришите изабрани унос МИДИ кључа."
	IDS_RB_LV_SET_MQTTL		"Паметна кућа"
	IDS_RB_LV_SET_MQTTT		"Поставите групу као „Паметна кућа“."
	IDS_RB_LV_SET_MQTTD		"Доделите изабрани МИДИ тастер групи „Смарт Хоме“."
	IDS_RB_LV_SET_MMKEYL		"Мултимедијална дугмад"
	IDS_RB_LV_SET_MMKEYT		"Поставите групу као “Мултимедијална дугмад”"
	IDS_RB_LV_SET_MMKEYD		"Доделите изабрани МИДИ тастер групи „Мултимедијална дугмад“."
	IDS_RB_LV_SET_MIXERL		"Аудио миксер"
	IDS_RB_LV_SET_MIXERT		"Подесите групу као “Аудио миксер”"
	IDS_RB_LV_SET_MIXERD		"Доделите изабрани МИДИ тастер групи „Аудио миксер“."
	IDS_RB_LV_READ_MIDI_CODEL	"Прочитајте МИДИ код"
	IDS_RB_LV_READ_MIDI_CODET	"Прочитајте МИДИ контролни код"
	IDS_RB_LV_READ_MIDI_CODED	"Прочитајте МИДИ код са контролне површине или МИДИ тастатуре."
	IDS_RB_LV_EDIT_MODEL		"Само дигитални улаз"
	IDS_RB_LV_EDIT_MODET		"Користите само дигитални улаз"
	IDS_RB_LV_EDIT_MODED		"Не користите мени за избор вредности, користите само дигитални улаз."
	IDS_RB_DIALOG_SHOW_MIDI_KEYSL	"МИДИ контролна табла"
	IDS_RB_DIALOG_SHOW_MIDI_KEYST	"Препоручена подешавања"
	IDS_RB_DIALOG_SHOW_MIDI_KEYSD	"Препоручена подешавања МИДИ контролне табле компатибилна са Адобе Премиере Про контролама."
	IDS_RB_LV_FILTER_EMBEDL		"Уграђени филтери"
	IDS_RB_LV_FILTER_KEYL		"Кључ"
	IDS_RB_LV_FILTER_KEYT		"Филтрирајте по МИДИ тастеру"
	IDS_RB_LV_FILTER_KEYD		"Прикажи само подударања унутар МИДИ групе кључева."
	IDS_RB_LV_FILTER_SCENEL		"Сцена"
	IDS_RB_LV_FILTER_SCENET		"Филтрирај према МИДИ сцени"
	IDS_RB_LV_FILTER_SCENED		"Прикажи само подударања у групи МИДИ сцене."
	IDS_RB_LV_FILTER_TARGETL	"Сврха 1"
	IDS_RB_LV_FILTER_TARGETT	"Филтрирајте према одредишту 1"
	IDS_RB_LV_FILTER_TARGETD	"Прикажи само утакмице у циљној групи 1."
	IDS_RB_LV_FILTER_TARGETLONGL	"Сврха 2"
	IDS_RB_LV_FILTER_TARGETLONGT	"Филтрирајте према одредишту 2"
	IDS_RB_LV_FILTER_TARGETLONGD	"Прикажи само утакмице у циљној групи 2."
	IDS_RB_LV_FILTER_CLEARL		"Обриши филтере"
	IDS_RB_LV_FILTER_CLEART		"Чишћење филтера"
	IDS_RB_LV_FILTER_CLEARD		"Потпуно чисти филтери, сви уноси ће бити приказани."
	IDS_RB_LV_FILTER_SETL		"Подесите филтер"
	IDS_RB_LV_FILTER_SETT		"Инсталација филтера"
	IDS_RB_LV_FILTER_SETD		"Подешавање филтера приказује све неважеће ставке."
	IDS_RB_LV_FILTER_ONL		"Примени филтер"
	IDS_RB_LV_FILTER_ONT		"Примена филтера"
	IDS_RB_LV_FILTER_OND		"Примена филтера приказује изабране ставке."
	IDS_RB_LV_FILTER_OFFL		"Откажи филтер"
	IDS_RB_LV_FILTER_OFFT		"Откажи филтер"
	IDS_RB_LV_FILTER_OFFD		"Отказивањем филтера ће се приказати све ставке."
	IDS_RB_LV_FILTER_MMKEYL		"Прикажи “Мултимедијална дугмад”"
	IDS_RB_LV_FILTER_MMKEYT		"Филтрирајте према групи „Мултимедијална дугмад“."
	IDS_RB_LV_FILTER_MMKEYD		"Примена филтера ће приказати чланове групе Мултимедијална дугмад."
	IDS_RB_LV_FILTER_MIXERL		"Прикажи “Аудио миксер”"
	IDS_RB_LV_FILTER_MIXERT		"Филтрирајте према групи „Аудио миксер“."
	IDS_RB_LV_FILTER_MIXERD		"Примена филтера ће приказати чланове групе Аудио миксер."
	IDS_RB_LV_FILTER_MQTTL		"Емисија “Паметна кућа”"
	IDS_RB_LV_FILTER_MQTTT		"Филтрирајте према групи „Паметна кућа“."
	IDS_RB_LV_FILTER_MQTTD		"Примена филтера ће приказати чланове групе Смарт Хоме."
	IDS_RB_LV_FILTER_LIGHT8L	"Емисија “Осветљење 8 бит”"
	IDS_RB_LV_FILTER_LIGHT8T	"Филтрирај према групи „Осветљење 8 бит“"
	IDS_RB_LV_FILTER_LIGHT8D	"Примена филтера ће приказати чланове групе за осветљење са 8-битним каналима."
	IDS_RB_LV_FILTER_LIGHT16L	"Прикажи “16-битно осветљење”"
	IDS_RB_LV_FILTER_LIGHT16T	"Филтрирајте према групи „16-битно осветљење“."
	IDS_RB_LV_FILTER_LIGHT16D	"Примена филтера ће приказати чланове групе Лигхтинг са 16-битним каналима."
	IDS_RB_LV_FILTER_SCRIPTL	"Прикажи “Скрипте”"
	IDS_RB_LV_FILTER_SCRIPTT	"Филтрирајте према групи „Скрипте“ ЦхаиСцрипт"
	IDS_RB_LV_FILTER_SCRIPTD	"Примена филтера ће приказати чланове групе Скрипте."
	IDS_RB_LV_FILTER_TYPEBTNL	"Тип филтера"
	IDS_RB_LV_FILTER_TYPEBTNT	"Подешавање типа филтера за примену"
	IDS_RB_LV_FILTER_TYPEBTND	"Типови филтера који се користе имају два логичка стања: „И“, „ИЛИ“."
	IDS_RB_LV_FILTER_TYPEGRPL	"Избор типа филтера"
	IDS_RB_LV_FILTER_TYPEORL	"Прикажи било које утакмице"
	IDS_RB_LV_FILTER_TYPEORT	"Прикажи уносе са било којим подударањем"
	IDS_RB_LV_FILTER_TYPEORD       	"Филтер има логичко И стање и приказује сва подударања."
	IDS_RB_LV_FILTER_TYPEANDL	"Прикажи само комплетна подударања"
	IDS_RB_LV_FILTER_TYPEANDT	"Прикажи само записе са тачним подударањем"
	IDS_RB_LV_FILTER_TYPEANDD	"Филтер има логично стање ИЛИ и приказује само потпуна подударања."
	IDS_RB_LV_FILTER_AUTOCOMMITL	"Аутоматско слање података у филтер"
	IDS_RB_LV_FILTER_AUTOCOMMITT	"Аутоматско слање унетих вредности у филтер"
	IDS_RB_LV_FILTER_AUTOCOMMITD	"Аутоматски шаље улазне вредности у уграђени филтер."
	IDS_RB_LV_EXT_MODEL		"Прикажи сортирање"
	IDS_RB_LV_SORTUP_KEYL		"по кључу"
	IDS_RB_LV_SORTUP_KEYT		"Сортирај по растућем и МИДИ тастеру."
	IDS_RB_LV_SORTUP_SCENEL		"око бине"
	IDS_RB_LV_SORTUP_SCENET		"Сортирање по растућој и МИДИ сцени."
	IDS_RB_LV_SORTUP_TARGETL	"по договору 1"
	IDS_RB_LV_SORTUP_TARGETT	"Сортирај по растућем и МИДИ одредишту 1."
	IDS_RB_LV_SORTUP_TARGETLONGL	"по договору 2"
	IDS_RB_LV_SORTUP_TARGETLONGT	"Сортирање по растућем и МИДИ одредишту 2."
	IDS_RB_LV_SORTDOWN_KEYT		"Сортирај по опадајућем и МИДИ тастеру."
	IDS_RB_LV_SORTDOWN_SCENET	"Сортирање по опадајућем редоследу и МИДИ сцени."
	IDS_RB_LV_SORTDOWN_TARGETT	"Сортирање по опадајућем редоследу и МИДИ одредишту 1."
	IDS_RB_LV_SORTDOWN_TARGETLONGT	"Сортирање по опадајућем редоследу и МИДИ одредишту 2."
END
