#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Последние файлы:"
	STR_RB_TABHOMEL			"Редактирование"
	STR_RB_TABFILTERL		"Фильтры"
	STR_RB_PANEL_EDITMAINL		"редактировать MIDI ключ"
	STR_RB_PANEL_EDITSETL		"группа MIDI ключа"
	STR_RB_PANEL_EDITOPTL		"параметры редактора"
	STR_RB_PANEL_FILTERL		"выбор фильтров просмотра"
	STR_RB_PANEL_SORTL		"сортировка"
	STR_RB_MENUL			"&Меню"
	STR_RB_MENUT			"Меню приложения"
	STR_RB_PANEL_QATL		"&Быстрый доступ"
	STR_RB_PANEL_QATT		"Панель быстрого доступа"
	STR_RB_DIALOG_SAVEL		"&Сохранить"
	STR_RB_DIALOG_SAVET		"Сохранить и применить"
	STR_RB_DIALOG_SAVED		"Сохранить в загруженный ранее файл и обновить текущую конфигурацию."
	STR_RB_DIALOG_EXPORTL		"&Экспорт"
	STR_RB_DIALOG_EXPORTT		"Экспорт в новый файл"
	STR_RB_DIALOG_EXPORTD		"Экспортировать отредактированную конфигурацию в новый файл."
	STR_RB_DIALOG_IMPORTL		"&Импорт"
	STR_RB_DIALOG_IMPORTT		"Импорт из файла"
	STR_RB_DIALOG_IMPORTD		"Импортировать конфигурацию из файла."
	STR_RB_DIALOG_EXITL		"&Выход"
	STR_RB_DIALOG_EXITT		"Выход из редактора"
	STR_RB_DIALOG_EXITD		"Выход из редактора конфигурации MIDI ключей, если изменения не сохранены, они будут утеряны."
	STR_RB_LV_NEWL			"&Новый MIDI ключ"
	STR_RB_LV_NEWT			"Новый MIDI ключ"
	STR_RB_LV_NEWD			"Создание нового MIDI ключа."
	STR_RB_LV_COPYL			"&Копировать"
	STR_RB_LV_COPYT			"Копировать MIDI ключ"
	STR_RB_LV_COPYD			"Скопировать выбранную запись MIDI ключа."
	STR_RB_LV_PASTEL		"&Вставить"
	STR_RB_LV_PASTET		"Вставить ключ"
	STR_RB_LV_PASTED		"Вставить скопированный MIDI ключ."
	STR_RB_LV_DELETEL		"&Удалить"
	STR_RB_LV_DELETET		"Удалить ключ"
	STR_RB_LV_DELETED		"Удалить выбранную запись MIDI ключа."
	STR_RB_LV_SET_MQTTL		"Умный дом"
	STR_RB_LV_SET_MQTTT		"Установить группу как «Умный дом»."
	STR_RB_LV_SET_MQTTD		"Назначить выбранный MIDI ключ к группе «Умный дом»."
	STR_RB_LV_SET_MMKEYL		"Мультимедиа кнопки"
	STR_RB_LV_SET_MMKEYT		"Установить группу как «Мультимедиа кнопки»"
	STR_RB_LV_SET_MMKEYD		"Назначить выбранный MIDI ключ к группе «Мультимедиа кнопки»."
	STR_RB_LV_SET_MIXERL		"Аудио микшер"
	STR_RB_LV_SET_MIXERT		"Установить группу как «Аудио микшер»"
	STR_RB_LV_SET_MIXERD		"Назначить выбранный MIDI ключ к группе «Аудио микшер»."
	STR_RB_LV_READ_MIDI_CODEL	"Читать MIDI код"
	STR_RB_LV_READ_MIDI_CODET	"Прочесть MIDI код контрола"
	STR_RB_LV_READ_MIDI_CODED	"Чтение MIDI кода из поверхности контроля или MIDI клавиатуры."
	STR_RB_LV_EDIT_MODEL		"Только цифровой ввод"
	STR_RB_LV_EDIT_MODET		"Использовать только цифровой ввод"
	STR_RB_LV_EDIT_MODED		"Не использовать меню выбора значений, использовать только цифровой ввод."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI панель управления"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Рекомендуемые настройки"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Рекомендуемые настройки панели управления MIDI, совместимые с элементами управления Adobe Premiere Pro."
	STR_RB_LV_FILTER_EMBEDL		"Встроенные фильтры"
	STR_RB_LV_FILTER_KEYL		"Ключ"
	STR_RB_LV_FILTER_KEYT		"Фильтровать по MIDI ключу"
	STR_RB_LV_FILTER_KEYD		"Показывать только совпадения в группе MIDI ключей."
	STR_RB_LV_FILTER_SCENEL		"Сцена"
	STR_RB_LV_FILTER_SCENET		"Фильтровать по MIDI сцене"
	STR_RB_LV_FILTER_SCENED		"Показывать только совпадения в группе MIDI сцены."
	STR_RB_LV_FILTER_TARGETL	"Назначение 1"
	STR_RB_LV_FILTER_TARGETT	"Фильтровать по назначению 1"
	STR_RB_LV_FILTER_TARGETD	"Показывать только совпадения в группе по целевому назначению 1."
	STR_RB_LV_FILTER_TARGETLONGL	"Назначение 2"
	STR_RB_LV_FILTER_TARGETLONGT	"Фильтровать по назначению 2"
	STR_RB_LV_FILTER_TARGETLONGD	"Показывать только совпадения в группе по целевому назначению 2."
	STR_RB_LV_FILTER_CLEARL		"Очистить фильтры"
	STR_RB_LV_FILTER_CLEART		"Очистка фильтров"
	STR_RB_LV_FILTER_CLEARD		"Полная очистка фильтров, будут показаны все записи."
	STR_RB_LV_FILTER_SETL		"Установить фильтр"
	STR_RB_LV_FILTER_SETT		"Установка фильтра"
	STR_RB_LV_FILTER_SETD		"Установка фильтра показывает все недействительные элементы."
	STR_RB_LV_FILTER_ONL		"Применить фильтр"
	STR_RB_LV_FILTER_ONT		"Применение фильтра"
	STR_RB_LV_FILTER_OND		"Применение фильтра показывает выбранные элементы."
	STR_RB_LV_FILTER_OFFL		"Отменить фильтр"
	STR_RB_LV_FILTER_OFFT		"Отмена фильтра"
	STR_RB_LV_FILTER_OFFD		"Отмена фильтра покажет все элементы."
	STR_RB_LV_FILTER_MMKEYL		"Показать «Мультимедиа кнопки»"
	STR_RB_LV_FILTER_MMKEYT		"Фильтровать по группе «Мультимедиа кнопки»"
	STR_RB_LV_FILTER_MMKEYD		"Применение фильтра покажет членов группы «Мультимедиа кнопки»."
	STR_RB_LV_FILTER_MIXERL		"Показать «Аудио микшер»"
	STR_RB_LV_FILTER_MIXERT		"Фильтровать по группе «Аудио микшер»"
	STR_RB_LV_FILTER_MIXERD		"Применение фильтра покажет членов группы «Аудио микшер»."
	STR_RB_LV_FILTER_MQTTL		"Показать «Умный дом»"
	STR_RB_LV_FILTER_MQTTT		"Фильтровать по группе «Умный дом»"
	STR_RB_LV_FILTER_MQTTD		"Применение фильтра покажет членов группы «Умный дом»."
	STR_RB_LV_FILTER_LIGHT8L	"Показать «Освещение 8 бит»"
	STR_RB_LV_FILTER_LIGHT8T	"Фильтровать по группе «Освещение 8 бит»"
	STR_RB_LV_FILTER_LIGHT8D	"Применение фильтра покажет членов группы «Освещение» с 8 битными каналами."
	STR_RB_LV_FILTER_LIGHT16L	"Показать «Освещение 16 бит»"
	STR_RB_LV_FILTER_LIGHT16T	"Фильтровать по группе «Освещение 16 бит»"
	STR_RB_LV_FILTER_LIGHT16D	"Применение фильтра покажет членов группы «Освещение» с 16 битными каналами."
	STR_RB_LV_FILTER_SCRIPTL	"Показать «Скрипты»"
	STR_RB_LV_FILTER_SCRIPTT	"Фильтровать по группе «Скрипты» ChaiScript"
	STR_RB_LV_FILTER_SCRIPTD	"Применение фильтра покажет членов группы «Скрипты»."
	STR_RB_LV_FILTER_TYPEBTNL	"Тип фильтра"
	STR_RB_LV_FILTER_TYPEBTNT	"Установка типа применяемых фильтров"
	STR_RB_LV_FILTER_TYPEBTND	"Типы применяемых фильтров имеют два логических состояния: «И», «ИЛИ»."
	STR_RB_LV_FILTER_TYPEGRPL	"Выбор типа фильтрации"
	STR_RB_LV_FILTER_TYPEORL	"Показывать любые совпадения"
	STR_RB_LV_FILTER_TYPEORT	"Показывать записи с любым совпадением"
	STR_RB_LV_FILTER_TYPEORD       	"Фильтр имеет состояние логического «И» и показывает любые совпадения."
	STR_RB_LV_FILTER_TYPEANDL	"Показывать только полные совпадения"
	STR_RB_LV_FILTER_TYPEANDT	"Показывать записи только с полным совпадением"
	STR_RB_LV_FILTER_TYPEANDD	"Фильтр имеет состояние логического «ИЛИ» и показывает только полные совпадения."
	STR_RB_LV_FILTER_AUTOCOMMITL	"Авто отправка данных в фильтре"
	STR_RB_LV_FILTER_AUTOCOMMITT	"Авто отправка вводимых значений в фильтре"
	STR_RB_LV_FILTER_AUTOCOMMITD	"Автоматически отправляет вводимые значения во встроенном фильтре."
	STR_RB_LV_EXT_MODEL		"Показать сортировку"
	STR_RB_LV_SORTUP_KEYL		"по ключу"
	STR_RB_LV_SORTUP_KEYT		"Сортировка по возрастанию и MIDI ключу."
	STR_RB_LV_SORTUP_SCENEL		"по сцене"
	STR_RB_LV_SORTUP_SCENET		"Сортировка по возрастанию и MIDI сцене."
	STR_RB_LV_SORTUP_TARGETL	"по назначению 1"
	STR_RB_LV_SORTUP_TARGETT	"Сортировка по возрастанию и MIDI назначению 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"по назначению 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Сортировка по возрастанию и MIDI назначению 2."
	STR_RB_LV_SORTDOWN_KEYT		"Сортировка по убыванию и MIDI ключу."
	STR_RB_LV_SORTDOWN_SCENET	"Сортировка по убыванию и MIDI сцене."
	STR_RB_LV_SORTDOWN_TARGETT	"Сортировка по убыванию и MIDI назначению 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Сортировка по убыванию и MIDI назначению 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Экспорт в MQTT"
	STR_RB_DIALOG_EXPORTMQTTT	"Экспорт MQTT конфигурации"
	STR_RB_DIALOG_EXPORTMQTTD	"Экспортировать DMX512/ARTNET конфигурацию в новый файл."
	STR_RB_PANEL_EDITUTILL		"Инструменты"
	STR_RB_LV_SET_BUTTONL		"Назначить MIDI ключ"
	STR_RB_LV_SET_BUTTONT		"Назначить выбранный MIDI ключ"
	STR_RB_LV_SET_BUTTOND		"Определить выбранный MIDI ключ как члена группы."
	STR_RB_LV_SET_LIGHT8L		"Освещение 8 бит"
	STR_RB_LV_SET_LIGHT8T		"Установить группу как «Освещение 8 бит»"
	STR_RB_LV_SET_LIGHT8D		"Назначить выбранный MIDI ключ к группе «Освещение 8 бит»."
	STR_RB_LV_SET_LIGHT16L		"Освещение 16 бит"
	STR_RB_LV_SET_LIGHT16T		"Установить группу как «Освещение 16 бит»"
	STR_RB_LV_SET_LIGHT16D		"Назначить выбранный MIDI ключ к группе «Освещение 16 бит»."
	STR_RB_LV_SET_SCRIPTL		"Сценарии"
	STR_RB_LV_SET_SCRIPTT		"Установить группу как «Сценарии»"
	STR_RB_LV_SET_SCRIPTD		"Назначить выбранный MIDI ключ к группе «Сценарии»."
	STR_RB_DIALOG_SHOWDUPL		"Показать дупликаты"
	STR_RB_DIALOG_SHOWDUPT		"Искать дупликаты MIDI ключей"
	STR_RB_DIALOG_SHOWDUPD		"Поиск дубликатов MIDI ключей, при их наличии возможно не ожидаемое поведение."

	STR_RB_DIALOG_DELDUPL		"Удалить дупликаты"
	STR_RB_DIALOG_DELDUPT		"Удалить возможные дупликаты MIDI ключей"
	STR_RB_DIALOG_DELDUPD		"Поиск и удаление дубликатов MIDI ключей, при наличии дубликатов, возможно не ожидаемое поведение."
END
