#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(65001)

STRINGTABLE 
BEGIN
	IDS_RB_DIALOG_LAST_OPENL	"Последние файлы:"
	IDS_RB_TABHOMEL			"Редактирование"
	IDS_RB_TABFILTERL		"Фильтры"
	IDS_RB_PANEL_EDITMAINL		"редактировать MIDI ключ"
	IDS_RB_PANEL_EDITSETL		"установить MIDI ключ как.."
	IDS_RB_PANEL_EDITOPTL		"параметры редактора"
	IDS_RB_PANEL_FILTERL		"выбор фильтров просмотра"
	IDS_RB_PANEL_SORTL		"сортировка"
	IDS_RB_MENUL			"&Меню"
	IDS_RB_MENUT			"Меню приложения"
	IDS_RB_PANEL_QATL		"&Быстрый доступ"
	IDS_RB_PANEL_QATT		"Панель быстрого доступа"
	IDS_RB_DIALOG_SAVEL		"&Сохранить"
	IDS_RB_DIALOG_SAVET		"Сохранить и применить"
	IDS_RB_DIALOG_SAVED		"Сохранить в загруженный ранее файл и обновить текущую конфигурацию."
	IDS_RB_DIALOG_EXPORTL		"&Экспорт"
	IDS_RB_DIALOG_EXPORTT		"Экспорт в новый файл"
	IDS_RB_DIALOG_EXPORTD		"Экспортировать отредактированную конфигурацию в новый файл."
	IDS_RB_DIALOG_IMPORTL		"&Импорт"
	IDS_RB_DIALOG_IMPORTT		"Импорт из файла"
	IDS_RB_DIALOG_IMPORTD		"Импортировать конфигурацию из файла."
	IDS_RB_DIALOG_EXITL		"&Выход"
	IDS_RB_DIALOG_EXITT		"Выход из редактора"
	IDS_RB_DIALOG_EXITD		"Выход из редактора конфигурации MIDI ключей, если изменения не сохранены, они будут утеряны."
	IDS_RB_LV_NEWL			"&Новый MIDI ключ"
	IDS_RB_LV_NEWT			"Новый MIDI ключ"
	IDS_RB_LV_NEWD			"Создание нового MIDI ключа."
	IDS_RB_LV_COPYL			"&Копировать"
	IDS_RB_LV_COPYT			"Копировать MIDI ключ"
	IDS_RB_LV_COPYD			"Скопировать выбранную запись MIDI ключа."
	IDS_RB_LV_PASTEL		"&Вставить"
	IDS_RB_LV_PASTET		"Вставить ключ"
	IDS_RB_LV_PASTED		"Вставить скопированный MIDI ключ."
	IDS_RB_LV_DELETEL		"&Удалить"
	IDS_RB_LV_DELETET		"Удалить ключ"
	IDS_RB_LV_DELETED		"Удалить выбранную запись MIDI ключа."
	IDS_RB_LV_SET_MQTTL		"Умный дом"
	IDS_RB_LV_SET_MQTTT		"Установить группу как «Умный дом»."
	IDS_RB_LV_SET_MQTTD		"Назначить выбранный MIDI ключ к группе «Умный дом»."
	IDS_RB_LV_SET_MMKEYL		"Мультимедиа кнопки"
	IDS_RB_LV_SET_MMKEYT		"Установить группу как «Мультимедиа кнопки»"
	IDS_RB_LV_SET_MMKEYD		"Назначить выбранный MIDI ключ к группе «Мультимедиа кнопки»."
	IDS_RB_LV_SET_MIXERL		"Аудио микшер"
	IDS_RB_LV_SET_MIXERT		"Установить группу как «Аудио микшер»"
	IDS_RB_LV_SET_MIXERD		"Назначить выбранный MIDI ключ к группе «Аудио микшер»."
	IDS_RB_LV_READ_MIDI_CODEL	"Читать MIDI код"
	IDS_RB_LV_READ_MIDI_CODET	"Прочесть MIDI код контрола"
	IDS_RB_LV_READ_MIDI_CODED	"Чтение MIDI кода из поверхности контроля или MIDI клавиатуры."
	IDS_RB_LV_EDIT_MODEL		"Только цифровой ввод"
	IDS_RB_LV_EDIT_MODET		"Использовать только цифровой ввод"
	IDS_RB_LV_EDIT_MODED		"Не использовать меню выбора значений, использовать только цифровой ввод."
	IDS_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI панель управления"
	IDS_RB_DIALOG_SHOW_MIDI_KEYST	"Рекомендуемые настройки"
	IDS_RB_DIALOG_SHOW_MIDI_KEYSD	"Рекомендуемые настройки панели управления MIDI, совместимые с элементами управления Adobe Premiere Pro."
	IDS_RB_LV_FILTER_EMBEDL		"Встроенные фильтры"
	IDS_RB_LV_FILTER_KEYL		"Ключ"
	IDS_RB_LV_FILTER_KEYT		"Фильтровать по MIDI ключу"
	IDS_RB_LV_FILTER_KEYD		"Показывать только совпадения в группе MIDI ключей."
	IDS_RB_LV_FILTER_SCENEL		"Сцена"
	IDS_RB_LV_FILTER_SCENET		"Фильтровать по MIDI сцене"
	IDS_RB_LV_FILTER_SCENED		"Показывать только совпадения в группе MIDI сцены."
	IDS_RB_LV_FILTER_TARGETL	"Назначение 1"
	IDS_RB_LV_FILTER_TARGETT	"Фильтровать по назначению 1"
	IDS_RB_LV_FILTER_TARGETD	"Показывать только совпадения в группе по целевому назначению 1."
	IDS_RB_LV_FILTER_TARGETLONGL	"Назначение 2"
	IDS_RB_LV_FILTER_TARGETLONGT	"Фильтровать по назначению 2"
	IDS_RB_LV_FILTER_TARGETLONGD	"Показывать только совпадения в группе по целевому назначению 2."
	IDS_RB_LV_FILTER_CLEARL		"Очистить фильтры"
	IDS_RB_LV_FILTER_CLEART		"Очистка фильтров"
	IDS_RB_LV_FILTER_CLEARD		"Полная очистка фильтров, будут показаны все записи."
	IDS_RB_LV_FILTER_SETL		"Установить фильтр"
	IDS_RB_LV_FILTER_SETT		"Установка фильтра"
	IDS_RB_LV_FILTER_SETD		"Установка фильтра показывает все недействительные элементы."
	IDS_RB_LV_FILTER_ONL		"Применить фильтр"
	IDS_RB_LV_FILTER_ONT		"Применение фильтра"
	IDS_RB_LV_FILTER_OND		"Применение фильтра показывает выбранные элементы."
	IDS_RB_LV_FILTER_OFFL		"Отменить фильтр"
	IDS_RB_LV_FILTER_OFFT		"Отмена фильтра"
	IDS_RB_LV_FILTER_OFFD		"Отмена фильтра покажет все элементы."
	IDS_RB_LV_FILTER_MMKEYL		"Показать «Мультимедиа кнопки»"
	IDS_RB_LV_FILTER_MMKEYT		"Фильтровать по группе «Мультимедиа кнопки»"
	IDS_RB_LV_FILTER_MMKEYD		"Применение фильтра покажет членов группы «Мультимедиа кнопки»."
	IDS_RB_LV_FILTER_MIXERL		"Показать «Аудио микшер»"
	IDS_RB_LV_FILTER_MIXERT		"Фильтровать по группе «Аудио микшер»"
	IDS_RB_LV_FILTER_MIXERD		"Применение фильтра покажет членов группы «Аудио микшер»."
	IDS_RB_LV_FILTER_MQTTL		"Показать «Умный дом»"
	IDS_RB_LV_FILTER_MQTTT		"Фильтровать по группе «Умный дом»"
	IDS_RB_LV_FILTER_MQTTD		"Применение фильтра покажет членов группы «Умный дом»."
	IDS_RB_LV_FILTER_TYPEBTNL	"Тип фильтра"
	IDS_RB_LV_FILTER_TYPEBTNT	"Установка типа применяемых фильтров"
	IDS_RB_LV_FILTER_TYPEBTND	"Типы применяемых фильтров имеют два логических состояния: «И», «ИЛИ»."
	IDS_RB_LV_FILTER_TYPEGRPL	"Выбор типа фильтрации"
	IDS_RB_LV_FILTER_TYPEORL	"Показывать любые совпадения"
	IDS_RB_LV_FILTER_TYPEORT	"Показывать записи с любым совпадением"
	IDS_RB_LV_FILTER_TYPEORD       	"Фильтр имеет состояние логического «И» и показывает любые совпадения."
	IDS_RB_LV_FILTER_TYPEANDL	"Показывать только полные совпадения"
	IDS_RB_LV_FILTER_TYPEANDT	"Показывать записи только с полным совпадением"
	IDS_RB_LV_FILTER_TYPEANDD	"Фильтр имеет состояние логического «ИЛИ» и показывает только полные совпадения."
	IDS_RB_LV_FILTER_AUTOCOMMITL	"Авто отправка данных в фильтре"
	IDS_RB_LV_FILTER_AUTOCOMMITT	"Авто отправка вводимых значений в фильтре"
	IDS_RB_LV_FILTER_AUTOCOMMITD	"Автоматически отправляет вводимые значения во встроенном фильтре."
	IDS_RB_LV_EXT_MODEL		"Показать сортировку"
	IDS_RB_LV_SORTUP_KEYL		"по ключу"
	IDS_RB_LV_SORTUP_KEYT		"Сортировка по возрастанию и MIDI ключу."
	IDS_RB_LV_SORTUP_SCENEL		"по сцене"
	IDS_RB_LV_SORTUP_SCENET		"Сортировка по возрастанию и MIDI сцене."
	IDS_RB_LV_SORTUP_TARGETL	"по назначению 1"
	IDS_RB_LV_SORTUP_TARGETT	"Сортировка по возрастанию и MIDI назначению 1."
	IDS_RB_LV_SORTUP_TARGETLONGL	"по назначению 2"
	IDS_RB_LV_SORTUP_TARGETLONGT	"Сортировка по возрастанию и MIDI назначению 2."
	IDS_RB_LV_SORTDOWN_KEYT		"Сортировка по убыванию и MIDI ключу."
	IDS_RB_LV_SORTDOWN_SCENET	"Сортировка по убыванию и MIDI сцене."
	IDS_RB_LV_SORTDOWN_TARGETT	"Сортировка по убыванию и MIDI назначению 1."
	IDS_RB_LV_SORTDOWN_TARGETLONGT	"Сортировка по убыванию и MIDI назначению 2."
END
