#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_SPANISH, SUBLANG_SPANISH

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Archivos más recientes:"
	STR_RB_TABHOMEL			"Edición"
	STR_RB_TABFILTERL		"Filtros"
	STR_RB_PANEL_EDITMAINL		"editar clave MIDI"
	STR_RB_PANEL_EDITSETL		"grupo de teclas midi"
	STR_RB_PANEL_EDITOPTL		"opciones del editor"
	STR_RB_PANEL_FILTERL		"selección de filtros de visualización"
	STR_RB_PANEL_SORTL		"clasificación"
	STR_RB_MENUL			"&Menú"
	STR_RB_MENUT			"Menú de aplicaciones"
	STR_RB_PANEL_QATL		"&Acceso rápido"
	STR_RB_PANEL_QATT		"Acceso rapido a la barra de herramientas"
	STR_RB_DIALOG_SAVEL		"&Ahorrar"
	STR_RB_DIALOG_SAVET		"Guardar y aplicar"
	STR_RB_DIALOG_SAVED		"Guarde en el archivo descargado anteriormente y actualice la configuración actual."
	STR_RB_DIALOG_EXPORTL		"&Exportar"
	STR_RB_DIALOG_EXPORTT		"Exportar a un nuevo archivo"
	STR_RB_DIALOG_EXPORTD		"Exporte la configuración editada a un nuevo archivo."
	STR_RB_DIALOG_IMPORTL		"&Importar"
	STR_RB_DIALOG_IMPORTT		"Importar desde archivo"
	STR_RB_DIALOG_IMPORTD		"Importar configuración desde archivo."
	STR_RB_DIALOG_EXITL		"&Salida"
	STR_RB_DIALOG_EXITT		"Salir del editor"
	STR_RB_DIALOG_EXITD		"Sale del editor de configuración de clave MIDI; si los cambios no se guardan, se perderán."
	STR_RB_LV_NEWL			"&Nueva clave MIDI"
	STR_RB_LV_NEWT			"Nueva clave MIDI"
	STR_RB_LV_NEWD			"Creando una nueva clave MIDI."
	STR_RB_LV_COPYL			"&Copiar"
	STR_RB_LV_COPYT			"Copiar clave MIDI"
	STR_RB_LV_COPYD			"Copie la entrada de clave MIDI seleccionada."
	STR_RB_LV_PASTEL		"&Insertar"
	STR_RB_LV_PASTET		"Insertar clave"
	STR_RB_LV_PASTED		"Pegue la clave MIDI copiada."
	STR_RB_LV_DELETEL		"&Borrar"
	STR_RB_LV_DELETET		"Eliminar clave"
	STR_RB_LV_DELETED		"Elimina la entrada de clave MIDI seleccionada."
	STR_RB_LV_SET_MQTTL		"Casa inteligente"
	STR_RB_LV_SET_MQTTT		"Configure el grupo como “Hogar inteligente”."
	STR_RB_LV_SET_MQTTD		"Asigne la tecla MIDI seleccionada al grupo “Smart Home”."
	STR_RB_LV_SET_MMKEYL		"Botones multimedia"
	STR_RB_LV_SET_MMKEYT		"Establecer el grupo como “Botones multimedia”"
	STR_RB_LV_SET_MMKEYD		"Asigne la tecla MIDI seleccionada al grupo “Botones multimedia”."
	STR_RB_LV_SET_MIXERL		"mezclador de audio"
	STR_RB_LV_SET_MIXERT		"Establecer grupo como “Mezclador de audio”"
	STR_RB_LV_SET_MIXERD		"Asigne la tecla MIDI seleccionada al grupo “Mezclador de audio”."
	STR_RB_LV_READ_MIDI_CODEL	"Leer código MIDI"
	STR_RB_LV_READ_MIDI_CODET	"Leer código de control MIDI"
	STR_RB_LV_READ_MIDI_CODED	"Lea código MIDI desde una superficie de control o teclado MIDI."
	STR_RB_LV_EDIT_MODEL		"Sólo entrada digital"
	STR_RB_LV_EDIT_MODET		"Utilice sólo entrada digital"
	STR_RB_LV_EDIT_MODED		"No utilice el menú de selección de valores, utilice únicamente la entrada digital."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"Panel de control MIDI"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Configuraciones recomendadas"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Configuración recomendada del panel de control MIDI compatible con los controles de Adobe Premiere Pro."
	STR_RB_LV_FILTER_EMBEDL		"Filtros incorporados"
	STR_RB_LV_FILTER_KEYL		"Llave"
	STR_RB_LV_FILTER_KEYT		"Filtrar por clave MIDI"
	STR_RB_LV_FILTER_KEYD		"Muestra solo coincidencias dentro de un grupo de claves MIDI."
	STR_RB_LV_FILTER_SCENEL		"Escena"
	STR_RB_LV_FILTER_SCENET		"Filtrar por escena MIDI"
	STR_RB_LV_FILTER_SCENED		"Muestra solo coincidencias en el grupo de escenas MIDI."
	STR_RB_LV_FILTER_TARGETL	"Propósito 1"
	STR_RB_LV_FILTER_TARGETT	"Filtrar por destino 1"
	STR_RB_LV_FILTER_TARGETD	"Mostrar sólo coincidencias en el grupo objetivo 1."
	STR_RB_LV_FILTER_TARGETLONGL	"Propósito 2"
	STR_RB_LV_FILTER_TARGETLONGT	"Filtrar por destino 2"
	STR_RB_LV_FILTER_TARGETLONGD	"Mostrar sólo coincidencias en el grupo objetivo 2."
	STR_RB_LV_FILTER_CLEARL		"Limpiar filtros"
	STR_RB_LV_FILTER_CLEART		"Filtros de limpieza"
	STR_RB_LV_FILTER_CLEARD		"Filtros completamente claros, se mostrarán todas las entradas."
	STR_RB_LV_FILTER_SETL		"Establecer filtro"
	STR_RB_LV_FILTER_SETT		"Instalación de filtro"
	STR_RB_LV_FILTER_SETD		"Al configurar el filtro se muestran todos los elementos no válidos."
	STR_RB_LV_FILTER_ONL		"Aplicar filtro"
	STR_RB_LV_FILTER_ONT		"Aplicando un filtro"
	STR_RB_LV_FILTER_OND		"Al aplicar un filtro se muestran los elementos seleccionados."
	STR_RB_LV_FILTER_OFFL		"Cancelar filtro"
	STR_RB_LV_FILTER_OFFT		"Cancelar filtro"
	STR_RB_LV_FILTER_OFFD		"Al cancelar el filtro se mostrarán todos los elementos."
	STR_RB_LV_FILTER_MMKEYL		"Mostrar “Botones multimedia”"
	STR_RB_LV_FILTER_MMKEYT		"Filtrar por grupo “Botones multimedia”"
	STR_RB_LV_FILTER_MMKEYD		"Al aplicar un filtro se mostrarán los miembros del grupo de Botones Multimedia."
	STR_RB_LV_FILTER_MIXERL		"Mostrar “Mezclador de audio”"
	STR_RB_LV_FILTER_MIXERT		"Filtrar por grupo “Mezclador de audio”"
	STR_RB_LV_FILTER_MIXERD		"Al aplicar un filtro se mostrarán los miembros del grupo Mezclador de audio."
	STR_RB_LV_FILTER_MQTTL		"Mostrar “Hogar inteligente”"
	STR_RB_LV_FILTER_MQTTT		"Filtrar por grupo “Hogar Inteligente”"
	STR_RB_LV_FILTER_MQTTD		"Al aplicar un filtro se mostrarán los miembros del grupo Smart Home."
	STR_RB_LV_FILTER_LIGHT8L	"Mostrar “Iluminación 8 bits”"
	STR_RB_LV_FILTER_LIGHT8T	"Filtrar por grupo “Iluminación 8 bits”"
	STR_RB_LV_FILTER_LIGHT8D	"Al aplicar el filtro se mostrarán los miembros del grupo Iluminación con canales de 8 bits."
	STR_RB_LV_FILTER_LIGHT16L	"Mostrar “iluminación de 16 bits”"
	STR_RB_LV_FILTER_LIGHT16T	"Filtrar por grupo “iluminación de 16 bits”"
	STR_RB_LV_FILTER_LIGHT16D	"Al aplicar el filtro se mostrarán los miembros del grupo Iluminación con canales de 16 bits."
	STR_RB_LV_FILTER_SCRIPTL	"Mostrar “guiones”"
	STR_RB_LV_FILTER_SCRIPTT	"Filtrar por grupo “Scripts” ChaiScript"
	STR_RB_LV_FILTER_SCRIPTD	"Al aplicar un filtro se mostrarán los miembros del grupo Scripts."
	STR_RB_LV_FILTER_TYPEBTNL	"Tipo de filtro"
	STR_RB_LV_FILTER_TYPEBTNT	"Configurar el tipo de filtros a aplicar"
	STR_RB_LV_FILTER_TYPEBTND	"Los tipos de filtros utilizados tienen dos estados lógicos: “Y”, “O”."
	STR_RB_LV_FILTER_TYPEGRPL	"Seleccionar un tipo de filtro"
	STR_RB_LV_FILTER_TYPEORL	"Mostrar cualquier coincidencia"
	STR_RB_LV_FILTER_TYPEORT	"Mostrar entradas con cualquier coincidencia"
	STR_RB_LV_FILTER_TYPEORD       	"El filtro tiene un estado lógico AND y muestra cualquier coincidencia."
	STR_RB_LV_FILTER_TYPEANDL	"Mostrar solo coincidencias completas"
	STR_RB_LV_FILTER_TYPEANDT	"Mostrar registros con coincidencias exactas únicamente"
	STR_RB_LV_FILTER_TYPEANDD	"El filtro tiene un estado OR lógico y muestra solo coincidencias completas."
	STR_RB_LV_FILTER_AUTOCOMMITL	"Envío automático de datos en el filtro."
	STR_RB_LV_FILTER_AUTOCOMMITT	"Envío automático de valores ingresados ​​en el filtro."
	STR_RB_LV_FILTER_AUTOCOMMITD	"Envía automáticamente valores de entrada en un filtro integrado."
	STR_RB_LV_EXT_MODEL		"Mostrar clasificación"
	STR_RB_LV_SORTUP_KEYL		"por clave"
	STR_RB_LV_SORTUP_KEYT		"Ordenar por clave ascendente y MIDI."
	STR_RB_LV_SORTUP_SCENEL		"alrededor del escenario"
	STR_RB_LV_SORTUP_SCENET		"Ordenación por escena ascendente y MIDI."
	STR_RB_LV_SORTUP_TARGETL	"con cita previa 1"
	STR_RB_LV_SORTUP_TARGETT	"Ordenar por destino ascendente y MIDI 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"con cita previa 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Ordenación ascendente y destino MIDI 2."
	STR_RB_LV_SORTDOWN_KEYT		"Ordenación descendente y clave MIDI."
	STR_RB_LV_SORTDOWN_SCENET	"Clasificación por orden descendente y escena MIDI."
	STR_RB_LV_SORTDOWN_TARGETT	"Ordenación por orden descendente y destino MIDI 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Ordenar por orden descendente y destino MIDI 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Exportar a MQTT"
	STR_RB_DIALOG_EXPORTMQTTT	"Exportar configuración MQTT"
	STR_RB_DIALOG_EXPORTMQTTD	"Exporte la configuración DMX512/ARTNET a un nuevo archivo."
	STR_RB_PANEL_EDITUTILL		"Herramientas"
	STR_RB_LV_SET_BUTTONL		"Asignar clave MIDI"
	STR_RB_LV_SET_BUTTONT		"Asignar clave MIDI seleccionada"
	STR_RB_LV_SET_BUTTOND		"Defina la tecla MIDI seleccionada como miembro del grupo."
	STR_RB_LV_SET_LIGHT8L		"iluminación de 8 bits"
	STR_RB_LV_SET_LIGHT8T		"Establecer grupo como “Iluminación de 8 bits”"
	STR_RB_LV_SET_LIGHT8D		"Asigne la clave MIDI seleccionada al grupo “Lighting 8 Bit”."
	STR_RB_LV_SET_LIGHT16L		"Iluminación de 16 bits"
	STR_RB_LV_SET_LIGHT16T		"Establecer grupo como “Iluminación de 16 bits”"
	STR_RB_LV_SET_LIGHT16D		"Asigne la clave MIDI seleccionada al grupo “Lighting 16-bit”."
	STR_RB_LV_SET_SCRIPTL		"Escenarios"
	STR_RB_LV_SET_SCRIPTT		"Establecer grupo como “Scripts”"
	STR_RB_LV_SET_SCRIPTD		"Asigne la tecla MIDI seleccionada al grupo “Scripts”."
	STR_RB_DIALOG_SHOWDUPL		"Mostrar duplicados"
	STR_RB_DIALOG_SHOWDUPT		"Encuentra claves MIDI duplicadas"
	STR_RB_DIALOG_SHOWDUPD		"Busque claves MIDI duplicadas; si están presentes, puede ocurrir un comportamiento inesperado."

	STR_RB_DIALOG_DELDUPL		"Eliminar duplicados"
	STR_RB_DIALOG_DELDUPT		"Eliminar posibles claves MIDI duplicadas"
	STR_RB_DIALOG_DELDUPD		"Es posible que la búsqueda y eliminación de claves MIDI duplicadas, si hay duplicados, no funcione como se esperaba."
END
