#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_ARABIC, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT թարգմանիչ"
    STRING_MIXER	"&Խառնիչ"
    STRING_SETTINGS	"&Կարգավորումներ"
    STRING_START	"Սկսել"
    STRING_STOP		"Դադարեցրեք"
    STRING_EXIT		"Ելք"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Կազմաձևը բեռնված է վարորդից"
    STRING_EDIT_MSG2	"Ֆայլից բեռնված կոնֆիգուրացիան"
    STRING_EDIT_MSG3	"Կազմաձևը ստեղծվել է նորովի և պահանջում է լրացում"
    STRING_EDIT_MSG4	"Խմբագրիչը բացելիս նշվել է կազմաձևման ֆայլը՝ «{0}»: Պահե՞լ այն նույն անունով:"
    STRING_EDIT_MSG5	"DMX ալիքի համարը"

    STRING_NOTIFY_MSG1	"թարգմանիչը դադարեցված է."
    STRING_NOTIFY_MSG2	"թարգմանիչը աշխատում է."

    STRING_AMIX_MSG1	"Աուդիո խառնիչը չի աշխատում, ստուգեք կարգավորումները, աուդիո վահանակի գործարկումը պետք է միացված լինի:"
    STRING_AMIX_MSG2	"MIDIMT - Աուդիո խառնիչը չի աշխատում."
    STRING_AMIX_MSG3	"Իրադարձության անվավեր ID: Խնդրում ենք վերագործարկել այս հավելվածը:"
    STRING_AMIX_MSG4	"MIDIMT - Հնարավոր չէ ավարտել գործողությունը."
    STRING_AMIX_MSG5	"Չհաջողվեց անցնել UI շարանը, աուդիո վահանակի գործարկումը ընդհատվեց:"

    STRING_MAIN_MSG1	"Հավելվածի սկզբնավորման սխալ, շարունակությունը հնարավոր չէ:"
    STRING_MAIN_MSG2	"Ստուգեք օգտատիրոջ թույլտվությունները՝ հավելվածի գրացուցակում ֆայլեր գրելու համար: Եթե ​​սխալը շարունակվում է, փորձեք անջատել գրանցումը:"
    STRING_MAIN_MSG3	"Autorun-ն անջատված է ընդհանուր կազմաձևում:"
    STRING_MAIN_MSG4	"Ընտրված կոնֆիգուրացիան չի աջակցում ավտոմատ մեկնարկին:"

    STRING_LOGV_MSG1	"Խնդրում ենք, նախքան մոնիտորը միացնելը, մենյուից գործարկեք թարգմանիչը՝ ընտրելով «Սկսել»:"
    STRING_LOGV_MSG2	"Բոլոր կարգավորումները «{0}», կազմաձևման ֆայլի տարբերակը՝ {1}"
    STRING_LOGV_MSG3	"MIDI-ի կարգավորումներ"
    STRING_LOGV_MSG4	"Խելացի տան կարգավորումներ (MQTT)"
    STRING_LOGV_MSG5	"Մուլտիմեդիա ստեղնաշարի կարգավորումներ (MMKEYS)"
    STRING_LOGV_MSG6	"Լուսավորության կառավարման կարգավորումներ ({0})"
    STRING_LOGV_MSG7	"Հեռակառավարման վահանակի կարգավորումներ (REMOTE)"

    STRING_CHKR_MSG1	"Գործարկման ժամանակ կազմաձևման ֆայլը նշվեց՝ «{0}»: Սահմանե՞լ այն որպես կոնֆիգուրացիա հետագա գործարկումների համար:"
    STRING_CHKR_MSG2	"MIDI-MT կոնֆիգուրացիա"

    STRING_TMENU_MSG1	"Ձեզ անհրաժեշտ է տեղադրել վիրտուալ MIDI դրայվերը:"

    STRING_LANG_STATUS	"կարգավիճակը:"
    STRING_LANG_YES	"Այո՛"
    STRING_LANG_NO	"Ոչ"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "ձայնի ծավալը (հիմնական)"
	IDM_COL4_MAP  "ձայնային հավասարակշռություն (հիմնական)"
	IDM_COL4_MAM  "համր (հիմնական)"
	IDM_COL4_MAS  "աուդիո սոլո (հիմնական)"
	IDM_COL4_JOG  "JOG (հետադարձ վիդեո շրջանակ)"
	IDM_COL4_AV1  "ձայնի ծավալը (ալիք 1)"
	IDM_COL4_AV2  "ձայնի ծավալը (ալիք 2)"
	IDM_COL4_AV3  "ձայնի ծավալը (3-րդ ալիք)"
	IDM_COL4_AV4  "ձայնի ծավալը (ալիք 4)"
	IDM_COL4_AV5  "ձայնի ծավալը (ալիք 5)"
	IDM_COL4_AV6  "ձայնի ծավալը (6-րդ ալիք)"
	IDM_COL4_AV7  "ձայնի ծավալը (7-րդ ալիք)"
	IDM_COL4_AV8  "ձայնի ծավալը (8-րդ ալիք)"
	IDM_COL4_XV9  "ձայնի ծավալը (9-րդ ալիք)"
	IDM_COL4_AP1  "ձայնային հավասարակշռություն (ալիք 1)"
	IDM_COL4_AP2  "ձայնային հավասարակշռություն (ալիք 2)"
	IDM_COL4_AP3  "ձայնային հավասարակշռություն (ալիք 3)"
	IDM_COL4_AP4  "ձայնային հավասարակշռություն (ալիք 4)"
	IDM_COL4_AP5  "ձայնային հավասարակշռություն (ալիք 5)"
	IDM_COL4_AP6  "ձայնային հավասարակշռություն (6-րդ ալիք)"
	IDM_COL4_AP7  "ձայնային հավասարակշռություն (7-րդ ալիք)"
	IDM_COL4_AP8  "ձայնային հավասարակշռություն (8-րդ ալիք)"
	IDM_COL4_XP9  "ձայնային հավասարակշռություն (9-րդ ալիք)"
	IDM_COL4_B11  "աուդիո սոլո (ալիք 1)"
	IDM_COL4_B12  "աուդիո սոլո (ալիք 2)"
	IDM_COL4_B13  "աուդիո սոլո (ալիք 3)"
	IDM_COL4_B14  "աուդիո սոլո (ալիք 4)"
	IDM_COL4_B15  "աուդիո սոլո (ալիք 5)"
	IDM_COL4_B16  "աուդիո սոլո (6-րդ ալիք)"
	IDM_COL4_B17  "աուդիո սոլո (7-րդ ալիք)"
	IDM_COL4_B18  "աուդիո սոլո (8-րդ ալիք)"
	IDM_COL4_B19  "աուդիո սոլո (9-րդ ալիք)"
	IDM_COL4_B21  "խլացնել (ալիք 1)"
	IDM_COL4_B22  "խլացնել (ալիք 2)"
	IDM_COL4_B23  "խլացնել (ալիք 3)"
	IDM_COL4_B24  "խլացնել (ալիք 4)"
	IDM_COL4_B25  "խլացնել (ալիք 5)"
	IDM_COL4_B26  "խլացնել (6-րդ ալիք)"
	IDM_COL4_B27  "խլացնել (7-րդ ալիք)"
	IDM_COL4_B28  "խլացնել (8-րդ ալիք)"
	IDM_COL4_B29  "խլացնել (9-րդ ալիք)"
	IDM_COL4_B31  "ձայնի ընտրություն (ալիք 1)"
	IDM_COL4_B32  "ձայնի ընտրություն (ալիք 2)"
	IDM_COL4_B33  "ձայնի ընտրություն (3-րդ ալիք)"
	IDM_COL4_B34  "ձայնի ընտրություն (ալիք 4)"
	IDM_COL4_B35  "ձայնի ընտրություն (5-րդ ալիք)"
	IDM_COL4_B36  "ձայնի ընտրություն (6-րդ ալիք)"
	IDM_COL4_B37  "ձայնի ընտրություն (7-րդ ալիք)"
	IDM_COL4_B38  "ձայնի ընտրություն (8-րդ ալիք)"
	IDM_COL4_B39  "ձայնի ընտրություն (9-րդ ալիք)"
	IDM_COL4_FUN11  "ֆունկցիա F1 (ստանդարտ ռեժիմ)"
	IDM_COL4_FUN12  "ֆունկցիա F2 (ստանդարտ ռեժիմ)"
	IDM_COL4_FUN13  "ֆունկցիա F3 (ստանդարտ ռեժիմ)"
	IDM_COL4_FUN14  "ֆունկցիա F4 (ստանդարտ ռեժիմ)"
	IDM_COL4_FUN15  "ֆունկցիա F5 (ստանդարտ ռեժիմ)"
	IDM_COL4_FUN16  "ֆունկցիա F6 (ստանդարտ ռեժիմ)"
	IDM_COL4_FUN17  "ֆունկցիա F7 (ստանդարտ ռեժիմ)"
	IDM_COL4_FUN18  "ֆունկցիա F8 (ստանդարտ ռեժիմ)"
	IDM_COL4_FUN21  "ֆունկցիա F1 (պահված ռեժիմ)"
	IDM_COL4_FUN22  "ֆունկցիա F2 (պահված ռեժիմ)"
	IDM_COL4_FUN23  "ֆունկցիա F3 (պահված ռեժիմ)"
	IDM_COL4_FUN24  "ֆունկցիա F4 (պահված ռեժիմ)"
	IDM_COL4_FUN25  "ֆունկցիա F5 (պահված ռեժիմ)"
	IDM_COL4_FUN26  "ֆունկցիա F6 (պահված ռեժիմ)"
	IDM_COL4_FUN27  "ֆունկցիա F7 (պահված ռեժիմ)"
	IDM_COL4_FUN28  "ֆունկցիա F8 (պահված ռեժիմ)"
	IDM_COL4_SYS_Rewind  "Վերադարձ (խաղացող)"
	IDM_COL4_SYS_Forward  "Արագ առաջ (խաղացող)"
	IDM_COL4_SYS_Stop  "Stop (խաղացող)"
	IDM_COL4_SYS_Play  "Խաղալ (խաղացող)"
	IDM_COL4_SYS_Record  "Ձայնագրում (նվագարկիչ)"
	IDM_COL4_SYS_Up    "Վերև (ջոյսթիկ)"
	IDM_COL4_SYS_Down  "Ներքև (ջոյսթիկ)"
	IDM_COL4_SYS_Left  "Ձախ (ջոյստիկ)"
	IDM_COL4_SYS_Right  "Աջ (ջոյսթիկ)"
	IDM_COL4_SYS_Zoom  "Աճ"
	IDM_COL4_SYS_Scrub  "Սկրաբ"
	IDM_COL4_VOLUMEMIX "Խառնիչի կառավարում"
	IDM_COL4_MEDIAKEY "Մուլտիմեդիա ստեղներ"
        IDM_COL4_MQTTKEY  "Խելացի տան կառավարում"
        IDM_COL4_LIGHTKEY8B "Լուսավորության կառավարում (8 բիթ)"
        IDM_COL4_LIGHTKEY16B "Լուսավորության կառավարում (16 բիթ)"
	IDM_COL4_NONE  "գործողությունը սահմանված չէ"
	IDM_COL4_MQTT_AV1		"մակարդակ 1"
	IDM_COL4_MQTT_AV2		"մակարդակ 2"
	IDM_COL4_MQTT_AV3		"մակարդակ 3"
	IDM_COL4_MQTT_AV4		"մակարդակ 4"
	IDM_COL4_MQTT_AV5		"մակարդակ 5"
	IDM_COL4_MQTT_AV6		"մակարդակ 6"
	IDM_COL4_MQTT_AV7		"մակարդակ 7"
	IDM_COL4_MQTT_AV8		"մակարդակ 8"
	IDM_COL4_MQTT_XV9		"մակարդակ 9"
	IDM_COL4_MQTT_AP1		"մակարդակ 10"
	IDM_COL4_MQTT_AP2		"մակարդակ 11"
	IDM_COL4_MQTT_AP3		"մակարդակ 12"
	IDM_COL4_MQTT_AP4		"մակարդակ 13"
	IDM_COL4_MQTT_AP5		"մակարդակ 14"
	IDM_COL4_MQTT_AP6		"մակարդակ 15"
	IDM_COL4_MQTT_AP7		"մակարդակ 16"
	IDM_COL4_MQTT_AP8		"մակարդակ 17"
	IDM_COL4_MQTT_XP9		"մակարդակ 18"
	IDM_COL4_MQTT_B11		"միացնել/անջատել 1"
	IDM_COL4_MQTT_B12		"միացնել/անջատել 2"
	IDM_COL4_MQTT_B13		"միացնել/անջատել 3"
	IDM_COL4_MQTT_B14		"միացնել/անջատել 4"
	IDM_COL4_MQTT_B15		"միացնել/անջատել 5"
	IDM_COL4_MQTT_B16		"միացնել/անջատել 6"
	IDM_COL4_MQTT_B17		"միացնել/անջատել 7"
	IDM_COL4_MQTT_B18		"միացնել/անջատել 8"
	IDM_COL4_MQTT_B19		"միացնել/անջատել 9"
	IDM_COL4_MQTT_B21		"միացնել/անջատել 10"
	IDM_COL4_MQTT_B22		"միացնել/անջատել 11"
	IDM_COL4_MQTT_B23		"միացնել/անջատել 12"
	IDM_COL4_MQTT_B24		"միացնել/անջատել 13"
	IDM_COL4_MQTT_B25		"միացնել/անջատել 14"
	IDM_COL4_MQTT_B26		"միացնել/անջատել 15"
	IDM_COL4_MQTT_B27		"միացնել/անջատել 16"
	IDM_COL4_MQTT_B28		"միացնել/անջատել 17"
	IDM_COL4_MQTT_B29		"միացնել/անջատել 18"
	IDM_COL4_MQTT_B31		"միացնել/անջատել 19"
	IDM_COL4_MQTT_B32		"միացնել/անջատել 20"
	IDM_COL4_MQTT_B33		"միացնել/անջատել 21"
	IDM_COL4_MQTT_B34		"միացնել/անջատել 22"
	IDM_COL4_MQTT_B35		"միացնել/անջատել 23"
	IDM_COL4_MQTT_B36		"միացնել/անջատել 24"
	IDM_COL4_MQTT_B37		"միացնել/անջատել 25"
	IDM_COL4_MQTT_B38		"միացնել/անջատել 26"
	IDM_COL4_MQTT_B39		"միացնել/անջատել 27"
	IDM_COL4_MQTT_NONE		"Նշանակված չէ"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"լավ"
	IDS_ERRORID_EMPTY			"[Կազմաձևումը դատարկ է..]"
	IDS_ERRORID_UNDEFINED			"Այս սխալը որոշված ​​չէ"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Գրելու մուտքը դեպի կազմաձևման ֆայլ արգելված է, «{0}»"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Կազմաձևման ֆայլը բացակայում է կամ մուտքն արգելված է, «{0}»"
	IDS_ERRORID_JSONCONF_EMPTY		"Կազմաձևման ֆայլը դատարկ է, «{0}»"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"MIDI սարքի անունը կազմաձևված չէ:"
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"Այս կազմաձևում MIDI ստեղներ կազմաձևված չկան:"
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Ուշադրություն, այս կոնֆիգուրացիան չունի MIDI ստեղներ կազմաձևված: ձայնագրված կոնֆիգուրացիան չի աշխատի:"
	IDS_ERRORID_INIT_COINITIALIZE		"Co*Initialize սկզբնավորումը ձախողվեց:"
	IDS_ERRORID_INIT_COCREATE		"Co*Create - չհաջողվեց ստեղծել օրինակ:"
	IDS_ERRORID_INIT_DEFAULT_AE		"Չհաջողվեց ստանալ կանխադրված աուդիո սարքը:"
	IDS_ERRORID_INIT_AS_MANAGER2		"Audio Session Manager-ը խափանվել է:"
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Ձայնի պիկ հաշվիչը հասանելի չէ:"
	IDS_ERRORID_MIXER_STARTOK		"Աուդիո նիստերի խառնիչն աշխատում է, մեկնարկի պահին կան {0} գործող ծրագրեր, որոնք հասանելի են կարգավորման համար:"
	IDS_ERRORID_MIXER_STARTERROR		"Աուդիո նիստերի խառնիչը չհաջողվեց գործարկել, սխալի մանրամասները պետք է լինեն գրանցամատյանում:"
	IDS_ERRORID_MIXER_STOPOK		"Աուդիո նիստերի խառնիչը դադարեցվել է:"
	IDS_ERRORID_MIXER_STOPERROR		"Աուդիո նիստերի խառնիչը ճիշտ չի դադարեցվել, սխալի մանրամասները պետք է լինեն գրանցամատյանում:"
	IDS_ERRORID_NO_INIT			"Նախաձեռնեք նախքան սա զանգահարելը.."
	IDS_ERRORID_SESSION_LIST		"Չհաջողվեց ստանալ աուդիո նիստերի ցանկը:"
	IDS_ERRORID_LISTISNULL			"Աուդիո նիստերի ցանկը դատարկ է:"
	IDS_ERRORID_SESSIONDISCONNECTED		"Անջատում աուդիո սեսիան, reason='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Ստեղծվել է աուդիո նիստ, name='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Ձայնային նստաշրջան «{0}» - գրանցման վատ վիճակ «{1}»՝ {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"Հետկանչից սահմանված արժեքը անվավեր ընտրիչ է:"
	IDS_ERRORID_SET_CB_WARNING		"Հետ կանչի կարգավորումը հնարավոր է միայն MIDI կամուրջի հաջող գործարկումից հետո:"
	IDS_ERRORID_CONFIG_FAIL			"Կազմաձևի բեռնումը ձախողվեց, ֆայլը չի ​​գտնվել, գործարկումն անհնար է:"
	IDS_ERRORID_CONFIG_LOAD			"Կազմաձևը բեռնված է.."
	IDS_ERRORID_CONFIG_LOADA		"Կազմաձևն արդեն բեռնված է.."
	IDS_ERRORID_CONFIG_EMPTY		"Կազմաձևը դատարկ է.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"{0} մոդուլի կոնֆիգուրացիան դատարկ է:"
	IDS_ERRORID_CONFIG_NEW			"Հայտնաբերվել է կազմաձևման նոր տարբերակ.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Կոդում չաջակցվող իրականացում, մեթոդը չվերագրված է՝ {0}"
	IDS_ERRORID_NOT_CONFIG			"Կազմաձևման անունը նշված չէ և չի կարող շարունակվել:"
	IDS_ERRORID_MIDI_NOT_DEVICES		"Սարքերը միացված չեն և չեն կարող շարունակվել:"
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Ուշադրություն, վերջնական ցանկի սարքերի քանակը չի համընկնում, համակարգ/ցուցակ = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Հնարավոր չէ բացել MIDI սարքը, չի կարող շարունակվել, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Հնարավոր չէ գործարկել MIDI սարքը, չի կարող շարունակվել, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Սարքը միացված չէ, ընդհատել, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Գտնվել է {0} սարքը, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Սարքը {0} բաց է, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Սարքը {0} փակ է (համակարգ)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Սարքը {0} պատրաստ է (համակարգ)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Ակտիվ սարքի անունը նշված չէ, շարունակությունն անհնար է, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Պրոքսիի նավահանգիստները կազմաձևում նշված չեն, MIDI վստահված անձը անջատված է:"
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Վարորդի տարբերակը [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Խնդիր վարորդի տարբերակի հետ [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Սարքը {0} ուղարկեց անվավեր արժեք = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"Վիրտուալ MIDI դրայվերը տեղադրված չէ: Դուք պետք է տեղադրեք loopMidi փաթեթը կամ ներբեռնեք ամբողջական տեղադրիչը և նորից տեղադրեք MIDI-MT: Լրացուցիչ մանրամասներ՝ https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Տեղադրված վիրտուալ MIDI դրայվերը չի գտնվել: MIDI-MT թարգմանիչը գործարկելու համար դուք պետք է տեղադրեք Virtual Loop MIDI փաթեթը:"
	IDS_ERRORID_MIDI_PROXY_PORTS		"Գործարկումից հետո կստեղծվեն {0} պրոքսի MIDI պորտեր:"
	IDS_ERRORID_MIDI_PROXY_OFF		"Proxy MIDI պորտերն անջատված են:"
	IDS_ERRORID_MIDI_OUT_PORTS		"Գործարկումից հետո կստեղծվեն {0} MIDI ելքային պորտեր:"
	IDS_ERRORID_MIDI_OUT_OFF		"MIDI ելքային պորտերն անջատված են:"
	IDS_ERRORID_MMKEY_START			"Գործում է Մեդիա բանալիների կառավարման ծառայությունը:"
	IDS_ERRORID_MMKEY_STOP			"Մեդիա բանալիների կառավարման ծառայությունը դադարեցրել է աշխատանքը։"
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"MQTT կոնֆիգուրացիան դատարկ է և չի կարող շարունակվել:"
	IDS_ERRORID_MQTT_CLIENT_ERROR		"MQTT հաճախորդի ստեղծման սխալ, չեղարկում:"
	IDS_ERRORID_MQTT_CLIENT_OK		"MMQTT հաճախորդը հաջողությամբ ստեղծվել է, շարունակեք..."
	IDS_ERRORID_MQTT_CONNECTED		"Միացված է MQTT սերվերին."
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Չհաջողվեց միանալ MQTT սերվերին."
	IDS_ERRORID_MQTT_DISCONNECTED		"Անջատված է MQTT սերվերից."
	IDS_ERRORID_MQTT_NOT_CA_CERT		"CA վկայագրի ֆայլը գոյություն չունի, ուղի = '{0}'"
	IDS_ERRORID_MQTT_START			"Գործարկվել է Smart Home կառավարման ծառայությունը։"
	IDS_ERRORID_MQTT_STOP			"Smart Home կառավարման ծառայությունը դադարեցվել է։"
	IDS_ERRORID_MQTT_CA_FILTER		"CA վկայագիր"
	IDS_ERRORID_LOG_LEVEL_NONE		"գրանցամատյան չի պահվում"
	IDS_ERRORID_LOG_LEVEL_INFO		"տեղեկատվություն"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"ծանուցումներ"
	IDS_ERRORID_LOG_LEVEL_WARNING		"նախազգուշացումներ"
	IDS_ERRORID_LOG_LEVEL_ERR		"միայն սխալներ"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"բոլոր հաղորդագրությունները"
	IDS_ERRORID_PANEL_INDEX			"Audio Mixer Panel - Հնարավոր չէ շարունակել, ինդեքսային տարրերը սխալ են:"
	IDS_ERRORID_PANEL_INIT			"Աուդիո խառնիչի վահանակ - չի կարող շարունակվել, սկզբնավորման սխալ:"
	IDS_ERRORID_PANEL_ENABLE		"Աուդիո խառնիչի վահանակի պատուհանը ճիշտ կարգավիճակ չունի, և հաջորդ գործողությունը չի կարող շարունակվել:"
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Աուդիո խառնիչի վահանակը չի կանչվում միջերեսի շղթայի վրա և հնարավոր չէ փոփոխություններ կատարել:"
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Աուդիո խառնիչի վահանակը անվավեր տարր է հայտնաբերել, և վահանակի պատուհանի ստեղծումը ընդհատվել է:"
	IDS_ERRORID_LIGHT_DMX_START		"DMX լուսավորության կառավարման ծառայությունը գործարկվել է՝ օգտագործելով COM{0} - {1}:"
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"DMX լուսավորության կառավարման ծառայությունը չի աշխատում, COM{0} սարքը միացված չէ:"
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"DMX լուսավորության կառավարման ծառայությունը չի աշխատում, և ծառայության կոնֆիգուրացիան լրացված չէ:"
	IDS_ERRORID_LIGHT_DMX_STOP		"DMX լուսավորության կառավարման ծառայությունը դադարեցվել է։"
	IDS_ERRORID_LIGHT_DMX_NODEV		"Համապատասխան սարքեր չկան"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Ընտրեք DMX սարքը"
	IDS_ERRORID_LIGHT_ARTNET_START		"ArtNet Lighting Control ծառայությունը աշխատում է {0}:{1} ցանցի {2} հեռարձակման հասցեի միջոցով:"
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"ArtNet լուսավորության կառավարման ծառայությունը չի աշխատում, ցանցը {0} չի գտնվել:"
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"ArtNet լուսավորության կառավարման ծառայությունը չի աշխատում, ծառայության կոնֆիգուրացիան լրացված չէ:"
	IDS_ERRORID_LIGHT_ARTNET_STOP		"ArtNet լուսավորության կառավարման ծառայությունը դադարեցրել է։"
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Համապատասխան միջերեսներ չկան"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Ընտրեք ARTNET միջերեսը"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Plugin-ի սկզբնավորման սխալ, հնարավոր չէ փոխարկել CLSID/GUID-ը նշված տողից:"
	IDS_ERRORID_BRIDGE_NOT_INIT		"Չհաջողվեց նախաստորագրել փլագինները, համատեղելի փլագիններ չեն գտնվել:"
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Չհաջողվեց բեռնել փլագինները, նախապես սկզբնավորվել է {0}, բեռնված է 0 փլագին:"
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Փլագինները հաջողությամբ սկզբնավորվել են, նախնական սկզբնավորումը՝ {0}, {1} պլագինները բեռնված են:"
	IDS_ERRORID_BRIDGE_OK_START		"Bridge-ը հաջողությամբ գործարկվեց, {0} նախաստորագրված, {1} բեռնված, {2} պլագիններ գործարկված:"
	IDS_ERRORID_BRIDGE_NOT_START		"Չհաջողվեց գործարկել կամուրջը, փլագինները գործարկելիս սխալ, սկզբնավորվել է {0}, բեռնված է {1} փլագին:"
	IDS_ERRORID_BRIDGE_OK_STOP		"Bridge-ը հաջողությամբ դադարեցվեց, {0} սկզբնավորվեց, {1} բեռնվեց, {2} սկսվեց, {3} պլագինները դադարեցվեցին:"
	IDS_ERRORID_BRIDGE_NOT_STOP		"Չհաջողվեց կանգնեցնել կամուրջը, փլագինների դադարեցման սխալ, {0} սկզբնավորվել, {1} բեռնված, {2} փլագիններ գործարկված:"
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Փլագիններն արդեն բեռնված են, խնդրում ենք զրոյացնել նախքան վերագործարկումը:"
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"Կամուրջն արդեն գործարկվել է։"
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"Կամուրջն արդեն կանգ է առել։"
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Չհաջողվեց բացել plugin-ի մոդուլը: Մոդուլը բացակայում է կամ վնասված է, DLL-ը չի բեռնվել և վերադարձվել է զրոյական:"
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"Մոդուլը MIDI-MT հավելված չէ, և մուտքի անհրաժեշտ կետերը բացակայում են:"
	IDS_ERRORID_PLUGIN_LIST_INFO		"Միացված է={0}, կարգավորումներ={1}, գործարկում={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Կազմաձևը թարմացվել է՝ {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Մոդուլներ չեն գտնվել, գործարկումն անհնար է:"
	IDS_ERRORID_MIDIMT_CONFEDIT		"Խնդրում ենք խմբագրել կազմաձևը սկսելուց առաջ:"
	IDS_ERRORID_MIDIMT_CONFFILTER		"Կազմաձևման ֆայլը"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Ֆայլից բեռնված կոնֆիգուրացիա՝ {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Կազմաձևը բեռնված է վարորդից"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"Ընտրված {0} լեզուն ակտիվ կլինի պատուհանի վերագործարկումից հետո:"
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Տեղադրված վիրտուալ MIDI վարորդի տարբերակը՝ {0}"
	IDS_ERRORID_REMOTE_START		"Մեկնարկել է հեռակառավարման ծառայությունը։"
	IDS_ERRORID_REMOTE_STOP			"Հեռակառավարման ծառայությունը դադարեցվել է."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Նոր հաճախորդ՝ {0}/{1} միացված է:"
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Հաճախորդի սխալ {0}/{1}, {2}:"
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Հաճախորդը {0}/{1} անջատված է, կարգավիճակը՝ {2} - {3}:"
	IDS_ERRORID_COPY_LINK			"Հղումը պատճենվեց սեղմատախտակին:"
	IDS_ERRORID_NET_IFACE_NONE		"Ցանցային ինտերֆեյս չկա"
	IDS_ERRORID_NET_IFACE_SELECT		"Ընտրեք ցանցային ինտերֆեյս"
	IDS_ERRORID_NONE			"-"
END
