#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_ARABIC, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Վերջին ֆայլերը."
	STR_RB_TABHOMEL			"Խմբագրում"
	STR_RB_TABFILTERL		"Զտիչներ"
	STR_RB_PANEL_EDITMAINL		"խմբագրել MIDI ստեղնը"
	STR_RB_PANEL_EDITSETL		"MIDI ստեղների խումբ"
	STR_RB_PANEL_EDITOPTL		"խմբագրի ընտրանքներ"
	STR_RB_PANEL_FILTERL		"դիտման ֆիլտրերի ընտրություն"
	STR_RB_PANEL_SORTL		"տեսակավորում"
	STR_RB_MENUL			"&Մենյու"
	STR_RB_MENUT			"Դիմումի ընտրացանկ"
	STR_RB_PANEL_QATL		"&Արագ մուտք"
	STR_RB_PANEL_QATT		"Արագ մուտքի Գործիքադարակ"
	STR_RB_DIALOG_SAVEL		"&Պահպանել"
	STR_RB_DIALOG_SAVET		"Պահպանել և կիրառել"
	STR_RB_DIALOG_SAVED		"Պահպանեք նախկինում ներբեռնված ֆայլում և թարմացրեք ընթացիկ կոնֆիգուրացիան:"
	STR_RB_DIALOG_EXPORTL		"&Արտահանում"
	STR_RB_DIALOG_EXPORTT		"Արտահանել նոր ֆայլ"
	STR_RB_DIALOG_EXPORTD		"Արտահանեք խմբագրված կոնֆիգուրացիան նոր ֆայլ:"
	STR_RB_DIALOG_IMPORTL		"&Ներմուծում"
	STR_RB_DIALOG_IMPORTT		"Ներմուծում ֆայլից"
	STR_RB_DIALOG_IMPORTD		"Ներմուծեք կոնֆիգուրացիան ֆայլից:"
	STR_RB_DIALOG_EXITL		"&Ելք"
	STR_RB_DIALOG_EXITT		"Դուրս գալ խմբագրից"
	STR_RB_DIALOG_EXITD		"Դուրս է գալիս MIDI Key Configuration Editor-ից, եթե փոփոխությունները չպահվեն, դրանք կկորչեն:"
	STR_RB_LV_NEWL			"&Նոր MIDI բանալի"
	STR_RB_LV_NEWT			"Նոր MIDI բանալի"
	STR_RB_LV_NEWD			"Նոր MIDI բանալի ստեղծում:"
	STR_RB_LV_COPYL			"&Պատճենել"
	STR_RB_LV_COPYT			"Պատճենել MIDI ստեղնը"
	STR_RB_LV_COPYD			"Պատճենեք ընտրված MIDI ստեղնի մուտքագրումը:"
	STR_RB_LV_PASTEL		"&Տեղադրել"
	STR_RB_LV_PASTET		"Տեղադրեք բանալին"
	STR_RB_LV_PASTED		"Տեղադրեք պատճենված MIDI ստեղնը:"
	STR_RB_LV_DELETEL		"&Ջնջել"
	STR_RB_LV_DELETET		"Ջնջել բանալին"
	STR_RB_LV_DELETED		"Ջնջել ընտրված MIDI ստեղնաշարի մուտքագրումը:"
	STR_RB_LV_SET_MQTTL		"Խելացի տուն"
	STR_RB_LV_SET_MQTTT		"Խումբը սահմանեք որպես «Խելացի տուն»:"
	STR_RB_LV_SET_MQTTD		"Նշեք ընտրված MIDI ստեղնը «Խելացի տուն» խմբին:"
	STR_RB_LV_SET_MMKEYL		"Մուլտիմեդիա կոճակներ"
	STR_RB_LV_SET_MMKEYT		"Սահմանեք խումբը որպես «Մուլտիմեդիա կոճակներ»"
	STR_RB_LV_SET_MMKEYD		"Նշեք ընտրված MIDI ստեղնը «Մուլտիմեդիա կոճակներ» խմբին:"
	STR_RB_LV_SET_MIXERL		"Աուդիո խառնիչ"
	STR_RB_LV_SET_MIXERT		"Սահմանել խումբը որպես «Աուդիո խառնիչ»"
	STR_RB_LV_SET_MIXERD		"Նշեք ընտրված MIDI ստեղնը «Աուդիո խառնիչ» խմբին:"
	STR_RB_LV_READ_MIDI_CODEL	"Կարդացեք MIDI կոդը"
	STR_RB_LV_READ_MIDI_CODET	"Կարդացեք MIDI կառավարման կոդը"
	STR_RB_LV_READ_MIDI_CODED	"Կարդացեք MIDI կոդը կառավարման մակերեսից կամ MIDI ստեղնաշարից:"
	STR_RB_LV_EDIT_MODEL		"Միայն թվային մուտքագրում"
	STR_RB_LV_EDIT_MODET		"Օգտագործեք միայն թվային մուտքագրում"
	STR_RB_LV_EDIT_MODED		"Մի օգտագործեք արժեքների ընտրության ընտրացանկը, օգտագործեք միայն թվային մուտքագրում:"
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI կառավարման վահանակ"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Առաջարկվող կարգավորումներ"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Առաջարկվող MIDI կառավարման վահանակի կարգավորումները, որոնք համատեղելի են Adobe Premiere Pro-ի կառավարիչների հետ:"
	STR_RB_LV_FILTER_EMBEDL		"Ներկառուցված զտիչներ"
	STR_RB_LV_FILTER_KEYL		"Բանալի"
	STR_RB_LV_FILTER_KEYT		"Զտել MIDI ստեղնով"
	STR_RB_LV_FILTER_KEYD		"Ցուցադրել միայն համընկնումները MIDI ստեղնաշարի խմբի մեջ:"
	STR_RB_LV_FILTER_SCENEL		"Տեսարան"
	STR_RB_LV_FILTER_SCENET		"Զտել ըստ MIDI տեսարանի"
	STR_RB_LV_FILTER_SCENED		"Ցուցադրել միայն համընկնումները MIDI տեսարանների խմբում:"
	STR_RB_LV_FILTER_TARGETL	"Նպատակ 1"
	STR_RB_LV_FILTER_TARGETT	"Զտել ըստ նպատակակետ 1-ի"
	STR_RB_LV_FILTER_TARGETD	"Ցույց տալ միայն համընկնումները թիրախային խմբում 1:"
	STR_RB_LV_FILTER_TARGETLONGL	"Նպատակ 2"
	STR_RB_LV_FILTER_TARGETLONGT	"Զտել ըստ նշանակման 2-ի"
	STR_RB_LV_FILTER_TARGETLONGD	"Ցույց տալ միայն համընկնումները 2-րդ թիրախային խմբում:"
	STR_RB_LV_FILTER_CLEARL		"Մաքրել զտիչները"
	STR_RB_LV_FILTER_CLEART		"Մաքրող ֆիլտրեր"
	STR_RB_LV_FILTER_CLEARD		"Լիովին մաքուր զտիչներ, բոլոր գրառումները կցուցադրվեն:"
	STR_RB_LV_FILTER_SETL		"Սահմանել ֆիլտրը"
	STR_RB_LV_FILTER_SETT		"Ֆիլտրի տեղադրում"
	STR_RB_LV_FILTER_SETD		"Զտիչի կարգավորումը ցույց է տալիս բոլոր անվավեր տարրերը:"
	STR_RB_LV_FILTER_ONL		"Կիրառել զտիչ"
	STR_RB_LV_FILTER_ONT		"Ֆիլտրի կիրառում"
	STR_RB_LV_FILTER_OND		"Զտիչ կիրառելը ցույց է տալիս ընտրված տարրերը:"
	STR_RB_LV_FILTER_OFFL		"Չեղարկել զտիչը"
	STR_RB_LV_FILTER_OFFT		"Չեղարկել զտիչը"
	STR_RB_LV_FILTER_OFFD		"Զտիչը չեղարկելու դեպքում բոլոր տարրերը կցուցադրվեն:"
	STR_RB_LV_FILTER_MMKEYL		"Ցույց տալ «Մուլտիմեդիա կոճակներ»"
	STR_RB_LV_FILTER_MMKEYT		"Զտել ըստ «Մուլտիմեդիա կոճակներ» խմբի"
	STR_RB_LV_FILTER_MMKEYD		"Զտիչի կիրառումը ցույց կտա Multimedia Buttons խմբի անդամներին:"
	STR_RB_LV_FILTER_MIXERL		"Ցույց տալ «Աուդիո խառնիչ»"
	STR_RB_LV_FILTER_MIXERT		"Զտել ըստ «Աուդիո խառնիչ» խմբի"
	STR_RB_LV_FILTER_MIXERD		"Զտիչ կիրառելը ցույց կտա Audio Mixer խմբի անդամներին:"
	STR_RB_LV_FILTER_MQTTL		"Ցույց տալ «Խելացի տուն»"
	STR_RB_LV_FILTER_MQTTT		"Զտել ըստ «Խելացի տուն» խմբի"
	STR_RB_LV_FILTER_MQTTD		"Զտիչ կիրառելը ցույց կտա Smart Home խմբի անդամներին:"
	STR_RB_LV_FILTER_LIGHT8L	"Ցույց տալ «Lighting 8 bit»"
	STR_RB_LV_FILTER_LIGHT8T	"Զտել ըստ խմբի «Lighting 8 bit»"
	STR_RB_LV_FILTER_LIGHT8D	"Ֆիլտրի կիրառումը ցույց կտա Lighting խմբի անդամներին 8-բիթանոց ալիքներով:"
	STR_RB_LV_FILTER_LIGHT16L	"Ցույց տալ «16 բիթ լուսավորություն»"
	STR_RB_LV_FILTER_LIGHT16T	"Զտել ըստ «16-բիթանոց լուսավորություն» խմբի"
	STR_RB_LV_FILTER_LIGHT16D	"Ֆիլտրի կիրառումը ցույց կտա Lighting խմբի անդամներին 16-բիթանոց ալիքներով:"
	STR_RB_LV_FILTER_SCRIPTL	"Ցույց տալ «Սցենարները»"
	STR_RB_LV_FILTER_SCRIPTT	"Զտել ըստ «Սցենարների» խմբի ChaiScript"
	STR_RB_LV_FILTER_SCRIPTD	"Զտիչ կիրառելը ցույց կտա Սկրիպտների խմբի անդամներին:"
	STR_RB_LV_FILTER_TYPEBTNL	"Զտիչի տեսակը"
	STR_RB_LV_FILTER_TYPEBTNT	"Կիրառվող զտիչների տեսակը սահմանելը"
	STR_RB_LV_FILTER_TYPEBTND	"Օգտագործված ֆիլտրերի տեսակներն ունեն երկու տրամաբանական վիճակ՝ «ԵՎ», «ԿԱՄ»:"
	STR_RB_LV_FILTER_TYPEGRPL	"Ընտրելով ֆիլտրի տեսակը"
	STR_RB_LV_FILTER_TYPEORL	"Ցույց տալ ցանկացած համընկնում"
	STR_RB_LV_FILTER_TYPEORT	"Ցույց տալ գրառումները ցանկացած համընկնումով"
	STR_RB_LV_FILTER_TYPEORD       	"Զտիչը ունի տրամաբանական ԵՎ վիճակ և ցույց է տալիս ցանկացած համընկնում:"
	STR_RB_LV_FILTER_TYPEANDL	"Ցույց տալ միայն ամբողջական համընկնումները"
	STR_RB_LV_FILTER_TYPEANDT	"Ցուցադրել միայն ճշգրիտ համընկնող գրառումները"
	STR_RB_LV_FILTER_TYPEANDD	"Զտիչը ունի տրամաբանական ԿԱՄ վիճակ և ցույց է տալիս միայն ամբողջական համընկնումներ:"
	STR_RB_LV_FILTER_AUTOCOMMITL	"Տվյալների ավտոմատ ուղարկում ֆիլտրում"
	STR_RB_LV_FILTER_AUTOCOMMITT	"Զտիչում մուտքագրված արժեքների ավտոմատ ուղարկում"
	STR_RB_LV_FILTER_AUTOCOMMITD	"Ինքնաբերաբար ներկայացնում է մուտքային արժեքները ներկառուցված ֆիլտրում:"
	STR_RB_LV_EXT_MODEL		"Ցույց տալ տեսակավորումը"
	STR_RB_LV_SORTUP_KEYL		"բանալիով"
	STR_RB_LV_SORTUP_KEYT		"Դասավորել ըստ աճման և MIDI ստեղների:"
	STR_RB_LV_SORTUP_SCENEL		"բեմի շուրջ"
	STR_RB_LV_SORTUP_SCENET		"Տեսակավորում ըստ աճման և MIDI տեսարանի:"
	STR_RB_LV_SORTUP_TARGETL	"1-ին նշանակմամբ"
	STR_RB_LV_SORTUP_TARGETT	"Դասավորել ըստ աճման և MIDI նպատակակետի 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"նշանակմամբ 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Տեսակավորում ըստ աճման և MIDI նպատակակետի 2."
	STR_RB_LV_SORTDOWN_KEYT		"Դասավորել ըստ նվազման և MIDI ստեղների:"
	STR_RB_LV_SORTDOWN_SCENET	"Տեսակավորում ըստ նվազման կարգի և MIDI տեսարանի:"
	STR_RB_LV_SORTDOWN_TARGETT	"Տեսակավորում ըստ նվազման և MIDI նպատակակետի 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Տեսակավորում ըստ նվազման և MIDI նպատակակետի 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Արտահանել MQTT"
	STR_RB_DIALOG_EXPORTMQTTT	"Արտահանել MQTT կոնֆիգուրացիան"
	STR_RB_DIALOG_EXPORTMQTTD	"Արտահանել DMX512/ARTNET կոնֆիգուրացիան նոր ֆայլ:"
	STR_RB_PANEL_EDITUTILL		"Գործիքներ"
	STR_RB_LV_SET_BUTTONL		"Նշանակեք MIDI ստեղնը"
	STR_RB_LV_SET_BUTTONT		"Նշանակեք ընտրված MIDI ստեղնը"
	STR_RB_LV_SET_BUTTOND		"Սահմանեք ընտրված MIDI ստեղնը որպես խմբի անդամ:"
	STR_RB_LV_SET_LIGHT8L		"Լուսավորություն 8 բիթ"
	STR_RB_LV_SET_LIGHT8T		"Սահմանել խումբը որպես «Lighting 8 bit»"
	STR_RB_LV_SET_LIGHT8D		"Նշեք ընտրված MIDI ստեղնը «Lighting 8 Bit» խմբին:"
	STR_RB_LV_SET_LIGHT16L		"Լուսավորություն 16 բիթ"
	STR_RB_LV_SET_LIGHT16T		"Սահմանել խումբը որպես «Lighting 16 bit»"
	STR_RB_LV_SET_LIGHT16D		"Նշեք ընտրված MIDI ստեղնը «Lighting 16-bit» խմբին:"
	STR_RB_LV_SET_SCRIPTL		"Սցենարներ"
	STR_RB_LV_SET_SCRIPTT		"Սահմանել խումբը որպես «Սցենարներ»"
	STR_RB_LV_SET_SCRIPTD		"Նշեք ընտրված MIDI ստեղնը «Սկրիպտներ» խմբին:"
	STR_RB_DIALOG_SHOWDUPL		"Ցույց տալ կրկնօրինակները"
	STR_RB_DIALOG_SHOWDUPT		"Գտեք կրկնօրինակ MIDI ստեղներ"
	STR_RB_DIALOG_SHOWDUPD		"Որոնեք կրկնօրինակ MIDI ստեղներ, եթե դրանք առկա են, կարող է առաջանալ անսպասելի վարքագիծ:"

	STR_RB_DIALOG_DELDUPL		"Հեռացնել կրկնօրինակները"
	STR_RB_DIALOG_DELDUPT		"Հեռացրեք հնարավոր կրկնօրինակ MIDI ստեղները"
	STR_RB_DIALOG_DELDUPD		"Կրկնվող MIDI ստեղների գտնելն ու հեռացնելը, եթե կան կրկնօրինակներ, կարող է չվարվել այնպես, ինչպես սպասվում էր:"
END
