#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

DLG_ABOUT_WINDOW DIALOGEX 0, 0, 306, 173
STYLE DS_ABSALIGN | DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_BORDER
EXSTYLE WS_EX_TOPMOST | WS_EX_TRANSPARENT | WS_EX_COMPOSITED
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         BITMAP_MIDIMT_LOGO,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_DISABLED,0,0,306,175,WS_EX_TRANSPARENT
    LTEXT           VER_GUI_EN,DLG_ABOUT_ABOUT_VERSION,193,34,101,8,SS_NOPREFIX
    LTEXT           VER_COPYRIGHT,DLG_ABOUT_ABOUT_COPY,193,46,101,8
    PUSHBUTTON      "Oppdateringer",DLG_GO_UPDATE,191,64,104,14,BS_FLAT | WS_GROUP
    PUSHBUTTON      "Hjelp",DLG_GO_HELP,191,79,104,15,BS_FLAT | WS_GROUP
    DEFPUSHBUTTON   "&Lukk",IDCANCEL,191,94,104,14,BS_FLAT | WS_GROUP
END

DLG_EDIT_INFO_WINDOW DIALOGEX 0, 0, 494, 162
STYLE DS_ABSALIGN | DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_BORDER
EXSTYLE WS_EX_TOPMOST | WS_EX_TRANSPARENT | WS_EX_COMPOSITED
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         BITMAP_ECTRL9,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_DISABLED,7,7,485,130,WS_EX_TRANSPARENT
    PUSHBUTTON      "&MIDI-paneloppsettprogram",DLG_GO_URL,273,142,148,14,BS_FLAT | WS_GROUP
    DEFPUSHBUTTON   "&Lukk",IDCANCEL,423,142,63,14,BS_FLAT | WS_GROUP
    LTEXT           "Anbefalt MIDI-kontrollpaneloppsett. Filen med innstillingene for dette oppsettet ligger i mappen 'docs/MIDIMT.Ctrl_data'",IDC_STATIC,19,140,250,21,SS_NOPREFIX,WS_EX_TRANSPARENT
END

DLG_MONITOR_WINDOW DIALOGEX 0, 0, 305, 276
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW | WS_EX_CONTEXTHELP
CAPTION "MIDI-kommandomonitor"
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Kommandomonitor",IDC_STATIC,9,4,285,54
    LTEXT           "MIDI Command Monitor vil hjelpe deg med å finne ut hvordan kontrolleren er konfigurert. For å starte testingen, klikk på “Start”-knappen. Ved å bruke de forskjellige kontrollene på kontrolleren vil du motta meldinger om scenen, nummeret og gjeldende verdi.",IDC_STATIC,15,18,274,34
    PUSHBUTTON      "Stoppe",DLG_MONITOR_STOP,7,61,95,14,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "Start",DLG_MONITOR_START,103,61,192,14,BS_FLAT
    EDITTEXT        DLG_MONITOR_BOX,7,78,287,160,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL,WS_EX_CLIENTEDGE
    PUSHBUTTON      "&Lukk",IDCANCEL,105,241,191,14,BS_FLAT
    PUSHBUTTON      "Rens",DLG_MONITOR_CLEAR,6,241,98,14,BS_FLAT
    CONTROL         "",DLG_MONITOR_LOG,"Static",SS_SIMPLE | SS_SUNKEN | SS_ENDELLIPSIS | WS_GROUP,7,259,287,13
END

DLG_EDIT_WINDOW DIALOGEX 0, 0, 712, 325
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_ACCEPTFILES | WS_EX_CONTEXTHELP | WS_EX_APPWINDOW
CAPTION "Sette opp MIDI-kontroll"
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    CONTROL         "",DLG_EDIT_LOG_NOSCROLL,"Static",SS_SIMPLE | WS_GROUP,12,50,682,41,WS_EX_TRANSPARENT
    GROUPBOX        "Sette opp MIDI-kontroller",IDC_STATIC,7,97,215,224
    RTEXT           "0",DLG_EDIT_SETUP_COUNT,190,97,24,8
    CONTROL         "",DLG_EDIT_SETUP_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE | WS_BORDER | WS_TABSTOP,15,110,200,205,WS_EX_CLIENTEDGE
    GROUPBOX        "MIDI",IDC_STATIC,417,111,60,37
    ICON            ICON_APP_MIDIMT,DLG_EDIT_SETUP_ICON,423,122,20,20,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    PUSHBUTTON      "",DLG_EDIT_BTN_INFO,452,122,20,20,BS_ICON | BS_FLAT
    GROUPBOX        "Informasjon",IDC_STATIC,227,97,259,224
    LTEXT           "Kontroll:",IDC_STATIC,241,157,95,10
    CONTROL         "",DLG_EDIT_SETUP_NUMBER,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,157,28,10,WS_EX_RIGHT
    LTEXT           "Scene:",IDC_STATIC,241,169,95,10
    CONTROL         "",DLG_EDIT_SETUP_SCENE,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,341,169,108,10,WS_EX_RIGHT
    CONTROL         "",DLG_EDIT_SETUP_SCENEN,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,169,28,10,WS_EX_RIGHT
    LTEXT           "Kontrolltype:",IDC_STATIC,241,181,95,10
    CONTROL         "",DLG_EDIT_SETUP_TYPE,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,341,181,108,10,WS_EX_RIGHT
    CONTROL         "",DLG_EDIT_SETUP_TYPEN,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,181,28,10,WS_EX_RIGHT
    LTEXT           "Hensikt:",IDC_STATIC,241,193,95,10
    CONTROL         "",DLG_EDIT_SETUP_TARGET,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,341,193,108,10,WS_EX_RIGHT
    CONTROL         "",DLG_EDIT_SETUP_TARGETN,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,193,28,10,WS_EX_RIGHT
    LTEXT           "Formål (langt klikk):",IDC_STATIC,241,205,95,10
    CONTROL         "",DLG_EDIT_SETUP_TARGET_LONG,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,341,205,108,10,WS_EX_RIGHT
    CONTROL         "",DLG_EDIT_SETUP_TARGET_LONGN,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,205,28,10,WS_EX_RIGHT
    LTEXT           "Applikasjoner kontrollert av mikseren:",IDC_STATIC,241,217,144,10
    LISTBOX         DLG_EDIT_SETUP_APPLIST,241,229,215,64,LBS_SORT | LBS_HASSTRINGS | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
    CONTROL         "",DLG_EDIT_SLIDER_VOLUME,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_DISABLED | WS_TABSTOP,241,300,181,13
    PUSHBUTTON      "",DLG_EDIT_BTN_MUTE,426,298,54,18,BS_ICON | BS_FLAT | WS_DISABLED
    PUSHBUTTON      "",DLG_EDIT_BTN_FOLDER,460,227,20,20,BS_ICON | BS_FLAT | WS_DISABLED
    PUSHBUTTON      "",DLG_EDIT_BTN_RUNAPP,460,247,20,20,BS_ICON | BS_FLAT | WS_DISABLED
    PUSHBUTTON      "",DLG_EDIT_BTN_REMOVE,460,267,20,20,BS_ICON | BS_FLAT | WS_DISABLED
    PUSHBUTTON      "&Lukk",IDCANCEL,609,324,94,14,BS_FLAT
    CONTROL         "",DLG_EDIT_LOG,"Static",SS_SIMPLE | SS_SUNKEN | SS_ENDELLIPSIS | WS_GROUP,7,325,600,13
    GROUPBOX        "Hint",IDC_STATIC,493,97,209,224
    LISTBOX         DLG_EDIT_SETUP_HELPLIST,501,128,193,188,LBS_HASSTRINGS | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | LBS_NOSEL | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
    CONTROL         "Alle",DLG_EDIT_SETUP_RADIO1,"Button",BS_AUTORADIOBUTTON,501,110,27,10
    CONTROL         "Knapper",DLG_EDIT_SETUP_RADIO2,"Button",BS_AUTORADIOBUTTON,535,110,41,10
    CONTROL         "Skyveknapper",DLG_EDIT_SETUP_RADIO3,"Button",BS_AUTORADIOBUTTON,579,110,51,10
    CONTROL         "Multimedia",DLG_EDIT_SETUP_RADIO4,"Button",BS_AUTORADIOBUTTON,633,110,62,10
END

DLG_COLOR_WINDOW DIALOGEX 0, 0, 207, 120
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "Sette opp et tilpasset tema"
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Dine temafarger",IDC_STATIC,9,8,188,107
    CONTROL         "Tekstfarge",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,30,44,8
    LTEXT           "",DLG_COLOR_BOX1,15,40,66,14,SS_NOTIFY | NOT WS_GROUP,WS_EX_STATICEDGE
    CONTROL         "Bakgrunnsfarge",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,58,38,8
    LTEXT           "",DLG_COLOR_BOX2,15,68,66,14,SS_NOTIFY | NOT WS_GROUP,WS_EX_STATICEDGE
    CONTROL         "Rammefarge",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,86,40,8
    LTEXT           "",DLG_COLOR_BOX3,15,96,66,14,SS_NOTIFY | NOT WS_GROUP,WS_EX_STATICEDGE
    GROUPBOX        "Grunnleggende tema",IDC_STATIC,88,18,104,92,BS_FLAT
    CONTROL         "Metro",DLG_COLOR_RADIO_METRO,"Button",BS_AUTORADIOBUTTON | BS_FLAT,100,35,60,10
    CONTROL         "Lys",DLG_COLOR_RADIO_LIGHT,"Button",BS_AUTORADIOBUTTON,100,49,60,10
    CONTROL         "Mørk",DLG_COLOR_RADIO_DARK,"Button",BS_AUTORADIOBUTTON,100,63,60,10
    CONTROL         "Retro",DLG_COLOR_RADIO_RETRO,"Button",BS_AUTORADIOBUTTON,100,77,60,10
    CONTROL         "Moderne",DLG_COLOR_RADIO_MODERN,"Button",BS_AUTORADIOBUTTON,100,91,60,10
END

DLG_LOGVIEW_WINDOW DIALOGEX 0, 0, 745, 410
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CLIENTEDGE | WS_EX_STATICEDGE | WS_EX_APPWINDOW
CAPTION "Se loggfilen"
MENU DLG_LOGVIEW_MENU
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
END


DLG_START_WINDOW DIALOGEX 0, 0, 712, 406
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_STATICEDGE | WS_EX_ACCEPTFILES | WS_EX_CONTEXTHELP | WS_EX_CONTROLPARENT | WS_EX_APPWINDOW
CAPTION "Starter MIDI-MT"
MENU DLG_START_MENU
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "INN/UT-bro",IDC_STATIC,5,4,184,79
    CONTROL         "Lanserte",DLG_START_RADIO1,"Button",BS_AUTORADIOBUTTON | BS_FLAT | WS_DISABLED | WS_GROUP,15,17,46,10
    CONTROL         "Stoppet",DLG_START_RADIO2,"Button",BS_AUTORADIOBUTTON | BS_FLAT | WS_DISABLED | WS_GROUP,66,17,57,10
    CONTROL         "Konfigurasjon",DLG_START_ISCONFIG,"Button",BS_AUTO3STATE | BS_FLAT | WS_DISABLED | WS_TABSTOP,15,33,65,10
    CONTROL         "MIDI-kontroller",DLG_START_ISUNITS,"Button",BS_AUTO3STATE | BS_FLAT | WS_DISABLED | WS_TABSTOP,81,33,65,10
    LTEXT           "0",DLG_START_CTRLCOUNT,153,34,12,8
    EDITTEXT        DLG_START_CONFIG_NAME,13,47,167,14,ES_READONLY,WS_EX_CLIENTEDGE
    PUSHBUTTON      "Åpne konfigurasjonsfilen",DLG_START_OPEN_CONFIG,13,63,167,14,BS_FLAT
    GROUPBOX        "Lansering",IDC_STATIC,5,85,184,139
    CONTROL         "Start ved systemoppstart",DLG_START_AUTOBOOT_SYS,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,15,98,120,10
    CONTROL         "Autostart ved oppstart",DLG_START_AUTORUN_SYS,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,15,110,120,10
    CONTROL         "Autostart av denne konfigurasjonen",DLG_START_AUTORUN_CONFIG,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,15,122,120,10
    CONTROL         "Skriv logg",DLG_START_WRITE_FILELOG,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,15,134,70,10
    LTEXT           "Foretrukket Språk:",IDC_STATIC,17,154,94,8
    COMBOBOX        DLG_START_LANG_COMBO,15,167,81,32,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Bruk høyre museknapp for å få frem mikseren",DLG_START_MIXER_RIGHT_CLICK,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | BS_FLAT | WS_TABSTOP,15,192,117,20
    GROUPBOX        "Innstillinger for lydmikser",IDC_STATIC,5,226,184,90
    CONTROL         "Inkludert",DLG_START_MIXER_ENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,15,239,50,10
    CONTROL         "Erstatter volumverdier uten å sjekke",DLG_START_MIXER_FAST_VALUE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,15,253,167,10
    CONTROL         "Kombiner søknader etter navn; separate justeringer er ikke mulig",DLG_START_MIXER_DUPLICATE,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | BS_FLAT | WS_TABSTOP,15,265,167,19
    CONTROL         "Still inn lagrede volumnivåer ved oppstart",DLG_START_MIXER_OLD_VALUE,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | BS_FLAT | WS_TABSTOP,15,284,167,19
    GROUPBOX        "Sette opp moduler",IDC_STATIC,194,4,513,332
    PUSHBUTTON      "&Last inn moduler på nytt",DLG_START_PLUGINS_RELOAD,199,14,149,16,BS_FLAT
    CONTROL         "",DLG_START_PLUGINS_LIST,"SysListView32",LVS_LIST | LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP,199,32,149,248
    GROUPBOX        "Modulbeskrivelse",IDC_STATIC,199,282,149,48
    LTEXT           "",DLG_START_PLUGINS_DESC,204,294,140,32
    GROUPBOX        "Modul",IDC_STATIC,354,10,346,320
    ICON            ICON_PLUGIN_MODULES,DLG_START_PLACE_PLUGIN,357,19,340,308,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    PUSHBUTTON      "&Start",DLG_GO_START,5,319,184,16,BS_FLAT
    PUSHBUTTON      "Lagre innstillinger",DLG_SAVE,5,335,184,16,BS_FLAT
    PUSHBUTTON      "&Om programmet..",DLG_GO_ABOUT,5,351,184,16,BS_FLAT
    PUSHBUTTON      "Oppdateringer",DLG_GO_UPDATE,5,367,184,16,BS_FLAT
    PUSHBUTTON      "&Lukk",IDCANCEL,5,383,184,16,BS_FLAT
    EDITTEXT        DLG_START_LOG,194,340,514,61,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL,WS_EX_CLIENTEDGE
END

DLG_PLUG_MIDI_WINDOW DIALOGEX 0, 0, 340, 308
STYLE DS_SETFONT | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CONTROL | WS_POPUP
EXSTYLE WS_EX_CONTROLPARENT | WS_EX_NOACTIVATE
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "MIDI-enheter",IDC_STATIC,4,2,173,302
    GROUPBOX        "MIDI-innstillinger",IDC_STATIC,184,2,152,302
    CONTROL         "Inndata",DLG_PLUG_MIDI_LIST_IN,"Button",BS_AUTORADIOBUTTON | BS_FLAT | WS_GROUP,12,18,46,10
    CONTROL         "Helg",DLG_PLUG_MIDI_LIST_OUT,"Button",BS_AUTORADIOBUTTON | BS_FLAT | WS_GROUP,77,18,51,10
    CONTROL         "",DLG_PLUG_MIDI_LIST,"SysListView32",LVS_LIST | LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP,12,33,161,265
    CONTROL         "Konfigurasjon",DLG_PLUG_MIDI_ISCONFIG,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED | WS_TABSTOP,191,18,65,10
    CONTROL         "MIDI-kontroller",DLG_PLUG_MIDI_ISUNITS,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED | WS_TABSTOP,258,18,65,10
    LTEXT           "0",DLG_PLUG_MIDI_UNITCOUNT,323,18,12,8
    CONTROL         "Inkludert",DLG_PLUG_MIDI_ISENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,191,33,50,10
    CONTROL         "",DLG_PLUG_MIDI_SLIDER1,"msctls_trackbar32",TBS_AUTOTICKS | TBS_BOTH | WS_TABSTOP,188,44,142,15
    LTEXT           "Intervall mellom klikk",IDC_STATIC,194,62,98,8
    LTEXT           "50",DLG_PLUG_MIDI_SLIDER1_VAL,293,62,23,8
    CONTROL         "",DLG_PLUG_MIDI_SLIDER2,"msctls_trackbar32",TBS_AUTOTICKS | TBS_BOTH | WS_TABSTOP,188,72,142,15
    LTEXT           "Intervall som langt trykk",IDC_STATIC,194,89,106,8
    LTEXT           "500",DLG_PLUG_MIDI_SLIDER2_VAL,302,89,20,8
    CONTROL         "JOG scenefilter",DLG_PLUG_MIDI_ISJOGFILTER,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,194,103,79,10
    CONTROL         "Ingen utgangsport er opprettet",DLG_PLUG_MIDI_ISOUTSYSPORT,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,194,116,115,10
    GROUPBOX        "MIDI-driver",IDC_STATIC,191,130,137,31
    CONTROL         "Sjåfør:",DLG_PLUG_MIDI_VMDRV_CHECK,"Button",BS_AUTO3STATE | BS_FLAT | WS_DISABLED | WS_TABSTOP,198,142,46,10
    CONTROL         "-",DLG_PLUG_MIDI_VMDRV_VER,"Static",SS_SIMPLE | WS_GROUP,244,143,68,8
    GROUPBOX        "MIDI Mackie",IDC_STATIC,191,163,137,51
    COMBOBOX        DLG_PLUG_MIDI_OUT_COMBO,197,174,68,55,CBS_DROPDOWN | CBS_SORT | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "antall porter",IDC_STATIC,198,188,66,8
    CONTROL         "Inkludert",DLG_PLUG_MIDI_ISOUT,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED | WS_TABSTOP,198,200,50,10
    GROUPBOX        "MIDI proxy",IDC_STATIC,191,217,137,51
    COMBOBOX        DLG_PLUG_MIDI_PROXY_COMBO,197,228,68,55,CBS_DROPDOWN | CBS_SORT | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "antall porter",IDC_STATIC,198,242,66,8
    CONTROL         "Inkludert",DLG_PLUG_MIDI_ISPROXY,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED | WS_TABSTOP,198,254,50,10
    PUSHBUTTON      "&Installer Virtual MIDI-driver",DLG_PLUG_MIDI_INSTALL_VMDRV,188,269,143,16,BS_FLAT | NOT WS_VISIBLE
    PUSHBUTTON      "&Lagre innstillinger",DLG_PLUG_SAVE,188,285,86,16,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "&Lukk",IDCANCEL,274,285,58,16,BS_FLAT
END

DLG_PLUG_MMKEY_WINDOW DIALOGEX 0, 0, 340, 308
STYLE DS_SETFONT | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CONTROL | WS_POPUP
EXSTYLE WS_EX_CONTROLPARENT | WS_EX_NOACTIVATE
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Multimedia tastatur",IDC_STATIC,4,2,332,302
    CONTROL         "Inkludert",DLG_PLUG_MMKEY_ISENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,16,22,50,10
    CONTROL         "Oversettelse av MIDI-inngangskommandoer til multimedietastaturkommandoer. Kontroller avspilling av tredjeparts multimedieprogrammer.",IDC_STATIC,"Static",SS_SIMPLE | SS_PATHELLIPSIS | WS_GROUP,16,40,273,61
    PUSHBUTTON      "&Lagre innstillinger",DLG_PLUG_SAVE,188,285,86,16,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "&Lukk",IDCANCEL,274,285,58,16,BS_FLAT
END

DLG_PLUG_MQTT_WINDOW DIALOGEX 0, 0, 340, 308
STYLE DS_SETFONT | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CONTROL | WS_POPUP
EXSTYLE WS_EX_CONTROLPARENT | WS_EX_NOACTIVATE
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Smart hus",IDC_STATIC,4,2,332,302
    CONTROL         "Inkludert",DLG_PLUG_MQTT_ISENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,11,17,50,10
    GROUPBOX        "MQTT server",IDC_STATIC,11,32,317,46
    CONTROL         "IP adresse:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,44,69,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_MQTT_IPADDR,17,53,109,14,ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "havn:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,131,44,44,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_MQTT_PORT,130,53,60,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP,WS_EX_TRANSPARENT
    ICON            ICON_PLUGIN_MQTT,IDC_STATIC,300,47,24,24,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    GROUPBOX        "Sikkerhet",IDC_STATIC,11,83,317,110
    CONTROL         "Logg Inn:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,94,41,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_MQTT_LOGIN,17,102,84,14,ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "passord:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,105,94,64,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_MQTT_PASS,104,102,86,14,ES_PASSWORD | ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "PSK nøkkel:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,121,41,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_MQTT_PSK,17,130,306,14,ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "SSL/TLS aktivert",DLG_PLUG_MQTT_ISSSL,"Button",BS_AUTO3STATE | BS_FLAT | WS_TABSTOP,17,152,77,10
    CONTROL         "selv signert",DLG_PLUG_MQTT_ISSELFSIGN,"Button",BS_AUTO3STATE | BS_FLAT | WS_TABSTOP,96,152,77,10
    EDITTEXT        DLG_PLUG_MQTT_CA,17,168,199,14,ES_AUTOHSCROLL | ES_READONLY | WS_GROUP,WS_EX_TRANSPARENT
    PUSHBUTTON      "CA-sertifikat",DLG_PLUG_MQTT_CAOPEN,219,168,104,14,BS_FLAT
    ICON            ICON_PLUGIN_SECURITY,IDC_STATIC,300,96,24,24,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    GROUPBOX        "Alternativer",IDC_STATIC,11,198,317,81
    CONTROL         "MQTT-emneprefiks: (valgfritt)",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,212,170,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_MQTT_PREFIX,17,223,306,14,ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "MQTT-øktloggingsnivå:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,244,167,8,WS_EX_TRANSPARENT
    COMBOBOX        DLG_PLUG_MQTT_LOGLEVEL,18,255,175,30,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    ICON            ICON_PLUGIN_OPTIONS,IDC_STATIC,300,245,24,24,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    PUSHBUTTON      "&Lagre innstillinger",DLG_PLUG_SAVE,188,285,86,16,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "&Lukk",IDCANCEL,274,285,58,16,BS_FLAT
END

DLG_PLUG_LIGHT_WINDOW DIALOGEX 0, 0, 340, 308
STYLE DS_SETFONT | DS_FIXEDSYS | DS_SETFOREGROUND | DS_CONTROL | WS_POPUP
EXSTYLE WS_EX_CONTROLPARENT | WS_EX_NOACTIVATE
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Belysning",IDC_STATIC,4,2,332,302
    GROUPBOX        "DMX-tjeneste",IDC_STATIC,12,14,316,118
    CONTROL         "Inkludert",DLG_PLUG_LIGHT_DMX_ISENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,18,28,50,10
    CONTROL         "COM-port:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,170,38,149,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    COMBOBOX        DLG_PLUG_LIGHT_DMX_COMBO,19,49,302,30,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "-",DLG_PLUG_LIGHT_DMX_COMNAME,"Static",SS_SIMPLE | WS_GROUP,153,71,167,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Havn:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,82,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_LIGHT_DMX_COMPORT,"Static",SS_SIMPLE | WS_GROUP,264,82,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Bithastighet:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,93,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_LIGHT_DMX_COMBAUDRATE,"Static",SS_SIMPLE | WS_GROUP,264,93,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Stopp bit:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,104,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_LIGHT_DMX_COMSTOPBITS,"Static",SS_SIMPLE | WS_GROUP,264,104,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Pause:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,115,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_LIGHT_DMX_COMTIMEOUT,"Static",SS_SIMPLE | WS_GROUP,264,115,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    ICON            ICON_PLUGIN_DMX,IDC_STATIC,44,76,48,48,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    GROUPBOX        "ArtNet-tjenesten",IDC_STATIC,12,138,316,126
    CONTROL         "Inkludert",DLG_PLUG_LIGHT_ARTNET_ISENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,18,152,50,10
    CONTROL         "ArtNet nettverk:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,170,162,149,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    COMBOBOX        DLG_PLUG_LIGHT_ARTNET_COMBO,19,173,302,30,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Universnummer:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,196,77,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_LIGHT_ARTNET_UNIVERSE,289,192,33,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "Havn:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,211,77,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_LIGHT_ARTNET_PORT,289,207,33,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "Adresse:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,224,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_LIGHT_ARTNET_IP,"Static",SS_SIMPLE | WS_GROUP,263,224,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Maske:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,235,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_LIGHT_ARTNET_MASK,"Static",SS_SIMPLE | WS_GROUP,263,235,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Kringkaste:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,246,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_LIGHT_ARTNET_BCAST,"Static",SS_SIMPLE | WS_GROUP,263,246,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    ICON            ICON_PLUGIN_ARTNET,IDC_STATIC,44,206,48,48,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    CONTROL         "Aktiver DMX-pool (standard oppførsel)",DLG_PLUG_LIGHT_POLL,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,12,271,184,10
    PUSHBUTTON      "&Lagre innstillinger",DLG_PLUG_SAVE,188,285,86,16,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "&Lukk",IDCANCEL,274,285,58,16,BS_FLAT
END

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

BITMAP_MIDIMT_LOGO	BITMAP	"AboutLogo.bmp"

