﻿
#define APSTUDIO_READONLY_SYMBOLS
#ifndef APSTUDIO_INVOKED
#include <SDKDDKVer.h>
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#include "CommCtrl.h"
#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "MIDI enkel kontroll -> Lydmikser -> MIDI-Mackie-oversetter"
    IDS_MIXER               "&Mikser"
    IDS_SETTINGS            "&Innstillinger"
    IDS_START               "Start"
    IDS_STOP                "Stoppe"
    IDS_EXIT                "Exit"
    IDS_SETUP_MSG1          "Konfigurasjon lastet fra driveren"
    IDS_SETUP_MSG2          "Konfigurasjon lastet fra fil"
    IDS_SETUP_MSG3          "Konfigurasjonen er opprettet på nytt og krever utfylling"
    IDS_URL_WIKI            "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    IDS_URL_GIT             "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    IDS_URL_WEB             "https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    IDS_URL_ESETUP          "https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"
    IDS_START_EXT_FILTER    "MIDI-MT konfigurasjon"
    IDS_CONFIG_EXE_FILTER   "Kjørbare filer"
    IDS_MQTT_CA_FILTER      "CA-sertifikat"
    IDS_MIDIMT              "MIDIMT"
    IDS_INFO1               "MIDI-oversetter kjører ikke."
    IDS_INFO2               "MIDI-oversetter fungerer:"
    IDS_INFO3               "Inndataenhet:"
    IDS_INFO4               "Mackie/Premier utgangsport:"
    IDS_INFO5               "Output proxy-port:"
    IDS_INFO6               "Lydmikseren kjører."
    IDS_INFO7               "Multimedietastkontroll kjører, sjekk innstillingene dine."
    IDS_INFO8               "Lydmikseren kjører ikke, sjekk innstillingene, lydpanelstarten må være aktivert."
    IDS_INFO9               "Ugyldig hendelses-ID. Start dette programmet på nytt."
    IDS_INF1O               "Kunne ikke bytte til UI-tråden, oppstart av lydpanelet ble avbrutt."
    IDS_INF11               "MIDIMT - Lydmikseren kjører ikke:"
    IDS_INF12               "MIDIMT - Kan ikke fullføre operasjonen:"
    IDS_INF13               "Smart Home-enhetsadministrasjon har startet."
    IDS_INF14               "Lysstyring via DMX512-protokollen er lansert."
    IDS_INF15               "Lysstyring via ArtNet-protokollen er lansert."
    IDS_DLG_MSG0            "Installere virtuell MIDI-driver"
    IDS_DLG_MSG1            "MIDI Mackie-utgang"
    IDS_DLG_MSG2            "MIDI proxy-utgang"
    IDS_DLG_MSG3            "MIDI virtuell driverversjon:"
    IDS_DLG_MSG4            "Den installerte Virtual MIDI-driveren ble ikke funnet! Du må installere Virtual Loop MIDI-pakken for å kjøre MIDI-MT-oversetteren"
    IDS_DLG_MSG5            "Når den startes, opprettes proxy-MIDI-porter:"
    IDS_DLG_MSG6            "MIDI Proxy-porter er deaktivert."
    IDS_DLG_MSG7            "Det valgte språket vil være aktivt etter at vinduet er startet på nytt -"
    IDS_DLG_MSG8            "MIDI-inngangsenhet tilordnet til"
    IDS_DLG_MSG9            "Rediger konfigurasjonen før du starter."
    IDS_DLG_MSG10           "Versjon av installert Virtual MIDI-driver:"
    IDS_DLG_MSG11           "Den valgte konfigurasjonen støtter ikke automatisk start."
    IDS_DLG_MSG12           "Før du starter monitoren, start MIDI-broen fra menyen ved å ringe 'Start'."
    IDS_DLG_MSG13           "Ved oppstart ble konfigurasjonsfilen spesifisert: '{0}'. Vil du angi det som en konfigurasjon for påfølgende kjøringer?"
    IDS_DLG_MSG14           "Når du åpnet redigeringsprogrammet, ble konfigurasjonsfilen spesifisert: '{0}'. Lagre den med samme navn?"
    IDS_DLG_MSG15           "Autorun er deaktivert i den generelle konfigurasjonen."
    IDS_DLG_MSG16           "DMX kanalnummer"
    IDS_DLG_MSG17           "Du må installere Virtual MIDI-driveren!"
    IDS_DLG_DMX_NODEV       "Ingen enheter tilgjengelig"
    IDS_DLG_ARTNET_NOINT    "Ingen grensesnitt"
    IDS_DLG_DMX_SELDEV      "Velg DMX-enhet"
    IDS_DLG_ARTNET_SELINT   "Velg ARTNET-grensesnitt"
END

STRINGTABLE
BEGIN
    IDM_COL4_MAV            "lydvolum (hoved)"
    IDM_COL4_MAP            "lydbalanse (grunnleggende)"
    IDM_COL4_MAM            "mute (hoved)"
    IDM_COL4_MAS            "lydsolo (hoved)"
    IDM_COL4_JOG            "JOG (spol tilbake videoramme)"
    IDM_COL4_AV1            "lydvolum (kanal 1)"
    IDM_COL4_AV2            "lydvolum (kanal 2)"
    IDM_COL4_AV3            "lydvolum (kanal 3)"
    IDM_COL4_AV4            "lydvolum (kanal 4)"
    IDM_COL4_AV5            "lydvolum (kanal 5)"
    IDM_COL4_AV6            "lydvolum (kanal 6)"
    IDM_COL4_AV7            "lydvolum (kanal 7)"
    IDM_COL4_AV8            "lydvolum (kanal 8)"
    IDM_COL4_XV9            "lydvolum (kanal 9)"
    IDM_COL4_AP1            "lydbalanse (kanal 1)"
    IDM_COL4_AP2            "lydbalanse (kanal 2)"
    IDM_COL4_AP3            "lydbalanse (kanal 3)"
    IDM_COL4_AP4            "lydbalanse (kanal 4)"
    IDM_COL4_AP5            "lydbalanse (kanal 5)"
    IDM_COL4_AP6            "lydbalanse (kanal 6)"
    IDM_COL4_AP7            "lydbalanse (kanal 7)"
    IDM_COL4_AP8            "lydbalanse (kanal 8)"
    IDM_COL4_XP9            "lydbalanse (kanal 9)"
    IDM_COL4_B11            "lydsolo (kanal 1)"
    IDM_COL4_B12            "lydsolo (kanal 2)"
    IDM_COL4_B13            "lydsolo (kanal 3)"
    IDM_COL4_B14            "lydsolo (kanal 4)"
    IDM_COL4_B15            "lydsolo (kanal 5)"
    IDM_COL4_B16            "lydsolo (kanal 6)"
    IDM_COL4_B17            "lydsolo (kanal 7)"
    IDM_COL4_B18            "lydsolo (kanal 8)"
    IDM_COL4_B19            "lydsolo (kanal 9)"
    IDM_COL4_B21            "mute (kanal 1)"
    IDM_COL4_B22            "mute (kanal 2)"
    IDM_COL4_B23            "mute (kanal 3)"
    IDM_COL4_B24            "mute (kanal 4)"
    IDM_COL4_B25            "mute (kanal 5)"
    IDM_COL4_B26            "mute (kanal 6)"
    IDM_COL4_B27            "mute (kanal 7)"
    IDM_COL4_B28            "mute (kanal 8)"
    IDM_COL4_B29            "mute (kanal 9)"
    IDM_COL4_B31            "lydvalg (kanal 1)"
    IDM_COL4_B32            "lydvalg (kanal 2)"
    IDM_COL4_B33            "lydvalg (kanal 3)"
    IDM_COL4_B34            "lydvalg (kanal 4)"
    IDM_COL4_B35            "lydvalg (kanal 5)"
    IDM_COL4_B36            "lydvalg (kanal 6)"
    IDM_COL4_B37            "lydvalg (kanal 7)"
    IDM_COL4_B38            "lydvalg (kanal 8)"
    IDM_COL4_B39            "lydvalg (kanal 9)"
    IDM_COL4_FUN11          "funksjon F1 (standardmodus)"
    IDM_COL4_FUN12          "funksjon F2 (standardmodus)"
    IDM_COL4_FUN13          "funksjon F3 (standardmodus)"
    IDM_COL4_FUN14          "funksjon F4 (standardmodus)"
    IDM_COL4_FUN15          "funksjon F5 (standardmodus)"
    IDM_COL4_FUN16          "funksjon F6 (standardmodus)"
    IDM_COL4_FUN17          "funksjon F7 (standardmodus)"
    IDM_COL4_FUN18          "funksjon F8 (standardmodus)"
    IDM_COL4_FUN21          "funksjon F1 (holdt modus)"
    IDM_COL4_FUN22          "funksjon F2 (holdt modus)"
    IDM_COL4_FUN23          "funksjon F3 (holdt modus)"
    IDM_COL4_FUN24          "funksjon F4 (holdt modus)"
    IDM_COL4_FUN25          "funksjon F5 (holdt modus)"
    IDM_COL4_FUN26          "funksjon F6 (holdt modus)"
    IDM_COL4_FUN27          "funksjon F7 (holdt modus)"
    IDM_COL4_FUN28          "funksjon F8 (holdt modus)"
    IDM_COL4_SYS_Rewind     "Spol tilbake (spiller)"
    IDM_COL4_SYS_Forward    "Spol fremover (spiller)"
    IDM_COL4_SYS_Stop       "Stopp (spiller)"
    IDM_COL4_SYS_Play       "Spill (spiller)"
    IDM_COL4_SYS_Record     "Opptak (spiller)"
    IDM_COL4_SYS_Up         "Opp (joystick)"
    IDM_COL4_SYS_Down       "Ned (joystick)"
    IDM_COL4_SYS_Left       "Venstre (joystick)"
    IDM_COL4_SYS_Right      "Høyre (joystick)"
    IDM_COL4_SYS_Zoom       "Øke"
    IDM_COL4_SYS_Scrub      "Skrubbe"
    IDM_COL4_VOLUMEMIX      "Mikserkontroll"
    IDM_COL4_MEDIAKEY       "Multimedietaster"
    IDM_COL4_MQTTKEY        "Smart Home Management"
    IDM_COL4_LIGHTKEY8B     "Lyskontroll (8 bits)"
    IDM_COL4_LIGHTKEY16B    "Lyskontroll (16 bit)"
    IDM_COL4_NONE           "handling ikke definert"
    IDM_COL4_MQTT_AV1       "nivå 1"
    IDM_COL4_MQTT_AV2       "nivå 2"
    IDM_COL4_MQTT_AV3       "nivå 3"
    IDM_COL4_MQTT_AV4       "nivå 4"
    IDM_COL4_MQTT_AV5       "nivå 5"
    IDM_COL4_MQTT_AV6       "nivå 6"
    IDM_COL4_MQTT_AV7       "nivå 7"
    IDM_COL4_MQTT_AV8       "nivå 8"
    IDM_COL4_MQTT_XV9       "nivå 9"
    IDM_COL4_MQTT_AP1       "nivå 10"
    IDM_COL4_MQTT_AP2       "nivå 11"
    IDM_COL4_MQTT_AP3       "nivå 12"
    IDM_COL4_MQTT_AP4       "nivå 13"
    IDM_COL4_MQTT_AP5       "nivå 14"
    IDM_COL4_MQTT_AP6       "nivå 15"
    IDM_COL4_MQTT_AP7       "nivå 16"
    IDM_COL4_MQTT_AP8       "nivå 17"
    IDM_COL4_MQTT_XP9       "nivå 18"
    IDM_COL4_MQTT_B11       "av/på 1"
    IDM_COL4_MQTT_B12       "av/på 2"
    IDM_COL4_MQTT_B13       "av/på 3"
    IDM_COL4_MQTT_B14       "av/på 4"
    IDM_COL4_MQTT_B15       "av/på 5"
    IDM_COL4_MQTT_B16       "av/på 6"
    IDM_COL4_MQTT_B17       "av/på 7"
    IDM_COL4_MQTT_B18       "av/på 8"
    IDM_COL4_MQTT_B19       "av/på 9"
    IDM_COL4_MQTT_B21       "av/på 10"
    IDM_COL4_MQTT_B22       "av/på 11"
    IDM_COL4_MQTT_B23       "av/på 12"
    IDM_COL4_MQTT_B24       "av/på 13"
    IDM_COL4_MQTT_B25       "av/på 14"
    IDM_COL4_MQTT_B26       "av/på 15"
    IDM_COL4_MQTT_B27       "av/på 16"
    IDM_COL4_MQTT_B28       "av/på 17"
    IDM_COL4_MQTT_B29       "av/på 18"
    IDM_COL4_MQTT_B31       "av/på 19"
    IDM_COL4_MQTT_B32       "av/på 20"
    IDM_COL4_MQTT_B33       "av/på 21"
    IDM_COL4_MQTT_B34       "av/på 22"
    IDM_COL4_MQTT_B35       "av/på 23"
    IDM_COL4_MQTT_B36       "av/på 24"
    IDM_COL4_MQTT_B37       "av/på 25"
    IDM_COL4_MQTT_B38       "av/på 26"
    IDM_COL4_MQTT_B39       "av/på 27"
    IDM_COL4_MQTT_NONE      "Ikke tildelt"
    IDM_MQTT_LOG_NONE       "ingen logg føres"
    IDM_MQTT_LOG_INFO       "informasjon"
    IDM_MQTT_LOG_NOTICE     "varsler"
    IDM_MQTT_LOG_WARNING    "advarsler"
    IDM_MQTT_LOG_ERR        "bare feil"
    IDM_MQTT_LOG_DEBUG      "alle meldinger"
END

STRINGTABLE
BEGIN
    IDS_ERRORID_OK          "OK"
    IDS_ERRORID_EMPTY       "<тут пусто>"
    IDS_ERRORID_UNDEFINED   "Denne feilen er udefinert"
    IDS_ERRORID_JSONCONF_WRITE_ACCESS
                            "Skrivetilgang til konfigurasjonsfilen er nektet, '{0}'"
    IDS_ERRORID_JSONCONF_READ_ACCESS
                            "Konfigurasjonsfil mangler eller tilgang nektet, '{0}'"
    IDS_ERRORID_JSONCONF_EMPTY
                            "Konfigurasjonsfilen er tom, '{0}'"
    IDS_ERRORID_JSONCONF_NO_DEVICE
                            "MIDI-enhetsnavnet er ikke konfigurert."
    IDS_ERRORID_JSONCONF_EMPTY_KEYS
                            "Det er ingen MIDI-nøkler konfigurert i denne konfigurasjonen."
    IDS_ERRORID_JSONCONF_WRITE_EMPTY
                            "OBS, denne konfigurasjonen har ikke MIDI-nøkler konfigurert! den registrerte konfigurasjonen vil ikke fungere."
    IDS_ERRORID_INIT_COINITIALIZE
                            "Co*Initialize initialisering mislyktes."
    IDS_ERRORID_INIT_COCREATE
                            "Co*Create – klarte ikke å opprette en forekomst."
    IDS_ERRORID_INIT_DEFAULT_AE
                            "Kunne ikke hente standard lydenhet."
    IDS_ERRORID_INIT_AS_MANAGER2
                            "Audio Session Manager krasjet."
    IDS_ERRORID_INIT_AS_AUDIOMETER
                            "Lydmåler er ikke tilgjengelig."
    IDS_ERRORID_MIXER_STARTOK
                            "Lydøktmikseren kjører, på lanseringstidspunktet er det {0} kjørende programmer tilgjengelig for regulering."
    IDS_ERRORID_MIXER_STARTERROR
                            "Lydøktmikseren kunne ikke startes, feildetaljer skal være i loggfilen."
    IDS_ERRORID_MIXER_STOPOK
                            "Lydøktmikseren har stoppet."
    IDS_ERRORID_MIXER_STOPERROR
                            "Audio Session Mixer ble ikke stoppet riktig, feildetaljene skal være i loggfilen."
    IDS_ERRORID_NO_INIT     "Initialiser før du ringer dette.."
    IDS_ERRORID_SESSION_LIST
                            "Kunne ikke hente listen over lydøkter."
    IDS_ERRORID_LISTISNULL  "Listen over lydøkter er tom!"
    IDS_ERRORID_SESSIONDISCONNECTED
                            "Deaktiverer lydøkt, reason='{0}'"
    IDS_ERRORID_SESSIONCREATED
                            "Lydøkt opprettet, name='{0}'"
    IDS_ERRORID_ITEM_SC_AE  "Lydøkt '{0}' - Ugyldig registreringsstatus '{1}': {2}/{3}"
    IDS_ERRORID_CBVALUE_BAD_SELECT
                            "Verdien som settes fra tilbakeringingen er en ugyldig velger."
    IDS_ERRORID_SET_CB_WARNING
                            "Å angi en tilbakeringing er bare mulig etter at MIDI-broen er vellykket lansert."
    IDS_ERRORID_CONFIG_FAIL "Konfigurasjonslasting mislyktes, filen ble ikke funnet, start umulig."
    IDS_ERRORID_CONFIG_LOAD "Konfigurasjonen er lastet inn.."
    IDS_ERRORID_CONFIG_LOADA
                            "Konfigurasjonen er allerede lastet inn.."
    IDS_ERRORID_CONFIG_EMPTY
                            "Konfigurasjonen er tom.."
    IDS_ERRORID_CONFIG_NEW  "Ny konfigurasjonsversjon oppdaget.."
    IDS_ERRORID_NOT_IMPLEMENTED
                            "Ikke-støttet implementering i kode, metode ikke overstyrt: {0}"
    IDS_ERRORID_NOT_CONFIG  "Konfigurasjonsnavnet er ikke spesifisert og kan ikke fortsette."
    IDS_ERRORID_NOT_DEVICES "Enhetene er ikke tilkoblet og kan ikke fortsette."
    IDS_ERRORID_COUNT_DEVICES
                            "Oppmerksomhet, uoverensstemmelse i antall enheter i den endelige listen, system/liste = {0}/{1}"
    IDS_ERRORID_OPEN_MIDI_DEVICE
                            "Kan ikke åpne MIDI-enhet, kan ikke fortsette, id = {0}/{1}"
    IDS_ERRORID_START_MIDI_DEVICE
                            "Kan ikke starte MIDI-enhet, kan ikke fortsette, id = {0}/{1}"
    IDS_ERRORID_DEVICE_NOT_CONNECT
                            "Enhet ikke tilkoblet, avbryt, id = {0}/{1}"
    IDS_ERRORID_DEVICE_FOUND
                            "Enhet {0} funnet, {1}"
    IDS_ERRORID_DEVICE_OPEN "Enhet {0} åpen, {1}"
    IDS_ERRORID_DEVICE_CLOSE
                            "Enhet {0} lukket (system)"
    IDS_ERRORID_DEVICE_DONE "Enhet {0} klar (system)"
    IDS_ERRORID_NOT_DEVICE_NAME
                            "Navnet på den aktive enheten er ikke spesifisert, fortsettelse er umulig, id = {0}/{1}"
    IDS_ERRORID_NOT_CONFIG_PROXY
                            "Proxy-porter er ikke spesifisert i konfigurasjonen, MIDI-proxy er deaktivert."
    IDS_ERRORID_DRIVER_VER_OK
                            "Driverversjon [{0}]"
    IDS_ERRORID_DRIVER_VER_ERROR
                            "Problem med driverversjon [{0}]"
    IDS_ERRORID_SEND_BAD_VALUES
                            "Enhet {0} sendte ugyldig verdi = {1}"
    IDS_ERRORID_NOT_DRIVER  "Den virtuelle MIDI-driveren er ikke installert. Du må installere loopMidi-pakken, eller laste ned hele installasjonsprogrammet og installere MIDI-MT på nytt. Flere detaljer: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
    IDS_ERRORID_MMKEY_START "Media Key Management-tjenesten kjører."
    IDS_ERRORID_MMKEY_STOP  "Media Key Management-tjenesten har stoppet."
    IDS_ERRORID_MQTT_EMPTY_CONFIG
                            "MQTT-konfigurasjonen er tom og kan ikke fortsette."
    IDS_ERRORID_MQTT_CLIENT_ERROR
                            "Feil ved opprettelse av MQTT-klient, kansellerer."
    IDS_ERRORID_MQTT_CLIENT_OK
                            "MMQTT-klienten er opprettet, fortsett..."
    IDS_ERRORID_MQTT_CONNECTED
                            "Koblet til MQTT-server:"
    IDS_ERRORID_MQTT_NOT_CONNECTED
                            "Kunne ikke koble til MQTT-serveren:"
    IDS_ERRORID_MQTT_DISCONNECTED
                            "Koblet fra MQTT-serveren:"
    IDS_ERRORID_MQTT_NOT_CA_CERT
                            "CA-sertifikatfilen eksisterer ikke, bane = '{0}'"
    IDS_ERRORID_MQTT_START  "Kontrolltjenesten Smart Home er lansert."
    IDS_ERRORID_MQTT_STOP   "Tjenesten Smart Home-kontroll er stoppet."
    IDS_ERRORID_PANEL_INDEX "Audio Mixer Panel - Kan ikke fortsette, indekselementene er feil."
    IDS_ERRORID_PANEL_INIT  "Lydmikserpanel - kan ikke fortsette, initialiseringsfeil."
    IDS_ERRORID_PANEL_ENABLE
                            "Lydmikserpanelvinduet har ikke riktig status og neste operasjon kan ikke fortsettes."
    IDS_ERRORID_PANEL_NOT_UI_THREAD
                            "Lydmikserpanelet kalles ikke på en brukergrensesnitttråd og endringer kan ikke gjøres."
    IDS_ERRORID_PANEL_NOT_ITEM_VALID
                            "Lydmikserpanelet oppdaget et ugyldig element og opprettelsen av panelvinduet ble avbrutt."
    IDS_ERRORID_LIGHT_DMX_START
                            "DMX-lyskontrolltjenesten startes med COM{0} - {1}."
    IDS_ERRORID_LIGHT_DMX_NOT_COM
                            "DMX-lyskontrolltjenesten kjører ikke, COM{0}-enheten er ikke tilkoblet.."
    IDS_ERRORID_LIGHT_DMX_NOT_CONFIG
                            "DMX-lysstyringstjenesten kjører ikke og tjenestekonfigurasjonen er ikke fylt ut."
    IDS_ERRORID_LIGHT_DMX_STOP
                            "DMX-lysstyringstjenesten har stoppet."
    IDS_ERRORID_LIGHT_ARTNET_START
                            "ArtNet Lighting Control Service kjører med kringkastingsadressen {0}:{1} på nettverket {2}."
    IDS_ERRORID_LIGHT_ARTNET_NOT_COM
                            "ArtNet lysstyringstjeneste kjører ikke, nettverket {0} ble ikke funnet.."
    IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG
                            "ArtNet lysstyringstjenesten kjører ikke, tjenestekonfigurasjonen er ikke fylt ut."
    IDS_ERRORID_LIGHT_ARTNET_STOP
                            "ArtNets lysstyringstjeneste har stoppet."
    IDS_ERRORID_NONE        "-"
END
