#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT oversetter"
    STRING_MIXER	"&Mikser"
    STRING_SETTINGS	"&Innstillinger"
    STRING_START	"Start"
    STRING_STOP		"Stoppe"
    STRING_EXIT		"Exit"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Konfigurasjon lastet fra driveren"
    STRING_EDIT_MSG2	"Konfigurasjon lastet fra fil"
    STRING_EDIT_MSG3	"Konfigurasjonen er opprettet på nytt og krever utfylling"
    STRING_EDIT_MSG4	"Når du åpnet redigeringsprogrammet, ble konfigurasjonsfilen spesifisert: '{0}'. Lagre den med samme navn?"
    STRING_EDIT_MSG5	"DMX kanalnummer"
    STRING_EDIT_MSG6	"MQTT-konfigurasjonen ble eksportert"
    STRING_EDIT_MSG7	"Feil ved eksport av MQTT-konfigurasjon"
    STRING_EDIT_MSG8	"Fant ingen dupliserte MIDI-nøkler"
    STRING_EDIT_MSG9	"{0} dupliserte MIDI-nøkler funnet"

    STRING_NOTIFY_MSG1	"oversetteren er stoppet:"
    STRING_NOTIFY_MSG2	"oversetteren jobber:"

    STRING_AMIX_MSG1	"Lydmikseren kjører ikke, sjekk innstillingene, lydpanelstarten må være aktivert."
    STRING_AMIX_MSG2	"MIDIMT - Lydmikseren kjører ikke:"
    STRING_AMIX_MSG3	"Ugyldig hendelses-ID. Start dette programmet på nytt."
    STRING_AMIX_MSG4	"MIDIMT - Kan ikke fullføre operasjonen:"
    STRING_AMIX_MSG5	"Kunne ikke bytte til UI-tråden, oppstart av lydpanelet ble avbrutt."

    STRING_MAIN_MSG1	"Applikasjonsinitieringsfeil, fortsettelse er ikke mulig."
    STRING_MAIN_MSG2	"Sjekk brukerens tillatelser til å skrive filer i applikasjonskatalogen. Hvis feilen vedvarer, prøv å deaktivere logging."
    STRING_MAIN_MSG3	"Autorun er deaktivert i den generelle konfigurasjonen."
    STRING_MAIN_MSG4	"Den valgte konfigurasjonen støtter ikke automatisk start."

    STRING_LOGV_MSG1	"Før du starter monitoren, start oversetteren fra menyen ved å velge “Start”."
    STRING_LOGV_MSG2	"Alle innstillinger '{0}', konfigurasjonsfilversjon: {1}"
    STRING_LOGV_MSG3	"MIDI-innstillinger"
    STRING_LOGV_MSG4	"Smart Home-innstillinger (MQTT)"
    STRING_LOGV_MSG5	"Multimedietastaturinnstillinger (MMKEYS)"
    STRING_LOGV_MSG6	"Innstillinger for lysstyring ({0})"
    STRING_LOGV_MSG7	"Innstillinger for fjernkontrollpanel (REMOTE)"
    STRING_LOGV_MSG8	"Innstillinger for styrekontroll/styrespak (GAMEPAD)"
    STRING_LOGV_MSG9	"MIDI-tast trykket:"
    STRING_LOGV_MSG10	"Tag nummer:"

    STRING_CHKR_MSG1	"Ved oppstart ble konfigurasjonsfilen spesifisert: '{0}'. Vil du angi det som en konfigurasjon for påfølgende kjøringer?"
    STRING_CHKR_MSG2	"MIDI-MT konfigurasjon"

    STRING_TMENU_MSG1	"Du må installere Virtual MIDI-driveren!"

    STRING_LANG_STATUS	"status:"
    STRING_LANG_YES	"Ja"
    STRING_LANG_NO	"Nei"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "lydvolum (hoved)"
	IDM_COL4_MAP  "lydbalanse (grunnleggende)"
	IDM_COL4_MAM  "mute (hoved)"
	IDM_COL4_MAS  "lydsolo (hoved)"
	IDM_COL4_JOG  "JOG (spol tilbake videoramme)"
	IDM_COL4_AV1  "lydvolum (kanal 1)"
	IDM_COL4_AV2  "lydvolum (kanal 2)"
	IDM_COL4_AV3  "lydvolum (kanal 3)"
	IDM_COL4_AV4  "lydvolum (kanal 4)"
	IDM_COL4_AV5  "lydvolum (kanal 5)"
	IDM_COL4_AV6  "lydvolum (kanal 6)"
	IDM_COL4_AV7  "lydvolum (kanal 7)"
	IDM_COL4_AV8  "lydvolum (kanal 8)"
	IDM_COL4_XV9  "lydvolum (kanal 9)"
	IDM_COL4_AP1  "lydbalanse (kanal 1)"
	IDM_COL4_AP2  "lydbalanse (kanal 2)"
	IDM_COL4_AP3  "lydbalanse (kanal 3)"
	IDM_COL4_AP4  "lydbalanse (kanal 4)"
	IDM_COL4_AP5  "lydbalanse (kanal 5)"
	IDM_COL4_AP6  "lydbalanse (kanal 6)"
	IDM_COL4_AP7  "lydbalanse (kanal 7)"
	IDM_COL4_AP8  "lydbalanse (kanal 8)"
	IDM_COL4_XP9  "lydbalanse (kanal 9)"
	IDM_COL4_B11  "lydsolo (kanal 1)"
	IDM_COL4_B12  "lydsolo (kanal 2)"
	IDM_COL4_B13  "lydsolo (kanal 3)"
	IDM_COL4_B14  "lydsolo (kanal 4)"
	IDM_COL4_B15  "lydsolo (kanal 5)"
	IDM_COL4_B16  "lydsolo (kanal 6)"
	IDM_COL4_B17  "lydsolo (kanal 7)"
	IDM_COL4_B18  "lydsolo (kanal 8)"
	IDM_COL4_B19  "lydsolo (kanal 9)"
	IDM_COL4_B21  "mute (kanal 1)"
	IDM_COL4_B22  "mute (kanal 2)"
	IDM_COL4_B23  "mute (kanal 3)"
	IDM_COL4_B24  "mute (kanal 4)"
	IDM_COL4_B25  "mute (kanal 5)"
	IDM_COL4_B26  "mute (kanal 6)"
	IDM_COL4_B27  "mute (kanal 7)"
	IDM_COL4_B28  "mute (kanal 8)"
	IDM_COL4_B29  "mute (kanal 9)"
	IDM_COL4_B31  "lydvalg (kanal 1)"
	IDM_COL4_B32  "lydvalg (kanal 2)"
	IDM_COL4_B33  "lydvalg (kanal 3)"
	IDM_COL4_B34  "lydvalg (kanal 4)"
	IDM_COL4_B35  "lydvalg (kanal 5)"
	IDM_COL4_B36  "lydvalg (kanal 6)"
	IDM_COL4_B37  "lydvalg (kanal 7)"
	IDM_COL4_B38  "lydvalg (kanal 8)"
	IDM_COL4_B39  "lydvalg (kanal 9)"
	IDM_COL4_FUN11  "funksjon F1 (standardmodus)"
	IDM_COL4_FUN12  "funksjon F2 (standardmodus)"
	IDM_COL4_FUN13  "funksjon F3 (standardmodus)"
	IDM_COL4_FUN14  "funksjon F4 (standardmodus)"
	IDM_COL4_FUN15  "funksjon F5 (standardmodus)"
	IDM_COL4_FUN16  "funksjon F6 (standardmodus)"
	IDM_COL4_FUN17  "funksjon F7 (standardmodus)"
	IDM_COL4_FUN18  "funksjon F8 (standardmodus)"
	IDM_COL4_FUN21  "funksjon F1 (holdt modus)"
	IDM_COL4_FUN22  "funksjon F2 (holdt modus)"
	IDM_COL4_FUN23  "funksjon F3 (holdt modus)"
	IDM_COL4_FUN24  "funksjon F4 (holdt modus)"
	IDM_COL4_FUN25  "funksjon F5 (holdt modus)"
	IDM_COL4_FUN26  "funksjon F6 (holdt modus)"
	IDM_COL4_FUN27  "funksjon F7 (holdt modus)"
	IDM_COL4_FUN28  "funksjon F8 (holdt modus)"
	IDM_COL4_SYS_Rewind  "Spol tilbake (spiller)"
	IDM_COL4_SYS_Forward  "Spol fremover (spiller)"
	IDM_COL4_SYS_Stop  "Stopp (spiller)"
	IDM_COL4_SYS_Play  "Spill (spiller)"
	IDM_COL4_SYS_Record  "Opptak (spiller)"
	IDM_COL4_SYS_Up    "Opp (joystick)"
	IDM_COL4_SYS_Down  "Ned (joystick)"
	IDM_COL4_SYS_Left  "Venstre (joystick)"
	IDM_COL4_SYS_Right  "Høyre (joystick)"
	IDM_COL4_SYS_Zoom  "Øke"
	IDM_COL4_SYS_Scrub  "Skrubbe"
	IDM_COL4_VOLUMEMIX "Mikserkontroll"
	IDM_COL4_MEDIAKEY "Multimedietaster"
        IDM_COL4_MQTTKEY  "Smart Home Management"
        IDM_COL4_LIGHTKEY8B "Lyskontroll (8 bits)"
        IDM_COL4_LIGHTKEY16B "Lyskontroll (16 bit)"
	IDM_COL4_VMSCRIPT "Skripthåndtering"
	IDM_COL4_NONE  "handling ikke definert"
	IDM_COL5_MQTT_AV1		"nivå 1"
	IDM_COL5_MQTT_AV2		"nivå 2"
	IDM_COL5_MQTT_AV3		"nivå 3"
	IDM_COL5_MQTT_AV4		"nivå 4"
	IDM_COL5_MQTT_AV5		"nivå 5"
	IDM_COL5_MQTT_AV6		"nivå 6"
	IDM_COL5_MQTT_AV7		"nivå 7"
	IDM_COL5_MQTT_AV8		"nivå 8"
	IDM_COL5_MQTT_XV9		"nivå 9"
	IDM_COL5_MQTT_AP1		"nivå 10"
	IDM_COL5_MQTT_AP2		"nivå 11"
	IDM_COL5_MQTT_AP3		"nivå 12"
	IDM_COL5_MQTT_AP4		"nivå 13"
	IDM_COL5_MQTT_AP5		"nivå 14"
	IDM_COL5_MQTT_AP6		"nivå 15"
	IDM_COL5_MQTT_AP7		"nivå 16"
	IDM_COL5_MQTT_AP8		"nivå 17"
	IDM_COL5_MQTT_XP9		"nivå 18"
	IDM_COL5_MQTT_B11		"av/på 1"
	IDM_COL5_MQTT_B12		"av/på 2"
	IDM_COL5_MQTT_B13		"av/på 3"
	IDM_COL5_MQTT_B14		"av/på 4"
	IDM_COL5_MQTT_B15		"av/på 5"
	IDM_COL5_MQTT_B16		"av/på 6"
	IDM_COL5_MQTT_B17		"av/på 7"
	IDM_COL5_MQTT_B18		"av/på 8"
	IDM_COL5_MQTT_B19		"av/på 9"
	IDM_COL5_MQTT_B21		"av/på 10"
	IDM_COL5_MQTT_B22		"av/på 11"
	IDM_COL5_MQTT_B23		"av/på 12"
	IDM_COL5_MQTT_B24		"av/på 13"
	IDM_COL5_MQTT_B25		"av/på 14"
	IDM_COL5_MQTT_B26		"av/på 15"
	IDM_COL5_MQTT_B27		"av/på 16"
	IDM_COL5_MQTT_B28		"av/på 17"
	IDM_COL5_MQTT_B29		"av/på 18"
	IDM_COL5_MQTT_B31		"av/på 19"
	IDM_COL5_MQTT_B32		"av/på 20"
	IDM_COL5_MQTT_B33		"av/på 21"
	IDM_COL5_MQTT_B34		"av/på 22"
	IDM_COL5_MQTT_B35		"av/på 23"
	IDM_COL5_MQTT_B36		"av/på 24"
	IDM_COL5_MQTT_B37		"av/på 25"
	IDM_COL5_MQTT_B38		"av/på 26"
	IDM_COL5_MQTT_B39		"av/på 27"
	IDM_COL5_MQTT_EMPTY		"Ikke tildelt"
	IDM_COL5_SCRIPT_B11		"manus 1"
	IDM_COL5_SCRIPT_B12		"manus 2"
	IDM_COL5_SCRIPT_B13		"manus 3"
	IDM_COL5_SCRIPT_B14		"manus 4"
	IDM_COL5_SCRIPT_B15		"manus 5"
	IDM_COL5_SCRIPT_B16		"manus 6"
	IDM_COL5_SCRIPT_B17		"manus 7"
	IDM_COL5_SCRIPT_B18		"manus 8"
	IDM_COL5_SCRIPT_B19		"manus 9"
	IDM_COL5_SCRIPT_B21		"manus 10"
	IDM_COL5_SCRIPT_B22		"manus 11"
	IDM_COL5_SCRIPT_B23		"manus 12"
	IDM_COL5_SCRIPT_B24		"manus 13"
	IDM_COL5_SCRIPT_B25		"manus 14"
	IDM_COL5_SCRIPT_B26		"manus 15"
	IDM_COL5_SCRIPT_B27		"manus 16"
	IDM_COL5_SCRIPT_B28		"manus 17"
	IDM_COL5_SCRIPT_B29		"manus 18"
	IDM_COL5_SCRIPT_B31		"manus 19"
	IDM_COL5_SCRIPT_B32		"manus 20"
	IDM_COL5_SCRIPT_B33		"manus 21"
	IDM_COL5_SCRIPT_B34		"manus 22"
	IDM_COL5_SCRIPT_B35		"manus 23"
	IDM_COL5_SCRIPT_B36		"manus 24"
	IDM_COL5_SCRIPT_B37		"manus 25"
	IDM_COL5_SCRIPT_B38		"manus 26"
	IDM_COL5_SCRIPT_B39		"manus 27"
	IDM_COL5_SCRIPT_STOP		"Stopp alle skript"
	IDM_COL5_SCRIPT_RELOAD		"Les skriptkatalogen på nytt"
	IDM_COL5_SCRIPT_EMPTY		"Ikke tildelt"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"OK"
	IDS_ERRORID_EMPTY			"[Konfigurasjonen er tom..]"
	IDS_ERRORID_UNDEFINED			"Denne feilen er udefinert"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Skrivetilgang til konfigurasjonsfilen er nektet, '{0}'"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Konfigurasjonsfil mangler eller tilgang nektet, '{0}'"
	IDS_ERRORID_JSONCONF_EMPTY		"Konfigurasjonsfilen er tom, '{0}'"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"MIDI-enhetsnavnet er ikke konfigurert."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"Det er ingen MIDI-nøkler konfigurert i denne konfigurasjonen."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"OBS, denne konfigurasjonen har ikke MIDI-nøkler konfigurert! den registrerte konfigurasjonen vil ikke fungere."
	IDS_ERRORID_INIT_COINITIALIZE		"Co*Initialize initialisering mislyktes."
	IDS_ERRORID_INIT_COCREATE		"Co*Create – klarte ikke å opprette en forekomst."
	IDS_ERRORID_INIT_DEFAULT_AE		"Kunne ikke hente standard lydenhet."
	IDS_ERRORID_INIT_AS_MANAGER2		"Audio Session Manager krasjet."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Lydmåler er ikke tilgjengelig."
	IDS_ERRORID_MIXER_STARTOK		"Lydøktmikseren kjører, på starttidspunktet er det {0} kjørende programmer tilgjengelig for regulering."
	IDS_ERRORID_MIXER_STARTERROR		"Lydøktmikseren kunne ikke startes, feildetaljer skal være i loggfilen."
	IDS_ERRORID_MIXER_STOPOK		"Lydøktmikseren har stoppet."
	IDS_ERRORID_MIXER_STOPERROR		"Lydøktmikseren ble ikke stoppet riktig, feildetaljer skal være i loggfilen."
	IDS_ERRORID_NO_INIT			"Initialiser før du ringer dette.."
	IDS_ERRORID_SESSION_LIST		"Kunne ikke hente listen over lydøkter."
	IDS_ERRORID_LISTISNULL			"Listen over lydøkter er tom!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Deaktiverer lydøkt, reason='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Lydøkt opprettet, name='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Lydøkt '{0}' - dårlig registreringsstatus '{1}': {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"Verdien som settes fra tilbakeringingen er en ugyldig velger."
	IDS_ERRORID_SET_CB_WARNING		"Å angi en tilbakeringing er bare mulig etter at MIDI-broen er vellykket lansert."
	IDS_ERRORID_CONFIG_FAIL			"Konfigurasjonslasting mislyktes, filen ble ikke funnet, start umulig."
	IDS_ERRORID_CONFIG_LOAD			"Konfigurasjonen er lastet inn.."
	IDS_ERRORID_CONFIG_LOADA		"Konfigurasjonen er allerede lastet inn.."
	IDS_ERRORID_CONFIG_EMPTY		"Konfigurasjonen er tom.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"Konfigurasjonen for modul {0} er tom."
	IDS_ERRORID_CONFIG_NEW			"Ny konfigurasjonsversjon oppdaget.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Ikke-støttet implementering i kode, metode ikke overstyrt: {0}"
	IDS_ERRORID_NOT_CONFIG			"Konfigurasjonsnavnet er ikke spesifisert og kan ikke fortsettes."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Enhetene er ikke tilkoblet og kan ikke fortsette."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Merk at antall enheter i den endelige listen stemmer ikke, system/liste = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Kan ikke åpne MIDI-enhet, kan ikke fortsette, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Kan ikke starte MIDI-enhet, kan ikke fortsette, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Enhet ikke tilkoblet, avbryt, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Enhet {0} funnet, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Enhet {0} åpen, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Enhet {0} lukket (system)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Enhet {0} klar (system)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Navnet på den aktive enheten er ikke spesifisert, fortsettelse er umulig, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Proxy-porter er ikke spesifisert i konfigurasjonen, MIDI-proxy er deaktivert."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Driverversjon [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Problem med driverversjon [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Enhet {0} sendte ugyldig verdi = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"Den virtuelle MIDI-driveren er ikke installert. Du må installere loopMidi-pakken, eller laste ned hele installasjonsprogrammet og installere MIDI-MT på nytt. Flere detaljer: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Den installerte Virtual MIDI-driveren ble ikke funnet! Du må installere Virtual Loop MIDI-pakken for å kjøre MIDI-MT-oversetteren."
	IDS_ERRORID_MIDI_PROXY_PORTS		"Ved oppstart vil {0} proxy-MIDI-porter bli opprettet."
	IDS_ERRORID_MIDI_PROXY_OFF		"Proxy MIDI-porter er deaktivert."
	IDS_ERRORID_MIDI_OUT_PORTS		"Ved oppstart opprettes {0} MIDI-utgangsporter."
	IDS_ERRORID_MIDI_OUT_OFF		"MIDI-utgangsporter er deaktivert."
	IDS_ERRORID_MMKEY_START			"Media Key Management-tjenesten kjører."
	IDS_ERRORID_MMKEY_STOP			"Media Key Management-tjenesten har stoppet."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"MQTT-konfigurasjonen er tom og kan ikke fortsette."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Feil ved opprettelse av MQTT-klient, kansellerer."
	IDS_ERRORID_MQTT_CLIENT_OK		"MMQTT-klienten er opprettet, fortsett..."
	IDS_ERRORID_MQTT_CONNECTED		"Koblet til MQTT-server:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Kunne ikke koble til MQTT-serveren:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Koblet fra MQTT-serveren:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"CA-sertifikatfilen eksisterer ikke, bane = '{0}'"
	IDS_ERRORID_MQTT_START			"Kontrolltjenesten Smart Home er lansert."
	IDS_ERRORID_MQTT_STOP			"Tjenesten Smart Home-kontroll er stoppet."
	IDS_ERRORID_MQTT_CA_FILTER		"CA-sertifikat"
	IDS_ERRORID_LOG_LEVEL_NONE		"ingen logg føres"
	IDS_ERRORID_LOG_LEVEL_INFO		"informasjon"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"varsler"
	IDS_ERRORID_LOG_LEVEL_WARNING		"advarsler"
	IDS_ERRORID_LOG_LEVEL_ERR		"bare feil"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"alle meldinger"
	IDS_ERRORID_PANEL_INDEX			"Audio Mixer Panel - Kan ikke fortsette, indekselementene er feil."
	IDS_ERRORID_PANEL_INIT			"Lydmikserpanel - kan ikke fortsette, initialiseringsfeil."
	IDS_ERRORID_PANEL_ENABLE		"Lydmikserpanelvinduet har ikke riktig status og neste operasjon kan ikke fortsettes."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Lydmikserpanelet kalles ikke på en brukergrensesnitttråd, og endringer kan ikke gjøres."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Lydmikserpanelet oppdaget et ugyldig element og opprettelsen av panelvinduet ble avbrutt."
	IDS_ERRORID_LIGHT_DMX_START		"DMX-lyskontrolltjenesten startes med COM{0} - {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"DMX-lyskontrolltjenesten kjører ikke, COM{0}-enheten er ikke tilkoblet.."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"DMX-lysstyringstjenesten kjører ikke og tjenestekonfigurasjonen er ikke fylt ut."
	IDS_ERRORID_LIGHT_DMX_STOP		"DMX-lysstyringstjenesten har stoppet."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Ingen egnede enheter tilgjengelig"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Velg DMX-enhet"
	IDS_ERRORID_LIGHT_ARTNET_START		"ArtNet Lighting Control Service kjører med kringkastingsadressen {0}:{1} på nettverket {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"ArtNet lysstyringstjeneste kjører ikke, nettverket {0} ble ikke funnet.."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"ArtNet lysstyringstjenesten kjører ikke, tjenestekonfigurasjonen er ikke fylt ut."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"ArtNets lysstyringstjeneste har stoppet."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Ingen passende grensesnitt tilgjengelig"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Velg ARTNET-grensesnitt"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Plugin-initieringsfeil, kan ikke konvertere CLSID/GUID fra spesifisert streng."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Kunne ikke initialisere plugins, ingen kompatible plugins ble funnet."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Kunne ikke laste inn plugins, forhåndsinitialisert {0}, 0 plugins lastet inn."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Programtillegg initialisert, forhåndsinitialisering {0}, {1} programtillegg er lastet."
	IDS_ERRORID_BRIDGE_OK_START		"Bridge ble lansert, {0} initialisert, {1} lastet, {2} programtillegg kjører."
	IDS_ERRORID_BRIDGE_NOT_START		"Kunne ikke starte broen, feil ved start av programtillegg, {0} initialisert, {1} programtillegg lastet."
	IDS_ERRORID_BRIDGE_OK_STOP		"Bridge stoppet, {0} initialisert, {1} lastet, {2} startet, {3} plugins stoppet."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Kunne ikke stoppe broen, feil ved stopp av programtillegg, {0} initialisert, {1} lastet, {2} programtillegg kjører."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Programtilleggene er allerede lastet, vennligst tilbakestill før du starter på nytt."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"Broen er allerede lansert."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"Broen har allerede stoppet."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Kunne ikke åpne plugin-modulen. Modulen mangler eller er skadet, DLL ble ikke lastet og returnerte null."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"Modulen er ikke en MIDI-MT-plugin og de nødvendige inngangspunktene mangler."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Aktivert={0}, innstillinger={1}, kjører={2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Konfigurasjon oppdatert: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Ingen moduler funnet, oppstart umulig."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Rediger konfigurasjonen før du starter."
	IDS_ERRORID_MIDIMT_CONFFILTER		"Konfigurasjonsfilen"
	IDS_ERRORID_MIDIMT_EXEFILTER		"Kjørbare filer"
	IDS_ERRORID_MIDIMT_JSONFILTER		"MQTT-konfigurasjonsfiler"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Konfigurasjon lastet fra fil: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Konfigurasjon lastet fra driveren"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"Det valgte {0}-språket vil være aktivt etter at vinduet er startet på nytt."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Installert Virtual MIDI-driverversjon: {0}"
	IDS_ERRORID_REMOTE_START		"Fjernkontrolltjenesten har startet."
	IDS_ERRORID_REMOTE_STOP			"Fjernkontrolltjenesten har stoppet."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Ny klient {0}/{1} er tilkoblet."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Klientfeil {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Klient {0}/{1} frakoblet, status: {2} - {3}."

	IDS_ERRORID_JOY_NODRIVER		"Det er ingen joystick eller gamepad-driver."
	IDS_ERRORID_JOY_INVALIDPARAM		"Den angitte joystick-ID-en er ugyldig."
	IDS_ERRORID_JOY_NOCANDO			"Joystick-inngangen kan ikke skrives, og den nødvendige tjenesten er ikke tilgjengelig."
	IDS_ERRORID_JOY_UNPLUGGED		"Den angitte styrespaken er ikke koblet til systemet."
	IDS_ERRORID_JOY_START			"Tjenesten for styrekontroll/styrespak kjører, aktive enheter: {0}, online: {1}."
	IDS_ERRORID_JOY_STOP			"Tjenesten for Gamepad/Joystick-kontroll har stoppet."
	IDS_ERRORID_JOY_CHANGE_SCENE		"Kontrollscenen er endret til {0} med gamepad eller joystick."
	IDS_ERRORID_JOY_CHANGE_CTRL		"{0}/{1}-kontrollen velges med håndkontrolleren eller styrespaken."

	IDS_ERRORID_COPY_LINK			"Linken er kopiert til utklippstavlen."
	IDS_ERRORID_NET_IFACE_NONE		"Ingen nettverksgrensesnitt"
	IDS_ERRORID_NET_IFACE_SELECT		"Velg nettverksgrensesnitt"
	IDS_ERRORID_TIMEOUT_EXPIRED		"Ventetiden er utløpt, ventetiden er avsluttet.."

	IDS_ERRORID_SCRIPT_ERROR		"Skriptkjøringsfeil: {0}"
	IDS_ERRORID_SCRIPT_EMPTY		"Skriptet er tomt!"
	IDS_ERRORID_SCRIPT_MODIFY		"Skript endret: {0}"
	IDS_ERRORID_SCRIPT_LOADED		"Skript lastet inn: {0}"
	IDS_ERRORID_SCRIPT_NOTFOUND		"Ingen skript funnet i katalogen {0}"
	IDS_ERRORID_SCRIPT_START		"Skriptmotoren kjører, tilgjengelige skript: {0}."
	IDS_ERRORID_SCRIPT_STOP			"Skriptmotoren har stoppet."
	IDS_ERRORID_SCRIPT_DIRFILTER		"Skriptfiler"
	IDS_ERRORID_SCRIPT_CALL			"Kjør skript: {0}"
	IDS_ERRORID_SCRIPT_RESCAN		"Jeg leser manuskatalogen på nytt..."
	IDS_ERRORID_SCRIPT_STOPALL		"Sluttet å kjøre skript: {0}"

	IDS_ERRORID_FILEWATCH_OPEN		"Kunne ikke åpne katalogen: {0}"
	IDS_ERRORID_FILEWATCH_PARAM		"Katalogen med de spesifiserte parameterne kan ikke leses, jeg fullfører overvåkingen av katalogen."
	IDS_ERRORID_FILEWATCH_SHUTDOWN		"uventet avslutning av katalogovervåking"
	IDS_ERRORID_FILEWATCH_NOACCESS		"problemer med å få tilgang til katalogen, muligens feil lesebufferstørrelse"

	IDS_ERRORID_NONE			"-"
END
