#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	IDS_RB_DIALOG_LAST_OPENL	"Siste filer:"
	IDS_RB_TABHOMEL			"Redigering"
	IDS_RB_TABFILTERL		"Filtre"
	IDS_RB_PANEL_EDITMAINL		"rediger MIDI-tasten"
	IDS_RB_PANEL_EDITSETL		"angi MIDI-nøkkel som..."
	IDS_RB_PANEL_EDITOPTL		"redigeringsalternativer"
	IDS_RB_PANEL_FILTERL		"utvalg av visningsfiltre"
	IDS_RB_PANEL_SORTL		"sortering"
	IDS_RB_MENUL			"&Meny"
	IDS_RB_MENUT			"Applikasjonsmeny"
	IDS_RB_PANEL_QATL		"&Rask tilgang"
	IDS_RB_PANEL_QATT		"Rask tilgangsverktøylinje"
	IDS_RB_DIALOG_SAVEL		"&Lagre"
	IDS_RB_DIALOG_SAVET		"Lagre og bruk"
	IDS_RB_DIALOG_SAVED		"Lagre til den tidligere nedlastede filen og oppdater gjeldende konfigurasjon."
	IDS_RB_DIALOG_EXPORTL		"&Eksport"
	IDS_RB_DIALOG_EXPORTT		"Eksporter til en ny fil"
	IDS_RB_DIALOG_EXPORTD		"Eksporter den redigerte konfigurasjonen til en ny fil."
	IDS_RB_DIALOG_IMPORTL		"&Import"
	IDS_RB_DIALOG_IMPORTT		"Importer fra fil"
	IDS_RB_DIALOG_IMPORTD		"Importer konfigurasjon fra fil."
	IDS_RB_DIALOG_EXITL		"&Exit"
	IDS_RB_DIALOG_EXITT		"Avslutt editor"
	IDS_RB_DIALOG_EXITD		"Avslutter MIDI Key Configuration Editor; hvis endringer ikke lagres, vil de gå tapt."
	IDS_RB_LV_NEWL			"&Ny MIDI-nøkkel"
	IDS_RB_LV_NEWT			"Ny MIDI-nøkkel"
	IDS_RB_LV_NEWD			"Opprette en ny MIDI-nøkkel."
	IDS_RB_LV_COPYL			"&Kopiere"
	IDS_RB_LV_COPYT			"Kopier MIDI-nøkkel"
	IDS_RB_LV_COPYD			"Kopier den valgte MIDI-tasten."
	IDS_RB_LV_PASTEL		"&Sett inn"
	IDS_RB_LV_PASTET		"Sett inn nøkkel"
	IDS_RB_LV_PASTED		"Lim inn den kopierte MIDI-nøkkelen."
	IDS_RB_LV_DELETEL		"&Slett"
	IDS_RB_LV_DELETET		"Slett nøkkel"
	IDS_RB_LV_DELETED		"Slett den valgte MIDI-tasten."
	IDS_RB_LV_SET_MQTTL		"Smart hus"
	IDS_RB_LV_SET_MQTTT		"Sett gruppen som “Smart Home”."
	IDS_RB_LV_SET_MQTTD		"Tilordne den valgte MIDI-nøkkelen til “Smart Home”-gruppen."
	IDS_RB_LV_SET_MMKEYL		"Multimedieknapper"
	IDS_RB_LV_SET_MMKEYT		"Sett gruppen som “Multimedia Buttons”"
	IDS_RB_LV_SET_MMKEYD		"Tilordne den valgte MIDI-tasten til “Multimedia Buttons”-gruppen."
	IDS_RB_LV_SET_MIXERL		"Lydmikser"
	IDS_RB_LV_SET_MIXERT		"Sett gruppe som “Audio Mixer”"
	IDS_RB_LV_SET_MIXERD		"Tilordne den valgte MIDI-tasten til “Audio Mixer”-gruppen."
	IDS_RB_LV_READ_MIDI_CODEL	"Les MIDI-koden"
	IDS_RB_LV_READ_MIDI_CODET	"Les MIDI-kontrollkoden"
	IDS_RB_LV_READ_MIDI_CODED	"Les MIDI-kode fra en kontrollflate eller MIDI-keyboard."
	IDS_RB_LV_EDIT_MODEL		"Kun digital inngang"
	IDS_RB_LV_EDIT_MODET		"Bruk kun digital inngang"
	IDS_RB_LV_EDIT_MODED		"Ikke bruk verdivalgmenyen, bruk kun digital inngang."
	IDS_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI kontrollpanel"
	IDS_RB_DIALOG_SHOW_MIDI_KEYST	"Anbefalte innstillinger"
	IDS_RB_DIALOG_SHOW_MIDI_KEYSD	"Anbefalte MIDI-kontrollpanelinnstillinger som er kompatible med Adobe Premiere Pro-kontroller."
	IDS_RB_LV_FILTER_EMBEDL		"Innebygde filtre"
	IDS_RB_LV_FILTER_KEYL		"Nøkkel"
	IDS_RB_LV_FILTER_KEYT		"Filtrer etter MIDI-nøkkel"
	IDS_RB_LV_FILTER_KEYD		"Vis kun treff innenfor en MIDI-nøkkelgruppe."
	IDS_RB_LV_FILTER_SCENEL		"Scene"
	IDS_RB_LV_FILTER_SCENET		"Filtrer etter MIDI-scene"
	IDS_RB_LV_FILTER_SCENED		"Vis kun treff i MIDI-scenegruppen."
	IDS_RB_LV_FILTER_TARGETL	"Formål 1"
	IDS_RB_LV_FILTER_TARGETT	"Filtrer etter destinasjon 1"
	IDS_RB_LV_FILTER_TARGETD	"Vis kun treff i målgruppe 1."
	IDS_RB_LV_FILTER_TARGETLONGL	"Formål 2"
	IDS_RB_LV_FILTER_TARGETLONGT	"Filtrer etter destinasjon 2"
	IDS_RB_LV_FILTER_TARGETLONGD	"Vis kun treff i målgruppe 2."
	IDS_RB_LV_FILTER_CLEARL		"Tøm filtre"
	IDS_RB_LV_FILTER_CLEART		"Rengjøring av filtre"
	IDS_RB_LV_FILTER_CLEARD		"Tøm filtrene helt, alle oppføringer vises."
	IDS_RB_LV_FILTER_SETL		"Sett filter"
	IDS_RB_LV_FILTER_SETT		"Installasjon av filter"
	IDS_RB_LV_FILTER_SETD		"Innstilling av filteret viser alle ugyldige elementer."
	IDS_RB_LV_FILTER_ONL		"Bruk filter"
	IDS_RB_LV_FILTER_ONT		"Bruk av et filter"
	IDS_RB_LV_FILTER_OND		"Ved å bruke et filter vises de valgte elementene."
	IDS_RB_LV_FILTER_OFFL		"Avbryt filteret"
	IDS_RB_LV_FILTER_OFFT		"Avbryt filteret"
	IDS_RB_LV_FILTER_OFFD		"Hvis du avbryter filteret, vises alle elementene."
	IDS_RB_LV_FILTER_MMKEYL		"Vis “Multimedieknapper”"
	IDS_RB_LV_FILTER_MMKEYT		"Filtrer etter “Multimedieknapper”-gruppe"
	IDS_RB_LV_FILTER_MMKEYD		"Hvis du bruker et filter, vises medlemmene i Multimedia Buttons-gruppen."
	IDS_RB_LV_FILTER_MIXERL		"Vis “Audio Mixer”"
	IDS_RB_LV_FILTER_MIXERT		"Filtrer etter “Audio Mixer”-gruppe"
	IDS_RB_LV_FILTER_MIXERD		"Hvis du bruker et filter, vises medlemmene av Audio Mixer-gruppen."
	IDS_RB_LV_FILTER_MQTTL		"Vis “Smart Home”"
	IDS_RB_LV_FILTER_MQTTT		"Filtrer etter “Smart Home”-gruppe"
	IDS_RB_LV_FILTER_MQTTD		"Hvis du bruker et filter, vises medlemmene av Smart Home-gruppen."
	IDS_RB_LV_FILTER_TYPEBTNL	"Filtertype"
	IDS_RB_LV_FILTER_TYPEBTNT	"Angi typen filtre som skal brukes"
	IDS_RB_LV_FILTER_TYPEBTND	"Filtertypene som brukes har to logiske tilstander: “OG”, “ELLER”."
	IDS_RB_LV_FILTER_TYPEGRPL	"Velge en filtertype"
	IDS_RB_LV_FILTER_TYPEORL	"Vis eventuelle treff"
	IDS_RB_LV_FILTER_TYPEORT	"Vis oppføringer med hvilken som helst kamp"
	IDS_RB_LV_FILTER_TYPEORD       	"Filteret har en logisk OG-tilstand og viser eventuelle treff."
	IDS_RB_LV_FILTER_TYPEANDL	"Vis kun fullstendige treff"
	IDS_RB_LV_FILTER_TYPEANDT	"Vis kun poster med eksakte treff"
	IDS_RB_LV_FILTER_TYPEANDD	"Filteret har en logisk ELLER-tilstand og viser kun fullstendige treff."
	IDS_RB_LV_FILTER_AUTOCOMMITL	"Automatisk sending av data i filteret"
	IDS_RB_LV_FILTER_AUTOCOMMITT	"Automatisk sending av angitte verdier i filteret"
	IDS_RB_LV_FILTER_AUTOCOMMITD	"Sender inn inndataverdier automatisk i et innebygd filter."
	IDS_RB_LV_EXT_MODEL		"Vis sortering"
	IDS_RB_LV_SORTUP_KEYL		"med nøkkel"
	IDS_RB_LV_SORTUP_KEYT		"Sorter etter stigende og MIDI-tast."
	IDS_RB_LV_SORTUP_SCENEL		"rundt scenen"
	IDS_RB_LV_SORTUP_SCENET		"Sortering etter stigende og MIDI-scene."
	IDS_RB_LV_SORTUP_TARGETL	"etter avtale 1"
	IDS_RB_LV_SORTUP_TARGETT	"Sorter etter stigende og MIDI-destinasjon 1."
	IDS_RB_LV_SORTUP_TARGETLONGL	"etter avtale 2"
	IDS_RB_LV_SORTUP_TARGETLONGT	"Sortering etter stigende og MIDI-destinasjon 2."
	IDS_RB_LV_SORTDOWN_KEYT		"Sorter etter synkende og MIDI-tast."
	IDS_RB_LV_SORTDOWN_SCENET	"Sortering etter synkende rekkefølge og MIDI-scene."
	IDS_RB_LV_SORTDOWN_TARGETT	"Sortering etter synkende rekkefølge og MIDI-destinasjon 1."
	IDS_RB_LV_SORTDOWN_TARGETLONGT	"Sortering etter synkende rekkefølge og MIDI-destinasjon 2."
END
