#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Siste filer:"
	STR_RB_TABHOMEL			"Redigering"
	STR_RB_TABFILTERL		"Filtre"
	STR_RB_PANEL_EDITMAINL		"rediger MIDI-tasten"
	STR_RB_PANEL_EDITSETL		"MIDI nøkkelgruppe"
	STR_RB_PANEL_EDITOPTL		"redigeringsalternativer"
	STR_RB_PANEL_FILTERL		"utvalg av visningsfiltre"
	STR_RB_PANEL_SORTL		"sortering"
	STR_RB_MENUL			"&Meny"
	STR_RB_MENUT			"Applikasjonsmeny"
	STR_RB_PANEL_QATL		"&Rask tilgang"
	STR_RB_PANEL_QATT		"Rask tilgangsverktøylinje"
	STR_RB_DIALOG_SAVEL		"&Lagre"
	STR_RB_DIALOG_SAVET		"Lagre og bruk"
	STR_RB_DIALOG_SAVED		"Lagre til den tidligere nedlastede filen og oppdater gjeldende konfigurasjon."
	STR_RB_DIALOG_EXPORTL		"&Eksport"
	STR_RB_DIALOG_EXPORTT		"Eksporter til en ny fil"
	STR_RB_DIALOG_EXPORTD		"Eksporter den redigerte konfigurasjonen til en ny fil."
	STR_RB_DIALOG_IMPORTL		"&Import"
	STR_RB_DIALOG_IMPORTT		"Importer fra fil"
	STR_RB_DIALOG_IMPORTD		"Importer konfigurasjon fra fil."
	STR_RB_DIALOG_EXITL		"&Exit"
	STR_RB_DIALOG_EXITT		"Avslutt editor"
	STR_RB_DIALOG_EXITD		"Avslutter MIDI Key Configuration Editor; hvis endringer ikke lagres, vil de gå tapt."
	STR_RB_LV_NEWL			"&Ny MIDI-nøkkel"
	STR_RB_LV_NEWT			"Ny MIDI-nøkkel"
	STR_RB_LV_NEWD			"Opprette en ny MIDI-nøkkel."
	STR_RB_LV_COPYL			"&Kopiere"
	STR_RB_LV_COPYT			"Kopier MIDI-nøkkel"
	STR_RB_LV_COPYD			"Kopier den valgte MIDI-tasten."
	STR_RB_LV_PASTEL		"&Sett inn"
	STR_RB_LV_PASTET		"Sett inn nøkkel"
	STR_RB_LV_PASTED		"Lim inn den kopierte MIDI-nøkkelen."
	STR_RB_LV_DELETEL		"&Slett"
	STR_RB_LV_DELETET		"Slett nøkkel"
	STR_RB_LV_DELETED		"Slett den valgte MIDI-tasten."
	STR_RB_LV_SET_MQTTL		"Smart hus"
	STR_RB_LV_SET_MQTTT		"Sett gruppen som “Smart Home”."
	STR_RB_LV_SET_MQTTD		"Tilordne den valgte MIDI-nøkkelen til “Smart Home”-gruppen."
	STR_RB_LV_SET_MMKEYL		"Multimedieknapper"
	STR_RB_LV_SET_MMKEYT		"Sett gruppen som “Multimedia Buttons”"
	STR_RB_LV_SET_MMKEYD		"Tilordne den valgte MIDI-tasten til “Multimedia Buttons”-gruppen."
	STR_RB_LV_SET_MIXERL		"Lydmikser"
	STR_RB_LV_SET_MIXERT		"Sett gruppe som “Audio Mixer”"
	STR_RB_LV_SET_MIXERD		"Tilordne den valgte MIDI-tasten til “Audio Mixer”-gruppen."
	STR_RB_LV_READ_MIDI_CODEL	"Les MIDI-koden"
	STR_RB_LV_READ_MIDI_CODET	"Les MIDI-kontrollkoden"
	STR_RB_LV_READ_MIDI_CODED	"Les MIDI-kode fra en kontrollflate eller MIDI-keyboard."
	STR_RB_LV_EDIT_MODEL		"Kun digital inngang"
	STR_RB_LV_EDIT_MODET		"Bruk kun digital inngang"
	STR_RB_LV_EDIT_MODED		"Ikke bruk verdivalgmenyen, bruk kun digital inngang."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI kontrollpanel"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Anbefalte innstillinger"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Anbefalte MIDI-kontrollpanelinnstillinger som er kompatible med Adobe Premiere Pro-kontroller."
	STR_RB_LV_FILTER_EMBEDL		"Innebygde filtre"
	STR_RB_LV_FILTER_KEYL		"Nøkkel"
	STR_RB_LV_FILTER_KEYT		"Filtrer etter MIDI-nøkkel"
	STR_RB_LV_FILTER_KEYD		"Vis kun treff innenfor en MIDI-nøkkelgruppe."
	STR_RB_LV_FILTER_SCENEL		"Scene"
	STR_RB_LV_FILTER_SCENET		"Filtrer etter MIDI-scene"
	STR_RB_LV_FILTER_SCENED		"Vis kun treff i MIDI-scenegruppen."
	STR_RB_LV_FILTER_TARGETL	"Formål 1"
	STR_RB_LV_FILTER_TARGETT	"Filtrer etter destinasjon 1"
	STR_RB_LV_FILTER_TARGETD	"Vis kun treff i målgruppe 1."
	STR_RB_LV_FILTER_TARGETLONGL	"Formål 2"
	STR_RB_LV_FILTER_TARGETLONGT	"Filtrer etter destinasjon 2"
	STR_RB_LV_FILTER_TARGETLONGD	"Vis kun treff i målgruppe 2."
	STR_RB_LV_FILTER_CLEARL		"Tøm filtre"
	STR_RB_LV_FILTER_CLEART		"Rengjøring av filtre"
	STR_RB_LV_FILTER_CLEARD		"Tøm filtrene helt, alle oppføringer vises."
	STR_RB_LV_FILTER_SETL		"Sett filter"
	STR_RB_LV_FILTER_SETT		"Installasjon av filter"
	STR_RB_LV_FILTER_SETD		"Innstilling av filteret viser alle ugyldige elementer."
	STR_RB_LV_FILTER_ONL		"Bruk filter"
	STR_RB_LV_FILTER_ONT		"Bruk av et filter"
	STR_RB_LV_FILTER_OND		"Ved å bruke et filter vises de valgte elementene."
	STR_RB_LV_FILTER_OFFL		"Avbryt filteret"
	STR_RB_LV_FILTER_OFFT		"Avbryt filteret"
	STR_RB_LV_FILTER_OFFD		"Hvis du avbryter filteret, vises alle elementene."
	STR_RB_LV_FILTER_MMKEYL		"Vis “Multimedieknapper”"
	STR_RB_LV_FILTER_MMKEYT		"Filtrer etter “Multimedieknapper”-gruppe"
	STR_RB_LV_FILTER_MMKEYD		"Hvis du bruker et filter, vises medlemmene i Multimedia Buttons-gruppen."
	STR_RB_LV_FILTER_MIXERL		"Vis “Audio Mixer”"
	STR_RB_LV_FILTER_MIXERT		"Filtrer etter “Audio Mixer”-gruppe"
	STR_RB_LV_FILTER_MIXERD		"Hvis du bruker et filter, vises medlemmene av Audio Mixer-gruppen."
	STR_RB_LV_FILTER_MQTTL		"Vis “Smart Home”"
	STR_RB_LV_FILTER_MQTTT		"Filtrer etter “Smart Home”-gruppe"
	STR_RB_LV_FILTER_MQTTD		"Hvis du bruker et filter, vises medlemmene av Smart Home-gruppen."
	STR_RB_LV_FILTER_LIGHT8L	"Vis “Lighting 8 bit”"
	STR_RB_LV_FILTER_LIGHT8T	"Filtrer etter gruppe «Lighting 8 bit»"
	STR_RB_LV_FILTER_LIGHT8D	"Bruk av filteret vil vise medlemmene av lysgruppen med 8-bits kanaler."
	STR_RB_LV_FILTER_LIGHT16L	"Vis “16 bit belysning”"
	STR_RB_LV_FILTER_LIGHT16T	"Filtrer etter “16-bits belysning”-gruppe"
	STR_RB_LV_FILTER_LIGHT16D	"Bruk av filteret vil vise medlemmene av lysgruppen med 16-bits kanaler."
	STR_RB_LV_FILTER_SCRIPTL	"Vis “Skript”"
	STR_RB_LV_FILTER_SCRIPTT	"Filtrer etter “Skript”-gruppen ChaiScript"
	STR_RB_LV_FILTER_SCRIPTD	"Hvis du bruker et filter, vises medlemmene av Scripts-gruppen."
	STR_RB_LV_FILTER_TYPEBTNL	"Filtertype"
	STR_RB_LV_FILTER_TYPEBTNT	"Angi typen filtre som skal brukes"
	STR_RB_LV_FILTER_TYPEBTND	"Filtertypene som brukes har to logiske tilstander: “OG”, “ELLER”."
	STR_RB_LV_FILTER_TYPEGRPL	"Velge en filtertype"
	STR_RB_LV_FILTER_TYPEORL	"Vis eventuelle treff"
	STR_RB_LV_FILTER_TYPEORT	"Vis oppføringer med hvilken som helst kamp"
	STR_RB_LV_FILTER_TYPEORD       	"Filteret har en logisk OG-tilstand og viser eventuelle treff."
	STR_RB_LV_FILTER_TYPEANDL	"Vis kun fullstendige treff"
	STR_RB_LV_FILTER_TYPEANDT	"Vis kun poster med eksakte treff"
	STR_RB_LV_FILTER_TYPEANDD	"Filteret har en logisk ELLER-tilstand og viser kun fullstendige treff."
	STR_RB_LV_FILTER_AUTOCOMMITL	"Automatisk sending av data i filteret"
	STR_RB_LV_FILTER_AUTOCOMMITT	"Automatisk sending av angitte verdier i filteret"
	STR_RB_LV_FILTER_AUTOCOMMITD	"Sender inn inndataverdier automatisk i et innebygd filter."
	STR_RB_LV_EXT_MODEL		"Vis sortering"
	STR_RB_LV_SORTUP_KEYL		"med nøkkel"
	STR_RB_LV_SORTUP_KEYT		"Sorter etter stigende og MIDI-tast."
	STR_RB_LV_SORTUP_SCENEL		"rundt scenen"
	STR_RB_LV_SORTUP_SCENET		"Sortering etter stigende og MIDI-scene."
	STR_RB_LV_SORTUP_TARGETL	"etter avtale 1"
	STR_RB_LV_SORTUP_TARGETT	"Sorter etter stigende og MIDI-destinasjon 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"etter avtale 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Sortering etter stigende og MIDI-destinasjon 2."
	STR_RB_LV_SORTDOWN_KEYT		"Sorter etter synkende og MIDI-tast."
	STR_RB_LV_SORTDOWN_SCENET	"Sortering etter synkende rekkefølge og MIDI-scene."
	STR_RB_LV_SORTDOWN_TARGETT	"Sortering etter synkende rekkefølge og MIDI-destinasjon 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Sortering etter synkende rekkefølge og MIDI-destinasjon 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Eksporter til MQTT"
	STR_RB_DIALOG_EXPORTMQTTT	"Eksporter MQTT-konfigurasjon"
	STR_RB_DIALOG_EXPORTMQTTD	"Eksporter DMX512/ARTNET-konfigurasjon til en ny fil."
	STR_RB_PANEL_EDITUTILL		"Verktøy"
	STR_RB_LV_SET_BUTTONL		"Tilordne MIDI-nøkkel"
	STR_RB_LV_SET_BUTTONT		"Tilordne valgt MIDI-nøkkel"
	STR_RB_LV_SET_BUTTOND		"Definer den valgte MIDI-nøkkelen som medlem av gruppen."
	STR_RB_LV_SET_LIGHT8L		"Belysning 8 bit"
	STR_RB_LV_SET_LIGHT8T		"Sett gruppe som “Lighting 8 bit”"
	STR_RB_LV_SET_LIGHT8D		"Tilordne den valgte MIDI-nøkkelen til “Lighting 8 Bit”-gruppen."
	STR_RB_LV_SET_LIGHT16L		"Belysning 16 bit"
	STR_RB_LV_SET_LIGHT16T		"Sett gruppe som “Lighting 16 bit”"
	STR_RB_LV_SET_LIGHT16D		"Tilordne den valgte MIDI-nøkkelen til “Lighting 16-bit”-gruppen."
	STR_RB_LV_SET_SCRIPTL		"Scenarier"
	STR_RB_LV_SET_SCRIPTT		"Angi gruppe som “Skript”"
	STR_RB_LV_SET_SCRIPTD		"Tilordne den valgte MIDI-nøkkelen til “Scripts”-gruppen."
	STR_RB_DIALOG_SHOWDUPL		"Vis duplikater"
	STR_RB_DIALOG_SHOWDUPT		"Finn dupliserte MIDI-nøkler"
	STR_RB_DIALOG_SHOWDUPD		"Søk etter dupliserte MIDI-nøkler; hvis de er til stede, kan uventet oppførsel oppstå."

	STR_RB_DIALOG_DELDUPL		"Fjern duplikater"
	STR_RB_DIALOG_DELDUPT		"Fjern mulige dupliserte MIDI-nøkler"
	STR_RB_DIALOG_DELDUPD		"Å finne og fjerne dupliserte MIDI-nøkler, hvis det er duplikater, oppfører seg kanskje ikke som forventet."
END
