#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"Traducteur MIDI-MT"
    STRING_MIXER	"&Mixer"
    STRING_SETTINGS	"&Paramètres"
    STRING_START	"Commencer"
    STRING_STOP		"Arrêt"
    STRING_EXIT		"Sortie"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Configuration chargée depuis le pilote"
    STRING_EDIT_MSG2	"Configuration chargée à partir du fichier"
    STRING_EDIT_MSG3	"La configuration a été créée à nouveau et doit être remplie"
    STRING_EDIT_MSG4	"A l'ouverture de l'éditeur, le fichier de configuration a été précisé : '{0}'. L'enregistrer sous le même nom ?"
    STRING_EDIT_MSG5	"Numéro de canal DMX"

    STRING_NOTIFY_MSG1	"le traducteur est arrêté :"
    STRING_NOTIFY_MSG2	"le traducteur travaille :"

    STRING_AMIX_MSG1	"Le mixeur audio ne fonctionne pas, vérifiez les paramètres, le lancement du panneau audio doit être activé."
    STRING_AMIX_MSG2	"MIDIMT - Le mixeur audio ne fonctionne pas :"
    STRING_AMIX_MSG3	"ID d'événement invalide. Veuillez redémarrer cette application."
    STRING_AMIX_MSG4	"MIDIMT - Impossible de terminer l'opération :"
    STRING_AMIX_MSG5	"Échec du passage au fil de l'interface utilisateur, démarrage du panneau audio interrompu."

    STRING_MAIN_MSG1	"Erreur d'initialisation de l'application, la suite n'est pas possible."
    STRING_MAIN_MSG2	"Vérifiez les autorisations de l'utilisateur pour écrire des fichiers dans le répertoire de l'application. Si l'erreur persiste, essayez de désactiver la journalisation."
    STRING_MAIN_MSG3	"L'exécution automatique est désactivée dans la configuration générale."
    STRING_MAIN_MSG4	"La configuration sélectionnée ne prend pas en charge le démarrage automatique."

    STRING_LOGV_MSG1	"S'il vous plaît, avant de démarrer le moniteur, démarrez le traducteur à partir du menu en sélectionnant « Démarrer »."
    STRING_LOGV_MSG2	"Tous les paramètres '{0}', version du fichier de configuration : {1}"
    STRING_LOGV_MSG3	"Paramètres MIDI"
    STRING_LOGV_MSG4	"Paramètres de la maison intelligente (MQTT)"
    STRING_LOGV_MSG5	"Paramètres du clavier multimédia (MMKEYS)"
    STRING_LOGV_MSG6	"Paramètres de contrôle de l'éclairage ({0})"
    STRING_LOGV_MSG7	"Paramètres du panneau de commande à distance (REMOTE)"

    STRING_CHKR_MSG1	"Au démarrage, le fichier de configuration a été spécifié : '{0}'. Le définir comme configuration pour les exécutions ultérieures ?"
    STRING_CHKR_MSG2	"Configuration MIDI-MT"

    STRING_TMENU_MSG1	"Vous devez installer le pilote Virtual MIDI !"

    STRING_LANG_STATUS	"statut:"
    STRING_LANG_YES	"Oui"
    STRING_LANG_NO	"Non"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "volume sonore (principal)"
	IDM_COL4_MAP  "balance sonore (de base)"
	IDM_COL4_MAM  "muet (principal)"
	IDM_COL4_MAS  "solo audio (principal)"
	IDM_COL4_JOG  "JOG (rembobiner l'image vidéo)"
	IDM_COL4_AV1  "volume sonore (canal 1)"
	IDM_COL4_AV2  "volume sonore (canal 2)"
	IDM_COL4_AV3  "volume sonore (canal 3)"
	IDM_COL4_AV4  "volume sonore (canal 4)"
	IDM_COL4_AV5  "volume sonore (canal 5)"
	IDM_COL4_AV6  "volume sonore (canal 6)"
	IDM_COL4_AV7  "volume sonore (canal 7)"
	IDM_COL4_AV8  "volume sonore (canal 8)"
	IDM_COL4_XV9  "volume sonore (canal 9)"
	IDM_COL4_AP1  "balance sonore (canal 1)"
	IDM_COL4_AP2  "balance sonore (canal 2)"
	IDM_COL4_AP3  "balance sonore (canal 3)"
	IDM_COL4_AP4  "balance sonore (canal 4)"
	IDM_COL4_AP5  "balance sonore (canal 5)"
	IDM_COL4_AP6  "balance sonore (canal 6)"
	IDM_COL4_AP7  "balance sonore (canal 7)"
	IDM_COL4_AP8  "balance sonore (canal 8)"
	IDM_COL4_XP9  "balance sonore (canal 9)"
	IDM_COL4_B11  "solo audio (canal 1)"
	IDM_COL4_B12  "solo audio (canal 2)"
	IDM_COL4_B13  "solo audio (canal 3)"
	IDM_COL4_B14  "solo audio (canal 4)"
	IDM_COL4_B15  "solo audio (canal 5)"
	IDM_COL4_B16  "solo audio (canal 6)"
	IDM_COL4_B17  "solo audio (canal 7)"
	IDM_COL4_B18  "solo audio (canal 8)"
	IDM_COL4_B19  "solo audio (canal 9)"
	IDM_COL4_B21  "muet (canal 1)"
	IDM_COL4_B22  "muet (canal 2)"
	IDM_COL4_B23  "muet (canal 3)"
	IDM_COL4_B24  "muet (canal 4)"
	IDM_COL4_B25  "muet (canal 5)"
	IDM_COL4_B26  "muet (canal 6)"
	IDM_COL4_B27  "muet (canal 7)"
	IDM_COL4_B28  "muet (canal 8)"
	IDM_COL4_B29  "muet (canal 9)"
	IDM_COL4_B31  "sélection du son (canal 1)"
	IDM_COL4_B32  "sélection du son (canal 2)"
	IDM_COL4_B33  "sélection du son (canal 3)"
	IDM_COL4_B34  "sélection du son (canal 4)"
	IDM_COL4_B35  "sélection du son (canal 5)"
	IDM_COL4_B36  "sélection du son (canal 6)"
	IDM_COL4_B37  "sélection du son (canal 7)"
	IDM_COL4_B38  "sélection du son (canal 8)"
	IDM_COL4_B39  "sélection du son (canal 9)"
	IDM_COL4_FUN11  "fonction F1 (mode standard)"
	IDM_COL4_FUN12  "fonction F2 (mode standard)"
	IDM_COL4_FUN13  "fonction F3 (mode standard)"
	IDM_COL4_FUN14  "fonction F4 (mode standard)"
	IDM_COL4_FUN15  "fonction F5 (mode standard)"
	IDM_COL4_FUN16  "fonction F6 (mode standard)"
	IDM_COL4_FUN17  "fonction F7 (mode standard)"
	IDM_COL4_FUN18  "fonction F8 (mode standard)"
	IDM_COL4_FUN21  "fonction F1 (mode maintenu)"
	IDM_COL4_FUN22  "fonction F2 (mode maintenu)"
	IDM_COL4_FUN23  "fonction F3 (mode maintenu)"
	IDM_COL4_FUN24  "fonction F4 (mode maintenu)"
	IDM_COL4_FUN25  "fonction F5 (mode maintenu)"
	IDM_COL4_FUN26  "fonction F6 (mode maintenu)"
	IDM_COL4_FUN27  "fonction F7 (mode maintenu)"
	IDM_COL4_FUN28  "fonction F8 (mode maintenu)"
	IDM_COL4_SYS_Rewind  "Rembobiner (joueur)"
	IDM_COL4_SYS_Forward  "Avance rapide (lecteur)"
	IDM_COL4_SYS_Stop  "Arrêter (joueur)"
	IDM_COL4_SYS_Play  "Jouer (joueur)"
	IDM_COL4_SYS_Record  "Enregistrement (lecteur)"
	IDM_COL4_SYS_Up    "Vers le haut (joystick)"
	IDM_COL4_SYS_Down  "Vers le bas (joystick)"
	IDM_COL4_SYS_Left  "Gauche (joystick)"
	IDM_COL4_SYS_Right  "Droite (joystick)"
	IDM_COL4_SYS_Zoom  "Augmenter"
	IDM_COL4_SYS_Scrub  "Frotter"
	IDM_COL4_VOLUMEMIX "Contrôle du mélangeur"
	IDM_COL4_MEDIAKEY "Touches multimédia"
        IDM_COL4_MQTTKEY  "Gestion de la maison intelligente"
        IDM_COL4_LIGHTKEY8B "Contrôle de l'éclairage (8 bits)"
        IDM_COL4_LIGHTKEY16B "Contrôle de l'éclairage (16 bits)"
	IDM_COL4_NONE  "action non définie"
	IDM_COL4_MQTT_AV1		"niveau 1"
	IDM_COL4_MQTT_AV2		"niveau 2"
	IDM_COL4_MQTT_AV3		"niveau 3"
	IDM_COL4_MQTT_AV4		"niveau 4"
	IDM_COL4_MQTT_AV5		"niveau 5"
	IDM_COL4_MQTT_AV6		"niveau 6"
	IDM_COL4_MQTT_AV7		"niveau 7"
	IDM_COL4_MQTT_AV8		"niveau 8"
	IDM_COL4_MQTT_XV9		"niveau 9"
	IDM_COL4_MQTT_AP1		"niveau 10"
	IDM_COL4_MQTT_AP2		"niveau 11"
	IDM_COL4_MQTT_AP3		"niveau 12"
	IDM_COL4_MQTT_AP4		"niveau 13"
	IDM_COL4_MQTT_AP5		"niveau 14"
	IDM_COL4_MQTT_AP6		"niveau 15"
	IDM_COL4_MQTT_AP7		"niveau 16"
	IDM_COL4_MQTT_AP8		"niveau 17"
	IDM_COL4_MQTT_XP9		"niveau 18"
	IDM_COL4_MQTT_B11		"marche/arrêt 1"
	IDM_COL4_MQTT_B12		"marche/arrêt 2"
	IDM_COL4_MQTT_B13		"marche/arrêt 3"
	IDM_COL4_MQTT_B14		"marche/arrêt 4"
	IDM_COL4_MQTT_B15		"marche/arrêt 5"
	IDM_COL4_MQTT_B16		"marche/arrêt 6"
	IDM_COL4_MQTT_B17		"marche/arrêt 7"
	IDM_COL4_MQTT_B18		"marche/arrêt 8"
	IDM_COL4_MQTT_B19		"marche/arrêt 9"
	IDM_COL4_MQTT_B21		"marche/arrêt 10"
	IDM_COL4_MQTT_B22		"marche/arrêt 11"
	IDM_COL4_MQTT_B23		"marche/arrêt 12"
	IDM_COL4_MQTT_B24		"marche/arrêt 13"
	IDM_COL4_MQTT_B25		"marche/arrêt 14"
	IDM_COL4_MQTT_B26		"marche/arrêt 15"
	IDM_COL4_MQTT_B27		"marche/arrêt 16"
	IDM_COL4_MQTT_B28		"marche/arrêt 17"
	IDM_COL4_MQTT_B29		"marche/arrêt 18"
	IDM_COL4_MQTT_B31		"marche/arrêt 19"
	IDM_COL4_MQTT_B32		"marche/arrêt 20"
	IDM_COL4_MQTT_B33		"marche/arrêt 21"
	IDM_COL4_MQTT_B34		"marche/arrêt 22"
	IDM_COL4_MQTT_B35		"marche/arrêt 23"
	IDM_COL4_MQTT_B36		"marche/arrêt 24"
	IDM_COL4_MQTT_B37		"marche/arrêt 25"
	IDM_COL4_MQTT_B38		"marche/arrêt 26"
	IDM_COL4_MQTT_B39		"marche/arrêt 27"
	IDM_COL4_MQTT_NONE		"Non attribué"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"D'ACCORD"
	IDS_ERRORID_EMPTY			"[La configuration est vide..]"
	IDS_ERRORID_UNDEFINED			"Cette erreur n'est pas définie"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"L'accès en écriture au fichier de configuration est refusé, '{0}'"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Fichier de configuration manquant ou accès refusé, '{0}'"
	IDS_ERRORID_JSONCONF_EMPTY		"Le fichier de configuration est vide, '{0}'"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"Le nom du périphérique MIDI n'est pas configuré."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"Aucune touche MIDI n'est configurée dans cette configuration."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Attention, cette configuration n'a pas de touches MIDI configurées ! la configuration enregistrée ne fonctionnera pas."
	IDS_ERRORID_INIT_COINITIALIZE		"L'initialisation de Co*Initialize a échoué."
	IDS_ERRORID_INIT_COCREATE		"Co*Create : échec de création d'une instance."
	IDS_ERRORID_INIT_DEFAULT_AE		"Échec de l'obtention du périphérique audio par défaut."
	IDS_ERRORID_INIT_AS_MANAGER2		"Le gestionnaire de session audio est tombé en panne."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"L'indicateur de crête audio n'est pas disponible."
	IDS_ERRORID_MIXER_STARTOK		"Le mixeur de session audio est en cours d'exécution. Au moment du démarrage, il y a {0} programmes en cours d'exécution disponibles pour la régulation."
	IDS_ERRORID_MIXER_STARTERROR		"Le mixeur de session audio n'a pas pu être démarré, les détails de l'erreur doivent figurer dans le fichier journal."
	IDS_ERRORID_MIXER_STOPOK		"Le mixeur de session audio s'est arrêté."
	IDS_ERRORID_MIXER_STOPERROR		"Le mixeur de session audio n'a pas été arrêté correctement, les détails de l'erreur doivent figurer dans le fichier journal."
	IDS_ERRORID_NO_INIT			"Initialisez avant d'appeler ceci."
	IDS_ERRORID_SESSION_LIST		"Échec de l'obtention de la liste des sessions audio."
	IDS_ERRORID_LISTISNULL			"La liste des sessions audio est vide !"
	IDS_ERRORID_SESSIONDISCONNECTED		"Désactivation de la session audio, raison='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Session audio créée, name='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Session audio '{0}' – mauvais état d'enregistrement '{1}' : {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"La valeur définie à partir du rappel est un sélecteur non valide."
	IDS_ERRORID_SET_CB_WARNING		"La définition d'un rappel n'est possible qu'après le lancement réussi du pont MIDI."
	IDS_ERRORID_CONFIG_FAIL			"Echec du chargement de la configuration, fichier introuvable, lancement impossible."
	IDS_ERRORID_CONFIG_LOAD			"Configuration chargée.."
	IDS_ERRORID_CONFIG_LOADA		"La configuration a déjà été chargée.."
	IDS_ERRORID_CONFIG_EMPTY		"La configuration est vide.."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"La configuration du module {0} est vide."
	IDS_ERRORID_CONFIG_NEW			"Nouvelle version de configuration détectée.."
	IDS_ERRORID_NOT_IMPLEMENTED		"Implémentation non prise en charge dans le code, méthode non remplacée : {0}"
	IDS_ERRORID_NOT_CONFIG			"Le nom de la configuration n'est pas spécifié et ne peut pas être poursuivi."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Les appareils ne sont pas connectés et ne peuvent pas continuer."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Attention, non-concordance du nombre d'appareils dans la liste finale, système/liste = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Impossible d'ouvrir le périphérique MIDI, impossible de continuer, identifiant = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Impossible de démarrer le périphérique MIDI, impossible de continuer, identifiant = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Appareil non connecté, abandon, identifiant = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Appareil {0} trouvé, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Appareil {0} ouvert, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Appareil {0} fermé (système)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Appareil {0} prêt (système)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Le nom de l'appareil actif n'est pas précisé, la suite est impossible, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Les ports proxy ne sont pas spécifiés dans la configuration, le proxy MIDI est désactivé."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Version du pilote [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Problème avec la version du pilote [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"L'appareil {0} a envoyé une valeur non valide = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"Le pilote MIDI virtuel n'est pas installé. Vous devez installer le package loopMidi ou télécharger le programme d'installation complet et réinstaller MIDI-MT. Plus de détails : https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Le pilote Virtual MIDI installé n'a pas été trouvé ! Vous devez installer le package Virtual Loop MIDI pour exécuter le traducteur MIDI-MT."
	IDS_ERRORID_MIDI_PROXY_PORTS		"Au démarrage, {0} ports MIDI proxy seront créés."
	IDS_ERRORID_MIDI_PROXY_OFF		"Les ports MIDI proxy sont désactivés."
	IDS_ERRORID_MIDI_OUT_PORTS		"Au démarrage, {0} ports de sortie MIDI seront créés."
	IDS_ERRORID_MIDI_OUT_OFF		"Les ports de sortie MIDI sont désactivés."
	IDS_ERRORID_MMKEY_START			"Le service Media Key Management est en cours d’exécution."
	IDS_ERRORID_MMKEY_STOP			"Le service Media Key Management s’est arrêté."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"La configuration MQTT est vide et ne peut pas continuer."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Erreur lors de la création du client MQTT, annulation."
	IDS_ERRORID_MQTT_CLIENT_OK		"Le client MMQTT a été créé avec succès, continuez..."
	IDS_ERRORID_MQTT_CONNECTED		"Connecté au serveur MQTT :"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Échec de la connexion au serveur MQTT :"
	IDS_ERRORID_MQTT_DISCONNECTED		"Déconnecté du serveur MQTT :"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"Le fichier de certificat CA n'existe pas, chemin = '{0}'"
	IDS_ERRORID_MQTT_START			"Le service de contrôle Smart Home a été lancé."
	IDS_ERRORID_MQTT_STOP			"Le service de contrôle Smart Home a été arrêté."
	IDS_ERRORID_MQTT_CA_FILTER		"Certificat d'autorité de certification"
	IDS_ERRORID_LOG_LEVEL_NONE		"aucun journal n'est conservé"
	IDS_ERRORID_LOG_LEVEL_INFO		"information"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"avis"
	IDS_ERRORID_LOG_LEVEL_WARNING		"avertissements"
	IDS_ERRORID_LOG_LEVEL_ERR		"seulement des erreurs"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"tous les messages"
	IDS_ERRORID_PANEL_INDEX			"Panneau de mixage audio - Impossible de continuer, les éléments d'index sont incorrects."
	IDS_ERRORID_PANEL_INIT			"Panneau de mixage audio : impossible de continuer, erreur d'initialisation."
	IDS_ERRORID_PANEL_ENABLE		"La fenêtre du panneau de mixage audio n'a pas l'état correct et l'opération suivante ne peut pas être poursuivie."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Le panneau de mixage audio n’est pas appelé sur un thread d’interface utilisateur et les modifications ne peuvent pas être apportées."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Le panneau de mixage audio a détecté un élément non valide et la création de la fenêtre du panneau a été abandonnée."
	IDS_ERRORID_LIGHT_DMX_START		"Le service de contrôle d'éclairage DMX est démarré à l'aide de COM{0} - {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"Le service de contrôle d'éclairage DMX n'est pas en cours d'exécution, le périphérique COM{0} n'est pas connecté."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"Le service de contrôle d'éclairage DMX n'est pas exécuté et la configuration du service n'est pas renseignée."
	IDS_ERRORID_LIGHT_DMX_STOP		"Le service de contrôle d'éclairage DMX s'est arrêté."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Aucun appareil adapté disponible"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Sélectionnez un appareil DMX"
	IDS_ERRORID_LIGHT_ARTNET_START		"Le service de contrôle d'éclairage ArtNet s'exécute en utilisant l'adresse de diffusion {0} :{1} sur le réseau {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"Le service de contrôle d'éclairage ArtNet n'est pas en cours d'exécution, le réseau {0} est introuvable."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"Le service de contrôle d'éclairage ArtNet n'est pas en cours d'exécution, la configuration du service n'est pas renseignée."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"Le service de contrôle d'éclairage ArtNet s'est arrêté."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Aucune interface appropriée disponible"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Sélectionnez l'interface ARTNET"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Erreur d'initialisation du plugin, impossible de convertir le CLSID/GUID à partir de la chaîne spécifiée."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Échec de l'initialisation des plugins, aucun plugin compatible n'a été trouvé."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Échec du chargement des plug-ins, {0} pré-initialisé, 0 plug-in chargé."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Plugins initialisés avec succès, pré-initialisation {0}, {1} plugins chargés."
	IDS_ERRORID_BRIDGE_OK_START		"Bridge lancé avec succès, {0} initialisé, {1} chargé, {2} plugins en cours d'exécution."
	IDS_ERRORID_BRIDGE_NOT_START		"Échec du démarrage du pont, erreur lors du démarrage des plugins, {0} initialisés, {1} plugins chargés."
	IDS_ERRORID_BRIDGE_OK_STOP		"Bridge arrêté avec succès, {0} initialisé, {1} chargé, {2} démarré, {3} plugins arrêtés."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Échec de l'arrêt du pont, erreur lors de l'arrêt des plugins, {0} initialisé, {1} chargé, {2} plugins en cours d'exécution."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Les plugins sont déjà chargés, veuillez les réinitialiser avant de redémarrer."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"Le pont a déjà été lancé."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"Le pont est déjà arrêté."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Échec de l'ouverture du module du plugin. Le module est manquant ou corrompu, la DLL n'a pas été chargée et a renvoyé null."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"Le module n'est pas un plugin MIDI-MT et les points d'entrée requis sont manquants."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Activé = {0}, paramètres = {1}, en cours d'exécution = {2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Configuration mise à jour : {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Aucun module trouvé, démarrage impossible."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Veuillez modifier la configuration avant de commencer."
	IDS_ERRORID_MIDIMT_CONFFILTER		"Le fichier de configuration"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Configuration chargée à partir du fichier : {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Configuration chargée depuis le pilote"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"La langue {0} sélectionnée sera active après le redémarrage de la fenêtre."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Version du pilote Virtual MIDI installée : {0}"
	IDS_ERRORID_REMOTE_START		"Le service de contrôle à distance a démarré."
	IDS_ERRORID_REMOTE_STOP			"Le service de contrôle à distance s'est arrêté."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Le nouveau client {0}/{1} est connecté."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Erreur client {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Client {0}/{1} déconnecté, état : {2} - {3}."
	IDS_ERRORID_COPY_LINK			"Lien copié dans le presse-papiers."
	IDS_ERRORID_NET_IFACE_NONE		"Aucune interface réseau"
	IDS_ERRORID_NET_IFACE_SELECT		"Sélectionnez l'interface réseau"
	IDS_ERRORID_NONE			"-"
END
