#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT

#pragma code_page(65001)

DLG_ABOUT_WINDOW DIALOGEX 0, 0, 306, 173
STYLE DS_ABSALIGN | DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_BORDER
EXSTYLE WS_EX_TOPMOST | WS_EX_TRANSPARENT | WS_EX_COMPOSITED
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         BITMAP_MIDIMT_LOGO,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_DISABLED,0,0,306,175,WS_EX_TRANSPARENT
    LTEXT           VER_GUI_EN,DLG_ABOUT_ABOUT_VERSION,193,34,101,8,SS_NOPREFIX
    LTEXT           VER_COPYRIGHT,DLG_ABOUT_ABOUT_COPY,193,46,101,8
    PUSHBUTTON      "Mises à jour",DLG_GO_UPDATE,191,64,104,14,BS_FLAT | WS_GROUP
    PUSHBUTTON      "Aide",DLG_GO_HELP,191,79,104,15,BS_FLAT | WS_GROUP
    DEFPUSHBUTTON   "&Fermer",IDCANCEL,191,94,104,14,BS_FLAT | WS_GROUP
END

DLG_EDIT_INFO_WINDOW DIALOGEX 0, 0, 494, 162
STYLE DS_ABSALIGN | DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_BORDER
EXSTYLE WS_EX_TOPMOST | WS_EX_TRANSPARENT | WS_EX_COMPOSITED
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         BITMAP_ECTRL9,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_DISABLED,7,7,485,130,WS_EX_TRANSPARENT
    PUSHBUTTON      "&Programme de configuration du panneau MIDI",DLG_GO_URL,273,142,148,14,BS_FLAT | WS_GROUP
    DEFPUSHBUTTON   "&Fermer",IDCANCEL,423,142,63,14,BS_FLAT | WS_GROUP
    LTEXT           "Disposition recommandée du panneau de commande MIDI. Le fichier contenant les paramètres de cette mise en page se trouve dans le dossier 'docs/MIDIMT.Ctrl_data'.",IDC_STATIC,19,140,250,21,SS_NOPREFIX,WS_EX_TRANSPARENT
END

DLG_MONITOR_WINDOW DIALOGEX 0, 0, 305, 276
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW | WS_EX_CONTEXTHELP
CAPTION "Moniteur de commandes MIDI"
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Moniteur de commandes",IDC_STATIC,9,4,285,54
    LTEXT           "Le moniteur de commandes MIDI vous aidera à déterminer comment le contrôleur est configuré. Pour commencer les tests, cliquez sur le bouton « Démarrer ». En utilisant les différentes commandes de votre contrôleur, vous recevrez des messages sur la scène, le numéro et la valeur actuelle.",IDC_STATIC,15,18,274,34
    PUSHBUTTON      "Arrêt",DLG_MONITOR_STOP,7,61,95,14,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "Commencer",DLG_MONITOR_START,103,61,192,14,BS_FLAT
    EDITTEXT        DLG_MONITOR_BOX,7,78,287,160,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL,WS_EX_CLIENTEDGE
    PUSHBUTTON      "&Fermer",IDCANCEL,105,241,191,14,BS_FLAT
    PUSHBUTTON      "Purifier",DLG_MONITOR_CLEAR,6,241,98,14,BS_FLAT
    CONTROL         "",DLG_MONITOR_LOG,"Static",SS_SIMPLE | SS_SUNKEN | SS_ENDELLIPSIS | WS_GROUP,7,259,287,13
END

DLG_EDIT_WINDOW DIALOGEX 0, 0, 712, 325
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_ACCEPTFILES | WS_EX_CONTEXTHELP | WS_EX_APPWINDOW
CAPTION "Configuration du contrôle MIDI"
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    CONTROL         "",DLG_EDIT_LOG_NOSCROLL,"Static",SS_SIMPLE | WS_GROUP,12,50,682,41,WS_EX_TRANSPARENT
    GROUPBOX        "Configuration des commandes MIDI",IDC_STATIC,7,97,215,224
    RTEXT           "0",DLG_EDIT_SETUP_COUNT,190,97,24,8
    CONTROL         "",DLG_EDIT_SETUP_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE | WS_BORDER | WS_TABSTOP,15,110,200,205,WS_EX_CLIENTEDGE
    GROUPBOX        "MIDI",IDC_STATIC,417,111,60,37
    ICON            ICON_APP_MIDIMT,DLG_EDIT_SETUP_ICON,423,122,20,20,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    PUSHBUTTON      "",DLG_EDIT_BTN_INFO,452,122,20,20,BS_ICON | BS_FLAT
    GROUPBOX        "Information",IDC_STATIC,227,97,259,224
    LTEXT           "Contrôle:",IDC_STATIC,241,157,95,10
    CONTROL         "",DLG_EDIT_SETUP_NUMBER,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,157,28,10,WS_EX_RIGHT
    LTEXT           "Scène:",IDC_STATIC,241,169,95,10
    CONTROL         "",DLG_EDIT_SETUP_SCENE,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,341,169,108,10,WS_EX_RIGHT
    CONTROL         "",DLG_EDIT_SETUP_SCENEN,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,169,28,10,WS_EX_RIGHT
    LTEXT           "Type de contrôle:",IDC_STATIC,241,181,95,10
    CONTROL         "",DLG_EDIT_SETUP_TYPE,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,341,181,108,10,WS_EX_RIGHT
    CONTROL         "",DLG_EDIT_SETUP_TYPEN,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,181,28,10,WS_EX_RIGHT
    LTEXT           "But:",IDC_STATIC,241,193,95,10
    CONTROL         "",DLG_EDIT_SETUP_TARGET,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,341,193,108,10,WS_EX_RIGHT
    CONTROL         "",DLG_EDIT_SETUP_TARGETN,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,193,28,10,WS_EX_RIGHT
    LTEXT           "Objectif (clic long) :",IDC_STATIC,241,205,95,10
    CONTROL         "",DLG_EDIT_SETUP_TARGET_LONG,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,341,205,108,10,WS_EX_RIGHT
    CONTROL         "",DLG_EDIT_SETUP_TARGET_LONGN,"Static",SS_SIMPLE | SS_SUNKEN | WS_GROUP,449,205,28,10,WS_EX_RIGHT
    LTEXT           "Applications contrôlées par le mélangeur :",IDC_STATIC,241,217,144,10
    LISTBOX         DLG_EDIT_SETUP_APPLIST,241,229,215,64,LBS_SORT | LBS_HASSTRINGS | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
    CONTROL         "",DLG_EDIT_SLIDER_VOLUME,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_DISABLED | WS_TABSTOP,241,300,181,13
    PUSHBUTTON      "",DLG_EDIT_BTN_MUTE,426,298,54,18,BS_ICON | BS_FLAT | WS_DISABLED
    PUSHBUTTON      "",DLG_EDIT_BTN_FOLDER,460,227,20,20,BS_ICON | BS_FLAT | WS_DISABLED
    PUSHBUTTON      "",DLG_EDIT_BTN_RUNAPP,460,247,20,20,BS_ICON | BS_FLAT | WS_DISABLED
    PUSHBUTTON      "",DLG_EDIT_BTN_REMOVE,460,267,20,20,BS_ICON | BS_FLAT | WS_DISABLED
    PUSHBUTTON      "&Fermer",IDCANCEL,609,324,94,14,BS_FLAT
    CONTROL         "",DLG_EDIT_LOG,"Static",SS_SIMPLE | SS_SUNKEN | SS_ENDELLIPSIS | WS_GROUP,7,325,600,13
    GROUPBOX        "Astuces",IDC_STATIC,493,97,209,224
    LISTBOX         DLG_EDIT_SETUP_HELPLIST,501,128,193,188,LBS_HASSTRINGS | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | LBS_NOSEL | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
    CONTROL         "Tous",DLG_EDIT_SETUP_RADIO1,"Button",BS_AUTORADIOBUTTON,501,110,27,10
    CONTROL         "Boutons",DLG_EDIT_SETUP_RADIO2,"Button",BS_AUTORADIOBUTTON,535,110,41,10
    CONTROL         "Curseurs",DLG_EDIT_SETUP_RADIO3,"Button",BS_AUTORADIOBUTTON,579,110,51,10
    CONTROL         "Multimédia",DLG_EDIT_SETUP_RADIO4,"Button",BS_AUTORADIOBUTTON,633,110,62,10
END

DLG_COLOR_WINDOW DIALOGEX 0, 0, 207, 120
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "Configuration d'un thème personnalisé"
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Les couleurs de votre thème",IDC_STATIC,9,8,188,107
    CONTROL         "Couleur du texte",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,30,44,8
    LTEXT           "",DLG_COLOR_BOX1,15,40,66,14,SS_NOTIFY | NOT WS_GROUP,WS_EX_STATICEDGE
    CONTROL         "Couleur de l'arrière plan",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,58,38,8
    LTEXT           "",DLG_COLOR_BOX2,15,68,66,14,SS_NOTIFY | NOT WS_GROUP,WS_EX_STATICEDGE
    CONTROL         "Couleur du cadre",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,86,40,8
    LTEXT           "",DLG_COLOR_BOX3,15,96,66,14,SS_NOTIFY | NOT WS_GROUP,WS_EX_STATICEDGE
    GROUPBOX        "Thème de base",IDC_STATIC,88,18,104,92,BS_FLAT
    CONTROL         "Métro",DLG_COLOR_RADIO_METRO,"Button",BS_AUTORADIOBUTTON | BS_FLAT,100,35,60,10
    CONTROL         "Lumière",DLG_COLOR_RADIO_LIGHT,"Button",BS_AUTORADIOBUTTON,100,49,60,10
    CONTROL         "Sombre",DLG_COLOR_RADIO_DARK,"Button",BS_AUTORADIOBUTTON,100,63,60,10
    CONTROL         "Rétro",DLG_COLOR_RADIO_RETRO,"Button",BS_AUTORADIOBUTTON,100,77,60,10
    CONTROL         "Moderne",DLG_COLOR_RADIO_MODERN,"Button",BS_AUTORADIOBUTTON,100,91,60,10
END

DLG_LOGVIEW_WINDOW DIALOGEX 0, 0, 745, 410
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CLIENTEDGE | WS_EX_STATICEDGE | WS_EX_APPWINDOW
CAPTION "Afficher le fichier journal"
MENU DLG_LOGVIEW_MENU
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
END


DLG_START_WINDOW DIALOGEX 0, 0, 712, 406
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_STATICEDGE | WS_EX_ACCEPTFILES | WS_EX_CONTEXTHELP | WS_EX_CONTROLPARENT | WS_EX_APPWINDOW
CAPTION "Lancement de MIDI-MT"
MENU DLG_START_MENU
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Pont entrée/sortie",IDC_STATIC,5,4,184,79
    CONTROL         "Lancé",DLG_START_RADIO1,"Button",BS_AUTORADIOBUTTON | BS_FLAT | WS_DISABLED | WS_GROUP,15,17,46,10
    CONTROL         "Arrêté",DLG_START_RADIO2,"Button",BS_AUTORADIOBUTTON | BS_FLAT | WS_DISABLED | WS_GROUP,66,17,57,10
    CONTROL         "Configuration",DLG_START_ISCONFIG,"Button",BS_AUTO3STATE | BS_FLAT | WS_DISABLED | WS_TABSTOP,15,33,65,10
    CONTROL         "Commandes MIDI",DLG_START_ISUNITS,"Button",BS_AUTO3STATE | BS_FLAT | WS_DISABLED | WS_TABSTOP,81,33,65,10
    LTEXT           "0",DLG_START_CTRLCOUNT,153,34,12,8
    EDITTEXT        DLG_START_CONFIG_NAME,13,47,167,14,ES_READONLY,WS_EX_CLIENTEDGE
    PUSHBUTTON      "Ouvrir le fichier de configuration",DLG_START_OPEN_CONFIG,13,63,167,14,BS_FLAT
    GROUPBOX        "Lancement",IDC_STATIC,5,85,184,139
    CONTROL         "Démarrer au démarrage du système",DLG_START_AUTOBOOT_SYS,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,15,98,120,10
    CONTROL         "Démarrage automatique au démarrage",DLG_START_AUTORUN_SYS,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,15,110,120,10
    CONTROL         "Démarrage automatique de cette configuration",DLG_START_AUTORUN_CONFIG,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,15,122,120,10
    CONTROL         "Écrire le journal",DLG_START_WRITE_FILELOG,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,15,134,70,10
    LTEXT           "Langue préférée:",IDC_STATIC,17,154,94,8
    COMBOBOX        DLG_START_LANG_COMBO,15,167,81,32,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Utilisez le bouton droit de la souris pour afficher le mixeur",DLG_START_MIXER_RIGHT_CLICK,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | BS_FLAT | WS_TABSTOP,15,192,117,20
    GROUPBOX        "Paramètres du mixeur audio",IDC_STATIC,5,226,184,90
    CONTROL         "Inclus",DLG_START_MIXER_ENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,15,239,50,10
    CONTROL         "Remplacer les valeurs de volume sans vérifier",DLG_START_MIXER_FAST_VALUE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,15,253,167,10
    CONTROL         "Regroupez les applications par nom ; des ajustements séparés ne sont pas possibles.",DLG_START_MIXER_DUPLICATE,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | BS_FLAT | WS_TABSTOP,15,265,167,19
    CONTROL         "Définir les niveaux de volume enregistrés au démarrage",DLG_START_MIXER_OLD_VALUE,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | BS_FLAT | WS_TABSTOP,15,284,167,19
    GROUPBOX        "Mise en place de modules",IDC_STATIC,194,4,513,332
    PUSHBUTTON      "&Recharger les modules",DLG_START_PLUGINS_RELOAD,199,14,149,16,BS_FLAT
    CONTROL         "",DLG_START_PLUGINS_LIST,"SysListView32",LVS_LIST | LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP,199,32,149,248
    GROUPBOX        "Descriptif des modules",IDC_STATIC,199,282,149,48
    LTEXT           "",DLG_START_PLUGINS_DESC,204,294,140,32
    GROUPBOX        "Module",IDC_STATIC,354,10,346,320
    ICON            ICON_PLUGIN_MODULES,DLG_START_PLACE_PLUGIN,357,19,340,308,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    PUSHBUTTON      "&Commencer",DLG_GO_START,5,319,184,16,BS_FLAT
    PUSHBUTTON      "Enregistrer les paramètres",DLG_SAVE,5,335,184,16,BS_FLAT
    PUSHBUTTON      "&À propos du programme..",DLG_GO_ABOUT,5,351,184,16,BS_FLAT
    PUSHBUTTON      "Mises à jour",DLG_GO_UPDATE,5,367,184,16,BS_FLAT
    PUSHBUTTON      "&Fermer",IDCANCEL,5,383,184,16,BS_FLAT
    EDITTEXT        DLG_START_LOG,194,340,514,61,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL,WS_EX_CLIENTEDGE
END

DLG_PLUG_MIDI_WINDOW DIALOGEX 0, 0, 340, 308
STYLE DS_SETFONT | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CONTROL | WS_POPUP
EXSTYLE WS_EX_CONTROLPARENT | WS_EX_NOACTIVATE
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Appareils MIDI",IDC_STATIC,4,2,173,302
    GROUPBOX        "Paramètres MIDI",IDC_STATIC,184,2,152,302
    CONTROL         "Saisir",DLG_PLUG_MIDI_LIST_IN,"Button",BS_AUTORADIOBUTTON | BS_FLAT | WS_GROUP,12,18,46,10
    CONTROL         "Fin de semaine",DLG_PLUG_MIDI_LIST_OUT,"Button",BS_AUTORADIOBUTTON | BS_FLAT | WS_GROUP,77,18,51,10
    CONTROL         "",DLG_PLUG_MIDI_LIST,"SysListView32",LVS_LIST | LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP,12,33,161,265
    CONTROL         "Configuration",DLG_PLUG_MIDI_ISCONFIG,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED | WS_TABSTOP,191,18,65,10
    CONTROL         "Commandes MIDI",DLG_PLUG_MIDI_ISUNITS,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED | WS_TABSTOP,258,18,65,10
    LTEXT           "0",DLG_PLUG_MIDI_UNITCOUNT,323,18,12,8
    CONTROL         "Inclus",DLG_PLUG_MIDI_ISENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,191,33,50,10
    CONTROL         "",DLG_PLUG_MIDI_SLIDER1,"msctls_trackbar32",TBS_AUTOTICKS | TBS_BOTH | WS_TABSTOP,188,44,142,15
    LTEXT           "Intervalle entre les clics",IDC_STATIC,194,62,98,8
    LTEXT           "50",DLG_PLUG_MIDI_SLIDER1_VAL,293,62,23,8
    CONTROL         "",DLG_PLUG_MIDI_SLIDER2,"msctls_trackbar32",TBS_AUTOTICKS | TBS_BOTH | WS_TABSTOP,188,72,142,15
    LTEXT           "Intervalle comme un appui long",IDC_STATIC,194,89,106,8
    LTEXT           "500",DLG_PLUG_MIDI_SLIDER2_VAL,302,89,20,8
    CONTROL         "Filtre de scène JOG",DLG_PLUG_MIDI_ISJOGFILTER,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,194,103,79,10
    CONTROL         "Aucun port de sortie n'est créé",DLG_PLUG_MIDI_ISOUTSYSPORT,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,194,116,115,10
    GROUPBOX        "Pilote MIDI",IDC_STATIC,191,130,137,31
    CONTROL         "Conducteur:",DLG_PLUG_MIDI_VMDRV_CHECK,"Button",BS_AUTO3STATE | BS_FLAT | WS_DISABLED | WS_TABSTOP,198,142,46,10
    CONTROL         "-",DLG_PLUG_MIDI_VMDRV_VER,"Static",SS_SIMPLE | WS_GROUP,244,143,68,8
    GROUPBOX        "MIDI Mackie",IDC_STATIC,191,163,137,51
    COMBOBOX        DLG_PLUG_MIDI_OUT_COMBO,197,174,68,55,CBS_DROPDOWN | CBS_SORT | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "nombre de ports",IDC_STATIC,198,188,66,8
    CONTROL         "Inclus",DLG_PLUG_MIDI_ISOUT,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED | WS_TABSTOP,198,200,50,10
    GROUPBOX        "Proxy MIDI",IDC_STATIC,191,217,137,51
    COMBOBOX        DLG_PLUG_MIDI_PROXY_COMBO,197,228,68,55,CBS_DROPDOWN | CBS_SORT | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "nombre de ports",IDC_STATIC,198,242,66,8
    CONTROL         "Inclus",DLG_PLUG_MIDI_ISPROXY,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_DISABLED | WS_TABSTOP,198,254,50,10
    PUSHBUTTON      "&Installer le pilote MIDI virtuel",DLG_PLUG_MIDI_INSTALL_VMDRV,188,269,143,16,BS_FLAT | NOT WS_VISIBLE
    PUSHBUTTON      "&Enregistrer les paramètres",DLG_PLUG_SAVE,188,285,86,16,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "&Fermer",IDCANCEL,274,285,58,16,BS_FLAT
END

DLG_PLUG_MMKEY_WINDOW DIALOGEX 0, 0, 340, 308
STYLE DS_SETFONT | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CONTROL | WS_POPUP
EXSTYLE WS_EX_CONTROLPARENT | WS_EX_NOACTIVATE
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Clavier multimédia",IDC_STATIC,4,2,332,302
    CONTROL         "Inclus",DLG_PLUG_MMKEY_ISENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,16,22,50,10
    CONTROL         "Traduction des commandes d'entrée MIDI en commandes de clavier multimédia. Contrôlez la lecture de programmes multimédia tiers.",IDC_STATIC,"Static",SS_SIMPLE | SS_REALSIZECONTROL | WS_GROUP,16,40,273,34,WS_EX_TRANSPARENT
    PUSHBUTTON      "&Enregistrer les paramètres",DLG_PLUG_SAVE,188,285,86,16,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "&Fermer",IDCANCEL,274,285,58,16,BS_FLAT
END

DLG_PLUG_MQTT_WINDOW DIALOGEX 0, 0, 340, 308
STYLE DS_SETFONT | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CONTROL | WS_POPUP
EXSTYLE WS_EX_CONTROLPARENT | WS_EX_NOACTIVATE
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Maison intelligente",IDC_STATIC,4,2,332,302
    CONTROL         "Inclus",DLG_PLUG_MQTT_ISENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,11,17,50,10
    GROUPBOX        "serveur MQTT",IDC_STATIC,11,32,317,46
    CONTROL         "Adresse IP:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,44,69,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_MQTT_IPADDR,17,53,109,14,ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "port:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,131,44,44,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_MQTT_PORT,130,53,60,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP,WS_EX_TRANSPARENT
    ICON            ICON_PLUGIN_MQTT,IDC_STATIC,300,47,24,24,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    GROUPBOX        "Sécurité",IDC_STATIC,11,83,317,110
    CONTROL         "se connecter:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,94,41,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_MQTT_LOGIN,17,102,84,14,ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "mot de passe:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,105,94,64,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_MQTT_PASS,104,102,86,14,ES_PASSWORD | ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "Clé PSK :",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,121,41,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_MQTT_PSK,17,130,306,14,ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "SSL/TLS activé",DLG_PLUG_MQTT_ISSSL,"Button",BS_AUTO3STATE | BS_FLAT | WS_TABSTOP,17,152,77,10
    CONTROL         "auto-signé",DLG_PLUG_MQTT_ISSELFSIGN,"Button",BS_AUTO3STATE | BS_FLAT | WS_TABSTOP,96,152,77,10
    EDITTEXT        DLG_PLUG_MQTT_CA,17,168,199,14,ES_AUTOHSCROLL | ES_READONLY | WS_GROUP,WS_EX_TRANSPARENT
    PUSHBUTTON      "Certificat d'autorité de certification",DLG_PLUG_MQTT_CAOPEN,219,168,104,14,BS_FLAT
    ICON            ICON_PLUGIN_SECURITY,IDC_STATIC,300,96,24,24,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    GROUPBOX        "Possibilités",IDC_STATIC,11,198,317,81
    CONTROL         "Préfixe du sujet MQTT : (facultatif)",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,212,170,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_MQTT_PREFIX,17,223,306,14,ES_AUTOHSCROLL | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "Niveau de journalisation de la session MQTT :",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,244,167,8,WS_EX_TRANSPARENT
    COMBOBOX        DLG_PLUG_MQTT_LOGLEVEL,18,255,175,30,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    ICON            ICON_PLUGIN_OPTIONS,IDC_STATIC,300,245,24,24,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    PUSHBUTTON      "&Enregistrer les paramètres",DLG_PLUG_SAVE,188,285,86,16,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "&Fermer",IDCANCEL,274,285,58,16,BS_FLAT
END

DLG_PLUG_LIGHT_WINDOW DIALOGEX 0, 0, 340, 308
STYLE DS_SETFONT | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CONTROL | WS_POPUP
EXSTYLE WS_EX_CONTROLPARENT | WS_EX_NOACTIVATE
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Éclairage",IDC_STATIC,4,2,332,302
    GROUPBOX        "Service DMX",IDC_STATIC,12,14,316,118
    CONTROL         "Inclus",DLG_PLUG_LIGHT_DMX_ISENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,18,28,50,10
    CONTROL         "Port COM :",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,170,38,149,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    COMBOBOX        DLG_PLUG_LIGHT_DMX_COMBO,19,49,302,30,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "-",DLG_PLUG_LIGHT_DMX_COMNAME,"Static",SS_SIMPLE | WS_GROUP,153,71,167,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Port:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,82,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_LIGHT_DMX_COMPORT,"Static",SS_SIMPLE | WS_GROUP,264,82,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Débit binaire :",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,93,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_LIGHT_DMX_COMBAUDRATE,"Static",SS_SIMPLE | WS_GROUP,264,93,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Bit d'arrêt :",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,104,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_LIGHT_DMX_COMSTOPBITS,"Static",SS_SIMPLE | WS_GROUP,264,104,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Temps mort:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,115,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_LIGHT_DMX_COMTIMEOUT,"Static",SS_SIMPLE | WS_GROUP,264,115,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    ICON            ICON_PLUGIN_DMX,IDC_STATIC,44,76,48,48,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    GROUPBOX        "Service ArtNet",IDC_STATIC,12,138,316,126
    CONTROL         "Inclus",DLG_PLUG_LIGHT_ARTNET_ISENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,18,152,50,10
    CONTROL         "Réseau ArtNet :",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,170,162,149,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    COMBOBOX        DLG_PLUG_LIGHT_ARTNET_COMBO,19,173,302,30,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Numéro d'univers :",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,196,77,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_LIGHT_ARTNET_UNIVERSE,289,192,33,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "Port:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,211,77,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_LIGHT_ARTNET_PORT,289,207,33,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "Adresse:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,224,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_LIGHT_ARTNET_IP,"Static",SS_SIMPLE | WS_GROUP,263,224,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Masque:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,235,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_LIGHT_ARTNET_MASK,"Static",SS_SIMPLE | WS_GROUP,263,235,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    CONTROL         "Diffuser:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,207,246,42,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_LIGHT_ARTNET_BCAST,"Static",SS_SIMPLE | WS_GROUP,263,246,55,8,WS_EX_TRANSPARENT | WS_EX_RIGHT
    ICON            ICON_PLUGIN_ARTNET,IDC_STATIC,44,206,48,48,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    CONTROL         "Activer le pool DMX (comportement standard)",DLG_PLUG_LIGHT_POLL,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,12,271,184,10
    PUSHBUTTON      "&Enregistrer les paramètres",DLG_PLUG_SAVE,188,285,86,16,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "&Fermer",IDCANCEL,274,285,58,16,BS_FLAT
END

DLG_PLUG_REMOTE_WINDOW DIALOGEX 0, 0, 340, 308
STYLE DS_SETFONT | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CONTROL | WS_POPUP
EXSTYLE WS_EX_CONTROLPARENT | WS_EX_NOACTIVATE
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Panneau de contrôle",IDC_STATIC,4,2,332,302
    CONTROL         "Inclus",DLG_PLUG_REMOTE_ISENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,11,17,50,10
    GROUPBOX        "Paramètres réseau",IDC_STATIC,11,32,317,46
    CONTROL         "Interface:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,44,69,8,WS_EX_TRANSPARENT
    COMBOBOX        DLG_PLUG_REMOTE_IFACE_COMBO,18,53,208,30,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "port:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,233,44,40,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_REMOTE_PORT,232,53,60,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP,WS_EX_TRANSPARENT
    ICON            ICON_PLUGIN_REMOTENET,IDC_STATIC,290,43,32,32,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    GROUPBOX        "Adresse réseau de la centrale",IDC_STATIC,11,83,317,49
    CONTROL         "<a>http://localhost:8888</a>",DLG_PLUG_REMOTE_SYSLINK,"SysLink",WS_TABSTOP,18,96,272,13
    CONTROL         "Pour accéder au panneau de configuration, ouvrez cette adresse dans votre navigateur après le lancement.",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,110,272,18,WS_EX_TRANSPARENT
    PUSHBUTTON      "",DLG_PLUG_REMOTE_COPY_ADDR,296,95,24,24,BS_ICON | BS_FLAT
    GROUPBOX        "Possibilités",IDC_STATIC,11,138,317,141
    CONTROL         "délai de connection dépassé:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,158,85,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_REMOTE_TMC,119,155,31,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "délai d'attente :",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,174,85,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_REMOTE_TMI,119,172,32,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "utiliser IPv6",DLG_PLUG_REMOTE_ISIPV6,"Button",BS_AUTO3STATE | BS_FLAT | WS_TABSTOP,182,157,137,10
    CONTROL         "ouverture rapide de la prise",DLG_PLUG_REMOTE_ISFASTSOCK,"Button",BS_AUTO3STATE | BS_FLAT | WS_TABSTOP,182,171,137,10
    CONTROL         "réutilisation des adresses",DLG_PLUG_REMOTE_ISREUSE,"Button",BS_AUTO3STATE | BS_FLAT | WS_TABSTOP,182,185,137,10
    CONTROL         "niveau de journalisation de la session client :",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,207,167,8,WS_EX_TRANSPARENT
    COMBOBOX        DLG_PLUG_REMOTE_LOGLEVEL_COMBO,18,217,175,54,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Nom et version du serveur :",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,18,236,167,8,WS_EX_TRANSPARENT
    CONTROL         "-",DLG_PLUG_REMOTE_UA,"Static",SS_SIMPLE | WS_GROUP,18,247,301,8,WS_EX_TRANSPARENT
    ICON            ICON_PLUGIN_REMOTEOPT,IDC_STATIC,290,216,32,32,SS_CENTERIMAGE | SS_REALSIZEIMAGE,WS_EX_TRANSPARENT
    PUSHBUTTON      "&Enregistrer les paramètres",DLG_PLUG_SAVE,188,285,86,16,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "&Fermer",IDCANCEL,274,285,58,16,BS_FLAT
END

DLG_PLUG_GAMEPAD_WINDOW DIALOGEX 0, 0, 340, 308
STYLE DS_SETFONT | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CONTROL | WS_POPUP
EXSTYLE WS_EX_CONTROLPARENT | WS_EX_NOACTIVATE
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    GROUPBOX        "Manette de jeu/Joystick",IDC_STATIC,4,2,332,302
    CONTROL         "Inclus",DLG_PLUG_GAMEPAD_ISENABLE,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,16,22,50,10
    GROUPBOX        "Appareils disponibles",IDC_STATIC,11,37,317,120
    LISTBOX         DLG_PLUG_GAMEPAD_DEVICES,17,50,302,55,LBS_HASSTRINGS | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | LBS_NOSEL | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
    CONTROL         "Total:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,19,110,33,8,WS_EX_TRANSPARENT
    CONTROL         "0",DLG_PLUG_GAMEPAD_TOTAL,"Static",SS_SIMPLE | WS_GROUP,57,110,14,8,WS_EX_TRANSPARENT
    CONTROL         "Connecté:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,83,110,45,8,WS_EX_TRANSPARENT
    CONTROL         "0",DLG_PLUG_GAMEPAD_CONNECT,"Static",SS_SIMPLE | WS_GROUP,143,110,14,8,WS_EX_TRANSPARENT
    CONTROL         "Changer d'étape :",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,201,116,62,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_GAMEPAD_STEPINT,267,113,51,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "Période d'interrogation des appareils :",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,19,122,117,8,WS_EX_TRANSPARENT
    CONTROL         "0",DLG_PLUG_GAMEPAD_POLL,"Static",SS_SIMPLE | WS_GROUP,143,122,19,8,WS_EX_TRANSPARENT
    CONTROL         "",DLG_PLUG_GAMEPAD_SLIDER1,"msctls_trackbar32",TBS_AUTOTICKS | TBS_BOTH | WS_TABSTOP,15,132,302,15
    CONTROL         "Mode de saisie",DLG_PLUG_GAMEPAD_RTYPE1,"Button",BS_AUTORADIOBUTTON | BS_FLAT | WS_GROUP,15,163,80,10
    CONTROL         "Mode de contrôle",DLG_PLUG_GAMEPAD_RTYPE2,"Button",BS_AUTORADIOBUTTON | BS_FLAT | WS_GROUP,107,163,101,10
    GROUPBOX        "Paramètres du mode de saisie",IDC_STATIC,11,177,317,36
    CONTROL         "Scène:",IDC_STATIC,"Static",SS_SIMPLE | WS_GROUP,19,194,33,8,WS_EX_TRANSPARENT
    EDITTEXT        DLG_PLUG_GAMEPAD_SCENE,57,191,51,14,ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP,WS_EX_TRANSPARENT
    CONTROL         "Utiliser les directions comme boutons",DLG_PLUG_GAMEPAD_ASBTN,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,125,186,196,10
    CONTROL         "Directions horizontales en mode JOG",DLG_PLUG_GAMEPAD_ISJOG,"Button",BS_AUTOCHECKBOX | BS_FLAT | WS_TABSTOP,125,199,192,10
    GROUPBOX        "Paramètres du mode de contrôle",IDC_STATIC,11,219,317,63
    COMBOBOX        DLG_PLUG_GAMEPAD_RTYPE_COMBO,18,234,302,30,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Enregistrer les paramètres",DLG_PLUG_SAVE,188,285,86,16,BS_FLAT | WS_DISABLED
    PUSHBUTTON      "&Fermer",IDCANCEL,274,285,58,16,BS_FLAT
END

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

BITMAP_MIDIMT_LOGO	BITMAP	"AboutLogo.bmp"

