#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Derniers fichiers :"
	STR_RB_TABHOMEL			"Édition"
	STR_RB_TABFILTERL		"Filtres"
	STR_RB_PANEL_EDITMAINL		"modifier la touche MIDI"
	STR_RB_PANEL_EDITSETL		"Groupe de touches MIDI"
	STR_RB_PANEL_EDITOPTL		"options de l'éditeur"
	STR_RB_PANEL_FILTERL		"sélection de filtres d'affichage"
	STR_RB_PANEL_SORTL		"tri"
	STR_RB_MENUL			"&Menu"
	STR_RB_MENUT			"Menu des applications"
	STR_RB_PANEL_QATL		"&Accès rapide"
	STR_RB_PANEL_QATT		"Barre d'accès rapide"
	STR_RB_DIALOG_SAVEL		"&Sauvegarder"
	STR_RB_DIALOG_SAVET		"Enregistrer et appliquer"
	STR_RB_DIALOG_SAVED		"Enregistrez dans le fichier précédemment téléchargé et mettez à jour la configuration actuelle."
	STR_RB_DIALOG_EXPORTL		"&Exporter"
	STR_RB_DIALOG_EXPORTT		"Exporter vers un nouveau fichier"
	STR_RB_DIALOG_EXPORTD		"Exportez la configuration modifiée vers un nouveau fichier."
	STR_RB_DIALOG_IMPORTL		"&Importer"
	STR_RB_DIALOG_IMPORTT		"Importer à partir d'un fichier"
	STR_RB_DIALOG_IMPORTD		"Importer la configuration à partir du fichier."
	STR_RB_DIALOG_EXITL		"&Sortie"
	STR_RB_DIALOG_EXITT		"Quitter l'éditeur"
	STR_RB_DIALOG_EXITD		"Quitte l'éditeur de configuration des touches MIDI ; si les modifications ne sont pas enregistrées, elles seront perdues."
	STR_RB_LV_NEWL			"&Nouvelle touche MIDI"
	STR_RB_LV_NEWT			"Nouvelle touche MIDI"
	STR_RB_LV_NEWD			"Création d'une nouvelle clé MIDI."
	STR_RB_LV_COPYL			"&Copie"
	STR_RB_LV_COPYT			"Copier la clé MIDI"
	STR_RB_LV_COPYD			"Copiez l'entrée de clé MIDI sélectionnée."
	STR_RB_LV_PASTEL		"&Insérer"
	STR_RB_LV_PASTET		"Insérer la clé"
	STR_RB_LV_PASTED		"Collez la clé MIDI copiée."
	STR_RB_LV_DELETEL		"&Supprimer"
	STR_RB_LV_DELETET		"Supprimer la clé"
	STR_RB_LV_DELETED		"Supprimez l’entrée de clé MIDI sélectionnée."
	STR_RB_LV_SET_MQTTL		"Maison intelligente"
	STR_RB_LV_SET_MQTTT		"Définissez le groupe sur « Smart Home »."
	STR_RB_LV_SET_MQTTD		"Attribuez la touche MIDI sélectionnée au groupe « Smart Home »."
	STR_RB_LV_SET_MMKEYL		"Boutons multimédia"
	STR_RB_LV_SET_MMKEYT		"Définissez le groupe comme “Boutons multimédia”"
	STR_RB_LV_SET_MMKEYD		"Attribuez la touche MIDI sélectionnée au groupe « Boutons multimédia »."
	STR_RB_LV_SET_MIXERL		"Mélangeur audio"
	STR_RB_LV_SET_MIXERT		"Définir le groupe comme “Audio Mixer”"
	STR_RB_LV_SET_MIXERD		"Attribuez la touche MIDI sélectionnée au groupe « Audio Mixer »."
	STR_RB_LV_READ_MIDI_CODEL	"Lire le code MIDI"
	STR_RB_LV_READ_MIDI_CODET	"Lire le code de contrôle MIDI"
	STR_RB_LV_READ_MIDI_CODED	"Lisez le code MIDI à partir d’une surface de contrôle ou d’un clavier MIDI."
	STR_RB_LV_EDIT_MODEL		"Entrée numérique uniquement"
	STR_RB_LV_EDIT_MODET		"Utiliser uniquement l'entrée numérique"
	STR_RB_LV_EDIT_MODED		"N'utilisez pas le menu de sélection de valeur, utilisez uniquement l'entrée numérique."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"Panneau de contrôle MIDI"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Paramètres recommandés"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Paramètres du panneau de commande MIDI recommandés compatibles avec les commandes Adobe Premiere Pro."
	STR_RB_LV_FILTER_EMBEDL		"Filtres intégrés"
	STR_RB_LV_FILTER_KEYL		"Clé"
	STR_RB_LV_FILTER_KEYT		"Filtrer par touche MIDI"
	STR_RB_LV_FILTER_KEYD		"Afficher uniquement les correspondances au sein d'un groupe de touches MIDI."
	STR_RB_LV_FILTER_SCENEL		"Scène"
	STR_RB_LV_FILTER_SCENET		"Filtrer par scène MIDI"
	STR_RB_LV_FILTER_SCENED		"Afficher uniquement les correspondances dans le groupe de scènes MIDI."
	STR_RB_LV_FILTER_TARGETL	"Objectif 1"
	STR_RB_LV_FILTER_TARGETT	"Filtrer par destination 1"
	STR_RB_LV_FILTER_TARGETD	"Afficher uniquement les correspondances dans le groupe cible 1."
	STR_RB_LV_FILTER_TARGETLONGL	"Objectif 2"
	STR_RB_LV_FILTER_TARGETLONGT	"Filtrer par destination 2"
	STR_RB_LV_FILTER_TARGETLONGD	"Afficher uniquement les correspondances dans le groupe cible 2."
	STR_RB_LV_FILTER_CLEARL		"Effacer les filtres"
	STR_RB_LV_FILTER_CLEART		"Filtres de nettoyage"
	STR_RB_LV_FILTER_CLEARD		"Filtres complètement clairs, toutes les entrées seront affichées."
	STR_RB_LV_FILTER_SETL		"Définir le filtre"
	STR_RB_LV_FILTER_SETT		"Installation de filtre"
	STR_RB_LV_FILTER_SETD		"La définition du filtre affiche tous les éléments non valides."
	STR_RB_LV_FILTER_ONL		"Appliquer le filtre"
	STR_RB_LV_FILTER_ONT		"Appliquer un filtre"
	STR_RB_LV_FILTER_OND		"L'application d'un filtre affiche les éléments sélectionnés."
	STR_RB_LV_FILTER_OFFL		"Annuler le filtre"
	STR_RB_LV_FILTER_OFFT		"Annuler le filtre"
	STR_RB_LV_FILTER_OFFD		"L'annulation du filtre affichera tous les éléments."
	STR_RB_LV_FILTER_MMKEYL		"Afficher les “boutons multimédia”"
	STR_RB_LV_FILTER_MMKEYT		"Filtrer par groupe « Boutons multimédia »"
	STR_RB_LV_FILTER_MMKEYD		"L'application d'un filtre affichera les membres du groupe Boutons multimédia."
	STR_RB_LV_FILTER_MIXERL		"Afficher “Mixeur audio”"
	STR_RB_LV_FILTER_MIXERT		"Filtrer par groupe « Audio Mixer »"
	STR_RB_LV_FILTER_MIXERD		"L’application d’un filtre affichera les membres du groupe Audio Mixer."
	STR_RB_LV_FILTER_MQTTL		"Afficher “Maison intelligente”"
	STR_RB_LV_FILTER_MQTTT		"Filtrer par groupe « Maison intelligente »"
	STR_RB_LV_FILTER_MQTTD		"L'application d'un filtre affichera les membres du groupe Smart Home."
	STR_RB_LV_FILTER_LIGHT8L	"Afficher “Éclairage 8 bits”"
	STR_RB_LV_FILTER_LIGHT8T	"Filtrer par groupe « Éclairage 8 bits »"
	STR_RB_LV_FILTER_LIGHT8D	"L'application du filtre affichera les membres du groupe Éclairage avec des canaux 8 bits."
	STR_RB_LV_FILTER_LIGHT16L	"Afficher “Éclairage 16 bits”"
	STR_RB_LV_FILTER_LIGHT16T	"Filtrer par groupe « Éclairage 16 bits »"
	STR_RB_LV_FILTER_LIGHT16D	"L'application du filtre affichera les membres du groupe Éclairage avec des canaux 16 bits."
	STR_RB_LV_FILTER_SCRIPTL	"Afficher “Scripts”"
	STR_RB_LV_FILTER_SCRIPTT	"Filtrer par groupe « Scripts » ChaiScript"
	STR_RB_LV_FILTER_SCRIPTD	"L'application d'un filtre affichera les membres du groupe Scripts."
	STR_RB_LV_FILTER_TYPEBTNL	"Type de filtre"
	STR_RB_LV_FILTER_TYPEBTNT	"Définir le type de filtres à appliquer"
	STR_RB_LV_FILTER_TYPEBTND	"Les types de filtres utilisés ont deux états logiques : « ET », « OU »."
	STR_RB_LV_FILTER_TYPEGRPL	"Sélection d'un type de filtre"
	STR_RB_LV_FILTER_TYPEORL	"Afficher toutes les correspondances"
	STR_RB_LV_FILTER_TYPEORT	"Afficher les entrées avec n'importe quelle correspondance"
	STR_RB_LV_FILTER_TYPEORD       	"Le filtre a un état ET logique et affiche toutes les correspondances."
	STR_RB_LV_FILTER_TYPEANDL	"Afficher uniquement les correspondances complètes"
	STR_RB_LV_FILTER_TYPEANDT	"Afficher uniquement les enregistrements avec des correspondances exactes"
	STR_RB_LV_FILTER_TYPEANDD	"Le filtre a un état OU logique et affiche uniquement les correspondances complètes."
	STR_RB_LV_FILTER_AUTOCOMMITL	"Envoi automatique des données dans le filtre"
	STR_RB_LV_FILTER_AUTOCOMMITT	"Envoi automatique des valeurs saisies dans le filtre"
	STR_RB_LV_FILTER_AUTOCOMMITD	"Soumet automatiquement les valeurs d'entrée dans un filtre intégré."
	STR_RB_LV_EXT_MODEL		"Afficher le tri"
	STR_RB_LV_SORTUP_KEYL		"par clé"
	STR_RB_LV_SORTUP_KEYT		"Trier par ordre croissant et clé MIDI."
	STR_RB_LV_SORTUP_SCENEL		"autour de la scène"
	STR_RB_LV_SORTUP_SCENET		"Tri par scène ascendante et MIDI."
	STR_RB_LV_SORTUP_TARGETL	"sur rendez-vous 1"
	STR_RB_LV_SORTUP_TARGETT	"Trier par ordre croissant et destination MIDI 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"sur rendez-vous 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Tri par ordre croissant et destination MIDI 2."
	STR_RB_LV_SORTDOWN_KEYT		"Trier par ordre décroissant et clé MIDI."
	STR_RB_LV_SORTDOWN_SCENET	"Tri par ordre décroissant et scène MIDI."
	STR_RB_LV_SORTDOWN_TARGETT	"Tri par ordre décroissant et destination MIDI 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Tri par ordre décroissant et destination MIDI 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Exporter vers MQTT"
	STR_RB_DIALOG_EXPORTMQTTT	"Exporter la configuration MQTT"
	STR_RB_DIALOG_EXPORTMQTTD	"Exportez la configuration DMX512/ARTNET vers un nouveau fichier."
	STR_RB_PANEL_EDITUTILL		"Outils"
	STR_RB_LV_SET_BUTTONL		"Attribuer une touche MIDI"
	STR_RB_LV_SET_BUTTONT		"Attribuer la touche MIDI sélectionnée"
	STR_RB_LV_SET_BUTTOND		"Définissez la touche MIDI sélectionnée en tant que membre du groupe."
	STR_RB_LV_SET_LIGHT8L		"Éclairage 8 bits"
	STR_RB_LV_SET_LIGHT8T		"Définir le groupe sur “Éclairage 8 bits”"
	STR_RB_LV_SET_LIGHT8D		"Attribuez la touche MIDI sélectionnée au groupe « Lighting 8 Bit »."
	STR_RB_LV_SET_LIGHT16L		"Éclairage 16 bits"
	STR_RB_LV_SET_LIGHT16T		"Définir le groupe sur “Éclairage 16 bits”"
	STR_RB_LV_SET_LIGHT16D		"Attribuez la touche MIDI sélectionnée au groupe « Lighting 16-bit »."
	STR_RB_LV_SET_SCRIPTL		"Scénarios"
	STR_RB_LV_SET_SCRIPTT		"Définir le groupe comme “Scripts”"
	STR_RB_LV_SET_SCRIPTD		"Attribuez la touche MIDI sélectionnée au groupe « Scripts »."
	STR_RB_DIALOG_SHOWDUPL		"Afficher les doublons"
	STR_RB_DIALOG_SHOWDUPT		"Rechercher des clés MIDI en double"
	STR_RB_DIALOG_SHOWDUPD		"Recherchez les clés MIDI en double ; si elles sont présentes, un comportement inattendu peut se produire."

	STR_RB_DIALOG_DELDUPL		"Supprimer les doublons"
	STR_RB_DIALOG_DELDUPT		"Supprimer les éventuelles clés MIDI en double"
	STR_RB_DIALOG_DELDUPD		"La recherche et la suppression de clés MIDI en double, s'il y a des doublons, peuvent ne pas se comporter comme prévu."
END
