#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_BELARUSIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE
BEGIN
    STRING_APP_CLASS	"MIDIMT"
    STRING_APP_TITLE	"MIDI-MT транслятар"
    STRING_MIXER	"&Мікшэр"
    STRING_SETTINGS	"&Налады"
    STRING_START	"Ст&арт"
    STRING_STOP		"Ст&оп"
    STRING_EXIT		"Выйхад"

    STRING_URL_WIKI	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/wiki/RU"
    STRING_URL_GIT	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases"
    STRING_URL_WEB	"https://claudiacoord.github.io/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/"
    STRING_URL_ESETUP	"https://github.com/ClaudiaCoord/MIDI-EasyControl-to-Mackie-translator-for-Premiere-Pro/releases/download/1.0.1.1/EasyControl.zip"

    STRING_EDIT_MSG1	"Канфігурацыя загружана з драйвера"
    STRING_EDIT_MSG2	"Канфігурацыя загружана з файла"
    STRING_EDIT_MSG3	"Канфігурацыя створана нанова і патрабуе запаўнення"
    STRING_EDIT_MSG4	"Пры адкрыцці рэдактара, быў паказаны файл канфігурацыі: '{0}'. Захаваць яго з тым жа імем?"
    STRING_EDIT_MSG5	"Нумар DMX канала"

    STRING_NOTIFY_MSG1	"транслятар спынены:"
    STRING_NOTIFY_MSG2	"транслятар працуе:"

    STRING_AMIX_MSG1	"Аўдыёмікшар не запушчаны, праверце налады, павінен быць уключаны запуск аўдыё панэлі."
    STRING_AMIX_MSG2	"MIDIMT - Аўдыё мікшар не запушчаны:"
    STRING_AMIX_MSG3	"Няверны ідэнтыфікатар падзеі. Калі ласка, перазапусціце гэта дадатак."
    STRING_AMIX_MSG4	"MIDIMT - Немагчыма скончыць аперацыю:"
    STRING_AMIX_MSG5	"Не атрымалася перамыкаецца на струмень карыстацкага інтэрфейсу, запуск аўдыё панэлі перарваны."

    STRING_MAIN_MSG1	"Памылка ініцыялізацыі дадатку, працяг немагчыма."
    STRING_MAIN_MSG2	"Праверце правы карыстальніка на запіс файлаў у каталогу прыкладання. Калі памылка паўтарыцца, паспрабуйце адключыць вядзенне лог-файла."
    STRING_MAIN_MSG3	"Аўтазапуск забаронены ў агульнай канфігурацыі."
    STRING_MAIN_MSG4	"Абраная канфігурацыя не падтрымлівае аўта старт."

    STRING_LOGV_MSG1	"Калі ласка, перад запускам манітора, запусціце транслятар з меню, выбраўшы пункт 'Старт'."
    STRING_LOGV_MSG2	"Усе наладкі '{0}', версія канфігурацыйнага файла: {1}"
    STRING_LOGV_MSG3	"Наладкі MIDI"
    STRING_LOGV_MSG4	"Налады Разумнага Дома (MQTT)"
    STRING_LOGV_MSG5	"Настройкі мультымедыя клавіятуры (MMKEYS)"
    STRING_LOGV_MSG6	"Налады кіравання асвятленнем ({0})"
    STRING_LOGV_MSG7	"Налады панэлі дыстанцыйнага кіравання (REMOTE)"
    STRING_LOGV_MSG8	"Налады кіравання Геймпада/Джойсціка (GAMEPAD)"
    STRING_LOGV_MSG9	"Націснутая MIDI клавіша:"
    STRING_LOGV_MSG10	"Нумар пазнакі:"

    STRING_CHKR_MSG1	"Пры запуску быў паказаны файл канфігурацыі: '{0}'. Усталяваць яго як канфігурацыю для наступных запускаў?"
    STRING_CHKR_MSG2	"MIDI-MT Канфігурацыя"

    STRING_TMENU_MSG1	"Неабходна ўсталяваць Virtual MIDI драйвер!"

    STRING_LANG_STATUS	"статус:"
    STRING_LANG_YES	"так"
    STRING_LANG_NO	"не"
END

STRINGTABLE
BEGIN
	IDM_COL4_MAV  "гучнасць гуку (асноўны)"
	IDM_COL4_MAP  "гукавы баланс (асноўны)"
	IDM_COL4_MAM  "адключэнне гуку (асноўны)"
	IDM_COL4_MAS  "аўдыё сола (асноўны)"
	IDM_COL4_JOG  "JOG (перамотка відэакадра)"
	IDM_COL4_AV1  "гучнасць гуку (канал 1)"
	IDM_COL4_AV2  "гучнасць гуку (канал 2)"
	IDM_COL4_AV3  "гучнасць гуку (канал 3)"
	IDM_COL4_AV4  "гучнасць гуку (канал 4)"
	IDM_COL4_AV5  "гучнасць гуку (канал 5)"
	IDM_COL4_AV6  "гучнасць гуку (канал 6)"
	IDM_COL4_AV7  "гучнасць гуку (канал 7)"
	IDM_COL4_AV8  "гучнасць гуку (канал 8)"
	IDM_COL4_XV9  "гучнасць гуку (канал 9)"
	IDM_COL4_AP1  "гукавы баланс (канал 1)"
	IDM_COL4_AP2  "гукавы баланс (канал 2)"
	IDM_COL4_AP3  "гукавы баланс (канал 3)"
	IDM_COL4_AP4  "гукавы баланс (канал 4)"
	IDM_COL4_AP5  "гукавы баланс (канал 5)"
	IDM_COL4_AP6  "гукавы баланс (канал 6)"
	IDM_COL4_AP7  "гукавы баланс (канал 7)"
	IDM_COL4_AP8  "гукавы баланс (канал 8)"
	IDM_COL4_XP9  "гукавы баланс (канал 9)"
	IDM_COL4_B11  "аўдыё сола (канал 1)"
	IDM_COL4_B12  "аўдыё сола (канал 2)"
	IDM_COL4_B13  "аўдыё сола (канал 3)"
	IDM_COL4_B14  "аўдыё сола (канал 4)"
	IDM_COL4_B15  "аўдыё сола (канал 5)"
	IDM_COL4_B16  "аўдыё сола (канал 6)"
	IDM_COL4_B17  "аўдыё сола (канал 7)"
	IDM_COL4_B18  "аўдыё сола (канал 8)"
	IDM_COL4_B19  "аўдыё сола (канал 9)"
	IDM_COL4_B21  "адключэнне гуку (канал 1)"
	IDM_COL4_B22  "адключэнне гуку (канал 2)"
	IDM_COL4_B23  "адключэнне гуку (канал 3)"
	IDM_COL4_B24  "адключэнне гуку (канал 4)"
	IDM_COL4_B25  "адключэнне гуку (канал 5)"
	IDM_COL4_B26  "адключэнне гуку (канал 6)"
	IDM_COL4_B27  "адключэнне гуку (канал 7)"
	IDM_COL4_B28  "адключэнне гуку (канал 8)"
	IDM_COL4_B29  "адключэнне гуку (канал 9)"
	IDM_COL4_B31  "выбар гуку (канал 1)"
	IDM_COL4_B32  "выбар гуку (канал 2)"
	IDM_COL4_B33  "выбар гуку (канал 3)"
	IDM_COL4_B34  "выбар гуку (канал 4)"
	IDM_COL4_B35  "выбар гуку (канал 5)"
	IDM_COL4_B36  "выбар гуку (канал 6)"
	IDM_COL4_B37  "выбар гуку (канал 7)"
	IDM_COL4_B38  "выбар гуку (канал 8)"
	IDM_COL4_B39  "выбар гуку (канал 9)"
	IDM_COL4_FUN11  "функцыя F1 (стандартны рэжым)"
	IDM_COL4_FUN12  "функцыя F2 (стандартны рэжым)"
	IDM_COL4_FUN13  "функцыя F3 (стандартны рэжым)"
	IDM_COL4_FUN14  "функцыя F4 (стандартны рэжым)"
	IDM_COL4_FUN15  "функцыя F5 (стандартны рэжым)"
	IDM_COL4_FUN16  "функцыя F6 (стандартны рэжым)"
	IDM_COL4_FUN17  "функцыя F7 (стандартны рэжым)"
	IDM_COL4_FUN18  "функцыя F8 (стандартны рэжым)"
	IDM_COL4_FUN21  "функцыя F1 (утрымліваемы рэжым)"
	IDM_COL4_FUN22  "функцыя F2 (утрымліваемы рэжым)"
	IDM_COL4_FUN23  "функцыя F3 (утрымліваемы рэжым)"
	IDM_COL4_FUN24  "функцыя F4 (утрымліваемы рэжым)"
	IDM_COL4_FUN25  "функцыя F5 (утрыманы рэжым)"
	IDM_COL4_FUN26  "функцыя F6 (утрымліваемы рэжым)"
	IDM_COL4_FUN27  "функцыя F7 (утрымліваемы рэжым)"
	IDM_COL4_FUN28  "функцыя F8 (утрымліваемы рэжым)"
	IDM_COL4_SYS_Rewind  "Перамотка назад (прайгравальнік)"
	IDM_COL4_SYS_Forward  "Перамотка наперад (прайгравальнік)"
	IDM_COL4_SYS_Stop  "Стоп (прайгравальнік)"
	IDM_COL4_SYS_Play  "Гуляць (прайгравальнік)"
	IDM_COL4_SYS_Record  "Запіс (прайгравальнік)"
	IDM_COL4_SYS_Up    "Уверх (джойсцік)"
	IDM_COL4_SYS_Down  "Уніз (джойсцік)"
	IDM_COL4_SYS_Left  "Налева (джойсцік)"
	IDM_COL4_SYS_Right  "Направа (джойсцік)"
	IDM_COL4_SYS_Zoom  "Павелічэнне"
	IDM_COL4_SYS_Scrub  "Скраб"
	IDM_COL4_VOLUMEMIX "Упраўленне «Мікшэрам»"
	IDM_COL4_MEDIAKEY "Мультымедыйныя клавішы"
        IDM_COL4_MQTTKEY  "Упраўленне «Разумным домам»"
        IDM_COL4_LIGHTKEY8B "Упраўленне асвятленнем (8 біт)"
        IDM_COL4_LIGHTKEY16B "Упраўленне асвятленнем (16 біт)"
	IDM_COL4_NONE  "дзеянне не вызначана"
	IDM_COL4_MQTT_AV1		"узровень 1"
	IDM_COL4_MQTT_AV2		"узровень 2"
	IDM_COL4_MQTT_AV3		"узровень 3"
	IDM_COL4_MQTT_AV4		"узровень 4"
	IDM_COL4_MQTT_AV5		"узровень 5"
	IDM_COL4_MQTT_AV6		"узровень 6"
	IDM_COL4_MQTT_AV7		"узровень 7"
	IDM_COL4_MQTT_AV8		"узровень 8"
	IDM_COL4_MQTT_XV9		"узровень 9"
	IDM_COL4_MQTT_AP1		"узровень 10"
	IDM_COL4_MQTT_AP2		"узровень 11"
	IDM_COL4_MQTT_AP3		"узровень 12"
	IDM_COL4_MQTT_AP4		"узровень 13"
	IDM_COL4_MQTT_AP5		"узровень 14"
	IDM_COL4_MQTT_AP6		"узровень 15"
	IDM_COL4_MQTT_AP7		"узровень 16"
	IDM_COL4_MQTT_AP8		"узровень 17"
	IDM_COL4_MQTT_XP9		"узровень 18"
	IDM_COL4_MQTT_B11		"вкл/выкл 1"
	IDM_COL4_MQTT_B12		"вкл/выкл 2"
	IDM_COL4_MQTT_B13		"вкл/выкл 3"
	IDM_COL4_MQTT_B14		"вкл/выкл 4"
	IDM_COL4_MQTT_B15		"вкл/выкл 5"
	IDM_COL4_MQTT_B16		"вкл/выкл 6"
	IDM_COL4_MQTT_B17		"вкл/выкл 7"
	IDM_COL4_MQTT_B18		"вкл/выкл 8"
	IDM_COL4_MQTT_B19		"вкл/выкл 9"
	IDM_COL4_MQTT_B21		"вкл/выкл 10"
	IDM_COL4_MQTT_B22		"вкл/выкл 11"
	IDM_COL4_MQTT_B23		"вкл/выкл 12"
	IDM_COL4_MQTT_B24		"вкл/выкл 13"
	IDM_COL4_MQTT_B25		"вкл/выкл 14"
	IDM_COL4_MQTT_B26		"вкл/выкл 15"
	IDM_COL4_MQTT_B27		"вкл/выкл 16"
	IDM_COL4_MQTT_B28		"вкл/выкл 17"
	IDM_COL4_MQTT_B29		"вкл/выкл 18"
	IDM_COL4_MQTT_B31		"вкл/выкл 19"
	IDM_COL4_MQTT_B32		"вкл/выкл 20"
	IDM_COL4_MQTT_B33		"вкл/выкл 21"
	IDM_COL4_MQTT_B34		"вкл/выкл 22"
	IDM_COL4_MQTT_B35		"вкл/выкл 23"
	IDM_COL4_MQTT_B36		"вкл/выкл 24"
	IDM_COL4_MQTT_B37		"вкл/выкл 25"
	IDM_COL4_MQTT_B38		"вкл/выкл 26"
	IDM_COL4_MQTT_B39		"вкл/выкл 27"
	IDM_COL4_MQTT_NONE		"Не прызначана"
END

STRINGTABLE
BEGIN
	IDS_ERRORID_OK				"OK"
	IDS_ERRORID_EMPTY			"[Канфігурацыя пустая..]"
	IDS_ERRORID_UNDEFINED			"Гэтая памылка не вызначана"
	IDS_ERRORID_JSONCONF_WRITE_ACCESS	"Доступ на запіс да файла канфігурацыі забаронены, '{0}'"
	IDS_ERRORID_JSONCONF_READ_ACCESS	"Файл канфігурацыі адсутнічае або доступ забаронены, '{0}'"
	IDS_ERRORID_JSONCONF_EMPTY		"Файл канфігурацыі пусты, '{0}'"
	IDS_ERRORID_JSONCONF_NO_DEVICE		"Імя MIDI-прылады не зададзена ў канфігурацыі."
	IDS_ERRORID_JSONCONF_EMPTY_KEYS		"У гэтай канфігурацыі не настроены MIDI-клавішы."
	IDS_ERRORID_JSONCONF_WRITE_EMPTY	"Увага, у гэтай канфігурацыі не настроены MIDI-клавішы! запісаная канфігурацыю будзе не працаздольнай."
	IDS_ERRORID_INIT_COINITIALIZE		"Co*Initialize ініцыялізацыя не ўдалася."
	IDS_ERRORID_INIT_COCREATE		"Co*Create - не атрымалася стварыць асобнік."
	IDS_ERRORID_INIT_DEFAULT_AE		"Не атрымалася атрымаць аўдыё прылада па змаўчанні."
	IDS_ERRORID_INIT_AS_MANAGER2		"Збой дыспетчара аўдыё сеансаў."
	IDS_ERRORID_INIT_AS_AUDIOMETER		"Аўдыё пікавы вымяральнік не даступны."
	IDS_ERRORID_MIXER_STARTOK		"Мікшар аўдыё сеансаў запушчаны, на момант старту маецца {0} запушчаных праграм, даступных для рэгулявання."
	IDS_ERRORID_MIXER_STARTERROR		"Не ўдалося запусціць мікшар аўдыё сесій, звесткі пра памылку павінны быць у файле часопіса."
	IDS_ERRORID_MIXER_STOPOK		"Мікшар аўдыё сесій спынены."
	IDS_ERRORID_MIXER_STOPERROR		"Мікшар аўдыё сесій не быў правільна спынены, звесткі пра памылку павінны быць у файле часопіса."
	IDS_ERRORID_NO_INIT			"Ініцыялізуйце, перш чым выклікаць гэта."
	IDS_ERRORID_SESSION_LIST		"Не ўдалося атрымаць спіс аўдыё сеансаў."
	IDS_ERRORID_LISTISNULL			"Спіс аўдыё сесій пусты!"
	IDS_ERRORID_SESSIONDISCONNECTED		"Адключэнне аўдыё сесіі, прычына='{0}'"
	IDS_ERRORID_SESSIONCREATED		"Створана аўдыё сесія, імя='{0}'"
	IDS_ERRORID_ITEM_SC_AE			"Аўдыё сеанс '{0}' – няправільны стан рэгістрацыі '{1}': {2}/{3}"
	IDS_ERRORID_CBVALUE_BAD_SELECT		"Усталёўванае значэнне з зваротнага выкліку няслушны селектар."
	IDS_ERRORID_SET_CB_WARNING		"Устаноўка зваротнага выкліку магчыма толькі пасля паспяховага запуску MIDI-моста."
	IDS_ERRORID_CONFIG_FAIL			"Збой загрузкі канфігурацыі, файл не знойдзены, запуск немагчымы."
	IDS_ERRORID_CONFIG_LOAD			"Канфігурацыя загружана.."
	IDS_ERRORID_CONFIG_LOADA		"Канфігурацыя ўжо загружана."
	IDS_ERRORID_CONFIG_EMPTY		"Канфігурацыя пустая."
	IDS_ERRORID_CONFIG_EMPTY_NAME		"Канфігурацыя для модуля {0} пустая."
	IDS_ERRORID_CONFIG_NEW			"Выяўлена новая версія канфігурацыі."
	IDS_ERRORID_NOT_IMPLEMENTED		"Непадтрымліваемая рэалізацыя ў кодзе, метад не перавызначаны: {0}"
	IDS_ERRORID_NOT_CONFIG			"Імя канфігурацыі не пазначана, працяг немагчыма."
	IDS_ERRORID_MIDI_NOT_DEVICES		"Прылады не падключаны, працяг немагчыма."
	IDS_ERRORID_MIDI_COUNT_DEVICES		"Увага, неадпаведнасць колькасці прылад у выніковым спісе, сістэма/спіс = {0}/{1}"
	IDS_ERRORID_MIDI_OPEN_DEVICE		"Не ўдаецца адкрыць MIDI-прыладу, працяг немагчыма, id = {0}/{1}"
	IDS_ERRORID_MIDI_START_DEVICE		"Не ўдаецца запусціць MIDI-прыладу, працяг немагчыма, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_NOT_CONNECT	"Прылада не падключана, abort, id = {0}/{1}"
	IDS_ERRORID_MIDI_DEVICE_FOUND		"Прылада {0} знойдзена, {1}"
	IDS_ERRORID_MIDI_DEVICE_OPEN		"Прылада {0} адкрыта, {1}"
	IDS_ERRORID_MIDI_DEVICE_CLOSE		"Прылада {0} зачынена (сістэма)"
	IDS_ERRORID_MIDI_DEVICE_DONE		"Прылада {0} гатова (сістэма)"
	IDS_ERRORID_MIDI_NOT_DEVICE_NAME	"Не зададзена імя для актыўнай прылады, працяг немагчыма, id = {0}/{1}"
	IDS_ERRORID_MIDI_NOT_CONFIG_PROXY	"Не зададзены проксі-парты ў канфігурацыі, MIDI-проксі адключана."
	IDS_ERRORID_MIDI_DRIVER_VER_OK		"Версія драйвера [{0}]"
	IDS_ERRORID_MIDI_DRIVER_VER_ERROR	"Праблема з версіяй драйвера [{0}]"
	IDS_ERRORID_MIDI_SEND_BAD_VALUES	"Прылада {0} адправіла няправільнае значэнне = {1}"
	IDS_ERRORID_MIDI_NOT_DRIVER		"Віртуальны MIDI драйвер не ўсталяваны. Неабходна ўсталяваць пакет loopMidi, ці спампаваць поўную версію ўсталёўніка і пераўсталяваць MIDI-MT. Падрабязней: https://claudiacoord.github.io/MIDI-MT/docs/RU/Dependencies.html"
	IDS_ERRORID_MIDI_EMPTY_DRIVER		"Устаноўлены Virtual MIDI драйвер не знойдзены! Неабходна ўсталяваць пакет Virtual Loop MIDI для запуску MIDI-MT транслятара."
	IDS_ERRORID_MIDI_PROXY_PORTS		"Пры запуску будуць створаны {0} проксі MIDI партоў."
	IDS_ERRORID_MIDI_PROXY_OFF		"Проксі MIDI парты адключаныя."
	IDS_ERRORID_MIDI_OUT_PORTS		"Пры запуску будуць створаны {0} выходных MIDI партоў."
	IDS_ERRORID_MIDI_OUT_OFF		"Выходныя MIDI парты адключаныя."
	IDS_ERRORID_MMKEY_START			"Служба кіравання мультымедыйнымі ключамі запушчана."
	IDS_ERRORID_MMKEY_STOP			"Служба кіравання мультымедыйнымі ключамі спынена."
	IDS_ERRORID_MQTT_EMPTY_CONFIG		"Канфігурацыя MQTT не запоўнена, працяг немагчыма."
	IDS_ERRORID_MQTT_CLIENT_ERROR		"Памылка стварэння кліента MQTT, адмена."
	IDS_ERRORID_MQTT_CLIENT_OK		"Кліент MMQTT паспяхова створаны, працягваем."
	IDS_ERRORID_MQTT_CONNECTED		"Падключана да сервера MQTT:"
	IDS_ERRORID_MQTT_NOT_CONNECTED		"Не атрымалася падлучыцца да сервера MQTT:"
	IDS_ERRORID_MQTT_DISCONNECTED		"Адключана ад сервера MQTT:"
	IDS_ERRORID_MQTT_NOT_CA_CERT		"Файл сертыфіката CA не існуе, шлях = '{0}'"
	IDS_ERRORID_MQTT_START			"Служба кіравання Разумным домам запушчана."
	IDS_ERRORID_MQTT_STOP			"Служба кіравання Разумным домам спынена."
	IDS_ERRORID_MQTT_CA_FILTER		"CA сертыфікат"
	IDS_ERRORID_LOG_LEVEL_NONE		"лог не вядзецца"
	IDS_ERRORID_LOG_LEVEL_INFO		"інфармацыя"
	IDS_ERRORID_LOG_LEVEL_NOTICE		"апавяшчэння"
	IDS_ERRORID_LOG_LEVEL_WARNING		"папярэджанні"
	IDS_ERRORID_LOG_LEVEL_ERR		"толькі памылкі"
	IDS_ERRORID_LOG_LEVEL_DEBUG		"усе паведамленні"
	IDS_ERRORID_PANEL_INDEX			"Панэль аўдыёмікшэра - працяг немагчыма, элементы азначніка няслушныя."
	IDS_ERRORID_PANEL_INIT			"Панэль аўдыё мікшэра - працяг немагчыма, памылка ініцыялізацыі."
	IDS_ERRORID_PANEL_ENABLE		"Акно панэлі аўдыёмікшэра не адпавядае статуту, немагчыма працягнуць наступную аперацыю."
	IDS_ERRORID_PANEL_NOT_UI_THREAD		"Панэль аўдыёмікшэра выклікана не ў струмені карыстацкага інтэрфейсу, змены немагчымыя."
	IDS_ERRORID_PANEL_NOT_ITEM_VALID	"Панэль аўдыёмікшэра выявіла няправільны элемент, перарвана стварэнне акна панэлі."
	IDS_ERRORID_LIGHT_DMX_START		"Служба кіравання асвятленнем DMX запушчана з выкарыстаннем COM {0} – {1}."
	IDS_ERRORID_LIGHT_DMX_NOT_COM		"Служба кіравання асвятленнем DMX не запушчана, прылада COM{0} не падключана."
	IDS_ERRORID_LIGHT_DMX_NOT_CONFIG	"Служба кіравання асвятленнем DMX не запушчана, канфігурацыя службы не запоўнена."
	IDS_ERRORID_LIGHT_DMX_STOP		"Служба кіравання асвятленнем DMX спынена."
	IDS_ERRORID_LIGHT_DMX_NODEV		"Падыходныя прылады адсутнічаюць"
	IDS_ERRORID_LIGHT_DMX_SELDEV		"Абярыце DMX прылада"
	IDS_ERRORID_LIGHT_ARTNET_START		"Служба кіравання асвятленнем ArtNet запушчана з выкарыстаннем шырокавяшчальнага адраса {0}:{1} у сетцы {2}."
	IDS_ERRORID_LIGHT_ARTNET_NOT_IFACE	"Служба кіравання асвятленнем ArtNet не запушчана, сетка {0} не знойдзена."
	IDS_ERRORID_LIGHT_ARTNET_NOT_CONFIG	"Служба кіравання асвятленнем ArtNet не запушчана, канфігурацыя службы не запоўнена."
	IDS_ERRORID_LIGHT_ARTNET_STOP		"Служба кіравання асвятленнем ArtNet спынена."
	IDS_ERRORID_LIGHT_ARTNET_NOINT		"Прыдатныя інтэрфейсы адсутнічаюць"
	IDS_ERRORID_LIGHT_ARTNET_SELINT		"Абярыце ARTNET інтэрфейс"
	IDS_ERRORID_NOT_CLSID_CONVERT		"Памылка ініцыялізацыі плагіна, немагчыма пераўтварыць CLSID/GUID з указанага радка."
	IDS_ERRORID_BRIDGE_NOT_INIT		"Не атрымалася ініцыялізаваць убудовы, сумяшчальныя убудовы не выяўлены."
	IDS_ERRORID_BRIDGE_NOT_LOAD		"Не атрымалася загрузіць убудовы, папярэдне ініцыялізавана {0}, загружана 0 убудоў."
	IDS_ERRORID_BRIDGE_OK_INIT_LOAD		"Убудовы ініцыялізаваны паспяхова, папярэдняя ініцыялізацыя {0}, загружана {1} убудоў."
	IDS_ERRORID_BRIDGE_OK_START		"Брыдж паспяхова запушчаны, ініцыялізавана {0}, загружана {1}, запушчана {2} убудоў."
	IDS_ERRORID_BRIDGE_NOT_START		"Не атрымалася запусціць брыдж, памылка пры старце плагінаў, ініцыялізавана {0}, загружана {1} плагінаў."
	IDS_ERRORID_BRIDGE_OK_STOP		"Брыдж паспяхова спынены, ініцыялізавана {0}, загружана {1}, запушчана {2}, спынена {3} убудоў."
	IDS_ERRORID_BRIDGE_NOT_STOP		"Не атрымалася спыніць брыдж, памылка пры прыпынку плагінаў, ініцыялізавана {0}, загружана {1}, запушчана {2} плагінаў."
	IDS_ERRORID_PLUGIN_ALREADY_LOADED	"Убудовы ўжо загружаны, перад перазагрузкай выканайце скід."
	IDS_ERRORID_PLUGIN_ALREADY_STARTED	"Брыдж ужо запушчаны."
	IDS_ERRORID_PLUGIN_ALREADY_STOPED	"Брыдж ужо спынены."
	IDS_ERRORID_PLUGIN_DLL_ERROR		"Не атрымалася адкрыць модуль плагіна. Модуль адсутнічае ці пашкоджаны, DLL не быў загружаны і вярнуў значэнне null."
	IDS_ERRORID_PLUGIN_DLL_NOT_PLUGIN	"Модуль не з'яўляецца плагінам MIDI-MT, адсутнічаюць неабходныя кропкі ўваходу."
	IDS_ERRORID_PLUGIN_LIST_INFO		"Уключаны = {0}, налады = {1}, запушчаны = {2}"
	IDS_ERRORID_MIDIMT_UPCONFIG		"Канфігурацыя абноўлена: {0} = {1}{2}"
	IDS_ERRORID_MIDIMT_NOPLUGINS		"Модулі не знойдзены, запуск немагчымы."
	IDS_ERRORID_MIDIMT_CONFEDIT		"Калі ласка, адрэдагуйце канфігурацыю перад запускам."
	IDS_ERRORID_MIDIMT_CONFFILTER		"Файл канфігурацыі"
	IDS_ERRORID_MIDIMT_CONFFROMFILE		"Канфігурацыя загружана з файла: {0}"
	IDS_ERRORID_MIDIMT_CONFFROMDRV		"Канфігурацыя загружана з драйвера"
	IDS_ERRORID_MIDIMT_LANG_ACTIVE		"Абраны {0} мова будзе актыўнай пасля перазапуску акна."
	IDS_ERRORID_MIDIMT_VDRV_VERSION		"Версія ўсталяванага Virtual MIDI драйвера: {0}"
	IDS_ERRORID_REMOTE_START		"Служба выдаленага кіравання запушчана."
	IDS_ERRORID_REMOTE_STOP			"Служба выдаленага кіравання спынена."
	IDS_ERRORID_REMOTE_CLIENT_NEW		"Падлучаны новы кліент {0}/{1}."
	IDS_ERRORID_REMOTE_CLIENT_ERR		"Памылка кліента {0}/{1}, {2}."
	IDS_ERRORID_REMOTE_CLIENT_CLOSE		"Кліент {0}/{1} адключыўся, статус: {2} – {3}."

	IDS_ERRORID_JOY_NODRIVER		"Драйвер джойсціка ці геймпада адсутнічае."
	IDS_ERRORID_JOY_INVALIDPARAM		"Указаны ідэнтыфікатар джойсціка недапушчальны."
	IDS_ERRORID_JOY_NOCANDO			"Немагчыма запісаць уваходныя дадзеныя джойсціка, патрабаваная служба недаступная."
	IDS_ERRORID_JOY_UNPLUGGED		"Указаны джойсцік не падлучаны да сістэмы."
	IDS_ERRORID_JOY_START			"Служба кіравання Геймпадам/Джойсцікам запушчана, актыўна прылад: {0}, анлайн: {1}."
	IDS_ERRORID_JOY_STOP			"Служба кіравання Геймпадам/Джойсцікам спынена."
	IDS_ERRORID_JOY_CHANGE_SCENE		"Сцэна кіравання зменена геймпадам або джойсцікам на {0}."
	IDS_ERRORID_JOY_CHANGE_CTRL		"Геймпадам або джойсцікам абраны элемент кіравання {0}/{1}."

	IDS_ERRORID_COPY_LINK			"Спасылка скапіявана ў буфер абмену."
	IDS_ERRORID_NET_IFACE_NONE		"Сеткавыя інтэрфейсы адсутнічаюць"
	IDS_ERRORID_NET_IFACE_SELECT		"Абярыце сеткавы інтэрфейс"
	IDS_ERRORID_NONE			"-"
END
