#include "windows.h"
#include "CommCtrl.h"
#include <SDKDDKVer.h>

#include "..\..\Common\rc\resource_midimt.h"
#include "..\..\Common\rc\resource_mackie.h"
#include "..\..\Common\rc\resource_version.h"
#include "..\..\Common\rc\resource_error_id.h"

LANGUAGE LANG_BELARUSIAN, SUBLANG_DEFAULT

#pragma code_page(65001)

STRINGTABLE 
BEGIN
	STR_RB_DIALOG_LAST_OPENL	"Апошнія файлы:"
	STR_RB_TABHOMEL			"Рэдагаванне"
	STR_RB_TABFILTERL		"Фільтры"
	STR_RB_PANEL_EDITMAINL		"рэдагаваць MIDI ключ"
	STR_RB_PANEL_EDITSETL		"група MIDI ключа"
	STR_RB_PANEL_EDITOPTL		"параметры рэдактара"
	STR_RB_PANEL_FILTERL		"выбар фільтраў прагляду"
	STR_RB_PANEL_SORTL		"сартаванне"
	STR_RB_MENUL			"&Меню"
	STR_RB_MENUT			"Меню прыкладання"
	STR_RB_PANEL_QATL		"&хуткі доступ"
	STR_RB_PANEL_QATT		"Панэль хуткага доступу"
	STR_RB_DIALOG_SAVEL		"&Захаваць"
	STR_RB_DIALOG_SAVET		"Захаваць і прымяніць"
	STR_RB_DIALOG_SAVED		"Захаваць у загружаны раней файл і абнавіць бягучую канфігурацыю."
	STR_RB_DIALOG_EXPORTL		"&Экспарт"
	STR_RB_DIALOG_EXPORTT		"Экспарт у новы файл"
	STR_RB_DIALOG_EXPORTD		"Экспартаваць адрэдагаваную канфігурацыю ў новы файл."
	STR_RB_DIALOG_IMPORTL		"&Імпарт"
	STR_RB_DIALOG_IMPORTT		"Імпарт з файла"
	STR_RB_DIALOG_IMPORTD		"Імпартаваць канфігурацыю з файла."
	STR_RB_DIALOG_EXITL		"&Выхад"
	STR_RB_DIALOG_EXITT		"Выхад з рэдактара"
	STR_RB_DIALOG_EXITD		"Выйсце з рэдактара канфігурацыі MIDI ключоў, калі змены не захаваны, яны будуць згубленыя."
	STR_RB_LV_NEWL			"&Новы MIDI ключ"
	STR_RB_LV_NEWT			"Новы MIDI ключ"
	STR_RB_LV_NEWD			"Стварэнне новага MIDI ключа."
	STR_RB_LV_COPYL			"&Капіяваць"
	STR_RB_LV_COPYT			"Капіяваць MIDI ключ"
	STR_RB_LV_COPYD			"Скапіяваць выбраную запіс MIDI ключа."
	STR_RB_LV_PASTEL		"&Уставіць"
	STR_RB_LV_PASTET		"Уставіць ключ"
	STR_RB_LV_PASTED		"Уставіць скапіяваны MIDI ключ."
	STR_RB_LV_DELETEL		"&Выдаліць"
	STR_RB_LV_DELETET		"Выдаліць ключ"
	STR_RB_LV_DELETED		"Выдаліць выбраны запіс MIDI ключа."
	STR_RB_LV_SET_MQTTL		"Разумны дом"
	STR_RB_LV_SET_MQTTT		"Устанавіць групу як «Разумны дом»."
	STR_RB_LV_SET_MQTTD		"Прызначыць выбраны MIDI ключ да групы “Разумны дом”."
	STR_RB_LV_SET_MMKEYL		"Мультымедыя кнопкі"
	STR_RB_LV_SET_MMKEYT		"Усталяваць групу як «Мультымедыя кнопкі»"
	STR_RB_LV_SET_MMKEYD		"Прызначыць выбраны MIDI ключ да групы “Мультымедыя кнопкі”."
	STR_RB_LV_SET_MIXERL		"Аўдыё мікшар"
	STR_RB_LV_SET_MIXERT		"Усталяваць групу як «Аўдыё мікшар»"
	STR_RB_LV_SET_MIXERD		"Прызначыць выбраны MIDI ключ да групы “Аўдыё мікшар”."
	STR_RB_LV_READ_MIDI_CODEL	"Чытаць MIDI код"
	STR_RB_LV_READ_MIDI_CODET	"Прачытаць MIDI код кантролю"
	STR_RB_LV_READ_MIDI_CODED	"Чытанне MIDI кода з паверхні кантролю або MIDI клавіятуры."
	STR_RB_LV_EDIT_MODEL		"Толькі лічбавы ўвод"
	STR_RB_LV_EDIT_MODET		"Выкарыстоўваць толькі лічбавы ўвод"
	STR_RB_LV_EDIT_MODED		"Не выкарыстоўваць меню выбару значэнняў, выкарыстоўваць толькі лічбавы ўвод."
	STR_RB_DIALOG_SHOW_MIDI_KEYSL	"MIDI панэль кіравання"
	STR_RB_DIALOG_SHOW_MIDI_KEYST	"Рэкамендуемыя налады"
	STR_RB_DIALOG_SHOW_MIDI_KEYSD	"Рэкамендуемыя наладкі панэлі кіравання MIDI, сумяшчальныя з элементамі кіравання Adobe Premiere Pro."
	STR_RB_LV_FILTER_EMBEDL		"Убудаваныя фільтры"
	STR_RB_LV_FILTER_KEYL		"Ключ"
	STR_RB_LV_FILTER_KEYT		"Фільтраваць па MIDI ключу"
	STR_RB_LV_FILTER_KEYD		"Паказваць толькі супадзенні ў групе MIDI ключоў."
	STR_RB_LV_FILTER_SCENEL		"Сцэна"
	STR_RB_LV_FILTER_SCENET		"Фільтраваць па MIDI сцэне"
	STR_RB_LV_FILTER_SCENED		"Паказваць толькі супадзенні ў гурце MIDI сцэны."
	STR_RB_LV_FILTER_TARGETL	"Прызначэнне 1"
	STR_RB_LV_FILTER_TARGETT	"Фільтраваць па прызначэнні 1"
	STR_RB_LV_FILTER_TARGETD	"Паказваць толькі супадзенні ў групе па мэтавым прызначэнні 1."
	STR_RB_LV_FILTER_TARGETLONGL	"Прызначэнне 2"
	STR_RB_LV_FILTER_TARGETLONGT	"Фільтраваць па прызначэнні 2"
	STR_RB_LV_FILTER_TARGETLONGD	"Паказваць толькі супадзенні ў групе па мэтавым прызначэнні 2."
	STR_RB_LV_FILTER_CLEARL		"Ачысціць фільтры"
	STR_RB_LV_FILTER_CLEART		"Ачыстка фільтраў"
	STR_RB_LV_FILTER_CLEARD		"Поўная ачыстка фільтраў, будуць паказаны ўсе запісы."
	STR_RB_LV_FILTER_SETL		"Усталяваць фільтр"
	STR_RB_LV_FILTER_SETT		"Ўстаноўка фільтра"
	STR_RB_LV_FILTER_SETD		"Усталяванне фільтра паказвае ўсе несапраўдныя элементы."
	STR_RB_LV_FILTER_ONL		"Ужыць фільтр"
	STR_RB_LV_FILTER_ONT		"Ужыванне фільтра"
	STR_RB_LV_FILTER_OND		"Ужыванне фільтра паказвае абраныя элементы."
	STR_RB_LV_FILTER_OFFL		"Адмяніць фільтр"
	STR_RB_LV_FILTER_OFFT		"Адмена фільтра"
	STR_RB_LV_FILTER_OFFD		"Адмена фільтра пакажа ўсе элементы."
	STR_RB_LV_FILTER_MMKEYL		"Паказаць «Мультымедыя кнопкі»"
	STR_RB_LV_FILTER_MMKEYT		"Фільтраваць па групе «Мультымедыя кнопкі»"
	STR_RB_LV_FILTER_MMKEYD		"Ужыванне фільтра пакажа чальцоў групы «Мультымедыя кнопкі»."
	STR_RB_LV_FILTER_MIXERL		"Паказаць «Аўдыё мікшар»"
	STR_RB_LV_FILTER_MIXERT		"Фільтраваць па групе «Аўдыё мікшар»"
	STR_RB_LV_FILTER_MIXERD		"Ужыванне фільтра пакажа чальцоў групы «Аўдыё мікшар»."
	STR_RB_LV_FILTER_MQTTL		"Паказаць «Разумны дом»"
	STR_RB_LV_FILTER_MQTTT		"Фільтраваць па групе «Разумны дом»"
	STR_RB_LV_FILTER_MQTTD		"Ужыванне фільтра пакажа чальцоў групы «Разумны дом»."
	STR_RB_LV_FILTER_LIGHT8L	"Паказаць «Асвятленне 8 біт»"
	STR_RB_LV_FILTER_LIGHT8T	"Фільтраваць па групе «Асвятленне 8 біт»"
	STR_RB_LV_FILTER_LIGHT8D	"Ужыванне фільтра пакажа чальцоў групы «Асвятленне» з 8 бітнымі каналамі."
	STR_RB_LV_FILTER_LIGHT16L	"Паказаць «Асвятленне 16 біт»"
	STR_RB_LV_FILTER_LIGHT16T	"Фільтраваць па групе «Асвятленне 16 біт»"
	STR_RB_LV_FILTER_LIGHT16D	"Ужыванне фільтра пакажа чальцоў групы «Асвятленне» з 16 бітнымі каналамі."
	STR_RB_LV_FILTER_SCRIPTL	"Паказаць «Скрыпты»"
	STR_RB_LV_FILTER_SCRIPTT	"Фільтраваць па групе «Скрыпты» ChaiScript"
	STR_RB_LV_FILTER_SCRIPTD	"Ужыванне фільтра пакажа чальцоў групы “Скрыпты”."
	STR_RB_LV_FILTER_TYPEBTNL	"Тып фільтра"
	STR_RB_LV_FILTER_TYPEBTNT	"Устаноўка тыпу прымяняемых фільтраў"
	STR_RB_LV_FILTER_TYPEBTND	"Тыпы прымяняюцца фільтраў маюць два лагічныя станы: «І», «АБО»."
	STR_RB_LV_FILTER_TYPEGRPL	"Выбар тыпу фільтрацыі"
	STR_RB_LV_FILTER_TYPEORL	"Паказваць любыя супадзенні"
	STR_RB_LV_FILTER_TYPEORT	"Паказваць запісы з любым супадзеннем"
	STR_RB_LV_FILTER_TYPEORD       	"Фільтр мае стан лагічнага “І” і паказвае любыя супадзенні."
	STR_RB_LV_FILTER_TYPEANDL	"Паказваць толькі поўныя супадзенні"
	STR_RB_LV_FILTER_TYPEANDT	"Паказваць запісы толькі з поўным супадзеннем"
	STR_RB_LV_FILTER_TYPEANDD	"Фільтр мае стан лагічнага “АБО” і паказвае толькі поўныя супадзенні."
	STR_RB_LV_FILTER_AUTOCOMMITL	"Аўто адпраўка дадзеных у фільтры"
	STR_RB_LV_FILTER_AUTOCOMMITT	"Аўто адпраўка ўводзімых значэнняў у фільтры"
	STR_RB_LV_FILTER_AUTOCOMMITD	"Аўтаматычна адпраўляе ўводзімыя значэнні ва ўбудаваным фільтры."
	STR_RB_LV_EXT_MODEL		"Паказаць сартаванне"
	STR_RB_LV_SORTUP_KEYL		"па ключы"
	STR_RB_LV_SORTUP_KEYT		"Сартаванне па ўзрастанні і MIDI ключу."
	STR_RB_LV_SORTUP_SCENEL		"па сцэне"
	STR_RB_LV_SORTUP_SCENET		"Сартаванне па ўзрастанні і MIDI сцэне."
	STR_RB_LV_SORTUP_TARGETL	"па прызначэнні 1"
	STR_RB_LV_SORTUP_TARGETT	"Сартаванне па ўзрастанні і MIDI прызначэнню 1."
	STR_RB_LV_SORTUP_TARGETLONGL	"па прызначэнні 2"
	STR_RB_LV_SORTUP_TARGETLONGT	"Сартаванне па ўзрастанні і MIDI прызначэнню 2."
	STR_RB_LV_SORTDOWN_KEYT		"Сартаванне па змяншэнні і MIDI ключу."
	STR_RB_LV_SORTDOWN_SCENET	"Сартаванне па змяншэнні і MIDI сцэне."
	STR_RB_LV_SORTDOWN_TARGETT	"Сартаванне па змяншэнні і MIDI прызначэнню 1."
	STR_RB_LV_SORTDOWN_TARGETLONGT	"Сартаванне па змяншэнні і MIDI прызначэнню 2."
	STR_RB_DIALOG_EXPORTMQTTL	"Экспарт у MQTT"
	STR_RB_DIALOG_EXPORTMQTTT	"Экспарт MQTT канфігурацыі"
	STR_RB_DIALOG_EXPORTMQTTD	"Экспартаваць DMX512/ARTNET канфігурацыю ў новы файл."
	STR_RB_PANEL_EDITUTILL		"Інструменты"
	STR_RB_LV_SET_BUTTONL		"Прызначыць MIDI ключ"
	STR_RB_LV_SET_BUTTONT		"Прызначыць абраны MIDI ключ"
	STR_RB_LV_SET_BUTTOND		"Вызначыць абраны MIDI ключ як чальца групы."
	STR_RB_LV_SET_LIGHT8L		"Асвятленне 8 біт"
	STR_RB_LV_SET_LIGHT8T		"Устанавіць групу як «Асвятленне 8 біт»"
	STR_RB_LV_SET_LIGHT8D		"Прызначыць абраны MIDI ключ да групы “Асвятленне 8 біт”."
	STR_RB_LV_SET_LIGHT16L		"Асвятленне 16 біт"
	STR_RB_LV_SET_LIGHT16T		"Устанавіць групу як «Асвятленне 16 біт»"
	STR_RB_LV_SET_LIGHT16D		"Прызначыць выбраны MIDI ключ да групы “Асвятленне 16 біт”."
	STR_RB_LV_SET_SCRIPTL		"Сцэнары"
	STR_RB_LV_SET_SCRIPTT		"Устанавіць групу як «Сцэнары»"
	STR_RB_LV_SET_SCRIPTD		"Прызначыць выбраны MIDI ключ да групы “Сцэнары”."
	STR_RB_DIALOG_SHOWDUPL		"Паказаць дуплікаты"
	STR_RB_DIALOG_SHOWDUPT		"Шукаць дуплікаты MIDI ключоў"
	STR_RB_DIALOG_SHOWDUPD		"Пошук дублікатаў MIDI ключоў, пры іх наяўнасці магчымыя не чаканыя паводзіны."

	STR_RB_DIALOG_DELDUPL		"Выдаліць дуплікаты"
	STR_RB_DIALOG_DELDUPT		"Выдаліць магчымыя дуплікаты MIDI ключоў"
	STR_RB_DIALOG_DELDUPD		"Пошук і выдаленне дублікатаў MIDI ключоў, пры наяўнасці дублікатаў, магчыма не чаканыя паводзіны."
END
